Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Phase 2: Add IdentityEngine initialization and getActorIdentity method
  scripts/core/phase5-init.js
  scripts/engine/prestige/identity-engine.js
Due: eslint --fix

Phase 2: Complete IdentityEngine implementation with bias computation layers
  scripts/engine/prestige/identity-engine.js
Due: eslint --fix

Phase 2: Add validation script for IdentityEngine
  scripts/validation/validate-identity-engine.js
Due: eslint --fix

Phase 2: Add completion summary
  PHASE_2_COMPLETION_SUMMARY.md
Due: prettier --write

Class Chassis Bias: Implement Saga mechanics layer for identity computation
  data/class-chassis-bias.json
  scripts/engine/prestige/identity-engine.js
Due: eslint --fix, prettier --write

Add test harness for Class Chassis Bias validation
  scripts/validation/test-class-chassis-bias.js
Due: eslint --fix

Implement Skill Bias Mapping: Registry-driven skill identity signals
  data/skill-bias-mapping.json
  scripts/engine/prestige/identity-engine.js
Due: eslint --fix, prettier --write

Complete: SWSE Weapon Suggestion System Architectural Audit
  WEAPON_SUGGESTION_AUDIT_REPORT.md
Due: prettier --write

Implement Equipment Affinity Layer in IdentityEngine
  data/equipment-affinity-mapping.json
  scripts/engine/prestige/identity-engine.js
Due: eslint --fix, prettier --write

audit: Complete BuildIntent lifecycle analysis
  AUDIT_SUMMARY.md
  BUILDINTENT_LIFECYCLE_AUDIT.md
  BUILDINTENT_LIFECYCLE_DIAGNOSTIC.md
Due: prettier --write

refactor: Integrate survey bias as authoritative IdentityEngine layer
  scripts/apps/chargen/chargen-class.js
  scripts/engine/prestige/identity-engine.js
  scripts/mentor/mentor-survey.js
Due: eslint --fix

refactor(phase-1): Integrate survey bias as authoritative IdentityEngine layer
  scripts/apps/chargen/chargen-class.js
  scripts/apps/chargen/chargen-main.js
  scripts/apps/mentor/mentor-survey.js
  scripts/engine/suggestion/BuildIntent.js
Due: eslint --fix

refactor(phase-2-in-progress): Identity seam cut - SuggestionEngine direct consumption
  scripts/engine/suggestion/BuildIntent.js
  scripts/engine/suggestion/SuggestionEngine.js
  scripts/engine/suggestion/SuggestionEngineCoordinator.js
Due: eslint --fix

Fix chargen-main.js feat suggestion call to use engineOptions pattern
  scripts/apps/chargen/chargen-main.js
Due: eslint --fix

refactor(phase-3): BuildIntent deconstruction - extract signal analysis to dedicated modules
  scripts/engine/suggestion/BuildIntent.js
  scripts/engine/suggestion/BuildThemeProjection.js
  scripts/engine/suggestion/PrestigeAffinityEngine.js
Due: eslint --fix

docs(phase-4): Orchestration consolidation contract - route BuildIntent calls through coordinator
  PHASE_4_CONTRACT.md
Due: prettier --write

refactor(phase-4): Orchestration consolidation - route all BuildIntent calls through coordinator
  scripts/apps/chargen/chargen-feats-talents.js
  scripts/apps/chargen/chargen-main.js
  scripts/apps/levelup/debug-panel.js
  scripts/apps/levelup/prestige-roadmap.js
  scripts/engine/suggestion/PathPreview.js
  scripts/engine/suggestion/SuggestionEngine.js
  scripts/mentor/mentor-chat-dialog.js
Due: eslint --fix

docs(phase-5): Reactive wiring contract - automatic BuildIntent computation on chargen selections
  PHASE_5_CONTRACT.md
Due: prettier --write

design(lookahead): 3-Horizon Suggestion Engine Architecture Contract
  LOOKAHEAD_ARCHITECTURE_CONTRACT.md
Due: prettier --write

design(lookahead): Archetype stress-test validation — all criteria pass
  LOOKAHEAD_STRESS_TEST_CONTRACT.md
Due: prettier --write

Implement chargen-only Conditional Opportunity Boost for species conditional feats
  scripts/engine/suggestion/SuggestionScorer.js
Due: eslint --fix

Implement Chargen Conditional Opportunity Boost
  scripts/engine/suggestion/SuggestionScorer.js
Due: eslint --fix

Add chargen-reactive BuildIntent wiring to coordinator
  scripts/engine/suggestion/SuggestionEngineCoordinator.js
Due: eslint --fix

fix(SuggestionScorer): Resolve critical audit findings
  scripts/engine/suggestion/SuggestionScorer.js
Due: eslint --fix

docs: Post-audit summary - conditional boost ready for deploy
  AUDIT_FIX_SUMMARY.md
Due: prettier --write

feat(phase-6): Implement 3-Horizon SuggestionEngine architecture
  scripts/engine/suggestion/SuggestionScorer.js
Due: eslint --fix

docs(phase-6): Implementation summary and quality checklist
  PHASE_6_IMPLEMENTATION_SUMMARY.md
Due: prettier --write

Architectural Audit: Mentor Dialogue → Suggestion Engine v2 Integration Seam
  AUDIT_MENTOR_SUGGESTION_SEAM.md
Due: prettier --write

SuggestionV2 Contract: Production-Grade Interface for Mentor Integration Seam
  scripts/engine/suggestion/SuggestionV2Contract.ts
Due: none

Mentor Atom Taxonomy & ReasonType→Atom Mapping: Semantic Foundation Locked
  scripts/engine/mentor/MentorAtomTaxonomy.ts
  scripts/engine/mentor/ReasonTypeToAtomMapping.ts
Due: none

AUDIT: Existing Mentor Atomic Voice Infrastructure vs. SuggestionV2 Contract
  AUDIT_MENTOR_ATOMIC_VOICE_INFRASTRUCTURE.md
Due: prettier --write

Build Bridge: ReasonType→REASON_ATOMS Mapping & MentorReasonSelector Refactor
  scripts/engine/mentor/ReasonTypeToReasonAtomsMapping.js
  scripts/engine/mentor/mentor-reason-selector.js
Due: eslint --fix

doc: Complete bridge verification - ReasonType→Atoms→MentorVoice
  BRIDGE_VERIFICATION.md
Due: prettier --write

audit: Complete SuggestionV2 retrofit scope analysis
  ARCHITECTURE_AUDIT_RETROFIT_SCOPE.md
Due: prettier --write

audit: SuggestionV2 retrofit pre-flight checklist
  RETROFIT_PREFLIGHT_CHECKLIST.md
Due: prettier --write

phase-0: Lock tier/scoring invariant and create reason code mapping
  ARCHITECTURAL_INVARIANT_TIER_VS_SCORING.md
  scripts/engine/suggestion/ReasonCodeToReasonTypeMapping.js
Due: eslint --fix, prettier --write

phase-1: WIP - Begin emitting SuggestionV2 format
  scripts/engine/suggestion/SuggestionEngine.js
Due: eslint --fix

phase-1: Complete context threading for SuggestionV2
  scripts/engine/suggestion/SuggestionEngine.js
Due: eslint --fix

Phase 1: Activate SuggestionV2 emission with debug logging
  PHASE_1_VALIDATION_INSTRUCTIONS.md
  scripts/engine/suggestion/SuggestionEngine.js
Due: eslint --fix, prettier --write

Phase 1: Enhanced validation logging with strict type checking
  PHASE_1_VALIDATION_INSTRUCTIONS.md
  scripts/engine/suggestion/SuggestionEngine.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
