Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Fix context serialization error by excluding non-cloneable Foundry document keys
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

fix: deep-sanitize rawContext to strip nested functions before serialization check
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

Fix: Call MutationBoundaryDefense._extractCaller as static method
  scripts/governance/sentinel/mutation-boundary-defense.js
Due: eslint --fix

Fix actor mutation errors and welcome dialog race condition
  scripts/core/first-run-experience.js
  scripts/governance/sentinel/mutation-boundary-defense.js
Due: eslint --fix

Fix: Await dialog.render() to ensure welcome dialog actually displays
  scripts/core/first-run-experience.js
Due: eslint --fix

Fix: Resolve icon breaks from relative CSS @font-face paths and missing Font Awesome variable
  scripts/mentor/mentor-translation-integration.js
  scripts/ui/action-palette/action-palette.css
  scripts/ui/dialogue/dialogue-effects.css
  styles/core/variables.css
  system.json
Due: eslint --fix, prettier --write

Add sidebar icon fallback system for Font Awesome failures
  index.js
  scripts/core/sidebar-icon-fallback.js
  styles/core-overrides.css
Due: eslint --fix

Add sidebar icon assets from canvas collection
  assets/icons/actors.png
  assets/icons/chat.png
  assets/icons/combat.png
  assets/icons/compendium.png
  assets/icons/items.png
  assets/icons/journal.png
  assets/icons/playlists.png
  assets/icons/settings.png
  assets/icons/tables.png
Due: none

Formalize archetype schema and enforce contract discipline
  ARCHETYPE_SCHEMA_FORMALIZATION.md
  data/class-archetypes.json
  schemas/archetype.schema.json
  scripts/constants/archetype-bias-enums.js
  scripts/engine/suggestion/ArchetypeLoader.js
  scripts/validation/archetype-validator.js
Due: eslint --fix, prettier --write

Add suggestion engine behavioral audit report
  SUGGESTION_ENGINE_BEHAVIORAL_AUDIT.md
Due: prettier --write

Document exact archetype schema contract mismatch and minimal surgical fix
  ARCHETYPE_SCHEMA_MISMATCH_ANALYSIS.md
Due: prettier --write

Add archetype schema fix plan — minimal, surgical, ready to execute
  ARCHETYPE_SCHEMA_FIX_PLAN.md
Due: prettier --write

Add formal execution specification for archetype contract fix
  CLAUDE_COMMAND_ARCHETYPE_FIX.md
Due: prettier --write

Fix archetype contract mismatch: restore recommendation pipeline (Phase 1-2)
  scripts/engine/archetype/archetype-registry.js
Due: eslint --fix

Add execution summary: archetype contract fix complete
  ARCHETYPE_FIX_EXECUTION_SUMMARY.md
Due: prettier --write

Document feat/talent metadata improvement strategy for suggestion engine
  FEAT_TALENT_METADATA_IMPROVEMENTS.md
Due: prettier --write

Implement Tier 1 metadata improvements: archetype, playstyle, tier scoring
  scripts/engine/suggestion/ArchetypeMetadataEngine.js
  scripts/engine/suggestion/SuggestionEngine.js
  template.json
Due: eslint --fix, prettier --write

Document Tier 1 metadata implementation status
  TIER1_METADATA_IMPLEMENTATION.md
Due: prettier --write

Document Tier 1 metadata population strategy
  TIER1_POPULATION_STRATEGY.md
Due: prettier --write

Add normalized Jedi archetypes and Tier 1 metadata mapping
  JEDI_ARCHETYPES_NORMALIZED.json
  JEDI_ARCHETYPE_METADATA_MAPPING.md
Due: prettier --write

Normalize base-class archetype layer (5 core families each)
  NOBLE_ARCHETYPE_METADATA_MAPPING.md
  SCOUNDREL_ARCHETYPE_METADATA_MAPPING.md
  SCOUT_ARCHETYPE_METADATA_MAPPING.md
  SOLDIER_ARCHETYPE_METADATA_MAPPING.md
  data/class-archetypes.json
Due: prettier --write

Add Tier 1 metadata population tools and documentation
  APPLY_METADATA.js
  TIER1_METADATA_POPULATION_STATUS.md
Due: eslint --fix, prettier --write

Add JSON metadata integration guide and permanent data file
  JSON_METADATA_INTEGRATION_GUIDE.md
  data/metadata-assignments.json
Due: prettier --write

Formalize prestige layer schema: Jedi Knight, Jedi Master, Sith Apprentice, Sith Lord
  data/prestige-layers/jedi-knight.json
  data/prestige-layers/jedi-master.json
  data/prestige-layers/sith-apprentice.json
  data/prestige-layers/sith-lord.json
Due: prettier --write

Formalize prestige layer schema: Complete all 12 prestige classes
  data/prestige-layers/ace-pilot.json
  data/prestige-layers/bounty-hunter.json
  data/prestige-layers/crime-lord.json
  data/prestige-layers/elite-trooper.json
  data/prestige-layers/force-adept.json
  data/prestige-layers/gunslinger.json
  data/prestige-layers/melee-duelist.json
  data/prestige-layers/officer.json
  data/prestige-layers/weapon-master.json
Due: prettier --write

Formalize prestige layer schema: Complete all 32 prestige classes
  data/prestige-layers/assassin.json
  data/prestige-layers/charlatan.json
  data/prestige-layers/corporate-agent.json
  data/prestige-layers/droid-commander.json
  data/prestige-layers/enforcer.json
  data/prestige-layers/force-disciple.json
  data/prestige-layers/gladiator.json
  data/prestige-layers/imperial-knight.json
  data/prestige-layers/improviser.json
  data/prestige-layers/independent-droid.json
  data/prestige-layers/infiltrator.json
  data/prestige-layers/martial-arts-master.json
  data/prestige-layers/master-privateer.json
  data/prestige-layers/medic.json
  data/prestige-layers/military-engineer.json
  data/prestige-layers/outlaw.json
  data/prestige-layers/pathfinder.json
  data/prestige-layers/saboteur.json
  data/prestige-layers/shaper.json
  data/prestige-layers/vanguard.json
Due: prettier --write

Phase 1: Prestige Layer Registry - Schema & Data Contracts
  data/bias-keys-canonical.json
  schemas/prestige-layer.schema.json
  scripts/engine/prestige/prestige-layer-registry.js
Due: eslint --fix, prettier --write

Fix CRITICAL schema issues: enforce canonical bias key discipline
  schemas/archetype.schema.json
  schemas/prestige-layer.schema.json
  scripts/engine/suggestion/SuggestionScorer.js
Due: eslint --fix, prettier --write

Move hardcoded PRESTIGE_SIGNALS to /data/prestige-signals.json
  data/prestige-signals.json
  scripts/engine/suggestion/BuildIntent.js
Due: eslint --fix, prettier --write

Fix CRITICAL actor state persistence: SelectionRecorder now persists to flags
  scripts/engine/suggestion/SelectionRecorder.js
Due: eslint --fix

Add missing prestige-map.json for ArchetypeAffinityEngine
  data/prestige-map.json
Due: prettier --write

Migrate archetype data to canonical bias key format
  data/archetypes/ace-pilot.mobility-specialist.json
  data/archetypes/bounty-hunter.precision-tracker.json
  data/archetypes/crime-lord.network-controller.json
  data/archetypes/generalist.json
  data/archetypes/officer.tactical-leader.json
  data/archetypes/sith-apprentice.aggressive-force.json
Due: prettier --write

Migrate tier-2 class-archetypes.json to canonical bias key format
  data/class-archetypes.json
Due: prettier --write

Clean up tier-2 archetype role keys and align with canonical format
  data/class-archetypes.json
Due: prettier --write

Phase 1 Remaining + Phase 2: IdentityEngine & BiasTagProjection Implementation
  scripts/core/phase5-init.js
  scripts/engine/archetype/archetype-registry.js
  scripts/engine/prestige/bias-tag-projection.js
  scripts/engine/prestige/identity-engine.js
  scripts/engine/prestige/prestige-layer-registry.js
  scripts/engine/suggestion/BuildIntent.js
  scripts/engine/suggestion/SuggestionScorer.js
Due: eslint --fix

Implement SWSE Identity Engine per deterministic multiclass & prestige spec
  scripts/engine/prestige/identity-engine.js
Due: eslint --fix

CRITICAL FIX: Exclude prestige levels from totalLevel in Dip/Dive/Swim detection
  scripts/engine/prestige/identity-engine.js
Due: eslint --fix

Add SWSE Primitive Identity Extraction Audit (Phase 1-6)
  AUDIT_SWSE_PRIMITIVE_IDENTITY_EXTRACTION.md
Due: prettier --write

Implement PrimitiveBiasRegistry + ObservedBehaviorBias via primitives
  data/primitive-bias-mapping.json
  data/primitive-classification.json
  scripts/engine/prestige/identity-engine.js
Due: eslint --fix, prettier --write

FINAL: Harden IdentityEngine registry loading + attribute bias + skill bias
  data/attribute-bias-mapping.json
  data/primitive-classification.json
  scripts/engine/prestige/identity-engine.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
