Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Phase 3 continued: Add skill tooltips to skills-panel.hbs
  templates/actors/character/v2/partials/skills-panel.hbs
Due: node scripts/validate/validate-icon-keys.js

Phase 4: Help mode toggle and hover delay implementation
  scripts/sheets/v2/character-sheet.js
  scripts/ui/discovery/tooltip-registry.js
  styles/sheets/v2-sheet.css
  templates/actors/character/v2/character-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 5: Remove conflicting CSS tooltip pattern
  styles/sheets/skill-actions.css
Due: none

Phase 4-5: Delivery documentation and summary
  PHASE-4-5-DELIVERY.md
Due: prettier --write

Developer documentation for tooltip system
  docs/TOOLTIP_SYSTEM.md
Due: prettier --write

Final deliverable: Complete tooltip system refactor summary
  TOOLTIP_REFACTOR_COMPLETE.md
Due: prettier --write

Phase 7: Durable Content Platform for Tooltip System
  PHASE-7-DURABLE-PLATFORM.md
  TOOLTIP_REGRESSION_CHECKLIST.md
  docs/TOOLTIP_ARCHITECTURE.md
  scripts/ui/defense-tooltip.js
  scripts/ui/discovery/index.js
  scripts/ui/discovery/tooltip-glossary.js
  scripts/ui/discovery/tooltip-registry.js
  scripts/ui/weapon-tooltip.js
Due: eslint --fix, prettier --write

Phase 8: Pinned Breakdown Cards Foundation
  scripts/sheets/v2/BreakdownIntegration.js
  scripts/sheets/v2/character-sheet.js
  scripts/ui/defense-tooltip.js
  scripts/ui/discovery/breakdown-card.js
  styles/components/breakdown-card.css
  system.json
  templates/actors/character/v2/partials/defenses-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Phase 8 foundation summary: Pinned breakdown cards architecture complete
  PHASE-8-BREAKDOWN-CARDS-FOUNDATION.md
Due: prettier --write

Phase 9: Tier-Aware Help System Implementation
  PHASE-9-IMPLEMENTATION-PLAN.md
  scripts/sheets/v2/HelpModeManager.js
  scripts/sheets/v2/character-sheet.js
  scripts/ui/combat-stats-tooltip.js
  scripts/ui/discovery/index.js
  styles/sheets/v2-sheet.css
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/character/v2/partials/defenses-panel.hbs
  templates/actors/character/v2/partials/resources-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Phase 9: Documentation updates - Architecture guide and testing checklist
  PHASE-9-IMPLEMENTATION-COMPLETE.md
  TOOLTIP_REGRESSION_CHECKLIST.md
  docs/TOOLTIP_ARCHITECTURE.md
Due: prettier --write

Phase 9.5: Quality Guardrails - Validation Utility & Phase 10 Gate
  PHASE-10-READINESS-CHECKLIST.md
  scripts/ui/discovery/hardpoint-audit.js
Due: eslint --fix, prettier --write

Phase 10: Editorial Review Complete - Glossary Quality Gate Passed
  PHASE-10-EDITORIAL-REVIEW.md
  scripts/ui/discovery/tooltip-glossary.js
Due: eslint --fix, prettier --write

Integrate glossary keys into breakdown card metadata
  scripts/ui/combat-stats-tooltip.js
  scripts/ui/defense-tooltip.js
  scripts/ui/discovery/breakdown-card.js
  scripts/ui/discovery/reference-affordance.js
  scripts/ui/discovery/reference-service.js
  scripts/ui/discovery/tooltip-glossary.js
Due: eslint --fix

Complete Phase 11: Datapad Reference System implementation
  docs/REFERENCE_ARCHITECTURE.md
  docs/REFERENCE_CONTENT_FIRST_WAVE.md
  scripts/ui/discovery/hardpoint-audit.js
  system.json
Due: eslint --fix, prettier --write

CHECKPOINT: Phase 11 Governance & Validation Complete
  docs/CHECKPOINT-VALIDATION-SUMMARY.md
  docs/PHASE-10-11-GOVERNANCE-RATIFICATION.md
  docs/PHASE-11-RATIFICATION-DECISION.md
  docs/REFERENCE-CONTENT-REALITY-CHECK.md
Due: prettier --write

Implement mentor system path selection & bias integration (4-phase recovery)
  scripts/apps/progression-framework/steps/l1-survey-step.js
  scripts/engine/suggestion/SuggestionScorer.js
  scripts/infrastructure/hooks/mentor-sheet-hooks.js
  scripts/mentor/mentor-chat-dialog.js
  styles/dialogs/holo-dialogs.css
  templates/apps/mentor-chat-dialog.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 1-4: Controlled Mentor Architecture Replacement
  scripts/mentor/mentor-adapter.js
  scripts/mentor/mentor-chat-dialog.js
  scripts/mentor/mentor-language-mapper.js
Due: eslint --fix

Refine mentor language mapper: Semantic fragments, not dialogue
  scripts/mentor/mentor-adapter.js
  scripts/mentor/mentor-language-mapper.js
Due: eslint --fix

PERMANENT FIX: Remove all Actor.prototype.update wrappers
  scripts/governance/mutation/MutationInterceptor.js
  scripts/governance/sentinel/layers/hooks-mutation-layer.js
  scripts/governance/sentinel/mutation-interceptor-lock.js
Due: eslint --fix

Fix: Disable remaining wrapper patches in debugger and boundary defense
  scripts/debug/swse-debugger.js
  scripts/governance/sentinel/mutation-boundary-defense.js
Due: eslint --fix

Add comprehensive summary of permanent fix
  PERMANENT-FIX-SUMMARY.md
Due: prettier --write

Add comprehensive wrapper enumeration and regression guard report
  WRAPPER-REGRESSION-GUARD-REPORT.md
Due: prettier --write

Add permanent startup guard against mutation-path wrapper re-introduction
  index.js
  scripts/governance/sentinel/mutation-path-guard.js
Due: eslint --fix

Add comprehensive UI → mutation path audit
  UI-MUTATION-PATH-AUDIT.md
Due: prettier --write

Add mutation path lint enforcement + findings report
  MUTATION-LINT-FINDINGS.md
  package.json
  scripts/tools/mutation-lint.js
Due: eslint --fix, prettier --write

Fix mutation-lint pattern precision: distinguish ActorEngine from direct calls
  BATCH-1-REFACTORING-PLAN.md
  scripts/tools/mutation-lint.js
Due: eslint --fix, prettier --write

Add Batch 1 completion report: Core mutations refactored (87.8%)
  BATCH-1-COMPLETION-REPORT.md
Due: prettier --write

Revise batch strategy: Skip empty Batch 2, target Batch 2B (talents/effects)
  BATCH-STRATEGY-REVISED.md
Due: prettier --write

Batch 2B Classification: 37 violations are ALL metadata flags (no refactoring needed)
  BATCH-2B-CLASSIFICATION.md
Due: prettier --write

Activate two-tier mutation classification in lint enforcement
  scripts/tools/mutation-lint.js
Due: eslint --fix

Complete Batch 3 annotation phase — suppress suggestion/mentor system violations
  BATCH-3-ENUMERATION.md
  scripts/engine/mentor/mentor-dialogues.js
  scripts/engine/mentor/mentor-memory.js
  scripts/engine/suggestion/AnchorRepository.js
  scripts/engine/suggestion/ArchetypeShiftTracker.js
  scripts/engine/suggestion/MentorClarificationSystem.js
  scripts/engine/suggestion/MentorSystem.js
  scripts/engine/suggestion/SelectionRecorder.js
  scripts/engine/suggestion/SuggestionService.js
  scripts/engine/suggestion/SuggestionStateService.js
  scripts/engine/suggestion/WishlistEngine.js
  scripts/tools/mutation-lint.js
Due: eslint --fix, prettier --write

Add Batch 3 completion report — governance audit and lessons learned
  BATCH-3-COMPLETION-REPORT.md
Due: prettier --write

Add comprehensive governance system status — Batches 1-3 complete
  GOVERNANCE-SYSTEM-STATUS.md
Due: prettier --write

Create canonical MutationAdapter layer for standardized mutations
  scripts/governance/mutation-adapter.js
Due: eslint --fix

Add MutationAdapter usage guide for Batch 4 refactoring
  MUTATION-ADAPTER-USAGE-GUIDE.md
Due: prettier --write

Build complete production-worthy MutationAdapter layer
  scripts/governance/actor-engine/actor-engine.js
  scripts/governance/mutation-adapter.js
Due: eslint --fix

Add comprehensive Batch 4 migration mapping guide
  BATCH-4-MIGRATION-MAPPING.md
Due: prettier --write

Add Part 1 completion summary and status
  MUTATION-ADAPTER-COMPLETION.md
Due: prettier --write

Add Phase 1 execution plan for Batch 4 refactoring
  BATCH-4-EXECUTION-PLAN.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
