Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Force Alchemy Phase 3 mechanics and Intel Lockbox polish pass
  scripts/apps/force-alchemy/force-alchemy-context-resolver.js
  scripts/apps/force-alchemy/force-alchemy-mechanics-service.js
  scripts/apps/force-alchemy/force-alchemy-state-service.js
  scripts/apps/force-alchemy/force-alchemy-workbench-app.js
  scripts/dialogs/entity-dialog/effect-intent-engine.js
  scripts/holonet/subsystems/holonet-decryption-service.js
  scripts/ui/shell/AlliesSurfaceController.js
  scripts/ui/shell/TransmissionDecryptionSurfaceController.js
  scripts/ui/shell/gm/GMIntelSurfaceService.js
  scripts/ui/shell/gm/controllers/GMIntelSurfaceController.js
  styles/apps/force-alchemy-workbench.css
  styles/apps/gm-datapad.css
  styles/system/allies-surface.css
  templates/apps/force-alchemy/force-alchemy-workbench.hbs
  templates/apps/gm-datapad/surfaces/intel.hbs
  templates/shell/partials/surface-allies.hbs
  templates/shell/partials/transmission-decryption-console.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Force Alchemy Phase 4: Sith weapon alchemy support
  scripts/apps/force-alchemy/force-alchemy-context-resolver.js
  scripts/apps/force-alchemy/force-alchemy-data.js
  scripts/apps/force-alchemy/force-alchemy-mechanics-service.js
  scripts/apps/force-alchemy/force-alchemy-state-service.js
  scripts/apps/force-alchemy/force-alchemy-workbench-app.js
  styles/apps/force-alchemy-workbench.css
  templates/apps/force-alchemy/force-alchemy-workbench.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Force Alchemy Phase 5 projects and faction/locations atlas polish
  scripts/apps/force-alchemy/force-alchemy-mechanics-service.js
  scripts/apps/force-alchemy/force-alchemy-state-service.js
  scripts/locations/location-registry-service.js
  scripts/ui/shell/AtlasSurfaceService.js
  scripts/ui/shell/gm/GMFactionRelationshipSurfaceService.js
  scripts/ui/shell/gm/GMLocationsSurfaceService.js
  scripts/ui/shell/gm/controllers/GMFactionRelationshipSurfaceController.js
  styles/apps/gm-datapad.css
  styles/system/allies-surface.css
  templates/apps/force-alchemy/force-alchemy-workbench.hbs
  templates/apps/gm-datapad/surfaces/factions.hbs
  templates/shell/partials/surface-atlas.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Force Alchemy Phase 6 specialist traits and job board saved contacts seam patch
  scripts/apps/force-alchemy/force-alchemy-context-resolver.js
  scripts/apps/force-alchemy/force-alchemy-mechanics-service.js
  scripts/apps/force-alchemy/force-alchemy-state-service.js
  scripts/ui/shell/gm/FactionJobBridgeService.js
  scripts/ui/shell/gm/GMJobBoardSurfaceService.js
  scripts/ui/shell/gm/controllers/GMJobBoardSurfaceController.js
  styles/apps/force-alchemy-workbench.css
  styles/apps/gm-datapad.css
  templates/apps/force-alchemy/force-alchemy-workbench.hbs
  templates/apps/gm-datapad/surfaces/jobs.hbs
  templates/apps/gm-datapad/surfaces/jobs/contract-wizard.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

.
  scripts/apps/customization/item-customization-workbench.js
  scripts/apps/progression-framework/steps/attribute-step.js
  styles/progression-framework/steps/attribute-step.css
  templates/apps/customization/item-customization-workbench.hbs
  templates/apps/progression-framework/details-panel/attribute-details.hbs
  templates/apps/progression-framework/steps/attribute-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

.
  index.js
  scripts/core/load-templates.js
  scripts/load-templates.js
  scripts/ui/concept-parity/concept-parity-diagnostics.js
  scripts/ui/shell/AtlasSurfaceService.js
  styles/apps/gm-holopad-concept-phase2.css
  styles/system/atlas-surface.css
  styles/system/concept-parity-hardening.css
  styles/system/concept-surface-contract.css
  styles/system/concept-surface-parity.css
  styles/system/games-table-unification.css
  styles/system/transmission-alchemy-polish.css
  system.json
  templates/apps/force-alchemy/force-alchemy-workbench.hbs
  templates/apps/gm-datapad.hbs
  templates/apps/gm-datapad/partials/dock.hbs
  templates/apps/gm-datapad/partials/surface-toolbar.hbs
  templates/apps/gm-datapad/surfaces/error.hbs
  templates/apps/gm-datapad/surfaces/factions.hbs
  templates/apps/gm-datapad/surfaces/home.hbs
  templates/apps/gm-datapad/surfaces/intel.hbs
  templates/apps/gm-datapad/surfaces/jobs.hbs
  templates/apps/gm-datapad/surfaces/locations.hbs
  templates/shell/partials/concept/empty-state.hbs
  templates/shell/partials/concept/metric-strip.hbs
  templates/shell/partials/concept/surface-header.hbs
  templates/shell/partials/games/surface-games-dejarik-table.hbs
  templates/shell/partials/games/surface-games-hintaro-table.hbs
  templates/shell/partials/games/surface-games-pazaak-table.hbs
  templates/shell/partials/games/surface-games-sabacc-table.hbs
  templates/shell/partials/games/surface-games-table-frame.hbs
  templates/shell/partials/surface-atlas.hbs
  templates/shell/partials/surface-games.hbs
  templates/shell/partials/surface-transmission-decryption.hbs
  templates/shell/partials/transmission-decryption-console.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.
  scripts/apps/force-alchemy/force-alchemy-mechanics-service.js
  scripts/components/combat-action-bar.js
  scripts/engine/combat/grapple-state-engine.js
  scripts/engine/combat/subsystems/vehicle/vehicle-dogfighting.js
  scripts/engine/combat/vehicles/utils/vehicle-shared.js
  scripts/engine/crew/vehicle-crew-assignment-service.js
  scripts/engine/interactions/vehicle-drop-engine.js
  scripts/engine/poison/poison-engine.js
  scripts/engine/species/species-activated-ability-engine.js
  scripts/governance/actor-engine/actor-engine.js
  scripts/holonet/subsystems/holonet-entity-directory-service.js
  scripts/sheets/v2/vehicle-sheet.js
  scripts/utils/active-effect-change-utils.js
Due: eslint --fix

.
  scripts/apps/progression-framework/shell/mentor-choice-reaction-router.js
  scripts/apps/progression-framework/steps/class-step.js
  scripts/engine/mentor/mentor-choice-line-composer.js
  scripts/engine/mentor/mentor-choice-voice-overlay.js
  scripts/engine/mentor/mentor-reason-selector.js
  scripts/engine/suggestion/ClassDomainReasonEngine.js
  scripts/engine/suggestion/ClassSuggestionEngine.js
  scripts/engine/suggestion/SuggestionEngine.js
  scripts/engine/suggestion/SuggestionEngineCoordinator.js
  scripts/engine/suggestion/SuggestionReasonEngine.js
  scripts/engine/suggestion/SuggestionService.js
  scripts/engine/suggestion/suggestion-trace-controls.js
Due: eslint --fix

.
  scripts/apps/store/store-main.js
  scripts/engine/suggestion/equipment/armor-scoring-engine.js
  scripts/engine/suggestion/equipment/armor-suggestions.js
  scripts/engine/suggestion/equipment/scoring/armor-axis-a-engine.js
  scripts/engine/suggestion/equipment/scoring/armor-axis-b-engine.js
  scripts/engine/suggestion/equipment/scoring/armor-benefit-simulator.js
  scripts/engine/suggestion/equipment/scoring/armor-explainability-generator.js
  scripts/engine/suggestion/equipment/scoring/armor-role-alignment-engine.js
Due: eslint --fix

Apply phase 4 patch: store route guard, workbench mod suggestions
  scripts/apps/customization/item-customization-workbench.js
  scripts/engine/suggestion/equipment/store-suggestion-context.js
  scripts/engine/suggestion/equipment/workbench-modification-suggestions.js
  styles/apps/item-customization-workbench.css
  templates/apps/customization/item-customization-workbench.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Apply store final hardening patch
  scripts/apps/store/store-main.js
  scripts/engine/suggestion/equipment/asset-suggestions.js
  scripts/engine/suggestion/equipment/gear-suggestions.js
  scripts/engine/suggestion/equipment/store-suggestion-context.js
  styles/system/store-surface.css
  templates/shell/partials/surface-store.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Add droid degree roles and store filters
  packs/droids.db
  scripts/apps/store/store-main.js
  scripts/apps/store/store-shared.js
  scripts/engine/store/categorizer.js
  scripts/engine/suggestion/equipment/asset-suggestions.js
  scripts/engine/suggestion/equipment/store-suggestion-context.js
  scripts/ui/shell/StoreSurfaceController.js
  scripts/ui/shell/StoreSurfaceService.js
  templates/apps/store/store-card-grid.hbs
  templates/shell/partials/surface-store.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 1: Vehicle compendium bucket reorganization
  packs/vehicles-speeders.db
  packs/vehicles-starships.db
  packs/vehicles-stations.db
  packs/vehicles-walkers.db
  packs/vehicles.db
Due: none

Add vehicle compendium subpacks and register in system.json
  packs/vehicles-airspeeders.db
  packs/vehicles-capital-ships.db
  packs/vehicles-space-transports.db
  packs/vehicles-speeders.db
  packs/vehicles-starfighters.db
  packs/vehicles-starships.db
  packs/vehicles-stations.db
  packs/vehicles-tracked.db
  packs/vehicles-walkers.db
  packs/vehicles-weapon-emplacements.db
  packs/vehicles-wheeled.db
  scripts/core/vehicle-pack-data-loader.js
  scripts/engine/store/store-constants.js
  scripts/maintenance/inspect-packs.js
  system.json
Due: eslint --fix, prettier --write

Phase 2: Vehicle navigation fields and store UI updates
  packs/vehicles-airspeeders.db
  packs/vehicles-capital-ships.db
  packs/vehicles-space-transports.db
  packs/vehicles-speeders.db
  packs/vehicles-starfighters.db
  packs/vehicles-stations.db
  packs/vehicles-walkers.db
  packs/vehicles-wheeled.db
  packs/vehicles.db
  scripts/apps/store/store-main.js
  scripts/apps/store/store-shared.js
  scripts/ui/shell/StoreSurfaceController.js
  scripts/ui/shell/StoreSurfaceService.js
  templates/apps/store/store-card-grid.hbs
  templates/shell/partials/surface-store.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 3: Vehicle subdivisions and store filter refinements
  packs/vehicles-airspeeders.db
  packs/vehicles-capital-ships.db
  packs/vehicles-space-transports.db
  packs/vehicles-speeders.db
  packs/vehicles-starfighters.db
  packs/vehicles-stations.db
  packs/vehicles-walkers.db
  packs/vehicles-wheeled.db
  packs/vehicles.db
  scripts/apps/store/store-main.js
  scripts/apps/store/store-shared.js
  scripts/ui/shell/StoreSurfaceController.js
  scripts/ui/shell/StoreSurfaceService.js
  templates/apps/store/store-card-grid.hbs
  templates/shell/partials/surface-store.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Apply vehicle shield (phase 4b) and price/shield display (phase 4c) patches
  packs/vehicles-airspeeders.db
  packs/vehicles-capital-ships.db
  packs/vehicles-space-transports.db
  packs/vehicles-speeders.db
  packs/vehicles-starfighters.db
  packs/vehicles-stations.db
  packs/vehicles-walkers.db
  packs/vehicles-wheeled.db
  packs/vehicles.db
  scripts/apps/store/store-main.js
  scripts/apps/store/store-shared.js
  scripts/engine/import/vehicle-import-normalizer.js
  scripts/engine/store/cost-registry.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  scripts/sheets/v2/vehicle-sheet/vehicle-context-builder.js
  scripts/ui/shell/StoreSurfaceService.js
  templates/apps/store/store-card-grid.hbs
  templates/shell/partials/surface-store.hbs
  tools/reports/vehicle-phase4-price-shield-audit.json
  tools/reports/vehicle-phase4c-source-price-shield-audit.json
  tools/reports/vehicle-shield-fandom-audit.json
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Apply vehicle HP/DR/SR patch (phase 4d)
  packs/vehicles-airspeeders.db
  packs/vehicles-capital-ships.db
  packs/vehicles-space-transports.db
  packs/vehicles-speeders.db
  packs/vehicles-starfighters.db
  packs/vehicles-stations.db
  packs/vehicles-walkers.db
  packs/vehicles-wheeled.db
  packs/vehicles.db
  tools/reports/vehicle-phase4d-hp-dr-sr-audit.json
Due: prettier --write

Apply approved SR backfill patch (phase 4e)
  packs/vehicles-capital-ships.db
  packs/vehicles-space-transports.db
  packs/vehicles-starfighters.db
  packs/vehicles.db
  tools/reports/vehicle-phase4e-approved-sr-backfill-audit.json
Due: prettier --write

Apply approved next-50 SR backfill patch (phase 4f)
  packs/vehicles-capital-ships.db
  packs/vehicles-space-transports.db
  packs/vehicles-starfighters.db
  packs/vehicles-stations.db
  packs/vehicles.db
  tools/reports/vehicle-phase4f-approved-next50-sr-backfill-audit.json
Due: prettier --write

Apply approved 40 SR backfill patch (phase 4g)
  packs/vehicles-capital-ships.db
  packs/vehicles-space-transports.db
  packs/vehicles-starfighters.db
  packs/vehicles.db
  tools/reports/vehicle-phase4g-approved-40-sr-backfill-audit.json
Due: prettier --write

Apply approved next-40 SR backfill patch (phase 4h)
  packs/vehicles-capital-ships.db
  packs/vehicles-space-transports.db
  packs/vehicles-starfighters.db
  packs/vehicles-stations.db
  packs/vehicles.db
  tools/reports/vehicle-phase4h-approved-next40-sr-backfill-audit.json
Due: prettier --write

Apply remaining found SR backfill patch (phase 4i)
  packs/vehicles-capital-ships.db
  packs/vehicles-space-transports.db
  packs/vehicles-starfighters.db
  packs/vehicles-stations.db
  packs/vehicles.db
  tools/reports/vehicle-phase4i-rest-found-sr-backfill-audit.json
Due: prettier --write

Apply final SR scrape patch (phase 4j)
  packs/vehicles-capital-ships.db
  packs/vehicles-space-transports.db
  packs/vehicles-starfighters.db
  packs/vehicles-stations.db
  packs/vehicles.db
  tools/reports/vehicle-phase4j-final-source-sr-scrape-audit.json
Due: prettier --write

Apply vehicle aggregate phase1 and attribute phase2 patches
  packs/vehicles-airspeeders.db
  packs/vehicles-capital-ships.db
  packs/vehicles-space-transports.db
  packs/vehicles-speeders.db
  packs/vehicles-starfighters.db
  packs/vehicles-starships.db
  packs/vehicles-tracked.db
  packs/vehicles-walkers.db
  packs/vehicles-weapon-emplacements.db
  packs/vehicles-wheeled.db
  packs/vehicles.db
  tools/reports/vehicle-phase2-fandom-attribute-hydration-audit.json
Due: prettier --write

Apply vehicle transport phase3 patches
  packs/vehicles-airspeeders.db
  packs/vehicles-capital-ships.db
  packs/vehicles-space-transports.db
  packs/vehicles-speeders.db
  packs/vehicles-starfighters.db
  packs/vehicles-starships.db
  packs/vehicles-stations.db
  packs/vehicles-tracked.db
  packs/vehicles-walkers.db
  packs/vehicles-weapon-emplacements.db
  packs/vehicles-wheeled.db
  packs/vehicles.db
  tools/reports/vehicle-phase3-transport-hydration-audit.json
Due: prettier --write

.
  packs/vehicles-airspeeders.db
  packs/vehicles-capital-ships.db
  packs/vehicles-space-transports.db
  packs/vehicles-speeders.db
  packs/vehicles-starfighters.db
  packs/vehicles-starships.db
  packs/vehicles-stations.db
  packs/vehicles-tracked.db
  packs/vehicles-walkers.db
  packs/vehicles-weapon-emplacements.db
  packs/vehicles-wheeled.db
  packs/vehicles.db
  tools/reports/vehicle-phase4-availability-price-hydration-audit.json
  tools/reports/vehicle-phase4a-price-integer-hotfix-audit.json
Due: prettier --write

.
  packs/vehicles-airspeeders.db
  packs/vehicles-capital-ships.db
  packs/vehicles-space-transports.db
  packs/vehicles-speeders.db
  packs/vehicles-starfighters.db
  packs/vehicles-starships.db
  packs/vehicles-stations.db
  packs/vehicles-tracked.db
  packs/vehicles-walkers.db
  packs/vehicles-weapon-emplacements.db
  packs/vehicles-wheeled.db
  packs/vehicles.db
  scripts/actors/vehicle/swse-vehicle-handler.js
  scripts/apps/store/store-main.js
  scripts/data-models/vehicle-data-model.js
  scripts/engine/import/vehicle-import-normalizer.js
  scripts/sheets/v2/vehicle-sheet/context.js
  scripts/sheets/v2/vehicle-sheet/vehicle-context-builder.js
  scripts/utils/movement-normalizer.js
  templates/actors/vehicle/v2/partials/vehicle-sheet-content.hbs
  tools/reports/vehicle-phase6-movement-speed-audit.json
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.
  packs/vehicles-airspeeders.db
  packs/vehicles-capital-ships.db
  packs/vehicles-space-transports.db
  packs/vehicles-speeders.db
  packs/vehicles-starfighters.db
  packs/vehicles-starships.db
  packs/vehicles-stations.db
  packs/vehicles-tracked.db
  packs/vehicles-walkers.db
  packs/vehicles-weapon-emplacements.db
  packs/vehicles-wheeled.db
  packs/vehicles.db
  scripts/apps/store/store-main.js
  scripts/core/vehicle-pack-data-loader.js
  scripts/data-models/vehicle-data-model.js
  scripts/engine/import/vehicle-import-normalizer.js
  scripts/sheets/v2/vehicle-sheet/context.js
  scripts/sheets/v2/vehicle-sheet/vehicle-context-builder.js
  tools/reports/vehicle-phase7-runtime-metadata-audit.json
Due: eslint --fix, prettier --write

.
  packs/equipment-comlinks.db
  packs/equipment-medical.db
  packs/equipment-other.db
  packs/equipment-security.db
  packs/equipment-survival.db
  packs/equipment-tech.db
  packs/equipment-tools.db
  packs/equipment.db
  scripts/data-models/item-data-models.js
  scripts/engine/equipment/equipment-normalizer.js
  scripts/engine/equipment/equipment-skill-hook-resolver.js
  scripts/engine/progression/utils/item-normalizer.js
  scripts/engine/store/categorizer.js
  scripts/engine/store/cost-registry.js
  scripts/items/equipment-data-resolver.js
  scripts/items/item-defaults.js
  templates/dialogs/entity/parts/body-item.hbs
  tools/reports/equipment-phase1-normalization-audit.json
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Prepare v3.3.0 release manifest
  system.json
Due: prettier --write

.
  data/extraskilluses.json
  packs/equipment-medical.db
  packs/equipment.db
  packs/extraskilluses.db
  scripts/engine/equipment/equipment-normalizer.js
  scripts/engine/equipment/equipment-skill-hook-resolver.js
  scripts/sheets/v2/character-sheet.js
  templates/actors/character/v2-concept/partials/panels/skills-panel.hbs
  templates/actors/character/v2-concept/partials/tabs/skills-tab.hbs
  templates/actors/character/v2/partials/skills-panel.hbs
  tools/reports/equipment-medical-phase2-audit.json
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.
  data/extraskilluses.json
  packs/equipment-comlinks.db
  packs/equipment-other.db
  packs/equipment-security.db
  packs/equipment-survival.db
  packs/equipment-tech.db
  packs/equipment-tools.db
  packs/equipment.db
  packs/extraskilluses.db
  packs/vehicles-airspeeders.db
  packs/vehicles-capital-ships.db
  packs/vehicles-space-transports.db
  packs/vehicles-speeders.db
  packs/vehicles-starfighters.db
  packs/vehicles-stations.db
  packs/vehicles-tracked.db
  packs/vehicles-walkers.db
  packs/vehicles-weapon-emplacements.db
  packs/vehicles-wheeled.db
  scripts/engine/equipment/equipment-normalizer.js
  scripts/engine/equipment/equipment-skill-hook-resolver.js
  scripts/engine/suggestion/equipment-loadout-profile.js
  scripts/engine/suggestion/equipment/gear-suggestions.js
  scripts/engine/suggestion/equipment/store-suggestion-context.js
  scripts/engine/suggestion/equipment/weapon-investment-profile.js
  scripts/items/equipment-data-resolver.js
  scripts/sheets/v2/character-sheet.js
  templates/actors/character/v2-concept/partials/panels/skills-panel.hbs
  templates/dialogs/entity/parts/body-item.hbs
  tools/reports/equipment-comlinks-phase5-audit.json
  tools/reports/equipment-other-phase7-suggestion-alignment-audit.json
  tools/reports/equipment-survival-phase6-audit.json
  tools/reports/equipment-tech-phase4-audit.json
  tools/reports/equipment-tools-security-phase3-audit.json
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Prepare v3.3.1 release manifest
  system.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
