Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

feat(generation): location dependency/draft foundation
  scripts/generation/location-draft.js
Due: eslint --fix

test(generation): Phase 8D-1 foundation suite (16 sections)
  tests/gm-generation-phase8d1-foundation.test.mjs
Due: none

docs(gm): document Phase 8D-1 random generation foundation (§120-131)
  docs/audits/gm-datapad-ecosystem-redesign.md
Due: prettier --write

feat(generation): Location demographic profiles + hierarchy resolution (3rd addendum)
  scripts/generation/data/location-population-profiles.js
  scripts/generation/location-population-profile.js
Due: eslint --fix

feat(generation): Faction recruitment locality bias (3rd addendum)
  scripts/generation/faction-draft.js
  scripts/generation/recruitment-profile.js
Due: eslint --fix

test(generation): Location demographics + recruitment locality bias (3rd addendum)
  tests/gm-generation-phase8d1-foundation.test.mjs
Due: none

docs(gm): document Phase 8D-1 3rd addendum (§132-135)
  docs/audits/gm-datapad-ecosystem-redesign.md
Due: prettier --write

fix(generation): C8D-1 locality bias must mix the full Location distribution
  scripts/generation/faction-draft.js
  scripts/generation/location-population-profile.js
  scripts/generation/recruitment-profile.js
Due: eslint --fix

test(generation): C8D-1 deterministic proof of full-distribution locality mixing
  tests/gm-generation-phase8d1-foundation.test.mjs
Due: none

docs(gm): document C8D-1 locality-bias correction (§136-138)
  docs/audits/gm-datapad-ecosystem-redesign.md
Due: prettier --write

fix(generation): C8D-1 edge case -- filter Location species against excludedSpeciesIds/availableSpeciesIds
  scripts/generation/recruitment-profile.js
Due: eslint --fix

test(generation): C8D-1 edge-case proof (exclusions/available-pool respected on Location branch)
  tests/gm-generation-phase8d1-foundation.test.mjs
Due: none

docs(gm): document C8D-1 edge-case correction round 2 (§139-141)
  docs/audits/gm-datapad-ecosystem-redesign.md
Due: prettier --write

feat(generation): Phase 8D-2 cross-cutting contracts (tags, diagnostics, description composer, draft-id)
  scripts/generation/lib/description-composer.js
  scripts/generation/lib/draft-id.js
  scripts/generation/lib/generator-diagnostics.js
  scripts/generation/lib/tag-utils.js
  scripts/generation/lib/weighted-random.js
  scripts/generation/location-draft.js
Due: eslint --fix

feat(generation): Phase 8D-2 naming ecosystem (planet/system/settlement/Faction names)
  scripts/generation/data/faction-name-components.js
  scripts/generation/data/planet-name-syllables.js
  scripts/generation/data/settlement-name-components.js
  scripts/generation/data/system-name-designations.js
  scripts/generation/names/faction-name-generator.js
  scripts/generation/names/planet-name-generator.js
  scripts/generation/names/settlement-name-generator.js
  scripts/generation/names/system-name-generator.js
Due: eslint --fix

feat(generation): Phase 8D-2 procedural planet + POI groundwork
  scripts/generation/data/planet-economies.js
  scripts/generation/data/planet-governments.js
  scripts/generation/data/planet-hazards.js
  scripts/generation/data/planet-history-hooks.js
  scripts/generation/data/planet-traits.js
  scripts/generation/data/poi-templates.js
  scripts/generation/planets/planet-draft.js
  scripts/generation/planets/planet-economy.js
  scripts/generation/planets/planet-government.js
  scripts/generation/planets/planet-hazards.js
  scripts/generation/planets/planet-history-hooks.js
  scripts/generation/planets/planet-population.js
  scripts/generation/planets/planet-quality-tables.js
  scripts/generation/planets/planet-stability.js
  scripts/generation/planets/planet-traits.js
  scripts/generation/planets/poi-generator.js
  scripts/generation/planets/poi-template.js
Due: eslint --fix

feat(generation): Phase 8D-2 NPC narrative-generation groundwork
  scripts/generation/data/npc-agendas.js
  scripts/generation/data/npc-appearance-traits.js
  scripts/generation/data/npc-mannerisms.js
  scripts/generation/data/npc-motivations.js
  scripts/generation/data/npc-personality-traits.js
  scripts/generation/data/npc-secrets.js
  scripts/generation/npc-concept.js
  scripts/generation/npc/npc-narrative-generator.js
Due: eslint --fix

feat(generation): Phase 8D-2 Faction procedural groundwork
  scripts/generation/data/faction-goals.js
  scripts/generation/data/faction-institutional-characters.js
  scripts/generation/data/faction-internal-problems.js
  scripts/generation/data/faction-leadership-structures.js
  scripts/generation/data/faction-resource-flavors.js
  scripts/generation/faction-draft.js
  scripts/generation/factions/faction-goals.js
  scripts/generation/factions/faction-institutional-character.js
  scripts/generation/factions/faction-internal-problems.js
  scripts/generation/factions/faction-leadership-structure.js
  scripts/generation/factions/faction-resource-profile.js
  scripts/generation/rank-metadata.js
Due: eslint --fix

feat(generation): Phase 8D-2 Job/mission procedural groundwork
  scripts/generation/data/cargo-concepts.js
  scripts/generation/data/intel-clue-concepts.js
  scripts/generation/data/job-complications.js
  scripts/generation/data/job-consequences.js
  scripts/generation/data/job-twists.js
  scripts/generation/data/mission-subject-archetypes.js
  scripts/generation/data/objective-constraints.js
  scripts/generation/jobs/cargo-concept.js
  scripts/generation/jobs/encounter-phase.js
  scripts/generation/jobs/intel-clue-concept.js
  scripts/generation/jobs/job-archetype-metadata.js
  scripts/generation/jobs/job-complication.js
  scripts/generation/jobs/job-consequence.js
  scripts/generation/jobs/job-legality-visibility.js
  scripts/generation/jobs/job-twist.js
  scripts/generation/jobs/job-urgency.js
  scripts/generation/jobs/mission-subject.js
  scripts/generation/jobs/objective-constraint.js
  scripts/generation/jobs/opposition-request.js
Due: eslint --fix

feat(generation): Phase 8D-2 Location current-events groundwork
  scripts/generation/data/location-events.js
  scripts/generation/location-event.js
Due: eslint --fix

test(generation): Phase 8D-2 procedural content ecosystem groundwork suite
  tests/gm-generation-phase8d2-foundation.test.mjs
Due: none

docs(gm): document Phase 8D-2 procedural content ecosystem groundwork (§142-155)
  docs/audits/gm-datapad-ecosystem-redesign.md
Due: prettier --write

fix(generation): add Location Library biome + known-planet-name authorities
  scripts/locations/location-library-seeds.js
Due: eslint --fix

fix(generation): planet naming -- curated pool primary, syllable combinator demoted to fallback
  scripts/generation/data/procedural-planet-names.js
  scripts/generation/names/planet-name-generator.js
Due: eslint --fix

fix(generation): planet biome SSOT, habitable-aware population gating, structural fields, shared commodity Trade Resolver
  scripts/generation/data/galactic-commodities.js
  scripts/generation/data/planet-economies.js
  scripts/generation/planets/planet-draft.js
  scripts/generation/planets/planet-economy.js
  scripts/generation/planets/planet-population.js
  scripts/generation/planets/planet-profile.js
  scripts/generation/planets/planet-quality-tables.js
  scripts/generation/planets/planet-trade.js
Due: eslint --fix

fix(generation): POI templates -- hard compatibility filter, never just soft deprioritization
  scripts/generation/data/poi-templates.js
  scripts/generation/planets/poi-generator.js
  scripts/generation/planets/poi-template.js
Due: eslint --fix

fix(generation): NPC reroll must recompute the derived suggestion field
  scripts/generation/npc/npc-narrative-generator.js
Due: eslint --fix

fix(generation): expand the opposition-request contract, reusing existing authorities
  scripts/generation/jobs/opposition-request.js
Due: eslint --fix

fix(generation): objective-template schema gains optional constraints/hints fields
  scripts/generation/objective-template.js
Due: eslint --fix

test(generation): rewrite Phase 8D-2 suite for the independent-review correction pass
  tests/gm-generation-phase8d2-foundation.test.mjs
Due: none

docs(gm): document Phase 8D-2 independent-review round-1 correction pass (§156-166)
  docs/audits/gm-datapad-ecosystem-redesign.md
Due: prettier --write

fix(generation): cargo generator adopts the shared Galactic Commodity Catalog as its SSOT
  scripts/generation/data/cargo-concepts.js
  scripts/generation/data/galactic-commodities.js
  scripts/generation/jobs/cargo-concept.js
Due: eslint --fix

fix(generation): POI biome/type SSOT + wire economyTags/governmentTags into selection
  scripts/generation/data/poi-templates.js
  scripts/generation/planets/poi-generator.js
  scripts/generation/planets/poi-template.js
Due: eslint --fix

fix(generation): UNINHABITED gates the whole civilization block; independent droid prevalence; economy reroll ordering fix
  scripts/generation/planets/planet-draft.js
  scripts/generation/planets/planet-population.js
  scripts/generation/planets/planet-profile.js
Due: eslint --fix

test(generation): extend Phase 8D-2 suite for the independent-review round-2 correction pass
  tests/gm-generation-phase8d2-foundation.test.mjs
Due: none

docs(gm): document Phase 8D-2 independent-review round-2 correction pass (§167-173)
  docs/audits/gm-datapad-ecosystem-redesign.md
Due: prettier --write

fix(generation): rerollPlanetPopulation no longer over-cascades on an inhabited->inhabited reroll
  scripts/generation/planets/planet-draft.js
Due: eslint --fix

fix(generation): POI biomeAffinities vs. actual biome derivation + persisted reroll context
  scripts/generation/data/poi-templates.js
  scripts/generation/planets/poi-generator.js
  scripts/generation/planets/poi-template.js
Due: eslint --fix

fix(generation): cargo producedBy/demandedBy affinity wiring + explicit jobLegality translation
  scripts/generation/jobs/cargo-concept.js
Due: eslint --fix

test(generation): extend Phase 8D-2 suite for the independent-review round-3 correction pass
  tests/gm-generation-phase8d2-foundation.test.mjs
Due: none
