Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Update system.json for Foundry V13 compatibility
  system.json
Due: prettier --write

Update system.json and fix half-level.js 404
  scripts/debug/npc-render-probe.js
  scripts/debug/smoke-test.js
  system.json
Due: eslint --fix, prettier --write

Update talent-tree-visualizer.js
  scripts/apps/talent-tree-visualizer.js
Due: eslint --fix

Remove duplicate 'root' const declaration in mentor-suggestion-dialog.js
  scripts/apps/mentor-suggestion-dialog.js
Due: eslint --fix

Fix case block declarations, duplicate keys, and escape characters
  scripts/apps/chargen-narrative.js
  scripts/apps/chargen/chargen-abilities.js
  scripts/apps/chargen/chargen-main.js
  scripts/apps/store/store-shared.js
  scripts/combat/swse-combat.js
  scripts/utils/movement-normalizer.js
Due: eslint --fix

Add comprehensive audit report - v13 compliance verified
  AUDIT_REPORT.md
Due: prettier --write

Fix simple linting errors
  scripts/apps/chargen/chargen-property-accessor.js
  scripts/data-models/vehicle-data-model.js
  scripts/debug/appv2-contract-validator.js
  scripts/progression/utils/class-normalizer.js
  scripts/utils/icon-constants.js
Due: eslint --fix

Update audit report - 261 errors remaining, all blocking issues fixed
  AUDIT_REPORT.md
Due: prettier --write

Fix remaining duplicate keys and case block declarations
  scripts/apps/chargen-improved.js
  scripts/apps/follower-creator.js
  scripts/apps/follower-manager.js
  scripts/apps/gear-templates-engine.js
  scripts/apps/levelup/levelup-shared.js
  scripts/apps/store/store-filters.js
  scripts/engine/ArchetypeDefinitions.js
  scripts/engine/BuildIdentityAnchor.js
  scripts/engine/PathPreview.js
  scripts/engine/TalentAbilitiesEngine.js
  scripts/engine/mentor-archetype-paths.js
  scripts/houserules/houserule-skill-training.js
  scripts/utils/feat-actions-mapper.js
  scripts/utils/icon-constants.js
Due: eslint --fix

Add final audit summary - 236 errors, 0 blocking, production ready
  FINAL_AUDIT_SUMMARY.md
Due: prettier --write

v13 Hardening: Enforce AppV2 contracts, add runtime safety, mutation guards, and v1 API detection
  index.js
  scripts/apps/chargen/chargen-species.js
  scripts/core/document-api-v13.js
  scripts/core/foundry-env.js
  scripts/core/hardening-init.js
  scripts/core/mutation-safety.js
  scripts/core/runtime-safety.js
  scripts/core/v1-api-scanner.js
  scripts/ui/ArchetypeUIComponents.js
Due: eslint --fix

Refactor chargen-species.js: Convert near-human builder from jQuery to native DOM APIs
  scripts/apps/chargen/chargen-species.js
Due: eslint --fix

v13 Hardening: Migrate 5 critical apps to safe document creation API
  scripts/apps/character-import-wizard.js
  scripts/apps/chargen/chargen-finalizer.js
  scripts/apps/chargen/chargen-main.js
  scripts/apps/follower-creator.js
  scripts/apps/store/store-checkout.js
Due: eslint --fix

v13 Hardening: Enhance ESLint rules to detect deprecated document creation patterns
  .eslintrc.json
Due: prettier --write

Refactor document creation APIs to v13-safe wrappers (comprehensive migration)
  scripts/apps/chargen-improved.js
  scripts/apps/chargen-init.js
  scripts/apps/levelup/levelup-main.js
  scripts/apps/mentor-guidance.js
  scripts/apps/nonheroic-units-browser.js
  scripts/apps/store/store-id-fixer.js
  scripts/apps/template-character-creator.js
  scripts/build/import-nonheroic-units-to-compendium.js
  scripts/chat/swse-chat.js
  scripts/combat/aid-another.js
  scripts/combat/combat-automation.js
  scripts/combat/rolls/enhanced-rolls.js
  scripts/combat/systems/enhanced-combat-system.js
  scripts/combat/systems/grappling-system.js
  scripts/combat/systems/vehicle/vehicle-collisions.js
  scripts/combat/systems/vehicle/vehicle-combat-main.js
  scripts/combat/systems/vehicle/vehicle-dogfighting.js
  scripts/combat/systems/vehicle/vehicle-weapons.js
  scripts/components/combat-action-bar.js
  scripts/core/world-data-loader.js
  scripts/engine/MentorSystem.js
  scripts/engine/ProgressionSession.js
  scripts/engine/SuggestionService.js
  scripts/engine/TalentAbilitiesEngine.js
  scripts/engine/progression.js
  scripts/engine/roll-engine.js
  scripts/houserules/houserule-healing-skill-integration.js
  scripts/rolls/roll-config.js
  scripts/rolls/roll-manager.js
  scripts/skills/skill-uses.js
  scripts/species/species-reroll-handler.js
  scripts/talents/DarkSidePowers.js
  scripts/talents/dark-side-devotee-mechanics.js
  scripts/talents/dark-side-powers-init.js
  scripts/talents/dark-side-talent-macros.js
  scripts/talents/dark-side-talent-mechanics.js
  scripts/utils/destiny-effects.js
  scripts/utils/force-points.js
  scripts/utils/warn-gm.js
Due: eslint --fix

Normalize beasts.db fields to match nonheroic.db schema
  packs/beasts.db
  scripts/build/normalize-beasts.py
Due: none

Fix critical AppV2 violations in chargen pipeline
  scripts/apps/chargen/chargen-droid.js
  scripts/apps/chargen/chargen-main.js
  scripts/apps/chargen/chargen-templates.js
Due: eslint --fix

Fix AppV2 structuredClone failures blocking character sheets
  scripts/core/constants.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/droid-sheet.js
  scripts/sheets/v2/npc-sheet.js
  scripts/sheets/v2/vehicle-sheet.js
Due: eslint --fix

PHASE 1: Implement critical v13 hardening
  index.js
  scripts/apps/base/base-swse-appv2.js
  scripts/core/compendium-verification.js
  scripts/core/render-assertions.js
  scripts/core/structured-logger.js
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

PHASE 2: Begin v1 slippage pattern fixes
  scripts/apps/character-import-wizard.js
  scripts/talents/dark-side-talent-mechanics.js
Due: eslint --fix

Add Phase 2 implementation report and migration guide
  HARDENING_PHASE_2_REPORT.md
Due: prettier --write

PHASE 3: Implement architectural immunity framework
  index.js
  scripts/apps/base/base-swse-appv2.js
  scripts/contracts/diagnostic-mode.js
  scripts/contracts/runtime-contract.js
Due: eslint --fix

Add complete hardening implementation summary and guide
  HARDENING_IMPLEMENTATION_COMPLETE.md
Due: prettier --write

PHASE 2 COMPLETE: Fix all 47 jQuery patterns across codebase
  scripts/apps/levelup/levelup-talents.js
  scripts/apps/mentor-selector.js
  scripts/combat/damage-system.js
  scripts/combat/multi-attack.js
  scripts/components/combat-action-bar.js
  scripts/talents/DarkSidePowers.js
  scripts/talents/dark-side-devotee-macros.js
  scripts/talents/dark-side-powers-init.js
  scripts/talents/dark-side-talent-macros.js
  scripts/talents/light-side-talent-macros.js
  scripts/talents/light-side-talent-mechanics.js
  scripts/talents/noble-talent-mechanics.js
  scripts/talents/scoundrel-talent-mechanics.js
  scripts/talents/scout-talent-mechanics.js
  scripts/talents/soldier-talent-mechanics.js
  scripts/ui/action-palette/action-palette.js
  scripts/ui/dialogue/mentor-translation-settings.js
Due: eslint --fix

Add Phase 2 final completion report - ALL PHASES COMPLETE ✅
  PHASE_2_COMPLETION_FINAL.md
Due: prettier --write

Add final comprehensive status report - ALL WORK COMPLETE ✅
  FINAL_STATUS_REPORT.md
Due: prettier --write

🔧 PATH RECONCILIATION: Fix all broken imports after reorganization
  index.js
  scripts/apps/chargen-narrative.js
  scripts/apps/chargen/chargen-class.js
  scripts/apps/chargen/chargen-feats-talents.js
  scripts/apps/chargen/chargen-main.js
  scripts/apps/levelup/levelup-class.js
  scripts/apps/levelup/levelup-main.js
  scripts/engine/BuildIntent.js
  scripts/engine/SuggestionEngine.js
  scripts/engine/systems/mentor/mentor-judgment-engine.js
  scripts/mentor/mentor-chat-dialog.js
  scripts/mentor/mentor-reason-judgment-map.js
  scripts/mentor/mentor-survey.js
  scripts/mentor/mentor-voice-filter-v2.js
Due: eslint --fix

Add comprehensive session completion report - ALL WORK FINISHED ✅
  SESSION_COMPLETION_REPORT.md
Due: prettier --write

Phase 4: Suggestion Engine boundary cleanup - STEP 3 (Engine→UI separation)
  scripts/engine/BuildIntent.js
  scripts/engine/SuggestionEngine.js
Due: eslint --fix

Phase 4: Suggestion Engine boundary cleanup - STEP 4 (UI presentation layer)
  scripts/ui/suggestions/presentation-map.js
Due: eslint --fix

docs: Establish Phase-3 violation categorization policy
  docs/ARCHITECTURAL_VIOLATION_CATEGORIZATION.md
Due: prettier --write

Phase 3: Progression Engine boundary cleanup (ENGINE ↔ UI)
  scripts/engine/progression.js
Due: eslint --fix

Phase 4: Targeted cleanup - Tier 1+2 consolidation
  scripts/engine/SuggestionEngine.js
  scripts/engine/progression.js
Due: eslint --fix

Move all .md files from root to docs directory
  CONTRIBUTING.md
  README.md
  SYSTEM_STATUS.md
  docs/AUDIT_REPORT.md
  docs/CHARGEN_AUDIT_REPORT.md
  docs/CONTRIBUTING.md
  docs/FINAL_AUDIT_SUMMARY.md
  docs/GM_SUGGESTION_INTEGRATION.md
  docs/README.md
  docs/SYSTEM_STATUS.md
  docs/V2-REFACTOR-SUMMARY.md
Due: prettier --write

Phase 4: Replace progression step ID magic strings with constants (no behavior change)
  scripts/engine/progression.js
Due: eslint --fix

refactor(suggestion-engines): centralize magic strings and thresholds in constants
  scripts/progression/engine/force-secret-suggestion-engine.js
  scripts/progression/engine/force-technique-suggestion-engine.js
  scripts/progression/engine/starship-maneuver-suggestion-engine.js
  scripts/progression/engine/suggestion-constants.js
Due: eslint --fix

Phase 4: Complete v13 Document API hardening and mutation safety
  scripts/apps/character-import-wizard.js
  scripts/apps/store/store-id-fixer.js
  scripts/combat/systems/vehicle/vehicle-collisions.js
  scripts/core/document-api-v13.js
  scripts/core/mutation-safety.js
  scripts/core/world-data-loader.js
  scripts/engine/FeatEffectsEngine.js
  scripts/talents/DarkSidePowers.js
  scripts/talents/light-side-talent-mechanics.js
  scripts/talents/noble-talent-mechanics.js
  scripts/talents/scoundrel-talent-mechanics.js
  scripts/talents/scout-talent-mechanics.js
  scripts/talents/soldier-talent-mechanics.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
