Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

fix: wait for class authority before BAB calculation
  scripts/actors/derived/bab-calculator.js
Due: eslint --fix

Defer BAB calculation until class authority is ready
  scripts/actors/derived/bab-calculator.js
  scripts/engine/progression/utils/class-data-readiness.js
Due: eslint --fix

revert: restore last known-good system.json
  system.json
Due: prettier --write

Restore July 15 system manifest
  system.json
Due: prettier --write

chore: add temporary manifest patch workflow
  .github/workflows/temporary-register-recent-styles.yml
Due: none

chore: remove temporary manifest patch workflow
  .github/workflows/temporary-register-recent-styles.yml
Due: none

Register recent application styles
  system.json
Due: prettier --write

chore: add temporary NPC damage activation workflow
  .github/workflows/temporary-wire-npc-bulk-damage.yml
Due: none

chore: remove temporary NPC damage activation workflow
  .github/workflows/temporary-wire-npc-bulk-damage.yml
Due: none

Activate safe bulk NPC damage profiles
  docs/audits/nonheroic-bulk-lane-a-runtime-activation.md
  scripts/engine/import/nonheroic-damage-profile-hydrator.js
Due: eslint --fix, prettier --write

feat: hydrate damage for world NPC imports
  scripts/engine/import/npc-damage-hydration-hooks.js
Due: eslint --fix

chore: add temporary NPC hydration wiring workflow
  .github/workflows/temporary-wire-world-npc-damage.yml
Due: none

Remove one-time branch workflow after applying the NPC hydration wiring
  .github/workflows/temporary-wire-world-npc-damage.yml
Due: none

Hydrate NPC damage on world import
  index.js
  scripts/engine/import/npc-damage-hydration-hooks.js
Due: eslint --fix

feat: add exact-item statblock fallback for NPC damage
  scripts/engine/import/npc-statblock-item-fallback.js
Due: eslint --fix

feat: fall back to exact compendium items for NPC statblocks
  scripts/engine/import/npc-damage-hydration-hooks.js
Due: eslint --fix

chore: add temporary NPC fallback syntax checks
  .github/workflows/temporary-check-npc-fallback.yml
Due: none

Remove temporary NPC fallback syntax workflow
  .github/workflows/temporary-check-npc-fallback.yml
Due: none

Use exact compendium items for remaining NPC attacks
  scripts/engine/import/npc-damage-hydration-hooks.js
  scripts/engine/import/npc-statblock-item-fallback.js
Due: eslint --fix

feat: add Force-power and bespoke NPC damage fallbacks
  scripts/engine/import/npc-statblock-bespoke-fallback.js
Due: eslint --fix

feat: wire Force-power and bespoke NPC damage fallbacks
  scripts/engine/import/npc-damage-hydration-hooks.js
Due: eslint --fix

chore: add temporary NPC Force and bespoke syntax checks
  .github/workflows/temporary-check-npc-force-bespoke.yml
Due: none

Remove temporary NPC Force and bespoke syntax workflow
  .github/workflows/temporary-check-npc-force-bespoke.yml
Due: none

Add Force-power and bespoke NPC damage fallbacks
  scripts/engine/import/npc-damage-hydration-hooks.js
  scripts/engine/import/npc-statblock-bespoke-fallback.js
Due: eslint --fix

feat: add Force power resolution schema migrator
  tools/migrate-force-power-resolution-schema.mjs
Due: none

chore: add temporary Force power migration workflow
  .github/workflows/temporary-force-power-resolution-migration.yml
Due: none

Add Force power resolution schema migration
  .github/workflows/temporary-force-power-resolution-migration.yml
  tools/migrate-force-power-resolution-schema.mjs
Due: none

chore: trigger Force power resolution migration
  .github/workflows/temporary-force-power-resolution-migration.yml
Due: none

Remove temporary Force power migration workflow
  .github/workflows/temporary-force-power-resolution-migration.yml
Due: none

feat: add canonical Force power resolution schema
  data/force/force-power-resolution.schema.json
Due: prettier --write

feat: add Force power resolution compatibility adapter
  scripts/engine/force/force-power-resolution-schema.js
Due: eslint --fix

test: add Force power resolution fixtures
  tests/fixtures/force-power-resolution-v1.json
Due: prettier --write

test: validate Force power resolution schema
  tests/force-power-resolution-schema.test.mjs
Due: none

docs: define Force power phase 1 contract
  docs/architecture/force-power-resolution-v1.md
Due: prettier --write

Phase 1: define Force power resolution schema
  data/force/force-power-resolution.schema.json
  docs/architecture/force-power-resolution-v1.md
  scripts/engine/force/force-power-resolution-schema.js
  tests/fixtures/force-power-resolution-v1.json
  tests/force-power-resolution-schema.test.mjs
Due: eslint --fix, prettier --write

data: seed Force power source reconciliation
  data/force/force-power-source-reconciliation.json
Due: prettier --write

feat: add Force power reconciliation audit generator
  tools/audit-force-power-source-reconciliation.mjs
Due: none

test: validate Force power source reconciliation
  tests/force-power-source-reconciliation.test.mjs
Due: none

docs: document Force power phase 2 reconciliation
  docs/audits/force-power-phase-2-source-reconciliation.md
Due: prettier --write

Phase 2: reconcile Force powers against printed sources
  data/force/force-power-source-reconciliation.json
  docs/audits/force-power-phase-2-source-reconciliation.md
  tests/force-power-source-reconciliation.test.mjs
  tools/audit-force-power-source-reconciliation.mjs
Due: prettier --write
