Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

fix: Convert AppV2 violations from jQuery to native DOM
  scripts/apps/chargen/chargen-main.js
  scripts/apps/store/store-main.js
  scripts/hooks/levelup-sheet-hooks.js
  scripts/hooks/suggestion-hooks.js
Due: eslint --fix

Fix: Guard game.settings access at module load time
  index.js
Due: eslint --fix

fix: Guard all unregistered settings access in chargen and migrations
  scripts/apps/chargen-improved.js
  scripts/apps/chargen-narrative.js
  scripts/apps/chargen/chargen-main.js
  scripts/houserules/houserule-talent-combination.js
  scripts/migration/fix-talent-effect-validation.js
  scripts/migration/populate-force-compendiums.js
  scripts/migration/update-species-traits-migration.js
Due: eslint --fix

fix: Guard access to unregistered core.devMode setting
  scripts/core/css-auditor.js
  scripts/core/load-templates.js
  scripts/core/migration-auditor.js
  scripts/core/swse-api.js
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

fix: Make icon helpers defensive against non-string icon keys
  scripts/utils/icon-constants.js
Due: eslint --fix

fix: Guard ability icon properties against object values
  templates/partials/talent-abilities-panel.hbs
Due: node scripts/validate/validate-icon-keys.js

debug: Add enhanced logging to icon helper for object detection
  scripts/utils/icon-constants.js
Due: eslint --fix

debug: Add detailed logging to icon helpers for non-string detection
  helpers/handlebars/icon-helpers.js
Due: eslint --fix

fix: Add early return for non-string icon keys in Handlebars helpers
  helpers/handlebars/icon-helpers.js
Due: eslint --fix

fix: Remove verbose error logging from icon helpers
  helpers/handlebars/icon-helpers.js
Due: eslint --fix

fix: Resolve AppV2 DataCloneError by serializing non-cloneable objects in sheet context
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/droid-sheet.js
  scripts/sheets/v2/npc-sheet.js
  scripts/sheets/v2/vehicle-sheet.js
Due: eslint --fix

feat: Add comprehensive icon rendering diagnostic logger
  scripts/dev/icon-debug-logger.js
Due: eslint --fix

You can't be my STYLE
  styles/core/swse-base.css
  styles/sheets/improved-contrast.css
  styles/src/themes/_holo.scss
  styles/swse-system.css
Due: none

feat: Add comprehensive CSS validation logger for icon rendering
  scripts/dev/css-validation-logger.js
  scripts/dev/css-validator-console.js
Due: eslint --fix

fix: Implement icon assignment hook to fix missing --control-icon CSS variables
  scripts/init/icon-assignment-fix.js
  system.json
Due: eslint --fix, prettier --write

fix: Suppress icon helper errors when Handlebars options object is passed
  helpers/handlebars/icon-helpers.js
Due: eslint --fix

updates
  helpers/handlebars/icon-helpers.js
  index.js
  packs/backgrounds.db
  packs/languages.db
  scripts/apps/chargen/chargen-backgrounds.js
  scripts/apps/chargen/chargen-languages.js
  scripts/apps/chargen/chargen-main.js
  scripts/apps/chargen/chargen-templates.js
  scripts/core/settings.js
  scripts/data-models/actor-data-model.js
  scripts/migrations/json-backed-ids-migration.js
  scripts/progression/engine/language-engine.js
  scripts/progression/engine/progression-engine.js
  scripts/registries/background-registry.js
  scripts/registries/language-registry.js
  scripts/utils/stable-id.js
  scripts/utils/template-id-mapper.js
  styles/apps/chargen/chargen.css
Due: eslint --fix

Fix syntax error in chargen-languages.js and devMode crash in icon-assignment-fix.js
  scripts/apps/chargen/chargen-languages.js
  scripts/init/icon-assignment-fix.js
Due: eslint --fix

Fix SyntaxError: add missing render() method declaration
  scripts/apps/levelup/levelup-enhanced.js
Due: eslint --fix

Rewrite icon-assignment-fix for Foundry v13 compatibility
  scripts/init/icon-assignment-fix.js
Due: eslint --fix

Implement v13-native scene control registry architecture
  index.js
  scripts/dev/css-validation-logger.js
  scripts/dev/css-validator-console.js
  scripts/dev/icon-debug-logger.js
  scripts/init/icon-assignment-fix.js
  scripts/scene-controls/api.js
  scripts/scene-controls/init.js
  scripts/state/phase.js
  system.json
Due: eslint --fix, prettier --write

refactor: Update scene control icons to Foundry v13 FontAwesome syntax
  scripts/scene-controls/init.js
Due: eslint --fix

feat: Implement complete GM Suggestion System (attached to core engine)
  index.js
  scripts/gm-suggestions/gm-suggestion-panel.js
  scripts/gm-suggestions/init.js
  scripts/gm-suggestions/insight-bus.js
  scripts/gm-suggestions/insight-types.js
  scripts/gm-suggestions/pacing-monitor.js
  scripts/gm-suggestions/pressure-monitor.js
  scripts/gm-suggestions/spotlight-monitor.js
  scripts/gm-suggestions/tuning-advisor.js
  scripts/suggestion-engine/report-schema.js
  styles/gm/suggestion-panel.css
  system.json
  templates/gm/suggestion-panel-content.hbs
  templates/gm/suggestion-panel-footer.hbs
  templates/gm/suggestion-panel-header.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

feat: Complete GM Suggestion System integration with combat engine
  index.js
  scripts/suggestion-engine/combat-engine.js
  scripts/suggestion-engine/combat-hooks.js
  scripts/suggestion-engine/test-harness.js
Due: eslint --fix

docs: Add comprehensive GM Suggestion System integration guide
  GM_SUGGESTION_INTEGRATION.md
Due: prettier --write

feat: Implement real tactical suggestion logic
  scripts/suggestion-engine/combat-engine.js
  scripts/suggestion-engine/tactical-evaluator.js
Due: eslint --fix

docs: Add comprehensive system status document
  SYSTEM_STATUS.md
Due: prettier --write

Implement SWSE Action Palette (Radial Menu) - Phase 1
  index.js
  scripts/core/load-templates.js
  scripts/ui/action-palette/action-palette.css
  scripts/ui/action-palette/action-palette.js
  scripts/ui/action-palette/init.js
  templates/ui/action-palette.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Add phase-change hook emissions for scene control re-rendering
  scripts/hooks/combat-hooks.js
Due: eslint --fix

Implement SWSE Action Palette Phases 1 & 2 - GM Radial + Drag-and-Drop
  scripts/ui/action-palette/action-palette.css
  scripts/ui/action-palette/action-palette.js
  templates/ui/action-palette.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Add aurabesh font styling to Action Palette headers
  scripts/ui/action-palette/action-palette.css
  templates/ui/action-palette.hbs
Due: node scripts/validate/validate-icon-keys.js

Implement Aurebesh dialogue translation system - Standalone + Integration
  scripts/ui/dialogue/aurebesh-translator.js
  scripts/ui/dialogue/dialogue-effects.css
  scripts/ui/dialogue/mentor-translation-integration.js
  scripts/ui/dialogue/translation-presets.js
Due: eslint --fix

Add mentor presets, mapping, and user settings UI for Aurebesh translation
  scripts/ui/dialogue/mentor-translation-settings.js
  scripts/ui/dialogue/translation-presets.js
Due: eslint --fix

Wire Aurebesh translation into mentor dialogue and expand mentor archetype mappings
  index.js
  scripts/apps/mentor-chat-dialog.js
  scripts/ui/dialogue/translation-presets.js
Due: eslint --fix

Add comprehensive mentor archetype mappings for all ~37 system mentors
  scripts/ui/dialogue/translation-presets.js
Due: eslint --fix

Add discovery & onboarding system (tooltips, callouts, feature tour)
  index.js
  lang/en.json
  scripts/ui/discovery/callout-manager.js
  scripts/ui/discovery/discovery-settings.js
  scripts/ui/discovery/feature-tour.js
  scripts/ui/discovery/index.js
  scripts/ui/discovery/tooltip-registry.js
  scripts/ui/discovery/user-state.js
  styles/components/discovery.css
  system.json
  templates/actors/character/tabs/summary-tab.hbs
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/character/v2/partials/defenses-panel.hbs
  templates/actors/character/v2/partials/hp-condition-panel.hbs
  templates/actors/character/v2/partials/skills-panel.hbs
  templates/partials/actor/persistent-header.hbs
  templates/partials/ui/condition-track.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Delete system.json
  system.json
Due: prettier --write

Create system.json
  system.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
