Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

Phase 3 continuation: Complete enforcement pass on feat/class queries (9 files)
  scripts/combat/systems/grappling-system.js
  scripts/engine/capabilities/capability-registry.js
  scripts/engine/progression/RuleEngine.js
  scripts/engine/progression/engine/force-power-engine.js
  scripts/engine/progression/engine/force-progression.js
  scripts/engine/progression/feats/feat-slot-migrator.js
  scripts/engine/suggestion/BuildCoherenceAnalyzer.js
  scripts/sheets/v2/npc/NPCPanelContextBuilder.js
  scripts/utils/feat-actions-mapper.js
Due: eslint --fix

SSOT enforcement: Update levelup UI layer with ActorAbilityBridge (3 files)
  scripts/apps/levelup/levelup-class.js
  scripts/apps/levelup/levelup-main.js
  scripts/apps/levelup/levelup-shared.js
Due: eslint --fix

SSOT enforcement: Complete levelup and chargen UI updates (4 files)
  scripts/apps/chargen/chargen-main.js
  scripts/apps/levelup/levelup-dual-talent-progression.js
  scripts/apps/levelup/levelup-talents.js
Due: eslint --fix

SSOT enforcement: Update UI components with ActorAbilityBridge (2 files)
  scripts/components/force-suite.js
  scripts/swse-actor.js
Due: eslint --fix

SSOT enforcement: Update dark side powers initialization (1 file)
  scripts/talents/dark-side-powers-init.js
Due: eslint --fix

Complete SSOT enforcement: ActorAbilityBridge controls all class/feat/power queries
  scripts/apps/progression-framework/progression-entry.js
  scripts/apps/progression-framework/steps/summary-step.js
  scripts/data-models/character-data-model.js
  scripts/data/force-points.js
  scripts/data/prerequisite-checker.js
  scripts/engine/progression/utils/apply-handlers.js
  scripts/governance/actor-engine/actor-engine.js
  scripts/infrastructure/hooks/chargen-sheet-hooks.js
  scripts/infrastructure/hooks/levelup-sheet-hooks.js
Due: eslint --fix

Phase 1.5: Add dev-mode SSOT bypass detection layer
  scripts/dev/ssot-detection.js
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix

Phase 1.5 Refined: Sentinel-integrated SSOT bypass detection
  scripts/dev/ssot-detection.js
  scripts/governance/actor-engine/actor-engine.js
  scripts/governance/sentinel/sentinel-core.js
Due: eslint --fix

refactor: cleanup deprecated wrappers and fix architecture seams
  scripts/actors/v2/npc-actor.js
  scripts/applications/lightsaber/lightsaber-construction-app.js
  scripts/apps/blaster/blaster-customization-app.js
  scripts/apps/customization/adapters/droid-adapter.js
  scripts/apps/customization/adapters/lightsaber-adapter.js
  scripts/apps/customization/adapters/weapon-adapter.js
  scripts/apps/droid-customization-app.js
  scripts/apps/progression-framework/registries/progression-node-registry.js
  scripts/apps/vehicle-customization-app.js
  scripts/engine/progression/debugging/progression-debug-helpers.js
  scripts/engine/progression/hooks/system-init-hooks.js
  scripts/engine/progression/registries/progression-node-registry.js
  scripts/engine/progression/template/template-adapter.js
  scripts/engine/progression/template/template-initializer.js
  scripts/engine/progression/template/template-traversal-policy.js
  scripts/engine/suggestion/gm/gm-suggestion-panel.js
Due: eslint --fix

refactor: extract static prerequisite authority and progression registry data into dedicated modules
  scripts/data/authority/authority-key-normalizer.js
  scripts/data/authority/feat-prerequisite-authority.js
  scripts/data/authority/talent-prerequisite-authority.js
  scripts/data/prerequisite-authority.js
  scripts/engine/progression/registries/progression-node-definitions.js
  scripts/engine/progression/registries/progression-node-registry.js
  scripts/engine/progression/registries/progression-node-types.js
Due: eslint --fix

refactor: canonicalize engine mentor dialogue data, fix stale/broken imports
  scripts/apps/chargen-narrative.js
  scripts/apps/mentor-dialogues.data.js
  scripts/apps/mentor/mentor-dialogues.data.js
  scripts/mentor/mentor-survey/definition-builder.js
Due: eslint --fix

refactor: add mentor-personalities.js (Phase 2 WIP)
  scripts/mentor/mentor-personalities.js
Due: eslint --fix

refactor: split mentor-suggestion-dialogues into data/runtime modules
  scripts/mentor/mentor-suggestion-data.js
  scripts/mentor/mentor-suggestion-dialogues.js
  scripts/mentor/mentor-suggestion-engine.js
Due: eslint --fix

.
  AUDIT_PARALLEL_SYSTEMS_v2_MIGRATION.md
  assets/concepts/droid-shipyard-customization-concept.html
  assets/icons/Rendarr.webp
Due: prettier --write

.
  assets/mentors/Rendarr.png
  data/dialogue/mentor-suggestions/README.md
  data/dialogue/mentor-suggestions/mentor-personalities.json
  data/dialogue/mentor-suggestions/mentor-suggestion-dialogues.json
  scripts/apps/store/store-main.js
  scripts/mentor/mentor-suggestion-dialogues.js
  scripts/mentor/mentor-suggestion-engine.js
  scripts/mentor/mentor-suggestion-json-loader.js
  scripts/scripts/mentor/mentor-suggestion-dialogues.js
Due: eslint --fix, prettier --write

feat: register SWSEV2DroidSheet v2 and fix template for Phase 1
  index.js
  templates/actors/droid/v2/droid-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

feat: Droid Sheet v2 Phase 2 — structured read-only systems map
  styles/sheets/v2-droid-specific.css
  templates/actors/droid/v2/droid-sheet.hbs
Due: node scripts/validate/validate-icon-keys.js

feat(droid-sheet-v2): Phase 3 — structured droid context normalizer
  scripts/sheets/v2/droid-sheet/context-builder.js
  templates/actors/droid/v2/droid-sheet.hbs
  templates/actors/droid/v2/partials/droid-systems-summary-strip.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

feat(droid-sheet-v2): Phase 4 — Droid Systems Resolver
  scripts/sheets/v2/droid-sheet/context-builder.js
  scripts/sheets/v2/droid-sheet/droid-systems-resolver.js
  templates/actors/droid/v2/droid-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

feat(droid-sheet-v2): Phase 5 — locked systems + Garage handoff
  scripts/sheets/v2/droid-sheet/context-builder.js
  styles/sheets/v2-droid-specific.css
  templates/actors/droid/v2/droid-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

feat(droid-sheet-v2): Phase 6 — integrated weapon surfacing
  scripts/sheets/v2/droid-sheet/context-builder.js
  styles/sheets/v2-droid-specific.css
  templates/actors/droid/v2/droid-sheet.hbs
  templates/actors/droid/v2/partials/droid-integrated-weapons-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

feat(droid-sheet-v2): Phase 7 — build provenance status card
  scripts/sheets/v2/droid-sheet/context-builder.js
  styles/sheets/v2-droid-specific.css
  templates/actors/droid/v2/droid-sheet.hbs
  templates/actors/droid/v2/partials/droid-build-status-card.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

.
  HOLONET_EXPANSION_SUMMARY.md
  HOLONET_PHASE3_SUMMARY.md
  HOLONET_PHASE4_QA_SUMMARY.md
  HOLONET_SAFETY_SWEEP_FINAL.md
  HOLONET_SHIP_SUBSYSTEM_EXPANSION.md
  scripts/holonet/README.md
  scripts/holonet/contracts/enums.js
  scripts/holonet/contracts/holonet-intent-registry.js
  scripts/holonet/contracts/holonet-recipient.js
  scripts/holonet/emitters/approvals-emitter.js
  scripts/holonet/emitters/droid-emitter.js
  scripts/holonet/emitters/follower-emitter.js
  scripts/holonet/emitters/healing-emitter.js
  scripts/holonet/emitters/progression-emitter.js
  scripts/holonet/emitters/ship-emitter.js
  scripts/holonet/emitters/store-emitter.js
  scripts/holonet/emitters/store-state-emitter.js
  scripts/holonet/holonet-engine.js
  scripts/holonet/holonet-manager.js
  scripts/holonet/holonet-preferences.js
  scripts/holonet/holonet-source-registry.js
  scripts/holonet/index.js
  scripts/holonet/integration/holonet-init.js
  scripts/holonet/sources/droid-source.js
  scripts/holonet/sources/follower-source.js
  scripts/holonet/sources/healing-source.js
  scripts/holonet/sources/ship-source.js
  scripts/holonet/sources/store-source.js
  scripts/holonet/subsystems/gm-healing-trigger.js
  scripts/holonet/subsystems/holonet-bus.js
  scripts/holonet/subsystems/holonet-delivery-router.js
  scripts/holonet/subsystems/holonet-emission-service.js
  scripts/holonet/subsystems/holonet-feed-service.js
  scripts/holonet/subsystems/holonet-messenger-service.js
  scripts/holonet/subsystems/holonet-notice-center-service.js
  scripts/holonet/subsystems/holonet-notification-service.js
  scripts/holonet/subsystems/holonet-projection-router.js
  scripts/holonet/subsystems/holonet-socket-service.js
  scripts/holonet/subsystems/holonet-storage.js
  scripts/holonet/subsystems/holonet-thread-service.js
Due: eslint --fix, prettier --write

.
  HOLONET_EXPANSION_SUMMARY.md
  HOLONET_PHASE3_SUMMARY.md
  HOLONET_PHASE4_QA_SUMMARY.md
  HOLONET_SAFETY_SWEEP_FINAL.md
  HOLONET_SHIP_SUBSYSTEM_EXPANSION.md
  scripts/apps/gm-datapad.js
  scripts/holonet/BADGE_INTEGRATION_GUIDE.md
  scripts/holonet/contracts/enums.js
  scripts/holonet/contracts/holonet-intent-registry.js
  scripts/holonet/emitters/follower-emitter.js
  scripts/holonet/integration/holonet-init.js
  scripts/holonet/services/holonet-badge-service.js
  scripts/holonet/sources/follower-source.js
  scripts/holonet/ui/holonet-badge-renderer.js
  styles/holonet/holonet-badges.css
  templates/apps/gm-datapad.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Complete Phase 1 audit remediation: Register v2 actor/sheet as default runtime
  index.js
  scripts/engine/force/force-executor.js
  scripts/infrastructure/hooks/actor-hooks.js
  scripts/sheets/v2/character-sheet.js
  system.json
  tools/validate-partials.mjs
Due: eslint --fix, prettier --write

Phase 3: v2 actionability and orphaned feature cleanup
  scripts/apps/progression-framework/steps/step-plugin-base.js
  scripts/engine/systems/species/species-trait-engine.js
  scripts/scene-controls/init.js
  scripts/ui/action-palette/action-palette.js
  templates/actors/character/v2/partials/combat-actions-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 4: SSOT and mutation governance hardening
  scripts/core/config.js
  scripts/sheets/v2/character-sheet/custom-skills-ui.js
  system.json
  template.json
Due: eslint --fix, prettier --write

Annotate world-item mutations in UpgradeService and GearTemplatesEngine
  scripts/apps/gear-templates-engine.js
  scripts/engine/upgrades/UpgradeService.js
Due: eslint --fix

Phase 6: Legacy character sheet removal and mutation governance cleanup
  index.js
  scripts/engine/core/UpdatePipeline.js
  scripts/engine/core/commands/ActorCommands.js
  scripts/items/swse-item-sheet.js
  scripts/swse-actor.js
Due: eslint --fix

Phase 7: Root hygiene and repository surface cleanup
  Logs/.b0012dc95db851c9203ed4fd10825b4e02e6d11c-audit.json
  Logs/.b82774cedfe3a300b781944e44baf6507c8ffffe-audit.json
  Logs/debug.2026-04-29.log
  Logs/debug.2026-04-30.log
  Logs/debug.2026-05-04.log
  Logs/diagnostics.json
  Logs/error.2026-04-29.log
  Logs/error.2026-05-04.log
  Logs/news.json
  archive/root-cleanup/APPLY_METADATA.js
  archive/root-cleanup/repo_skeleton.txt
  docs/repo-structure.md
  docs/reports/HOLONET_EXPANSION_SUMMARY.md
  docs/reports/HOLONET_PHASE3_SUMMARY.md
  docs/reports/HOLONET_PHASE4_QA_SUMMARY.md
  docs/reports/HOLONET_SAFETY_SWEEP_FINAL.md
  docs/reports/HOLONET_SHIP_SUBSYSTEM_EXPANSION.md
  tools/VALIDATION_COMMANDS.sh
  tools/migrations/migrate-forcepower-type.py
Due: eslint --fix, prettier --write

Alpha smoke-test fix: Replace system.attributes with system.abilities in ActorEngine HP calculation
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix

Phase 8: Critical droid and vehicle sheet registration fix - swap v2 as default
  index.js
Due: eslint --fix

Phase 1: Compendium canonicalization and pack type repair
  package-lock.json
  package.json
  packs/forcepowers.db
  packs/lightsaberformpowers.db
  scripts/build/import-lightsaber-form-powers-to-compendium.js
  scripts/build/populate-lightsaber-form-powers.js
  scripts/maintenance/inspect-packs.js
  scripts/migration/migrate-force-powers-in-packs.js
  scripts/migration/migrate-force-powers-ndjson.js
  scripts/migration/migrate-force-powers-type.js
  system.json
  tools/populate-force-powers.js
Due: eslint --fix, prettier --write

Add Phase 1 validation script
  scripts/validation/phase-1-validation.js
Due: eslint --fix

Phase 2: Compendium asset linkage and missing asset audit
  data/mentor-dialogues.json
  docs/reports/asset-inventory.json
  docs/reports/phase-2-asset-audit.md
  packs/classes.db
  packs/feats.db
  packs/forcepowers.db
  packs/species.db
  scripts/assets/build-asset-inventory.mjs
  scripts/validation/phase-2-validation.js
  tools/assets/link-compendium-assets.mjs
Due: eslint --fix, prettier --write

Phase 3: Engine responsibility split and atomicity hardening
  docs/reports/phase-3-responsibility-map.md
  scripts/engine/core/UpdatePipeline.js
  scripts/governance/actor-engine/actor-engine.js
  scripts/swse-actor.js
  scripts/tools/mutation-lint.js
Due: eslint --fix, prettier --write
