Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

Establish panel context builder infrastructure and refactor health panel
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/context/PANEL_REGISTRY.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  scripts/sheets/v2/context/PanelContextValidator.js
  scripts/sheets/v2/context/RowTransformers.js
  templates/actors/character/v2/partials/hp-condition-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Convert defenses and biography panels to use unified context
  templates/actors/character/v2/partials/character-record-header.hbs
  templates/actors/character/v2/partials/defenses-panel.hbs
Due: node scripts/validate/validate-icon-keys.js

Phase 2: Panel-specific view models for normalized context hydration
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/context/LocalizationFormatters.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  scripts/sheets/v2/context/PanelContextValidator.js
  scripts/sheets/v2/context/PostRenderAssertions.js
  scripts/sheets/v2/context/SCHEMA.js
  templates/actors/character/v2/partials/feats-panel.hbs
  templates/actors/character/v2/partials/inventory-panel.hbs
  templates/actors/character/v2/partials/talents-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

SWSE V2 Sheet Recovery: Phase 1 (Stabilize) + Phase 2a (Biography Panel Migration)
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  scripts/sheets/v2/context/PostRenderAssertions.js
  templates/actors/character/v2/partials/bio-profile-panel.hbs
  templates/actors/character/v2/partials/identity-strip.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

SWSE V2 Sheet Recovery: Phase 2 COMPLETE - Seal Data Contracts
  scripts/sheets/v2/context/PANEL_REGISTRY.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  templates/actors/character/v2/partials/dark-side-panel.hbs
  templates/actors/character/v2/partials/force-powers-known-panel.hbs
  templates/actors/character/v2/partials/force-secrets-panel.hbs
  templates/actors/character/v2/partials/force-techniques-panel.hbs
  templates/actors/character/v2/partials/portrait-panel.hbs
  templates/actors/character/v2/partials/second-wind-panel.hbs
  templates/actors/character/v2/partials/summary/hp-shield-wrapper.hbs
  templates/actors/character/v2/partials/summary/shield-rating.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 3.1-3.2: Expand PANEL_REGISTRY to complete SSOT and create panel validators
  scripts/sheets/v2/context/PANEL_REGISTRY.js
  scripts/sheets/v2/context/PanelValidators.js
  scripts/sheets/v2/context/PostRenderAssertions.js
Due: eslint --fix

Phase 3.3: Add strict dev mode enforcement in panel validators
  scripts/sheets/v2/context/PanelContextBuilder.js
Due: eslint --fix

Phase 3.4: Finish incomplete panel coverage - add starship maneuvers panel
  scripts/sheets/v2/context/PANEL_REGISTRY.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  scripts/sheets/v2/context/PanelValidators.js
  templates/actors/character/v2/partials/starship-maneuvers-known-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 3.5: Standardize ledger/list panel contracts
  scripts/sheets/v2/context/PANEL_REGISTRY.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  scripts/sheets/v2/context/PanelValidators.js
Due: eslint --fix

Phase 2 Completion: Fix remaining template migrations and panelize languages/racial-abilities
  PHASE_2_DELIVERABLES.md
  scripts/sheets/v2/context/PanelContextBuilder.js
  templates/actors/character/v2/partials/languages-panel.hbs
  templates/actors/character/v2/partials/racial-ability-panel.hbs
  templates/actors/character/v2/partials/talents-known-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Phase 3.6: Standardize row contracts globally
  scripts/sheets/v2/context/PANEL_REGISTRY.js
  scripts/sheets/v2/context/PanelValidators.js
Due: eslint --fix

Phase 3.7: Fix template/builder naming mismatches and complete registry
  scripts/sheets/v2/context/PANEL_REGISTRY.js
  scripts/sheets/v2/context/PanelValidators.js
Due: eslint --fix

Phase 3.9: Verify panel shaping logic is in builders - COMPLETE
  PHASE_3_DELIVERABLES.md
Due: prettier --write

Phase 4.1-4.2: SVG Structure Audit and Universal frame/content/overlay Implementation
  PHASE_4_SVG_AUDIT.md
  scripts/sheets/v2/context/PANEL_REGISTRY.js
  templates/actors/character/v2/partials/dark-side-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Phase 4.3: Create CSS geometry variables for SVG panel layout standardization
  styles/core/svg-geometry.css
  styles/ui/character-sheet-svg-panels.css
  system.json
Due: prettier --write

Phase 4.4: Create SVG layout debug tooling for developer visualization
  PHASE_4_DEBUG_GUIDE.md
  index.js
  scripts/core/config.js
  scripts/debug/layout-debug.js
  styles/debug/svg-layout-debug.css
  system.json
Due: eslint --fix, prettier --write

Phase 4.5: Enhance PostRenderAssertions for SVG structure validation
  PHASE_4_SVG_CONTRACT_COMPLETION.md
  scripts/sheets/v2/context/PostRenderAssertions.js
Due: eslint --fix, prettier --write

Phase 5.2: Remove all flat/legacy context from finalContext
  PHASE_5_FLAT_CONTEXT_ANALYSIS.md
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix, prettier --write

Phase 5.7: Add panel alignment verification script
  scripts/verify-panel-alignment.js
Due: eslint --fix

Phase 5.4: Add comprehensive JSDoc typedefs for panel contracts
  scripts/sheets/v2/context/PanelTypeDefinitions.js
Due: eslint --fix

Phase 5.5: Create authoritative Sheet Manifest and Architecture Reference
  SHEET_MANIFEST.md
Due: prettier --write

Phase 5.9: Add comprehensive contributor-oriented documentation
  CONTRIBUTING_TO_SHEET.md
Due: prettier --write

Phase 5: Complete - Add comprehensive completion summary
  PHASE_5_COMPLETION_SUMMARY.md
Due: prettier --write

Phase 5.10: Complete flat context migration - add 4 missing panels with full architecture
  scripts/sheets/v2/context/PANEL_REGISTRY.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  scripts/sheets/v2/context/PanelTypeDefinitions.js
  scripts/sheets/v2/context/PanelValidators.js
  scripts/verify-panel-alignment.js
  templates/actors/character/v2/partials/armor-summary-panel.hbs
  templates/actors/character/v2/partials/equipment-ledger-panel.hbs
  templates/actors/character/v2/partials/relationships-panel.hbs
  templates/actors/character/v2/partials/special-combat-actions-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 5.10: Remove dead code - unused flat context variable declarations
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

Phase 6.1-6.4: Add operational hardening - performance, UI stability, diagnostics
  PHASE_6_AUDIT.md
  scripts/sheets/v2/PanelDiagnostics.js
  scripts/sheets/v2/PanelVisibilityManager.js
  scripts/sheets/v2/UIStateManager.js
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix, prettier --write

Phase 6.5-6.8: Add comprehensive documentation - Foundry coupling, extension recipes
  EXTENSION_RECIPES.md
  FOUNDRY_COUPLING_RISKS.md
Due: prettier --write

Phase 6 Complete: Operational Hardening - Summary & Closure
  PHASE_6_COMPLETION.md
Due: prettier --write

Phase 7a: Complete V2 sheet platform design system consolidation
  MIGRATION_ROADMAP_DROID.md
  MIGRATION_ROADMAP_NPC.md
  PHASE_7_AUDIT.md
  SHEET_PLATFORM_VOCABULARY.md
  V2_CSS_PRIMITIVES.md
  V2_SHEET_PLATFORM_ARCHITECTURE.md
  V2_SHEET_RECIPES.md
  scripts/sheets/v2/PanelVisibilityManager.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/shared/PanelDiagnostics.js
  scripts/sheets/v2/shared/PanelVisibilityManager.js
  scripts/sheets/v2/shared/UIStateManager.js
Due: eslint --fix, prettier --write

Phase 7b: Begin NPC sheet V2 migration - core infrastructure
  scripts/sheets/v2/npc/NPCPanelContextBuilder.js
  scripts/sheets/v2/npc/NPCPanelValidators.js
  scripts/sheets/v2/npc/NPCPanelVisibilityManager.js
  scripts/sheets/v2/npc/NPCSheet.js
  scripts/sheets/v2/npc/PANEL_REGISTRY.js
  styles/sheets/v2-npc-specific.css
  templates/v2/npc/npc-sheet-body.hbs
  templates/v2/npc/npc-sheet-header.hbs
  templates/v2/npc/npc-sheet-tabs.hbs
  templates/v2/npc/npc-sheet.hbs
  templates/v2/npc/panels/abilities-panel.hbs
  templates/v2/npc/panels/biography-panel.hbs
  templates/v2/npc/panels/combat-notes-panel.hbs
  templates/v2/npc/panels/combat-panel.hbs
  templates/v2/npc/panels/defense-panel.hbs
  templates/v2/npc/panels/feats-panel.hbs
  templates/v2/npc/panels/health-panel.hbs
  templates/v2/npc/panels/inventory-panel.hbs
  templates/v2/npc/panels/languages-panel.hbs
  templates/v2/npc/panels/portrait-panel.hbs
  templates/v2/npc/panels/skills-panel.hbs
  templates/v2/npc/panels/talents-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 7b: Wire NPC sheet into system registration
  index.js
  system.json
Due: eslint --fix, prettier --write

Add Phase 7 progress report
  PHASE_7_PROGRESS.md
Due: prettier --write

Phase 7b: Fix NPC sheet templates and add migration report
  NPC_SHEET_MIGRATION_REPORT.md
  templates/v2/npc/npc-sheet-body.hbs
  templates/v2/npc/panels/abilities-panel.hbs
Due: node scripts/validate/validate-icon-keys.js, prettier --write

Phase 7c: Complete Droid sheet V2 migration - core infrastructure
  index.js
  scripts/sheets/v2/droid/DroidPanelContextBuilder.js
  scripts/sheets/v2/droid/DroidPanelValidators.js
  scripts/sheets/v2/droid/DroidPanelVisibilityManager.js
  scripts/sheets/v2/droid/DroidSheet.js
  scripts/sheets/v2/droid/PANEL_REGISTRY.js
  styles/sheets/v2-droid-specific.css
  system.json
  templates/v2/droid/droid-sheet-body.hbs
  templates/v2/droid/droid-sheet-header.hbs
  templates/v2/droid/droid-sheet-tabs.hbs
  templates/v2/droid/droid-sheet.hbs
  templates/v2/droid/panels/abilities-panel.hbs
  templates/v2/droid/panels/combat-panel.hbs
  templates/v2/droid/panels/customizations-panel.hbs
  templates/v2/droid/panels/defenses-panel.hbs
  templates/v2/droid/panels/droid-notes-panel.hbs
  templates/v2/droid/panels/droid-summary-panel.hbs
  templates/v2/droid/panels/inventory-panel.hbs
  templates/v2/droid/panels/portrait-panel.hbs
  templates/v2/droid/panels/programming-panel.hbs
  templates/v2/droid/panels/protocols-panel.hbs
  templates/v2/droid/panels/skills-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Update Phase 7 progress: Phase 7c infrastructure complete
  PHASE_7_PROGRESS.md
Due: prettier --write

Phase 9: Implement Formal Partial and Subpartial Contract System
  docs/governance/PARTIAL_NAMING_CONVENTIONS.md
  docs/governance/PARTIAL_SUBPARTIAL_CONTRACT.md
  docs/governance/PARTIAL_SUBPARTIAL_GOVERNANCE.md
  docs/governance/ROW_TRANSFORMER_STANDARD.md
  docs/governance/SVG_BACKED_PARTIAL_STANDARD.md
  scripts/sheets/v2/shared/PartialRegistry.js
  scripts/sheets/v2/shared/PartialValidator.js
  scripts/sheets/v2/shared/RowTransformerHelpers.js
Due: eslint --fix, prettier --write

Phase 9b: Add Sentinel Runtime Contract Enforcement for Partials
  docs/governance/SENTINEL_PARTIAL_MONITOR.md
  scripts/sheets/v2/shared/SentinelIntegration.js
  scripts/sheets/v2/shared/SentinelPartialMonitor.js
  styles/sheets/v2-sheet.css
Due: eslint --fix, prettier --write

Add Phase 9 deliverables summary document
  PHASE_9_DELIVERABLES.md
Due: prettier --write

docs: Comprehensive engine governance audit
  AUDIT-ENGINE-GOVERNANCE-2026.md
Due: prettier --write

docs: Focused critical mutation enforcement audit
  AUDIT-CRITICAL-MUTATION-ENFORCEMENT.md
Due: prettier --write
