Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

docs(gm): document Phase 8D-2 independent-review round-3 correction pass (§174-178)
  docs/audits/gm-datapad-ecosystem-redesign.md
Due: prettier --write

docs(gm): record Phase 8D-2 independent-review gate CLOSED (§179)
  docs/audits/gm-datapad-ecosystem-redesign.md
Due: prettier --write

feat(generation): Phase 8D-3A production planet-name/system-root catalogs
  scripts/generation/data/planet-name-syllables.js
  scripts/generation/data/procedural-planet-names.js
Due: eslint --fix

feat(generation): Phase 8D-3A production traits/hazards/history-hook catalogs
  scripts/generation/data/planet-hazards.js
  scripts/generation/data/planet-history-hooks.js
  scripts/generation/data/planet-traits.js
Due: eslint --fix

feat(generation): Phase 8D-3A production world-class/climate/hydrosphere/atmosphere/gravity expansion
  scripts/generation/planets/planet-profile.js
  scripts/generation/planets/planet-quality-tables.js
Due: eslint --fix

feat(generation): Phase 8D-3A species prevalence, native/dominant colonization, numeric population, droid-context, Trade Resolver tuning
  scripts/generation/planets/planet-draft.js
  scripts/generation/planets/planet-population.js
  scripts/generation/planets/planet-trade.js
Due: eslint --fix

test(generation): update Phase 8D-2 suite for the artificial-habitat locationType exception
  tests/gm-generation-phase8d2-foundation.test.mjs
Due: none

feat(generation): Phase 8D-3A production government/stability/economy/commodity catalogs
  scripts/generation/data/galactic-commodities.js
  scripts/generation/data/planet-economies.js
  scripts/generation/data/planet-governments.js
  scripts/generation/planets/planet-stability.js
Due: eslint --fix

feat(generation): Phase 8D-3A production POI_TEMPLATES catalog (34 -> 194)
  scripts/generation/data/poi-templates.js
Due: eslint --fix

feat(generation): Phase 8D-3A POI naming component pools + per-style place-names
  scripts/generation/data/poi-place-name-components.js
  scripts/generation/data/settlement-name-components.js
  scripts/generation/names/poi-place-name-generator.js
  scripts/generation/planets/poi-generator.js
Due: eslint --fix

feat(generation): Phase 8D-3A planet+POI bundle generator + reroll operations
  scripts/generation/planets/planet-bundle.js
  scripts/generation/planets/poi-generator.js
Due: eslint --fix

feat(generation): Phase 8D-3A planet presets system
  scripts/generation/data/planet-presets.js
  scripts/generation/planets/planet-draft.js
Due: eslint --fix

feat(generation): Phase 8D-3A planet draft SUGGEST-tier hooks (archetypes, events, secret)
  scripts/generation/data/planet-hook-archetypes.js
  scripts/generation/data/planet-secrets.js
  scripts/generation/planets/planet-draft.js
  scripts/generation/planets/planet-hooks.js
Due: eslint --fix

feat(generation): Phase 8D-3A planet diagnostics expansion + richer summary prose
  scripts/generation/lib/description-composer.js
  scripts/generation/lib/generator-diagnostics.js
  scripts/generation/planets/planet-draft.js
Due: eslint --fix

test(generation): Phase 8D-3A production suite (catalogs, semantics, bundle, determinism)
  tests/gm-generation-phase8d3a-production.test.mjs
Due: none

docs(gm): record Phase 8D-3A completion report (§180-181)
  docs/audits/gm-datapad-ecosystem-redesign.md
Due: prettier --write

fix(generation): Phase 8D-3A correction pass -- gaps caught against spec's own checklists
  docs/audits/gm-datapad-ecosystem-redesign.md
  scripts/generation/planets/planet-bundle.js
  scripts/generation/planets/planet-draft.js
  scripts/generation/planets/planet-profile.js
  scripts/generation/planets/planet-stability.js
  tests/gm-generation-phase8d3a-production.test.mjs
Due: eslint --fix, prettier --write

fix(generation): Phase 8D-3A correction pass round 2 -- independent review fixes 1-10
  docs/audits/gm-datapad-ecosystem-redesign.md
  scripts/generation/data/planet-hook-archetypes.js
  scripts/generation/data/planet-region-bias.js
  scripts/generation/data/technology-specialties.js
  scripts/generation/lib/generator-diagnostics.js
  scripts/generation/planets/planet-bundle.js
  scripts/generation/planets/planet-draft.js
  scripts/generation/planets/planet-population.js
  scripts/generation/planets/planet-profile.js
  scripts/generation/planets/planet-quality-tables.js
  scripts/generation/planets/poi-generator.js
  tests/gm-generation-phase8d3a-production.test.mjs
Due: eslint --fix, prettier --write

fix(generation): Phase 8D-3A correction pass round 3 -- three dependency bugs + one data fix
  docs/audits/gm-datapad-ecosystem-redesign.md
  scripts/generation/planets/planet-bundle.js
  scripts/generation/planets/planet-draft.js
  scripts/generation/planets/planet-quality-tables.js
  tests/gm-generation-phase8d3a-production.test.mjs
Due: eslint --fix, prettier --write

fix(generation): Phase 8D-3A correction pass round 4 -- government -> Trade Resolver dependency
  docs/audits/gm-datapad-ecosystem-redesign.md
  scripts/generation/planets/planet-draft.js
  tests/gm-generation-phase8d3a-production.test.mjs
Due: eslint --fix, prettier --write

fix(generation): Phase 8D-3B correction pass — factionDraftId wiring, publicDescription freshness, Location context, GM Field Authoring API
  docs/audits/gm-datapad-ecosystem-redesign.md
  scripts/generation/factions/faction-bundle.js
  scripts/generation/lib/draft-field-authoring.js
  scripts/generation/npc-concept.js
  scripts/generation/npc/npc-bundle.js
  scripts/generation/npc/npc-characterization.js
  scripts/generation/npc/npc-field-authoring.js
  scripts/generation/npc/npc-field-definitions.js
  scripts/generation/npc/npc-flavor.js
  scripts/generation/npc/npc-occupation.js
  tests/gm-generation-phase8d3b-production.test.mjs
Due: eslint --fix, prettier --write

Phase 8D-3B correction pass round 2: field sovereignty, capability enforcement, Faction->Contact locationContext
  docs/audits/gm-datapad-ecosystem-redesign.md
  scripts/generation/factions/faction-bundle.js
  scripts/generation/lib/draft-field-authoring.js
  scripts/generation/npc/npc-bundle.js
  tests/gm-generation-phase8d3b-production.test.mjs
Due: eslint --fix, prettier --write

Phase 8D-3B correction pass round 3: Contact<->Location multi-valued relationship model
  docs/audits/gm-datapad-ecosystem-redesign.md
  scripts/generation/data/npc-location-relationship-types.js
  scripts/generation/data/npc-location-relationships.js
  scripts/generation/npc-concept.js
  scripts/generation/npc/npc-bundle.js
  scripts/generation/npc/npc-characterization.js
  scripts/generation/npc/npc-location-link-actions.js
  scripts/generation/npc/npc-location-link.js
  tests/gm-generation-phase8d3b-production.test.mjs
Due: eslint --fix, prettier --write

Phase 8D-3B correction pass round 4: Contact<->Location resilience hardening
  docs/audits/gm-datapad-ecosystem-redesign.md
  scripts/generation/npc/npc-location-link-actions.js
  scripts/generation/npc/npc-location-link.js
  tests/gm-generation-phase8d3b-production.test.mjs
Due: eslint --fix, prettier --write

Phase 8D-3B correction pass round 5: Contact<->Location schema-freeze hardening
  docs/audits/gm-datapad-ecosystem-redesign.md
  scripts/generation/lib/generator-diagnostics.js
  scripts/generation/npc/npc-bundle.js
  scripts/generation/npc/npc-location-link-actions.js
  scripts/generation/npc/npc-location-link.js
  tests/gm-generation-phase8d3b-production.test.mjs
Due: eslint --fix, prettier --write

Phase 8D-3B correction pass round 6: provenance merge order + strict primary boolean validation
  docs/audits/gm-datapad-ecosystem-redesign.md
  scripts/generation/npc/npc-bundle.js
  scripts/generation/npc/npc-location-link-actions.js
  tests/gm-generation-phase8d3b-production.test.mjs
Due: eslint --fix, prettier --write

feat(gm-datapad): hydrate phase 8D-3B NPC and Faction catalogs
  docs/audits/gm-datapad-ecosystem-redesign.md
  scripts/generation/data/faction-institutional-characters.js
  scripts/generation/data/faction-leadership-structures.js
  scripts/generation/data/faction-resource-flavors.js
  scripts/generation/data/npc-agendas.js
  scripts/generation/data/npc-appearance-traits.js
  scripts/generation/data/npc-complications.js
  scripts/generation/data/npc-desires.js
  scripts/generation/data/npc-faction-roles.js
  scripts/generation/data/npc-fears.js
  scripts/generation/data/npc-flavor-qualities-droid.js
  scripts/generation/data/npc-flavor-qualities-organic.js
  scripts/generation/data/npc-location-relationships.js
  scripts/generation/data/npc-loyalty-profiles.js
  scripts/generation/data/npc-mannerisms-droid.js
  scripts/generation/data/npc-mannerisms.js
  scripts/generation/data/npc-motivations.js
  scripts/generation/data/npc-narrative-functions.js
  scripts/generation/data/npc-occupations.js
  scripts/generation/data/npc-relationship-hooks.js
  scripts/generation/data/npc-secrets.js
  scripts/generation/data/npc-social-roles.js
  scripts/generation/data/npc-social-styles.js
  scripts/generation/data/npc-speech-styles.js
  scripts/generation/data/npc-temperaments.js
  scripts/generation/data/npc-voice-qualities-droid.js
  scripts/generation/data/npc-voice-qualities-organic.js
  tests/gm-generation-phase8d3b-production.test.mjs
Due: eslint --fix, prettier --write

fix(gm-datapad): phase 8D-3B hydration correction round (test guards + content QA)
  docs/audits/gm-datapad-ecosystem-redesign.md
  scripts/generation/data/npc-complications.js
  scripts/generation/data/npc-fears.js
  scripts/generation/data/npc-flavor-qualities-organic.js
  scripts/generation/data/npc-motivations.js
  scripts/generation/data/npc-relationship-hooks.js
  scripts/generation/data/npc-secrets.js
  tests/gm-generation-phase8d3b-production.test.mjs
Due: eslint --fix, prettier --write

feat(gm-datapad): Phase 8D-3C Jobs generation — initial wiring pass
  docs/audits/gm-datapad-ecosystem-redesign.md
  scripts/generation/data/job-hooks.js
  scripts/generation/data/job-stakes.js
  scripts/generation/jobs/job-bundle.js
  scripts/generation/jobs/job-draft.js
  scripts/generation/jobs/job-field-authoring.js
  scripts/generation/jobs/job-field-definitions.js
  scripts/generation/jobs/job-hook.js
  scripts/generation/jobs/job-stake.js
  scripts/generation/lib/generator-diagnostics.js
  tests/gm-generation-phase8d3c-jobs-production.test.mjs
Due: eslint --fix, prettier --write

fix(gm-datapad): Phase 8D-3C correction round 1 (context normalization, GM-safe regeneration, opposition/reward authority fixes)
  docs/audits/gm-datapad-ecosystem-redesign.md
  scripts/generation/jobs/job-bundle.js
  scripts/generation/jobs/job-context.js
  scripts/generation/jobs/job-draft.js
  scripts/generation/jobs/job-field-definitions.js
  scripts/generation/lib/reference-duality.js
  scripts/generation/npc/npc-bundle.js
  tests/gm-generation-phase8d3c-jobs-production.test.mjs
Due: eslint --fix, prettier --write

wip(gm-datapad): Phase 8D-3C correction round 2, items 1-5 (checkpoint)
  scripts/generation/jobs/job-bundle.js
  scripts/generation/jobs/job-draft.js
Due: eslint --fix

fix(sheets,progression): scope shell CSS off shared classes; unify progression responsive authority on ResizeObserver
  scripts/apps/progression-framework/shell/progression-rail-resizer.js
  scripts/sheets/v2/contract-enforcer.js
  scripts/ui/shell/shell-responsive-observer.js
  styles/apps/gm-datapad.css
  styles/progression-framework/chargen-stabilization.css
  styles/progression-framework/option-cards.css
  styles/progression-framework/progression-shell.css
  styles/progression-framework/steps/class-step.css
  styles/sheets/v2-concept-sheet.css
  styles/system/shell-host.css
  styles/system/store-surface.css
Due: eslint --fix

fix(progression): remove dead summary-panel collapse CSS; fill work-surface body
  styles/progression-framework/progression-shell.css
Due: none

fix(progression): unify embedded responsive authority; retire duplicate is-prog-* system
  docs/audits/progression-responsive-layout-audit.md
  scripts/apps/progression-framework/shell/progression-layout-observer.js
  scripts/ui/shell/shell-responsive-observer.js
  styles/progression-framework/progression-shell.css
  templates/apps/progression-framework/progression-shell.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

fix(gm-datapad): Phase 8D-3C correction round 2 (whole-regen sovereignty, duality boundary, opposition/reward wiring, Job Secret)
  docs/audits/gm-datapad-ecosystem-redesign.md
  scripts/generation/data/job-reward-suggestions.js
  scripts/generation/data/job-secrets.js
  scripts/generation/jobs/job-bundle.js
  scripts/generation/jobs/job-draft.js
  scripts/generation/jobs/job-reward-suggestion.js
  scripts/generation/jobs/job-secret.js
  tests/gm-generation-phase8d3c-jobs-production.test.mjs
Due: eslint --fix, prettier --write

docs(gm-datapad): document future JobEngine canonical-mutation boundary (§199, 8D-4)
  docs/audits/gm-datapad-ecosystem-redesign.md
  scripts/generation/jobs/job-draft.js
Due: eslint --fix, prettier --write

docs(gm-datapad): capture Phase 8D-4 CampaignMutationCoordinator architecture (§200)
  docs/audits/gm-datapad-ecosystem-redesign.md
Due: prettier --write

docs(gm-datapad): refine Phase 8D-4 design with shared contracts, event bus, adapter registry (§201)
  docs/audits/gm-datapad-ecosystem-redesign.md
Due: prettier --write

docs(gm-datapad): capture 8D-4 CampaignEffect/OutcomeResolver design + flag Faction/Contact identity gap (§202)
  docs/audits/gm-datapad-ecosystem-redesign.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
