Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

CRITICAL: Refactor signals to preserve multi-horizon structure
  scripts/engine/suggestion/SuggestionEngine.js
Due: eslint --fix

Update Phase 1 validation for multi-horizon signals
  PHASE_1_VALIDATION_INSTRUCTIONS.md
Due: prettier --write

Phase 2: Switch consumption path to selectFromSuggestionV2()
  scripts/engine/suggestion/SuggestionService.js
Due: eslint --fix

Phase 2: Add validation logging to atom selection
  scripts/engine/mentor/mentor-reason-selector.js
Due: eslint --fix

Add Phase 2 validation instructions
  PHASE_2_VALIDATION_INSTRUCTIONS.md
Due: prettier --write

Add Phase 3 cleanup plan
  PHASE_3_CLEANUP_PLAN.md
Due: prettier --write

Implement prestige delay calculation module and wire into advisory system
  scripts/engine/suggestion/SuggestionEngine.js
  scripts/engine/suggestion/SuggestionScorer.js
  scripts/engine/suggestion/prestige-delay-calculator.js
Due: eslint --fix

Implement advisory generation layer for suggestion tradeoff explanations
  scripts/engine/suggestion/AdvisoryEngine.js
  scripts/engine/suggestion/SuggestionScorer.js
Due: eslint --fix

Add comprehensive audit: Archetype Affinity Weighting & Chain Detection
  AUDIT_AFFINITY_WEIGHTING_AND_CHAINS.md
Due: prettier --write

Implement Tier 1: Archetype Affinity + Chain Continuation Weighting
  scripts/engine/archetype/chain-registry.js
  scripts/engine/suggestion/SuggestionScorer.js
Due: eslint --fix

Integrate Tier 1: Archetype Affinity Computation in BuildIntent
  scripts/core/phase5-init.js
  scripts/engine/suggestion/BuildIntent.js
Due: eslint --fix

Fix: Pass identityBias directly to _computeIdentityProjectionScore
  scripts/engine/suggestion/SuggestionScorer.js
Due: eslint --fix

Add: Tier 1 Validation Test Suite
  scripts/engine/suggestion/tier1-validation.test.js
Due: eslint --fix

Add: TIER 1 Complete Implementation Documentation
  TIER1-IMPLEMENTATION.md
Due: prettier --write

Add: Tier 1 Pressure Test Suite & Comprehensive Test Protocol
  TIER1-PRESSURE-TEST-PROTOCOL.md
  scripts/engine/suggestion/tier1-pressure-test.js
Due: eslint --fix, prettier --write

Add: Tier 1 Standalone Pressure Test Simulation
  scripts/engine/suggestion/tier1-standalone-simulation.js
Due: eslint --fix

Add: Complete character data analysis & scoring walkthroughs
  scripts/engine/suggestion/character-data-analysis.js
  scripts/engine/suggestion/scoring-walkthrough.js
Due: eslint --fix

Add: Complete Tier 1 Detailed Analysis Guide
  TIER1_DETAILED_ANALYSIS.md
Due: prettier --write

Add: Phase 2 Complete Audit Report (2A-2E)
  PHASE_2_AUDIT_REPORT.md
Due: prettier --write

Phase 2A-2B Infrastructure: Slot filtering, milestone forecasting, cadence rules
  scripts/engine/progression/data/progression-data.js
  scripts/engine/suggestion/CandidatePoolBuilder.js
  scripts/engine/suggestion/MilestoneComputer.js
  scripts/engine/suggestion/SuggestionScorer.js
  scripts/engine/suggestion/slot-context-detector.js
Due: eslint --fix

Phase 2C: Add defense-need metric to Immediate scoring
  scripts/engine/suggestion/SuggestionScorer.js
Due: eslint --fix

Add talent tree UUID-keyed tags mapping for theme alignment
  data/talent-tree-tags.json
Due: prettier --write

Intelligently resolve all 13 unresolved talent tree tags
  data/talent-tree-tags.json
Due: prettier --write

Phase 2B-2E Integration: Milestones, Force Techniques, Attribute Increases
  scripts/engine/suggestion/AttributeIncreaseScorer.js
  scripts/engine/suggestion/BuildIntent.js
  scripts/engine/suggestion/SuggestionEngine.js
Due: eslint --fix

Phase 2F: Tag Inheritance & Context Envelope
  data/metadata/force-power-tags.byId.json
  data/metadata/force-power-tags.report.json
  data/metadata/talent-tree-tags.json
  scripts/engine/suggestion/CandidatePoolBuilder.js
  scripts/engine/suggestion/EvidenceCardFactory.js
  scripts/engine/suggestion/SuggestionScorer.js
  scripts/engine/suggestion/TAG_INHERITANCE_GUIDE.md
  scripts/engine/suggestion/TalentCandidateEnricher.js
  scripts/engine/suggestion/TalentTreeTagRegistry.js
Due: eslint --fix, prettier --write

Fix Force Power metadata: clarify 43 missing vs. 11 bonus in compendium
  data/metadata/force-power-tags.byId.json
  data/metadata/force-power-tags.report.json
Due: prettier --write

Add complete Force Powers compendium - 42 powers
  packs/forcepowers.db
Due: none

Wire Force Shield power and other defensive force powers to effect engine
  scripts/engine/force/force-executor.js
  scripts/engine/force/force-power-effects-engine.js
  scripts/infrastructure/hooks/force-power-hooks.js
  tests/force-power-effects.test.js
Due: eslint --fix

Expand Force Power Effects Engine to handle all 42 force powers
  scripts/engine/force/force-power-effects-engine.js
Due: eslint --fix

Add comprehensive architectural audit report for progression engine
  COMPREHENSIVE_ARCHITECTURAL_AUDIT_REPORT.md
Due: prettier --write

Complete all 12 phases of architectural audit - Final summary delivered
  AUDIT_FINAL_EXECUTIVE_SUMMARY.md
Due: prettier --write

Update audit reports with Phase 3 data authority findings
  AUDIT_FINAL_EXECUTIVE_SUMMARY.md
  COMPREHENSIVE_ARCHITECTURAL_AUDIT_REPORT.md
Due: prettier --write

Complete all 12 phases - Add Phase 6 Mentor System Integration audit
  AUDIT_FINAL_EXECUTIVE_SUMMARY.md
  COMPREHENSIVE_ARCHITECTURAL_AUDIT_REPORT.md
Due: prettier --write

PHASE 1: Fix ApplicationV2 lifecycle violations in progression UIs
  scripts/apps/chargen/CharacterGeneratorApp.js
  scripts/apps/levelup/debug-panel.js
  scripts/apps/levelup/prestige-roadmap.js
Due: eslint --fix

PHASE 2: Enforce progression rules integrity and consolidate talent cadence
  scripts/apps/chargen/chargen-feats-talents.js
  scripts/apps/levelup/levelup-dual-talent-progression.js
  scripts/engine/progression/talents/slot-calculator.js
  scripts/engine/progression/talents/talent-cadence-engine.js
Due: eslint --fix

PHASE 3: Restore mutation authority - route flag writes through ActorEngine
  scripts/apps/chargen/chargen-main.js
Due: eslint --fix

Phase 3 COMPLETE: Secondary mutation bypasses fixed + tempActor determinism improved
  docs/VALIDATION_STATE_CONTRACT.md
  scripts/apps/chargen/chargen-feats-talents.js
  scripts/apps/chargen/chargen-templates.js
  scripts/engine/progression/utils/snapshot-manager.js
Due: eslint --fix, prettier --write

Phase 4 INITIAL: Suggestion transparency + mentor integration foundation
  scripts/apps/levelup/levelup-main.js
  scripts/apps/levelup/mentor-interaction-integration.js
  scripts/core/init.js
  styles/components/suggestion-card.css
  templates/partials/suggestion-card.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 4 CONTINUATION: Advisory coordinator + comprehensive documentation
  docs/PHASE_4_COMPLETION_REPORT.md
  scripts/engine/mentor/mentor-advisory-coordinator.js
Due: eslint --fix, prettier --write

Phase 4 Final Blocker Remediation: Feat Validation, Talent Cadence, Listener Stability
  scripts/apps/chargen/chargen-main.js
  scripts/apps/levelup/levelup-enhanced.js
  scripts/apps/levelup/levelup-main.js
  scripts/engine/suggestion/MilestoneComputer.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
