Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Repair repeatable follower talent ranks and slots
  scripts/patches/follower-repeatable-entitlement-hotfix.js
Due: eslint --fix

Enable Droid Garage for follower droids
  scripts/patches/follower-droid-garage-hotfix.js
Due: eslint --fix

Register repeatable follower and droid garage repairs
  scripts/patches/runtime-bugfix-hotfixes-init.js
Due: eslint --fix

Use canonical actor attributes for prerequisites
  scripts/patches/canonical-ability-prerequisite-hotfix.js
Due: eslint --fix

Waive impossible multiclass starting feat choices
  scripts/engine/progression/utils/levelup-entitlement-manifest.js
Due: eslint --fix

Register canonical ability prerequisite repair
  scripts/patches/runtime-bugfix-hotfixes-init.js
Due: eslint --fix

Prepare v4.1.0 release manifest
  system.json
Due: prettier --write

Prepare v4.1.1 release manifest
  system.json
Due: prettier --write

Move legacy document defaults out of deprecated template.json
  data/document-type-defaults.json
Due: prettier --write

Add V14 document default authority
  scripts/data-models/document-defaults.js
Due: eslint --fix

Register V14 document defaults before system init
  scripts/patches/runtime-bugfix-hotfixes-init.js
Due: eslint --fix

Add deterministic V14 manifest migration
  tools/migrate-v14-system-manifest.mjs
Due: none

Apply V14 manifest migration on compatibility branch
  .github/workflows/apply-v14-manifest-migration.yml
Due: none

Harden inline customization action adapter
  scripts/ui/shell/CustomizationSurfaceAdapter.js
Due: eslint --fix

Repair Garage footer action delegation
  scripts/patches/customization-footer-actions-hotfix.js
Due: eslint --fix

Register Garage footer action repair
  scripts/patches/runtime-bugfix-hotfixes-init.js
Due: eslint --fix

Activate Holopad games surface controller
  scripts/patches/games-surface-runtime-hotfix.js
Due: eslint --fix

Register playable Games surface runtime
  scripts/patches/runtime-bugfix-hotfixes-init.js
Due: eslint --fix

Add Pazaak deal and draw animations
  styles/system/pazaak-interactions.css
Due: none

Complete Pazaak controls and deal presentation
  scripts/patches/games-surface-runtime-hotfix.js
Due: eslint --fix

Add Sabacc dealing and table action presentation
  styles/system/sabacc-interactions.css
Due: none

Wire Sabacc controls and card animations
  scripts/patches/sabacc-surface-interactions-hotfix.js
Due: eslint --fix

Register Sabacc interaction repair
  scripts/patches/runtime-bugfix-hotfixes-init.js
Due: eslint --fix

Honor chargen draft ability scores in feat prerequisites
  scripts/patches/canonical-ability-prerequisite-hotfix.js
Due: eslint --fix

Scope pending ability increases to active actor
  scripts/patches/canonical-ability-prerequisite-hotfix.js
Due: eslint --fix

Add shared GM datapad interaction repair layer
  scripts/ui/shell/gm/GMInteractionRepairService.js
Due: eslint --fix

Bind shared GM datapad interaction repairs after surface controllers
  scripts/ui/shell/gm/controllers/GMSurfaceControllerRegistry.js
Due: eslint --fix

Keep GM datapad repair layer active when a surface controller fails
  scripts/ui/shell/gm/controllers/GMSurfaceControllerRegistry.js
Due: eslint --fix

Repair broken GM controller service contracts
  scripts/ui/shell/gm/GMControllerCompatibilityService.js
Due: eslint --fix

Apply GM controller compatibility repairs before binding
  scripts/ui/shell/gm/controllers/GMSurfaceControllerRegistry.js
Due: eslint --fix

Repair Locations modal and smart-drop initialization
  scripts/ui/shell/gm/GMControllerCompatibilityService.js
Due: eslint --fix

Restore current Dossier faction and contact command actions
  scripts/ui/shell/gm/GMControllerCompatibilityService.js
Due: eslint --fix

Fail loudly when a GM surface controller cannot find its page
  scripts/ui/shell/gm/controllers/GMSurfaceControllerRegistry.js
Due: eslint --fix

Correct Trade and Skill Challenge surface root selectors
  scripts/ui/shell/gm/controllers/GMSurfaceControllerRegistry.js
Due: eslint --fix

Add persistent HP and Force Point editors to V2 character sheets
  scripts/sheets/v2/character-sheet/resource-editor.js
Due: eslint --fix

Wire persistent HP and Force Point editors into V2 sheets
  scripts/sheets/v2/character-sheet/listeners.js
Due: eslint --fix

Route semantic Force Power drops into the Force suite
  scripts/sheets/v2/character-sheet/drop-ui.js
Due: eslint --fix

Phase 1 rolling-system alignment: fix Force Point spend, modifier parity, attack outcome
  docs/audits/rolling-system-alignment-phase-1.md
  scripts/combat/rolls/attacks.js
  scripts/combat/systems/vehicle/vehicle-weapons.js
  scripts/engine/combat/SWSEInitiative.js
  scripts/engine/combat/attack-outcome-resolver.js
  scripts/engine/effects/modifiers/ModifierEngine.js
  scripts/engine/effects/modifiers/modifier-breakdown-builder.js
  scripts/engine/force/force-executor.js
  scripts/engine/force/force-point-spend-coordinator.js
  scripts/engine/force/force-points-service.js
  scripts/engine/force/force-regimen-executor.js
  scripts/engine/roll/roll-core.js
  tests/attack-outcome-resolver.test.mjs
  tests/attack-outcome-ssot-check.test.mjs
  tests/attack-outcome-wiring.test.mjs
  tests/attack-transaction-rollback.test.mjs
  tests/force-point-transaction-integrity.test.mjs
  tests/modifier-breakdown-builder.test.mjs
  tests/modifier-total-breakdown-parity.test.mjs
  tools/check-attack-outcome-ssot.mjs
Due: eslint --fix, prettier --write

Phase 2 rolling-system alignment: remove critical-confirmation, fix reroll outcome, align legacy/vehicle paths
  docs/audits/rolling-system-alignment-phase-2.md
  index.js
  scripts/actors/vehicle/swse-vehicle-core.js
  scripts/combat/rolls/attacks.js
  scripts/combat/rolls/enhanced-rolls.js
  scripts/combat/systems/vehicle/vehicle-weapons.js
  scripts/engine/combat/attack-roll-diagnostics.js
  scripts/engine/combat/reactions/reaction-registry.js
  scripts/engine/feats/meta-resource-feat-resolver.js
  scripts/rolls/roll-config.js
  templates/chat/holo-roll.hbs
  tests/critical-confirmation-guard-check.test.mjs
  tests/phase2-critical-confirmation-removal.test.mjs
  tests/phase2-legacy-facade-delegation.test.mjs
  tests/phase2-multi-target-outcome-independence.test.mjs
  tests/phase2-reroll-outcome-integrity.test.mjs
  tests/phase2-vehicle-attack-alignment.test.mjs
  tools/check-attack-outcome-ssot.mjs
  tools/check-critical-confirmation-guard.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Phase 3 rolling-system alignment: vehicle operator math, reroll supersession
  docs/audits/rolling-system-alignment-phase-3.md
  scripts/combat/rolls/attacks.js
  scripts/engine/combat/attack-roll-diagnostics.js
  scripts/engine/feats/meta-resource-feat-resolver.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/vehicle-sheet/crew-skill-router.js
  scripts/sheets/v2/vehicle-sheet/vehicle-context-builder.js
  scripts/ui/chat/chat-interaction-bridge.js
  tests/phase3-diagnostics-harness.test.mjs
  tests/phase3-reroll-supersession.test.mjs
  tests/phase3-vehicle-operator-resolution.test.mjs
  tests/reroll-supersession-guard-check.test.mjs
  tools/check-reroll-supersession-guard.mjs
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
