Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

Fix: Render translation container before animation starts
  scripts/apps/progression-framework/steps/intro-step.js
Due: eslint --fix

Fix: Wait for DOM render to complete before starting translation animation
  scripts/apps/progression-framework/steps/intro-step.js
Due: eslint --fix

Fix: Bring chargen shell to front after render to ensure visibility
  scripts/apps/progression-framework/shell/progression-shell.js
Due: eslint --fix

Fix: Make chargen button onClick handler synchronous with proper error handling
  scripts/infrastructure/hooks/chargen-sheet-hooks.js
Due: eslint --fix

Fix: Make all header button onClick handlers synchronous
  scripts/infrastructure/hooks/actor-sidebar-controls.js
  scripts/infrastructure/hooks/levelup-sheet-hooks.js
  scripts/infrastructure/hooks/mentor-sheet-hooks.js
  scripts/infrastructure/hooks/store-sheet-hooks.js
Due: eslint --fix

Feature: Make chargen and levelup buttons mutually exclusive based on completion
  scripts/infrastructure/hooks/chargen-sheet-hooks.js
  scripts/infrastructure/hooks/levelup-sheet-hooks.js
Due: eslint --fix

Remove: Delete CONDITIONS button from character sheet header
  scripts/sheets/v2/character-sheet.js
  templates/actors/character/v2/character-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Fix: Change header control handlers from onClick to handler
  scripts/infrastructure/hooks/actor-sidebar-controls.js
  scripts/infrastructure/hooks/chargen-sheet-hooks.js
  scripts/infrastructure/hooks/levelup-sheet-hooks.js
  scripts/infrastructure/hooks/mentor-sheet-hooks.js
  scripts/infrastructure/hooks/store-sheet-hooks.js
Due: eslint --fix

Fix: Resolve intro animation DOM contract failure and CSS asset paths
  scripts/apps/progression-framework/steps/intro-step.js
  styles/ui/swse-holo-phase1.css
  templates/apps/progression-framework/steps/intro-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

SVG file for Selections in Chargen
  assets/ui/chargen/swse-angled-option-frame-compact.svg
  assets/ui/chargen/swse-angled-option-frame-hover.svg
  assets/ui/chargen/swse-angled-option-frame-locked.svg
  assets/ui/chargen/swse-angled-option-frame-recommended.svg
  assets/ui/chargen/swse-angled-option-frame-selected.svg
  assets/ui/chargen/swse-angled-option-frame.svg
  assets/ui/chargen/swse-section-header-plate.svg
Due: none

Create cursor
  assets/cursor
Due: none

Delete assets/cursor
  assets/cursor
Due: none

Add files via upload
  assets/swse-cursor-default.svg
  assets/swse-cursor-forbidden.svg
  assets/swse-cursor-grab.svg
  assets/swse-cursor-grabbing.svg
  assets/swse-cursor-hover.svg
  assets/swse-cursor-precision.svg
  assets/swse-cursor-select.svg
Due: none

Add swse-cursor-default.svg to assets
  assets/cursor/swse-cursor-default.svg
Due: none

Add swse-cursor-forbidden.svg asset
  assets/cursor/swse-cursor-forbidden.svg
Due: none

Add swse-cursor-select.svg file
  assets/cursor/swse-cursor-select.svg
Due: none

Add swse-cursor-precision.svg asset
  assets/cursor/swse-cursor-precision.svg
Due: none

Add swse-cursor-hover.svg file
  assets/cursor/swse-cursor-hover.svg
Due: none

Add swse-cursor-grabbing.svg asset
  assets/cursor/swse-cursor-grabbing.svg
Due: none

Rename assets/swse-cursor-grab.svg to assets/cursor/swse-cursor-grab.svg
  assets/cursor/swse-cursor-grab.svg
Due: none

PROGRESSION LAUNCH ARCHITECTURE FIX: Consolidate authority and add routing
  scripts/apps/progression-framework/progression-entry.js
  scripts/infrastructure/hooks/actor-sidebar-controls.js
  scripts/infrastructure/hooks/ui-hooks.js
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

Fix progression UI interaction and layout issues
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/attribute-step.js
  scripts/apps/progression-framework/steps/background-step.js
  scripts/apps/progression-framework/steps/class-step.js
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/apps/progression-framework/steps/force-power-step.js
  scripts/apps/progression-framework/steps/force-secret-step.js
  scripts/apps/progression-framework/steps/force-technique-step.js
  scripts/apps/progression-framework/steps/l1-survey-step.js
  scripts/apps/progression-framework/steps/language-step.js
  scripts/apps/progression-framework/steps/name-step.js
  scripts/apps/progression-framework/steps/skills-step.js
  scripts/apps/progression-framework/steps/species-step.js
  scripts/apps/progression-framework/steps/starship-maneuver-step.js
  scripts/apps/progression-framework/steps/summary-step.js
  scripts/apps/progression-framework/steps/talent-step.js
  styles/ui/swse-holo-phase1.css
Due: eslint --fix

Apply AbortController listener cleanup pattern to talent-step.js
  scripts/apps/progression-framework/steps/talent-step.js
Due: eslint --fix

Add 4 missing character sheet event handlers
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

Fix 5 critical progression UI geometry issues
  styles/progression-framework/holo-theme.css
  styles/progression-framework/mentor-rail.css
  styles/progression-framework/progression-shell.css
  templates/apps/progression-framework/mentor-rail.hbs
Due: node scripts/validate/validate-icon-keys.js

Delete unused v2 character partials and cleanup preload registry
  helpers/handlebars/partials-auto.js
  scripts/core/load-templates.js
  templates/actors/character/v2/partials/combat-action-card.hbs
  templates/actors/character/v2/partials/combat-action-table.hbs
  templates/actors/character/v2/partials/combat-attacks-simplified.hbs
  templates/actors/character/v2/partials/gear-panel.hbs
  templates/actors/character/v2/partials/inventory-item-row.hbs
  templates/partials/ship-combat-actions-panel.hbs
  templates/partials/ui/combat/action-economy-display.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 1: Add sheet-native character record partials and Record tab
  scripts/core/load-templates.js
  styles/sheets/v2-sheet.css
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/character/v2/partials/bio-profile-panel.hbs
  templates/actors/character/v2/partials/character-record-header.hbs
  templates/actors/character/v2/partials/notes-panel.hbs
  templates/actors/character/v2/partials/portrait-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 1 Refinement: Use derived class display instead of manual field
  scripts/sheets/v2/character-sheet.js
  templates/actors/character/v2/partials/character-record-header.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 2: Add biography and relationships panels with dedicated tabs
  scripts/core/load-templates.js
  scripts/sheets/v2/character-sheet.js
  styles/sheets/v2-sheet.css
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/character/v2/partials/biography-log-panel.hbs
  templates/actors/character/v2/partials/relationships-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 3: Add equipment ledger and armor summary panels to Record tab
  scripts/core/load-templates.js
  scripts/sheets/v2/character-sheet.js
  styles/sheets/v2-sheet.css
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/character/v2/partials/armor-summary-panel.hbs
  templates/actors/character/v2/partials/equipment-ledger-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 4: Add special combat notes panel and improve Phase 3 equipment surfaces
  scripts/core/load-templates.js
  scripts/sheets/v2/character-sheet.js
  styles/sheets/v2-sheet.css
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/character/v2/partials/armor-summary-panel.hbs
  templates/actors/character/v2/partials/equipment-ledger-panel.hbs
  templates/actors/character/v2/partials/special-combat-actions-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 5: Deep revision of combat/survivability sheet surfaces for record-sheet presentation
  scripts/sheets/v2/character-sheet.js
  styles/sheets/v2-sheet.css
  templates/actors/character/v2/partials/attacks-panel.hbs
  templates/actors/character/v2/partials/defenses-panel.hbs
  templates/actors/character/v2/partials/hp-condition-panel.hbs
  templates/actors/character/v2/partials/resources-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 6: Fidelity layer - record-sheet reference surfaces and DSP enhancement
  scripts/core/load-templates.js
  scripts/sheets/v2/character-sheet.js
  styles/sheets/v2-sheet.css
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/character/v2/partials/dark-side-panel.hbs
  templates/actors/character/v2/partials/force-powers-known-panel.hbs
  templates/actors/character/v2/partials/talents-known-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 7: Polish and hardening - responsive design, print readiness, accessibility
  scripts/sheets/v2/character-sheet.js
  styles/sheets/v2-sheet.css
  templates/actors/character/v2/partials/armor-summary-panel.hbs
  templates/actors/character/v2/partials/attacks-panel.hbs
  templates/actors/character/v2/partials/force-powers-known-panel.hbs
  templates/actors/character/v2/partials/special-combat-actions-panel.hbs
  templates/actors/character/v2/partials/talents-known-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 4: Structural repair and actor-contract remediation
  scripts/core/load-templates.js
  templates/actors/character/tabs/abilities-tab.hbs
  templates/actors/character/tabs/biography-tab.hbs
  templates/actors/character/tabs/combat-tab.hbs
  templates/actors/character/tabs/force-tab.hbs
  templates/actors/character/tabs/import-export-tab.hbs
  templates/actors/character/tabs/inventory-tab.hbs
  templates/actors/character/tabs/skills-tab.hbs
  templates/actors/character/tabs/summary-tab.hbs
  templates/actors/character/tabs/talents-tab.hbs
  templates/actors/character/v2/partials/hp-condition-panel.hbs
  templates/actors/character/v2/partials/identity-strip.hbs
  templates/actors/character/v2/partials/summary/damage-reduction.hbs
  templates/actors/npc/v2/npc-sheet.hbs
  templates/partials/ui/combat/action-enforcement-mode-indicator.hbs
  templates/partials/ui/combat/combat-action-economy-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 5B: Resolve Phase 4 blockers
  scripts/core/load-templates.js
  templates/actors/character/v2/partials/summary/shield-rating.hbs
  templates/actors/npc/v2/npc-combat-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

PASS 1: Implement three Bucket B sheet-exposure items
  scripts/actors/derived/derived-calculator.js
  scripts/sheets/v2/character-sheet.js
  templates/actors/character/v2/partials/equipment-ledger-panel.hbs
  templates/actors/character/v2/partials/hp-condition-panel.hbs
  templates/actors/character/v2/partials/resources-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

PASS 2: Implement narrative fields with Option A authority
  templates/actors/character/v2/partials/character-record-header.hbs
Due: node scripts/validate/validate-icon-keys.js
