Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Add Phase 2.5 implementation report with detailed examples and constraints verification
  PHASE_2.5_IMPLEMENTATION_REPORT.md
Due: prettier --write

Wire up mentor atom system integration (Phase 2.6)
  scripts/engine/mentor/validate-mentor-integration.js
  scripts/engine/progression/hooks/system-init-hooks.js
  scripts/engine/suggestion/SuggestionEngine.js
  scripts/engine/suggestion/selectReasonAtoms.js
Due: eslint --fix

Phase 2.6: Clean mentor integration semantic architecture
  MENTOR_INTEGRATION_SCHEMA.md
  MENTOR_INTEGRATION_SUMMARY.txt
  PHASE_2_6_DELIVERABLES.md
  scripts/engine/mentor/MENTOR_INTEGRATION_FLOW.md
  scripts/engine/mentor/mentor-reason-selector.js
  scripts/engine/suggestion/SuggestionEngine.js
  scripts/engine/suggestion/reason-signal-builder.js
Due: eslint --fix, prettier --write

Phase 2.7: Integrate MentorReasonSelector into SuggestionService enrichment
  PHASE_2_7_INTEGRATION_COMPLETE.md
  PHASE_2_7_STRATEGY.md
  scripts/engine/suggestion/SuggestionService.js
Due: eslint --fix, prettier --write

Add comprehensive Phase 2.6-2.7 summary documentation
  MENTOR_INTEGRATION_COMPLETE_SUMMARY.md
Due: prettier --write

Phase 2.8: Mentor voice & personality integration - atoms to explanation
  PHASE_2_8_IMPLEMENTATION_COMPLETE.md
  PHASE_2_8_MENTOR_VOICE_STRATEGY.md
  scripts/engine/mentor/mentor-atom-phrases.js
  scripts/engine/mentor/mentor-judgment-engine.js
  scripts/mentor/mentor-suggestion-voice.js
Due: eslint --fix, prettier --write

Add final comprehensive summary: Phases 2.6-2.8 complete
  MENTOR_INFRASTRUCTURE_FINAL_SUMMARY.md
Due: prettier --write

Implement Phase 3.0-A: BuildAnalysisEngine + ArchetypeTrendRegistry
  scripts/engine/analysis/archetype-trend-registry.js
  scripts/engine/analysis/build-analysis-engine.js
  scripts/engine/analysis/index.js
  scripts/engine/analysis/phase-3-demo.js
Due: eslint --fix

Apply Phase 3.0-A Audit Findings: Consolidations + Mentor Bridge
  scripts/engine/analysis/archetype-trend-registry.js
  scripts/engine/analysis/build-analysis-engine.js
  scripts/engine/analysis/index.js
  scripts/engine/analysis/mentor-advisory-bridge.js
  scripts/engine/analysis/phase-3-audit-report.js
Due: eslint --fix

Comprehensive mentor system exploration and analysis
  scripts/engine/analysis/index.js
  scripts/engine/analysis/mentor-system-exploration.js
Due: eslint --fix

Complete mentor dialogue architecture audit—forensic analysis
  scripts/engine/analysis/index.js
  scripts/engine/analysis/mentor-dialogue-audit.js
Due: eslint --fix

Add Phase 3.0-A mentor integration readiness documentation
  PHASE_3_INTEGRATION_READINESS.md
Due: prettier --write

Phase 3.0-B: Complete mentor atom vocabulary
  scripts/engine/analysis/phase-3-b-atom-vocabulary-plan.js
  scripts/engine/mentor/mentor-atom-phrases.js
Due: eslint --fix

Add Phase 3.0-B completion documentation
  PHASE_3_B_ATOM_VOCABULARY_COMPLETE.md
Due: prettier --write

Add mentor dialogue assembly audit—critical architecture discovery
  scripts/engine/analysis/MENTOR_ASSEMBLY_AUDIT.md
Due: prettier --write

Implement MentorInteractionOrchestrator—clean architectural boundary
  scripts/engine/mentor/MENTOR_ORCHESTRATOR_INTEGRATION.md
  scripts/engine/mentor/mentor-interaction-orchestrator.js
  scripts/engine/mentor/mentor-interaction-orchestrator.test.js
Due: eslint --fix, prettier --write

Add Phase 3.0 implementation report—complete system overview
  scripts/engine/analysis/PHASE_3-0_IMPLEMENTATION_REPORT.md
Due: prettier --write

Implement Trajectory Mode and Emergent Archetype Detection
  scripts/engine/analysis/build-analysis-engine.js
  scripts/engine/analysis/trajectory-planning-engine.js
  scripts/engine/analysis/trajectory-planning-engine.test.js
  scripts/engine/mentor/mentor-interaction-orchestrator.js
  scripts/engine/mentor/mentor-interaction-orchestrator.test.js
Due: eslint --fix

Implement Advisory Schema v1.1 with Tier XI Placeholder Enforcement
  ADVISORY_GOVERNANCE.md
  schemas/advisory.schema.json
  scripts/engine/progression/engine/validators/advisory-validator.js
  scripts/validate/validate-advisory.js
Due: eslint --fix, prettier --write

mentor dialogue
  data/dialogue/mentors/axiom/axiom_advisory_stub.json
  data/dialogue/mentors/breach/breach_advisory_stub.json
  data/dialogue/mentors/captain/captain_advisory_stub.json
  data/dialogue/mentors/darth_malbada/darth_malbada_advisory_stub.json
  data/dialogue/mentors/darth_miedo/darth_miedo_advisory_stub.json
  data/dialogue/mentors/delta/delta_advisory_stub.json
  data/dialogue/mentors/dezmin/dezmin_advisory_stub.json
  data/dialogue/mentors/infiltrator/infiltrator_advisory_stub.json
  data/dialogue/mentors/j0_n1/j0_n1_advisory_stub.json
  data/dialogue/mentors/jack/jack_advisory_stub.json
  data/dialogue/mentors/kex_varon/kex_varon_advisory_stub.json
  data/dialogue/mentors/kharjo/kharjo_advisory_stub.json
  data/dialogue/mentors/korr/korr_advisory_stub.json
  data/dialogue/mentors/krag/krag_advisory_stub.json
  data/dialogue/mentors/kyber/kyber_advisory_stub.json
  data/dialogue/mentors/lead/lead_advisory_stub.json
  data/dialogue/mentors/marl_skindar/marl_skindar_advisory_stub.json
  data/dialogue/mentors/mayu/mayu_advisory_stub.json
  data/dialogue/mentors/miraj/miraj_advisory_stub.json
  data/dialogue/mentors/ol_salty/ol_salty_advisory_stub.json
  data/dialogue/mentors/pegar/pegar_advisory_stub.json
  data/dialogue/mentors/rajma/rajma_advisory_stub.json
  data/dialogue/mentors/rax/rax_advisory_stub.json
  data/dialogue/mentors/riquis/riquis_advisory_stub.json
  data/dialogue/mentors/rogue/rogue_advisory_stub.json
  data/dialogue/mentors/sela/sela_advisory_stub.json
  data/dialogue/mentors/seraphim/seraphim_advisory_stub.json
  data/dialogue/mentors/spark/spark_advisory_stub.json
  data/dialogue/mentors/theron/theron_advisory_stub.json
  data/dialogue/mentors/tio_the_hutt/tio_the_hutt_advisory_stub.json
  data/dialogue/mentors/urza/urza_advisory_stub.json
  data/dialogue/mentors/vera/vera_advisory_stub.json
  data/dialogue/mentors/whisper/whisper_advisory_stub.json
  data/dialogue/mentors/zhen/zhen_advisory_stub.json
Due: prettier --write

updating dialogues
  data/dialogue/mentors/axiom/axiom_advisory_stub.json
  data/dialogue/mentors/breach/breach_advisory_stub.json
  data/dialogue/mentors/captain/captain_advisory_stub.json
  data/dialogue/mentors/darth_malbada/darth_malbada_advisory_stub.json
  data/dialogue/mentors/darth_miedo/darth_miedo_advisory_stub.json
  data/dialogue/mentors/delta/delta_advisory_stub.json
  data/dialogue/mentors/dezmin/dezmin.json
  data/dialogue/mentors/dezmin/dezmin_advisory_stub.json
  data/dialogue/mentors/dezmin/dezmin_dialogue.json
  data/dialogue/mentors/j0_n1/j0_n1_advisory_stub.json
  data/dialogue/mentors/jack/jack_advisory_stub.json
  data/dialogue/mentors/kex_varon/kex_varon_advisory_stub.json
  data/dialogue/mentors/kharjo/kharjo.json
  data/dialogue/mentors/kharjo/kharjo_advisory_stub.json
  data/dialogue/mentors/korr/korr_advisory_stub.json
  data/dialogue/mentors/krag/krag_advisory_stub.json
  data/dialogue/mentors/kyber/kyber_advisory_stub.json
  data/dialogue/mentors/lead/lead_advisory_stub.json
  data/dialogue/mentors/marl_skindar/marl_skindar_advisory_stub.json
  data/dialogue/mentors/mayu/mayu_advisory_stub.json
  data/dialogue/mentors/miraj/miraj_advisory_stub.json
  data/dialogue/mentors/seraphim/seraphim_advisory_stub.json
Due: prettier --write

Wire deterministic encouragement injection into advisory payload
  scripts/dialogue/runtime/getEncouragementLine.js
  scripts/engine/mentor/mentor-interaction-orchestrator.js
Due: eslint --fix

Fix mentor registry: replace duplicate infiltrator with dezmin (m13)
  data/dialogue/mentor_registry.json
  data/dialogue/mentors/dezmin/dezmin_dialogues.json
Due: prettier --write

Merge whisper/delta/infiltrator into canonical 'whisper' (Delta) entry
  data/dialogue/mentor_registry.json
  data/dialogue/mentors/whisper/whisper.json
  data/dialogue/mentors/whisper/whisper_dialogue.json
  scripts/engine/mentor/mentor-json-loader.js
Due: eslint --fix, prettier --write

Implement deterministic Emotional Routing Layer for mentor advisory
  scripts/dialogue/runtime/emotionalRoutingMatrix.js
  scripts/dialogue/runtime/getJudgmentOverlay.js
  scripts/engine/mentor/mentor-interaction-orchestrator.js
Due: eslint --fix

Migrate whisper content into canonical delta entry
  data/dialogue/mentor_registry.json
  data/dialogue/mentors/delta/delta.json
Due: prettier --write

more dialogue updates
  data/dialogue/mentors/axiom/axiom.json
  data/dialogue/mentors/darth_malbada/darth_malbada.json
  data/dialogue/mentors/darth_miedo/darth_miedo.json
  data/dialogue/mentors/j0_n1/j0_n1.json
  data/dialogue/mentors/ol_salty/ol_salty_advisory_stub.json
  data/dialogue/mentors/pegar/pegar_advisory_stub.json
  data/dialogue/mentors/rajma/rajma_advisory_stub.json
  data/dialogue/mentors/rax/rax_advisory_stub.json
  data/dialogue/mentors/riquis/riquis_advisory_stub.json
  data/dialogue/mentors/rogue/rogue_advisory_stub.json
  data/dialogue/mentors/sela/sela_advisory_stub.json
  data/dialogue/mentors/seraphim/seraphim.json
  data/dialogue/mentors/spark/spark_advisory_stub.json
  data/dialogue/mentors/theron/theron_advisory_stub.json
  data/dialogue/mentors/tio_the_hutt/tio_the_hutt_advisory_stub.json
  data/dialogue/mentors/urza/urza_advisory_stub.json
  data/dialogue/mentors/vera/vera_advisory_stub.json
  data/dialogue/mentors/zhen/zhen_advisory_stub.json
Due: prettier --write

Fix mentor-judgment-engine import path (remove extra systems/ directory)
  scripts/engine/mentor/mentor-reason-judgment-map.js
Due: eslint --fix

Fix all JavaScript import paths across codebase
  scripts/apps/progression/progression-ui.js
  scripts/core/swse-api.js
  scripts/data-models/character-data-model.js
  scripts/engine/integrity/world-integrity-sweep.js
  scripts/governance/sentinel/migration-manager.js
  scripts/mentor/mentor-memory.test.js
  scripts/mentor/mentor-suggestion-bias.js
  scripts/ui/combat-panel-manager.js
  scripts/ui/defense-tooltip.js
  scripts/ui/inventory-handlers.js
  scripts/ui/weapon-config-dialog.js
  scripts/ui/weapon-tooltip.js
  scripts/utils/force-power-manager.js
Due: eslint --fix

Fix remaining import path issues and add TODO for unimplemented modules
  scripts/data-models/character-data-model.js
  scripts/governance/sentinel/migration-manager.js
  scripts/mentor/mentor-memory.test.js
  scripts/mentor/mentor-suggestion-bias.js
Due: eslint --fix

PHASE 1: Remove dead MigrationEngine infrastructure
  scripts/governance/sentinel/layers/migration-mutation-layer.js
  scripts/governance/sentinel/migration-manager.js
  scripts/governance/sentinel/sentinel-registry.js
Due: eslint --fix

PHASE 2: Complete DSP forensic audit documentation
  DSP_AUDIT_REPORT.md
Due: prettier --write

Refactor DSP system to use canonical DSPEngine (part 1)
  scripts/engine/darkside/dsp-engine.js
  scripts/engine/mentor/mentor-story-resolver.js
  scripts/mentor/mentor-chat-dialog.js
  scripts/mentor/mentor-dialogue-v2-integration.js
  scripts/mentor/mentor-suggestion-bias.js
Due: eslint --fix

Refactor DSP system to use canonical DSPEngine (part 2)
  scripts/actors/v2/character-actor.js
  scripts/data/prerequisite-checker.js
  scripts/engine/progression/engine/force-secret-suggestion-engine.js
  scripts/utils/force-enhancement-detector.js
  scripts/utils/force-points.js
Due: eslint --fix

Complete DSP refactoring: Update levelup-talents.js to use DSPEngine
  scripts/apps/levelup/levelup-talents.js
Due: eslint --fix

Wire DSPEngine to house rules and add schema entry
  scripts/engine/darkside/dsp-engine.js
  template.json
Due: eslint --fix, prettier --write

CRITICAL FIX: Unify DSP mutations to canonical storage location
  scripts/engine/force/force-engine.js
  scripts/utils/force-points.js
Due: eslint --fix

Fix final DSP mutation site in DarkSidePowers.js
  scripts/talents/DarkSidePowers.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
