Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

PHASE 1: Combat Core Stabilization - Data Model Canonicalization
  scripts/engines/combat/CombatEngine.js
  scripts/engines/combat/damage-resolution-engine.js
  scripts/engines/combat/threshold-engine.js
Due: eslint --fix

Fix HBS template context layer - add HP, Bonus HP, and condition track display
  scripts/sheets/v2/character-sheet.js
  templates/actors/character/v2/partials/hp-condition-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Fix character sheet context and template mismatches
  scripts/sheets/v2/character-sheet.js
  template.json
  templates/actors/character/v2/partials/Feats.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Wire racial abilities into character actor derived data
  scripts/actors/v2/character-actor.js
Due: eslint --fix

Implement V2 baseline inventory system
  scripts/actors/v2/character-actor.js
  scripts/engines/inventory/InventoryEngine.js
  scripts/sheets/v2/character-sheet.js
  styles/sheets/inventory.css
  system.json
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/character/v2/partials/inventory-item-row.hbs
  templates/actors/character/v2/partials/inventory-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

[PHASE 1] Armor Modifier Registration — ModifierEngine Implementation
  PHASE-1-IMPLEMENTATION-REPORT.md
  scripts/data-models/actor-data-model.js
  scripts/data-models/character-data-model.js
  scripts/engines/effects/modifiers/ModifierEngine.js
  tests/phase1-armor-modifier-test.js
Due: eslint --fix, prettier --write

[PHASE 2] Legacy Armor Math Removal — Complete Consolidation
  PHASE-2-COMPLETION-REPORT.md
  scripts/data-models/actor-data-model.js
  scripts/data-models/character-data-model.js
Due: eslint --fix, prettier --write

[PHASE 3] Technical Debt Elimination — Structured Flags & Fallbacks
  PHASE-3-COMPLETION-REPORT.md
  scripts/apps/upgrade-rules-engine.js
  scripts/engines/effects/modifiers/ModifierEngine.js
Due: eslint --fix, prettier --write

[PHASE 4] Structured Data Migration & Fallback Removal — Complete
  PHASE-4-MIGRATION-COMPLETION-REPORT.md
  scripts/apps/upgrade-rules-engine.js
  scripts/engines/effects/modifiers/ModifierEngine.js
  scripts/migration/armor-system-migration-v4.js
Due: eslint --fix, prettier --write

[PHASE 5] Upgrade Integration & Final Consolidation — COMPLETE
  PHASE-5-FINAL-CONSOLIDATION-REPORT.md
  scripts/armor/armor-upgrade-system.js
  scripts/engines/effects/modifiers/ModifierEngine.js
Due: eslint --fix, prettier --write

Phase A: Fix critical V2 violation in defense calculation
  scripts/data-models/actor-data-model.js
  scripts/rolls/skills-reference.js
  template.json
Due: eslint --fix, prettier --write

Phase B: Create EncumbranceEngine — Weight & Load Calculation
  scripts/engine/encumbrance/EncumbranceEngine.js
  scripts/engines/effects/modifiers/ModifierEngine.js
Due: eslint --fix

Phase C: Implement AmmoSystem — Ammunition Management & Consumption
  scripts/combat/rolls/enhanced-rolls.js
  scripts/engines/inventory/ammo-system.js
Due: eslint --fix

Phase D: Consolidate Inventory Cards — Unified Item Display
  templates/actors/character/v2/partials/inventory-armor-card.hbs
  templates/actors/character/v2/partials/inventory-item-card.hbs
  templates/actors/character/v2/partials/inventory-panel.hbs
  templates/actors/character/v2/partials/inventory-weapon-card.hbs
Due: node scripts/validate/validate-icon-keys.js

Phase E: Defense Breakdown Tooltip System — Modifier Transparency
  scripts/ui/defense-tooltip.js
  templates/actors/character/v2/partials/defense-breakdown-tooltip.hbs
  templates/actors/character/v2/partials/defenses-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 1: Weapons V2 Compliance Audit - 8 Critical Violations Found
  WEAPONS-V2-COMPLIANCE-AUDIT.md
Due: prettier --write

Implement Phase 2 Weapons Compliance Fix: WeaponsEngine
  scripts/engines/combat/weapons-engine.js
  scripts/engines/effects/modifiers/ModifierEngine.js
Due: eslint --fix

Implement Phase 3 Weapons Compliance Fix: Structured Talent & Property Flags
  scripts/migration/weapon-properties-migration.js
  scripts/migration/weapon-talents-migration.js
  template.json
Due: eslint --fix, prettier --write

Implement Phase 4 Weapons Suite: Weapon Configuration UI
  scripts/ui/inventory-handlers.js
  scripts/ui/weapon-config-dialog.js
  templates/actors/character/v2/partials/inventory-weapon-card.hbs
  templates/ui/weapon-config-dialog.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Implement Phase 5 Weapons Suite: Damage Breakdown Tooltips
  scripts/ui/weapon-tooltip.js
  templates/actors/character/v2/partials/inventory-weapon-card.hbs
  templates/ui/weapon-damage-tooltip.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Add Weapons V2 Implementation Completion Report
  WEAPONS-V2-IMPLEMENTATION-COMPLETE.md
Due: prettier --write

Integrate Weapons System with Combat Tab Attack Cards
  scripts/ui/combat-panel-manager.js
  templates/actors/character/v2/partials/attacks-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Fix Abilities Panel Data Binding - Proper Attribute Wiring
  templates/actors/character/v2/partials/abilities-panel.hbs
Due: node scripts/validate/validate-icon-keys.js

Improve Skills Panel Data Binding & User Guidance
  templates/actors/character/v2/partials/skills-panel.hbs
Due: node scripts/validate/validate-icon-keys.js

Add Character Sheet Wiring Verification Document
  CHARACTER-SHEET-WIRING-VERIFICATION.md
Due: prettier --write

Enhance Extra Skill Uses Wiring & Documentation
  templates/actors/character/v2/partials/skills-panel.hbs
Due: node scripts/validate/validate-icon-keys.js

Roll System Consolidation Phase 1-6: Unified Roll Architecture
  ROLL_CONSOLIDATION_REPORT.md
  scripts/core/rolls-init.js
  scripts/engines/combat/SWSEInitiative.js
  scripts/engines/roll/roll-core.js
  scripts/rolls/defenses.js
  scripts/rolls/force-powers.js
  scripts/rolls/initiative.js
  scripts/rolls/saves.js
  scripts/rolls/skills.js
Due: eslint --fix, prettier --write

Consolidate Force Point system into unified service layer (Phase 1-7)
  helpers/handlebars/swse-helpers.js
  scripts/data-models/character-data-model.js
  scripts/engines/force/force-points-service.js
  scripts/engines/roll/roll-core.js
  scripts/governance/actor-engine/actor-engine.js
  scripts/utils/force-points.js
Due: eslint --fix

PHASE 1: Consolidate Force Point Calculation (Unified Architecture)
  scripts/engines/force/force-points-service.js
  scripts/engines/roll/roll-core.js
  scripts/utils/force-points.js
Due: eslint --fix

PHASES 2-4: RollCore Integration, ActorEngine Authority, Death Rescue Guard
  scripts/engines/combat/damage-resolution-engine.js
  scripts/engines/force/force-points-service.js
  scripts/utils/force-points.js
Due: eslint --fix

PHASE 5: Remove Duplicate Force Point Implementations
  scripts/combat/rolls/enhanced-rolls.js
  scripts/data-models/character-data-model.js
Due: eslint --fix

🔧 Defense System Consolidation (Phase 2 Final)
  scripts/actors/derived/derived-calculator.js
  scripts/apps/follower-creator.js
  scripts/combat/active-effects-manager.js
  scripts/combat/systems/grappling-system.js
  scripts/components/combat-action-bar.js
  scripts/data-models/actor-data-model.js
  scripts/data/droid-modifications.js
  scripts/engines/combat/subsystems/vehicle/vehicle-dogfighting.js
  scripts/engines/combat/threshold-engine.js
  scripts/engines/combat/vehicles/utils/vehicle-shared.js
  scripts/engines/effects/modifiers/ModifierEngine.js
  scripts/engines/talent/light-side-talent-mechanics.js
  scripts/engines/talent/soldier-talent-mechanics.js
  scripts/engines/talent/talent-effect-engine.js
  scripts/engines/talent/talents.js
Due: eslint --fix

Phase 1: Condition Track Authority Cleanup
  scripts/data-models/actor-data-model.js
  scripts/data-models/character-data-model.js
  scripts/data-models/vehicle-data-model.js
  scripts/engines/combat/threshold-engine.js
  scripts/engines/talent/talent-effect-engine.js
  scripts/governance/actor-engine/actor-engine.js
  scripts/talents/DarkSidePowers.js
Due: eslint --fix

Phase 2: Remove Duplicate Penalty Logic from DataModel
  scripts/data-models/actor-data-model.js
Due: eslint --fix

Phase 3: Route Condition Track Mutations Through ActorEngine
  scripts/combat/damage-system.js
  scripts/engines/combat/threshold-engine.js
Due: eslint --fix

Phase 4: Repair ActiveEffects - Remove Phantom Field Writes
  scripts/combat/active-effects-manager.js
  scripts/combat/systems/grappling-system.js
Due: eslint --fix

Phase 6: Unify Persistent Logic to Single Boolean
  scripts/apps/nonheroic-units-browser.js
  scripts/build/import-nonheroic-units-to-compendium.js
Due: eslint --fix

Fix Remaining Condition Track Issues - Post-Audit Corrections
  scripts/data-models/actor-data-model.js
  scripts/data-models/character-data-model.js
  scripts/engines/combat/damage-engine-test.js
  scripts/talents/DarkSidePowers.js
  scripts/ui/defense-tooltip.js
Due: eslint --fix

Second Wind System Stabilization: Phase A + B
  scripts/apps/chargen/chargen-main.js
  scripts/combat/swse-combat.js
  scripts/engines/combat/SecondWindEngine.js
  scripts/governance/actor-engine/actor-engine.js
  scripts/houserules/houserule-settings.js
Due: eslint --fix

Second Wind System Completion: Phase C
  scripts/chat/chat-commands.js
  scripts/components/combat-action-bar.js
  scripts/governance/actor-engine/actor-engine.js
  scripts/houserules/houserule-presets.js
Due: eslint --fix
