Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Revise ARCHITECTURE.md to enhance clarity and detail
  docs/ARCHITECTURE.md
Due: prettier --write

PHASE 4 STEP 1: Create DROID_SYSTEM_DEFINITIONS canonical registry
  scripts/domain/droids/droid-system-definitions.js
Due: eslint --fix

PHASE 4 STEP 2: Create DroidModificationFactory pure factory
  scripts/domain/droids/droid-modification-factory.js
Due: eslint --fix

PHASE 4 STEP 3: Add Droid Systems Tab Entry Point
  scripts/sheets/v2/droid-sheet-v2.js
  templates/sheets/droid-sheet-v2.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

PHASE 4 STEP 4: Build DroidModificationApp transaction UI
  scripts/apps/droid-modification-app.js
  templates/apps/droid-modification/droid-modification-app.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

PHASE 4 STEP 5: Integrate with GM Review Pipeline
  scripts/apps/droid-modification-app.js
  scripts/domain/droids/droid-transaction-service.js
Due: eslint --fix

PHASE 4 STEP 6: Enforce Domain Slot Governance
  scripts/domain/droids/droid-modification-factory.js
  scripts/domain/droids/droid-slot-governance.js
Due: eslint --fix

PHASE 4 STEP 7: Ensure Derived Calculation Remains Sovereign
  scripts/engines/effects/modifiers/ModifierEngine.js
Due: eslint --fix

PHASE 4 STEP 8: Add Sell-Only Flow
  scripts/apps/droid-modification-app.js
  templates/apps/droid-modification/droid-modification-app.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

PHASE 4 STEP 9: Test Matrix - Comprehensive Droid Modifications Testing
  tests/phase-4/droid-modifications.test.js
Due: eslint --fix

PHASE 4 STEP 10: Report - Complete Droid Modifications Implementation
  PHASE-4-REPORT.md
Due: prettier --write

PHASE 5: Vehicle Template Sovereignty (Steps 1-5 Complete)
  scripts/domain/vehicles/vehicle-modification-factory.js
  scripts/domain/vehicles/vehicle-slot-governance.js
  scripts/domain/vehicles/vehicle-system-definitions.js
  scripts/domain/vehicles/vehicle-transaction-service.js
Due: eslint --fix

PHASE 6: Vehicle Combat Sovereignty (Complete)
  scripts/engines/effects/modifiers/ModifierEngine.js
  scripts/engines/effects/modifiers/ModifierTypes.js
Due: eslint --fix

PHASE 7: ModifierEngine Unification (Complete)
  scripts/engines/effects/modifiers/modifier-unification-schema.js
Due: eslint --fix

PHASES 8-10: FINAL CERTIFICATION COMPLETE
  PHASES-8-10-CERTIFICATION.md
  scripts/governance/sentinel/mutation-interceptor-lock.js
  scripts/governance/sentinel/performance-sovereignty-lock.js
Due: eslint --fix, prettier --write

COMPLETE: 10-Phase V2 Sovereignty Implementation
  IMPLEMENTATION-SUMMARY.md
Due: prettier --write

Fix missing TalentNode script paths in system.json
  system.json
Due: prettier --write

Remove non-existent progression engine imports and calls
  index.js
Due: eslint --fix

Fix missing talent mechanics imports
  scripts/talents/dark-side-devotee-init.js
  scripts/talents/dark-side-devotee-macros.js
  scripts/talents/dark-side-init.js
  scripts/talents/dark-side-talent-macros.js
  scripts/talents/light-side-init.js
  scripts/talents/light-side-talent-macros.js
  scripts/talents/squad-actions-init.js
Due: eslint --fix

Fix incorrect import paths for talent mechanics
  scripts/actors/vehicle/vehicle-crew-positions.js
  scripts/talents/noble-talent-macros.js
  scripts/talents/prestige-talent-macros.js
  scripts/talents/scoundrel-talent-macros.js
  scripts/talents/scout-talent-macros.js
  scripts/talents/soldier-talent-macros.js
Due: eslint --fix

Fix 404 import path errors in scripts
  scripts/actors/v2/base-actor.js
  scripts/apps/follower-creator.js
  scripts/core/swse-sentinel.js
  scripts/engine/MetaTuning.js
  scripts/engine/StarshipManeuversEngine.js
  scripts/engine/abilities/AbilityEngine.js
  scripts/engine/roll-engine.js
  scripts/engines/progression/talents/TalentTreeRegistry.js
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

Fix broken import paths in infrastructure and engine files
  scripts/actors/v2/character-actor.js
  scripts/engines/progression/hooks/system-init-hooks.js
  scripts/engines/suggestion/equipment/combat-engine.js
  scripts/infrastructure/hooks/follower-hooks.js
  scripts/infrastructure/hooks/force-power-hooks.js
  scripts/infrastructure/hooks/suggestion-hooks.js
Due: eslint --fix

Fix bad import paths across the codebase
  scripts/core/init.js
  scripts/debug/debug-tools.js
  scripts/infrastructure/hooks/hooks-registry.js
  scripts/rolls/skills.js
  tests/archived/batch-2-comprehensive-test.js
Due: eslint --fix

Fix bad script import paths
  scripts/apps/droid-builder-app.js
  scripts/data-models/character-data-model.js
  scripts/engines/inventory/InventoryEngine.js
  scripts/mentor/mentor-chat-dialog.js
  scripts/sheets/v2/droid-sheet-v2.js
  scripts/species/index.js
Due: eslint --fix

Fix logger path and private field syntax in actor-engine.js
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix

Fix incorrect import paths in infrastructure hooks
  scripts/infrastructure/hooks/actor-hooks.js
  scripts/infrastructure/hooks/combat-hooks.js
  scripts/infrastructure/hooks/destiny-hooks.js
  scripts/infrastructure/hooks/levelup-sheet-hooks.js
  scripts/infrastructure/hooks/ui-hooks.js
Due: eslint --fix

Fix import path errors (404 issues)
  scripts/infrastructure/hooks/actor-hooks.js
  scripts/infrastructure/hooks/init-hooks.js
Due: eslint --fix

Fix import paths and object literal syntax errors
  scripts/engines/suggestion/equipment/combat-hooks.js
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix

Fix syntax error and logger casing in ActorEngine
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix

Harden ActorEngine architecture: eliminate drift, enforce single mutation authority
  scripts/core/init.js
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix

PHASE 1: Strip all derived math from DataModels - consolidate to DerivedCalculator
  scripts/data-models/actor-data-model.js
  scripts/data-models/character-data-model.js
  scripts/data-models/vehicle-data-model.js
Due: eslint --fix

PHASE 3: Add comprehensive derived schema structure to SWSEActorDataModel
  scripts/data-models/actor-data-model.js
Due: eslint --fix

PHASE 4-5: Move skills and damage threshold calculations to DerivedCalculator
  scripts/actors/derived/derived-calculator.js
  scripts/data-models/character-data-model.js
  scripts/data-models/vehicle-data-model.js
Due: eslint --fix

PHASE 6-7: Complete DerivedCalculator implementation + clean DataModels
  scripts/actors/derived/defense-calculator.js
  scripts/actors/derived/derived-calculator.js
  scripts/actors/derived/hp-calculator.js
  scripts/data-models/actor-data-model.js
  scripts/data-models/character-data-model.js
Due: eslint --fix

PHASE 8: Audit and fix roll formulas to use derived fields
  scripts/combat/combat-automation.js
  scripts/combat/rolls/enhanced-rolls.js
  scripts/engines/combat/starship/enhanced-commander.js
  scripts/engines/combat/threshold-engine.js
  scripts/engines/combat/vehicles/utils/vehicle-calculations.js
Due: eslint --fix

PHASE 1: Weapon and Armor Schema Normalization - Safe Migration
  packs/armor.db
  packs/weapons.db
Due: none

PHASE 1: Equipment Schema Normalization - Safe & Flexible
  packs/equipment.db
Due: none

PHASE 2: Engine Migration to Structured v2 Item Schema
  scripts/actors/vehicle/swse-vehicle-core.js
  scripts/combat/rolls/enhanced-rolls.js
  scripts/engines/combat/CombatEngine.js
  scripts/engines/suggestion/equipment/scoring/category-normalization-engine.js
  scripts/engines/suggestion/equipment/shared-scoring-utils.js
Due: eslint --fix

PHASE 2b: RangeEngine - Data-Driven Range Profile System
  data/actor-weapon-ranges.json
  scripts/engines/combat/range-engine.js
Due: eslint --fix, prettier --write

.
  DELIVERY_MANIFEST.txt
  IMPLEMENTATION-SUMMARY.md
  VEHICLE_AUDIT_RESULTS.json
  VEHICLE_AUDIT_SUMMARY.csv
  compendium-fix-report.json
  data/actor-weapon-ranges.json
  data/prestige-prerequisites-reference.json
  data/vehicle-weapon-ranges.json
  docs/CHARACTER-SHEET-WIRING-VERIFICATION.md
  docs/IMPLEMENTATION-SUMMARY.md
  docs/MANUAL_STEP_PROCESSOR_DESIGN.md
  docs/MODIFICATION-COMMERCE-INTEGRITY-AUDIT.md
  docs/MODIFICATION-SYSTEMS-V2-AUDIT.md
  docs/PHASE-1-IMPLEMENTATION-REPORT.md
  docs/PHASE-2-COMPLETION-REPORT.md
  docs/PHASE-2-PROGRESSION-MUTATION-AUDIT.md
  docs/PHASE-2-SUGGESTION-PROGRESSION-WIRING-AUDIT.md
  docs/PHASE-3-CHARACTER-SHEET-SYSTEM-AUDIT.md
  docs/PHASE-3-COMPLETION-REPORT.md
  docs/PHASE-4-MIGRATION-COMPLETION-REPORT.md
  docs/PHASE-4-REPORT.md
  docs/PHASE-5-FINAL-CONSOLIDATION-REPORT.md
  docs/PHASES-8-10-CERTIFICATION.md
  docs/PROGRESSION_COMPILER_UNIFICATION.md
  docs/ROLL_CONSOLIDATION_REPORT.md
  docs/SHEET_UNIFICATION_SPEC.md
  docs/VEHICLE_AUDIT_PROMPT.md
  docs/WEAPONS-V2-COMPLIANCE-AUDIT.md
  docs/WEAPONS-V2-IMPLEMENTATION-COMPLETE.md
  init-talents.js
  jest.config.js
  repo_skeleton.txt
  talent-corrections-final.json
  tools/VEHICLE_AUDIT_MAPPING.json
  tools/fix-compendium-issues.js
  tools/reconcile_talents.py
  tools/verify-compendium-fixes.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
