Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Design progression engine correction plan
  PROGRESSION_ENGINE_CORRECTION_PLAN.md
Due: prettier --write

Phase 1: Remove dead code and document correctness guarantees
  scripts/actors/derived/bab-calculator.js
  scripts/actors/derived/defense-calculator.js
  scripts/actors/derived/hp-calculator.js
  scripts/progression/engine/derived-calculator.js
  scripts/progression/integration/finalize-integration.js
Due: eslint --fix

Phase 2: Consolidate validators to single PrerequisiteChecker authority
  scripts/apps/chargen/chargen-force-powers.js
  scripts/apps/chargen/chargen-main.js
  scripts/apps/levelup/levelup-dual-talent-progression.js
  scripts/apps/levelup/levelup-main.js
  scripts/apps/levelup/levelup-talents.js
  scripts/apps/levelup/levelup-validation.js
  scripts/progression/feats/prerequisite_engine.js
  scripts/utils/prerequisite-validator.js
Due: eslint --fix

Phase 3: Add safety hardening with pre-mutation validation
  scripts/engine/progression.js
Due: eslint --fix

Phase 4: Add comprehensive test coverage for progression engine
  tests/progression-engine-correctness.test.js
Due: eslint --fix

Create missing prerequisite_engine.js compatibility shim
  scripts/progression/feats/prerequisite_engine.js
Due: eslint --fix

Fix actor directory null sheet error - enforce default sheet registration
  index.js
Due: eslint --fix

Add forensic sheet resolution diagnostic for V13 AppV2
  FORENSIC_DIAGNOSTIC_GUIDE.md
  index.js
  scripts/core/forensic-sheet-diagnostic.js
Due: eslint --fix, prettier --write

Fix actor.sheet null by moving documentClass assignment into init hook
  index.js
Due: eslint --fix

Disable Phase 3 Structural Enforcement Layer for diagnostic isolation
  scripts/core/v2-render-guard.js
Due: eslint --fix

Fix: Disable forensic sheet diagnostic that was causing sheet instantiation failure
  index.js
Due: eslint --fix

Disable forensic diagnostic import to prevent module loading
  index.js
Due: eslint --fix

Add handoff documentation for Phase 3 enforcement diagnostic work
  HANDOFF.md
Due: prettier --write

Comment out unused forensic sheet diagnostic import
  index.js
Due: eslint --fix

Add sheet registration validation logging
  index.js
Due: eslint --fix

Fix: Move document class registration to top-level for v13 boot order
  index.js
Due: eslint --fix

Fix: Register sheets before documentClass to fix null sheet error
  index.js
Due: eslint --fix

Fix SWSEV2BaseActor boot order - move sheets to top-level
  index.js
Due: eslint --fix

Fix: Handle undefined game.system at module load time
  index.js
Due: eslint --fix

Fix actor sheet registration for Foundry v13 (registration-only)
  index.js
Due: eslint --fix

fixes
  RUN2_STATUS.md
  docs/CSS_AUDIT_PASS_B_FINDINGS.md
  docs/CSS_AUDIT_PASS_C_FINDINGS.md
  docs/FORENSIC_DIAGNOSTIC_GUIDE.md
  docs/PHASE2_UUID_INJECTION.md
  docs/PREREQUISITE_ENGINE_UUID_UPGRADE.md
  docs/PROGRESSION_ENGINE_CORRECTION_PLAN.md
  docs/RUN2_COMPLETION_REPORT.md
  docs/RUN2_COMPLETION_SUMMARY.md
  docs/RUN2_FINAL_STATUS.md
  docs/RUN2_HANDOFF.md
  docs/RUN2_PASS4_AUDIT.md
  docs/RUN2_PASS5_VERIFICATION.md
  docs/RUN2_STATUS.md
  docs/SESSION_SUMMARY.md
  index.js
Due: eslint --fix, prettier --write

Add final sheet cache reset (V13 stability patch)
  index.js
Due: eslint --fix

Implement sheet stabilizer module for V13 lifecycle safety
  index.js
  scripts/core/sheet-stabilizer.js
Due: eslint --fix

Update index.js
  index.js
Due: eslint --fix

Fix 'ready' hook error: set _sheet to undefined instead of deleting
  scripts/core/sheet-stabilizer.js
Due: eslint --fix

Fix Handlebars partial registration with recursive directory scanning
  helpers/handlebars/partials-auto.js
Due: eslint --fix

updates
  .github/workflows/partials-check.yml
  helpers/handlebars/partials-auto.js
  package.json
  templates/actors/character/tabs/starship-maneuvers-tab.hbs
  templates/actors/droid/droid-sheet.hbs
  templates/actors/vehicle/vehicle-sheet.hbs
  templates/apps/droid-builder.hbs
  templates/apps/homebrew-manager.hbs
  templates/partials/ability-card.hbs
  templates/partials/droid-builder-budget.hbs
  templates/partials/starship-maneuvers-panel.hbs
  templates/partials/suggestion-card.hbs
  tools/generate-partials-manifest.mjs
  tools/validate-partials.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Mirror CharacterSheetV2 AppV2 pattern to NPC, Droid, and Vehicle sheets
  scripts/sheets/v2/droid-sheet.js
  scripts/sheets/v2/npc-sheet.js
  scripts/sheets/v2/vehicle-sheet.js
Due: eslint --fix

Refactor NPC, Droid, and Vehicle sheets to match CharacterSheet V2 pattern
  scripts/sheets/v2/droid-sheet.js
  scripts/sheets/v2/npc-sheet.js
  scripts/sheets/v2/vehicle-sheet.js
Due: eslint --fix

Restore Store button to Actor Directory sidebar
  scripts/apps/chargen-init.js
Due: eslint --fix

Remove nested form wrappers from V2 sheet templates
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/droid/v2/droid-sheet.hbs
  templates/actors/npc/v2/npc-sheet.hbs
  templates/actors/vehicle/v2/vehicle-sheet.hbs
Due: node scripts/validate/validate-icon-keys.js

Implement final V2 tab architecture
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/droid/v2/droid-sheet.hbs
  templates/actors/vehicle/v2/vehicle-sheet.hbs
Due: node scripts/validate/validate-icon-keys.js

Implement adaptive NPC tabs and "Other" tab for characters/droids
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/droid/v2/droid-sheet.hbs
  templates/actors/npc/v2/npc-sheet.hbs
Due: node scripts/validate/validate-icon-keys.js

Restore SWSE theme wrapper classes in V2 sheet templates
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/droid/v2/droid-sheet.hbs
  templates/actors/npc/v2/npc-sheet.hbs
  templates/actors/vehicle/v2/vehicle-sheet.hbs
Due: node scripts/validate/validate-icon-keys.js

Fix holo theme glow intensity - restore missing swse-app class on V2 sheets
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/droid-sheet.js
  scripts/sheets/v2/npc-sheet.js
  scripts/sheets/v2/vehicle-sheet.js
Due: eslint --fix

Harden sheet event handlers with optional chaining to prevent runtime exceptions
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/droid-sheet.js
  scripts/sheets/v2/npc-sheet.js
  scripts/sheets/v2/vehicle-sheet.js
Due: eslint --fix

Phase 1: Make Overview Tab Fully Editable
  templates/actors/character/v2/partials/hp-condition-panel.hbs
  templates/actors/character/v2/partials/identity-strip.hbs
Due: node scripts/validate/validate-icon-keys.js

Restore v1 visual structure to V2 character sheet
  templates/actors/character/v2/character-sheet.hbs
Due: node scripts/validate/validate-icon-keys.js

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
