Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Progression Phase 2: independent region rendering (work-surface, summary, utility, footer, progress)
  scripts/apps/progression-framework/shell/progression-render-scheduler.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/load-templates.js
  styles/progression-framework/progression-interiors-phase2.css
  templates/apps/progression-framework/action-footer.hbs
  templates/apps/progression-framework/progression-shell.hbs
  tests/progression-render-scheduler-budgets.test.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Progression Phase 2.1: summary empty-state parity + real caller region audit
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/background-step.js
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/apps/progression-framework/steps/force-power-step.js
  scripts/apps/progression-framework/steps/force-regimen-step.js
  scripts/apps/progression-framework/steps/force-secret-step.js
  scripts/apps/progression-framework/steps/force-technique-step.js
  scripts/apps/progression-framework/steps/medical-secret-step.js
  scripts/apps/progression-framework/steps/skills-step.js
  scripts/apps/progression-framework/steps/species-step.js
  scripts/apps/progression-framework/steps/starship-maneuver-step.js
  scripts/load-templates.js
  templates/apps/progression-framework/progression-shell.hbs
  templates/apps/progression-framework/summary-panel/summary-panel-body.hbs
  tests/progression-render-scheduler-budgets.test.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Add canonical rich progression search (Phase 2.1 addendum)
  scripts/apps/progression-framework/steps/background-step.js
  scripts/apps/progression-framework/steps/class-step.js
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/apps/progression-framework/steps/force-power-step.js
  scripts/apps/progression-framework/steps/force-regimen-step.js
  scripts/apps/progression-framework/steps/force-secret-step.js
  scripts/apps/progression-framework/steps/force-technique-step.js
  scripts/apps/progression-framework/steps/medical-secret-step.js
  scripts/apps/progression-framework/steps/species-step.js
  scripts/apps/progression-framework/steps/starship-maneuver-step.js
  scripts/apps/progression-framework/steps/talent-step.js
  scripts/apps/progression-framework/utils/progression-search.js
  tests/progression-search.test.mjs
Due: eslint --fix

Add search hint tooltip to progression utility bar (Phase 2.1 addendum §18)
  templates/apps/progression-framework/utility-bar.hbs
Due: node scripts/validate/validate-icon-keys.js

Phase 2.1 Search Closure: canonical field aggregation + Feat whole-item Boolean matching
  scripts/apps/progression-framework/detail-rail-normalizer.js
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/apps/progression-framework/utils/progression-search.js
  tests/progression-search.test.mjs
Due: eslint --fix

Phase 2.1 Search Closure: Feat whole-item canonicalization + gate-before-ranking
  scripts/apps/progression-framework/steps/feat-step.js
  tests/progression-search.test.mjs
Due: eslint --fix

Phase 2.1 Search Closure: diacritic-safe canonical Boolean semantics
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/apps/progression-framework/utils/progression-search.js
  tests/progression-search.test.mjs
Due: eslint --fix

Progression Phase 3: single-pass canonical step-status evaluation
  scripts/apps/progression-framework/shell/progression-shell.js
  tests/progression-render-scheduler-budgets.test.mjs
Due: eslint --fix

Progression Phase 4: inline surface rendering + persistence write-behind
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/shell/session-storage.js
  scripts/ui/shell/ProgressionSurfaceAdapter.js
  tests/progression-inline-surface-performance.test.mjs
  tests/progression-session-persistence-writebehind.test.mjs
Due: eslint --fix

Progression Phase 4.1: persistence barrier closure
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/shell/session-storage.js
  tests/progression-session-persistence-writebehind.test.mjs
Due: eslint --fix

Progression UX: Attribute step viewport-fit / density pass
  styles/progression-framework/steps/attribute-step.css
  templates/apps/progression-framework/steps/attribute-work-surface.hbs
  tests/progression-attribute-viewport-density.test.mjs
Due: node scripts/validate/validate-icon-keys.js

Progression UX: mentor sidecar / zero-blocking narration pass
  scripts/apps/progression-framework/steps/confirm-step.js
  scripts/apps/progression-framework/steps/l1-survey-step.js
  tests/progression-mentor-nonblocking.test.mjs
Due: eslint --fix

Workbench UX Phase 1: flatten inline Holopad structure into a shared canonical partial
  scripts/load-templates.js
  scripts/ui/shell/WorkbenchSurfaceAdapter.js
  styles/apps/item-customization-workbench.css
  styles/system/app-responsive-workbench.css
  styles/system/shell-host.css
  templates/apps/customization/item-customization-workbench.hbs
  templates/apps/customization/partials/workbench-content.hbs
  templates/shell/partials/surface-workbench.hbs
  tests/workbench-inline-structural-flattening.test.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 1 correction: neutralize inline workbench screen device-frame chrome
  scripts/ui/shell/WorkbenchSurfaceAdapter.js
  styles/system/shell-host.css
  templates/apps/customization/partials/workbench-content.hbs
  templates/shell/partials/surface-workbench.hbs
  tests/workbench-inline-structural-flattening.test.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Workbench UX Phase 2: consolidate scroll ownership and responsive authority
  scripts/ui/shell/WorkbenchSurfaceAdapter.js
  styles/apps/item-customization-workbench.css
  styles/system/app-responsive-workbench.css
  tests/workbench-scroll-responsive-contract.test.mjs
Due: eslint --fix

Phase 2 correction: definitively bound the normal detail-grid row
  styles/apps/item-customization-workbench.css
  tests/workbench-scroll-responsive-contract.test.mjs
Due: none

Workbench UX Phase 3: information hierarchy + density
  scripts/apps/customization/item-customization-workbench.js
  styles/apps/item-customization-workbench.css
  styles/system/app-responsive-workbench.css
  templates/apps/customization/partials/workbench-content.hbs
  tests/workbench-information-hierarchy.test.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 3 correction: precise tuning predicate + hero scroll ownership
  scripts/apps/customization/item-customization-workbench.js
  styles/apps/item-customization-workbench.css
  styles/system/app-responsive-workbench.css
  tests/workbench-information-hierarchy.test.mjs
Due: eslint --fix

Phase 3 correction: protect short-tier lightsaber hero geometry
  styles/system/app-responsive-workbench.css
  tests/workbench-information-hierarchy.test.mjs
Due: none

Phase 3 correction: exclude lightsaber hero from compact-tier compaction too
  styles/system/app-responsive-workbench.css
  tests/workbench-information-hierarchy.test.mjs
Due: none

Workbench UX Phase 4: visual polish + focus/hover/state clarity
  styles/apps/item-customization-workbench.css
  templates/apps/customization/partials/workbench-content.hbs
  tests/workbench-visual-polish-contract.test.mjs
Due: node scripts/validate/validate-icon-keys.js

Phase 4 correction: complete keyboard-focus coverage
  styles/apps/item-customization-workbench.css
  tests/workbench-visual-polish-contract.test.mjs
Due: none

Add Phase 0 audit: Droid Garage / Starship Shipyard architecture, UX, mentor, routing & authority
  docs/audits/garage-shipyard-phase-0-audit.md
Due: prettier --write

Phase 1: Garage/Shipyard foundation — wallet authority, routing symmetry, mentor holograms
  data/dialogue/mentors/marl_skindar/skindar_dialogue.json
  data/dialogue/mentors/seraphim/seraphim_dialogue.json
  scripts/apps/customization/customization-bay-app.js
  scripts/engine/customization/droid-customization-engine.js
  scripts/engine/customization/vehicle-customization-engine.js
  scripts/sheets/v2/character-sheet.js
  scripts/ui/shell/CustomizationSurfaceAdapter.js
  scripts/ui/shell/ShellHost.js
  styles/progression-framework/holo-theme.css
  styles/progression-framework/mentor-rail.css
  styles/system/mentor-hologram.css
  system.json
  templates/apps/customization/customization-bay.hbs
  templates/apps/customization/partials/workbench-content.hbs
  templates/apps/progression-framework/mentor-rail.hbs
  templates/apps/progression-framework/summary-panel/droid-builder-summary.hbs
  templates/apps/progression-framework/summary-panel/species-summary.hbs
  tests/customization-bay-foundation-contract.test.mjs
  tests/mentor-hologram-contract.test.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Phase 1 correction: host-scoped customization adapter + true shared mentor hologram
  scripts/sheets/v2/character-sheet.js
  scripts/ui/shell/CustomizationSurfaceAdapter.js
  scripts/ui/shell/ShellHost.js
  styles/progression-framework/mentor-rail.css
  templates/apps/progression-framework/mentor-rail.hbs
  tests/customization-bay-foundation-contract.test.mjs
  tests/mentor-hologram-contract.test.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 1 final correction: exclude player portraits at the container level
  templates/apps/progression-framework/summary-panel/droid-builder-summary.hbs
  templates/apps/progression-framework/summary-panel/selected-rail.hbs
  templates/apps/progression-framework/summary-panel/species-summary.hbs
  tests/mentor-hologram-contract.test.mjs
Due: node scripts/validate/validate-icon-keys.js

Phase 2: structural flattening — Holopad is the frame, Bay is the content
  scripts/load-templates.js
  scripts/ui/shell/CustomizationSurfaceAdapter.js
  styles/apps/customization-bay.css
  templates/apps/customization/customization-bay.hbs
  templates/apps/customization/partials/customization-bay-content.hbs
  tests/customization-bay-inline-structural-flattening.test.mjs
  tests/mentor-hologram-contract.test.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 2 correction: drop residual shell classes, restore standalone height chain
  styles/apps/customization-bay.css
  templates/apps/customization/customization-bay.hbs
  templates/apps/customization/partials/customization-bay-content.hbs
  tests/customization-bay-inline-structural-flattening.test.mjs
Due: node scripts/validate/validate-icon-keys.js

Phase 2 final correction: fix standalone frame cascade collision + one frame authority
  scripts/apps/customization/customization-bay-app.js
  styles/apps/customization-bay.css
  templates/apps/customization/customization-bay.hbs
  templates/apps/customization/partials/customization-bay-content.hbs
  tests/customization-bay-inline-structural-flattening.test.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 3: responsive + scroll authority — measured host, not browser viewport
  scripts/ui/shell/shell-responsive-observer.js
  styles/apps/customization-bay.css
  styles/system/app-responsive-customization-bay.css
  tests/customization-bay-scroll-responsive-contract.test.mjs
Due: eslint --fix

Phase 3 correction: reconcile character-sheet inline scroll rules with narrow responsive authority
  styles/system/shell-host.css
  tests/customization-bay-scroll-responsive-contract.test.mjs
Due: none

Phase 4: information hierarchy + system browser UX
  scripts/apps/customization/customization-bay-app.js
  styles/apps/customization-bay.css
  templates/apps/customization/partials/customization-bay-content.hbs
  tests/customization-bay-information-hierarchy.test.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 4 correction: player-facing truthfulness + prototype navigation cleanup
  scripts/apps/customization/customization-bay-app.js
  templates/apps/customization/partials/customization-bay-content.hbs
  tests/customization-bay-information-hierarchy.test.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 4 final correction: failed-preview truthfulness + error-state cleanup
  scripts/apps/customization/customization-bay-app.js
  templates/apps/customization/partials/customization-bay-content.hbs
  tests/customization-bay-information-hierarchy.test.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 4 final authority cleanup: error-state honesty + canonical newCredits
  scripts/apps/customization/customization-bay-app.js
  templates/apps/customization/partials/customization-bay-content.hbs
  tests/customization-bay-information-hierarchy.test.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Garage/Shipyard Phase 5: visual polish + accessibility
  styles/apps/customization-bay.css
  styles/system/app-responsive-customization-bay.css
  templates/apps/customization/partials/customization-bay-content.hbs
  tests/customization-bay-visual-polish-contract.test.mjs
Due: node scripts/validate/validate-icon-keys.js

Phase 5 correction: keyboard Inspect parity + real motion authority
  styles/apps/customization-bay.css
  templates/apps/customization/partials/customization-bay-content.hbs
  tests/customization-bay-information-hierarchy.test.mjs
  tests/customization-bay-visual-polish-contract.test.mjs
Due: node scripts/validate/validate-icon-keys.js

Add compendium interaction forensics: audit + instrumentation, no fix
  docs/audits/compendium-interaction-forensics-2026-08.md
  index.js
  scripts/core/compendium-directory-click-repair.js
  scripts/core/compendium-interaction-forensics.js
  scripts/core/hardening-init.js
  tests/compendium-interaction-forensics-invariants.test.mjs
  tools/audit-sidebar-compendium-interference.mjs
Due: eslint --fix, prettier --write

Sentinel architecture alignment: compendium forensics becomes a Sentinel diagnostic
  docs/audits/compendium-interaction-forensics-2026-08.md
  index.js
  scripts/core/compendium-directory-click-repair.js
  scripts/core/compendium-interaction-forensics.js
  scripts/governance/sentinel/sentinel-categories.js
  scripts/governance/sentinel/sentinel-compendium-forensics.js
  scripts/governance/sentinel/sentinel-core.js
  scripts/governance/sentinel/sentinel-debug-api.js
  scripts/governance/sentinel/sentinel-init.js
  tests/compendium-interaction-forensics-invariants.test.mjs
  tests/sentinel-compendium-forensics-invariants.test.mjs
  tools/audit-sidebar-compendium-interference.mjs
Due: eslint --fix, prettier --write

Compendium interaction forensics: Sentinel-aligned audit and instrumentation
  docs/audits/compendium-interaction-forensics-2026-08.md
  index.js
  scripts/core/compendium-directory-click-repair.js
  scripts/core/hardening-init.js
  scripts/governance/sentinel/sentinel-categories.js
  scripts/governance/sentinel/sentinel-compendium-forensics.js
  scripts/governance/sentinel/sentinel-core.js
  scripts/governance/sentinel/sentinel-debug-api.js
  scripts/governance/sentinel/sentinel-init.js
  tests/sentinel-compendium-forensics-invariants.test.mjs
  tools/audit-sidebar-compendium-interference.mjs
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
