Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Restore interaction layer and resizing in V2 sheets
  scripts/core/first-run-experience.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/droid-sheet.js
  scripts/sheets/v2/npc-sheet.js
  scripts/sheets/v2/vehicle-sheet.js
Due: eslint --fix

Phase 1: Restore V1 skills table structure into V2
  templates/actors/character/v2/partials/skills-panel.hbs
Due: node scripts/validate/validate-icon-keys.js

Restore Abilities block to Character Sheet Overview
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/character/v2/partials/abilities-panel.hbs
Due: node scripts/validate/validate-icon-keys.js

Phase 3 & 4: Complete Skills Subsystem with Filtering, Favorites, and Sorting
  scripts/sheets/v2/character-sheet.js
  templates/actors/character/v2/partials/skills-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 1: Restore Defense Breakdown UI (Character Only)
  templates/actors/character/v2/partials/defenses-panel.hbs
Due: node scripts/validate/validate-icon-keys.js

Fix Phase 1: Correct misc field binding in defense breakdown UI
  templates/actors/character/v2/partials/defenses-panel.hbs
Due: node scripts/validate/validate-icon-keys.js

Phase A-D: Wire sheet UI to canonical subsystems (no rebuilds)
  scripts/sheets/v2/character-sheet.js
  templates/actors/character/v2/partials/abilities-panel.hbs
  templates/actors/character/v2/partials/defenses-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Add Second Wind and Dark Side Spectrum UI panels
  scripts/sheets/v2/character-sheet.js
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/character/v2/partials/dark-side-panel.hbs
  templates/actors/character/v2/partials/second-wind-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Complete Core Character Systems: Lock HP max, add Languages display, enhance resource ticks
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/character/v2/partials/identity-strip.hbs
  templates/actors/character/v2/partials/languages-panel.hbs
Due: node scripts/validate/validate-icon-keys.js

Restore global SWSE namespace with all subsystems
  index.js
Due: eslint --fix

Implement Phase 5.1: Drag & Drop Ownership + Header Controls
  index.js
  scripts/sheets/v2/character-sheet.js
  templates/actors/character/v2/character-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Implement Phase 6: Store & Equipment Layer
  scripts/sheets/v2/character-sheet.js
  templates/actors/character/v2/character-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Implement all missing character sheet components (Phase completion)
  scripts/sheets/v2/character-sheet.js
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/character/v2/partials/feats-panel.hbs
  templates/actors/character/v2/partials/identity-strip.hbs
  templates/actors/character/v2/partials/languages-panel.hbs
  templates/actors/character/v2/partials/talents-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Implement NPC Phase 1: Combat-Ready Statblock
  scripts/sheets/v2/npc-sheet.js
  templates/actors/npc/v2/npc-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Implement NPC Phase 2: Editable Structured Fields
  templates/actors/npc/v2/npc-sheet.hbs
Due: node scripts/validate/validate-icon-keys.js

Implement NPC Phase 3: Optional Progression Mode
  index.js
  templates/actors/npc/v2/npc-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Droid Sheet Porting: Complete V2 implementation with equipment management
  scripts/sheets/v2/droid-sheet.js
  templates/actors/droid/v2/droid-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Vehicle Sheet Porting: Complete V2 implementation with crew and equipment management
  scripts/sheets/v2/vehicle-sheet.js
  templates/actors/vehicle/v2/vehicle-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Wire Progression Engine: Add selector methods for sheet integration
  scripts/engine/progression.js
Due: eslint --fix

Add canonical static entry points to progression UI classes
  scripts/apps/chargen/chargen-main.js
  scripts/apps/levelup/levelup-main.js
Due: eslint --fix

Fix BuildIntent schema path for V13 compatibility
  scripts/engine/BuildIntent.js
Due: eslint --fix

Fix syntax error in chargen-finalizer.js
  scripts/apps/chargen/chargen-finalizer.js
Due: eslint --fix

Fix syntax error: replace smart quote with straight apostrophe
  scripts/suggestion-engine/scoring/explainability-generator.js
Due: eslint --fix

Fix: Register houserule settings to resolve darkSideMaxMultiplier error
  index.js
Due: eslint --fix

Register missing character v2 template partials
  scripts/core/load-templates.js
Due: eslint --fix

Enable rolling across all V2 character sheets
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/droid-sheet.js
  scripts/sheets/v2/npc-sheet.js
  scripts/sheets/v2/vehicle-sheet.js
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/character/v2/partials/attacks-panel.hbs
  templates/actors/character/v2/partials/defenses-panel.hbs
  templates/actors/character/v2/partials/skills-panel.hbs
  templates/actors/vehicle/v2/partials/attacks-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Fix critical missing roll functions: rollDefense and rollForcePower
  scripts/core/rolls-init.js
  scripts/rolls/defenses.js
  scripts/rolls/force-powers.js
Due: eslint --fix

Add vehicle weapons and weapon ranges compendiums
  data/vehicle-weapon-ranges.json
  data/vehicle-weapons.json
  packs/vehicle-weapon-ranges.db
  packs/vehicle-weapons.db
  system.json
  template.json
Due: prettier --write

Add comprehensive drag-and-drop implementation plan
  DRAG_DROP_IMPLEMENTATION_PLAN.md
Due: prettier --write

Add unified drag & drop service for all V2 sheets
  scripts/services/drop-service.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/droid-sheet.js
  scripts/sheets/v2/npc-sheet.js
  scripts/sheets/v2/vehicle-sheet.js
  styles/sheets/v2-sheet.css
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/vehicle/v2/vehicle-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Fix vehicle drop behavior: actors always crew, items always inventory
  scripts/services/drop-service.js
Due: eslint --fix

Add ThresholdEngine, MountEngine, and Enhanced Massive Damage house rules
  index.js
  scripts/data-models/actor-data-model.js
  scripts/data-models/character-data-model.js
  scripts/data-models/vehicle-data-model.js
  scripts/engine/combat/threshold-engine.js
  scripts/engine/mount/mount-engine.js
  scripts/houserules/houserule-settings.js
Due: eslint --fix

Add starship combat engines with vehicle sheet integration
  index.js
  scripts/data-models/vehicle-data-model.js
  scripts/engine/combat/scale-engine.js
  scripts/engine/combat/starship/enhanced-commander.js
  scripts/engine/combat/starship/enhanced-engineer.js
  scripts/engine/combat/starship/enhanced-pilot.js
  scripts/engine/combat/starship/enhanced-shields.js
  scripts/engine/combat/starship/subsystem-engine.js
  scripts/engine/combat/starship/vehicle-turn-controller.js
  scripts/houserules/houserule-settings.js
  scripts/sheets/v2/vehicle-sheet.js
  template.json
  templates/actors/vehicle/v2/vehicle-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Add complete XP system with RAW-accurate multi-CL encounter math
  index.js
  scripts/actors/v2/base-actor.js
  scripts/apps/xp-calculator.js
  scripts/engine/progression/xp-constants.js
  scripts/engine/progression/xp-engine.js
  scripts/houserules/houserule-settings.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/droid-sheet.js
  scripts/sheets/v2/npc-sheet.js
  styles/components/xp-bar.css
  system.json
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/character/v2/partials/xp-panel.hbs
  templates/actors/droid/v2/droid-sheet.hbs
  templates/actors/npc/v2/npc-sheet.hbs
  templates/apps/xp-calculator.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Phase 1: Datapad Header + Command Bar Implementation
  scripts/sheets/v2/character-sheet.js
  styles/sheets/character-sheet.css
  templates/actors/character/v2/character-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 2: Click-to-Roll System Implementation
  scripts/sheets/v2/character-sheet.js
  styles/sheets/character-sheet.css
  templates/actors/character/v2/partials/attacks-panel.hbs
  templates/actors/character/v2/partials/skills-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 2: Inventory Maturity + Encumbrance Engine
  scripts/actors/v2/character-actor.js
  scripts/engine/encumbrance/EncumbranceEngine.js
  scripts/engine/inventory/InventoryEngine.js
  scripts/sheets/v2/character-sheet.js
  templates/actors/character/v2/character-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 2: ModifierEngine, Talents/Feats Cards, Biography Expansion
  scripts/engine/modifiers/ModifierEngine.js
  scripts/sheets/v2/character-sheet.js
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/character/v2/partials/feats-panel.hbs
  templates/actors/character/v2/partials/talents-feats-panel.hbs
  templates/actors/character/v2/partials/talents-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 3: Prerequisites Engine + Free Build Mode + Skill Enforcement
  scripts/actors/v2/character-actor.js
  scripts/engine/prerequisites/PrerequisiteEngine.js
  scripts/engine/skills/SkillEnforcementEngine.js
  scripts/sheets/v2/character-sheet.js
  templates/actors/character/v2/character-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 3 Complete: Initiative Display + Modifier Breakdown + Take 10/20
  scripts/apps/dialogs/modifier-breakdown-dialog.js
  scripts/sheets/v2/character-sheet.js
  templates/actors/character/v2/character-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
