Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

Complete Phase 3 implementation with all remaining features
  scripts/rolls/skills.js
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

refactor: Vehicle Sheet - Datapad Architecture Carryover (V2 Only)
  scripts/sheets/v2/vehicle-sheet.js
  styles/sheets/vehicle-sheet.css
  templates/actors/vehicle/v2/partials/cargo-panel.hbs
  templates/actors/vehicle/v2/partials/crew-panel.hbs
  templates/actors/vehicle/v2/partials/damage-threshold-panel.hbs
  templates/actors/vehicle/v2/partials/defenses-panel.hbs
  templates/actors/vehicle/v2/partials/hp-condition-panel.hbs
  templates/actors/vehicle/v2/partials/identity-panel.hbs
  templates/actors/vehicle/v2/partials/resource-cartridges.hbs
  templates/actors/vehicle/v2/vehicle-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 0: Implement Centralized ModifierEngine with Stacking Rules
  scripts/actors/derived/bab-calculator.js
  scripts/actors/derived/defense-calculator.js
  scripts/actors/derived/derived-calculator.js
  scripts/actors/derived/hp-calculator.js
  scripts/actors/v2/base-actor.js
  scripts/engine/modifiers/ModifierEngine.js
  scripts/engine/modifiers/ModifierTypes.js
  scripts/engine/modifiers/ModifierUtils.js
Due: eslint --fix

Phase A: Droid Modifications Integration
  scripts/data/droid-modifications.js
  scripts/engine/droid-mod-validator.js
  scripts/engine/modifiers/ModifierEngine.js
  tests/phase-0-modifiers.test.js
  tests/phase-a-droid-mods.test.js
Due: eslint --fix

Phase B: Skill Misc Breakdown Popout + Canonical Modifier Visibility
  scripts/apps/skill-modifier-breakdown-app.js
  scripts/engine/modifiers/ModifierEngine.js
  styles/apps/skill-modifier-breakdown.css
  templates/apps/skill-modifier-breakdown.hbs
  tests/phase-b-skill-misc.test.js
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phases C, D, E: Combat, Active Effects, Force Engine
  scripts/apps/damage-app.js
  scripts/engine/combat/damage-engine.js
  scripts/engine/effects/active-effects-engine.js
  scripts/engine/force/force-engine.js
  scripts/engine/modifiers/ModifierEngine.js
  templates/apps/damage-app.hbs
  tests/phase-cde-combat-effects-force.test.js
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phases F-K: Massive Damage, Encumbrance, Crew, Inspector, Audit, Polish
  scripts/apps/modifier-inspector-app.js
  scripts/engine/audit/determinism-audit.js
  scripts/engine/combat/massive-damage-engine.js
  scripts/engine/crew/crew-interaction-engine.js
  scripts/engine/encumbrance/encumbrance-finalization.js
  styles/apps/ux-polish.css
  templates/apps/modifier-inspector.hbs
  tests/phase-fghijk-complete.test.js
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Droid Sheet V2: Complete UI for Droid Configuration and Management
  scripts/sheets/v2/droid-sheet-v2.js
  styles/sheets/droid-sheet-v2.css
  templates/sheets/droid-sheet-v2.hbs
  tests/droid-sheet-v2.test.js
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Implement NPC Dual-Mode Sheet System (Combat + Full)
  index.js
  scripts/sheets/v2/npc-combat-sheet.js
  scripts/sheets/v2/npc-full-sheet.js
  styles/sheets/npc-combat-sheet.css
  system.json
  template.json
  templates/actors/npc/v2/npc-combat-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

SWSE Initiative Enhancement: Take 10, tie resolution, force point support
  index.js
  scripts/actors/v2/base-actor.js
  scripts/engine/combat/SWSEInitiative.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/droid-sheet.js
  scripts/sheets/v2/npc-combat-sheet.js
  styles/combat/initiative.css
  system.json
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/droid/v2/droid-sheet.hbs
  templates/actors/npc/v2/npc-combat-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Standardize sheet templates: fix 12 missing partials, remove inline logic
  helpers/handlebars/partials-auto.js
  scripts/sheets/v2/character-sheet.js
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/droid/v2/droid-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

SWSE Phase A Hardening: Security & Integrity Enforcement (v1.2.1)
  index.js
  scripts/apps/chargen/chargen-main.js
  scripts/core/migration-manager.js
  scripts/data-models/character-data-model.js
  scripts/engine/progression.js
  system.json
Due: eslint --fix, prettier --write

SWSE Phase B: Performance Stabilization (v1.2.1)
  scripts/apps/levelup/levelup-main.js
  scripts/engine/SuggestionService.js
Due: eslint --fix

SWSE Phase C: V14 Futureproofing (v1.2.1)
  scripts/apps/levelup/debug-panel.js
  scripts/data-models/character-data-model.js
  scripts/utils/item-filters.js
Due: eslint --fix

Harden Store integrity: ownership enforcement, atomic locking, race condition closure
  scripts/apps/store/store-checkout.js
  scripts/engines/store/store-engine.js
Due: eslint --fix

Suggestion Engine Consolidation Pass (Phase A)
  scripts/suggestion-engine/armor-gear-scoring-engine.js
  scripts/suggestion-engine/armor-scoring-engine.js
  scripts/suggestion-engine/gear-suggestions.js
  scripts/suggestion-engine/shared-scoring-utils.js
  scripts/suggestion-engine/suggestion-tiers-canonical.js
  scripts/suggestion-engine/weapon-scoring-engine.js
Due: eslint --fix

Fix ModifierEngine import path in derived-calculator.js
  scripts/actors/derived/derived-calculator.js
Due: eslint --fix

Suggestion Engine Consolidation - Verification Fixes
  scripts/apps/store/store-main.js
  scripts/suggestion-engine/armor-gear-scoring-engine.js
  scripts/suggestion-engine/armor-suggestions.js
Due: eslint --fix

Fix: Remove duplicate progression variable declaration
  scripts/engine/progression.js
Due: eslint --fix

Fix: Remove duplicate classLevels declaration at line 1350
  scripts/engine/progression.js
Due: eslint --fix

Fix: Remove duplicate 'progression' and 'duplicates' variable declarations in _validateChoices
  scripts/engine/progression.js
Due: eslint --fix

Stabilize SWSE Character Sheet - Complete AppV2 Architecture Fix
  scripts/sheets/v2/character-sheet.js
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/character/v2/partials/attacks-panel.hbs
  templates/actors/character/v2/partials/xp-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Fix character generator UI and step completion logic
  scripts/apps/chargen/chargen-abilities.js
  scripts/apps/chargen/chargen-main.js
  styles/apps/swse-templates-consolidated.css
  templates/apps/chargen.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Fix Store app invocation and character sheet window resizing
  scripts/sheets/v2/character-sheet.js
  styles/sheets/character-sheet.css
Due: eslint --fix

Fix [object Object] rendering in character sheet header defenses
  scripts/sheets/v2/character-sheet.js
  templates/actors/character/v2/character-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Fix character sheet tab scrolling with proper flexbox layout
  styles/sheets/character-sheet.css
Due: none

Fix type selection card UI redesign
  scripts/progression/ui/progression-ui.js
  styles/apps/swse-templates-consolidated.css
Due: eslint --fix

Add diagnostic logging to level-up routing function
  scripts/hooks/levelup-sheet-hooks.js
Due: eslint --fix

SWSE Sheet Stabilization: Complete 11-Phase Rebuild
  scripts/sheets/v2/character-sheet.js
  styles/sheets/character-sheet.css
Due: eslint --fix

Fix: Remove swse-app class from base Applications to prevent sidebar contamination
  scripts/apps/base/swse-application-v2.js
  scripts/apps/base/swse-application.js
  scripts/apps/base/swse-form-application.js
Due: eslint --fix

feat: Add Actor Directory buttons for character creation
  index.js
  scripts/hooks/directory-hooks.js
  styles/ui/directory-buttons.css
  system.json
Due: eslint --fix, prettier --write

Fix: Restore popOut: true to VehicleModificationApp
  scripts/apps/vehicle-modification-app.js
Due: eslint --fix

Fix: Add defensive window.frame config to VehicleModificationApp
  scripts/apps/vehicle-modification-app.js
Due: eslint --fix

Fix sidebar class pollution by adding defensive cleanup
  scripts/core/hardening-init.js
Due: eslint --fix

Fix template selection dialog: skills, scrolling, and button visibility
  scripts/apps/template-character-creator.js
Due: eslint --fix

Fix sidebar pollution by renaming VehicleModificationApp classes
  scripts/apps/vehicle-modification-app.js
  styles/apps/vehicle-modification.css
Due: eslint --fix

Fix vehicle-modification-app.js ApplicationV2 structural compliance
  scripts/apps/vehicle-modification-app.js
Due: eslint --fix

Update foundry-env.js
  scripts/core/foundry-env.js
Due: eslint --fix

Unify SWSE base to single AppV2 implementation
  scripts/apps/base/swse-application.js
Due: eslint --fix

PHASE 1-5: CSS Stabilization Refactor - Critical Sidebar & Z-Index Fixes
  styles/apps/combat-action-browser.css
  styles/apps/store-card-grid.css
  styles/apps/store-cards.css
  styles/apps/store-loading-overlay.css
  styles/components/discovery.css
  styles/core/appv2-structural-safe.css
  styles/core/swse-base.css
  styles/dialogs/holo-dialogs.css
  styles/src/themes/_holo.scss
  styles/swse-system.css
Due: none
