Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

Phase 3-4 interim summary and Phase 4 readiness assessment
  docs/reports/phase-3-4-summary.md
Due: prettier --write

Phase 4: Register active v2 partials and relax validator strictness for hash args
  helpers/handlebars/partials-auto.js
  partials-report.json
  tools/validate-partials.mjs
Due: eslint --fix, prettier --write

Phase 4: Remove inactive CSS files from system.json
  system.json
Due: prettier --write

Phase 4 Complete: V2 DOM, CSS, Partial Validation & UI Convention Hardening
  docs/reports/phase-4-completion-summary.md
Due: prettier --write

Add comprehensive four-phase audit completion summary
  AUDIT_COMPLETION.md
Due: prettier --write

Phase 5: Content Completeness & Feature-Gap Audit - ALPHA BLOCKERS IDENTIFIED
  docs/reports/phase-5-content-feature-backlog.md
  tools/validation/validate-content-completeness.mjs
Due: prettier --write

Update AUDIT_COMPLETION.md with Phase 5 findings and blockers
  AUDIT_COMPLETION.md
Due: prettier --write

Phase 6: Alpha Blocker Resolution - ALL BLOCKERS CLEARED
  docs/reports/phase-6-alpha-blocker-resolution.md
Due: prettier --write

Phase 6.5: Implement force power display-only lock for alpha v1
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/force-ui.js
  templates/actors/character/v2/partials/force-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

docs: Update Phase 6 report with Phase 6.5 force power UI disable implementation
  docs/reports/phase-6-alpha-blocker-resolution.md
Due: prettier --write

.+
  APPLY_METADATA.js
  package-lock.json
  partials-report.json
  repo_skeleton.txt
Due: eslint --fix, prettier --write

.
  index.js
  scripts/actors/v2/character-actor.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/core/swse-data.js
  scripts/engine/effects/modifiers/ModifierEngine.js
  scripts/engine/suggestion/BuildCoherenceAnalyzer.js
  scripts/engine/suggestion/ConfidenceScoring.js
  scripts/engine/suggestion/OpportunityCostAnalyzer.js
  scripts/engine/suggestion/SynergyEvaluator.js
  scripts/engine/suggestion/attribute-planner.js
  scripts/governance/actor-engine/actor-engine.js
  scripts/mentor/mentor-portrait-registry.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/droid-sheet/context-builder.js
  scripts/sheets/v2/droid-sheet/droid-systems-resolver.js
  scripts/swse-actor.js
  scripts/ui/discovery/feature-tour.js
  styles/apps/chargen/chargen.css
  styles/layout/sheet-layout.css
  styles/sheets/v2-sheet.css
  styles/swse-core.css
  styles/system/components/tabs.css
  styles/system/datapad-shell.css
  styles/system/micro-interactions.css
  system.json
Due: eslint --fix, prettier --write

.
  index.js
  lang/en.json
  scripts/apps/gm-datapad.js
  scripts/core/settings.js
  scripts/load-templates.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/droid-sheet/context-builder.js
  scripts/ui/discovery/feature-tour.js
  scripts/ui/discovery/index.js
  styles/layout/sheet-layout.css
  styles/sheets/v2-concept-sheet.css
  system.json
  templates/actors/character/v2-concept/character-sheet.hbs
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/droid/v2/droid-sheet.hbs
  templates/actors/vehicle/v2/vehicle-sheet.hbs
  templates/actors/vehicle/vehicle-sheet.hbs
  templates/apps/feature-tour.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

4
  styles/shell/home-surface.css
  styles/system/home-surface.css
Due: none

.
  styles/sheets/v2-concept-sheet.css
Due: none

.
  scripts/sheets/v2/character-sheet.js
  styles/sheets/v2-concept-sheet.css
  templates/actors/character/v2-concept/character-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Fix character sheet / home shell / concept parity issues
  scripts/core/load-templates.js
  scripts/sheets/v2/character-sheet.js
  scripts/ui/shell/HomeSurfaceService.js
  templates/actors/character/v2-concept/character-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Second hardening pass: deterministic structural fixes
  scripts/ui/shell/HomeSurfaceService.js
  templates/actors/character/v2-concept/character-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

feat: metallic tablet outer shell pass — remove Foundry chrome, add hardware controls
  scripts/sheets/v2/character-sheet.js
  styles/sheets/v2-concept-sheet.css
  templates/actors/character/v2-concept/character-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Add bezel detail styling for subtle hardware texture on tablet body
  styles/sheets/v2-concept-sheet.css
  templates/actors/character/v2-concept/character-sheet.hbs
Due: node scripts/validate/validate-icon-keys.js

Fix character sheet opening too small with viewport-fit sizing
  scripts/sheets/v2/character-sheet.js
  styles/sheets/v2-concept-sheet.css
Due: eslint --fix

Implement responsive scale-to-fit for tablet shell on smaller screens
  scripts/sheets/v2/character-sheet.js
  styles/sheets/v2-concept-sheet.css
  templates/actors/character/v2-concept/character-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Harden scale-to-fit: lower min scale, explicit pixel vars, smart expand
  scripts/sheets/v2/character-sheet.js
  styles/sheets/v2-concept-sheet.css
Due: eslint --fix

Make screen flush against metallic shell with zero gap
  styles/sheets/v2-concept-sheet.css
Due: none

Refine content padding with responsive clamp for all scales
  styles/sheets/v2-concept-sheet.css
Due: none

Implement z-index layering to keep screen flush while showing metallic shell
  styles/sheets/v2-concept-sheet.css
Due: none

Extract holopad shell frame as reusable partial for unified character sheet chrome
  scripts/core/load-templates.js
  templates/actors/character/v2-concept/character-sheet.hbs
  templates/shell/partials/holopad-frame.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Add unified holopad routing for player-facing apps
  scripts/apps/customization/customization-bay-app.js
  scripts/apps/customization/item-customization-router.js
  scripts/core/load-templates.js
  scripts/sheets/v2/character-sheet.js
  scripts/ui/shell/ShellSurfaceRegistry.js
  templates/shell/partials/surface-customization.hbs
  templates/shell/partials/surface-workbench.hbs
  templates/shell/shell-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Route Store access through unified holopad shell
  scripts/infrastructure/hooks/actor-sidebar-controls.js
  scripts/infrastructure/hooks/store-sheet-hooks.js
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

feat: inline adapters for progression, chargen, and workbench surfaces
  scripts/apps/progression-framework/progression-entry.js
  scripts/sheets/v2/character-sheet.js
  scripts/ui/shell/ProgressionSurfaceAdapter.js
  scripts/ui/shell/ShellSurfaceRegistry.js
  scripts/ui/shell/WorkbenchSurfaceAdapter.js
  templates/shell/partials/surface-chargen.hbs
  templates/shell/partials/surface-progression.hbs
  templates/shell/partials/surface-workbench.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

.
  data/feat-choice-options.json
  packs/feats.db
  packs/talents.db
  scripts/apps/choices/feat-choice-dialog.js
  scripts/apps/combat/combat-roll-config-dialog.js
  scripts/apps/progression-framework/shell/conditional-step-resolver.js
  scripts/apps/progression-framework/shell/progression-finalizer.js
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/apps/progression-framework/steps/language-step.js
  scripts/apps/progression-framework/steps/starship-maneuver-step.js
  scripts/combat/rolls/attacks.js
  scripts/combat/rolls/damage.js
  scripts/data/prerequisite-checker.js
  scripts/engine/abilities/ability-execution-coordinator.js
  scripts/engine/abilities/passive/passive-adapter.js
  scripts/engine/abilities/passive/passive-state.js
  scripts/engine/abilities/passive/rule-types.js
  scripts/engine/abilities/unlock/unlock-adapter.js
  scripts/engine/capabilities/capability-registry.js
  scripts/engine/combat/CombatEngine.js
  scripts/engine/combat/combat-option-resolver.js
  scripts/engine/combat/unarmed-attack-helper.js
  scripts/engine/execution/rules/rule-definitions.js
  scripts/engine/execution/rules/rule-enum.js
  scripts/engine/progression/content/progression-content-authority.js
  scripts/engine/progression/engine/autogrants/force-training.js
  scripts/engine/progression/engine/language-engine.js
  scripts/engine/progression/engine/maneuver-authority-engine.js
  scripts/engine/progression/feats/feat-choice-resolver.js
  scripts/engine/progression/feats/feat-engine.js
  scripts/engine/progression/feats/feat-grant-entitlement-resolver.js
  scripts/engine/progression/utils/force-suite-resolution.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/character/v2/partials/feats-panel.hbs
  templates/actors/droid/v2/droid-sheet.hbs
  templates/apps/combat/combat-roll-config-dialog.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.
  packs/feats.db
  scripts/actors/derived/defense-calculator.js
  scripts/combat/rolls/attacks.js
  scripts/combat/rolls/enhanced-rolls.js
  scripts/core/load-templates.js
  scripts/data/force-points.js
  scripts/engine/abilities/active/species-ability-handlers.js
  scripts/engine/effects/current-condition-resolver.js
  scripts/engine/feats/meta-resource-feat-resolver.js
  scripts/engine/force/force-points-service.js
  scripts/engine/skills/skill-feat-resolver.js
  scripts/engine/species/rage-engine.js
  scripts/governance/actor-engine/actor-engine.js
  scripts/load-templates.js
  scripts/rolls/skills.js
  scripts/sheets/v2/character-sheet/concept-context.js
  scripts/sheets/v2/character-sheet/force-ui.js
  scripts/sheets/v2/character-sheet/misc-ui.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  scripts/ui/chat/chat-interaction-bridge.js
  scripts/utils/skill-use-filter.js
  styles/ui/character-sheet-svg-panels.css
  templates/actors/character/v2-concept/partials/tabs/force-tab.hbs
  templates/actors/character/v2/partials/hp-condition-panel.hbs
  templates/actors/shared/partials/current-conditions-panel.hbs
  templates/chat/holo-roll.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

.
  packs/feats.db
  packs/talents.db
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/core/load-templates.js
  scripts/load-templates.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/contract-enforcer.js
  scripts/sheets/v2/shared/UIStateManager.js
  scripts/theme/actor-sheet-theme-registry.js
  scripts/ui/shell/HomeSurfaceService.js
  scripts/ui/shell/ProgressionSurfaceAdapter.js
  scripts/ui/shell/SettingsSurfaceService.js
  scripts/ui/shell/ShellHost.js
  styles/sheets/v2-concept-sheet.css
  styles/sheets/v2-sheet.css
  styles/system/shell-host.css
  templates/actors/character/v2-concept/character-sheet.hbs
  templates/actors/character/v2-concept/partials/frame/header-block.hbs
  templates/actors/character/v2-concept/partials/frame/hud-bar.hbs
  templates/actors/character/v2-concept/partials/frame/tabs-bar.hbs
  templates/actors/character/v2-concept/partials/tabs/skills-tab.hbs
  templates/apps/progression-framework/steps/species-work-surface.hbs
  templates/shell/partials/holopad-frame.hbs
  templates/shell/partials/surface-chargen.hbs
  templates/shell/partials/surface-home.hbs
  templates/shell/partials/surface-progression.hbs
  templates/shell/partials/surface-settings.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

fix(v2-tablet): activate concept sheet CSS, restore expand rect, cancel holopad min-heights
  scripts/sheets/v2/character-sheet.js
  styles/sheets/v2-concept-sheet.css
  system.json
Due: eslint --fix, prettier --write

Delete assets/assets/mentors/kael.webp
  assets/assets/mentors/kael.webp
Due: none

Add files via upload
  assets/Concept/Outfitters Splash.html
Due: none

Port Rendarr's Outfitters splash to concept fidelity (Outfitters Splash.html)
  scripts/apps/store/store-splash.js
  styles/system/store-surface.css
  templates/apps/store/store-splash.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Fix 121 strict partial-validator issues
  helpers/handlebars/partials-auto.js
  partial-report.json
  templates/actors/npc/npc-sheet.hbs
  templates/sheets/_sheet-skeleton.hbs
  templates/v2/npc/npc-sheet-body.hbs
  templates/v2/npc/npc-sheet.hbs
  tools/validate-partials.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Add comprehensive Handlebars template audit report
  docs/audits/partials-usage-audit.md
  partial-report.json
Due: prettier --write
