Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

PASSIVE Wave 1 RULE Infrastructure: Frozen Enum + Metadata
  scripts/engine/abilities/passive/passive-contract.js
  scripts/engine/execution/rules/rule-definitions.js
  scripts/engine/execution/rules/rule-enum.js
Due: eslint --fix

Add RuleCollector for RULE aggregation during prepare cycle
  scripts/engine/execution/rules/rule-collector.js
Due: eslint --fix

Integrate RuleCollector into execution-model processing
  scripts/engine/abilities/ability-execution-coordinator.js
  scripts/engine/abilities/passive/passive-adapter.js
  scripts/engine/resolution/resolution-context.js
Due: eslint --fix

Fix skill parameter naming in ResolutionContext query
  scripts/combat/rolls/enhanced-rolls.js
Due: eslint --fix

Add Phase 4E rule integration tests and fix import paths
  scripts/engine/resolution/resolution-context.js
  tests/phase-4e-rule-integration.test.js
Due: eslint --fix

Add RULE content migration scanning tools
  tools/inspect-candidates.js
  tools/rule-candidates.json
  tools/scan-rule-candidates.js
Due: eslint --fix, prettier --write

Migrate Uncanny Dodge II to RULE system
  packs/talents.db
Due: none

Expand RULES enum to maximal catalog
  scripts/engine/execution/rules/rule-definitions.js
  scripts/engine/execution/rules/rule-enum.js
Due: eslint --fix

Add end-to-end validation for Uncanny Dodge II migration
  tests/validate-uncanny-dodge-migration.js
Due: eslint --fix

Add combat behavior smoke test for Uncanny Dodge II
  tests/smoke-test-flanking-behavior.js
Due: eslint --fix

Document RULE system migration patterns and constraints
  docs/RULE-SYSTEM-MIGRATION-GUIDE.md
Due: prettier --write

updates to css and sheet
  CLAUDE.md
  DEPLOYMENT_CHECKLIST.md
  DIAGNOSTIC_GUIDE.md
  DIAGNOSTIC_IMPLEMENTATION_SUMMARY.md
  QUICK_REFERENCE.md
  SESSION_SUMMARY.txt
  SYSTEM_STATE_REPORT.md
  TEST_AND_VERIFY.md
  V12_TO_V13_MIGRATION_COMPLETE.md
  index.js
  scripts/apps/base/base-swse-appv2.js
  scripts/apps/base/swse-application-v2.js
  scripts/bootstrap/holo-init.js
  scripts/chat/swse-chat.js
  scripts/core/flag-registry.js
  scripts/engine/combat/CombatEngine.js
  scripts/engine/combat/reactions/reaction-engine.js
  scripts/engine/combat/reactions/reaction-registry.js
  scripts/engine/combat/ui/CombatUIAdapter.js
  scripts/engine/rolls/swse-roll-engine.js
  scripts/governance/sentinel/appv2-auditor.js
  scripts/governance/sentinel/sentinel-auditors.js
  scripts/governance/sentinel/tab-diagnostics.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/minimal-test-sheet.js
  styles/swse-core.css
  styles/swse-holo.css
  system.json
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/character/v2/minimal-test-sheet.hbs
  templates/actors/droid/v2/droid-sheet.hbs
  templates/actors/npc/v2/npc-sheet.hbs
  templates/actors/vehicle/v2/vehicle-sheet.hbs
  templates/chat/holo-roll.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Phase 1: AppV2 Foundation Correctness (V13 Compliant)
  scripts/apps/base/base-swse-appv2.js
  scripts/apps/base/swse-application-v2.js
Due: eslint --fix

Phase 2: AppV2 Diagnostics & Sentinel Integration (Warn-Only)
  scripts/governance/sentinel/appv2-auditor.js
  scripts/governance/sentinel/sentinel-registry.js
  scripts/governance/sentinel/tab-diagnostics.js
Due: eslint --fix

Refinement: Phase 2 AppV2 Auditor Hardening
  scripts/governance/sentinel/appv2-auditor.js
Due: eslint --fix

Phase 3: AppV2 Strict Enforcement Mode (Dev-Only)
  scripts/core/settings.js
  scripts/governance/sentinel/appv2-auditor.js
Due: eslint --fix

Sheet Migration: Add super._onRender() calls (Phase 3 compliance)
  scripts/sheets/v2/droid-sheet.js
  scripts/sheets/v2/npc-combat-sheet.js
  scripts/sheets/v2/npc-sheet.js
  scripts/sheets/v2/vehicle-sheet.js
Due: eslint --fix

Sheet/App Migration: Add super._onRender() calls to 5 apps (Phase 3 compliance)
  scripts/apps/gm-droid-approval-dashboard.js
  scripts/apps/gm-store-dashboard.js
  scripts/apps/store/store-main.js
  scripts/apps/xp-calculator.js
  scripts/engine/suggestion/gm/gm-suggestion-panel.js
Due: eslint --fix

Phase A: V13 AppV2 Interaction Audit Infrastructure (no changes)
  index.js
  scripts/governance/sentinel/appv2-audit-runner.js
  scripts/governance/sentinel/appv2-interaction-auditor.js
Due: eslint --fix

feat: Add Phase A2 Character Sheet Integration Audit diagnostics
  index.js
  scripts/sheets/v2/character-sheet-integration-audit.js
Due: eslint --fix

refactor: Enhance Phase A2 audit with production-ready checks
  scripts/sheets/v2/character-sheet-integration-audit.js
Due: eslint --fix

feat: Add Phase B integration test harness
  index.js
  scripts/sheets/v2/character-sheet-integration-test-harness.js
Due: eslint --fix

docs: Add comprehensive Phase A2 audit guide
  docs/phase-a2-character-sheet-integration-audit.md
Due: prettier --write

feat: Attach A2 audit diagnostics to Sentinel engine
  scripts/governance/sentinel/layers/sheet-integration-layer.js
  scripts/governance/sentinel/sentinel-init.js
  scripts/sheets/v2/character-sheet-integration-audit.js
Due: eslint --fix

feat: Create V2 Comprehensive Governance Audit (Phase 1 - Survey)
  scripts/governance/sentinel/sentinel-init.js
  scripts/governance/sentinel/v2-comprehensive-audit.js
Due: eslint --fix

docs: Add comprehensive V2 governance audit report (Phase 1 - Survey)
  AUDIT_REPORT_V2_GOVERNANCE.md
Due: prettier --write

fix: Convert 3 relative imports to absolute system paths (Phase 2A Step 1)
  scripts/engine/abilities/unlock/unlock-adapter.js
  scripts/engine/capabilities/capability-registry.js
  scripts/engine/resolution/resolution-context.js
Due: eslint --fix

fix: Route 9 ChatMessage.create calls through SWSEChat service (Phase 2A Step 2)
  scripts/chat/action-chat-engine.js
  scripts/engine/combat/threshold-engine.js
Due: eslint --fix

fix: Route 13 starship system ChatMessage.create calls through SWSEChat (Phase 2A Step 2 cont'd)
  scripts/engine/combat/starship/enhanced-commander.js
  scripts/engine/combat/starship/enhanced-engineer.js
  scripts/engine/combat/starship/enhanced-pilot.js
  scripts/engine/combat/starship/enhanced-shields.js
Due: eslint --fix

docs: Phase 2B actor.update() categorization audit (report-only)
  PHASE_2B_ACTOR_UPDATE_AUDIT.md
Due: prettier --write

docs: Expand Phase 2B audit with detailed tables, hydration risks, and execution plan
  PHASE_2B_ACTOR_UPDATE_AUDIT.md
Due: prettier --write

fix: Route hook mutations through ActorEngine with loop detection
  scripts/governance/actor-engine/actor-engine.js
  scripts/infrastructure/hooks/force-power-hooks.js
Due: eslint --fix

fix: Route effects & starship mutations through ActorEngine
  scripts/engine/combat/starship/enhanced-commander.js
  scripts/engine/combat/starship/enhanced-engineer.js
  scripts/engine/combat/starship/enhanced-pilot.js
  scripts/engine/combat/starship/enhanced-shields.js
  scripts/engine/combat/starship/subsystem-engine.js
  scripts/engine/combat/starship/vehicle-turn-controller.js
Due: eslint --fix

fix: Route remaining system mutations through ActorEngine
  scripts/armor/armor-upgrade-system.js
  scripts/engine/combat/threshold-engine.js
  scripts/engine/inventory/ammo-system.js
  scripts/engine/store/store-engine.js
  scripts/houserules/houserule-healing.js
Due: eslint --fix

fix: Route drop-service actor linking through ActorEngine
  scripts/services/drop-service.js
Due: eslint --fix

fix: hydrate character sheet derived context + forcePoints array
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

fix: hydrate character sheet context roots (abilities/defenses/identity)
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

feat: add unified V2 sheet diagnostics utility with Sentinel reporting
  index.js
  scripts/sheets/v2/sheet-diagnostics.js
Due: eslint --fix

refactor: integrate sheet diagnostics into Sentinel namespace
  scripts/governance/sentinel/sentinel-init.js
  scripts/sheets/v2/sheet-diagnostics.js
Due: eslint --fix

fix: resolve v2 app context/mutation/handler/governance issues
  scripts/apps/chargen/chargen-main.js
  scripts/apps/gm-store-dashboard.js
  scripts/apps/store/store-main.js
  scripts/governance/v2-app-handler-patterns.md
  templates/apps/store/store-card-grid.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write
