Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

Add species background progression plan builder
  scripts/apps/progression-framework/shell/mutation/species-background-plan-builder.js
Due: eslint --fix

Wire species background plan builder into finalizer
  scripts/apps/progression-framework/shell/mutation/species-background-finalizer-patch.js
Due: eslint --fix

Register species background finalizer patch
  scripts/talents/squad-actions-init.js
Due: eslint --fix

Add progression economy plan builder
  scripts/apps/progression-framework/shell/mutation/progression-economy-plan-builder.js
Due: eslint --fix

Wire progression economy builder into finalizer
  scripts/apps/progression-framework/shell/mutation/progression-economy-finalizer-patch.js
Due: eslint --fix

Register progression economy finalizer patch
  scripts/talents/squad-actions-init.js
Due: eslint --fix

Add progression metadata plan builder
  scripts/apps/progression-framework/shell/mutation/progression-metadata-plan-builder.js
Due: eslint --fix

Wire progression metadata builder into finalizer
  scripts/apps/progression-framework/shell/mutation/progression-metadata-finalizer-patch.js
Due: eslint --fix

Add phase 4 architecture enforcement runner
  tools/check-architecture-phase4.mjs
Due: none

Add independent Phase 1-3 architecture verification audit
  docs/audits/architecture-audit-phase-1-3-verification.md
Due: prettier --write

Consolidate progression builder patches into ProgressionFinalizer (Phase 4)
  scripts/apps/progression-framework/shell/mutation/ability-score-finalizer-patch.js
  scripts/apps/progression-framework/shell/mutation/feat-talent-finalizer-patch.js
  scripts/apps/progression-framework/shell/mutation/force-finalizer-patch.js
  scripts/apps/progression-framework/shell/mutation/progression-economy-finalizer-patch.js
  scripts/apps/progression-framework/shell/mutation/progression-metadata-finalizer-patch.js
  scripts/apps/progression-framework/shell/mutation/skills-languages-finalizer-patch.js
  scripts/apps/progression-framework/shell/mutation/species-background-finalizer-patch.js
  scripts/apps/progression-framework/shell/progression-finalizer.js
  scripts/talents/squad-actions-init.js
Due: eslint --fix

Finish Phase 4: wire metadata builder, document class as inline
  docs/architecture/progression-architecture.md
  docs/audits/architecture-audit-phase-1-3-verification.md
  scripts/apps/progression-framework/shell/mutation/class-plan-builder.js
  scripts/apps/progression-framework/shell/mutation/progression-metadata-plan-builder.js
  scripts/apps/progression-framework/shell/progression-finalizer.js
Due: eslint --fix, prettier --write

Remove unused class plan builder draft
  scripts/apps/progression-framework/shell/mutation/class-plan-builder.js
Due: eslint --fix

Add condition track mutation rule helpers
  scripts/engine/combat/ConditionTrackRules.js
Due: eslint --fix

AE-1: Extract ConditionTrack rule calculations into ConditionTrackRules
  scripts/engine/combat/ConditionTrackRules.js
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix

AE-1: Remove now-unused ImplantRules import from ActorEngine
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix

docs: add effects/modifier/derived pipeline audit
  docs/audits/effects-modifier-derived-audit.md
Due: prettier --write

refactor: remove dead ModifierEngine bundle methods (audit Phase 0)
  docs/audits/effects-modifier-derived-audit.md
  scripts/actors/v2/base-actor.js
  scripts/engine/abilities/passive/passive-adapter.js
  scripts/engine/effects/modifiers/ModifierEngine.js
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix, prettier --write

fix: combat/destiny effects emit real Foundry AE changes (audit Phase 1)
  docs/audits/effects-modifier-derived-audit.md
  scripts/actors/base/swse-actor-base.js
  scripts/combat/active-effects-manager.js
  scripts/combat/utils/combat-utils.js
Due: eslint --fix, prettier --write

fix: wire destiny attack bonus + applyDestinyEffect through modifier domain
  docs/audits/effects-modifier-derived-audit.md
  scripts/combat/active-effects-manager.js
  scripts/components/combat-action-bar.js
Due: eslint --fix, prettier --write

docs: Phase 2 inventory of raw ActiveEffect changes[] keys
  docs/audits/effects-modifier-derived-audit.md
Due: prettier --write

fix: force-power buffs route through ModifierEngine intents (Phase 3A)
  docs/audits/effects-modifier-derived-audit.md
  scripts/engine/force/force-power-effects-engine.js
Due: eslint --fix, prettier --write

refactor: defer Force Weapon migration in Phase 3A (unverified source)
  docs/audits/effects-modifier-derived-audit.md
  scripts/engine/force/force-power-effects-engine.js
Due: eslint --fix, prettier --write

docs: Phase 3B shield/DR SSOT design document (no implementation)
  docs/audits/effects-modifier-derived-audit.md
  docs/audits/phase-3b-shield-dr-design.md
Due: prettier --write

docs: lock Shield Rating as depleting resource (Phase 3B addendum, RAW)
  docs/audits/phase-3b-shield-dr-design.md
Due: prettier --write

feat: Shield Rating as stored SSOT with persisted depletion (Phase 3B shield)
  docs/audits/phase-3b-shield-dr-design.md
  scripts/actors/derived/derived-calculator.js
  scripts/engine/effects/adapters/immunity-resistance-adapter.js
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix, prettier --write

docs: D3 generic Damage Reduction SSOT design (no implementation)
  docs/audits/phase-3-d3-damage-reduction-design.md
Due: prettier --write

docs: D4 typed damage mitigation design (qualified DR + resistance/immunity)
  docs/audits/phase-3-d3-damage-reduction-design.md
  docs/audits/phase-3-d4-typed-mitigation-design.md
Due: prettier --write

docs: lock mitigation order — SR before typed resistance (D4 sign-off)
  docs/audits/phase-3-d4-typed-mitigation-design.md
Due: prettier --write

docs: D4A immunity layer plan + revise order to SR -> Immunity
  docs/audits/phase-3-d4-typed-mitigation-design.md
  docs/audits/phase-3-d4a-immunity-design.md
Due: prettier --write

docs: component-damage pipeline design (D4A prerequisite)
  docs/audits/phase-3-component-damage-pipeline-design.md
Due: prettier --write

docs: Canonical Damage Packet verification + design (D4A prerequisite)
  docs/audits/phase-3-canonical-damage-packet-design.md
Due: prettier --write

feat: Canonical Damage Packet normalization (Phase 3 foundation)
  docs/audits/phase-3-canonical-damage-packet-design.md
  scripts/engine/combat/CombatEngine.js
  scripts/engine/combat/canonical-damage-packet.js
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix, prettier --write

feat: component-aware mitigation result shape (Phase 3)
  docs/audits/phase-3-component-damage-pipeline-design.md
  scripts/engine/combat/damage-component-mitigation.js
  scripts/engine/combat/damage-mitigation-manager.js
Due: eslint --fix, prettier --write

feat: canonical DR entries/exceptions (Phase 3 D3)
  docs/audits/phase-3-d3-damage-reduction-design.md
  scripts/engine/combat/damage-component-mitigation.js
  scripts/engine/combat/resolvers/damage-reduction-resolver.js
Due: eslint --fix, prettier --write

feat: shared canonical damage-type matcher (Phase 3 D3.1)
  docs/audits/phase-3-d3-damage-reduction-design.md
  scripts/engine/combat/damage-component-mitigation.js
  scripts/engine/combat/damage-type-rules.js
  scripts/engine/combat/resolvers/damage-reduction-resolver.js
Due: eslint --fix, prettier --write

D4A: damage-type immunity mitigation stage (after SR, before DR)
  docs/audits/phase-3-d4a-immunity-design.md
  scripts/actors/derived/derived-calculator.js
  scripts/engine/combat/damage-component-mitigation.js
  scripts/engine/combat/damage-mitigation-manager.js
  scripts/engine/combat/damage-type-rules.js
Due: eslint --fix, prettier --write

D4: typed damage resistance mitigation stage (after DR, before Temp HP)
  docs/audits/phase-3-d4-typed-mitigation-design.md
  scripts/actors/derived/derived-calculator.js
  scripts/engine/combat/damage-component-mitigation.js
  scripts/engine/combat/damage-component-rules.js
  scripts/engine/combat/damage-mitigation-manager.js
  scripts/engine/combat/damage-type-rules.js
  scripts/engine/combat/resolvers/damage-reduction-resolver.js
  scripts/engine/force/force-power-effects-engine.js
Due: eslint --fix, prettier --write

docs: audit damage packet recalibration sources
  docs/audits/phase-0-damage-packet-recalibration-audit.md
Due: prettier --write

Phase 1: canonical damage profile registry + compendium migration auditor
  data/combat/damage-profiles.area.json
  data/combat/damage-profiles.force-power.json
  data/combat/damage-profiles.natural.json
  data/combat/damage-profiles.schema.json
  data/combat/damage-profiles.vehicle-weapon.json
  data/combat/damage-profiles.weapon.json
  docs/audits/generated/damage-profile-audit.json
  docs/audits/generated/damage-profile-audit.md
  docs/systems/CANONICAL_DAMAGE_PACKET.md
  scripts/engine/combat/damage-profile-registry.js
  scripts/engine/combat/vehicle-weapon-damage-parser.js
  tools/audit-damage-profiles.mjs
Due: eslint --fix, prettier --write
