Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Phase 3 Planning: Mutation Determinism Architecture
  PHASE_3_MUTATION_DETERMINISM_PLAN.md
Due: prettier --write

PHASE 3 BATCH 1: Authority Hardening & Global Interception
  index.js
  scripts/actors/engine/actor-engine.js
  scripts/core/mutation/MutationInterceptor.js
  scripts/core/sentinel/mutation-integrity-layer.js
  scripts/core/sentinel/sentinel-registry.js
Due: eslint --fix

Add PHASE 3 BATCH 1 Validation Test Suite
  PHASE_3_BATCH_1_VALIDATION_GUIDE.md
  index.js
  scripts/core/mutation/batch-1-validation.js
Due: eslint --fix, prettier --write

BATCH 1 INTEGRATION + BATCH 2 PLANNING
  PHASE_3_BATCH_2_COMBAT_CONSOLIDATION.md
  scripts/core/sentinel/sentinel-registry.js
Due: eslint --fix, prettier --write

PHASE 3 BATCH 2 FILE 1: Consolidate damage-engine.js
  scripts/actors/engine/actor-engine.js
  scripts/engine/combat/damage-engine.js
Due: eslint --fix

Add comprehensive damage-engine determinism test suite
  index.js
  scripts/engine/combat/damage-engine-test.js
Due: eslint --fix

PHASE 3 BATCH 2 FILE 2: Consolidate swse-combatant.js
  scripts/actors/engine/actor-engine.js
  scripts/combat/swse-combatant.js
Due: eslint --fix

PHASE 3 BATCH 2 FILE 3: Consolidate enhanced-rolls.js
  scripts/actors/engine/actor-engine.js
  scripts/combat/rolls/enhanced-rolls.js
Due: eslint --fix

PHASE 3 BATCH 2: Complete All 8 Combat Files ✅
  scripts/actors/engine/actor-engine.js
  scripts/combat/combat-automation.js
  scripts/combat/combat-integration.js
  scripts/combat/ion-damage.js
  scripts/combat/swse-combat.js
  scripts/engine/combat/massive-damage-engine.js
Due: eslint --fix

Integrate Batch 2 Comprehensive Combat Test Suite
  index.js
  scripts/combat/batch-2-comprehensive-test.js
Due: eslint --fix

Harden BATCH 3 Progression API - Phase 3 Atomicity Refinements
  scripts/actors/engine/actor-engine.js
  scripts/actors/v2/base-actor.js
  scripts/core/mutation/MutationInterceptor.js
Due: eslint --fix

BATCH 3: Route core progression state management through ActorEngine
  scripts/engine/progression/xp-engine.js
  scripts/progression/feats/feat-state.js
  scripts/progression/skills/skill-state.js
Due: eslint --fix

Implement Sentinel MutationIntegrityLayer - Transactional Auditing
  scripts/actors/derived/derived-calculator.js
  scripts/core/mutation/MutationInterceptor.js
  scripts/core/sentinel/mutation-integrity-layer.js
Due: eslint --fix

Add TransactionVerification test harness for Sentinel auditing
  scripts/core/sentinel/transaction-verification.js
Due: eslint --fix

BATCH 3: Route finalize-integration.js through applyProgression
  scripts/progression/integration/finalize-integration.js
Due: eslint --fix

BATCH 3: Route ApplyHandlers through ActorEngine
  scripts/progression/utils/apply-handlers.js
Due: eslint --fix

BATCH 3: Route Priority 2 Item Creation Engines through ActorEngine
  scripts/progression/engine/equipment-engine.js
  scripts/progression/engine/force-power-engine.js
  scripts/progression/engine/force-secret-engine.js
  scripts/progression/engine/force-technique-engine.js
  scripts/progression/feats/feat-engine.js
Due: eslint --fix

BATCH 3: Route Priority 3 Specialization Engines (ALL 10 REMAINING FILES)
  scripts/progression/engine/attribute-increase-handler.js
  scripts/progression/engine/autocalc/derived-stats.js
  scripts/progression/engine/engine-helpers.js
  scripts/progression/engine/force-progression.js
  scripts/progression/engine/language-engine.js
  scripts/progression/engine/starship-maneuver-engine.js
  scripts/progression/engine/template-engine.js
  scripts/progression/engine/tools/rollback-store.js
  scripts/progression/skills/skill-engine.js
Due: eslint --fix

Add Sentinel Integration Test Suite for PHASE 3 Governance Validation
  scripts/core/sentinel/integration-tests.js
Due: eslint --fix

Add comprehensive BATCH ROADMAP for remaining PHASE 3 governance
  BATCH_ROADMAP.md
Due: prettier --write

BATCH 4: Route core engine systems through ActorEngine (Part 1/N)
  scripts/engine/BonusHitPointsEngine.js
  scripts/engine/effects/active-effects-engine.js
  scripts/engine/force/force-engine.js
  scripts/engine/systems/species/NaturalWeaponHandler.js
Due: eslint --fix

BATCH 4: Route core engine systems through ActorEngine (Part 2/N)
  scripts/engine/ArchetypeAffinityEngine.js
  scripts/engine/crew/crew-interaction-engine.js
  scripts/engine/mount/mount-engine.js
  scripts/engine/npc-levelup.js
Due: eslint --fix

BATCH 4: Route core engine systems through ActorEngine (Part 3/N)
  scripts/combat/active-effects-manager.js
  scripts/engine/RuleElement.js
Due: eslint --fix

BATCH 4: Route core engine systems through ActorEngine (Part 4/N)
  scripts/apps/gm-droid-approval-dashboard.js
  scripts/engine/DraftCharacter.js
  scripts/engine/progression.js
Due: eslint --fix

BATCH 4: Route core engine systems through ActorEngine (Part 5/N)
  scripts/apps/droid-builder-app.js
  scripts/engine/FeatEffectsEngine.js
  scripts/engine/ProgressionSession.js
  scripts/engine/TalentAbilitiesEngine.js
Due: eslint --fix

BATCH 4: Route core engine systems through ActorEngine (Part 6/N)
  scripts/combat/feint-mechanics.js
  scripts/combat/systems/grappling-system.js
Due: eslint --fix

BATCH 4: Route core engine systems through ActorEngine (Part 7/N)
  scripts/apps/chargen/chargen-templates.js
  scripts/apps/custom-item-dialog.js
  scripts/apps/template-character-creator.js
  scripts/combat/systems/vehicle/vehicle-collisions.js
  scripts/combat/systems/vehicle/vehicle-dogfighting.js
  scripts/engine/combat/SWSEInitiative.js
Due: eslint --fix

BATCH 4: Route core engine systems through ActorEngine (Part 8/N - Approaching Completion)
  scripts/apps/chargen/chargen-feats-talents.js
  scripts/apps/chargen/chargen-main.js
  scripts/apps/damage-app.js
Due: eslint --fix

BATCH 4: Route core engine systems through ActorEngine (Part 9/N - Final Push)
  scripts/apps/skill-modifier-breakdown-app.js
Due: eslint --fix

BATCH 4 Complete: Route all chargen, store, mentor, engine mutations through ActorEngine
  scripts/apps/chargen-improved.js
  scripts/apps/chargen/ability-rolling.js
  scripts/apps/chargen/chargen-backgrounds.js
  scripts/apps/chargen/chargen-class.js
  scripts/apps/chargen/chargen-feats-talents.js
  scripts/apps/chargen/chargen-main.js
  scripts/apps/gm-store-dashboard.js
  scripts/apps/item-selling-system.js
  scripts/apps/levelup/levelup-class.js
  scripts/apps/mentor/mentor-survey.js
  scripts/apps/modifier-inspector-app.js
  scripts/apps/proficiency-selection-dialog.js
  scripts/apps/store/store-checkout.js
  scripts/apps/template-character-creator.js
  scripts/combat/active-effects-manager.js
  scripts/engine/RuleElement.js
  scripts/engine/mount/mount-engine.js
  scripts/engine/npc-levelup.js
  scripts/engine/systems/dd-engine.js
Due: eslint --fix

docs: Add BATCH 4 atomicity validation plan and refactoring candidates
  docs/BATCH-4-REFACTORING-CANDIDATES.md
  docs/BATCH-4-WORKFLOW-TESTS.md
Due: prettier --write

feat: Add StoreTransactionEngine and BATCH 4 test harness (parallel streams)
  scripts/engines/store/store-transaction-engine.js
  tests/batch-4-workflow-tests.js
Due: eslint --fix

docs: Add BATCH 4 parallel execution guide
  docs/BATCH-4-PARALLEL-EXECUTION.md
Due: prettier --write

docs: Add store module wiring architecture guide
  docs/STORE-WIRING-ARCHITECTURE.md
Due: prettier --write

docs: Add BATCH 4 completion summary
  docs/BATCH-4-COMPLETION-SUMMARY.md
Due: prettier --write

docs: Add BATCH 5 scope and mutation inventory
  docs/BATCH-5-SCOPE.md
Due: prettier --write

docs: Add BATCH 5 talent system architecture analysis
  docs/BATCH-5-TALENT-ARCHITECTURE-ANALYSIS.md
Due: prettier --write

docs: Add BATCH 5 mutation classification map
  docs/BATCH-5-MUTATION-CLASSIFICATION.md
Due: prettier --write

Phase 5A: Talent Effect Engine & ActorEngine.applyTalentEffect()
  scripts/actors/engine/actor-engine.js
  scripts/talents/dark-side-devotee-mechanics.js
  scripts/talents/talent-effect-engine.js
Due: eslint --fix

Add Phase 5A test suite and documentation
  docs/PHASE-5A-TALENT-EFFECT-IMPLEMENTATION.md
  tests/phase-5a-talent-effect-tests.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
