Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Phase 7: UI Suggestion Display - Mark suggested items in all selection steps
  scripts/apps/progression-framework/steps/attribute-step.js
  scripts/apps/progression-framework/steps/background-step.js
  scripts/apps/progression-framework/steps/droid-builder-step.js
  scripts/apps/progression-framework/steps/force-power-step.js
  scripts/apps/progression-framework/steps/force-secret-step.js
  scripts/apps/progression-framework/steps/force-technique-step.js
  scripts/apps/progression-framework/steps/language-step.js
  scripts/apps/progression-framework/steps/skills-step.js
  scripts/apps/progression-framework/steps/starship-maneuver-step.js
Due: eslint --fix

Phase 8: Mentor Integration & Voice - Wire suggestion advisory system
  scripts/apps/progression-framework/steps/attribute-step.js
  scripts/apps/progression-framework/steps/background-step.js
  scripts/apps/progression-framework/steps/class-step.js
  scripts/apps/progression-framework/steps/language-step.js
  scripts/apps/progression-framework/steps/mentor-step-integration.js
  scripts/apps/progression-framework/steps/skills-step.js
  scripts/apps/progression-framework/steps/species-step.js
  scripts/engine/mentor/mentor-advisory-coordinator.js
Due: eslint --fix

Phase 9: Visual Suggestion Highlights - Wire SVG flourishes to recommended items
  templates/apps/progression-framework/steps/attribute-work-surface.hbs
  templates/apps/progression-framework/steps/background-work-surface.hbs
  templates/apps/progression-framework/steps/class-work-surface.hbs
  templates/apps/progression-framework/steps/language-work-surface.hbs
  templates/apps/progression-framework/steps/species-work-surface.hbs
Due: node scripts/validate/validate-icon-keys.js

Phase 10: Wire Conditional Steps - Complete suggestion system for remaining steps
  scripts/apps/progression-framework/steps/droid-builder-step.js
  scripts/apps/progression-framework/steps/force-power-step.js
  scripts/apps/progression-framework/steps/force-secret-step.js
  scripts/apps/progression-framework/steps/force-technique-step.js
  scripts/apps/progression-framework/steps/starship-maneuver-step.js
  templates/apps/progression-framework/steps/droid-builder-work-surface.hbs
  templates/apps/progression-framework/steps/force-power-work-surface.hbs
  templates/apps/progression-framework/steps/force-secret-work-surface.hbs
  templates/apps/progression-framework/steps/force-technique-work-surface.hbs
  templates/apps/progression-framework/steps/starship-maneuver-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 11: Implement confidence-based visual indicators and mentor mood mapping
  scripts/apps/progression-framework/steps/attribute-step.js
  scripts/apps/progression-framework/steps/background-step.js
  scripts/apps/progression-framework/steps/class-step.js
  scripts/apps/progression-framework/steps/droid-builder-step.js
  scripts/apps/progression-framework/steps/force-power-step.js
  scripts/apps/progression-framework/steps/force-secret-step.js
  scripts/apps/progression-framework/steps/force-technique-step.js
  scripts/apps/progression-framework/steps/language-step.js
  scripts/apps/progression-framework/steps/mentor-step-integration.js
  scripts/apps/progression-framework/steps/species-step.js
  scripts/apps/progression-framework/steps/starship-maneuver-step.js
  scripts/apps/progression-framework/steps/step-plugin-base.js
  scripts/engine/mentor/mentor-advisory-coordinator.js
  styles/progression-framework/option-cards.css
  templates/apps/progression-framework/steps/attribute-work-surface.hbs
  templates/apps/progression-framework/steps/background-work-surface.hbs
  templates/apps/progression-framework/steps/class-work-surface.hbs
  templates/apps/progression-framework/steps/droid-builder-work-surface.hbs
  templates/apps/progression-framework/steps/force-power-work-surface.hbs
  templates/apps/progression-framework/steps/force-secret-work-surface.hbs
  templates/apps/progression-framework/steps/force-technique-work-surface.hbs
  templates/apps/progression-framework/steps/language-work-surface.hbs
  templates/apps/progression-framework/steps/species-work-surface.hbs
  templates/apps/progression-framework/steps/starship-maneuver-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Add Suggestion Engine Architecture Map
  SUGGESTION_ENGINE_ARCHITECTURE.md
Due: prettier --write

Add comprehensive suggestion engine audit
  SUGGESTION_ENGINE_AUDIT_FINDINGS.md
Due: prettier --write

Phase 1: Suggestion Engine Stabilization - Domain Contract Fixes
  PHASE_1_STABILIZATION_SUMMARY.md
  scripts/apps/progression-framework/steps/force-power-step.js
  scripts/apps/progression-framework/steps/skills-step.js
  scripts/engine/suggestion/SuggestionService.js
  scripts/engine/suggestion/domain-registry.js
Due: eslint --fix, prettier --write

Phase 2: Implement species and language suggestion engines (every part of buffalo approach)
  scripts/engine/progression/engine/language-suggestion-engine.js
  scripts/engine/progression/engine/species-suggestion-engine.js
  scripts/engine/suggestion/SuggestionEngineCoordinator.js
  scripts/engine/suggestion/SuggestionService.js
  scripts/engine/suggestion/domain-registry.js
Due: eslint --fix

Add comprehensive Phase 2 rollout documentation
  PHASE_2_SPECIES_LANGUAGES_ROLLOUT.md
Due: prettier --write

Add suggestion engine flow reference documentation
  SUGGESTION_FLOW_REFERENCE.md
Due: prettier --write

Add Phase 2 Executive Summary
  PHASE_2_EXECUTIVE_SUMMARY.md
Due: prettier --write

Phase 3: Wire Force-Secrets and Force-Techniques suggestion engines
  scripts/engine/suggestion/SuggestionEngineCoordinator.js
  scripts/engine/suggestion/SuggestionService.js
  scripts/engine/suggestion/domain-registry.js
Due: eslint --fix

Add comprehensive Phase 3 Force-Secrets and Force-Techniques rollout documentation
  PHASE_3_FORCE_ROLLOUT.md
Due: prettier --write

Add Phase 3 Executive Summary
  PHASE_3_EXECUTIVE_SUMMARY.md
Due: prettier --write

Add comprehensive three-phase completion summary
  SUGGESTION_ENGINE_PHASES_COMPLETE.md
Due: prettier --write

Add comprehensive droid builder redesign specification
  DROID_BUILDER_REDESIGN.md
Due: prettier --write

Phase A + B: Droid Builder Deferred Implementation
  PHASE_A_B_DROID_DEFERRED_IMPLEMENTATION.md
  scripts/apps/progression-framework/shell/progression-finalizer.js
  scripts/apps/progression-framework/steps/droid-builder-step.js
  scripts/apps/progression-framework/steps/summary-step.js
  scripts/houserules/houserule-settings.js
Due: eslint --fix, prettier --write

Phase C: Final Pass Infrastructure for Deferred Droid Builds
  PHASE_C_FINAL_PASS_IMPLEMENTATION.md
  scripts/apps/progression-framework/shell/conditional-step-resolver.js
  scripts/apps/progression-framework/shell/progression-finalizer.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/droid-builder-step.js
  scripts/apps/progression-framework/steps/final-droid-configuration-step.js
  templates/apps/progression-framework/steps/final-droid-configuration-details.hbs
  templates/apps/progression-framework/steps/final-droid-configuration-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Phase D: DroidSuggestionEngine Infrastructure
  scripts/engine/progression/engine/droid-suggestion-engine.js
  scripts/engine/suggestion/SuggestionEngineCoordinator.js
  scripts/engine/suggestion/SuggestionService.js
  scripts/engine/suggestion/domain-registry.js
Due: eslint --fix

Phase D completion + Phase E enforcement: Droid suggestions finalization
  scripts/apps/progression-framework/shell/progression-finalizer.js
  scripts/apps/progression-framework/steps/droid-builder-step.js
  scripts/apps/progression-framework/steps/final-droid-configuration-step.js
Due: eslint --fix

Phase 1: Audit findings and architectural decisions
  PHASE-1-ARCHITECTURAL-DECISIONS.md
  PHASE-1-AUDIT.md
Due: prettier --write

Phase 1 Work Package A Task A2: Create canonical ProgressionSession and wire into shell
  scripts/apps/progression-framework/shell/build-intent.js
  scripts/apps/progression-framework/shell/progression-session.js
  scripts/apps/progression-framework/shell/progression-shell.js
Due: eslint --fix

Phase 1: Add step normalizers and commit helper infrastructure
  scripts/apps/progression-framework/steps/step-normalizers.js
  scripts/apps/progression-framework/steps/step-plugin-base.js
Due: eslint --fix

Phase 1 Work Package C1: Wire progressionSession into finalizer
  scripts/apps/progression-framework/shell/progression-finalizer.js
Due: eslint --fix

Phase 1: Add comprehensive progress and status report
  PHASE-1-PROGRESS.md
Due: prettier --write

Phase 1 Work Package C2: Update summary step to read from progressionSession
  scripts/apps/progression-framework/steps/summary-step.js
Due: eslint --fix

Phase 1 Work Package B: Normalize class-step and species-step commits
  scripts/apps/progression-framework/steps/class-step.js
  scripts/apps/progression-framework/steps/species-step.js
Due: eslint --fix

Phase 1 Work Package B: Normalize background, attribute, and skills steps
  scripts/apps/progression-framework/steps/attribute-step.js
  scripts/apps/progression-framework/steps/background-step.js
  scripts/apps/progression-framework/steps/skills-step.js
Due: eslint --fix

Phase 1 Work Package B: Normalize language-step and add normalizeFeats to feat-step
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/apps/progression-framework/steps/language-step.js
Due: eslint --fix

Phase 1 Work Package D: Reroute force steps to AbilityEngine
  scripts/apps/progression-framework/steps/force-power-step.js
  scripts/apps/progression-framework/steps/force-secret-step.js
  scripts/apps/progression-framework/steps/force-technique-step.js
Due: eslint --fix

Phase 1 Complete: Final handoff report and summary
  PHASE-1-FINAL-REPORT.md
Due: prettier --write

Phase 2 Work Package A: Create comprehensive progression node registry
  scripts/apps/progression-framework/registries/progression-node-registry.js
Due: eslint --fix

Phase 2 Work Package B: Create active-step computation engine
  scripts/apps/progression-framework/shell/active-step-computer.js
Due: eslint --fix

Phase 2 Work Package D: Implement invalidation and reconciliation
  scripts/apps/progression-framework/shell/progression-reconciler.js
Due: eslint --fix

Phase 2 Progress Report: Foundation complete, ready for integration
  PHASE-2-PROGRESS.md
Due: prettier --write

Phase 2 Infrastructure: Node-to-descriptor mapper
  scripts/apps/progression-framework/registries/node-descriptor-mapper.js
Due: eslint --fix

Phase 2 Integration: Wire ActiveStepComputer into chargen-shell
  scripts/apps/progression-framework/chargen-shell.js
  scripts/apps/progression-framework/shell/progression-shell.js
Due: eslint --fix

Phase 2 Session Summary: Foundation complete, integration started
  PHASE-2-SESSION-SUMMARY.md
Due: prettier --write

Phase 2: Wire reconciliation into commit pipeline
  scripts/apps/progression-framework/steps/attribute-step.js
  scripts/apps/progression-framework/steps/background-step.js
  scripts/apps/progression-framework/steps/class-step.js
  scripts/apps/progression-framework/steps/language-step.js
  scripts/apps/progression-framework/steps/skills-step.js
  scripts/apps/progression-framework/steps/species-step.js
  scripts/apps/progression-framework/steps/step-plugin-base.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
