Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

fix(sheets,progression): scope shell CSS off shared classes; unify progression responsive authority (#966)
  docs/audits/progression-responsive-layout-audit.md
  scripts/apps/progression-framework/shell/progression-layout-observer.js
  scripts/apps/progression-framework/shell/progression-rail-resizer.js
  scripts/sheets/v2/contract-enforcer.js
  scripts/ui/shell/shell-responsive-observer.js
  styles/apps/gm-datapad.css
  styles/progression-framework/chargen-stabilization.css
  styles/progression-framework/option-cards.css
  styles/progression-framework/progression-shell.css
  styles/progression-framework/steps/class-step.css
  styles/sheets/v2-concept-sheet.css
  styles/system/shell-host.css
  styles/system/store-surface.css
  templates/apps/progression-framework/progression-shell.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

feat(gm-datapad): Phase 8D-3C Job production content hydration + closure
  docs/audits/gm-datapad-ecosystem-redesign.md
  scripts/generation/data/job-complications.js
  scripts/generation/data/job-hooks.js
  scripts/generation/data/job-reward-suggestions.js
  scripts/generation/data/job-secrets.js
  scripts/generation/data/job-stakes.js
  scripts/generation/objective-template.js
  tests/gm-generation-phase8d3c-jobs-production.test.mjs
Due: eslint --fix, prettier --write

fix(gm-datapad): correction pass on Phase 8D-3C hydration closure
  docs/audits/gm-datapad-ecosystem-redesign.md
  scripts/generation/data/job-complications.js
  scripts/generation/data/job-hooks.js
  scripts/generation/data/job-reward-suggestions.js
  scripts/generation/data/job-secrets.js
  scripts/generation/data/job-stakes.js
  scripts/generation/objective-template.js
  tests/gm-generation-phase8d3c-jobs-production.test.mjs
Due: eslint --fix, prettier --write

docs(gm-datapad): make §203 internally consistent after correction pass
  docs/audits/gm-datapad-ecosystem-redesign.md
Due: prettier --write

Fix progression compact-mode details panel occluding work surface (Defect D)
  styles/progression-framework/chargen-stabilization.css
  tests/progression-details-panel-compact-layout-contract.test.mjs
Due: none

Fix Add Feat/Talent Confirm gating and Background compendium drop adoption (Defects A & B)
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/background-step.js
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/sheets/v2/character-like-sheet.js
  scripts/ui/shell/ProgressionSurfaceAdapter.js
  tests/helpers/foundry-shim/fakes/actor-engine.fake.mjs
  tests/progression-background-drop-adoption-contract.test.mjs
  tests/progression-sheet-free-add-single-step-contract.test.mjs
Due: eslint --fix

Fix multiclass Derived Class Stat Audit fabricating Expected +0 (Defect C)
  scripts/apps/progression-framework/shell/progression-reconciler.js
  scripts/apps/progression-framework/shell/reconciliation/progression-reconciliation-report-builder.js
  tests/progression-derived-class-stat-audit-contract.test.mjs
Due: eslint --fix

Harden Faction/Contact canonical identity (PRE-8D-4)
  docs/audits/gm-datapad-ecosystem-redesign.md
  scripts/allies/faction-registry-service.js
  tests/pre8d4-faction-contact-identity-hardening.test.mjs
Due: eslint --fix, prettier --write

Correction pass: harden every remaining Faction/Contact mutation caller
  docs/audits/gm-datapad-ecosystem-redesign.md
  scripts/allies/faction-registry-service.js
  scripts/ui/shell/gm/controllers/GMJobBoardSurfaceController.js
  scripts/ui/shell/gm/controllers/GMLocationsSurfaceController.js
  tests/pre8d4-faction-contact-identity-hardening.test.mjs
Due: eslint --fix, prettier --write

Correction pass round 2: legacy id compatibility + two more identity leaks
  docs/audits/gm-datapad-ecosystem-redesign.md
  scripts/allies/faction-registry-service.js
  scripts/ui/shell/gm/FactionIntelBridgeService.js
  scripts/ui/shell/gm/controllers/GMFactionRelationshipSurfaceController.js
  scripts/ui/shell/gm/controllers/GMJobBoardSurfaceController.js
  tests/pre8d4-faction-contact-identity-hardening.test.mjs
Due: eslint --fix, prettier --write

Correction pass round 3: use canonical ids already in hand
  docs/audits/gm-datapad-ecosystem-redesign.md
  scripts/ui/shell/gm/FactionIntelBridgeService.js
  scripts/ui/shell/gm/controllers/GMJobBoardSurfaceController.js
  tests/pre8d4-faction-contact-identity-hardening.test.mjs
Due: eslint --fix, prettier --write

Correction pass round 4: contactId must resolve-or-fail; free-text never reuses by name
  docs/audits/gm-datapad-ecosystem-redesign.md
  scripts/ui/shell/gm/controllers/GMJobBoardSurfaceController.js
  tests/pre8d4-faction-contact-identity-hardening.test.mjs
Due: eslint --fix, prettier --write

Correction pass round 5: explicit-id branches must be exact-id-only, never permissive
  docs/audits/gm-datapad-ecosystem-redesign.md
  scripts/allies/faction-registry-service.js
  scripts/ui/shell/gm/FactionIntelBridgeService.js
  scripts/ui/shell/gm/controllers/GMJobBoardSurfaceController.js
  tests/pre8d4-faction-contact-identity-hardening.test.mjs
Due: eslint --fix, prettier --write

Correction pass round 6: authority itself must refuse create-with-unknown-id
  docs/audits/gm-datapad-ecosystem-redesign.md
  scripts/allies/faction-registry-service.js
  tests/pre8d4-faction-contact-identity-hardening.test.mjs
Due: eslint --fix, prettier --write

Correction pass round 7: collision-safe minting, id-priority search, exact-id issuer resolution
  docs/audits/gm-datapad-ecosystem-redesign.md
  scripts/allies/faction-registry-service.js
  scripts/ui/shell/gm/FactionJobBridgeService.js
  scripts/ui/shell/gm/controllers/GMFactionRelationshipSurfaceController.js
  tests/pre8d4-faction-contact-identity-hardening.test.mjs
Due: eslint --fix, prettier --write

Correction pass round 8: exact-vs-case-insensitive id precedence, Job Board issuerFilter collapse, bridge name-ambiguity
  docs/audits/gm-datapad-ecosystem-redesign.md
  scripts/allies/faction-registry-service.js
  scripts/ui/shell/gm/FactionJobBridgeService.js
  scripts/ui/shell/gm/GMJobBoardSurfaceService.js
  scripts/ui/shell/gm/controllers/GMJobBoardSurfaceController.js
  tests/pre8d4-faction-contact-identity-hardening.test.mjs
Due: eslint --fix, prettier --write

Correction pass round 9: canonical controllingFactionId, no silent Contact downgrade, ambiguous case-insensitive id refusal
  docs/audits/gm-datapad-ecosystem-redesign.md
  scripts/allies/faction-registry-service.js
  scripts/ui/shell/gm/FactionJobBridgeService.js
  scripts/ui/shell/gm/LocationJobBridgeService.js
  tests/pre8d4-faction-contact-identity-hardening.test.mjs
Due: eslint --fix, prettier --write

Correction pass round 10: canonical-id-only issuer, name-only structured fields, exact-case ids
  docs/audits/gm-datapad-ecosystem-redesign.md
  scripts/allies/faction-registry-service.js
  scripts/ui/shell/gm/FactionJobBridgeService.js
  scripts/ui/shell/gm/LocationJobBridgeService.js
  scripts/ui/shell/gm/controllers/GMFactionRelationshipSurfaceController.js
  tests/pre8d4-faction-contact-identity-hardening.test.mjs
Due: eslint --fix, prettier --write

Add Campaign Domain Contracts: normative authority/identity/lifecycle rules
  docs/architecture/campaign-domain-contracts.md
Due: prettier --write

Add Party Knowledge and Participation domain to campaign domain contracts
  docs/architecture/campaign-domain-contracts.md
Due: prettier --write

Final contract closure pass: Party domain, CampaignEffect/Event ownership, ambiguity-safe search helpers
  docs/architecture/campaign-domain-contracts.md
  scripts/allies/faction-registry-service.js
  scripts/ui/shell/AlliesSurfaceService.js
  scripts/ui/shell/gm/GMFactionRelationshipSurfaceService.js
  tests/pre8d4-faction-contact-identity-hardening.test.mjs
Due: eslint --fix, prettier --write

Separate CampaignEffect intent from its CommitLedger execution receipt
  docs/architecture/campaign-domain-contracts.md
Due: prettier --write

Fix skill roll dialog trusting a stale caller-supplied baseBonus:0
  docs/audits/skill-roll-dialog-base-authority.md
  scripts/combat/rolls/enhanced-rolls.js
  scripts/rolls/roll-config.js
  scripts/rolls/skills.js
  tests/skill-roll-dialog-base-authority.test.mjs
Due: eslint --fix, prettier --write

Fix raw ability-modifier authority: canonical attributes over legacy stub
  docs/audits/skill-roll-dialog-base-authority.md
  scripts/rolls/roll-config.js
  tests/ability-modifier-authority.test.mjs
  tests/skill-roll-dialog-base-authority.test.mjs
Due: eslint --fix, prettier --write

Phase 3: inventory system.abilities authority residue
  docs/audits/ability-schema-authority-migration-phase3-ledger.md
Due: prettier --write

Phase 4/5: align SchemaAdapters with V2 ability authority
  scripts/utils/schema-adapters.js
  tests/schema-adapters-ability-authority.test.mjs
Due: eslint --fix

Phase 6a: fix ability-modifier authority in combat/rolls subsystem
  docs/audits/ability-schema-authority-migration-phase3-ledger.md
  scripts/combat/rolls/enhanced-rolls.js
  scripts/engine/combat/SWSEInitiative.js
  scripts/ui/combat-stats-tooltip.js
  tests/initiative-ability-fallback-authority.test.mjs
Due: eslint --fix, prettier --write

Phase 6b: fix ability-modifier authority in skill-uses subsystem
  docs/audits/ability-schema-authority-migration-phase3-ledger.md
  scripts/skills/skill-uses.js
  tests/skill-uses-ability-authority.test.mjs
Due: eslint --fix, prettier --write

Phase 6c: fix progression shell ability snapshot (currently dead output)
  docs/audits/ability-schema-authority-migration-phase3-ledger.md
  scripts/apps/progression-framework/shell/progression-shell.js
Due: eslint --fix, prettier --write

Phase 6d: fix ability-modifier authority in Force-power subsystem
  docs/audits/ability-schema-authority-migration-phase3-ledger.md
  scripts/engine/feats/force-training-entitlement-runtime-patches.js
  scripts/engine/force/ForceTrainingEngine.js
  scripts/engine/progression/engine/force-power-engine.js
  scripts/engine/progression/engine/force-provenance-engine.js
  scripts/engine/progression/utils/force-suite-resolution.js
  tests/force-system-ability-authority.test.mjs
Due: eslint --fix, prettier --write

Phase 6e: fix ability-modifier authority in talent/feats subsystem
  docs/audits/ability-schema-authority-migration-phase3-ledger.md
  scripts/engine/combat/combat-option-resolver.js
  scripts/engine/feats/skill-feat-runtime-patches.js
  scripts/engine/progression/feats/feat-grant-entitlement-resolver.js
  scripts/engine/skills/skill-feat-resolver.js
  scripts/engine/talent/lightsaber-form-engine.js
  tests/talent-feats-ability-authority.test.mjs
Due: eslint --fix, prettier --write

Update ledger status: 13 of 20 Category C sites fixed, remaining scoped
  docs/audits/ability-schema-authority-migration-phase3-ledger.md
Due: prettier --write

Correct ledger counts and dead-code classification
  docs/audits/ability-schema-authority-migration-phase3-ledger.md
Due: prettier --write

Phase 6f: fix ability-score authority in chargen/vehicle/store/suggestion/mentor consumers
  scripts/actors/vehicle/vehicle-crew-positions.js
  scripts/apps/template-character-creator.js
  scripts/engine/store/index.js
  scripts/engine/suggestion/shared-suggestion-utilities.js
  scripts/mentor/mentor-conditional-variants.js
  scripts/mentor/mentor-dialogue-v2-integration.js
  tests/consumer-batch-ability-authority.test.mjs
Due: eslint --fix

Phase 6g: fix prerequisite ability-score authority and hypothetical-actor simulation
  scripts/data/prerequisite-checker.js
  scripts/engine/suggestion/AttributeIncreaseScorer.js
  tests/prerequisite-ability-score-authority.test.mjs
Due: eslint --fix

Update ledger for Phase 6f/6g: mark 6 consumer sites fixed, log 2 new discoveries
  docs/audits/ability-schema-authority-migration-phase3-ledger.md
Due: prettier --write

Phase 6h: fix ability-score authority in character-actor.js identity mirror
  scripts/actors/v2/character-actor.js
  tests/character-actor-identity-ability-authority.test.mjs
Due: eslint --fix

Phase 6i: investigate WISDOM_MOD consumers, fix live defect found instead
  scripts/engine/progression/engine/starship-maneuver-suggestion-engine.js
  scripts/engine/progression/engine/suggestion-constants.js
  tests/starship-maneuver-suggestion-ability-authority.test.mjs
Due: eslint --fix

Phase 6j: fail-before proof and fix for talent-ability-helpers.js's reversed order
  scripts/engine/talent/talent-ability-helpers.js
  tests/talent-ability-helpers-fail-before-proof.test.mjs
Due: eslint --fix

Update ledger: all 33 Category C sites now fixed, 0 remaining
  docs/audits/ability-schema-authority-migration-phase3-ledger.md
Due: prettier --write
