Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

Fix: Store Flat-Footed defense in derived calculator
  scripts/actors/derived/derived-calculator.js
Due: eslint --fix

Phase 10+: Remove Force Points classBonus dead drift and implement stored-authoritative pattern
  scripts/actors/derived/derived-calculator.js
  scripts/apps/levelup/levelup-class.js
  scripts/data/force-points.js
Due: eslint --fix

Phase 1: Restore chargen splash contract (corrected selectors)
  scripts/apps/progression-framework/steps/intro-step.js
  styles/progression-framework/steps/intro.css
  templates/apps/progression-framework/steps/intro-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 2: Boot Sequence & Translation Implementation
  scripts/apps/progression-framework/steps/intro-step.js
  styles/progression-framework/steps/intro.css
  templates/apps/progression-framework/steps/intro-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 3: Visual Polish for Chargen Splash Screen
  styles/progression-framework/steps/intro.css
Due: none

.
  scripts/apps/progression-framework/steps/attribute-step.js
  styles/progression-framework/steps/attribute-step.css
  templates/apps/progression-framework/steps/attribute-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 1: Fix store checkout contract and transaction atomicity
  scripts/apps/store/store-checkout.js
  scripts/apps/store/store-main.js
  scripts/engine/store/store-engine.js
Due: eslint --fix

Phase 2: Make item selling system use real selling flow and atomic mutations
  scripts/apps/item-selling-system.js
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

Phase 3: Make GM store dashboard truthful about capabilities
  scripts/apps/gm-store-dashboard.js
  templates/apps/gm-store-dashboard.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 4: Fix suggestion wiring and remove dead checkout helpers
  scripts/apps/store/store-main.js
  scripts/engine/suggestion/equipment/weapon-suggestions.js
Due: eslint --fix

Store audit and pricing schema overhaul: Support structured vehicle pricing
  scripts/engine/store/compendium-schema.js
  scripts/engine/store/cost-registry.js
  scripts/engine/store/index.js
  scripts/engine/store/normalizer.js
  scripts/engine/store/pricing.js
Due: eslint --fix

CRITICAL FIX: Map conditional pricing to template fields
  scripts/apps/store/store-main.js
Due: eslint --fix

Phase G: Refactor loader to use subtype pack arrays for weapons and armor
  packs/weapons-lightsabers.db
  scripts/engine/store/loader.js
  scripts/engine/store/store-constants.js
  system.json
Due: eslint --fix, prettier --write

Phase H: Update organize-compendiums tool to route lightsabers to dedicated pack
  tools/organize-compendiums.js
Due: eslint --fix

Implement lightsaber form powers as forcepower items with minimal schema extension
  packs/lightsaberformpowers.db
  scripts/build/import-lightsaber-form-powers-to-compendium.js
  scripts/build/populate-lightsaber-form-powers.js
  scripts/build/populate-lightsaber-form-powers.py
  scripts/data-models/item-data-models.js
Due: eslint --fix

ADDENDUM: Correct lightsaber form bonus semantics with bonusTalent field
  packs/lightsaberformpowers.db
  scripts/build/import-lightsaber-form-powers-to-compendium.js
  scripts/build/populate-lightsaber-form-powers.js
  scripts/build/populate-lightsaber-form-powers.py
  scripts/data-models/item-data-models.js
Due: eslint --fix

SCHEMA AUTHORITY: Correct discipline field and document shape per specification
  packs/lightsaberformpowers.db
  scripts/build/populate-lightsaber-form-powers.py
  scripts/data-models/item-data-models.js
Due: eslint --fix

Implement Combat Action schema and populate both action compendiums
  packs/combat-actions.db
  packs/ship-combat-actions.db
  scripts/build/populate-combat-actions.py
  scripts/data-models/item-data-models.js
Due: eslint --fix

Implement Extra Skill Uses population with explicit skill routing
  packs/extraskilluses.db
  scripts/build/populate-extra-skill-uses.py
  scripts/data-models/item-data-models.js
  scripts/sheets/v2/character-sheet.js
  scripts/utils/extra-skill-use-registry.js
  scripts/utils/skill-use-filter.js
Due: eslint --fix

Harden talent tree pipeline end-to-end
  scripts/apps/progression-framework/steps/talent-step.js
  scripts/registries/talent-registry.js
  templates/apps/progression-framework/details-panel/talent-details.hbs
  templates/apps/progression-framework/steps/talent-tree-browser.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Fix talent identifier consistency seam
  scripts/apps/progression-framework/steps/talent-step.js
  templates/apps/progression-framework/details-panel/talent-details.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Implement skills step legal skill derivation and focus wiring
  scripts/apps/progression-framework/steps/skills-step.js
  styles/progression-framework/steps/skills-step.css
  templates/apps/progression-framework/details-panel/skill-details.hbs
  templates/apps/progression-framework/steps/skills-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Migrate progression consumers to canonical ClassesRegistry/ClassModel authority
  scripts/apps/progression-framework/steps/class-step.js
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/apps/progression-framework/steps/skills-step.js
  scripts/apps/progression-framework/steps/step-normalizers.js
  scripts/apps/progression-framework/steps/talent-step.js
  scripts/engine/progression/feats/feat-slot-validator.js
  scripts/engine/progression/utils/class-resolution.js
Due: eslint --fix

Harden class-dependent progression consumers to use ClassesRegistry authority
  scripts/apps/progression-framework/steps/talent-step.js
  scripts/engine/progression/ProgressionEngineV2.js
  scripts/engine/progression/engine/equipment-engine.js
Due: eslint --fix

Harden Force suite progression to use canonical class grant authorities
  scripts/apps/progression-framework/shell/active-step-computer.js
  scripts/apps/progression-framework/steps/force-power-step.js
  scripts/apps/progression-framework/steps/force-secret-step.js
  scripts/apps/progression-framework/steps/force-technique-step.js
  scripts/engine/progression/utils/force-suite-resolution.js
Due: eslint --fix

Harden starship maneuver progression to use canonical authorities
  scripts/apps/progression-framework/shell/active-step-computer.js
  scripts/apps/progression-framework/steps/starship-maneuver-step.js
Due: eslint --fix

Add comprehensive diagnostic logging to force-suite-resolution.js
  scripts/engine/progression/utils/force-suite-resolution.js
Due: eslint --fix

Add comprehensive diagnostic logging to starship maneuver and class resolution
  scripts/apps/progression-framework/shell/active-step-computer.js
  scripts/apps/progression-framework/steps/starship-maneuver-step.js
  scripts/engine/progression/utils/class-resolution.js
Due: eslint --fix

Add files via upload
  data/feat_buckets_and_subbuckets.json
Due: prettier --write

Add feat bucket mapping and wire Type/Tag multi-select filtering to feat step
  data/feat-buckets-and-subbuckets.json
  scripts/apps/progression-framework/steps/feat-step.js
  styles/progression-framework/steps/feat-step.css
  templates/apps/progression-framework/details-panel/feat-details.hbs
  templates/apps/progression-framework/steps/feat-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.
  scripts/apps/progression-framework/shell/mentor-rail.js
  scripts/apps/progression-framework/steps/class-step.js
  scripts/apps/progression-framework/steps/l1-survey-step.js
  scripts/engine/mentor/mentor-dialogues.js
  styles/progression-framework/progression-shell.css
Due: eslint --fix

Add unified portrait upload with drag/drop and auto-apply
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/droid-sheet.js
  scripts/sheets/v2/npc-sheet.js
  scripts/sheets/v2/shared/PortraitUploadController.js
  styles/sheets/v2-sheet.css
  templates/actors/character/v2/partials/portrait-panel.hbs
  templates/v2/droid/panels/portrait-panel.hbs
  templates/v2/npc/panels/portrait-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Repair malformed selector prefix in abilities action-row CSS
  styles/sheets/v2-sheet.css
  templates/actors/character/v2/partials/abilities-panel.hbs
Due: node scripts/validate/validate-icon-keys.js

Isolate per-skill hydration failures and instrument UTF path
  scripts/sheets/v2/character-sheet.js
  scripts/utils/extra-skill-use-registry.js
  scripts/utils/skill-use-filter.js
Due: eslint --fix

Droid sheet Phase 1: CSS scope, UIStateManager, cleanup
  scripts/sheets/v2/droid-sheet.js
  styles/sheets/v2-droid-specific.css
  templates/actors/droid/droid-sheet.hbs
  templates/actors/droid/v2/droid-sheet.hbs
  templates/sheets/droid-sheet-v2.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Repair malformed Phase 4 selector to restore abilities action row
  styles/sheets/v2-sheet.css
  templates/actors/character/v2/partials/abilities-panel.hbs
Due: node scripts/validate/validate-icon-keys.js
