Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

feat: Asset-for-asset trading with counteroffers and hardening
  scripts/holonet/subsystems/holonet-messenger-service.js
  scripts/ui/shell/ShellHost.js
  templates/shell/partials/surface-messenger.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

feat: Games phase 4.5 — economy policy and credit escrow
  scripts/games/game-session-store.js
  scripts/games/game-settings.js
  scripts/games/wagers/game-credit-escrow-service.js
  scripts/games/wagers/game-economy-policy-service.js
  scripts/ui/shell/GamesSurfaceService.js
  templates/shell/partials/surface-games.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

feat: Games phase 5 — GM wager settlement and AI difficulty
  scripts/apps/gm-datapad.js
  scripts/games/games/pazaak/pazaak-ai.js
  scripts/games/games/pazaak/pazaak-engine.js
  scripts/games/games/pazaak/pazaak-view-model.js
  scripts/ui/shell/gm/GMApprovalsSurfaceService.js
  templates/apps/gm-datapad.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

feat: Games phase 6 — Pazaak AI personalities and opponent profiles
  data/games/pazaak-ai-personalities.json
  scripts/games/game-init.js
  scripts/games/game-opponent-profile-service.js
  scripts/games/games/pazaak/pazaak-ai-personalities.js
  scripts/games/games/pazaak/pazaak-deck.js
  styles/system/games-surface.css
Due: eslint --fix, prettier --write

feat: Atomic trade settlement with transaction ledger
  scripts/engine/store/transaction-engine.js
  scripts/holonet/subsystems/holonet-messenger-service.js
  templates/shell/partials/surface-messenger.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

feat: Games phase 6.5 — Pazaak hardening and AI pacing
  data/games/pazaak-ai-personalities.json
  scripts/games/games/pazaak/pazaak-ai.js
  scripts/games/games/pazaak/pazaak-engine.js
  scripts/games/games/pazaak/pazaak-view-model.js
  scripts/ui/shell/GamesSurfaceController.js
  styles/system/games-surface.css
  templates/shell/partials/surface-games.hbs
  tools/pazaak-rules-smoke-test.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

feat: Atomic trade lifecycle logging
  scripts/engine/store/transaction-engine.js
  scripts/holonet/subsystems/holonet-messenger-service.js
Due: eslint --fix

fix: Pazaak AI personality dialogue and voice corrections
  data/games/pazaak-ai-personalities.json
  scripts/games/games/pazaak/pazaak-ai-personalities.js
Due: eslint --fix, prettier --write

feat: Games phase 6.7 — professions, facts, and name seams for AI personalities
  data/games/pazaak-ai-personalities.json
  scripts/apps/chargen/chargen-shared.js
  scripts/games/game-opponent-profile-service.js
Due: eslint --fix, prettier --write

feat: Bulletin broadcast console in GM Datapad
  scripts/apps/gm-datapad.js
  scripts/ui/shell/gm/GMBulletinSurfaceService.js
  styles/apps/gm-datapad.css
  templates/apps/gm-datapad.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

feat: Migrate random names to JSON data file
  data/chargen/random-names.json
  scripts/apps/chargen/chargen-main.js
  scripts/apps/chargen/chargen-shared.js
  scripts/apps/progression-framework/steps/name-step.js
  scripts/apps/progression-framework/steps/summary-step.js
Due: eslint --fix, prettier --write

feat: Bulletin media live preview
  scripts/apps/gm-datapad.js
  scripts/ui/shell/HomeSurfaceService.js
  scripts/ui/shell/gm/GMBulletinSurfaceService.js
  styles/apps/gm-datapad.css
  styles/shell/home-surface.css
  styles/system/home-surface.css
  templates/apps/gm-datapad.hbs
  templates/shell/partials/surface-home.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

feat: Games phase 7 — Sabacc and Dejarik rules MVP
  scripts/games/game-center-registry.js
  scripts/games/game-init.js
  scripts/games/games/dejarik/dejarik-board.js
  scripts/games/games/dejarik/dejarik-engine.js
  scripts/games/games/dejarik/dejarik-pieces.js
  scripts/games/games/dejarik/dejarik-rules.js
  scripts/games/games/dejarik/dejarik-view-model.js
  scripts/games/games/sabacc/sabacc-ai.js
  scripts/games/games/sabacc/sabacc-deck.js
  scripts/games/games/sabacc/sabacc-engine.js
  scripts/games/games/sabacc/sabacc-rules.js
  scripts/games/games/sabacc/sabacc-view-model.js
  scripts/holonet/subsystems/holonet-socket-service.js
  scripts/ui/shell/GamesSurfaceController.js
  scripts/ui/shell/GamesSurfaceService.js
  styles/system/games-surface.css
  templates/shell/partials/surface-games.hbs
  tools/sabacc-dejarik-rules-smoke-test.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Implement Monte Carlo Dejarik AI, Sabacc AI hardening, and HoloNews wire features
  scripts/apps/gm-datapad.js
  scripts/games/ai/game-ai-profile-service.js
  scripts/games/ai/game-monte-carlo-service.js
  scripts/games/game-init.js
  scripts/games/games/dejarik/dejarik-ai.js
  scripts/games/games/dejarik/dejarik-engine.js
  scripts/games/games/dejarik/dejarik-view-model.js
  scripts/games/games/sabacc/sabacc-ai.js
  scripts/games/games/sabacc/sabacc-engine.js
  scripts/games/games/sabacc/sabacc-view-model.js
  scripts/holonet/data/holonews-seed-events.js
  scripts/ui/shell/HomeSurfaceService.js
  scripts/ui/shell/gm/GMBulletinSurfaceService.js
  styles/apps/gm-datapad.css
  styles/shell/home-surface.css
  styles/system/games-surface.css
  styles/system/home-surface.css
  templates/apps/gm-datapad.hbs
  templates/shell/partials/surface-games.hbs
  templates/shell/partials/surface-home.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 8c: Sabacc/Pazaak action hardening and HoloNews archive management
  scripts/apps/gm-datapad.js
  scripts/games/games/pazaak/pazaak-engine.js
  scripts/games/games/pazaak/pazaak-rules.js
  scripts/games/games/sabacc/sabacc-engine.js
  scripts/games/games/sabacc/sabacc-rules.js
  scripts/games/games/sabacc/sabacc-view-model.js
  scripts/ui/shell/gm/GMBulletinSurfaceService.js
  styles/apps/gm-datapad.css
  templates/apps/gm-datapad.hbs
  templates/shell/partials/surface-games.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

HoloNews: Atomized wire generator
  scripts/holonet/data/holonews-seed-events.js
  scripts/ui/shell/gm/GMBulletinSurfaceService.js
  styles/apps/gm-datapad.css
  templates/apps/gm-datapad.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

HoloNews: Auto-publisher subsystem
  scripts/apps/gm-datapad.js
  scripts/holonet/integration/holonet-init.js
  scripts/holonet/subsystems/holonews-auto-publisher.js
  scripts/ui/shell/gm/GMBulletinSurfaceService.js
  styles/apps/gm-datapad.css
  templates/apps/gm-datapad.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 9: Sabacc P0 campaign table
  scripts/games/game-center-registry.js
  scripts/games/game-holonet-bridge.js
  scripts/games/games/sabacc/sabacc-engine.js
  scripts/games/games/sabacc/sabacc-view-model.js
  scripts/holonet/subsystems/holonet-messenger-service.js
  scripts/ui/shell/GamesSurfaceController.js
  templates/shell/partials/surface-games.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Bulletin Phase A: Operator quality improvements
  scripts/apps/gm-datapad.js
  scripts/holonet/data/holonews-seed-events.js
  scripts/holonet/integration/holonet-init.js
  scripts/holonet/subsystems/bulletin-contact-registry.js
  scripts/holonet/subsystems/holonews-atom-policy.js
  scripts/holonet/subsystems/holonews-auto-publisher.js
  scripts/ui/shell/gm/GMBulletinSurfaceService.js
  styles/apps/gm-datapad.css
  templates/apps/gm-datapad.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

GM Job Board Phase B: Command surface
  scripts/apps/gm-datapad.js
  scripts/holonet/subsystems/holonet-messenger-service.js
  scripts/ui/shell/gm/GMDashboardSurfaceService.js
  scripts/ui/shell/gm/GMJobBoardSurfaceService.js
  scripts/ui/shell/gm/GMSurfaceRegistry.js
  styles/apps/gm-datapad.css
  templates/apps/gm-datapad.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Add assets/cards/sabacc and assets/cards/pazaak placeholder directories
  assets/cards/pazaak/.gitkeep
  assets/cards/sabacc/.gitkeep
Due: none

Add files via upload
  assets/cards/pazaak/back.png
  assets/cards/pazaak/custom.png
  assets/cards/pazaak/m1.png
  assets/cards/pazaak/m2.png
  assets/cards/pazaak/m3.png
  assets/cards/pazaak/m4.png
  assets/cards/pazaak/m5.png
  assets/cards/pazaak/m6.png
  assets/cards/pazaak/p1.png
  assets/cards/pazaak/p2.png
Due: none

Add files via upload
  assets/cards/pazaak/p3.png
  assets/cards/pazaak/p4.png
  assets/cards/pazaak/p5.png
  assets/cards/pazaak/p6.png
  assets/cards/pazaak/pm1.png
  assets/cards/pazaak/pm2.png
  assets/cards/pazaak/pm3.png
  assets/cards/pazaak/pm4.png
  assets/cards/pazaak/pm5.png
  assets/cards/pazaak/pm6.png
Due: none

Add files via upload
  assets/cards/pazaak/s12.png
  assets/cards/pazaak/s1t.png
  assets/cards/pazaak/s24.png
  assets/cards/pazaak/s36.png
  assets/cards/pazaak/sd.png
Due: none

Add files via upload
  assets/cards/pazaak/reg1.png
  assets/cards/pazaak/reg10.png
  assets/cards/pazaak/reg2.png
  assets/cards/pazaak/reg3.png
  assets/cards/pazaak/reg4.png
  assets/cards/pazaak/reg5.png
  assets/cards/pazaak/reg6.png
  assets/cards/pazaak/reg7.png
  assets/cards/pazaak/reg8.png
  assets/cards/pazaak/reg9.png
Due: none

feat: GM Trade Console (phaseC) and Holopad Dashboard shell (phaseD)
  scripts/apps/gm-datapad.js
  scripts/holonet/subsystems/holonet-messenger-service.js
  scripts/ui/shell/gm/GMDashboardSurfaceService.js
  scripts/ui/shell/gm/GMSurfaceRegistry.js
  scripts/ui/shell/gm/GMTradeConsoleSurfaceService.js
  styles/apps/gm-datapad.css
  templates/apps/gm-datapad.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

chore: clean up redundant Pazaak individual card image assets
  assets/cards/pazaak/card-back-template.png
  assets/cards/pazaak/card-front-template.png
  assets/cards/pazaak/m1.png
  assets/cards/pazaak/m2.png
  assets/cards/pazaak/m3.png
  assets/cards/pazaak/m4.png
  assets/cards/pazaak/m5.png
  assets/cards/pazaak/m6.png
  assets/cards/pazaak/p1.png
  assets/cards/pazaak/p2.png
  assets/cards/pazaak/p3.png
  assets/cards/pazaak/p4.png
  assets/cards/pazaak/p5.png
  assets/cards/pazaak/p6.png
  assets/cards/pazaak/pm1.png
  assets/cards/pazaak/pm2.png
  assets/cards/pazaak/pm3.png
  assets/cards/pazaak/pm4.png
  assets/cards/pazaak/pm5.png
  assets/cards/pazaak/pm6.png
  assets/cards/pazaak/reg1.png
  assets/cards/pazaak/reg10.png
  assets/cards/pazaak/reg2.png
  assets/cards/pazaak/reg3.png
  assets/cards/pazaak/reg4.png
  assets/cards/pazaak/reg5.png
  assets/cards/pazaak/reg6.png
  assets/cards/pazaak/reg7.png
  assets/cards/pazaak/reg8.png
  assets/cards/pazaak/reg9.png
  assets/cards/pazaak/s12.png
  assets/cards/pazaak/s1t.png
  assets/cards/pazaak/s24.png
  assets/cards/pazaak/s36.png
  assets/cards/pazaak/sd.png
Due: none

Apply swse GM combat recovery phase E patch
  scripts/apps/gm-datapad.js
  scripts/engine/combat/SecondWindEngine.js
  scripts/holonet/subsystems/gm-combat-recovery-service.js
  scripts/holonet/subsystems/gm-healing-trigger.js
  scripts/houserules/houserule-recovery.js
  scripts/ui/shell/gm/GMHealingSurfaceService.js
  styles/apps/gm-datapad.css
  templates/apps/gm-datapad.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Apply GM combat recovery targeting patch
  scripts/apps/gm-datapad.js
  scripts/holonet/subsystems/gm-combat-recovery-service.js
  scripts/holonet/subsystems/gm-healing-trigger.js
  styles/apps/gm-datapad.css
  templates/apps/gm-datapad.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Apply GM combat recovery status effects patch
  scripts/apps/gm-datapad.js
  scripts/holonet/subsystems/gm-combat-recovery-service.js
  scripts/holonet/subsystems/gm-healing-trigger.js
  scripts/houserules/houserule-status-effects.js
  styles/apps/gm-datapad.css
  templates/apps/gm-datapad.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Apply Dejarik board UI hardening patch (phase 11)
  assets/games/dejarik/dejarik-board.png
  scripts/games/games/dejarik/dejarik-rules.js
  scripts/games/games/dejarik/dejarik-view-model.js
  scripts/ui/shell/GamesSurfaceController.js
  styles/system/games-surface.css
  templates/shell/partials/surface-games.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Apply Hintaro game patch (phase 12)
  scripts/games/game-center-registry.js
  scripts/games/game-init.js
  scripts/games/games/hintaro/hintaro-engine.js
  scripts/games/games/hintaro/hintaro-rules.js
  scripts/games/games/hintaro/hintaro-view-model.js
  scripts/holonet/subsystems/holonet-socket-service.js
  scripts/ui/shell/GamesSurfaceController.js
  scripts/ui/shell/GamesSurfaceService.js
  styles/system/games-surface.css
  templates/shell/partials/surface-games.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Apply GM combat recovery completion patch (phase F)
  scripts/apps/gm-datapad.js
  scripts/holonet/integration/holonet-init.js
  scripts/holonet/subsystems/gm-combat-recovery-service.js
  scripts/infrastructure/hooks/actor-sidebar-controls.js
  scripts/scene-controls/swse-canvas-tools.js
  styles/apps/gm-datapad.css
  templates/apps/gm-datapad.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Hotfix: GM holopad p0 fix in combat recovery service
  scripts/holonet/subsystems/gm-combat-recovery-service.js
Due: eslint --fix

Apply games p0 all-fixes patch
  scripts/games/games/hintaro/hintaro-engine.js
  scripts/games/games/sabacc/sabacc-ai.js
  scripts/games/games/sabacc/sabacc-deck.js
  scripts/games/games/sabacc/sabacc-engine.js
  scripts/games/games/sabacc/sabacc-rules.js
  scripts/games/games/sabacc/sabacc-view-model.js
  scripts/games/wagers/game-credit-escrow-service.js
  scripts/ui/shell/GamesSurfaceController.js
  styles/system/games-surface.css
  templates/shell/partials/surface-games.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Apply GM holopad p1 fixes
  scripts/engine/store/transaction-engine.js
  scripts/holonet/subsystems/holonet-messenger-service.js
  scripts/ui/shell/ShellHost.js
  scripts/ui/shell/gm/GMTradeConsoleSurfaceService.js
  styles/apps/gm-datapad.css
  templates/apps/gm-datapad.hbs
  templates/shell/partials/surface-messenger.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Apply games p2 and GM holopad p2 fixes
  scripts/apps/gm-datapad.js
  scripts/games/game-notification-service.js
  scripts/games/game-session-materializer.js
  scripts/games/games/dejarik/dejarik-ai.js
  scripts/games/games/dejarik/dejarik-board.js
  scripts/games/games/dejarik/dejarik-engine.js
  scripts/games/games/dejarik/dejarik-rules.js
  scripts/games/games/dejarik/dejarik-view-model.js
  scripts/games/games/hintaro/hintaro-engine.js
  scripts/games/games/hintaro/hintaro-view-model.js
  scripts/games/games/pazaak/pazaak-engine.js
  scripts/games/games/pazaak/pazaak-view-model.js
  scripts/games/games/sabacc/sabacc-engine.js
  scripts/games/games/sabacc/sabacc-view-model.js
  scripts/games/tests/games-rules-smoke-tests.mjs
  scripts/holonet/subsystems/holonet-messenger-service.js
  scripts/ui/shell/GamesSurfaceController.js
  scripts/ui/shell/gm/GMDashboardSurfaceService.js
  scripts/ui/shell/gm/GMJobBoardSurfaceService.js
  styles/apps/gm-datapad.css
  styles/shell/home-surface.css
  styles/system/games-surface.css
  templates/apps/gm-datapad.hbs
  templates/shell/partials/surface-games.hbs
  templates/shell/partials/surface-home.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Apply GM holopad p3 fixes
  scripts/apps/gm-datapad.js
  scripts/holonet/data/holonews-seed-events.js
  scripts/holonet/integration/holonet-init.js
  scripts/holonet/subsystems/holonet-messenger-service.js
  scripts/ui/shell/gm/GMApprovalsSurfaceService.js
  scripts/ui/shell/gm/GMBulletinSurfaceService.js
  styles/apps/gm-datapad.css
  templates/apps/gm-datapad.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
