Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

PHASE 1: Session Persistence and Recovery
  PHASE_1_PLAN.md
  scripts/apps/progression-framework/shell/progression-finalizer.js
  scripts/apps/progression-framework/shell/progression-session.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/shell/session-storage.js
Due: eslint --fix, prettier --write

PHASE 2: Pre-Commit Change Preview (Work in Progress)
  PHASE_2_PLAN.md
  scripts/apps/progression-framework/shell/invalidation-preview.js
  scripts/apps/progression-framework/shell/progression-shell.js
Due: eslint --fix, prettier --write

PHASE A + B + C: Dependency Graph Audit & Design
  DEPENDENCY_GRAPH_AUDIT.md
  DEPENDENCY_GRAPH_DESIGN.md
Due: prettier --write

Add DEPENDENCY_GRAPH_VERIFICATION.md - Test Strategy & Acceptance Criteria
  DEPENDENCY_GRAPH_VERIFICATION.md
Due: prettier --write

NORMALIZED_FEAT_TALENT_STEPS: Audit & Verification Plan
  NORMALIZED_FEAT_TALENT_STEPS_AUDIT.md
  NORMALIZED_FEAT_TALENT_STEPS_VERIFICATION.md
Due: prettier --write

Implement canonical selection ordering (General → Class → Bonus → Subtype)
  SELECTION_ORDERING_AUDIT.md
  SELECTION_ORDERING_VERIFICATION.md
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/apps/progression-framework/steps/summary-step.js
  scripts/apps/progression-framework/steps/talent-step.js
  scripts/apps/progression-framework/utils/selection-ordering.js
Due: eslint --fix, prettier --write

Comprehensive UX audit and verification plan for progression engine
  PROGRESSION_UX_AUDIT.md
  PROGRESSION_UX_VERIFICATION.md
Due: prettier --write

Implement Phase 1 & 5 UX improvements: Orientation & Rail Affordances
  scripts/apps/progression-framework/shell/progression-shell.js
  styles/progression-framework/progress-rail.css
  styles/progression-framework/progression-shell.css
  templates/apps/progression-framework/progress-rail.hbs
  templates/apps/progression-framework/progression-shell.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Implement Phase 2 UX improvements: Micro-Progress Indicators
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/apps/progression-framework/steps/talent-step.js
  styles/progression-framework/steps/feat-step.css
  templates/apps/progression-framework/steps/feat-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Implement Phase 3 UX improvements: Navigation Blocker Explanations
  scripts/apps/progression-framework/shell/action-footer.js
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/apps/progression-framework/steps/step-plugin-base.js
  scripts/apps/progression-framework/steps/talent-step.js
  styles/progression-framework/shell/footer.css
  templates/apps/progression-framework/progression-shell.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Implement Phase 6 UX improvements: Prerequisite & Invalidation Explanations
  scripts/apps/progression-framework/steps/feat-step.js
  styles/progression-framework/steps/feat-step.css
  templates/apps/progression-framework/steps/feat-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Implement Phase 8 UX improvements: Empty State Guidance
  styles/progression-framework/steps/feat-step.css
  templates/apps/progression-framework/steps/feat-work-surface.hbs
Due: node scripts/validate/validate-icon-keys.js

Add comprehensive UX implementation summary document
  PROGRESSION_UX_IMPLEMENTATION_SUMMARY.md
Due: prettier --write

Implement Phase 7 & 9 UX improvements: Selection Feedback & Summary Control Center
  scripts/apps/progression-framework/steps/summary-step.js
  styles/progression-framework/steps/feat-step.css
  styles/progression-framework/steps/summary-step.css
  templates/apps/progression-framework/steps/summary-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Add final UX implementation report (9 of 11 phases complete)
  PROGRESSION_UX_FINAL_SUMMARY.md
  PROGRESSION_UX_IMPLEMENTATION_SUMMARY.md
Due: prettier --write

Complete detail rail data audit (discovery-only)
  DETAIL_RAIL_DATA_AUDIT.md
  DETAIL_RAIL_DATA_MATRIX.md
Due: prettier --write

Implement detail rail normalizer + integrate Phase 1 items (5/11 types)
  scripts/apps/progression-framework/detail-rail-normalizer.js
  scripts/apps/progression-framework/steps/attribute-step.js
  scripts/apps/progression-framework/steps/background-step.js
  scripts/apps/progression-framework/steps/class-step.js
  scripts/apps/progression-framework/steps/language-step.js
  scripts/apps/progression-framework/steps/species-step.js
Due: eslint --fix

Integrate Phase 2 items (6/6 types) - Complete detail rail normalizer setup
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/apps/progression-framework/steps/force-power-step.js
  scripts/apps/progression-framework/steps/force-secret-step.js
  scripts/apps/progression-framework/steps/force-technique-step.js
  scripts/apps/progression-framework/steps/starship-maneuver-step.js
  scripts/apps/progression-framework/steps/talent-step.js
Due: eslint --fix

Implement detail rail normalization for Phase 1-2 (12 item types) + Skills
  DETAIL_RAIL_IMPLEMENTATION_REPORT.md
  data/skill-short-descriptions.json
  scripts/apps/progression-framework/detail-rail-normalizer.js
  scripts/apps/progression-framework/skills-mechanics-resolver.js
Due: eslint --fix, prettier --write

Update all detail panel templates to consume normalized contract (Option A)
  DETAIL_RAIL_TEMPLATE_UPDATE_REPORT.md
  DETAIL_RAIL_TEMPLATE_VERIFICATION.md
  templates/apps/progression-framework/details-panel/attribute-details.hbs
  templates/apps/progression-framework/details-panel/background-details.hbs
  templates/apps/progression-framework/details-panel/class-details.hbs
  templates/apps/progression-framework/details-panel/feat-details.hbs
  templates/apps/progression-framework/details-panel/force-power-details.hbs
  templates/apps/progression-framework/details-panel/force-secret-details.hbs
  templates/apps/progression-framework/details-panel/force-technique-details.hbs
  templates/apps/progression-framework/details-panel/language-details.hbs
  templates/apps/progression-framework/details-panel/species-details.hbs
  templates/apps/progression-framework/details-panel/starship-maneuver-details.hbs
  templates/apps/progression-framework/details-panel/talent-details.hbs
Due: node scripts/validate/validate-icon-keys.js, prettier --write

Add comprehensive flow testing guides for Option C
  DETAIL_RAIL_ADJUSTMENTS.md
  DETAIL_RAIL_FLOW_REVIEW.md
Due: prettier --write

Audit: Left selected rail current state (Species step only, 93% empty)
  docs/LEFT_SELECTED_RAIL_AUDIT.md
  docs/LEFT_SELECTED_RAIL_MATRIX.md
Due: prettier --write

Refactor left selected rail from decorative placeholder to projection-backed build snapshot
  docs/LEFT_SELECTED_RAIL_REFACTOR_REPORT.md
  docs/LEFT_SELECTED_RAIL_SNAPSHOT_MODEL.md
  docs/LEFT_SELECTED_RAIL_VERIFICATION.md
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/shell/selected-rail-context.js
  styles/progression-framework/components/panels.css
  templates/apps/progression-framework/summary-panel/selected-rail.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Deep audit and repair of left selected rail implementation
  docs/LEFT_SELECTED_RAIL_DEEP_AUDIT.md
  docs/LEFT_SELECTED_RAIL_REPAIR_REPORT.md
  docs/LEFT_SELECTED_RAIL_REVIEW_CHECKLIST.md
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/shell/projection-engine.js
  scripts/apps/progression-framework/shell/selected-rail-context.js
Due: eslint --fix, prettier --write

Implement Phase 1: Direct NPC template import wizard
  NPC_TEMPLATE_IMPORT_AUDIT.md
  NPC_TEMPLATE_IMPORT_REPORT.md
  scripts/apps/npc-template-importer.js
  scripts/core/npc-template-data-loader.js
  scripts/engine/import/npc-template-importer-engine.js
  scripts/infrastructure/hooks/actor-sidebar-controls.js
  templates/apps/npc-template-importer.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Implement Phase 2: Optional post-import customization wizard
  NPC_TEMPLATE_POST_IMPORT_WIZARD_REPORT.md
  scripts/apps/npc-import-customization-wizard.js
  scripts/apps/npc-template-importer.js
  scripts/engine/import/npc-template-importer-engine.js
  templates/apps/npc-import-customization-wizard.hbs
  templates/apps/npc-template-importer.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Add comprehensive NPC template import verification report
  NPC_TEMPLATE_IMPORT_VERIFICATION.md
Due: prettier --write

Implement Phase 3: Dual-path actor creation with Galactic Records template browser
  GALACTIC_RECORDS_PHASE3_AUDIT.md
  GALACTIC_RECORDS_PHASE3_IMPLEMENTATION.md
  GALACTIC_RECORDS_PHASE3_VERIFICATION.md
  scripts/apps/actor-creation-entry-dialog.js
  scripts/apps/chargen-init.js
  scripts/apps/galactic-records-browser.js
  scripts/core/galactic-records-category-registry.js
  templates/apps/actor-creation-entry.hbs
  templates/apps/galactic-records-browser.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Phase 3b: Add droid template import support to Galactic Records
  scripts/apps/galactic-records-browser.js
  scripts/core/droid-template-data-loader.js
  scripts/core/galactic-records-category-registry.js
  scripts/engine/import/droid-template-importer-engine.js
Due: eslint --fix

Add Phase 3b documentation (droid template import)
  GALACTIC_RECORDS_PHASE3B_IMPLEMENTATION.md
  GALACTIC_RECORDS_PHASE3B_VERIFICATION.md
Due: prettier --write

Implement droid template choice system in chargen
  scripts/apps/chargen-init.js
  scripts/apps/droid-template-choice-dialog.js
  scripts/apps/galactic-records-browser.js
  scripts/apps/template-character-creator.js
  templates/apps/droid-template-choice.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Add Droid Template Choice System documentation
  DROID_TEMPLATE_CHOICE_IMPLEMENTATION.md
Due: prettier --write

Fix: Add missing CLASS_SYNERGY_DATA export
  scripts/engine/progression/utils/class-suggestion-utilities.js
Due: eslint --fix

Register missing handlebars partials
  helpers/handlebars/partials-auto.js
Due: eslint --fix

Fix character sheet window contract and AppV2 layout issues
  scripts/sheets/v2/character-sheet.js
  styles/sheets/character-sheet.css
  styles/sheets/v2-sheet.css
  templates/actors/character/v2/character-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Fix 9 critical regressions affecting character sheet and item creation
  index.js
  scripts/actors/v2/character-actor.js
  scripts/apps/chargen/chargen-feats-talents.js
  scripts/apps/progression-framework/progression-entry.js
  scripts/engine/inventory/InventoryEngine.js
  scripts/engine/progression/template/template-validator.js
  scripts/items/swse-item-sheet.js
  styles/ui/character-sheet-svg-panels.css
  templates/actors/character/v2/partials/character-record-header.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Fix character sheet layout contract issues
  scripts/sheets/v2/character-sheet.js
  styles/sheets/v2-sheet.css
Due: eslint --fix

Refactor condition track to use positioned overlay layout
  styles/sheets/v2-sheet.css
  styles/ui/character-sheet-svg-panels.css
  templates/actors/character/v2/partials/hp-condition-panel.hbs
Due: node scripts/validate/validate-icon-keys.js

Establish unified SVG-backed panel contract for character sheet
  styles/ui/character-sheet-svg-panels.css
  templates/actors/character/v2/partials/armor-summary-panel.hbs
  templates/actors/character/v2/partials/character-record-header.hbs
  templates/actors/character/v2/partials/dark-side-panel.hbs
  templates/actors/character/v2/partials/defenses-panel.hbs
  templates/actors/character/v2/partials/hp-condition-panel.hbs
  templates/actors/character/v2/partials/relationships-panel.hbs
  templates/actors/character/v2/partials/special-combat-actions-panel.hbs
Due: node scripts/validate/validate-icon-keys.js

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
