Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Chargen identity field write-back: Fix profession synchronization
  scripts/apps/progression-framework/shell/progression-finalizer.js
Due: eslint --fix

Chargen identity write-back: Complete background category mapping
  scripts/apps/progression-framework/shell/progression-finalizer.js
Due: eslint --fix

New Character Sheet SVG files
  assets/ui/attack-ledger-row.svg
  assets/ui/character-record-header-plate.svg
  assets/ui/compact-ledger-row.svg
  assets/ui/condition-track-box-strip.svg
  assets/ui/dark-side-box-track.svg
  assets/ui/equipment-ledger-row.svg
  assets/ui/record-field-inline-small.svg
  assets/ui/record-field-inline.svg
  assets/ui/relationships-notebook-panel.svg
  assets/ui/resource-pip-strip.svg
  assets/ui/special-combat-notes-panel.svg
Due: none

Phase 2: Panel Frame Integration — SVG mounts for normal character sheets
  styles/ui/character-sheet-svg-panels.css
  system.json
  templates/actors/character/v2/partials/armor-summary-panel.hbs
  templates/actors/character/v2/partials/attacks-panel.hbs
  templates/actors/character/v2/partials/character-record-header.hbs
  templates/actors/character/v2/partials/dark-side-panel.hbs
  templates/actors/character/v2/partials/defenses-panel.hbs
  templates/actors/character/v2/partials/equipment-ledger-panel.hbs
  templates/actors/character/v2/partials/force-powers-known-panel.hbs
  templates/actors/character/v2/partials/hp-condition-panel.hbs
  templates/actors/character/v2/partials/relationships-panel.hbs
  templates/actors/character/v2/partials/special-combat-actions-panel.hbs
  templates/actors/character/v2/partials/talents-known-panel.hbs
Due: node scripts/validate/validate-icon-keys.js, prettier --write

Phase 3: Tracker/Row Wiring Refinement — SVG sizing & spacing optimization
  styles/ui/character-sheet-svg-panels.css
Due: none

Layout Contract Enforcement — min-height/min-width fixes for SVG mounting
  styles/sheets/v2-sheet.css
Due: none

Overflow & Wrapping Contract — SVG-Safe Width and Height Handling
  styles/ui/character-sheet-overflow-contract.css
  system.json
  templates/actors/character/v2/partials/bio-profile-panel.hbs
  templates/actors/character/v2/partials/notes-panel.hbs
Due: node scripts/validate/validate-icon-keys.js, prettier --write

Phase 3: SVG Refinement & Polish — hp-condition-panel framing
  styles/ui/character-sheet-svg-panels.css
  templates/actors/character/v2/partials/hp-condition-panel.hbs
Due: node scripts/validate/validate-icon-keys.js

Fix Handlebars template parsing error in progression shell
  scripts/core/load-templates.js
  templates/apps/progression-framework/progression-shell.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Fix critical Species step hydration failure with registry initialization guard
  index.js
  scripts/apps/progression-framework/steps/species-step.js
  scripts/engine/registries/species-registry.js
Due: eslint --fix

Fix Species step: single-column layout, selection wiring, modifiers display
  scripts/apps/progression-framework/steps/species-step.js
  styles/progression-framework/option-cards.css
  styles/progression-framework/utility-bar.css
  templates/apps/progression-framework/steps/species-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Set default sort to 'Source' to show Humans/Near-Humans first
  scripts/apps/progression-framework/steps/species-step.js
Due: eslint --fix

Replace species card layout with full-width row structure
  styles/progression-framework/steps/species-step.css
  templates/apps/progression-framework/steps/species-work-surface.hbs
Due: node scripts/validate/validate-icon-keys.js

Update afterRender hook to use correct row selector
  scripts/apps/progression-framework/steps/species-step.js
Due: eslint --fix

Reset Species step to use SVG-authority frame system
  styles/progression-framework/steps/species-step.css
  templates/apps/progression-framework/details-panel/species-details.hbs
  templates/apps/progression-framework/steps/species-work-surface.hbs
Due: node scripts/validate/validate-icon-keys.js

Switch mentor portrait to PNG asset (Salty + generator fix)
  scripts/apps/mentor-dialogues.data.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/maintenance/generate-mentor-dialogues-data.js
Due: eslint --fix

Wire Ol' Salty dialogue authorities for Species step
  data/dialogue/mentors/ol_salty/ol_salty_dialogues.json
  data/mentor-dialogues.json
  scripts/apps/progression-framework/steps/species-step.js
  scripts/engine/mentor/mentor-dialogues.data.js
  scripts/engine/mentor/mentor-dialogues.js
  templates/apps/progression-framework/details-panel/species-details.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Establish mentor dialogue authority: Add missing guidance fields to all 33 mentors
  data/dialogue/mentors/axiom/axiom_dialogue.json
  data/dialogue/mentors/breach/breach_dialogues.json
  data/dialogue/mentors/captain/captain_dialogue.json
  data/dialogue/mentors/darth_malbada/darth_malbada_dialogue.json
  data/dialogue/mentors/darth_miedo/darth_miedo_dialogue.json
  data/dialogue/mentors/delta/delta_dialogue.json
  data/dialogue/mentors/dezmin/dezmin_dialogue.json
  data/dialogue/mentors/j0_n1/j0_n1_dialogues.json
  data/dialogue/mentors/jack/jack_dialogue.json
  data/dialogue/mentors/kex_varon/kex_varon_dialogue.json
  data/dialogue/mentors/kharjo/kharjo_dialogue.json
  data/dialogue/mentors/korr/korr_dialogue.json
  data/dialogue/mentors/krag/krag_dialogue.json
  data/dialogue/mentors/kyber/kyber_dialogue.json
  data/dialogue/mentors/lead/Lead_dialogues.json
  data/dialogue/mentors/marl_skindar/skindar_dialogue.json
  data/dialogue/mentors/mayu/mayu_dialogue.json
  data/dialogue/mentors/miraj/Miraj_dialogues.json
  data/dialogue/mentors/pegar/pegar_dialogues.json
  data/dialogue/mentors/rajma/rajma_dialogue.json
  data/dialogue/mentors/rax/rax_dialogue.json
  data/dialogue/mentors/riquis/riquis_dialogue.json
  data/dialogue/mentors/rogue/rogue_dialogue.json
  data/dialogue/mentors/sela/sela_dialogue.json
  data/dialogue/mentors/seraphim/seraphim_dialogue.json
  data/dialogue/mentors/spark/spark_dialogue.json
  data/dialogue/mentors/theron/theron_dialogue.json
  data/dialogue/mentors/tio_the_hutt/tio_the_hutt_dialogue.json
  data/dialogue/mentors/urza/urza_dialogue.json
  data/dialogue/mentors/vera/vera_dialogue.json
  data/dialogue/mentors/whisper/whisper_dialogue.json
  data/dialogue/mentors/zhen/zhen_dialogue.json
  scripts/apps/progression-framework/steps/mentor-step-integration.js
Due: eslint --fix, prettier --write

Add mentor dialogue authority documentation and validation tools
  MENTOR_DIALOGUE_AUTHORITY.md
  scripts/validation/archetype-validator.js
  scripts/validation/check-mentor-guidance-fields.js
  scripts/validation/check-step-mentor-compliance.js
  scripts/validation/test-class-chassis-bias.js
  scripts/validation/validate-identity-engine.js
Due: eslint --fix, prettier --write

Complete step plugin migration to mentor dialogue authority pattern
  scripts/apps/progression-framework/steps/confirm-step.js
  scripts/apps/progression-framework/steps/droid-builder-step.js
  scripts/apps/progression-framework/steps/force-power-step.js
  scripts/apps/progression-framework/steps/force-secret-step.js
  scripts/apps/progression-framework/steps/force-technique-step.js
  scripts/apps/progression-framework/steps/intro-step.js
  scripts/apps/progression-framework/steps/name-step.js
  scripts/apps/progression-framework/steps/skills-step.js
  scripts/apps/progression-framework/steps/starship-maneuver-step.js
  scripts/apps/progression-framework/steps/summary-step.js
Due: eslint --fix

Wire suggestion engine to chargen choices: Pass committed selections to SuggestionService
  SUGGESTION_ENGINE_INTEGRATION.md
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/apps/progression-framework/steps/talent-step.js
Due: eslint --fix, prettier --write

Add comprehensive chargen architecture audit: Identify 8 critical gaps
  CHARGEN_ARCHITECTURE_GAPS.md
Due: prettier --write

Phase 1: Implement Build State Observable (buildIntent)
  scripts/apps/progression-framework/shell/build-intent.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/attribute-step.js
  scripts/apps/progression-framework/steps/background-step.js
  scripts/apps/progression-framework/steps/class-step.js
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/apps/progression-framework/steps/language-step.js
  scripts/apps/progression-framework/steps/skills-step.js
  scripts/apps/progression-framework/steps/species-step.js
  scripts/apps/progression-framework/steps/talent-step.js
Due: eslint --fix

Phase 1 (cont): Update remaining selection steps to sync with buildIntent
  scripts/apps/progression-framework/steps/droid-builder-step.js
  scripts/apps/progression-framework/steps/force-power-step.js
  scripts/apps/progression-framework/steps/force-secret-step.js
  scripts/apps/progression-framework/steps/force-technique-step.js
  scripts/apps/progression-framework/steps/starship-maneuver-step.js
Due: eslint --fix

Doc: Phase 1 completion summary
  PHASE_1_BUILD_INTENT_COMPLETE.md
Due: prettier --write

Phase 2: Implement GlobalValidator for cross-step constraints
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/validation/global-validator.js
Due: eslint --fix

Phase 2 (cont): Integrate GlobalValidator with ProgressionShell and steps
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/step-plugin-base.js
Due: eslint --fix

Phase 2 (final): Enhance GlobalValidator with practical constraint checks
  scripts/apps/progression-framework/validation/global-validator.js
Due: eslint --fix

Doc: Phase 2 completion summary
  PHASE_2_GLOBAL_VALIDATION_COMPLETE.md
Due: prettier --write

Phase 3: Implement ChargenPersistence for mid-chargen auto-save
  scripts/apps/progression-framework/shell/chargen-persistence.js
  scripts/apps/progression-framework/shell/progression-shell.js
Due: eslint --fix

Doc: Phase 3 completion summary
  PHASE_3_PERSISTENCE_COMPLETE.md
Due: prettier --write

Phase 4: Implement BuildAnalysisEngine integration for L1 Survey
  scripts/apps/progression-framework/shell/build-analysis-integration.js
  scripts/apps/progression-framework/steps/l1-survey-step.js
Due: eslint --fix

Doc: Phase 4 completion summary
  PHASE_4_ANALYSIS_INTEGRATION_COMPLETE.md
Due: prettier --write

Phase 5: Extended Suggestions - Wire all selection steps to SuggestionService
  scripts/apps/progression-framework/steps/attribute-step.js
  scripts/apps/progression-framework/steps/background-step.js
  scripts/apps/progression-framework/steps/class-step.js
  scripts/apps/progression-framework/steps/droid-builder-step.js
  scripts/apps/progression-framework/steps/force-power-step.js
  scripts/apps/progression-framework/steps/force-secret-step.js
  scripts/apps/progression-framework/steps/force-technique-step.js
  scripts/apps/progression-framework/steps/language-step.js
  scripts/apps/progression-framework/steps/skills-step.js
  scripts/apps/progression-framework/steps/species-step.js
  scripts/apps/progression-framework/steps/starship-maneuver-step.js
Due: eslint --fix

Phase 5: Add comprehensive documentation for extended suggestions implementation
  PHASE_5_EXTENDED_SUGGESTIONS_COMPLETE.md
Due: prettier --write

Phase 6: Mode Awareness - Add mode detection and mode-specific guidance to steps
  scripts/apps/progression-framework/steps/attribute-step.js
  scripts/apps/progression-framework/steps/class-step.js
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/apps/progression-framework/steps/step-plugin-base.js
  scripts/apps/progression-framework/steps/talent-step.js
Due: eslint --fix

Phase 6: Add mode-aware mentor guidance to additional selection steps
  scripts/apps/progression-framework/steps/background-step.js
  scripts/apps/progression-framework/steps/language-step.js
  scripts/apps/progression-framework/steps/skills-step.js
Due: eslint --fix

Phase 6: Add comprehensive documentation for mode awareness implementation
  PHASE_6_MODE_AWARENESS_COMPLETE.md
Due: prettier --write

Phase 7: UI Suggestion Display - Add suggestion data to step rendering
  scripts/apps/progression-framework/steps/class-step.js
  scripts/apps/progression-framework/steps/species-step.js
  scripts/apps/progression-framework/steps/step-plugin-base.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
