Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

Second Wind System: Final Refinements & Recovery Hook Integration
  scripts/components/combat-action-bar.js
  scripts/houserules/houserule-recovery.js
Due: eslint --fix

Phase 1: Cleanup dead settings and add centralized settings helper
  scripts/houserules/houserule-settings.js
  scripts/utils/settings-helper.js
Due: eslint --fix

Phase 2a: Create HPGeneratorEngine for centralized HP calculation
  scripts/apps/chargen-improved.js
  scripts/apps/levelup/levelup-shared.js
  scripts/engines/HP/HPGeneratorEngine.js
Due: eslint --fix

Phase 2b: Create ForceTrainingEngine for centralized Force logic
  scripts/engines/Force/ForceTrainingEngine.js
  scripts/utils/force-power-manager.js
Due: eslint --fix

Phase 3: Build holo-cyber house rules datapad UI framework
  scripts/apps/house-rules-app.js
  styles/apps/house-rules.css
  templates/apps/house-rules/house-rules.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 4: Restore all 10 dead settings for intelligent implementation
  scripts/houserules/houserule-settings.js
  scripts/utils/settings-helper.js
Due: eslint --fix

Add unified cyber holo form controls for datapad UI
  styles/apps/house-rules-controls.css
Due: none

Phase 6: Implement HouseRuleService SSOT & Complete Governance Audit
  docs/HOUSE_RULE_GOVERNANCE_AUDIT.md
  scripts/engines/system/HouseRuleService.js
Due: eslint --fix, prettier --write

Add comprehensive remediation examples and patterns
  docs/REMEDIATION_EXAMPLES.md
Due: prettier --write

Document Engine Architecture governance doctrine
  docs/ARCHITECTURE.md
  docs/ENGINE-ARCHITECTURE.md
Due: prettier --write

Implement centralized DamageMitigationManager subsystem (V2 Governance)
  docs/audit/DAMAGE-MITIGATION-AUDIT-V2.md
  scripts/engines/combat/damage-mitigation-manager.js
  scripts/engines/combat/damage-mitigation-manager.test.js
  scripts/engines/combat/damage-resolution-engine.js
  scripts/engines/combat/resolvers/damage-reduction-resolver.js
  scripts/engines/combat/resolvers/shield-mitigation-resolver.js
  scripts/engines/combat/resolvers/temp-hp-resolver.js
  scripts/talents/DarkSidePowers.js
Due: eslint --fix, prettier --write

Add CI governance enforcement rules for damage mitigation
  docs/governance/CI-RULES-DAMAGE-MITIGATION.md
Due: prettier --write

Phase 3: Display layer, data contracts, and damage transparency
  docs/architecture/DATA-CONTRACT-DR-SR.md
  scripts/engines/combat/damage-log-formatter.js
  styles/actors/v2/summary/damage-reduction.css
  styles/actors/v2/summary/hp-shield-wrapper.css
  styles/chat/damage-log.css
  templates/actors/character/v2/partials/summary/damage-reduction.hbs
  templates/actors/character/v2/partials/summary/hp-shield-wrapper.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Refine SR animation and simplify HP wrapper display
  styles/actors/v2/summary/hp-shield-wrapper.css
  templates/actors/character/v2/partials/summary/hp-shield-wrapper.hbs
Due: node scripts/validate/validate-icon-keys.js

Add comprehensive implementation summary
  docs/DAMAGE-MITIGATION-IMPLEMENTATION-SUMMARY.md
Due: prettier --write

Add modular Shield Rating partial and CSS
  styles/actors/v2/summary/shield-rating.css
  templates/actors/character/v2/partials/summary/shield-rating.hbs
Due: node scripts/validate/validate-icon-keys.js

Final completion: Damage mitigation system production-ready
  docs/DAMAGE-MITIGATION-COMPLETE.md
Due: prettier --write

Phase C: Implement Tier 1 Governance Engines
  scripts/engines/chargen/CharacterGenerationEngine.js
  scripts/engines/combat/CombatMechanicsEngine.js
  scripts/engines/progression/ProgressionEngineV2.js
Due: eslint --fix

Add architecture enforcement validator
  scripts/validate-architecture.js
Due: eslint --fix

Complete Tier 1-2 Governance Engines
  scripts/engines/chargen/CharacterGenerationEngine.js
  scripts/engines/combat/ConditionEngine.js
  scripts/engines/progression/ProgressionEngineV2.js
Due: eslint --fix

Phase D: Complete Legacy Code Remediation
  scripts/apps/progression/force-power-picker.js
  scripts/apps/progression/force-secret-picker.js
  scripts/apps/progression/force-technique-picker.js
  scripts/apps/progression/levelup-module-init.js
  scripts/apps/progression/progression-ui.js
  scripts/apps/progression/starship-maneuver-picker.js
  scripts/engines/combat/SecondWindEngine.js
  scripts/engines/progression/engine/language-engine.js
  scripts/engines/progression/engine/progression-actor-updater.js
  scripts/engines/progression/xp-engine.js
Due: eslint --fix

Phase E1: Implement Tier 3 ModifierEngine Extensions
  scripts/engines/effects/modifiers/ModifierDomainResolver.js
  scripts/engines/effects/modifiers/ModifierEngineExtensions.js
Due: eslint --fix

Phase F: Establish SuggestionEngine Sovereignty Contract
  docs/ENGINE-ARCHITECTURE.md
Due: prettier --write

Phase F Part 1: Remove Critical Mutations from SuggestionEngine
  scripts/engines/suggestion/SuggestionEngineHooks.js
  scripts/engines/suggestion/SuggestionStateService.js
Due: eslint --fix

Phase 1B: Fix settings bypass violations in SuggestionEngines
  scripts/engines/suggestion/ForceOptionSuggestionEngine.js
  scripts/engines/suggestion/SuggestionService.js
Due: eslint --fix

Phase 2: Extract DRY violations from SuggestionEngines
  scripts/engines/suggestion/ClassSuggestionEngine.js
  scripts/engines/suggestion/Level1SkillSuggestionEngine.js
  scripts/engines/suggestion/ProgressionAdvisor.js
  scripts/engines/suggestion/shared-suggestion-utilities.js
Due: eslint --fix

Phase 3 Part A: Split God Objects into single-responsibility modules
  scripts/engines/suggestion/AnchorRepository.js
  scripts/engines/suggestion/BuildIdentityDetector.js
  scripts/engines/suggestion/PivotLogic.js
  scripts/engines/suggestion/PivotStateManager.js
  scripts/engines/suggestion/PlayerAnalytics.js
  scripts/engines/suggestion/SelectionRecorder.js
Due: eslint --fix

Phase 3B: Refactor God Objects to use new single-responsibility modules
  scripts/engines/suggestion/BuildIdentityAnchor.js
  scripts/engines/suggestion/PivotDetector.js
  scripts/engines/suggestion/PlayerHistoryTracker.js
Due: eslint --fix

fix: consolidate chargen.hbs to single root element for V2 compliance
  templates/apps/chargen.hbs
Due: node scripts/validate/validate-icon-keys.js

fix: replace direct item.update() with ActorEngine in levelup-class.js
  scripts/apps/levelup/levelup-class.js
Due: eslint --fix

docs: Phase 2 Progression Mutation Sovereignty Enforcement Audit
  PHASE-2-PROGRESSION-MUTATION-AUDIT.md
Due: prettier --write

docs: Phase 2 SuggestionEngine ↔ Progression Integration Wiring Audit
  PHASE-2-SUGGESTION-PROGRESSION-WIRING-AUDIT.md
Due: prettier --write

fix: Move ProgressionSession from suggestion to progression engine
  scripts/engines/progression/ProgressionSession.js
Due: eslint --fix

docs: Phase 3 Character Sheet System Audit
  PHASE-3-CHARACTER-SHEET-SYSTEM-AUDIT.md
Due: prettier --write

feat: Add "Talk to Mentor" header button to character sheet
  scripts/sheets/v2/character-sheet.js
  styles/sheets/v3/partials/header.css
  templates/actors/character/v2/character-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

refactor: Add ActorEngine.apply(mutationPlan) for sovereign drop mutations
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix

feat: Implement DropResolutionEngine (Stage 1 - pure engine)
  scripts/engines/interactions/drop-resolution-engine.js
Due: eslint --fix

feat: Wire DropResolutionEngine to all V2 sheets (Stage 3-4)
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/droid-sheet.js
  scripts/sheets/v2/npc-combat-sheet.js
  scripts/sheets/v2/vehicle-sheet.js
Due: eslint --fix

refactor: Add relationships schema to actor template
  template.json
Due: prettier --write
