Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

audit: add Phase 3D talent cleanup dry run
  data/audits/talent-phase-3d-dry-run-report.json
  docs/audits/talent-phase-3d-dry-run.md
  docs/audits/talent-phase-3d-identity-adjudication.md
  tests/talent-phase-3d-applicator.test.mjs
  tools/apply-talent-phase-3d.mjs
Due: prettier --write

audit: correct Phase 3D dry-run doc counts
  docs/audits/talent-phase-3d-dry-run.md
Due: prettier --write

audit: exclude all Phase 3D tools from the census reference search
  tools/build-talent-phase-3d-census.mjs
Due: none

audit: add Phase 3D apply/verify tooling (pre-application checkpoint)
  data/audits/talent-phase-3d-dry-run-report.json
  tests/talent-phase-3d-applicator.test.mjs
  tests/talent-phase-3d-post-state.test.mjs
  tools/apply-talent-phase-3c.mjs
  tools/apply-talent-phase-3d.mjs
  tools/audit-talent-homebrew-pack.mjs
  tools/check-talent-phase-3c-ci.mjs
Due: prettier --write

audit: close dry-run gaps found by the residual-reference gate
  data/audits/talent-phase-3d-dispositions.json
  data/audits/talent-phase-3d-dry-run-report.json
  data/audits/talent-phase-3d-production-extras-census.json
  data/audits/talent-phase-3d-reference-impact.json
  docs/audits/talent-phase-3d-production-extras-census.md
  tests/talent-membership-and-pack-completion.test.mjs
  tests/talent-phase-3d-applicator.test.mjs
  tests/talent-phase-3d-census.test.mjs
  tests/talent-phase-3d-review-extras.test.mjs
  tests/talent-tree-membership-review-extras.test.mjs
  tools/apply-talent-phase-3d.mjs
  tools/check-talent-phase-3d-dispositions.mjs
  tools/fix-compendium-issues.js
  tools/verify-compendium-fixes.js
Due: eslint --fix, prettier --write

audit: add allow-listed canonical prerequisite repoints to the Phase 3D plan
  data/audits/talent-phase-3d-dispositions.json
  data/audits/talent-phase-3d-dry-run-report.json
  tests/talent-phase-3d-applicator.test.mjs
  tests/talent-phase-3d-review-extras.test.mjs
  tools/apply-talent-phase-3d.mjs
  tools/check-talent-phase-3d-dispositions.mjs
Due: prettier --write

audit: certify Phase 3D production migration
  docs/audits/talent-phase-3d-production-certification.md
Due: prettier --write

audit: Phase 3E plan and checkpoint structure
  docs/audits/talent-phase-3e-plan.md
Due: prettier --write

audit: Core Gunslinger source census (Phase 3E-2a)
  data/audits/talent-phase-3e-core-gunslinger-census.json
  docs/audits/talent-phase-3e-core-gunslinger-census.md
  tests/talent-phase-3e-core-gunslinger-census.test.mjs
  tools/census-talent-core-gunslinger.mjs
Due: prettier --write

audit: certify Core Gunslinger census with owner PDF verification
  data/audits/talent-phase-3e-core-gunslinger-census.json
  docs/audits/talent-phase-3e-core-gunslinger-census.md
  tests/talent-phase-3e-core-gunslinger-census.test.mjs
  tools/census-talent-core-gunslinger.mjs
Due: prettier --write

audit: add Phase 3E-1 authority addendum for the seven canonical cases
  data/audits/talent-phase-3e-canonical-additions.json
  docs/audits/talent-phase-3e-canonical-additions.md
  tests/talent-phase-3e-additions.test.mjs
  tools/check-talent-phase-3e-additions.mjs
Due: prettier --write

audit: Phase 3E-2b source-first discovery census
  data/audits/talent-phase-3e-discovery-census.json
  docs/audits/talent-phase-3e-discovery-census.md
  tests/talent-phase-3e-discovery-census.test.mjs
  tools/census-talent-source-discovery.mjs
Due: prettier --write

audit: record owner PDF results in Phase 3E addendum and discovery census
  data/audits/talent-phase-3e-canonical-additions.json
  data/audits/talent-phase-3e-discovery-census.json
  docs/audits/talent-phase-3e-canonical-additions.md
  docs/audits/talent-phase-3e-discovery-census.md
  tests/talent-phase-3e-additions.test.mjs
  tests/talent-phase-3e-discovery-census.test.mjs
  tools/census-talent-source-discovery.mjs
Due: prettier --write

audit: Phase 3E-3 publication-to-production reconciler and CI gate
  data/audits/talent-phase-3e-publication-reconciliation.json
  docs/audits/talent-phase-3e-publication-reconciliation.md
  tests/talent-phase-3e-publication-reconciliation.test.mjs
  tools/check-talent-phase-3c-ci.mjs
  tools/reconcile-talent-publication-corpus.mjs
Due: prettier --write

audit: Phase 3E-4 seven-record repair manifest, dry-run report and applicator
  data/audits/talent-phase-3e-canonical-additions.json
  data/audits/talent-phase-3e4-dry-run-report.json
  data/audits/talent-phase-3e4-repair-manifest.json
  tests/talent-phase-3d-census.test.mjs
  tests/talent-phase-3d-review-extras.test.mjs
  tests/talent-phase-3e4-repair.test.mjs
  tests/talent-tree-membership-review-extras.test.mjs
  tools/apply-talent-phase-3c.mjs
  tools/apply-talent-phase-3d.mjs
  tools/apply-talent-phase-3e4.mjs
  tools/check-talent-phase-3c-ci.mjs
Due: prettier --write

data: Phase 3E-4 seven-record canonical production repair (packs/talents.db)
  packs/talents.db
Due: none

audit: regenerate Phase 3E gates for the 3E-4 state
  data/audits/talent-phase-3e-core-gunslinger-census.json
  data/audits/talent-phase-3e-publication-reconciliation.json
  docs/audits/talent-phase-3e-core-gunslinger-census.md
  docs/audits/talent-phase-3e-publication-reconciliation.md
  tests/talent-phase-3d-post-state.test.mjs
  tools/census-talent-core-gunslinger.mjs
Due: prettier --write

audit: Phase 3E-5a finite canonical text-defect manifest (awaiting PDF)
  data/audits/talent-phase-3e5-text-defect-manifest.json
  docs/audits/talent-phase-3e5-text-defect-manifest.md
  tests/talent-phase-3e5-defect-manifest.test.mjs
  tools/build-talent-phase-3e5-defect-manifest.mjs
Due: prettier --write

audit: Phase 3E-5 manifest expanded from owner PDF pass, dry-run (no write) and text-drift invariant
  data/audits/talent-phase-3e-publication-reconciliation.json
  data/audits/talent-phase-3e5-dry-run-report.json
  data/audits/talent-phase-3e5-text-defect-manifest.json
  docs/audits/talent-phase-3e-publication-reconciliation.md
  docs/audits/talent-phase-3e5-dry-run.md
  docs/audits/talent-phase-3e5-text-defect-manifest.md
  tests/talent-phase-3e-publication-reconciliation.test.mjs
  tests/talent-phase-3e5-defect-manifest.test.mjs
  tools/apply-talent-phase-3e5.mjs
  tools/build-talent-phase-3e5-defect-manifest.mjs
  tools/check-talent-phase-3c-ci.mjs
  tools/reconcile-talent-publication-corpus.mjs
Due: prettier --write

audit: Phase 3E-5 complete PDF-verified repair set (23 records) with apply/verify tooling
  data/audits/talent-phase-3e5-dry-run-report.json
  data/audits/talent-phase-3e5-text-defect-manifest.json
  docs/audits/talent-phase-3e5-dry-run.md
  docs/audits/talent-phase-3e5-text-defect-manifest.md
  tests/talent-phase-3d-census.test.mjs
  tests/talent-phase-3d-post-state.test.mjs
  tests/talent-phase-3d-review-extras.test.mjs
  tests/talent-phase-3e4-repair.test.mjs
  tests/talent-phase-3e5-defect-manifest.test.mjs
  tests/talent-tree-membership-review-extras.test.mjs
  tools/apply-talent-phase-3c.mjs
  tools/apply-talent-phase-3d.mjs
  tools/apply-talent-phase-3e4.mjs
  tools/apply-talent-phase-3e5.mjs
  tools/build-talent-phase-3e5-defect-manifest.mjs
  tools/check-talent-phase-3c-ci.mjs
Due: prettier --write

data: Phase 3E-5 canonical text-defect repair (packs/talents.db, 23 records)
  packs/talents.db
Due: none

audit: regenerate Phase 3E gates for the 3E-5 state
  data/audits/talent-phase-3e-discovery-census.json
  data/audits/talent-phase-3e-publication-reconciliation.json
  docs/audits/talent-phase-3e-discovery-census.md
  docs/audits/talent-phase-3e-publication-reconciliation.md
  tests/talent-phase-3e-discovery-census.test.mjs
  tools/census-talent-source-discovery.mjs
Due: prettier --write

docs: Phase 3E certification
  docs/audits/talent-phase-3e-certification.md
Due: prettier --write

docs: tighten Phase 3E certification question to match what was verified
  docs/audits/talent-phase-3e-certification.md
Due: prettier --write

audit: Phase 3F-0/1/2 identity contract, census and source-ID hardening of normalizeTalent
  data/audits/talent-phase-3f-tree-identity-census.json
  docs/audits/talent-phase-3f-identity-contract.md
  docs/audits/talent-phase-3f-tree-identity-census.md
  scripts/data/talent-normalizer.js
  tests/talent-phase-3f-tree-identity.test.mjs
  tools/census-talent-tree-identity.mjs
Due: eslint --fix, prettier --write

audit: Phase 3F-3 normalization manifest and dry-run (no production write)
  data/audits/talent-phase-3f-dry-run-report.json
  data/audits/talent-phase-3f-normalization-manifest.json
  docs/audits/talent-phase-3f-dry-run.md
  tests/talent-phase-3f-normalization.test.mjs
  tools/apply-talent-phase-3f.mjs
  tools/census-talent-tree-identity.mjs
  tools/check-talent-phase-3c-ci.mjs
Due: prettier --write

data: Phase 3F talent-tree identity normalization (packs + registries)
  data/fixes/talent-trees.registry.json
  data/generated/talent-trees.registry.json
  packs/talent_trees.db
  packs/talents.db
Due: prettier --write

audit: POST_3F state wiring, later-state verifiers, blocking tree-identity invariants, Aing-Tii regression
  data/audits/talent-phase-3e-publication-reconciliation.json
  docs/audits/talent-phase-3e-publication-reconciliation.md
  tests/talent-phase-3d-census.test.mjs
  tests/talent-phase-3d-post-state.test.mjs
  tests/talent-phase-3d-review-extras.test.mjs
  tests/talent-phase-3e-publication-reconciliation.test.mjs
  tests/talent-phase-3e4-repair.test.mjs
  tests/talent-phase-3e5-defect-manifest.test.mjs
  tests/talent-phase-3f-tree-identity.test.mjs
  tests/talent-tree-membership-review-extras.test.mjs
  tools/apply-talent-phase-3c.mjs
  tools/apply-talent-phase-3d.mjs
  tools/apply-talent-phase-3e4.mjs
  tools/apply-talent-phase-3e5.mjs
  tools/census-talent-tree-identity.mjs
  tools/check-talent-phase-3c-ci.mjs
  tools/reconcile-talent-publication-corpus.mjs
Due: prettier --write

docs: Phase 3F certification
  docs/audits/talent-phase-3f-certification.md
Due: prettier --write

audit: Phase 3G-0/1 prerequisite identity contract, census and experiments (no production change)
  data/audits/talent-phase-3g-identity-experiments.json
  data/audits/talent-phase-3g-prerequisite-identity-census.json
  docs/audits/talent-phase-3g-identity-contract.md
  docs/audits/talent-phase-3g-prerequisite-identity-census.md
  tests/talent-phase-3g-prerequisite-census.test.mjs
  tools/audit-talent-prerequisite-identity-experiments.mjs
  tools/census-talent-prerequisite-identity.mjs
  tools/check-talent-phase-3c-ci.mjs
Due: prettier --write

feat: Phase 3G-2 canonical talent source-identity path (helper, finalizer stamping, pending threading, checker + evaluator)
  scripts/apps/progression-framework/shell/mutation/feat-talent-plan-builder.js
  scripts/apps/progression-framework/steps/talent-step.js
  scripts/data/prerequisite-checker.js
  scripts/data/talent-source-identity.js
  scripts/engine/progression/prerequisites/actor-prerequisite-snapshot.js
  scripts/engine/progression/prerequisites/prerequisite-evaluator.js
  scripts/engine/progression/prerequisites/prerequisite-normalizer.js
  tests/talent-phase-3g-runtime-identity.test.mjs
Due: eslint --fix

feat(talents): Phase 3G-3 migration manifest and dry-run (315 leaves / 300 records, no production write)
  data/audits/talent-phase-3g-dry-run-report.json
  data/audits/talent-phase-3g-migration-manifest.json
  docs/audits/talent-phase-3g-dry-run.md
  docs/audits/talent-phase-3g-identity-contract.md
  scripts/data/talent-source-identity.js
  tests/talent-phase-3g-dry-run.test.mjs
  tests/talent-phase-3g-prerequisite-census.test.mjs
  tools/apply-talent-phase-3g.mjs
  tools/census-talent-prerequisite-identity.mjs
  tools/check-talent-phase-3c-ci.mjs
Due: eslint --fix, prettier --write

feat(talents): Phase 3G revised migration scope per owner source rulings (311 leaves, 4 removals, 5 retargets, 4 text lines)
  data/audits/talent-phase-3g-dry-run-report.json
  data/audits/talent-phase-3g-migration-manifest.json
  data/audits/talent-phase-3g-source-corrections.json
  docs/audits/talent-phase-3g-dry-run.md
  tests/talent-phase-3g-dry-run.test.mjs
  tools/apply-talent-phase-3g.mjs
  tools/reconcile-talent-publication-corpus.mjs
Due: prettier --write

feat(talents): Phase 3G apply/verify tooling (no production write yet)
  tools/apply-talent-phase-3g.mjs
Due: none

data(talents): Phase 3G production apply — structured prerequisite identity (311 uuid leaves, 4 false removed, 4 text lines)
  packs/talents.db
Due: none

feat(talents): Phase 3G POST_3G_STATE gate, later-state verifier modes, reconciliation record, certification
  data/audits/talent-phase-3e-publication-reconciliation.json
  docs/audits/talent-phase-3e-publication-reconciliation.md
  docs/audits/talent-phase-3g-certification.md
  tests/talent-phase-3d-census.test.mjs
  tests/talent-phase-3d-post-state.test.mjs
  tests/talent-phase-3d-review-extras.test.mjs
  tests/talent-phase-3f-normalization.test.mjs
  tests/talent-phase-3g-dry-run.test.mjs
  tests/talent-phase-3g-runtime-identity.test.mjs
  tests/talent-tree-membership-review-extras.test.mjs
  tools/apply-talent-phase-3c.mjs
  tools/apply-talent-phase-3d.mjs
  tools/apply-talent-phase-3e4.mjs
  tools/apply-talent-phase-3e5.mjs
  tools/apply-talent-phase-3f.mjs
  tools/census-talent-tree-identity.mjs
  tools/check-talent-phase-3c-ci.mjs
Due: prettier --write

audit: add archetype phase 11 semantic authority
  data/audits/archetype-phase-11/SWSE_Archetype_Phase_11_Canonical_Metadata_Convergence.md
  data/audits/archetype-phase-11/SWSE_Archetype_Phase_11_Metadata_Vocabulary.json
  data/audits/archetype-phase-11/SWSE_Archetypes_Phase_11_Canonical_Metadata.json
Due: prettier --write

feat(talents): Phase 3H-0/1 semantic vocabulary authority + read-only metadata census
  data/audits/talent-phase-3h-metadata-census.json
  data/canonical/semantic-tag-vocabulary.json
  docs/audits/talent-phase-3h-metadata-census.md
  tools/apply-talent-phase-3g.mjs
  tools/census-talent-semantic-metadata.mjs
  tools/promote-semantic-vocabulary.mjs
  tools/talent-semantic-common.mjs
  tools/talent-semantic-rules.mjs
Due: prettier --write

feat(talents): Phase 3H-2/3/4 semantic authority, one-way archetype QA, exact-reference bridge, convergence contract, certified dry-run (no production write)
  data/audits/talent-phase-3h-archetype-crosscheck.json
  data/audits/talent-phase-3h-archetype-exact-reference-bridge.json
  data/audits/talent-phase-3h-dry-run-report.json
  data/audits/talent-phase-3h-migration-manifest.json
  data/audits/talent-phase-3h-semantic-authority.json
  data/canonical/semantic-tag-vocabulary.json
  docs/audits/talent-phase-3h-archetype-crosscheck.md
  docs/audits/talent-phase-3h-archetype-exact-reference-bridge.md
  docs/audits/talent-phase-3h-archetype-seam-audit.md
  docs/audits/talent-phase-3h-convergence-contract.md
  docs/audits/talent-phase-3h-dry-run.md
  docs/audits/talent-phase-3h-semantic-architecture.md
  docs/audits/talent-phase-3h-semantic-authority.md
  tests/talent-phase-3h-semantic.test.mjs
  tools/apply-talent-phase-3h.mjs
  tools/bridge-archetype-talent-references.mjs
  tools/check-talent-phase-3c-ci.mjs
  tools/derive-talent-semantic-authority.mjs
  tools/promote-semantic-vocabulary.mjs
  tools/qa-talent-semantic-vs-archetypes.mjs
  tools/talent-semantic-probes.mjs
  tools/talent-semantic-rules.mjs
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
