Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Document app responsive contracts phase 2
  docs/audits/app-responsive-contracts-phase2.md
Due: prettier --write

Add character sheet responsive contract
  styles/system/app-responsive-character-sheet.css
Due: none

Load character sheet responsive contract
  scripts/ui/shell/shell-responsive-observer.js
Due: eslint --fix

Document character sheet responsive contract
  docs/audits/app-responsive-contracts-phase2.md
Due: prettier --write

Add store responsive contract
  styles/system/app-responsive-store.css
Due: none

Load live store responsive contract
  scripts/ui/shell/shell-responsive-observer.js
Due: eslint --fix

Restrict store responsive contract to live shell store
  styles/system/app-responsive-store.css
Due: none

Remove orphaned legacy store template
  templates/apps/store.html
Due: none

Remove orphaned simple store template
  templates/apps/store/store.html
Due: none

Document live store responsive contract and legacy cleanup
  docs/audits/app-responsive-contracts-phase2.md
Due: prettier --write

Add customization workbench responsive contract
  styles/system/app-responsive-workbench.css
Due: none

Load workbench responsive contract
  scripts/ui/shell/shell-responsive-observer.js
Due: eslint --fix

Document workbench responsive contract
  docs/audits/app-responsive-contracts-phase2.md
Due: prettier --write

Add games responsive contract
  styles/system/app-responsive-games.css
Due: none

Load games responsive contract
  scripts/ui/shell/shell-responsive-observer.js
Due: eslint --fix

Document games responsive contract
  docs/audits/app-responsive-contracts-phase2.md
Due: prettier --write

Add GM holopad responsive contract
  styles/system/app-responsive-gm-holopad.css
Due: none

Load GM holopad responsive contract
  scripts/ui/shell/shell-responsive-observer.js
Due: eslint --fix

Document GM holopad responsive contract
  docs/audits/app-responsive-contracts-phase2.md
Due: prettier --write

Add atlas responsive contract
  styles/system/app-responsive-atlas.css
Due: none

Load atlas responsive contract
  scripts/ui/shell/shell-responsive-observer.js
Due: eslint --fix

Document atlas responsive contract
  docs/audits/app-responsive-contracts-phase2.md
Due: prettier --write

Add transmission decryption responsive contract
  styles/system/app-responsive-transmission-decryption.css
Due: none

Load transmission decryption responsive contract
  scripts/ui/shell/shell-responsive-observer.js
Due: eslint --fix

Document transmission decryption responsive contract
  docs/audits/app-responsive-contracts-phase2.md
Due: prettier --write

Add force alchemy responsive contract
  styles/system/app-responsive-force-alchemy.css
Due: none

Load force alchemy responsive contract
  scripts/ui/shell/shell-responsive-observer.js
Due: eslint --fix

Document force alchemy responsive contract
  docs/audits/app-responsive-contracts-phase2.md
Due: prettier --write

Add galactic records responsive contract
  styles/system/app-responsive-galactic-records.css
Due: none

Load galactic records responsive contract
  scripts/ui/shell/shell-responsive-observer.js
Due: eslint --fix

Document galactic records responsive contract
  docs/audits/app-responsive-contracts-phase2.md
Due: prettier --write

Add actor creation entry responsive contract
  styles/system/app-responsive-actor-creation-entry.css
Due: none

Load actor creation entry responsive contract
  scripts/ui/shell/shell-responsive-observer.js
Due: eslint --fix

Document actor creation entry responsive contract
  docs/audits/app-responsive-contracts-phase2.md
Due: prettier --write

Add shipyard responsive contract
  styles/system/app-responsive-shipyard.css
Due: none

Load shipyard responsive contract
  scripts/ui/shell/shell-responsive-observer.js
Due: eslint --fix

Document shipyard responsive contract
  docs/audits/app-responsive-contracts-phase2.md
Due: prettier --write

Add asset bay responsive contract
  styles/system/app-responsive-assets.css
Due: none

Load asset bay responsive contract
  scripts/ui/shell/shell-responsive-observer.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
