Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

fix(gm): harden Location Library catalog biome vocabulary
  scripts/locations/location-library-seeds.js
Due: eslint --fix

test(gm): prove Locations importer idempotency and catalog integrity
  tests/gm-locations-importer-contract.test.mjs
  tests/gm-locations-library-catalog-contract.test.mjs
  tests/gm-locations-library-import-service.test.mjs
Due: none

docs(gm): document Locations Stage 1 reliability
  docs/audits/gm-locations-phase-0-functional-recovery.md
Due: prettier --write

fix(gm): serialize Location Library import writes, fix all-invalid path
  scripts/locations/location-registry-service.js
  scripts/ui/shell/gm/controllers/GMLocationsSurfaceController.js
Due: eslint --fix

test(gm): prove import serialization and completion-state fixes
  tests/gm-locations-importer-controller-behavior.test.mjs
  tests/gm-locations-library-import-service.test.mjs
Due: none

docs(gm): correct Stage 1 concurrency claim and close out reliability gaps
  docs/audits/gm-locations-phase-0-functional-recovery.md
Due: prettier --write

feat(gm): expose Locations atlas leads, encounters, scenes, and links
  scripts/ui/shell/gm/GMLocationsSurfaceService.js
  scripts/ui/shell/gm/controllers/GMLocationsSurfaceController.js
  styles/apps/gm-holopad-concept-phase2.css
  templates/apps/gm-datapad/surfaces/locations.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

test(gm): cover Locations operational UI reachability
  tests/gm-locations-atlas-lead-operations.test.mjs
  tests/gm-locations-links-scenes-encounters.test.mjs
  tests/gm-locations-operational-ui-action-matrix.test.mjs
  tests/gm-locations-scene-creation-safety.test.mjs
Due: none

docs(gm): document Locations Phase 2 recovery
  docs/audits/gm-locations-phase-0-functional-recovery.md
Due: prettier --write

fix(gm): close Scene-creation race between create-scene and stage-encounter-seeds
  scripts/ui/shell/gm/controllers/GMLocationsSurfaceController.js
Due: eslint --fix

test(gm): prove Scene-creating operations are fully serialized
  tests/gm-locations-scene-creation-safety.test.mjs
Due: none

docs(gm): document the Scene-operation race correction
  docs/audits/gm-locations-phase-0-functional-recovery.md
Due: prettier --write

fix(gm): enforce Location creation and hierarchy identity
  scripts/locations/location-registry-service.js
Due: eslint --fix

fix(gm): make Locations UI truthful and restore missing authoring forms
  scripts/ui/shell/gm/GMLocationsSurfaceService.js
  scripts/ui/shell/gm/controllers/GMLocationsSurfaceController.js
  templates/apps/gm-datapad/surfaces/locations.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

test(gm): cover Locations identity, hierarchy, and truthful-UI contracts
  tests/gm-locations-identity-and-hierarchy-integrity.test.mjs
  tests/gm-locations-truthful-ui-contract.test.mjs
Due: none

fix(gm): make Locations layout container-responsive and give the detail panel one scroll region
  styles/apps/gm-holopad-concept-phase2.css
Due: none

fix(gm): stabilize datapad repair lifecycle against stale rAF/timeout callbacks
  scripts/ui/shell/gm/GMInteractionRepairService.js
Due: eslint --fix

fix(gm): persist Locations import selection across filter reruns
  scripts/ui/shell/gm/GMLocationsSurfaceService.js
  scripts/ui/shell/gm/controllers/GMLocationsSurfaceController.js
  templates/apps/gm-datapad/surfaces/locations.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

test(gm): cover Locations Stage 3 layout, repair lifecycle, and import selection
  tests/gm-datapad-interaction-repair-lifecycle.test.mjs
  tests/gm-locations-container-responsive-layout.test.mjs
  tests/gm-locations-import-selection-persistence.test.mjs
Due: none

docs(gm): document Locations Stage 3 closure
  docs/audits/gm-locations-phase-0-functional-recovery.md
Due: prettier --write

fix(gm): make Locations import selection authoritative across filter changes
  scripts/ui/shell/gm/controllers/GMLocationsSurfaceController.js
  tests/gm-locations-import-selection-persistence.test.mjs
Due: eslint --fix

fix(gm): reject invalid Location hierarchy instead of sanitizing and saving
  scripts/locations/location-registry-service.js
  scripts/ui/shell/gm/GMLocationsSurfaceService.js
  tests/gm-locations-identity-and-hierarchy-integrity.test.mjs
Due: eslint --fix

fix(gm): finish the Atlas Fact and Encounter Seed authoring forms
  templates/apps/gm-datapad/surfaces/locations.hbs
  tests/gm-locations-truthful-ui-contract.test.mjs
Due: node scripts/validate/validate-icon-keys.js

docs(gm): document the Stage 3 final state-integrity correction
  docs/audits/gm-locations-phase-0-functional-recovery.md
Due: prettier --write

fix(gm): prevent Library imports from colliding with unrelated manual Locations
  scripts/locations/location-library-seeds.js
  scripts/locations/location-registry-service.js
  scripts/ui/shell/gm/GMLocationsSurfaceService.js
Due: eslint --fix

fix(gm): give interactive Atlas Facts stable create-vs-edit identity and honest visibility
  scripts/ui/shell/gm/controllers/GMLocationsSurfaceController.js
  tests/gm-locations-truthful-ui-contract.test.mjs
Due: eslint --fix

test(gm): cover Locations Library id collision, hierarchy repair, and Atlas Fact identity
  tests/gm-locations-library-identity-and-fact-integrity.test.mjs
Due: none

docs(gm): document the pre-live-validation identity/provenance correction
  docs/audits/gm-locations-phase-0-functional-recovery.md
Due: prettier --write

refactor(gm): export Job Board status derivation for cross-surface reuse
  scripts/ui/shell/gm/GMJobBoardSurfaceService.js
Due: eslint --fix

refactor(gm): shape Locations ecosystem view model
  scripts/ui/shell/gm/GMLocationsSurfaceService.js
Due: eslint --fix

feat(gm): migrate Locations to campaign-hub layout
  styles/apps/gm-holopad-concept-phase2.css
  templates/apps/gm-datapad/surfaces/locations.hbs
Due: node scripts/validate/validate-icon-keys.js

test(gm): enforce Locations ecosystem design contract
  tests/gm-locations-ecosystem-template-contract.test.mjs
  tests/gm-locations-ecosystem-view-model.test.mjs
Due: none

docs(gm): document ecosystem redesign Phase 1
  docs/audits/gm-locations-phase-0-functional-recovery.md
Due: prettier --write

refactor(gm): extract Locations ecosystem VM helpers, compute leads once
  scripts/ui/shell/gm/GMLocationsSurfaceService.js
Due: eslint --fix

test(gm): lock down Locations ecosystem VM legacy parity
  tests/gm-locations-ecosystem-view-model.test.mjs
Due: none

docs(gm): document the Phase 1 JavaScript addendum
  docs/audits/gm-locations-phase-0-functional-recovery.md
Due: prettier --write

refactor(gm): add context-preserving surface navigation
  scripts/apps/gm-datapad.js
Due: eslint --fix

feat(gm): navigate Location relationships by stable identity
  scripts/ui/shell/gm/GMLocationsSurfaceService.js
  scripts/ui/shell/gm/controllers/GMLocationsSurfaceController.js
  styles/apps/gm-holopad-concept-phase2.css
  templates/apps/gm-datapad/surfaces/locations.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

test(gm): enforce ecosystem navigation contracts
  tests/gm-datapad-context-navigation-contract.test.mjs
  tests/gm-datapad-navigation-destination-selection.test.mjs
  tests/gm-locations-context-navigation-controller.test.mjs
  tests/gm-locations-operational-ui-action-matrix.test.mjs
Due: none

docs(gm): document ecosystem redesign Phase 2
  docs/audits/gm-locations-phase-0-functional-recovery.md
Due: prettier --write
