Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

moved many files to docs
  docs/AUDIT_EXECUTIVE_SUMMARY.md
  docs/AUDIT_MENTOR_BIAS_INTEGRATION.md
  docs/AUDIT_PHASE_5A_COMPLETE.md
  docs/AUDIT_TIER_RESOLUTION_UNIFICATION.md
  docs/AUDIT_V2_COMPLIANCE.md
  docs/PHASE-5B-COMPLETION.md
  docs/PHASE-5B-SPECIFICATION.md
  docs/PHASE-5C-COMPLETION.md
  docs/PHASE-5C-SPECIFICATION.md
Due: prettier --write

moved to docs
  docs/AUDIT_GAME_PACKS_VIOLATIONS.md
Due: prettier --write

Fix logger path imports in governance modules
  scripts/governance/governance-system.js
  scripts/governance/sentinel/migration-manager.js
Due: eslint --fix

Fix logger import path in prerequisite-integrity-checker
  scripts/governance/integrity/prerequisite-integrity-checker.js
Due: eslint --fix

Fix logger.js 404 error - correct import path
  scripts/governance/enforcement/preflight-validator.js
Due: eslint --fix

Fix logger import paths across governance subdirectories
  scripts/governance/audit/audit-trail.js
  scripts/governance/enforcement/actor-engine-enforcement-gates.js
  scripts/governance/enforcement/levelup-preflight-gate.js
  scripts/governance/export/export-marking.js
  scripts/governance/integrity/missing-prereqs-tracker.js
  scripts/governance/sentinel/mutation-boundary-defense.js
  scripts/governance/sentinel/sovereignty-enforcement.js
  scripts/governance/ui/integrity-dashboard.js
  scripts/governance/ui/rebuild-orchestrator.js
  scripts/governance/ui/slot-resolution-flow.js
Due: eslint --fix

Fix talent tree linkage: pass full talentTreeDB object to normalizer
  scripts/data/talent-db.js
Due: eslint --fix

[FORENSIC AUDIT] Level 1 Character Generation - Behavioral Integrity Report
  reports/level1-forensic-audit.md
Due: prettier --write

Phase 1: Structural talent slot refactor with source-tagged slot model
  scripts/apps/chargen/chargen-class.js
  scripts/apps/chargen/chargen-feats-talents.js
  scripts/apps/chargen/chargen-finalizer.js
  scripts/apps/chargen/chargen-main.js
  scripts/apps/chargen/steps/class-step.js
  scripts/engine/progression/talents/slot-calculator.js
  scripts/engine/progression/talents/slot-migrator.js
  scripts/engine/progression/talents/slot-validator.js
  scripts/engine/progression/talents/talent-slot-schema.js
  scripts/engine/progression/talents/tree-unlock-manager.js
Due: eslint --fix

Phase 1.5: Bonus Feat Authority Alignment — Unified slot model
  scripts/apps/chargen/chargen-feats-talents.js
  scripts/apps/chargen/chargen-finalizer.js
  scripts/apps/chargen/chargen-main.js
  scripts/apps/chargen/steps/class-step.js
  scripts/apps/levelup/levelup-feats.js
  scripts/engine/progression/feats/class-feat-registry.js
  scripts/engine/progression/feats/feat-slot-migrator.js
  scripts/engine/progression/feats/feat-slot-schema.js
  scripts/engine/progression/feats/feat-slot-validator.js
  scripts/engine/progression/talents/talent-slot-schema.js
Due: eslint --fix

Phase 2: Derived talent tree authority model
  scripts/apps/chargen/chargen-feats-talents.js
  scripts/apps/chargen/chargen-finalizer.js
  scripts/engine/progression/talents/slot-validator.js
  scripts/engine/progression/talents/tree-authority.js
Due: eslint --fix

Phase 2.1: Tree Authority Closure & Lifecycle Seal
  scripts/apps/chargen/chargen-feats-talents.js
  scripts/apps/levelup/levelup-talents.js
  scripts/drag-drop/drop-handler.js
  scripts/engine/progression/talents/tree-unlock-manager.js
  scripts/engine/suggestion/SuggestionEngine.js
Due: eslint --fix

Phase 2.1 documentation: Comprehensive audit and implementation specs
  PHASE_2_1_AUDIT_REPORT.md
  PHASE_2_1_CODE_READY.md
  PHASE_2_1_EXECUTIVE_SUMMARY.txt
  PHASE_2_1_FINAL_SUMMARY.md
  PHASE_2_1_IMPLEMENTATION_SPECS.md
  PHASE_2_1_INDEX.md
Due: prettier --write

Phase 3.0: Starship Maneuver Emergency Stabilization
  scripts/apps/progression/starship-maneuver-picker.js
  scripts/engine/progression/engine/starship-maneuver-engine.js
  scripts/engine/progression/engine/starship-maneuver-suggestion-engine.js
  scripts/infrastructure/hooks/starship-maneuver-hooks.js
Due: eslint --fix

Phase 3.1: Harden Starship Maneuver subsystem authority
  scripts/engine/progression/engine/maneuver-authority-engine.js
  scripts/engine/progression/engine/starship-maneuver-engine.js
  scripts/engine/progression/maneuvers/maneuver-slot-validator.js
  scripts/infrastructure/hooks/starship-domain-lifecycle.js
Due: eslint --fix

Phase 3.1: Integrate StarshipDomainLifecycle into actor hooks
  scripts/infrastructure/hooks/actor-hooks.js
Due: eslint --fix

Phase 3.3: Harden Force subsystem authority
  scripts/engine/progression/engine/force-authority-engine.js
  scripts/engine/progression/engine/force-power-engine.js
  scripts/engine/progression/engine/force-slot-validator.js
  scripts/infrastructure/hooks/actor-hooks.js
  scripts/infrastructure/hooks/force-domain-lifecycle.js
Due: eslint --fix

Phase 3.3: Force Subsystem Hardening - Comprehensive Test Suite
  tests/phase-3-3-force-subsystem-hardening.test.js
Due: eslint --fix

Phase 3.3: Add comprehensive validation and architecture documentation
  PHASE_3_3_ARCHITECTURE.md
  PHASE_3_3_VALIDATION_REPORT.md
Due: prettier --write

Phase 3.4: Register Suite Reselection houserule world setting
  scripts/core/settings.js
Due: eslint --fix

Phase 3.4: Implement Suite Reselection Houserule (stress test on hardened systems)
  scripts/engine/progression/engine/suite-reselection-engine.js
  scripts/engine/progression/integration/finalize-integration.js
  scripts/engine/progression/utils/suite-reselection-utils.js
  scripts/houserules/houserule-settings.js
Due: eslint --fix

Phase 3.5: Talent Selection Infrastructure — SelectionModifierHook system
  scripts/engine/progression/engine/force-authority-engine.js
  scripts/engine/progression/engine/force-slot-validator.js
  scripts/engine/progression/engine/selection-modifier-hook-registry.js
  scripts/engine/progression/engine/telekinetic-prodigy-hook.js
  scripts/infrastructure/hooks/force-domain-lifecycle.js
  tests/phase-3-5-talent-selection-infrastructure.test.js
Due: eslint --fix

Phase 4: Lifecycle Wiring & Governance Compliance
  scripts/engine/progression/talents/tree-unlock-manager.js
  scripts/infrastructure/hooks/actor-hooks.js
  tests/phase-4-lifecycle-wiring.test.js
Due: eslint --fix

Phase 4: Runtime Sovereignty — AbilityExecutionRouter + governance fixes
  scripts/apps/gm-store-dashboard.js
  scripts/combat/rolls/enhanced-rolls.js
  scripts/engine/abilities/AbilityExecutionRouter.js
  scripts/engine/abilities/ActivationLimitEngine.js
  scripts/infrastructure/hooks/assets-hooks.js
  tests/phase-4-runtime-sovereignty.test.js
Due: eslint --fix

Phase 5: Ability Shadow Logic Audit — Restore PrerequisiteChecker sovereignty
  scripts/apps/chargen/chargen-feats-talents.js
  scripts/apps/chargen/chargen-force-powers.js
  scripts/apps/chargen/chargen-main.js
  scripts/apps/levelup/levelup-dual-talent-progression.js
  scripts/apps/levelup/levelup-main.js
  scripts/apps/levelup/levelup-talents.js
  scripts/apps/levelup/levelup-validation.js
  scripts/apps/progression/levelup-module-init.js
  scripts/apps/talent-tree-visualizer.js
  scripts/apps/upgrade-app.js
  scripts/drag-drop/drop-handler.js
  scripts/engine/progression/ProgressionCompiler.js
  scripts/engine/progression/engine/force-progression.js
  scripts/engine/progression/feats/feat-engine.js
  scripts/engine/progression/feats/feat-registry-ui.js
  scripts/engine/progression/force/force-registry-ui.js
  scripts/engine/progression/prerequisites/class-prerequisites-cache.js
  scripts/engine/progression/talents/talent-registry-ui.js
  scripts/engine/suggestion/MentorWishlistIntegration.js
  scripts/engine/suggestion/SuggestionEngine.js
  scripts/engine/suggestion/WishlistEngine.js
  scripts/infrastructure/hooks/actor-hooks.js
  scripts/sheets/v2/droid-sheet.js
Due: eslint --fix

PHASE 3.4.2: Seal authority leaks in progression governance
  scripts/engine/progression/engine/attribute-increase-handler.js
  scripts/engine/progression/engine/template-engine.js
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix

feat: Implement Multiclass Policy Layer (RAW and Enhanced modes)
  scripts/core/settings.js
  scripts/engine/progression/engine/feature-dispatcher.js
  scripts/engine/progression/policies/multiclass-policy-integration.js
  scripts/engine/progression/policies/multiclass-policy.js
  scripts/engine/progression/policies/multiclass-policy.test.js
Due: eslint --fix

refactor: Convert Multiclass Policy from binary mode to granular feature flags
  scripts/core/settings.js
  scripts/engine/progression/policies/multiclass-policy.js
  scripts/engine/progression/policies/multiclass-policy.test.js
Due: eslint --fix

Phase S1: Add reason traceability and metadata-based mentor bias override
  PHASE_S1_IMPLEMENTATION_REPORT.md
  scripts/engine/suggestion/SuggestionEngine.js
Due: eslint --fix, prettier --write

Phases A+B+1.5: Implement archetype awareness with controlled alignment influence
  PHASE_A_B_1_5_IMPLEMENTATION_REPORT.md
  scripts/core/phase5-init.js
  scripts/engine/archetype/archetype-registry.js
  scripts/engine/suggestion/SuggestionEngine.js
Due: eslint --fix, prettier --write

Phase 2: Data-Driven Prestige Integration
  PHASE_2_IMPLEMENTATION_REPORT.md
  scripts/engine/archetype/archetype-registry.js
  scripts/engine/suggestion/BuildIntent.js
  scripts/engine/suggestion/ForceOptionSuggestionEngine.js
Due: eslint --fix, prettier --write

Phase 3: Data-Driven Structural Signals & Extensibility Hardening
  PHASE_3_IMPLEMENTATION_REPORT.md
  scripts/core/phase5-init.js
  scripts/engine/suggestion/OpportunityCostAnalyzer.js
  scripts/engine/suggestion/SuggestionEngine.js
Due: eslint --fix, prettier --write

Update ArchetypeRegistry to load from class-archetypes.json
  scripts/engine/archetype/archetype-registry.js
Due: eslint --fix

Add keyword resolution and suggestion integration to ArchetypeRegistry
  scripts/engine/archetype/archetype-registry-integration.js
  scripts/engine/archetype/archetype-registry.js
Due: eslint --fix

Add fuzzy matching to archetype keyword resolution
  scripts/engine/archetype/archetype-registry.js
Due: eslint --fix

Convert archetype keywords to item IDs where possible
  data/class-archetypes.json
Due: prettier --write

Add comprehensive archetype suggestion engine documentation
  scripts/engine/suggestion/ARCHETYPE_INTEGRATION_GUIDE.md
  scripts/engine/suggestion/ARCHETYPE_SUGGESTION_MAP.md
Due: prettier --write

Integrate archetype recommendations into SuggestionEngine
  scripts/engine/suggestion/SuggestionEngine.js
Due: eslint --fix

Phase 2.5: SuggestionEngine Tier 3 Subpriority Stabilization + Prestige Signal Integration
  scripts/engine/suggestion/SuggestionEngine.js
Due: eslint --fix
