Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

Phase 3: V2 DOM boundary hardening — eliminate global selectors, idempotent event wiring
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/modal-ui.js
Due: eslint --fix

Phase 3 refinement: optimize shell registration, fix global listener signal binding
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

Add files via upload
  assets/Concept/SWSE Game (1).zip
Due: none

refactor(store): new shell hierarchy with tabs, inline filters, and 3-col grid
  scripts/apps/store/store-main.js
  styles/apps/store-card-grid.css
  templates/apps/store/store-card-grid.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

fix(store): remove store-hud outer shell chrome — content module only
  styles/apps/store-card-grid.css
  templates/apps/store/store-card-grid.hbs
Due: node scripts/validate/validate-icon-keys.js

refactor(store): Phase 3 — logic/state/event alignment + old layout cleanup
  scripts/apps/store/store-main.js
  templates/apps/store/store-card-grid.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

fix(store): selector alignment and category filter state management
  scripts/apps/store/store-main.js
Due: eslint --fix

refactor(store): Phase 4 — QA/hardening/edge-case stabilization
  scripts/apps/store/store-main.js
  styles/apps/store-card-grid.css
  templates/apps/store/store-card-grid.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Implement Phase 1: GM Datapad Shell with Sidebar Launcher
  scripts/apps/gm-datapad.js
  scripts/infrastructure/hooks/actor-sidebar-controls.js
  styles/apps/gm-datapad.css
  system.json
  templates/apps/gm-datapad.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Phase 2: Migrate Store, House Rules, and Approvals into GM Datapad
  scripts/apps/gm-datapad.js
  templates/apps/gm-datapad.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

[Holonet Phase 1] Implement skeleton backbone of communication system
  index.js
  scripts/holonet/contracts/enums.js
  scripts/holonet/contracts/holonet-audience.js
  scripts/holonet/contracts/holonet-delivery-state.js
  scripts/holonet/contracts/holonet-event.js
  scripts/holonet/contracts/holonet-intent-registry.js
  scripts/holonet/contracts/holonet-message.js
  scripts/holonet/contracts/holonet-notification.js
  scripts/holonet/contracts/holonet-projection-surface.js
  scripts/holonet/contracts/holonet-recipient.js
  scripts/holonet/contracts/holonet-record.js
  scripts/holonet/contracts/holonet-request.js
  scripts/holonet/contracts/holonet-sender.js
  scripts/holonet/contracts/holonet-thread.js
  scripts/holonet/contracts/index.js
  scripts/holonet/holonet-engine.js
  scripts/holonet/holonet-preferences.js
  scripts/holonet/holonet-source-registry.js
  scripts/holonet/index.js
  scripts/holonet/integration/holonet-init.js
  scripts/holonet/sources/approvals-source.js
  scripts/holonet/sources/bulletin-source.js
  scripts/holonet/sources/mentor-source.js
  scripts/holonet/sources/messenger-source.js
  scripts/holonet/sources/progression-source.js
  scripts/holonet/sources/store-source.js
  scripts/holonet/sources/system-source.js
  scripts/holonet/subsystems/holonet-delivery-router.js
  scripts/holonet/subsystems/holonet-feed-service.js
  scripts/holonet/subsystems/holonet-notification-service.js
  scripts/holonet/subsystems/holonet-projection-router.js
  scripts/holonet/subsystems/holonet-storage.js
  scripts/holonet/subsystems/holonet-thread-service.js
Due: eslint --fix

[Holonet Phase 2] Wire first live emitter paths from domain systems
  index.js
  scripts/apps/gm-store-dashboard.js
  scripts/engine/store/store-transaction-engine.js
  scripts/holonet/emitters/approvals-emitter.js
  scripts/holonet/emitters/progression-emitter.js
  scripts/holonet/emitters/store-emitter.js
  scripts/holonet/holonet-engine.js
  scripts/holonet/integration/holonet-init.js
Due: eslint --fix

Implement Phase 3A: Bulletin event/message creation forms with real CRUD flows
  scripts/apps/gm-datapad.js
  scripts/holonet/integration/holonet-init.js
  scripts/holonet/services/bulletin-state-service.js
  styles/apps/gm-datapad-bulletin.css
  templates/apps/gm-datapad.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Fix form button handling and template player selection
  scripts/apps/gm-datapad.js
  styles/apps/gm-datapad-bulletin.css
  templates/apps/gm-datapad.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Register bulletin CSS file and fix recipient creation with userId lookup
  scripts/apps/gm-datapad.js
  system.json
Due: eslint --fix, prettier --write

Fix draft/publish lifecycle for events and messages
  scripts/apps/gm-datapad.js
Due: eslint --fix

.
  archived/shadow-sheets-v2/README.txt
  archived/shadow-sheets-v2/v2/character-sheet.js
  archived/shadow-sheets-v2/v2/character-sheet/context.js
  archived/shadow-sheets-v2/v2/character-sheet/custom-skills-ui.js
  archived/shadow-sheets-v2/v2/character-sheet/form.js
  archived/shadow-sheets-v2/v2/character-sheet/skills-ui.js
  scripts/ui/shell/StoreSurfaceService.js
Due: eslint --fix

Promote shell store to full concept-aligned native surface
  scripts/sheets/v2/character-sheet.js
  scripts/ui/shell/StoreSurfaceController.js
  scripts/ui/shell/StoreSurfaceService.js
  styles/system/store-surface.css
  system.json
  templates/shell/partials/surface-store.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.
  scripts/apps/progression-framework/dialogs/custom-language-dialog.js
  scripts/apps/progression-framework/dialogs/custom-planet-background-dialog.js
  scripts/apps/progression-framework/steps/background-step.js
  scripts/core/load-templates.js
  scripts/houserules/houserule-settings.js
  scripts/load-templates.js
  styles/progression-framework/steps/background-step.css
  templates/apps/progression-framework/dialogs/custom-language-dialog.hbs
  templates/apps/progression-framework/dialogs/custom-planet-background-dialog.hbs
  templates/apps/progression-framework/steps/background-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

.
  scripts/apps/progression-framework/shell/progression-finalizer.js
  scripts/apps/progression-framework/shell/progression-session.js
  scripts/apps/progression-framework/steps/background-step.js
  scripts/apps/progression-framework/steps/force-power-step.js
  scripts/apps/progression-framework/steps/force-secret-step.js
  scripts/apps/progression-framework/steps/force-technique-step.js
  scripts/apps/progression-framework/steps/species-step.js
  scripts/apps/progression-framework/steps/starship-maneuver-step.js
  scripts/apps/progression-framework/steps/step-normalizers.js
Due: eslint --fix

docs(audit): full dead-code audit report — 2026-05-05
  docs/audit/dead-code-audit-2026-05-05.md
Due: prettier --write

chore(phase2): quarantine orphaned chargen cluster and dead CSS to _deprecated/
  _deprecated/scripts/apps/chargen-improved.js
  _deprecated/scripts/apps/chargen-init.js
  _deprecated/scripts/apps/chargen-narrative.js
  _deprecated/scripts/apps/chargen.js
  _deprecated/scripts/apps/chargen/CHARGEN_ARCHITECTURE.md
  _deprecated/scripts/apps/chargen/CharacterGeneratorApp.js
  _deprecated/scripts/apps/chargen/ability-rolling.js
  _deprecated/scripts/apps/chargen/chargen-abilities.js
  _deprecated/scripts/apps/chargen/chargen-backgrounds.js
  _deprecated/scripts/apps/chargen/chargen-class.js
  _deprecated/scripts/apps/chargen/chargen-dev-guards.js
  _deprecated/scripts/apps/chargen/chargen-droid.js
  _deprecated/scripts/apps/chargen/chargen-feats-talents.js
  _deprecated/scripts/apps/chargen/chargen-finalizer.js
  _deprecated/scripts/apps/chargen/chargen-force-powers.js
  _deprecated/scripts/apps/chargen/chargen-languages.js
  _deprecated/scripts/apps/chargen/chargen-main.js
  _deprecated/scripts/apps/chargen/chargen-property-accessor.js
  _deprecated/scripts/apps/chargen/chargen-shared.js
  _deprecated/scripts/apps/chargen/chargen-skills.js
  _deprecated/scripts/apps/chargen/chargen-species.js
  _deprecated/scripts/apps/chargen/chargen-starship-maneuvers.js
  _deprecated/scripts/apps/chargen/chargen-talent-tree-graph.js
  _deprecated/scripts/apps/chargen/chargen-templates.js
  _deprecated/scripts/apps/chargen/steps/class-step.js
  _deprecated/scripts/apps/chargen/steps/name-step.js
  _deprecated/scripts/apps/chargen/steps/species-step.js
  _deprecated/styles/core/swse-base.css
  _deprecated/styles/swse-system.css
  _deprecated/styles/themes/holo.css
Due: eslint --fix, prettier --write

docs(phase3): add runtime smoke checklist for post-Phase-2 quarantine validation
  reports/phase3-runtime-smoke-checklist.md
Due: prettier --write

chore(phase4): finalize dead-code prune — restore chargen/, delete orphaned barrels + dead CSS
  _deprecated/scripts/apps/chargen-improved.js
  _deprecated/scripts/apps/chargen-init.js
  _deprecated/scripts/apps/chargen-narrative.js
  _deprecated/scripts/apps/chargen.js
  _deprecated/styles/core/swse-base.css
  _deprecated/styles/swse-system.css
  _deprecated/styles/themes/holo.css
  reports/phase4-final-prune-report.md
  scripts/apps/chargen/CHARGEN_ARCHITECTURE.md
  scripts/apps/chargen/CharacterGeneratorApp.js
  scripts/apps/chargen/ability-rolling.js
  scripts/apps/chargen/chargen-abilities.js
  scripts/apps/chargen/chargen-backgrounds.js
  scripts/apps/chargen/chargen-class.js
  scripts/apps/chargen/chargen-dev-guards.js
  scripts/apps/chargen/chargen-droid.js
  scripts/apps/chargen/chargen-feats-talents.js
  scripts/apps/chargen/chargen-finalizer.js
  scripts/apps/chargen/chargen-force-powers.js
  scripts/apps/chargen/chargen-languages.js
  scripts/apps/chargen/chargen-main.js
  scripts/apps/chargen/chargen-property-accessor.js
  scripts/apps/chargen/chargen-shared.js
  scripts/apps/chargen/chargen-skills.js
  scripts/apps/chargen/chargen-species.js
  scripts/apps/chargen/chargen-starship-maneuvers.js
  scripts/apps/chargen/chargen-talent-tree-graph.js
  scripts/apps/chargen/chargen-templates.js
  scripts/apps/chargen/steps/class-step.js
  scripts/apps/chargen/steps/name-step.js
  scripts/apps/chargen/steps/species-step.js
Due: eslint --fix, prettier --write

audit: comprehensive parallel systems analysis for v2 migration
  AUDIT_PARALLEL_SYSTEMS_v2_MIGRATION.md
Due: prettier --write

enforce: introduce controlled access layer via ActorAbilityBridge adapters
  scripts/adapters/ActorAbilityBridge.js
  scripts/adapters/ActorItemIndex.js
  scripts/engine/progression/RuleEngine.js
  scripts/engine/progression/engine/force-power-engine.js
  scripts/engine/progression/engine/maneuver-authority-engine.js
  scripts/engine/progression/feats/feat-slot-migrator.js
Due: eslint --fix

enforce: phase 2 expansion - 8 high-impact bypass sites
  scripts/apps/chargen/chargen-main.js
  scripts/apps/levelup/levelup-feats.js
  scripts/engine/capabilities/capability-registry.js
  scripts/engine/progression/engine/force-progression.js
  scripts/engine/progression/engine/force-provenance-engine.js
  scripts/engine/progression/engine/force-provenance-migrator.js
  scripts/engine/progression/engine/suite-reselection-engine.js
  scripts/utils/force-power-manager.js
Due: eslint --fix

enforce: phase 3 continuation - 6 critical systems
  scripts/data/prerequisite-checker.js
  scripts/engine/progression/engine/telekinetic-prodigy-hook.js
  scripts/engine/suggestion/BuildCoherenceAnalyzer.js
  scripts/engine/suggestion/ConfidenceScoring.js
  scripts/engine/suggestion/OpportunityCostAnalyzer.js
  scripts/engine/suggestion/SynergyEvaluator.js
Due: eslint --fix

Phase 3 continuation: Replace direct actor.items access with ActorAbilityBridge (7 files)
  scripts/engine/interactions/drop-resolution-engine.js
  scripts/engine/progression/ProgressionSession.js
  scripts/engine/progression/engine/force-progression.js
  scripts/engine/progression/engine/tools/prestige-readiness.js
  scripts/engine/progression/utils/apply-handlers.js
  scripts/engine/progression/utils/class-suggestion-utilities.js
  scripts/engine/suggestion/AttributeIncreaseScorer.js
Due: eslint --fix

Phase 3 continuation: Replace class/feat filtering with ActorAbilityBridge (4 files)
  scripts/engine/mentor/mentor-dialogues.js
  scripts/engine/mentor/mentor-resolver.js
  scripts/engine/suggestion/equipment/tactical-evaluator.js
  scripts/engine/suggestion/prestige-delay-calculator.js
Due: eslint --fix
