Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

Phase 2B: Force Enumeration Sovereignty — Canonical ForceRegistry
  scripts/apps/chargen/chargen-templates.js
  scripts/core/data-preloader.js
  scripts/engine/registries/force-registry.js
  scripts/engines/progression/engine/force-power-engine.js
  scripts/engines/progression/engine/force-progression.js
  scripts/engines/progression/engine/force-secret-engine.js
  scripts/engines/progression/engine/force-technique-engine.js
  scripts/engines/progression/force/force-registry-ui.js
  scripts/engines/progression/hooks/system-init-hooks.js
  scripts/utils/force-power-manager.js
  scripts/utils/template-id-mapper.js
Due: eslint --fix

Phase 2C WIP: SpeciesRegistry created, 3 files refactored (chargen, follower, levelup)
  scripts/apps/chargen/chargen-templates.js
  scripts/apps/follower-creator.js
  scripts/apps/levelup/levelup-class.js
  scripts/engine/registries/species-registry.js
  scripts/engines/progression/hooks/system-init-hooks.js
Due: eslint --fix

Phase 2C: Species Enumeration Sovereignty — SpeciesRegistry complete
  scripts/apps/template-character-creator.js
  scripts/build/update-species-traits.js
  scripts/core/data-preloader.js
  scripts/engines/progression/engine/language-engine.js
  scripts/houserules/houserule-menus.js
  scripts/utils/template-id-mapper.js
Due: eslint --fix

PHASE 2D: Classes Registry Consolidation — 20 calls → 0
  scripts/apps/chargen/chargen-templates.js
  scripts/apps/levelup/debug-panel.js
  scripts/apps/levelup/levelup-class.js
  scripts/apps/levelup/levelup-dual-talent-progression.js
  scripts/apps/levelup/levelup-enhanced.js
  scripts/apps/levelup/levelup-talents.js
  scripts/apps/template-character-creator.js
  scripts/core/data-preloader.js
  scripts/engine/progression/engine/equipment-engine.js
  scripts/engine/progression/engine/starting-feature-registrar.js
  scripts/engine/progression/hooks/system-init-hooks.js
  scripts/engine/progression/prerequisites/class-prerequisites-init.js
  scripts/engine/progression/utils/class-data-loader.js
  scripts/engine/registries/classes-registry.js
  scripts/utils/template-id-mapper.js
Due: eslint --fix

Phase 2D WIP: ClassesRegistry created, files 2-5 refactored
  scripts/core/data-preloader.js
  scripts/engine/registries/classes-registry.js
  scripts/engines/progression/hooks/system-init-hooks.js
  scripts/engines/progression/prerequisites/class-prerequisites-init.js
  scripts/engines/progression/utils/class-data-loader.js
Due: eslint --fix

Phase 2D: Classes consolidation — 7 of 14 calls refactored
  scripts/apps/chargen/chargen-templates.js
  scripts/apps/levelup/levelup-class.js
Due: eslint --fix

Phase 2D COMPLETE: Full Classes Enumeration Consolidation
  scripts/apps/levelup/debug-panel.js
  scripts/apps/levelup/levelup-dual-talent-progression.js
  scripts/apps/levelup/levelup-enhanced.js
  scripts/apps/levelup/levelup-talents.js
  scripts/apps/template-character-creator.js
  scripts/engines/progression/engine/equipment-engine.js
  scripts/engines/progression/engine/starting-feature-registrar.js
Due: eslint --fix

Phase 2D FINAL: template-id-mapper refactored + verification
  scripts/utils/template-id-mapper.js
Due: eslint --fix

Phase 2E + 2F COMPLETE: Prestige JSON consolidation + import correction
  scripts/apps/levelup/levelup-main.js
  scripts/apps/levelup/levelup-validation.js
  scripts/data/prerequisite-checker.js
  scripts/engines/suggestion/ClassSuggestionEngine.js
  scripts/engines/suggestion/SuggestionEngine.js
Due: eslint --fix

Phase 2E + 2F FINAL: Remove dead PrerequisiteChecker import from feat-engine
  scripts/engines/progression/feats/feat-engine.js
Due: eslint --fix

Phase 3 WIP: Mutation Wiring + Integrity Enforcement Foundation
  scripts/governance/actor-engine/actor-engine.js
  scripts/governance/integrity/missing-prereqs-tracker.js
  scripts/governance/integrity/prerequisite-integrity-checker.js
Due: eslint --fix

Phase 3 COMPLETE: Mutation Wiring + Integrity Enforcement
  scripts/governance/integrity/prerequisite-integrity-tests.js
Due: eslint --fix

Phase 3.5 COMPLETE: Sentinel Sovereignty Enforcement Deployment
  scripts/governance/sentinel/enforcement/import-graph-validator.js
  scripts/governance/sentinel/enforcement/integrity-wiring-validator.js
  scripts/governance/sentinel/enforcement/mutation-path-validator.js
  scripts/governance/sentinel/sovereignty-enforcement.js
Due: eslint --fix

Phase 4 COMPLETE: Structured Rebuild + Governance Layer
  scripts/governance/PHASE-4-IMPLEMENTATION-GUIDE.md
  scripts/governance/enforcement/actor-engine-enforcement-gates.js
  scripts/governance/enforcement/levelup-preflight-gate.js
  scripts/governance/export/export-marking.js
  scripts/governance/governance-integration.js
  scripts/governance/governance-system.js
  scripts/governance/ui/integrity-banner.js
  scripts/governance/ui/rebuild-orchestrator.js
  scripts/governance/ui/slot-resolution-flow.js
Due: eslint --fix, prettier --write

Phase 5A AUDIT COMPLETE: Suggestion & Mentor Engine Structural Audit
  scripts/governance/PHASE-5A-SUGGESTION-MENTOR-AUDIT.md
Due: prettier --write

Fix: Remove trailing blank lines from audit files
  AUDIT_EXECUTIVE_SUMMARY.md
  AUDIT_V2_COMPLIANCE.md
Due: prettier --write

docs: Add game.packs sovereignty violation audit
  AUDIT_GAME_PACKS_VIOLATIONS.md
Due: prettier --write

fix: Eliminate game.packs sovereignty violations - Phase 5A
  AUDIT_GAME_PACKS_VIOLATIONS.md
  scripts/core/data-preloader.js
  scripts/engines/progression/engine/force-power-engine.js
  scripts/engines/progression/engine/force-progression.js
  scripts/engines/suggestion/SuggestionEngine.js
  scripts/registries/talent-registry.js
Due: eslint --fix, prettier --write

docs: Add tier resolution unification audit
  AUDIT_TIER_RESOLUTION_UNIFICATION.md
Due: prettier --write

refactor: Unify tier resolution across all suggestion engines - Phase 5A
  scripts/engines/progression/engine/force-secret-suggestion-engine.js
  scripts/engines/progression/engine/force-technique-suggestion-engine.js
Due: eslint --fix

docs: Update tier unification audit with completion status
  AUDIT_TIER_RESOLUTION_UNIFICATION.md
Due: prettier --write

docs: Add mentor bias integration audit and implementation plan
  AUDIT_MENTOR_BIAS_INTEGRATION.md
Due: prettier --write

feat: Phase 5A complete - mentor bias integration and dead code cleanup
  AUDIT_PHASE_5A_COMPLETE.md
  scripts/mentor/mentor-suggestion-bias.js
Due: eslint --fix, prettier --write

docs: Add Phase 5B enforcement hardening specification
  PHASE-5B-SPECIFICATION.md
Due: prettier --write

feat(5B-1): Implement EnforcementPolicy foundation - governance policy engine
  scripts/engines/progression/hooks/system-init-hooks.js
  scripts/governance/enforcement/enforcement-policy.js
  scripts/governance/enforcement/enforcement-policy.test.js
  scripts/governance/governance-integration.js
Due: eslint --fix

feat(5B-2): Implement PreflightValidator - mutation gating layer
  scripts/governance/actor-engine/actor-engine.js
  scripts/governance/enforcement/preflight-validator.js
  scripts/governance/enforcement/preflight-validator.test.js
Due: eslint --fix

feat(5B-3): Implement severity classification system
  scripts/governance/integrity/prerequisite-integrity-checker.js
  scripts/governance/integrity/severity-classifier.js
  scripts/governance/integrity/severity-classifier.test.js
Due: eslint --fix

feat(5B-4): Implement IntegrityDashboard - compliance visibility layer
  scripts/governance/ui/integrity-dashboard.js
  scripts/governance/ui/integrity-dashboard.test.js
Due: eslint --fix

feat(5B-5): Implement AuditTrail - governance decision tracking
  scripts/governance/audit/audit-trail.js
  scripts/governance/audit/audit-trail.test.js
Due: eslint --fix

feat(5B-6): Implement MutationBoundaryDefense - self-defending enforcement
  scripts/governance/sentinel/mutation-boundary-defense.js
  scripts/governance/sentinel/mutation-boundary-defense.test.js
Due: eslint --fix

docs: Add Phase 5B completion report
  PHASE-5B-COMPLETION.md
Due: prettier --write

docs: Add Phase 5C migration resilience specification
  PHASE-5C-SPECIFICATION.md
Due: prettier --write

feat(5C-1): Implement WorldIntegritySweep - read-only world audit
  scripts/engine/integrity/world-integrity-sweep.js
  scripts/engine/integrity/world-integrity-sweep.test.js
Due: eslint --fix

feat(5C-2): Implement MigrationIntegrityAdapter - post-migration check
  scripts/core/migration-integrity-adapter.js
  scripts/core/migration-integrity-adapter.test.js
Due: eslint --fix

feat(5C-3): Implement ActorRepairEngine - deterministic repair analysis
  scripts/engine/repair/actor-repair-engine.js
  scripts/engine/repair/actor-repair-engine.test.js
Due: eslint --fix

feat(5C-4): Implement repair execution in ActorEngine
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix

feat(5C-5,5C-6): Implement RepairPanel UI and DriftDetector
  scripts/engine/integrity/drift-detector.js
  scripts/ui/repair/repair-panel.js
Due: eslint --fix

docs: Add Phase 5C completion report
  PHASE-5C-COMPLETION.md
Due: prettier --write

refactor: Update Phase 5C imports to use absolute paths
  scripts/core/migration-integrity-adapter.js
  scripts/engine/integrity/drift-detector.js
  scripts/engine/integrity/world-integrity-sweep.js
  scripts/engine/repair/actor-repair-engine.js
  scripts/governance/actor-engine/actor-engine.js
  scripts/ui/repair/repair-panel.js
Due: eslint --fix

Fix logger path imports in governance modules
  scripts/governance/audit/audit-trail.js
  scripts/governance/enforcement/actor-engine-enforcement-gates.js
  scripts/governance/enforcement/levelup-preflight-gate.js
  scripts/governance/enforcement/preflight-validator.js
  scripts/governance/export/export-marking.js
  scripts/governance/governance-system.js
  scripts/governance/integrity/missing-prereqs-tracker.js
  scripts/governance/integrity/prerequisite-integrity-checker.js
  scripts/governance/sentinel/mutation-boundary-defense.js
  scripts/governance/sentinel/sovereignty-enforcement.js
  scripts/governance/ui/integrity-dashboard.js
  scripts/governance/ui/rebuild-orchestrator.js
  scripts/governance/ui/slot-resolution-flow.js
Due: eslint --fix
