Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

feat: add feat implementation phase 9d (Galaxy at War / Intrigue accuracy)
  data/feat-implementation/galaxy-intrigue-feat-implementation-backlog.json
  data/feat-implementation/galaxy-intrigue-feat-implementation-review-list.json
  docs/audits/feat-implementation-readiness-galaxy-intrigue.md
  docs/audits/generated/galaxy-intrigue-feat-implementation-readiness-report.json
  docs/audits/generated/galaxy-intrigue-feat-implementation-readiness-report.md
  docs/design/feat-implementation-readiness-phase9d-galaxy-intrigue.md
  scripts/dev/audit-galaxy-intrigue-feat-implementation-readiness.mjs
Due: prettier --write

feat: add feat implementation phases 9e (Scavengers/Droids) and 9f (Force Unleashed) accuracy
  data/feat-implementation/force-unleashed-feat-implementation-backlog.json
  data/feat-implementation/force-unleashed-feat-implementation-review-list.json
  data/feat-implementation/scavengers-droids-feat-implementation-backlog.json
  data/feat-implementation/scavengers-droids-feat-implementation-review-list.json
  docs/audits/feat-implementation-readiness-force-unleashed.md
  docs/audits/feat-implementation-readiness-scavengers-droids.md
  docs/audits/generated/force-unleashed-feat-implementation-readiness-report.json
  docs/audits/generated/force-unleashed-feat-implementation-readiness-report.md
  docs/audits/generated/scavengers-droids-feat-implementation-readiness-report.json
  docs/audits/generated/scavengers-droids-feat-implementation-readiness-report.md
  docs/design/feat-implementation-readiness-phase9e-scavengers-droids.md
  docs/design/feat-implementation-readiness-phase9f-force-unleashed.md
  scripts/dev/audit-force-unleashed-feat-implementation-readiness.mjs
  scripts/dev/audit-scavengers-droids-feat-implementation-readiness.mjs
Due: prettier --write

feat: add feat implementation phase 9g (KotOR / Jedi Academy accuracy)
  data/feat-implementation/kotor-feat-implementation-backlog.json
  data/feat-implementation/kotor-feat-implementation-review-list.json
  docs/audits/feat-implementation-readiness-kotor.md
  docs/audits/generated/kotor-feat-implementation-readiness-report.json
  docs/audits/generated/kotor-feat-implementation-readiness-report.md
  docs/design/feat-implementation-readiness-phase9g-kotor.md
  scripts/dev/audit-kotor-feat-implementation-readiness.mjs
Due: prettier --write

feat: add feat implementation phase 9h (Jedi Academy Training Manual accuracy)
  data/feat-implementation/jedi-academy-feat-implementation-backlog.json
  data/feat-implementation/jedi-academy-feat-implementation-review-list.json
  docs/audits/feat-implementation-readiness-jedi-academy.md
  docs/audits/generated/jedi-academy-feat-implementation-readiness-report.json
  docs/audits/generated/jedi-academy-feat-implementation-readiness-report.md
  docs/design/feat-implementation-readiness-phase9h-jedi-academy.md
  scripts/dev/audit-jedi-academy-feat-implementation-readiness.mjs
Due: prettier --write

feat: add Clone Wars feat implementation phase 9i accuracy data and audit
  data/feat-implementation/clone-wars-feat-implementation-backlog.json
  data/feat-implementation/clone-wars-feat-implementation-review-list.json
  docs/audits/feat-implementation-readiness-clone-wars.md
  docs/audits/generated/clone-wars-feat-implementation-readiness-report.json
  docs/audits/generated/clone-wars-feat-implementation-readiness-report.md
  docs/design/feat-implementation-readiness-phase9i-clone-wars.md
  scripts/dev/audit-clone-wars-feat-implementation-readiness.mjs
Due: prettier --write

feat: add phase 9j-9m feat implementation accuracy data and audits
  data/feat-implementation/galaxy-at-war-feat-implementation-backlog.json
  data/feat-implementation/galaxy-at-war-feat-implementation-review-list.json
  data/feat-implementation/scum-and-villainy-feat-implementation-backlog.json
  data/feat-implementation/scum-and-villainy-feat-implementation-review-list.json
  data/feat-implementation/threats-of-the-galaxy-feat-implementation-backlog.json
  data/feat-implementation/threats-of-the-galaxy-feat-implementation-review-list.json
  data/feat-implementation/unknown-regions-feat-implementation-backlog.json
  data/feat-implementation/unknown-regions-feat-implementation-review-list.json
  docs/audits/feat-implementation-readiness-galaxy-at-war.md
  docs/audits/feat-implementation-readiness-scum-and-villainy.md
  docs/audits/feat-implementation-readiness-threats-of-the-galaxy.md
  docs/audits/feat-implementation-readiness-unknown-regions.md
  docs/audits/generated/galaxy-at-war-feat-implementation-readiness-report.json
  docs/audits/generated/galaxy-at-war-feat-implementation-readiness-report.md
  docs/audits/generated/scum-and-villainy-feat-implementation-readiness-report.json
  docs/audits/generated/scum-and-villainy-feat-implementation-readiness-report.md
  docs/audits/generated/threats-of-the-galaxy-feat-implementation-readiness-report.json
  docs/audits/generated/threats-of-the-galaxy-feat-implementation-readiness-report.md
  docs/audits/generated/unknown-regions-feat-implementation-readiness-report.json
  docs/audits/generated/unknown-regions-feat-implementation-readiness-report.md
  docs/design/feat-implementation-readiness-phase9j-galaxy-at-war.md
  docs/design/feat-implementation-readiness-phase9k-scum-and-villainy.md
  docs/design/feat-implementation-readiness-phase9l-threats-of-the-galaxy.md
  docs/design/feat-implementation-readiness-phase9m-unknown-regions.md
  scripts/dev/audit-galaxy-at-war-feat-implementation-readiness.mjs
  scripts/dev/audit-scum-and-villainy-feat-implementation-readiness.mjs
  scripts/dev/audit-threats-of-the-galaxy-feat-implementation-readiness.mjs
  scripts/dev/audit-unknown-regions-feat-implementation-readiness.mjs
Due: prettier --write

Add Phase 10A runtime status overrides
  data/feat-implementation/phase10a-runtime-status-overrides.json
Due: prettier --write

Document Phase 10A runtime overrides
  docs/design/feat-implementation-readiness-phase10a-runtime-overrides.md
Due: prettier --write

Apply Phase 10A overrides in KOTOR feat audit
  scripts/dev/audit-kotor-feat-implementation-readiness.mjs
Due: none

Apply Phase 10A overrides in Force Unleashed feat audit
  scripts/dev/audit-force-unleashed-feat-implementation-readiness.mjs
Due: none

Add Phase 10B engine fit matrix
  data/feat-implementation/phase10b-engine-fit-matrix.json
Due: prettier --write

Add Phase 10B engine fit audit script
  scripts/dev/audit-phase10b-feat-engine-fit.mjs
Due: none

Document Phase 10B engine fit matrix
  docs/design/feat-implementation-readiness-phase10b-engine-fit.md
Due: prettier --write

Add Phase 10C adapter contracts
  data/feat-implementation/phase10c-adapter-contracts.json
Due: prettier --write

Add Phase 10C adapter contract audit
  scripts/dev/audit-phase10c-adapter-contracts.mjs
Due: none

Document Phase 10C adapter contracts
  docs/design/feat-implementation-readiness-phase10c-adapter-contracts.md
Due: prettier --write

Add Phase 10D reaction rule adapter
  scripts/engine/combat/reactions/reaction-rule-adapter.js
Due: eslint --fix

Add Phase 10D reaction adapter implementation record
  data/feat-implementation/phase10d-reaction-adapter-implementation.json
Due: prettier --write

Add Phase 10D reaction adapter audit
  scripts/dev/audit-phase10d-reaction-adapter.mjs
Due: none

Document Phase 10D reaction adapter
  docs/design/feat-implementation-readiness-phase10d-reaction-adapter.md
Due: prettier --write

Add Phase 10D reaction adapter generated report
  docs/audits/generated/phase10d-reaction-adapter-report.json
Due: prettier --write

Add Phase 10D reaction adapter generated markdown report
  docs/audits/generated/phase10d-reaction-adapter-report.md
Due: prettier --write

Relax Phase 10D audit until engine integration lands
  scripts/dev/audit-phase10d-reaction-adapter.mjs
Due: none

.
  docs/audits/generated/phase10b-engine-fit-report.json
  docs/audits/generated/phase10b-engine-fit-report.md
Due: prettier --write

Add Phase 10E combat target effect adapter
  scripts/engine/combat/combat-target-effect-adapter.js
Due: eslint --fix

Add Phase 10E target effect adapter implementation record
  data/feat-implementation/phase10e-target-effect-adapter-implementation.json
Due: prettier --write

Add Phase 10E target effect adapter audit
  scripts/dev/audit-phase10e-target-effect-adapter.mjs
Due: none

Document Phase 10E target effect adapter
  docs/design/feat-implementation-readiness-phase10e-target-effect-adapter.md
Due: prettier --write

Add Phase 10E target effect adapter generated report
  docs/audits/generated/phase10e-target-effect-adapter-report.json
Due: prettier --write

Add Phase 10E target effect adapter generated markdown report
  docs/audits/generated/phase10e-target-effect-adapter-report.md
Due: prettier --write

Add Phase 10F damage timing rider adapter
  scripts/engine/combat/damage-timing-rider-adapter.js
Due: eslint --fix

Add Phase 10F damage timing adapter implementation record
  data/feat-implementation/phase10f-damage-timing-rider-adapter-implementation.json
Due: prettier --write

Add Phase 10F damage timing adapter audit
  scripts/dev/audit-phase10f-damage-timing-rider-adapter.mjs
Due: none

Document Phase 10F damage timing rider adapter
  docs/design/feat-implementation-readiness-phase10f-damage-timing-rider-adapter.md
Due: prettier --write

Add Phase 10F generated report
  docs/audits/generated/phase10f-damage-timing-rider-adapter-report.json
Due: prettier --write

Add Phase 10F generated markdown report
  docs/audits/generated/phase10f-damage-timing-rider-adapter-report.md
Due: prettier --write

Wire damage timing riders into DamageEngine
  scripts/engine/combat/damage-engine.js
Due: eslint --fix

Add Phase 10G damage timing wiring record
  data/feat-implementation/phase10g-damage-timing-rider-wiring.json
Due: prettier --write

Add Phase 10G damage timing wiring audit
  scripts/dev/audit-phase10g-damage-timing-wiring.mjs
Due: none

Document Phase 10G damage timing wiring
  docs/design/feat-implementation-readiness-phase10g-damage-timing-wiring.md
Due: prettier --write
