Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.
  AUDIT_PHASE_0-6_REPORT.md
  DROID_CHARGEN_FIX_VERIFICATION.md
  ROOT_STRUCTURE_CLEANUP_REPORT.md
  packs/feats.db
  packs/talents.db
  reports/prerequisite_rehydration_report.md
  scripts/apps/chargen/chargen-talent-tree-graph.js
  scripts/data/prerequisite-authority.js
  scripts/data/prerequisite-checker.js
  scripts/engine/progression/prerequisites/legacy-prereq-registry.js
  scripts/registries/feat-registry.js
  scripts/registries/talent-registry.js
Due: eslint --fix, prettier --write

.
  PHASE2_IMPLEMENTATION_SUMMARY.md
  PHASE4_ACTOR_STATE_SUMMARY.md
  PRESTIGE_IMPLEMENTATION_COMPLETE.md
  data/skill-short-descriptions.json
  data/skills.json
  docs/archive/_deprecated_shadow/apps_progression-framework_shadow/shell/progression-shell.js
  docs/archive/_deprecated_shadow/apps_progression-framework_shadow/steps/background-step.js
  docs/archive/_deprecated_shadow/nested_progression-framework/shell/projection-engine.js
  docs/archive/_deprecated_shadow/nested_progression-framework/steps/feat-step.js
  docs/archive/_deprecated_shadow/nested_progression-framework/steps/skills-step.js
  phase4-species-sheet-runtime-integration.tar.gz
  phase5-species-final-integration.tar.gz
  reports/knowledge_skill_refactor_audit_and_fix.md
  reports/language_step_audit_and_fix.md
  scripts/apps/chargen/chargen-species.js
  scripts/apps/progression-framework/services/pending-entitlement-service.js
  scripts/apps/progression-framework/shell/active-step-computer.js
  scripts/apps/progression-framework/shell/progression-finalizer.js
  scripts/apps/progression-framework/shell/progression-session.js
  scripts/apps/progression-framework/steps/feat-step-pending-entitlements-patch.js
  scripts/apps/progression-framework/steps/language-step.js
  scripts/apps/progression-framework/steps/near-human-builder.js
  scripts/apps/progression-framework/steps/skills-step.js
  scripts/data-models/character-data-model.js
  scripts/engine/progression/helpers/apply-canonical-species-to-actor.js
  scripts/engine/progression/helpers/build-pending-species-context.js
  scripts/rolls/custom-skill-roller.js
  scripts/sheets/v2/custom-skills-helpers.js
  sheets/v2/character-sheet.js
  sheets/v2/character-sheet/custom-skills-ui.js
  styles/progression-framework/steps/near-human-builder.css
  swse-droid-chargen-fix.tar.gz
  templates/actors/character/v2/partials/custom-skills-section.hbs
  templates/actors/character/v2/partials/identity-strip.hbs
  templates/actors/character/v2/partials/skills-panel.hbs
  templates/apps/progression-framework/steps/near-human-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.
  PHASE1_DELIVERABLES.md
  background-phase1-deliverables.tar.gz
  background-phase2-changed-files.tar.gz
  reports/PHASE3_IMPLEMENTATION_SUMMARY.md
  reports/background_final_cleanup_and_validation_phase5.md
  reports/background_progression_integration_phase2.md
  reports/background_progression_integration_phase3.md
  reports/background_sheet_runtime_integration_phase4.md
  reports/background_ssot_audit_and_phase1.md
  scripts/apps/progression-framework/shell/progression-finalizer.js
  scripts/apps/progression-framework/steps/background-step.js
  scripts/apps/progression-framework/steps/language-step.js
  scripts/apps/progression-framework/steps/skills-step.js
  scripts/engine/effects/modifiers/ModifierEngine.js
  scripts/engine/effects/modifiers/ModifierTypes.js
  scripts/engine/progression/backgrounds/background-grant-ledger-builder.js
  scripts/engine/progression/backgrounds/background-ledger-compatibility.js
  scripts/engine/progression/backgrounds/background-pending-context-builder.js
  scripts/engine/progression/backgrounds/normalized-background-schema.md
  scripts/engine/progression/helpers/apply-canonical-backgrounds-to-actor.js
  sheets/v2/character-sheet/context.js
Due: eslint --fix, prettier --write

Update droids.db
  packs/droids.db
Due: none

updates to progression engine for droids
  INTRO_FIX_REPORT.md
  PHASE1_DELIVERABLES.md
  REFACTOR_DROID_INTRO_SPLASH.md
  assets/fonts/OFL (1).txt
  assets/fonts/OFL (2).txt
  assets/fonts/OFL (3).txt
  assets/fonts/OFL (5).txt
  assets/fonts/OFL (7).txt
  assets/fonts/README (6).txt
  background-phase1-deliverables.tar.gz
  background-phase2-changed-files.tar.gz
  packs/droids.db
  scripts/apps/progression-framework/adapters/default-subtypes.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/class-step.js
  scripts/apps/progression-framework/steps/droid-builder-step.js
  scripts/apps/progression-framework/steps/droid-degree-step.js
  scripts/apps/progression-framework/steps/droid-model-step.js
  scripts/apps/progression-framework/steps/droid-splash-v2-controller.js
  scripts/apps/progression-framework/steps/intro-step.js
  scripts/apps/progression-framework/steps/talent-step.js
  scripts/core/settings.js
  scripts/data/prerequisite-checker.js
  scripts/engine/progression/ProgressionRules.js
  scripts/engine/progression/droids/droid-trait-passive-adapter.js
  scripts/engine/progression/droids/droid-trait-rules.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/droid-sheet.js
  scripts/ui/ui-manager.js
  sheets/v2/character-sheet.js
  styles/fonts.css
  styles/sheets/v2-sheet.css
  styles/sheets/v2-shell-tokens.css
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/character/v2/partials/custom-skills-section.hbs
  templates/actors/character/v2/partials/skills-panel.hbs
  templates/apps/progression-framework/steps/intro-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Phase 1: Datapad UI Foundation System
  styles/sheets/v2-foundation-integration.css
  styles/system/components/buttons.css
  styles/system/components/hud.css
  styles/system/components/panels.css
  styles/system/components/tabs.css
  styles/system/datapad-shell.css
  styles/system/tokens.css
  system.json
  templates/actors/character/v2/character-sheet.hbs
  templates/components/button.hbs
  templates/components/hud.hbs
  templates/components/panel.hbs
  templates/components/tabs.hbs
Due: node scripts/validate/validate-icon-keys.js, prettier --write

Phase 2: Progression Engine + Droid Splash Foundation Integration
  styles/progression-framework/progression-foundation-integration.css
  styles/system/components/manifest.css
  styles/system/components/narrator.css
  styles/system/components/stepper.css
  system.json
  templates/apps/progression-framework/progress-rail.hbs
  templates/apps/progression-framework/progression-shell.hbs
  templates/apps/progression-framework/splash.hbs
  templates/components/manifest.hbs
  templates/components/narrator.hbs
  templates/components/stepper.hbs
Due: node scripts/validate/validate-icon-keys.js, prettier --write

Phase 3: Theme Authority + V2 DOM Enforcement (Foundation)
  index.js
  scripts/ui/framework/BaseAppV2.js
  scripts/ui/theme/ThemeManager.js
  scripts/ui/theme/theme-init.js
Due: eslint --fix

Phase 4: Modifier Transparency + UX Completion
  scripts/ui/components/Accordion.js
  scripts/ui/components/ModifierBreakdown.js
  scripts/ui/components/UIInteractions.js
  styles/system/components/accordion.css
  styles/system/components/modifiers.css
  styles/system/components/ui-polish.css
  system.json
  templates/components/accordion.hbs
  templates/components/mod-breakdown.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Phase 5: Global Uniformity + Theme Control
  scripts/ui/components/ThemeControl.js
  scripts/ui/theme/ThemeManager.js
  scripts/ui/theme/theme-init.js
  styles/system/components/theme-control.css
  styles/system/consistency-lock.css
  styles/system/tokens.css
  system.json
  templates/components/theme-control.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Phase 6: Immersion + Micro-Interactions + Performance
  scripts/ui/components/PerformanceOptimizer.js
  styles/system/final-polish.css
  styles/system/micro-interactions.css
  styles/system/tokens.css
  system.json
Due: eslint --fix, prettier --write

Phase 7: Content Integration + Authoring Standard
  docs/AUTHORING_STANDARD.md
  scripts/data/contracts/DisplayContract.js
  scripts/data/normalizers/display-normalizer.js
  scripts/ui/utils/ui-formatters.js
Due: eslint --fix, prettier --write

Phase 8: Full System Wiring + Runtime Validation
  docs/SYSTEM_WIRING.md
  scripts/engine/core/HydrationGuarantee.js
  scripts/engine/core/ProgressionStatePersistence.js
  scripts/engine/core/UpdatePipeline.js
  scripts/ui/utils/RenderLifecycle.js
  scripts/ui/utils/repaint.js
Due: eslint --fix, prettier --write

Add Render Stabilization Guide (Phase 8 Extension)
  docs/RENDER_STABILIZATION.md
Due: prettier --write

Phase 9: Strict UI/Engine Separation (Architectural Boundary)
  docs/UI_ENGINE_SEPARATION.md
  scripts/engine/core/CommandBus.js
  scripts/engine/core/commands/ActorCommands.js
Due: eslint --fix, prettier --write

Complete lightsaber construction wizard integration
  scripts/applications/lightsaber/lightsaber-router.js
  sheets/v2/character-sheet.js
Due: eslint --fix

Phase 1: Lightsaber verification, cleanup, and hardening
  scripts/applications/lightsaber/lightsaber-construction-app.js
  scripts/applications/lightsaber/lightsaber-router.js
  scripts/engine/combat/weapons-engine.js
  scripts/engine/crafting/lightsaber-construction-engine.js
Due: eslint --fix

Phase 2: First-wave customization effect implementation
  scripts/engine/customization/effect-resolver.js
  scripts/engine/customization/install-remove-engine.js
  scripts/engine/customization/template-engine.js
Due: eslint --fix

Phase 3: First-wave customization hardening and safety integration
  scripts/engine/customization/customization-workflow.js
  scripts/engine/customization/install-remove-engine.js
  scripts/engine/customization/safety-engine.js
  scripts/engine/customization/structural-change-engine.js
  scripts/engine/customization/template-engine.js
  scripts/engine/customization/upgrade-slot-engine.js
Due: eslint --fix

Phase 4: Droid customization as dedicated lane
  scripts/applications/droid/droid-customization-router.js
  scripts/apps/droid-customization-app.js
  scripts/engine/customization/droid-customization-engine.js
  templates/applications/droid/droid-customization.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 5: Vehicle customization as dedicated lane
  scripts/applications/vehicle/vehicle-customization-router.js
  scripts/apps/vehicle-customization-app.js
  scripts/engine/customization/vehicle-customization-engine.js
  templates/applications/vehicle/vehicle-customization.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 5 Integration: Wire vehicle and droid customization routers into sheet entry points
  scripts/sheets/v2/droid-sheet/listeners.js
  scripts/sheets/v2/vehicle-sheet.js
  templates/actors/droid/v2/partials/droid-systems-summary-strip.hbs
  templates/actors/vehicle/v2/partials/vehicle-subsystem-detail-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 10: Full Upgrade App implementation — actor-wide and single-item modes
  scripts/apps/upgrade-app.js
  scripts/core/load-templates.js
  scripts/engine/core/CommandBus.js
  scripts/engine/upgrades/UpgradeCommands.js
  scripts/engine/upgrades/UpgradeService.js
  scripts/sheets/v2/character-sheet/inventory-ui.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  styles/apps/upgrade-app.css
  templates/actors/character/v2/partials/inventory-panel.hbs
  templates/apps/upgrade/partials/lightsaber-detail.hbs
  templates/apps/upgrade/partials/upgrade-detail-pane.hbs
  templates/apps/upgrade/partials/upgrade-footer.hbs
  templates/apps/upgrade/upgrade-app.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 11: Single-window shell host architecture + popup/modal overhaul
  scripts/apps/progression-framework/progression-entry.js
  scripts/items/swse-item-sheet.js
  scripts/sheets/v2/character-sheet/inventory-ui.js
  scripts/ui/shell/ShellDrawerManager.js
  scripts/ui/shell/ShellHost.js
  scripts/ui/shell/ShellOverlayManager.js
  scripts/ui/shell/ShellRouter.js
  scripts/ui/shell/ShellSurfaceRegistry.js
  sheets/v2/character-sheet.js
  styles/system/shell-host.css
  styles/system/shell-overlays.css
  templates/shell/partials/shell-drawer-layer.hbs
  templates/shell/partials/shell-overlay-layer.hbs
  templates/shell/partials/surface-chargen.hbs
  templates/shell/partials/surface-progression.hbs
  templates/shell/partials/surface-upgrade.hbs
  templates/shell/shell-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Add files via upload
  assets/SWSE Game.zip
Due: none

Rename assets/SWSE Game.zip to assets/Concept/SWSE Game.zip
  assets/Concept/SWSE Game.zip
  assets/SWSE Game.zip
Due: none

feat(phase-12): implement Home Screen as holopad launcher surface
  scripts/core/load-templates.js
  scripts/ui/shell/HomeSurfaceService.js
  scripts/ui/shell/ShellHost.js
  scripts/ui/shell/ShellSurfaceRegistry.js
  sheets/v2/character-sheet.js
  styles/system/home-surface.css
  system.json
  templates/shell/partials/surface-home.hbs
  templates/shell/shell-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.
  JEDI_ARCHETYPES_NORMALIZED.json
  TEST-PERSISTENCE-VERIFICATION.js
  patch_character_sheet.py
  patch_character_sheet_final.py
  patch_character_sheet_v2.py
  patch_stabilization.py
  scripts/applications/lightsaber/lightsaber-router.js
  scripts/apps/progression-framework/progression-entry.js
  scripts/apps/progression-framework/steps/l1-survey-step.js
  scripts/core/load-templates.js
  scripts/items/swse-item-sheet.js
  scripts/mentor/mentor-survey/definition-builder.js
  scripts/sheets/v2/character-sheet/force-ui.js
  scripts/ui/shell/HomeSurfaceService.js
  scripts/ui/shell/MentorSurfaceService.js
  scripts/ui/shell/SettingsSurfaceService.js
  scripts/ui/shell/ShellSurfaceRegistry.js
  scripts/ui/theme/ThemeManager.js
  sheets/v2/character-sheet.js
  styles/system/datapad-shell.css
  styles/system/home-surface.css
  styles/system/mentor-surface.css
  styles/system/settings-surface.css
  styles/system/tokens.css
  system.json
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/droid/v2/droid-sheet.hbs
  templates/apps/progression-framework/steps/l1-survey-work-surface.hbs
  templates/shell/partials/surface-mentor.hbs
  templates/shell/partials/surface-settings.hbs
  templates/shell/shell-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.
  data/class-archetypes.json
  scripts/apps/progression-framework/steps/l1-survey-step.js
  scripts/mentor/mentor-survey/definition-builder.js
  scripts/mentor/mentor-survey/definitions/L1_Jedi_Survey.js
  scripts/mentor/mentor-survey/definitions/L1_Noble_Survey.js
  scripts/mentor/mentor-survey/definitions/L1_Scoundrel_Survey.js
  scripts/mentor/mentor-survey/definitions/L1_Scout_Survey.js
  scripts/mentor/mentor-survey/definitions/L1_Soldier_Survey.js
  scripts/mentor/mentor-survey/engine.js
  scripts/mentor/mentor-survey/index.js
  scripts/mentor/mentor-survey/registry.js
Due: eslint --fix, prettier --write

.
  scripts/engine/suggestion/Level1SkillSuggestionEngine.js
  scripts/engine/suggestion/SuggestionEngine.js
  scripts/mentor/mentor-survey/definition-builder.js
  scripts/mentor/mentor-survey/definitions/L1_Scoundrel_Survey.js
  scripts/mentor/mentor-survey/engine.js
Due: eslint --fix

Refactor: Enforce single template-selection authority and v2 compliance
  scripts/apps/progression-framework/dialogs/template-selection-dialog.js
  scripts/apps/progression-framework/steps/intro-step.js
  scripts/engine/progression/template/template-initializer.js
  templates/apps/progression-framework/steps/intro-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

refactor: Clean template data - remove duplicates and harden validator
  data/character-templates.json
  data/nonheroic-templates.json
  scripts/engine/progression/template/template-validator.js
Due: eslint --fix, prettier --write

Fix heroic template credit anomalies (SAFE AUTO-FIX)
  data/character-templates.json
Due: prettier --write

Fix Rifleman credit anomaly (1125 → 325)
  data/character-templates.json
Due: prettier --write

Fix mentor portrait visibility and add webp fallback resolution
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/engine/mentor/mentor-dialogues.js
  styles/progression-framework/chargen-stabilization.css
Due: eslint --fix

.
  scripts/mentor/mentor-survey/definitions/L1_Soldier_Survey.js
  scripts/mentor/mentor-survey/engine.js
Due: eslint --fix

Phase 2 + addendum: hydration boundary, class SSOT, shadow sheet merge
  scripts/engine/chargen/CharacterGenerationEngine.js
  scripts/engine/progression/ProgressionEngineV2.js
  scripts/engine/progression/ProgressionSession.js
  scripts/engine/progression/engine/progression-actor-updater.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/custom-skills-ui.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
