Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

fix: gate Force Suite tab on Force access; verify NPC wiring
  scripts/sheets/v2/character-sheet/concept-context.js
  scripts/sheets/v2/npc-sheet.js
  templates/actors/character/v2-concept/partials/tabs/force-tab.hbs
  templates/actors/npc/v2/npc-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

feat: add holopad-wide roll companion modal
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/force-ui.js
  scripts/sheets/v2/npc-combat-sheet.js
  scripts/ui/shell/roll-companion.js
  styles/sheets/v2-concept-sheet.css
Due: eslint --fix

Add files via upload
  assets/Concept/Progression Engine - Talent Tree _standalone_.html
Due: none

Delete PHASE_4_SUMMARY.md
  PHASE_4_SUMMARY.md
Due: prettier --write

Holonet concept updates
  assets/Concept/Holonet Messenger.html
  assets/Concept/holonet-app.jsx
  assets/Concept/holonet-data.js
  assets/Concept/holonet-jobboard.jsx
  assets/Concept/holonet-messenger.jsx
  assets/Concept/holonet-styles.css
Due: eslint --fix

.
  packs/feats.db
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/engine/progression/feats/feat-choice-resolver.js
  scripts/engine/progression/feats/feat-registry.js
  styles/sheets/v2-concept-sheet.css
  templates/actors/character/v2-concept/partials/tabs/combat-tab.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

.
  index.js
  scripts/data/prerequisite-checker.js
  scripts/engine/abilities/force-power/force-power-ability-meta.js
  scripts/engine/abilities/force-power/force-power-adapter.js
  scripts/engine/effects/modifiers/ModifierEngine.js
  scripts/engine/store/store-constants.js
  scripts/engine/suggestion/equipment/weapon-scoring-engine.js
  scripts/governance/actor-engine/actor-engine.js
  scripts/load-templates.js
  scripts/rolls/skills.js
  scripts/sheets/v2/PanelVisibilityManager.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/concept-context.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  scripts/utils/actor-utils.js
  styles/scripts/apps/progression-framework/shell/build-intent.js
  styles/scripts/apps/progression-framework/shell/progression-finalizer.js
  styles/scripts/apps/progression-framework/shell/progression-session.js
  styles/scripts/apps/progression-framework/shell/progression-shell.js
  styles/scripts/apps/progression-framework/steps/droid-builder-step.js
  styles/scripts/apps/progression-framework/steps/feat-step.js
  styles/scripts/apps/progression-framework/steps/final-droid-configuration-step.js
  styles/scripts/apps/progression-framework/steps/summary-step.js
  styles/scripts/apps/progression-framework/steps/talent-step.js
  styles/sheets/v2-concept-sheet.css
  styles/system/store-splash.css
  system.json
  templates/actors/character/v2-concept/partials/frame/sidebar.hbs
  templates/actors/character/v2-concept/partials/tabs/abilities-tab.hbs
  templates/actors/character/v2-concept/partials/tabs/skills-tab.hbs
  templates/actors/character/v2-concept/partials/tabs/talents-tab.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.
  scripts/actors/v2/character-actor.js
  scripts/apps/progression-framework/shell/active-step-computer.js
  scripts/apps/progression-framework/shell/mentor-choice-reaction-router.js
  scripts/apps/progression-framework/shell/mentor-rail.js
  scripts/apps/progression-framework/shell/progression-finalizer.js
  scripts/apps/progression-framework/shell/progression-session.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/attribute-step.js
  scripts/apps/progression-framework/steps/background-step.js
  scripts/apps/progression-framework/steps/class-step.js
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/apps/progression-framework/steps/language-step.js
  scripts/apps/progression-framework/steps/mentor-step-integration.js
  scripts/apps/progression-framework/steps/talent-step.js
  scripts/data/force-points.js
  scripts/engine/mentor/mentor-judgment-engine.js
  scripts/engine/progression/ProgressionRules.js
  scripts/engine/progression/integration/finalize-integration.js
  scripts/engine/progression/utils/levelup-entitlement-manifest.js
  scripts/engine/progression/utils/levelup-finalization-audit.js
  scripts/engine/suggestion/ClassSuggestionEngine.js
  scripts/houserules/houserule-settings.js
  scripts/infrastructure/hooks/force-power-hooks.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/concept-context.js
  scripts/sheets/v2/character-sheet/form.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  scripts/ui/shell/ProgressionSurfaceAdapter.js
  scripts/utils/actor-utils.js
  scripts/utils/hydration-diagnostics.js
  scripts/utils/item-classification.js
  scripts/utils/settings-defaults.js
  styles/progression-framework/mentor-rail.css
  styles/progression-framework/steps/language-step.css
  styles/sheets/v2-concept-sheet.css
  templates/actors/character/v2-concept/partials/panels/force-suite-card.hbs
  templates/actors/character/v2-concept/partials/tabs/biography-tab.hbs
  templates/actors/character/v2-concept/partials/tabs/talents-tab.hbs
  templates/apps/progression-framework/steps/attribute-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

.
  scripts/apps/progression-framework/shell/mentor-choice-reaction-router.js
  scripts/apps/progression-framework/shell/mentor-reaction-debug.js
  scripts/apps/progression-framework/shell/progression-session.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/core/settings.js
Due: eslint --fix

.
  scripts/actors/derived/defense-calculator.js
  scripts/actors/derived/derived-calculator.js
  scripts/apps/custom-item-dialog.js
  scripts/apps/customization/item-customization-workbench.js
  scripts/apps/gear-templates-engine.js
  scripts/apps/progression-framework/shell/active-step-computer.js
  scripts/apps/progression-framework/shell/progression-finalizer.js
  scripts/apps/progression-framework/shell/projection-engine.js
  scripts/apps/progression-framework/steps/language-step.js
  scripts/apps/progression-framework/steps/skills-step.js
  scripts/apps/store/store-splash.js
  scripts/core/settings.js
  scripts/engine/items/safe-item-factory.js
  scripts/items/item-defaults.js
  scripts/items/swse-item-sheet.js
  scripts/mentor/mentor-survey/base-class-survey-definitions.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/abilities-ui.js
  scripts/sheets/v2/character-sheet/custom-skills-ui.js
  scripts/sheets/v2/character-sheet/force-ui.js
  scripts/sheets/v2/character-sheet/inventory-ui.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  scripts/sheets/v2/context/PostRenderAssertions.js
  scripts/sheets/v2/context/RowTransformers.js
  scripts/sheets/v2/droid-sheet/listeners.js
  scripts/ui/shell/HomeSurfaceService.js
  scripts/ui/shell/ShellHost.js
  scripts/ui/shell/WorkbenchSurfaceAdapter.js
  styles/system/store-splash.css
  templates/actors/character/v2-concept/partials/panels/defense-breakdown-tooltip.hbs
  templates/actors/character/v2-concept/partials/panels/defenses-panel.hbs
  templates/actors/character/v2-concept/partials/panels/force-powers-known-panel.hbs
  templates/actors/character/v2-concept/partials/tabs/starship-suite-tab.hbs
  templates/actors/character/v2/partials/defenses-panel.hbs
  templates/items/base/item-sheet.hbs
  templates/shell/partials/surface-home.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

.
  scripts/debug/item-editor-trace.js
  scripts/engine/items/safe-item-factory.js
  scripts/items/item-defaults.js
  scripts/items/swse-item-sheet.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  scripts/sheets/v2/context/RowTransformers.js
Due: eslint --fix

fix(item-editor): prevent native form submission crash and add full trace coverage
  index.js
  scripts/debug/item-editor-trace.js
  scripts/items/swse-item-sheet.js
Due: eslint --fix

fix(condition-track): remove suppressAppRefresh and route through setConditionStep
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

fix(defense-calc): compute ability mods from raw attributes, not stale derived cache
  index.js
  scripts/actors/derived/defense-calculator.js
Due: eslint --fix

P0.1: Item editor form boundary / embedded item type safety
  scripts/governance/actor-engine/actor-engine.js
  scripts/items/swse-item-sheet.js
  templates/items/base/item-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

fix(P0.2): route ability score sheet writes to system.attributes (canonical source)
  scripts/sheets/v2/character-sheet.js
  templates/actors/character/v2-concept/partials/panels/abilities-panel.hbs
  templates/actors/character/v2-concept/partials/tabs/abilities-tab.hbs
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/character/v2/partials/abilities-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

P0.3: Fix condition track render sequencing to ensure stable final render
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix

P0.3 followup: Fix render sequencing in updateActor() for render:false safety
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix

System.abilities write-path cleanup audit and patch
  assets/Concept/sheets/v2/character-sheet/form.js
  scripts/actors/derived/derived-calculator.js
  scripts/apps/progression-framework/adapters/default-subtypes.js
  scripts/apps/progression-framework/shell/progression-finalizer.js
  scripts/apps/template-character-creator.js
  scripts/drag-drop/drop-handler.js
  scripts/engine/progression/ProgressionEngineV2.js
  scripts/engine/progression/ProgressionSession.js
  scripts/engine/progression/helpers/apply-canonical-species-to-actor.js
  scripts/governance/actor-engine/hp-recompute-hooks.js
  styles/scripts/apps/progression-framework/shell/progression-finalizer.js
  templates/actors/droid/v2/droid-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

feat(P1-diagnostics): add semantic boundary audit to ActorEngine
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix

fix(P1-diagnostics): pass original updateData to _auditSemanticBoundaries
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix

feat(P2-diagnostics): source-classify known broad-safe ActorEngine call sites
  scripts/apps/chargen/chargen-finalizer.js
  scripts/engine/chargen/CharacterGenerationEngine.js
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix

feat(P3-guardrails): redirect system.abilities mirror writes to canonical path
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix

fix(actor-engine): canonical path wins on double-write in P3 guardrail
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix

feat(actor-engine): Phase 4 — canonical read-path cleanup inside ActorEngine
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix

fix(actor-boundary/phase5): route stale system.derived.hp writes to canonical paths
  scripts/apps/chargen/chargen-main.js
  scripts/chat/chat-commands.js
Due: eslint --fix

fix(actor-boundary/phase6): patch broad domain writes and add source tags
  scripts/actors/vehicle/swse-vehicle-handler.js
  scripts/apps/follower-creator.js
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix

fix(actor-boundary/phase7): convert broad class-item defenses object to dot-paths
  scripts/apps/levelup/levelup-shared.js
Due: eslint --fix

Phase 9: safety labels on stale/deprecated governance modules
  scripts/governance/actor-engine/actor-engine.js
  scripts/governance/actor-engine/internal/actor-engine-derived.js
  scripts/governance/actor-engine/internal/actor-engine-validation.js
  scripts/governance/sentinel/derived-integrity-layer.js
  scripts/governance/sentinel/mutation-boundary-defense.js
  scripts/governance/sentinel/mutation-interceptor-lock.js
  scripts/governance/sentinel/performance-sovereignty-lock.js
Due: eslint --fix

Phase 11: delete proven-dead deprecated wrapper stubs
  scripts/engine/suggestion/SuggestionService.js
  scripts/governance/sentinel/mutation-boundary-defense.js
  scripts/governance/sentinel/mutation-boundary-defense.test.js
  scripts/governance/sentinel/mutation-interceptor-lock.js
  scripts/governance/sentinel/performance-sovereignty-lock.js
Due: eslint --fix

docs: add ActorEngine responsibility audit (measure twice, cut once)
  docs/audits/actor-engine-responsibility-audit.md
Due: prettier --write

Extract Force/Destiny resource calculations to ForcePointsService
  scripts/engine/force/force-points-service.js
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix

fix: use canonical condition cap in ActorEngine.setConditionStep (B2)
  scripts/engine/combat/ConditionEngine.js
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix

fix: use canonical condition cap in ActorEngine.setConditionStep (B2)
  scripts/engine/combat/ConditionTrackRules.js
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix

fix: apply house-rule condition cap in applyConditionShift (B2 follow-up)
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix

refactor: extract restoreFromSnapshot to SnapshotService (B3)
  scripts/governance/snapshot/snapshot-service.js
Due: eslint --fix

fix: replace remaining hardcoded condition-track caps (B2 follow-up)
  scripts/engine/combat/damage-resolution-engine.js
  scripts/engine/combat/threshold-engine.js
  scripts/engine/effects/adapters/effect-card-utils.js
  scripts/engine/species/rage-engine.js
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix
