Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

Add ranked-skills core infrastructure and skill calculation integration
  scripts/actors/derived/derived-calculator.js
  scripts/engine/progression/skills/skill-state.js
  scripts/engine/skills/ranked-skills-engine.js
Due: eslint --fix

Integrate ranked-skills with chargen and level-up systems
  scripts/apps/chargen/chargen-main.js
  scripts/apps/levelup/levelup-skills.js
Due: eslint --fix

Complete final house-rule migration: route remaining chargen reads through adapters
  scripts/apps/chargen-improved.js
  scripts/apps/chargen/chargen-abilities.js
  scripts/apps/chargen/chargen-force-powers.js
  scripts/apps/chargen/chargen-main.js
  scripts/engine/chargen/ChargenRules.js
Due: eslint --fix

Phase 1: Implement stock droid statblock import with normalizer shim
  scripts/domain/droids/stock-droid-normalizer.js
  scripts/engine/import/droid-template-importer-engine.js
  scripts/engine/import/stock-droid-importer-engine.js
  templates/apps/galactic-records-browser.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 2: Implement stock droid conversion to custom/builder-native droids
  scripts/apps/droid-builder-app.js
  scripts/apps/stock-droid-conversion-dialog.js
  scripts/domain/droids/stock-droid-converter.js
  scripts/sheets/v2/droid-sheet/listeners.js
  templates/actors/droid/v2/partials/droid-systems-summary-strip.hbs
  templates/apps/stock-droid-conversion-dialog.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 3: Stock droid provenance, comparison, and auditability
  scripts/apps/droid-builder-app.js
  scripts/apps/stock-droid-comparison-dialog.js
  scripts/domain/droids/stock-droid-comparison-utility.js
  scripts/sheets/v2/droid-sheet/context-builder.js
  scripts/sheets/v2/droid-sheet/listeners.js
  templates/actors/droid/v2/droid-sheet.hbs
  templates/actors/droid/v2/partials/stock-droid-provenance-panel.hbs
  templates/apps/stock-droid-comparison-dialog.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

UI: Implement Stock Droid Import Wizard (4-step multi-step workflow)
  scripts/apps/droid-template-choice-dialog.js
  scripts/apps/stock-droid-import-wizard.js
  templates/apps/stock-droid-import-wizard.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Refactor StockDroidImportWizard to integrate sophisticated state management and template alignment
  scripts/apps/stock-droid-import-wizard.js
Due: eslint --fix

Fix StockDroidImportWizard parameter name in droid-template-choice-dialog
  scripts/apps/droid-template-choice-dialog.js
Due: eslint --fix

Phase 2: Complete Partials and CSS - All 11 Vehicle Panels
  scripts/actors/v2/vehicle-actor.js
  scripts/actors/v2/vehicle-derived-builder.js
  scripts/sheets/v2/vehicle-sheet.js
  scripts/sheets/v2/vehicle-sheet/vehicle-context-builder.js
  scripts/sheets/v2/vehicle-sheet/vehicle-rules-adapter.js
  styles/sheets/vehicle-sheet.css
  templates/actors/vehicle/v2/partials/vehicle-cargo-manifest-panel.hbs
  templates/actors/vehicle/v2/partials/vehicle-cargo-summary-panel.hbs
  templates/actors/vehicle/v2/partials/vehicle-crew-assignment-panel.hbs
  templates/actors/vehicle/v2/partials/vehicle-crew-summary-panel.hbs
  templates/actors/vehicle/v2/partials/vehicle-defenses-panel-full.hbs
  templates/actors/vehicle/v2/partials/vehicle-defenses-panel.hbs
  templates/actors/vehicle/v2/partials/vehicle-header-summary-panel.hbs
  templates/actors/vehicle/v2/partials/vehicle-hp-condition-panel.hbs
  templates/actors/vehicle/v2/partials/vehicle-power-summary-panel.hbs
  templates/actors/vehicle/v2/partials/vehicle-shield-management-panel.hbs
  templates/actors/vehicle/v2/partials/vehicle-subsystem-detail-panel.hbs
  templates/actors/vehicle/v2/partials/vehicle-subsystem-panel.hbs
  templates/actors/vehicle/v2/partials/vehicle-weapon-mount-panel.hbs
  templates/actors/vehicle/v2/vehicle-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 2: Restructure Main Template to 5-Tab Mature Architecture
  templates/actors/vehicle/v2/vehicle-sheet.hbs
Due: node scripts/validate/validate-icon-keys.js

Phase 2: Apply Ship Diagnostic Console CSS to All Partials
  styles/sheets/vehicle-sheet.css
  templates/actors/vehicle/v2/partials/vehicle-cargo-manifest-panel.hbs
  templates/actors/vehicle/v2/partials/vehicle-cargo-summary-panel.hbs
  templates/actors/vehicle/v2/partials/vehicle-crew-assignment-panel.hbs
  templates/actors/vehicle/v2/partials/vehicle-crew-summary-panel.hbs
  templates/actors/vehicle/v2/partials/vehicle-defenses-panel-full.hbs
  templates/actors/vehicle/v2/partials/vehicle-header-summary-panel.hbs
  templates/actors/vehicle/v2/partials/vehicle-hp-condition-panel.hbs
  templates/actors/vehicle/v2/partials/vehicle-power-summary-panel.hbs
  templates/actors/vehicle/v2/partials/vehicle-shield-management-panel.hbs
  templates/actors/vehicle/v2/partials/vehicle-subsystem-detail-panel.hbs
  templates/actors/vehicle/v2/partials/vehicle-weapon-mount-panel.hbs
Due: node scripts/validate/validate-icon-keys.js

Phase 3: Enhanced Vehicle Rule Surfaces - Complete Implementation
  scripts/sheets/v2/vehicle-sheet.js
  scripts/sheets/v2/vehicle-sheet/vehicle-context-builder.js
  scripts/sheets/v2/vehicle-sheet/vehicle-rules-adapter.js
  styles/sheets/vehicle-sheet.css
  templates/actors/vehicle/v2/partials/vehicle-commander-order-panel.hbs
  templates/actors/vehicle/v2/partials/vehicle-pilot-maneuver-panel.hbs
  templates/actors/vehicle/v2/partials/vehicle-turn-phase-panel.hbs
  templates/actors/vehicle/v2/vehicle-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 4: Vehicle Import Normalizer + Legacy-Safe Migration
  scripts/actors/vehicle/vehicle-precreate-hooks.js
  scripts/engine/import/vehicle-import-normalizer.js
  tools/audit-vehicle-imports.js
Due: eslint --fix

Vehicle Weapons Importer Phase: Compendium Weapon Conformance + Mount Normalization
  scripts/actors/vehicle/vehicle-precreate-hooks.js
  scripts/data-models/item-data-models.js
  scripts/engine/import/vehicle-weapon-import-normalizer.js
  scripts/sheets/v2/vehicle-sheet/vehicle-context-builder.js
  styles/sheets/vehicle-sheet.css
  templates/actors/vehicle/v2/partials/vehicle-weapon-mount-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 1: Lock the NPC Contract Foundation
  scripts/actors/derived/level-split.js
  scripts/actors/npc/npc-mode-adapter.js
  scripts/actors/npc/npc-profile-builder.js
  scripts/apps/follower-creator.js
  scripts/apps/levelup/npc-levelup-entry.js
  scripts/combat/rolls/attacks.js
  scripts/combat/rolls/damage.js
  scripts/combat/utils/combat-utils.js
  scripts/data-models/character-data-model.js
  scripts/sheets/v2/npc-sheet.js
  scripts/utils/hardening.js
  templates/actors/npc/v2/npc-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 2: Make the NPC sheet character-sheet-derived and profile-aware
  scripts/actors/npc/npc-profile-builder.js
  styles/sheets/v2-npc-specific.css
  templates/actors/npc/v2/npc-sheet.hbs
  templates/actors/npc/v2/partials/npc-beast-panel.hbs
  templates/actors/npc/v2/partials/npc-mode-panel.hbs
  templates/actors/npc/v2/partials/npc-mount-panel.hbs
  templates/actors/npc/v2/partials/npc-owner-panel.hbs
  templates/actors/npc/v2/partials/npc-profile-panel.hbs
  templates/actors/npc/v2/partials/npc-progression-panel.hbs
  templates/actors/npc/v2/partials/npc-relationships-panel.hbs
  templates/actors/npc/v2/partials/npc-statblock-authority-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 5: Expand progression UX with heroic/nonheroic split visibility
  scripts/actors/npc/npc-profile-builder.js
  scripts/apps/levelup/npc-levelup-entry.js
  scripts/sheets/v2/npc-sheet.js
  styles/sheets/v2-npc-specific.css
  templates/actors/npc/v2/partials/npc-progression-panel.hbs
  templates/apps/npc-levelup-entry.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 4: Beast + Mount Profile Support
  scripts/actors/npc/npc-profile-builder.js
  styles/sheets/v2-npc-specific.css
  templates/actors/npc/v2/partials/npc-beast-panel.hbs
  templates/actors/npc/v2/partials/npc-mount-panel.hbs
  templates/actors/npc/v2/partials/npc-relationships-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 3: Follower / Minion Integration Deepening
  scripts/actors/npc/npc-profile-builder.js
  styles/sheets/v2-npc-specific.css
  templates/actors/npc/v2/partials/npc-owner-panel.hbs
  templates/actors/npc/v2/partials/npc-profile-panel.hbs
  templates/actors/npc/v2/partials/npc-relationships-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 6/7: NPC Ecosystem Contract Revalidation + Polish
  scripts/actors/npc/npc-profile-builder.js
  templates/actors/npc/v2/partials/npc-beast-panel.hbs
  templates/actors/npc/v2/partials/npc-mount-panel.hbs
  templates/actors/npc/v2/partials/npc-owner-panel.hbs
  templates/actors/npc/v2/partials/npc-progression-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Add linked relationship cards that open related actor sheets
  scripts/actors/npc/npc-profile-builder.js
  scripts/sheets/v2/npc-sheet.js
  styles/sheets/v2-npc-specific.css
  templates/actors/npc/v2/partials/npc-mount-panel.hbs
  templates/actors/npc/v2/partials/npc-owner-panel.hbs
  templates/actors/npc/v2/partials/npc-related-actor-card.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Add follower advancement eligibility — visible on follower sheet, manual launch
  scripts/actors/npc/npc-profile-builder.js
  scripts/sheets/v2/npc-sheet.js
  styles/sheets/v2-npc-specific.css
  templates/actors/npc/v2/partials/npc-owner-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Clean up remaining files from deleted directories
  docs/data/nonheroic-images-readme.md
  docs/data/nonheroic-readme.md
  docs/store/refactoring-summary.md
  docs/store/store-id-diagnostics.md
  docs/store/weapon-categorization.md
  docs/swse-classes/DELIVERY_SUMMARY.txt
  docs/swse-classes/README_SWSE_CLASSES.md
  docs/swse-classes/SWSE_CLASSES_COMPLETE_REFERENCE.md
  docs/swse-classes/SWSE_CLASSES_GUIDE.md
  docs/swse-classes/SWSE_CLASSES_PART2_GUIDE.md
  docs/swse-classes/swse_classes_part1.py
  docs/swse-classes/swse_classes_part2.py
  docs/tools/feats-talents-analysis.md
  docs/tools/feats-talents-migration-summary.md
  docs/tools/force-powers-analysis.md
  docs/tools/skills-and-feats-guide.md
  docs/tools/vehicle-migration-summary.md
Due: prettier --write

Add typed relationship roster card color modifiers: - follower = classic cyan - mount = light green - droid = silver/circuitry - beast = purple - vehicle = red
  styles/sheets/v2-sheet.css
  templates/actors/character/v2/partials/relationships-panel.hbs
Due: node scripts/validate/validate-icon-keys.js

[PASS 1] Finish character-sheet decomposition: remove duplicates, make listeners real
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/listeners.js
Due: eslint --fix

[PASS 2] Extract 7 domain UI modules from character-sheet.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/abilities-ui.js
  scripts/sheets/v2/character-sheet/combat-ui.js
  scripts/sheets/v2/character-sheet/drop-ui.js
  scripts/sheets/v2/character-sheet/force-ui.js
  scripts/sheets/v2/character-sheet/inventory-ui.js
  scripts/sheets/v2/character-sheet/listeners.js
  scripts/sheets/v2/character-sheet/misc-ui.js
  scripts/sheets/v2/character-sheet/mobile-ui.js
  scripts/sheets/v2/character-sheet/modal-ui.js
  scripts/sheets/v2/character-sheet/skills-ui.js
Due: eslint --fix

[Phase 2] ActorEngine modularization: wire up internal validation and derived modules
  scripts/governance/actor-engine/actor-engine.js
  scripts/governance/actor-engine/internal/actor-engine-derived.js
  scripts/governance/actor-engine/internal/actor-engine-validation.js
Due: eslint --fix

Phase 3: Modularize chargen-main.js into focused responsibility groups
  scripts/apps/chargen/chargen-actions.js
  scripts/apps/chargen/chargen-main.js
  scripts/apps/chargen/chargen-persistence.js
  scripts/apps/chargen/chargen-render.js
  scripts/apps/chargen/chargen-routing.js
  scripts/apps/chargen/chargen-state.js
  scripts/apps/chargen/chargen-validation.js
Due: eslint --fix

.
  FINAL_MIGRATION_VALIDATION.md
  PHASE_0_AUDIT_REPORT.md
  PHASE_2_CONTROL_PLANE_DESIGN.md
  PHASE_3A_COMPLETION_REPORT.md
  PHASE_3B_COMPLETION_REPORT.md
  PHASE_3B_SCOPE_AUDIT.md
  PHASE_3C_COMPLETION_REPORT.md
  PHASE_3C_SCOPE_AUDIT.md
  PHASE_3D_COMPLETION_REPORT.md
  PHASE_3D_SCOPE_AUDIT.md
  PHASE_3E_COMPLETION_REPORT.md
  PHASE_3E_SCOPE_AUDIT.md
  PHASE_3F_COMPLETION_REPORT.md
  PHASE_3F_SCOPE_AUDIT.md
  PHASE_3G_COMPLETION_REPORT.md
  PHASE_3G_SCOPE_AUDIT.md
  PHASE_3H_COMPLETION_REPORT.md
  PHASE_3H_SCOPE_AUDIT.md
  RECONCILIATION_AUDIT.md
  SYSTEM_ARCHITECTURE_STATUS.md
  docs/CHANGES_APPLIED.txt
  docs/DELIVERABLES.txt
  docs/FIX_SUMMARY.txt
  docs/FORENSIC_SUMMARY.txt
  docs/HOOKS_AT_A_GLANCE.txt
  docs/INTRO_SPLASH_FIXES_SUMMARY.txt
  docs/P0_FIX_QUICK_SUMMARY.txt
  docs/PATCH_SUMMARY.txt
  docs/PHASE_2_1_EXECUTIVE_SUMMARY.txt
  docs/PYTHON_SAFE_PASS_EXACT_CONTRACT_FIX_REPORT.txt
  docs/REPO_STRUCTURE.txt
  docs/SVG_CLEANUP_DETAILED_RECORD.txt
  docs/phase-5a-EXACT-NEXT-STEPS.txt
  docs/phase-5a-probe-rules.txt
Due: prettier --write

Phase 2-3: Normalize repo structure + fix droid chargen flow
  _deprecated_shadow/apps_progression-framework_shadow/shell/progression-shell.js
  _deprecated_shadow/apps_progression-framework_shadow/steps/background-step.js
  _deprecated_shadow/nested_progression-framework/shell/projection-engine.js
  _deprecated_shadow/nested_progression-framework/steps/feat-step.js
  _deprecated_shadow/nested_progression-framework/steps/skills-step.js
  scripts/apps/progression-framework/chargen-shell.js
  scripts/apps/progression-framework/registries/progression-node-registry.js
Due: eslint --fix

Add Phase 0-6 audit report and deliverable archive
  AUDIT_PHASE_0-6_REPORT.md
  swse-droid-chargen-fix.tar.gz
Due: prettier --write

Add droid chargen flow verification documentation
  DROID_CHARGEN_FIX_VERIFICATION.md
  test-droid-chargen-flow.js
Due: eslint --fix, prettier --write

WIP: Add actor-v2 intro variant detection and flags
  scripts/apps/progression-framework/steps/intro-step.js
Due: eslint --fix

Integrate actor-v2 chargen splash into live intro system
  scripts/apps/progression-framework/steps/actor-splash-v2-controller.js
  scripts/apps/progression-framework/steps/intro-step.js
  styles/progression-framework/steps/intro.css
  templates/apps/progression-framework/steps/intro-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 1: Build droid splash V2 controller and wire into live intro system
  scripts/apps/progression-framework/steps/droid-splash-v2-controller.js
  scripts/apps/progression-framework/steps/intro-step.js
Due: eslint --fix

Phase 2: Port droid splash V2 HBS template and route intro-step.js
  scripts/apps/progression-framework/steps/intro-step.js
  templates/apps/progression-framework/steps/intro-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js
