Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

feat: Phase 5D-D canonical range + ammunition/resource consumption
  docs/audits/weapon-phase-5d-d-range-resource-consumption.md
  scripts/combat/rolls/attacks.js
  scripts/engine/combat/combat-stat-rules.js
  scripts/engine/inventory/ammo-system.js
  scripts/items/weapon-runtime/attack-consumer.js
  scripts/items/weapon-runtime/attack-form-options.js
  scripts/items/weapon-runtime/canonical-range.js
  scripts/items/weapon-runtime/canonical-resource.js
  scripts/items/weapon-runtime/errors.js
  scripts/items/weapon-runtime/index.js
  scripts/rolls/roll-config.js
  tests/weapon-phase-5d-d-range-resource-consumption.test.mjs
Due: eslint --fix, prettier --write

fix: Darkstick/Static Pike thrown profiles are ranged attacks (source-proven DATA_DEFECT)
  data/audits/phase-5c-weapon-projection-report.json
  data/audits/weapon-phase-5b-consumption-map.json
  data/audits/weapon-phase-5b-schema-field-census.json
  data/canonical/weapons.json
  data/weapons/canonical-weapon-registry.json
  docs/audits/weapon-phase-5d-d-range-resource-consumption.md
  packs/weapons-exotic.db
  packs/weapons-simple.db
  packs/weapons.db
  tests/weapon-phase-5d-d-range-resource-consumption.test.mjs
  tests/weapon-phase-5d-d-thrown-melee-correction.test.mjs
  tools/build-canonical-weapons.mjs
  tools/lib/canonical-weapons-amendments.mjs
Due: prettier --write

audit: census class corpus and source-check Core chassis
  data/audits/class-phase-6a-structural-census.json
Due: prettier --write

docs: record Phase 6A class census and source-verified defects
  docs/audits/class-phase-6a-read-only-census.md
Due: prettier --write

feat: Phase 5D-E canonical single-attack special effect consumption
  data/audits/phase-5c-authority-classification.json
  data/audits/weapon-phase-5d-e-special-mechanic-census.json
  docs/audits/phase-5c-authority-classification.md
  docs/audits/weapon-phase-5d-e-special-effect-consumption.md
  scripts/combat/rolls/attacks.js
  scripts/combat/rolls/damage.js
  scripts/engine/combat/canonical-special-effects.js
  scripts/engine/combat/combat-roll-math.js
  scripts/engine/combat/damage-component-rules.js
  scripts/engine/combat/workflow/combat-context-serializer.js
  scripts/infrastructure/hooks/init-hooks.js
  scripts/items/weapon-runtime/attack-consumer.js
  scripts/items/weapon-runtime/damage-profile-resolver.js
  scripts/items/weapon-runtime/index.js
  scripts/items/weapon-runtime/special-mechanics.js
  scripts/ui/chat/chat-interaction-bridge.js
  tests/weapon-phase-5d-e-special-effects.test.mjs
  tests/weapon-runtime-builder-negative.test.mjs
  tools/census-weapon-special-mechanics.mjs
Due: eslint --fix, prettier --write

audit: source-certify 32 prestige class tables and log Phase 6B defects
  data/audits/class-phase-6b-prestige-source-ledger.json
Due: prettier --write

docs: complete Phase 6B prestige source audit and correction plan
  docs/audits/class-phase-6b-prestige-source-audit.md
Due: prettier --write

fix: Phase 5D-E damage multiplier staging and critical rider doubling (source-backed)
  docs/audits/weapon-phase-5d-e-special-effect-consumption.md
  scripts/combat/rolls/damage.js
  scripts/engine/combat/combat-roll-math.js
  tests/weapon-phase-5d-e-multiplier-correction.test.mjs
  tests/weapon-phase-5d-e-special-effects.test.mjs
Due: eslint --fix, prettier --write

feat: Phase 5D-F canonical multi-attack / fire-mode convergence
  data/audits/weapon-phase-5d-e-special-mechanic-census.json
  docs/audits/weapon-phase-5d-e-special-effect-consumption.md
  docs/audits/weapon-phase-5d-f-multiattack-convergence.md
  scripts/combat/multi-attack.js
  scripts/combat/rolls/attacks.js
  scripts/combat/rolls/damage.js
  scripts/combat/rolls/enhanced-rolls.js
  scripts/engine/combat/combat-option-resolver.js
  scripts/engine/combat/combined-full-attack-planner.js
  scripts/engine/combat/dual-wield-combat-shape-resolver.js
  scripts/engine/combat/features/combat-feature-handlers.js
  scripts/engine/combat/full-attack-executor.js
  scripts/engine/combat/weapon-target-gate-classifiers.js
  scripts/engine/combat/workflow/combat-context-serializer.js
  scripts/engine/inventory/ammo-system.js
  scripts/items/weapon-runtime/attack-consumer.js
  scripts/items/weapon-runtime/attack-shape.js
  scripts/items/weapon-runtime/errors.js
  scripts/items/weapon-runtime/index.js
  scripts/items/weapon-runtime/special-mechanics.js
  tests/weapon-phase-5d-f-multiattack-convergence.test.mjs
  tests/weapon-runtime-builder-negative.test.mjs
Due: eslint --fix, prettier --write

Phase 5D-G: fire state, area shape, canonical ability selectors
  data/audits/phase-5c-authority-classification.json
  data/audits/weapon-phase-5d-g-attack-form-census.json
  docs/audits/phase-5c-authority-classification.md
  docs/audits/weapon-phase-5d-g-fire-state-area-selectors.md
  scripts/combat/rolls/attacks.js
  scripts/combat/rolls/damage.js
  scripts/combat/rolls/enhanced-rolls.js
  scripts/engine/combat/combat-option-resolver.js
  scripts/engine/combat/fire-state-store.js
  scripts/engine/combat/weapon-target-gate-classifiers.js
  scripts/engine/combat/workflow/combat-context-serializer.js
  scripts/engine/feat/scoped-combat-feat-resolver.js
  scripts/engine/inventory/ammo-system.js
  scripts/items/weapon-runtime/ability-selector.js
  scripts/items/weapon-runtime/area-shape.js
  scripts/items/weapon-runtime/attack-consumer.js
  scripts/items/weapon-runtime/attack-shape.js
  scripts/items/weapon-runtime/canonical-range.js
  scripts/items/weapon-runtime/errors.js
  scripts/items/weapon-runtime/fire-state.js
  scripts/items/weapon-runtime/index.js
  tests/weapon-phase-5d-g-fire-state-area-selectors.test.mjs
  tests/weapon-runtime-builder-negative.test.mjs
  tools/census-weapon-fire-state-area-selectors.mjs
Due: eslint --fix, prettier --write

Phase 5D-H (wip): source-backed area geometry amendments, prepared attack, brace rule
  data/audits/phase-5c-weapon-projection-report.json
  data/audits/weapon-phase-5b-schema-field-census.json
  data/audits/weapon-phase-5d-g-attack-form-census.json
  data/canonical/weapons.json
  data/weapons/canonical-weapon-registry.json
  packs/weapons-exotic.db
  packs/weapons-grenades.db
  packs/weapons-heavy.db
  packs/weapons.db
  scripts/combat/rolls/attacks.js
  scripts/combat/rolls/enhanced-rolls.js
  scripts/engine/combat/combat-option-resolver.js
  scripts/engine/combat/fire-state-store.js
  scripts/engine/inventory/ammo-system.js
  scripts/items/weapon-runtime/area-shape.js
  scripts/items/weapon-runtime/attack-consumer.js
  scripts/items/weapon-runtime/attack-shape.js
  scripts/items/weapon-runtime/fire-state.js
  tests/weapon-phase-5d-d-thrown-melee-correction.test.mjs
  tests/weapon-phase-5d-g-fire-state-area-selectors.test.mjs
  tests/weapon-phase-5d-h-executable-field-closure.test.mjs
  tools/census-weapon-fire-state-area-selectors.mjs
  tools/lib/canonical-weapons-amendments.mjs
Due: eslint --fix, prettier --write

Phase 5D-H (wip): canonical weapon descriptor, grenade family amendment, relation join
  data/audits/phase-5c-weapon-projection-report.json
  data/audits/weapon-phase-5b-schema-field-census.json
  data/canonical/weapons.json
  data/weapons/canonical-weapon-registry.json
  packs/weapons-grenades.db
  packs/weapons.db
  scripts/engine/combat/combat-option-resolver.js
  scripts/engine/combat/weapon-target-gate-classifiers.js
  scripts/items/weapon-runtime/ability-relations.js
  scripts/items/weapon-runtime/attack-shape.js
  scripts/items/weapon-runtime/weapon-descriptor.js
  tests/_scratch-manifest.mjs
  tools/lib/canonical-weapons-amendments.mjs
Due: eslint --fix, prettier --write

Phase 5D-H (wip): ability identity for relations, conditions, multi-attack, dual wield; CANNOT_NEGATE_ATTACK
  data/audits/weapon-phase-5b-r-condition-policy-census.json
  scripts/combat/multi-attack.js
  scripts/combat/rolls/attacks.js
  scripts/engine/combat/combat-option-resolver.js
  scripts/engine/combat/damage-type-rules.js
  scripts/engine/combat/dual-wield-combat-shape-resolver.js
  scripts/engine/combat/reactions/reaction-engine.js
  scripts/engine/combat/reactions/reaction-registry.js
  scripts/items/weapon-runtime/ability-selector.js
  scripts/items/weapon-runtime/attack-consumer.js
  scripts/items/weapon-runtime/attack-shape.js
  scripts/items/weapon-runtime/condition-policy.js
  tests/_scratch2.mjs
  tests/weapon-runtime-builder-negative.test.mjs
Due: eslint --fix, prettier --write

Phase 5D-H (wip): identity-first ability checks, canonical stun capability
  scripts/engine/combat/combat-roll-math.js
  scripts/engine/combat/combat-stat-rules.js
  scripts/items/weapon-runtime/attack-shape.js
  scripts/rolls/roll-config.js
Due: eslint --fix

Phase 5D-H (wip): canonical-first weapon kind helpers
  scripts/engine/combat/combat-stat-rules.js
  scripts/engine/combat/weapon-target-gate-classifiers.js
Due: eslint --fix

Phase 5D-H (wip): canonical damage types for reaction context
  scripts/engine/combat/damage-type-rules.js
Due: eslint --fix

Phase 5D-H (wip): closure census, relation/descriptor tests
  data/audits/phase-5c-authority-classification.json
  data/audits/weapon-phase-5d-g-attack-form-census.json
  data/audits/weapon-phase-5d-h-closure-census.json
  docs/audits/phase-5c-authority-classification.md
  scripts/engine/combat/damage-type-rules.js
  tests/_scratch3.mjs
  tests/weapon-phase-5d-h-executable-field-closure.test.mjs
  tools/census-weapon-executable-field-closure.mjs
  tools/census-weapon-fire-state-area-selectors.mjs
  tools/lib/weapon-phase-5d-h-ledgers.mjs
Due: eslint --fix, prettier --write

Phase 5D-H: executable field closure census, source-backed area geometry, prepared attack, brace, relations, Riflemaster/Sport Hunter die-size correction
  data/audits/weapon-phase-5d-h-closure-census.json
  data/canonical/feats.json
  data/feat-catalog.json
  docs/audits/weapon-phase-5d-h-executable-field-closure.md
  packs/feats.db
  packs/feats.db.sha256
  scripts/engine/combat/combat-option-resolver.js
  scripts/engine/combat/weapon-target-gate-classifiers.js
  scripts/items/weapon-runtime/ability-relations.js
  scripts/items/weapon-runtime/proficiency-resolver.js
  tests/weapon-phase-5d-h-executable-field-closure.test.mjs
  tools/census-weapon-executable-field-closure.mjs
  tools/lib/weapon-phase-5d-h-ledgers.mjs
Due: eslint --fix, prettier --write

Phase 5D-I-A: core attack / damage / range residual convergence
  data/audits/phase-5c-authority-classification.json
  data/audits/phase-5c-weapon-projection-report.json
  data/audits/weapon-phase-5b-consumption-map.json
  data/audits/weapon-phase-5b-r-condition-policy-census.json
  data/audits/weapon-phase-5b-schema-field-census.json
  data/audits/weapon-phase-5d-e-special-mechanic-census.json
  data/audits/weapon-phase-5d-h-closure-census.json
  data/audits/weapon-phase-5d-i-a-input-manifest.json
  data/canonical/feats.json
  data/canonical/weapons.json
  data/feat-catalog.json
  data/weapons/canonical-weapon-registry.json
  docs/audits/phase-5c-authority-classification.md
  docs/audits/weapon-phase-5d-i-a-core-attack-residuals.md
  packs/feats.db
  packs/feats.db.sha256
  packs/weapons-heavy.db
  packs/weapons.db
  scripts/combat/rolls/attacks.js
  scripts/combat/rolls/enhanced-rolls.js
  scripts/engine/combat/combat-option-resolver.js
  scripts/engine/combat/combat-roll-math.js
  scripts/engine/combat/combat-stat-rules.js
  scripts/engine/combat/fire-state-store.js
  scripts/engine/combat/workflow/combat-context-serializer.js
  scripts/items/weapon-runtime/area-shape.js
  scripts/items/weapon-runtime/attack-consumer.js
  scripts/items/weapon-runtime/attack-shape.js
  scripts/items/weapon-runtime/canonical-range.js
  scripts/items/weapon-runtime/condition-policy.js
  scripts/items/weapon-runtime/fire-state.js
  scripts/items/weapon-runtime/special-mechanics.js
  tests/weapon-phase-5d-e-special-effects.test.mjs
  tests/weapon-phase-5d-h-executable-field-closure.test.mjs
  tests/weapon-phase-5d-i-a-core-attack-residuals.test.mjs
  tools/census-weapon-phase-5d-i-a-inputs.mjs
  tools/lib/canonical-weapons-amendments.mjs
  tools/lib/weapon-phase-5d-h-ledgers.mjs
  tools/lib/weapon-phase-5d-i-a-ledger.mjs
Due: eslint --fix, prettier --write

Phase 5D-I-B: pin closure counters from the live census; I-A stun setting shape
  data/audits/weapon-phase-5d-h-closure-census.json
  data/audits/weapon-phase-5d-i-b-input-manifest.json
  docs/audits/weapon-phase-5d-i-b-wielding-activation-threat.md
  tests/weapon-phase-5d-i-a-core-attack-residuals.test.mjs
  tools/lib/weapon-phase-5d-i-b-ledger.mjs
Due: prettier --write

Phase 5D-I-B: keep stun-activation settings off the profile-setting path (Shockboxing switch-back free)
  scripts/items/weapon-runtime/attack-shape.js
  tests/weapon-phase-5d-i-a-core-attack-residuals.test.mjs
Due: eslint --fix

Phase 5D-I-B audit: record Long Haft Form / Long Haft Strike evidence and classification
  docs/audits/weapon-phase-5d-i-b-wielding-activation-threat.md
Due: prettier --write

Phase 5D-I-C-C: reaction / defense / disarm / recovery convergence
  data/audits/phase-5c-authority-classification.json
  data/audits/weapon-phase-5d-e-special-mechanic-census.json
  data/audits/weapon-phase-5d-g-attack-form-census.json
  data/audits/weapon-phase-5d-h-closure-census.json
  data/audits/weapon-phase-5d-i-c-a-input-manifest.json
  data/audits/weapon-phase-5d-i-c-b-input-manifest.json
  data/audits/weapon-phase-5d-i-c-c-input-manifest.json
  docs/audits/phase-5c-authority-classification.md
  docs/audits/weapon-phase-5d-i-c-c-reaction-defense.md
  scripts/combat/rolls/attacks.js
  scripts/engine/combat/canonical-special-effects.js
  scripts/engine/combat/reactions/reaction-weapon-context.js
  scripts/engine/talent/lightsaber-talent-actions.js
  scripts/items/weapon-runtime/ability-relations.js
  scripts/items/weapon-runtime/reaction-rules.js
  scripts/items/weapon-runtime/special-mechanics.js
  tests/weapon-phase-5d-e-special-effects.test.mjs
  tests/weapon-phase-5d-h-executable-field-closure.test.mjs
  tests/weapon-phase-5d-i-c-a-outcome-persistent-effects.test.mjs
  tests/weapon-phase-5d-i-c-b-grapple-control.test.mjs
  tests/weapon-phase-5d-i-c-c-reaction-defense.test.mjs
  tests/weapon-runtime-builder-negative.test.mjs
  tools/census-weapon-phase-5d-i-c-c-inputs.mjs
  tools/lib/weapon-phase-5d-h-ledgers.mjs
  tools/lib/weapon-phase-5d-i-c-c-ledger.mjs
Due: eslint --fix, prettier --write

ui: add weapon readiness and configuration controls
  scripts/engine/combat/combat-stat-rules.js
  scripts/engine/combat/reactions/reaction-weapon-context.js
  scripts/engine/inventory/InventoryEngine.js
  scripts/engine/inventory/item-activation-state.js
  scripts/engine/talent/lightsaber-talent-actions.js
  scripts/sheets/v2/character-like-sheet.js
  scripts/sheets/v2/character-sheet/concept-context.js
  styles/sheets/v2-weapon-controls.css
  system.json
  templates/actors/character/v2-concept/partials/panels/attacks-panel.hbs
  templates/actors/character/v2-concept/partials/panels/inventory-armor-card.hbs
  templates/actors/character/v2-concept/partials/panels/inventory-item-row.hbs
  templates/actors/character/v2-concept/partials/panels/inventory-weapon-card.hbs
  templates/actors/character/v2-concept/partials/tabs/gear-tab.hbs
  tests/weapon-phase-5d-i-c-c-reaction-defense.test.mjs
  tests/weapon-readiness-ui-contract.test.mjs
  tests/weapon-runtime-builder-negative.test.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

ci: refresh system.json pin in talent dry-run reports for the weapon-controls stylesheet entry
  data/audits/talent-phase-3e4-dry-run-report.json
  data/audits/talent-phase-3e5-dry-run-report.json
  data/audits/talent-phase-3f-dry-run-report.json
  data/audits/talent-phase-3g-dry-run-report.json
Due: prettier --write

ci: keep sheet files off weapon-runtime imports and guard window global
  data/audits/weapon-phase-5d-h-closure-census.json
  scripts/combat/utils/combat-actions-mapper.js
  scripts/engine/combat/fire-state-store.js
  scripts/sheets/v2/character-like-sheet.js
  scripts/sheets/v2/character-sheet/concept-context.js
  tests/weapon-runtime-builder-negative.test.mjs
Due: eslint --fix, prettier --write
