Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Attack Bonus round 8: attack-context domain isolation + dynamic combat option presentation
  docs/audits/generated/attack-option-coverage-report.json
  docs/audits/generated/attack-option-coverage-report.md
  docs/audits/v2-math-integrity-authority-ledger.md
  scripts/engine/combat/combat-option-resolver.js
  scripts/patches/attack-dialog-combat-corrections-hotfix.js
  scripts/rolls/roll-config.js
  tests/attack-dialog-context-authority.test.mjs
  tools/report-attack-option-coverage.mjs
Due: eslint --fix, prettier --write

Attack Bonus round 8 correction #1: fix ATTACK_OPTION discovery leak, target threading, Point Blank duplicate authority
  docs/audits/generated/attack-option-coverage-report.json
  docs/audits/generated/attack-option-coverage-report.md
  docs/audits/v2-math-integrity-authority-ledger.md
  scripts/engine/combat/combat-option-resolver.js
  scripts/rolls/roll-config.js
  tests/attack-bonus-math-integrity.test.mjs
  tests/attack-dialog-context-authority-correction.test.mjs
  tests/attack-dialog-context-authority.test.mjs
  tools/report-attack-option-coverage.mjs
Due: eslint --fix, prettier --write

Attack Bonus round 8 correction #1 addendum: Action Authority groundwork (schema, registry, resolver, availability engine)
  docs/architecture/action-authority-v1.md
  docs/audits/v2-math-integrity-authority-ledger.md
  scripts/engine/actions/action-availability-engine.js
  scripts/engine/actions/action-definition-normalizer.js
  scripts/engine/actions/action-definition.js
  scripts/engine/actions/action-registry.js
  scripts/engine/actions/actor-action-resolver.js
  tests/action-authority-groundwork.test.mjs
Due: eslint --fix, prettier --write

Round 8 correction #2: harden Action Authority groundwork contracts
  docs/architecture/action-authority-v1.md
  docs/audits/generated/action-authority-normalization-audit-report.json
  docs/audits/generated/action-authority-normalization-audit-report.md
  docs/audits/v2-math-integrity-authority-ledger.md
  scripts/engine/actions/action-availability-engine.js
  scripts/engine/actions/action-definition-normalizer.js
  scripts/engine/actions/action-definition.js
  scripts/engine/actions/action-registry.js
  scripts/engine/actions/actor-action-resolver.js
  scripts/engine/combat/combat-option-resolver.js
  scripts/engine/combat/weapon-target-gate-classifiers.js
  tests/action-authority-groundwork-normalization-audit.test.mjs
  tests/action-authority-groundwork.test.mjs
Due: eslint --fix, prettier --write

Round 8 correction #3: finish Action Authority definition/entitlement split, fix state precedence and negation fail-open, finish classifier centralization, add value-level reconciliation
  docs/architecture/action-authority-v1.md
  docs/audits/generated/action-authority-normalization-audit-report.json
  docs/audits/generated/action-authority-normalization-audit-report.md
  docs/audits/v2-math-integrity-authority-ledger.md
  scripts/engine/actions/action-availability-engine.js
  scripts/engine/actions/action-definition-normalizer.js
  scripts/engine/actions/action-definition.js
  scripts/engine/actions/action-registry.js
  scripts/engine/actions/actor-action-resolver.js
  scripts/engine/combat/combat-option-resolver.js
  scripts/engine/combat/weapon-target-gate-classifiers.js
  tests/action-authority-groundwork-normalization-audit.test.mjs
  tests/action-authority-groundwork.test.mjs
  tools/action-authority-normalization-scan.mjs
  tools/report-action-authority-normalization-audit.mjs
Due: eslint --fix, prettier --write

Round 8 correction #4: value-preserving marker gates, nested fail-closed, identity never from source item, entitlement cloning, registry canonical-object idempotence
  docs/architecture/action-authority-v1.md
  docs/audits/generated/action-authority-normalization-audit-report.json
  docs/audits/generated/action-authority-normalization-audit-report.md
  docs/audits/v2-math-integrity-authority-ledger.md
  scripts/engine/actions/action-availability-engine.js
  scripts/engine/actions/action-definition-normalizer.js
  scripts/engine/actions/action-registry.js
  scripts/engine/actions/actor-action-resolver.js
  tests/action-authority-groundwork.test.mjs
Due: eslint --fix, prettier --write

Round 8 correction #5: causal blocker propagation replaces flat leaf filtering in ActionAvailabilityEngine
  docs/architecture/action-authority-v1.md
  docs/audits/v2-math-integrity-authority-ledger.md
  scripts/engine/actions/action-availability-engine.js
  tests/action-authority-groundwork.test.mjs
Due: eslint --fix, prettier --write

Damage Modifier Authority Audit: establish the SSOT map before any Damage migration
  docs/audits/v2-damage-modifier-authority-audit.md
  docs/audits/v2-math-integrity-authority-ledger.md
Due: prettier --write

Damage audit correction #1: close all 6 HOLD items, refine SSOT API
  docs/audits/v2-damage-modifier-authority-audit-correction-1.md
  docs/audits/v2-math-integrity-authority-ledger.md
Due: prettier --write

Implement Damage Modifier SSOT: fix confirmed live dice-shape bug
  docs/audits/v2-damage-modifier-authority-audit.md
  docs/audits/v2-math-integrity-authority-ledger.md
  scripts/combat/rolls/attacks.js
  scripts/combat/rolls/damage.js
  scripts/engine/combat/combat-option-resolver.js
  scripts/engine/combat/combat-roll-math.js
  scripts/engine/combat/combat-stat-rules.js
  scripts/engine/combat/damage-item-dice-contributions.js
  scripts/engine/combat/damage-talent-contributions.js
  scripts/patches/runtime-bugfix-hotfixes.js
  tests/damage-modifier-ssot.test.mjs
  tests/stock-droid-damage-math.test.mjs
Due: eslint --fix, prettier --write

Fix CI: teach combat-math SSOT guard the new Damage delegation shape
  tools/check-combat-math-ssot.mjs
Due: none

Damage SSOT correction round: close typed-stacking/stock-droid blockers, harden attack-option transport
  docs/audits/v2-damage-modifier-authority-audit.md
  docs/audits/v2-math-integrity-authority-ledger.md
  scripts/engine/combat/combat-option-resolver.js
  scripts/engine/combat/combat-roll-math.js
  scripts/engine/combat/workflow/combat-context-serializer.js
  tests/attack-damage-option-context-transport.test.mjs
  tests/damage-modifier-ssot.test.mjs
  tests/stock-droid-damage-math.test.mjs
Due: eslint --fix, prettier --write

Add SWSE-styled OOC chat cards via chat-surface-enhancer.js
  scripts/ui/chat/chat-surface-enhancer.js
  styles/system/chat-card-v2.css
  tests/helpers/foundry-shim/fakes/mini-dom.fake.mjs
  tests/ooc-chat-card-surface.test.mjs
Due: eslint --fix

Establish Roll Expression / Transformation Authority (static modifier / formula term / roll transform)
  docs/audits/v2-math-integrity-authority-ledger.md
  docs/audits/v2-roll-expression-transform-authority.md
  scripts/engine/combat/damage-talent-contributions.js
  scripts/engine/force/force-point-spend-coordinator.js
  scripts/engine/roll/expression/compose-roll.js
  scripts/engine/roll/expression/legacy-keyword-adapter.js
  scripts/engine/roll/expression/roll-contribution-types.js
  scripts/engine/roll/expression/roll-formula-term-resolver.js
  scripts/engine/roll/expression/roll-formula-validator.js
  scripts/engine/roll/expression/roll-transform-resolver.js
  tests/helpers/foundry-shim/fakes/test-roll.fake.mjs
  tests/roll-expression-transform-authority.test.mjs
Due: eslint --fix, prettier --write

Roll Expression Authority correction: fix invented reroll syntax and Force Point transaction ordering
  docs/audits/v2-math-integrity-authority-ledger.md
  docs/audits/v2-roll-expression-transform-authority.md
  scripts/engine/force/force-point-spend-coordinator.js
  scripts/engine/roll/expression/roll-contribution-types.js
  scripts/engine/roll/expression/roll-transform-resolver.js
  tests/helpers/foundry-shim/fakes/test-roll.fake.mjs
  tests/roll-expression-transform-authority.test.mjs
Due: eslint --fix, prettier --write

audit: establish V2 remaining-work ledger
  docs/audits/v2-remaining-work.md
Due: prettier --write

damage: close Dark Side Devotee force-type gap in canonical packet seam
  scripts/talents/DarkSidePowers.js
  tests/canonical-damage-packet-authority.test.mjs
  tests/dark-side-powers-damage-type-authority.test.mjs
Due: eslint --fix

docs: reflect Phase 1 damage packet fix in remaining-work ledger
  docs/audits/v2-remaining-work.md
Due: prettier --write

shields: wire Recharge/Restore Shields to ActorEngine primitive; add SR test coverage
  docs/audits/v2-remaining-work.md
  scripts/engine/skills/extra-skill-use-registry.js
  scripts/utils/skill-use-filter.js
  tests/shield-mitigation-resolver-authority.test.mjs
  tests/shield-recharge-skill-dispatch-authority.test.mjs
Due: eslint --fix, prettier --write

shields: fix Recharge Shields DC and roller/target conflation from review
  docs/audits/v2-remaining-work.md
  scripts/engine/skills/extra-skill-use-registry.js
  scripts/utils/skill-use-filter.js
  tests/dark-side-powers-damage-type-authority.test.mjs
  tests/shield-recharge-skill-dispatch-authority.test.mjs
Due: eslint --fix, prettier --write

shields: fix Recharge Shields to route through the real live registry
  data/extraskilluses.json
  docs/audits/v2-remaining-work.md
  packs/extraskilluses.db
  scripts/build/populate-extra-skill-uses.py
  scripts/engine/skills/extra-skill-use-registry.js
  scripts/sheets/v2/vehicle-sheet/crew-skill-router.js
  scripts/sheets/v2/vehicle-sheet/vehicle-crew-assignment-controls.js
  scripts/utils/skill-use-filter.js
  templates/actors/vehicle/v2/partials/vehicle-crew-assignment-panel.hbs
  tests/phase3-vehicle-operator-resolution.test.mjs
  tests/shield-recharge-skill-dispatch-authority.test.mjs
  tests/vehicle-crew-recharge-shields-routing.test.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

shields: enforce Endurance access requirements, correct ship-combat-action data
  data/extraskilluses.json
  data/ship-combat-actions.json
  docs/audits/v2-remaining-work.md
  packs/extraskilluses.db
  packs/ship-combat-actions.db
  scripts/governance/actor-engine/actor-engine.js
  scripts/utils/skill-use-filter.js
  tests/shield-recharge-skill-dispatch-authority.test.mjs
  tests/ship-combat-action-recharge-shields-data-authority.test.mjs
Due: eslint --fix, prettier --write

shields: unify droid identity authority between access gate and dispatch
  docs/audits/v2-remaining-work.md
  scripts/utils/skill-use-filter.js
  tests/shield-recharge-skill-dispatch-authority.test.mjs
Due: eslint --fix, prettier --write

docs: close Phase 1/2 in the remaining-work ledger, CI green on d27cfab
  docs/audits/v2-remaining-work.md
Due: prettier --write

actions: 136-record legacy-vs-new presentation reconciliation
  docs/audits/v2-remaining-work.md
  scripts/engine/actions/action-availability-engine.js
  tests/action-authority-136-record-reconciliation.test.mjs
  tests/action-authority-groundwork.test.mjs
Due: eslint --fix, prettier --write

actions: entitlement/discovery + presentation-shape reconciliation (Phase 3)
  docs/audits/v2-remaining-work.md
  scripts/engine/actions/action-availability-engine.js
  scripts/engine/actions/action-option-card-adapter.js
  scripts/engine/combat/combat-option-resolver.js
  tests/action-authority-136-record-reconciliation.test.mjs
  tests/action-authority-entitlement-reconciliation.test.mjs
  tests/action-authority-groundwork.test.mjs
  tests/action-authority-presentation-reconciliation.test.mjs
Due: eslint --fix, prettier --write

chargen: fix talent/tree focus not repainting the details rail
  scripts/apps/progression-framework/steps/talent-step.js
  tests/talent-step-focus-render-authority.test.mjs
Due: eslint --fix

ui: fix Attribute Mentor dialog not scrolling vertically
  styles/progression-framework/steps/attribute-mentor-dialog.css
  tests/attribute-mentor-dialog-scroll-containment.test.mjs
Due: none

Prepare v4.3.0 release manifest
  system.json
Due: prettier --write

Fix derived/panel-cache coherency: stale pre-async defenses surviving corrective renders
  docs/audits/v2-derived-panel-cache-coherency.md
  scripts/actors/derived/derived-generation.js
  scripts/actors/v2/base-actor.js
  scripts/governance/actor-engine/actor-engine.js
  scripts/sheets/v2/actor-sheet-base.js
  tests/v2-derived-async-applied-signature-coherency.test.mjs
  tests/v2-derived-panel-cache-coherency.test.mjs
  tests/v2-golden-defense-lifecycle.test.mjs
Due: eslint --fix, prettier --write

Runtime Cache Coherency Audit Round 1: fix four caches sharing PR #975's category error
  docs/audits/v2-runtime-cache-coherency-audit.md
  scripts/apps/progression-framework/steps/talent-step.js
  scripts/engine/abilities/AbilityEngine.js
  scripts/engine/suggestion/CandidatePoolBuilder.js
  scripts/engine/suggestion/SnapshotBuilder.js
  scripts/houserules/houserule-talent-combination.js
  tests/ability-engine-acquisition-cache-derived-coherency.test.mjs
  tests/candidate-pool-builder-derived-coherency.test.mjs
  tests/snapshot-builder-ability-authority.test.mjs
  tests/talent-step-block-deflect-cache-coherency.test.mjs
Due: eslint --fix, prettier --write

Fix derived/panel-cache coherency: stale pre-async defenses surviving corrective renders (#975)
  docs/audits/v2-derived-panel-cache-coherency.md
  scripts/actors/derived/derived-generation.js
  scripts/actors/v2/base-actor.js
  scripts/governance/actor-engine/actor-engine.js
  scripts/sheets/v2/actor-sheet-base.js
  tests/v2-derived-async-applied-signature-coherency.test.mjs
  tests/v2-derived-panel-cache-coherency.test.mjs
  tests/v2-golden-defense-lifecycle.test.mjs
Due: eslint --fix, prettier --write

Runtime Cache Coherency Audit Round 1: fix four caches sharing PR #975's category error (#976)
  docs/audits/v2-runtime-cache-coherency-audit.md
  scripts/apps/progression-framework/steps/talent-step.js
  scripts/engine/abilities/AbilityEngine.js
  scripts/engine/suggestion/CandidatePoolBuilder.js
  scripts/engine/suggestion/SnapshotBuilder.js
  scripts/houserules/houserule-talent-combination.js
  tests/ability-engine-acquisition-cache-derived-coherency.test.mjs
  tests/candidate-pool-builder-derived-coherency.test.mjs
  tests/snapshot-builder-ability-authority.test.mjs
  tests/talent-step-block-deflect-cache-coherency.test.mjs
Due: eslint --fix, prettier --write

Add sourcebook-authoritative feat metadata audit
  docs/audits/feat-sourcebook-metadata-verification.md
Due: prettier --write

Expand feat source audit through Clone Wars, Galaxy at War, and Force Unleashed
  docs/audits/feat-sourcebook-metadata-verification.md
Due: prettier --write

Audit Galaxy of Intrigue feat metadata against source
  docs/audits/feat-sourcebook-metadata-verification.md
Due: prettier --write

Audit Unknown Regions and Jedi Academy feats against source
  docs/audits/feat-sourcebook-metadata-verification.md
Due: prettier --write

Audit Scavenger's Guide to Droids feats against source
  docs/audits/feat-sourcebook-metadata-verification.md
Due: prettier --write

Audit Knights of the Old Republic feat metadata against source
  docs/audits/feat-sourcebook-metadata-verification.md
Due: prettier --write

Correct feat audit conclusions superseded by official errata
  docs/audits/feat-sourcebook-metadata-verification.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
