Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

Remove dangling vehicle-modification.css manifest entry and misplaced CSS
  system.json
  templates/actors/vehicle/vehicle-sheet.css
Due: prettier --write

Task 3: Retire dead chargen/levelup artifacts; restore over-deleted utilities
  scripts/apps/chargen/chargen-property-accessor.js
  scripts/apps/chargen/chargen-shared.js
  scripts/apps/chargen/chargen-talent-tree-graph.js
  scripts/apps/chargen/chargen-templates.js
  scripts/apps/talent-tree-visualizer.js
  scripts/core/load-templates.js
  scripts/load-templates.js
  styles/apps/chargen.css
  system.json
  templates/apps/chargen-background-mentor-suggestion.hbs
  templates/apps/chargen-class-required-dialog.hbs
  templates/apps/chargen-custom-language.hbs
  templates/apps/chargen-droid-import.hbs
  templates/apps/chargen-feat-suggestions-dialog.hbs
  templates/apps/chargen-skill-focus.hbs
  templates/apps/chargen-template-selection.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

fix: remove gm-droid-approval CSS from consolidated file, drop missing manifest entry
  styles/apps/swse-templates-consolidated.css
  system.json
Due: prettier --write

chore: remove dead template preloads and orphaned core/load-templates.js
  scripts/core/load-templates.js
  scripts/load-templates.js
Due: eslint --fix

Extract NPC helpers and retire dead SWSEV2NpcSheet class
  scripts/load-templates.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/npc-sheet.js
  scripts/sheets/v2/npc/npc-sheet-helpers.js
Due: eslint --fix

Delete orphaned modification/workbench prototype layer
  scripts/apps/base/modification-modal-shell.js
  scripts/apps/customization/adapters/armor-adapter.js
  scripts/apps/customization/adapters/blaster-adapter.js
  scripts/apps/customization/adapters/customization-adapter-base.js
  scripts/apps/customization/adapters/droid-adapter.js
  scripts/apps/customization/adapters/gear-adapter.js
  scripts/apps/customization/adapters/index.js
  scripts/apps/customization/adapters/melee-adapter.js
  scripts/apps/customization/customization-workbench-setup.js
  styles/customization-workbench.css
  templates/apps/base/modification-modal-shell.hbs
  templates/apps/customization-mod-card.html
  templates/apps/customization-workbench.html
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

fix(pr1): repair broken import paths and missing-pack compendium references
  scripts/apps/damage-app.js
  scripts/apps/droid-builder-app.js
  scripts/apps/modifier-inspector-app.js
  scripts/apps/skill-modifier-breakdown-app.js
  scripts/apps/store/store-checkout.js
  scripts/apps/xp-calculator.js
  scripts/chat/chat-commands.js
  scripts/combat/combat-automation.js
Due: eslint --fix

fix(pr2): convert JSONL data files to valid JSON arrays
  data/force-regimens.json
  data/tech-specialist-traits.json
Due: prettier --write

fix(pr3): remove stale JS duplicates from styles/scripts/
  styles/scripts/apps/progression-framework/shell/build-intent.js
  styles/scripts/apps/progression-framework/shell/progression-finalizer.js
  styles/scripts/apps/progression-framework/shell/progression-session.js
  styles/scripts/apps/progression-framework/shell/progression-shell.js
  styles/scripts/apps/progression-framework/steps/droid-builder-step.js
  styles/scripts/apps/progression-framework/steps/feat-step.js
  styles/scripts/apps/progression-framework/steps/final-droid-configuration-step.js
  styles/scripts/apps/progression-framework/steps/summary-step.js
  styles/scripts/apps/progression-framework/steps/talent-step.js
Due: eslint --fix

refactor(combat): consolidate damage bonus to single canonical authority
  scripts/combat/rolls/damage.js
  scripts/combat/utils/combat-utils.js
  scripts/engine/combat/resolvers/damage-reduction-resolver.js
  scripts/engine/combat/weapons-engine.js
Due: eslint --fix

chore(archive): fix stale imports in archived TypeDataModel files
  archive/data-models/README.md
  archive/data-models/character-data-model.js
  archive/data-models/vehicle-data-model.js
Due: eslint --fix, prettier --write

chore: delete archive directories and remove stale references
  archive/data-models/README.md
  archive/data-models/actor-data-model.js
  archive/data-models/character-data-model.js
  archive/data-models/item-data-models.js
  archive/data-models/vehicle-data-model.js
  docs/repo-structure.md
  scripts/audit/character-sheet-css-governance.allowlist.json
  styles/archive/sheets-v3/v3/components/buttons.css
  styles/archive/sheets-v3/v3/components/cards.css
  styles/archive/sheets-v3/v3/components/hover.css
  styles/archive/sheets-v3/v3/core/layout.css
  styles/archive/sheets-v3/v3/core/numbers.css
  styles/archive/sheets-v3/v3/core/typography.css
  styles/archive/sheets-v3/v3/core/variables.css
  styles/archive/sheets-v3/v3/partials/abilities.css
  styles/archive/sheets-v3/v3/partials/biography.css
  styles/archive/sheets-v3/v3/partials/combat.css
  styles/archive/sheets-v3/v3/partials/defenses.css
  styles/archive/sheets-v3/v3/partials/destiny.css
  styles/archive/sheets-v3/v3/partials/feats.css
  styles/archive/sheets-v3/v3/partials/force.css
  styles/archive/sheets-v3/v3/partials/header.css
  styles/archive/sheets-v3/v3/partials/hp-condition.css
  styles/archive/sheets-v3/v3/partials/identity.css
  styles/archive/sheets-v3/v3/partials/initiative.css
  styles/archive/sheets-v3/v3/partials/languages.css
  styles/archive/sheets-v3/v3/partials/racial.css
  styles/archive/sheets-v3/v3/partials/second-wind.css
  styles/archive/sheets-v3/v3/partials/skills.css
  styles/archive/sheets-v3/v3/partials/talents.css
  styles/archive/sheets-v3/v3/partials/xp.css
Due: eslint --fix, prettier --write

chore: delete orphaned weapons/weapons-engine.js; document export-aware scan
  docs/audits/dead-code-scan-methodology.md
  scripts/engine/combat/weapons/weapons-engine.js
Due: eslint --fix, prettier --write

PR 9: Delete 3 confirmed dead files, retain maintenance-app, update audit doc
  docs/audits/dead-code-scan-methodology.md
  scripts/applications/droid/droid-customization-router.js
  scripts/apps/store/store-id-fixer.js
  scripts/armor/armor-upgrade-system.js
Due: eslint --fix, prettier --write

PR 10: Audit dynamic runtime entrypoints; fix 2 stale import paths
  docs/audits/dynamic-runtime-entrypoints.md
  scripts/engine/combat/damage-engine-test.js
  scripts/governance/sentinel/integration-tests.js
Due: eslint --fix, prettier --write

PR 12: resolve 4 missing template findings from template audit
  docs/audits/template-audit.md
  templates/actors/character/v2/partials/maneuvers-panel.hbs
Due: node scripts/validate/validate-icon-keys.js, prettier --write

PR 13: delete deprecated/orphaned droid step callers for missing template findings
  docs/audits/template-audit.md
  scripts/apps/progression-framework/steps/droid-degree-step.js
  scripts/apps/progression-framework/steps/droid-model-step.js
Due: eslint --fix, prettier --write

feat: canonical combat-roll-math resolver for attack/damage parity
  scripts/combat/rolls/attacks.js
  scripts/engine/combat/combat-roll-math.js
  scripts/engine/combat/weapons-engine.js
Due: eslint --fix

feat: add core-web feature parity phase 1 audit artifacts
  data/feat-source-parity/core-web-feat-parity-manifest.json
  docs/audits/feat-source-parity-phase-1-core-web.md
  docs/audits/feat-source-parity-phase-1-implementation-prompt.md
  docs/audits/generated/core-web-feat-parity-report.json
  docs/audits/generated/core-web-feat-parity-report.md
  scripts/dev/audit-core-web-feat-parity.mjs
Due: prettier --write

chore: remove orphaned scripts/core/load-templates.js
  scripts/core/load-templates.js
Due: eslint --fix

feat: add feat source parity phase 2 (starships) and phase 3 (galaxy intrigue / skill challenges)
  data/feat-catalog.json
  data/feat-source-parity/galaxy-intrigue-feat-parity-manifest.json
  data/feat-source-parity/starships-feat-parity-manifest.json
  data/skill-challenges/skill-challenge-system-model.json
  docs/audits/feat-source-parity-phase-2-implementation-prompt.md
  docs/audits/feat-source-parity-phase-2-starships.md
  docs/audits/feat-source-parity-phase-3-galaxy-intrigue.md
  docs/audits/feat-source-parity-phase-3-implementation-prompt.md
  docs/audits/generated/galaxy-intrigue-feat-parity-report.json
  docs/audits/generated/galaxy-intrigue-feat-parity-report.md
  docs/audits/generated/starships-feat-parity-report.json
  docs/audits/generated/starships-feat-parity-report.md
  docs/design/skill-challenge-system-fit.md
  packs/feats.db
  scripts/dev/audit-galaxy-intrigue-feat-parity.mjs
  scripts/dev/audit-starships-feat-parity.mjs
Due: prettier --write

feat: add skill challenges phases 3.5e (feat hooks) and 3.5f (complete)
  data/feat-catalog.json
  data/skill-challenges/skill-challenge-feat-hooks.json
  docs/audits/generated/skill-challenge-complete-report.json
  docs/audits/generated/skill-challenge-complete-report.md
  docs/audits/generated/skill-challenge-feat-hooks-report.json
  docs/audits/generated/skill-challenge-feat-hooks-report.md
  docs/audits/generated/skill-challenge-manual-tracker-report.json
  docs/audits/generated/skill-challenge-manual-tracker-report.md
  docs/audits/generated/skill-challenge-readiness-report.json
  docs/audits/generated/skill-challenge-readiness-report.md
  docs/audits/skill-challenge-complete.md
  docs/audits/skill-challenge-feat-hooks.md
  docs/audits/skill-challenge-roll-integration.md
  docs/design/skill-challenge-complete-phase35f.md
  docs/design/skill-challenge-feat-hooks-phase35e.md
  docs/design/skill-challenge-roll-integration-phase35c.md
  packs/feats.db
  scripts/dev/audit-skill-challenge-complete.mjs
  scripts/dev/audit-skill-challenge-feat-hooks.mjs
  scripts/engine/skill-challenges/SkillChallengeEngine.js
  scripts/engine/skill-challenges/SkillChallengeFeatHooks.js
  scripts/engine/skill-challenges/SkillChallengeRollAdapter.js
  scripts/engine/skill-challenges/SkillChallengeState.js
  scripts/ui/shell/gm/GMSkillChallengeSurfaceService.js
  scripts/ui/shell/gm/controllers/GMSkillChallengeSurfaceController.js
  styles/apps/gm-holopad-concept-phase2.css
  templates/apps/gm/skill-challenges/skill-challenge-surface.hbs
  templates/chat/skill-challenge-card.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

feat: add implant rules easy win and phases 4a (rules/defense/CT) and 4b (UX/visibility)
  docs/audits/generated/implant-rules-report.json
  docs/audits/generated/implant-rules-report.md
  docs/audits/generated/implant-ux-visibility-report.json
  docs/audits/generated/implant-ux-visibility-report.md
  docs/audits/implant-rules.md
  docs/audits/implant-ux-visibility.md
  docs/design/implant-rules-easy-win.md
  docs/design/implant-rules-phase4b-ux-visibility.md
  scripts/actors/derived/defense-calculator.js
  scripts/actors/v2/base-actor.js
  scripts/dev/audit-implant-rules.mjs
  scripts/dev/audit-implant-ux-visibility.mjs
  scripts/engine/implants/ImplantRules.js
  scripts/governance/actor-engine/actor-engine.js
  scripts/items/equipment-data-resolver.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  scripts/sheets/v2/context/RowTransformers.js
  templates/actors/character/v2/partials/defenses-panel.hbs
  templates/actors/character/v2/partials/inventory-item-row.hbs
  templates/dialogs/entity/parts/body-item.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

feat: add implant phases 4c (policy/gear panel), 4d (content readiness), 4e (store/catalog)
  data/cybernetics/cybernetic-surgery-policy.json
  data/cybernetics/implant-tagging-policy.json
  data/feat-catalog.json
  data/implants/implant-reference-catalog.json
  data/implants/sample-implant-items.json
  data/store/implant-store-descriptions.json
  docs/audits/cybernetic-surgery-policy.md
  docs/audits/generated/cybernetic-surgery-policy-report.json
  docs/audits/generated/cybernetic-surgery-policy-report.md
  docs/audits/generated/implant-content-readiness-report.json
  docs/audits/generated/implant-content-readiness-report.md
  docs/audits/generated/implant-store-catalog-report.json
  docs/audits/generated/implant-store-catalog-report.md
  docs/audits/implant-content-readiness.md
  docs/audits/implant-store-catalog.md
  docs/design/cybernetic-surgery-policy-phase4c.md
  docs/design/implant-content-readiness-phase4d.md
  docs/design/implant-store-catalog-phase4e.md
  packs/equipment-tech.db
  packs/equipment.db
  packs/feats.db
  scripts/apps/store/store-description-resolver.js
  scripts/apps/store/store-glyph-map.js
  scripts/apps/store/store-main.js
  scripts/apps/store/store-shared.js
  scripts/dev/audit-cybernetic-surgery-policy.mjs
  scripts/dev/audit-implant-content-readiness.mjs
  scripts/dev/audit-implant-store-catalog.mjs
  scripts/engine/equipment/equipment-normalizer.js
  scripts/engine/inventory/InventoryEngine.js
  scripts/engine/store/categorizer.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/inventory-ui.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  scripts/sheets/v2/context/RowTransformers.js
  templates/actors/character/v2/partials/gear/implants-panel.hbs
  templates/actors/character/v2/partials/inventory-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

feat: add implant phases 4f (effects complete) and 4f1 (bio-stabilizer/poison immunity fix)
  data/implants/implant-effects.json
  data/implants/implant-reference-catalog.json
  data/implants/sample-implant-items.json
  docs/audits/generated/implant-effects-report.json
  docs/audits/generated/implant-effects-report.md
  docs/audits/implant-effects.md
  docs/design/implant-effects-phase4f.md
  packs/equipment-tech.db
  packs/equipment.db
  scripts/actors/derived/hp-calculator.js
  scripts/dev/audit-implant-effects.mjs
  scripts/engine/combat/combat-roll-math.js
  scripts/engine/combat/threshold-engine.js
  scripts/engine/implants/ImplantEffectRules.js
  scripts/engine/implants/ImplantRules.js
  scripts/engine/poison/poison-engine.js
  scripts/holonet/subsystems/gm-healing-trigger.js
  scripts/rolls/skills.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  templates/actors/character/v2/partials/gear/implants-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

feat: add feat source parity phase 5 (Scavengers/Droids) and phase 6 (Force Unleashed)
  data/feat-source-parity/force-unleashed-feat-parity-manifest.json
  data/feat-source-parity/scavengers-droids-feat-parity-manifest.json
  docs/audits/feat-source-parity-phase-5-implementation-prompt.md
  docs/audits/feat-source-parity-phase-5-scavengers-droids.md
  docs/audits/feat-source-parity-phase-6-force-unleashed.md
  docs/audits/feat-source-parity-phase-6-implementation-prompt.md
  docs/audits/generated/force-unleashed-feat-parity-report.json
  docs/audits/generated/force-unleashed-feat-parity-report.md
  docs/audits/generated/scavengers-droids-feat-parity-report.json
  docs/audits/generated/scavengers-droids-feat-parity-report.md
  docs/design/force-unleashed-feat-implementation-fit.md
  docs/design/scavengers-droids-feat-implementation-fit.md
  scripts/dev/audit-force-unleashed-feat-parity.mjs
  scripts/dev/audit-scavengers-droids-feat-parity.mjs
Due: prettier --write

feat: add feat source parity phase 7a (KotOR / Jedi Academy)
  data/feat-catalog.json
  data/feat-source-parity/kotor-jedi-academy-feat-parity-manifest.json
  docs/audits/feat-source-parity-phase-7a-implementation-prompt.md
  docs/audits/feat-source-parity-phase-7a-kotor-jedi-academy.md
  docs/audits/generated/kotor-jedi-academy-feat-parity-report.json
  docs/audits/generated/kotor-jedi-academy-feat-parity-report.md
  docs/design/kotor-jedi-academy-feat-implementation-fit.md
  packs/feats.db
  scripts/dev/audit-kotor-jedi-academy-feat-parity.mjs
Due: prettier --write

feat: add feat source parity phase 7b (Clone Wars / Galaxy at War)
  data/feat-source-parity/clone-wars-galaxy-at-war-feat-parity-manifest.json
  docs/audits/feat-source-parity-phase-7b-clone-wars-galaxy-at-war.md
  docs/audits/feat-source-parity-phase-7b-implementation-prompt.md
  docs/audits/generated/clone-wars-galaxy-at-war-feat-parity-report.json
  docs/audits/generated/clone-wars-galaxy-at-war-feat-parity-report.md
  docs/design/clone-wars-galaxy-at-war-feat-implementation-fit.md
  scripts/dev/audit-clone-wars-galaxy-at-war-feat-parity.mjs
Due: prettier --write

feat: add feat bucket taxonomy phase 7c.5 skeleton
  data/feat-taxonomy/expanded-feat-bucket-taxonomy.json
  data/feat-taxonomy/feat-bucket-taxonomy-migration-template.json
  docs/audits/feat-bucket-taxonomy-skeleton.md
  docs/audits/generated/feat-bucket-taxonomy-skeleton-report.json
  docs/audits/generated/feat-bucket-taxonomy-skeleton-report.md
  docs/design/feat-bucket-taxonomy-expanded-skeleton.md
  scripts/dev/audit-feat-bucket-taxonomy-skeleton.mjs
Due: prettier --write

feat: add feat source parity phase 7d (Scum & Villainy / Threats / Unknown Regions)
  data/feat-source-parity/scum-threats-unknown-feat-parity-manifest.json
  docs/audits/feat-source-parity-phase-7d-implementation-prompt.md
  docs/audits/feat-source-parity-phase-7d-scum-threats-unknown.md
  docs/audits/generated/scum-threats-unknown-feat-parity-report.json
  docs/audits/generated/scum-threats-unknown-feat-parity-report.md
  docs/design/scum-threats-unknown-feat-implementation-fit.md
  scripts/dev/audit-scum-threats-unknown-feat-parity.mjs
Due: prettier --write

chore: remove all Source URL entries from feat-catalog.json
  data/feat-catalog.json
Due: prettier --write

chore: remove all Source URL entries from packs/feats.db and forceregimens.db
  packs/feats.db
  packs/forceregimens.db
Due: none

feat: add feat taxonomy phase 8 (apply taxonomy to all feats)
  data/feat-catalog.json
  data/feat-taxonomy/expanded-feat-bucket-taxonomy.json
  data/feat-taxonomy/feat-taxonomy-application-map.json
  data/feat-taxonomy/feat-taxonomy-source-review-list.json
  docs/audits/feat-taxonomy-application.md
  docs/audits/generated/feat-taxonomy-application-report.json
  docs/audits/generated/feat-taxonomy-application-report.md
  docs/design/feat-taxonomy-application-phase8.md
  packs/feats.db
  scripts/dev/audit-feat-taxonomy-application.mjs
Due: prettier --write

feat: add feat implementation phase 9a (Core Rulebook accuracy)
  data/feat-implementation/core-rulebook-feat-implementation-backlog.json
  data/feat-implementation/core-rulebook-feat-implementation-review-list.json
  docs/audits/feat-implementation-readiness-core-rulebook.md
  docs/audits/generated/core-rulebook-feat-implementation-readiness-report.json
  docs/audits/generated/core-rulebook-feat-implementation-readiness-report.md
  docs/design/feat-implementation-readiness-phase9a-core-rulebook.md
  scripts/dev/audit-core-rulebook-feat-implementation-readiness.mjs
Due: prettier --write

feat: add feat implementation phase 9b (Web Enhancement accuracy)
  data/feat-implementation/web-enhancement-feat-implementation-backlog.json
  data/feat-implementation/web-enhancement-feat-implementation-review-list.json
  docs/audits/feat-implementation-readiness-web-enhancement.md
  docs/audits/generated/web-enhancement-feat-implementation-readiness-report.json
  docs/audits/generated/web-enhancement-feat-implementation-readiness-report.md
  docs/design/feat-implementation-readiness-phase9b-web-enhancement.md
  scripts/dev/audit-web-enhancement-feat-implementation-readiness.mjs
Due: prettier --write

feat: add feat implementation phase 9c (Starships accuracy)
  data/feat-implementation/starships-feat-implementation-backlog.json
  data/feat-implementation/starships-feat-implementation-review-list.json
  docs/audits/feat-implementation-readiness-starships.md
  docs/audits/generated/starships-feat-implementation-readiness-report.json
  docs/audits/generated/starships-feat-implementation-readiness-report.md
  docs/design/feat-implementation-readiness-phase9c-starships.md
  scripts/dev/audit-starships-feat-implementation-readiness.mjs
Due: prettier --write
