Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.
  scripts/apps/chargen/chargen-talent-tree-graph.js
  scripts/apps/progression-framework/shell/progression-finalizer.js
  scripts/apps/progression-framework/steps/talent-step.js
  scripts/apps/store/store-main.js
  scripts/data/prerequisite-checker.js
  scripts/engine/suggestion/equipment/equipment-use-evaluator.js
  scripts/engine/suggestion/equipment/gear-suggestions.js
  scripts/houserules/houserule-talent-combination.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/skills-ui.js
  styles/sheets/v2-concept-sheet.css
  templates/actors/character/v2-concept/partials/panels/skills-panel.hbs
  templates/actors/character/v2-concept/partials/tabs/skills-tab.hbs
  templates/apps/progression-framework/steps/talent-tree-browser.hbs
  tools/reports/equipment-suggestion-engine-use-fit-phase8-audit.json
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.
  packs/talents.db
  scripts/actors/vehicle/swse-vehicle-core.js
  scripts/apps/progression-framework/shell/progression-finalizer.js
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/apps/progression-framework/steps/force-secret-step.js
  scripts/apps/progression-framework/steps/force-technique-step.js
  scripts/apps/progression-framework/steps/talent-step.js
  scripts/data/prerequisite-checker.js
  scripts/engine/progression/utils/force-suite-resolution.js
  scripts/engine/registries/force-registry.js
  scripts/engine/roll/custom-roll-engine.js
  scripts/houserules/houserule-talent-combination.js
  scripts/rolls/roll-config.js
  scripts/sheets/v2/character-sheet/concept-context.js
  scripts/sheets/v2/character-sheet/form.js
  styles/sheets/v2-concept-sheet.css
  templates/actors/character/v2-concept/partials/tabs/force-suite-tab.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Prepare v3.3.2 release manifest
  system.json
Due: prettier --write

.
  packs/equipment-other.db
  packs/equipment-tech.db
  packs/equipment.db
  packs/extraskilluses.db
  scripts/apps/progression-framework/steps/talent-step.js
  scripts/data/prerequisite-checker.js
  scripts/engine/progression/feats/feat-choice-resolver.js
  scripts/engine/progression/prerequisites/actor-prerequisite-snapshot.js
  scripts/engine/progression/prerequisites/prerequisite-evaluator.js
  scripts/engine/progression/prerequisites/prerequisite-normalizer.js
  scripts/engine/progression/utils/class-suggestion-utilities.js
  scripts/engine/suggestion/SuggestionEngine.js
  scripts/engine/suggestion/SuggestionReasonEngine.js
  scripts/engine/suggestion/SuggestionScorer.js
  scripts/engine/suggestion/SuggestionService.js
  scripts/engine/suggestion/prestige-delay-calculator.js
Due: eslint --fix

Prepare v3.3.3 release manifest
  system.json
Due: prettier --write

.
  index.js
  scripts/applications/lightsaber/lightsaber-router.js
  scripts/apps/customization/item-customization-workbench.js
  scripts/engine/crafting/lightsaber-construction-engine.js
Due: eslint --fix

.
  packs/quick-locations.db
  scripts/actors/derived/derived-calculator.js
  scripts/apps/progression-framework/steps/attribute-step.js
  scripts/engine/progression/feats/feat-grant-entitlement-resolver.js
  scripts/engine/progression/utils/force-suite-resolution.js
  scripts/locations/location-library-seeds.js
  scripts/ui/shell/gm/GMLocationsSurfaceService.js
  scripts/ui/shell/gm/controllers/GMLocationsSurfaceController.js
  styles/apps/gm-holopad-concept-phase2.css
  system.json
  templates/apps/gm-datapad.hbs
  templates/apps/gm-datapad/partials/surface-toolbar.hbs
  templates/apps/gm-datapad/surfaces/home.hbs
  templates/apps/gm-datapad/surfaces/jobs.hbs
  templates/apps/gm-datapad/surfaces/jobs/kanban-and-detail.hbs
  templates/apps/gm-datapad/surfaces/jobs/review-payout-queues.hbs
  templates/apps/gm-datapad/surfaces/locations.hbs
  templates/apps/gm-datapad/surfaces/store.hbs
  templates/apps/gm-datapad/surfaces/trade.hbs
  templates/apps/gm-datapad/surfaces/trade/policy-panel.hbs
  templates/apps/gm-datapad/surfaces/trade/trade-board.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.
  scripts/scene-controls/swse-canvas-tools.js
  scripts/ui/shell/gm/GMLocationsSurfaceService.js
  scripts/ui/shell/gm/controllers/GMFactionRelationshipSurfaceController.js
  scripts/ui/shell/gm/controllers/GMIntelSurfaceController.js
  scripts/ui/shell/gm/controllers/GMLocationsSurfaceController.js
  scripts/ui/shell/gm/controllers/GMSurfaceControllerRegistry.js
  scripts/ui/shell/gm/utils/gm-datapad-modal.js
  styles/apps/gm-holopad-concept-phase2.css
  system.json
  templates/apps/gm-datapad/surfaces/locations.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Prepare v3.3.4 release manifest
  system.json
Due: prettier --write

.
  scripts/ui/shell/gm/GMIntelSurfaceService.js
  scripts/ui/shell/gm/controllers/GMIntelSurfaceController.js
  scripts/ui/shell/gm/controllers/GMLocationsSurfaceController.js
  styles/apps/gm-holopad-concept-phase2.css
  templates/apps/gm-datapad/surfaces/intel.hbs
  templates/apps/gm-datapad/surfaces/locations.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

.
  packs/classes.db
  scripts/apps/chargen/chargen-finalizer.js
  scripts/apps/progression-framework/shell/progression-finalizer.js
  scripts/engine/progression/data/progression-data.js
  scripts/engine/progression/engine/force-power-engine.js
  scripts/engine/progression/feats/feat-grant-entitlement-resolver.js
  scripts/engine/progression/utils/force-suite-resolution.js
  scripts/engine/suggestion/CandidatePoolBuilder.js
  scripts/utils/active-effect-change-utils.js
Due: eslint --fix

Prepare v3.3.5 release manifest
  system.json
Due: prettier --write

.
  packs/classes.db
  packs/quick-locations.db
  scripts/actors/v2/base-actor.js
  scripts/actors/v2/character-actor.js
  scripts/apps/customization/item-customization-workbench.js
  scripts/apps/progression-framework/shell/progression-finalizer.js
  scripts/apps/progression-framework/shell/progression-reconciler.js
  scripts/apps/progression-framework/steps/force-technique-step.js
  scripts/apps/store/store-main.js
  scripts/data/prerequisite-checker.js
  scripts/dialogs/entity-dialog/effect-intent-engine.js
  scripts/engine/crafting/lightsaber-construction-engine.js
  scripts/engine/progression/engine/force-secret-engine.js
  scripts/engine/progression/engine/force-secret-suggestion-engine.js
  scripts/engine/progression/engine/force-technique-engine.js
  scripts/engine/progression/utils/levelup-finalization-audit.js
  scripts/engine/roll/roll-core.js
  scripts/engine/store/loader.js
  scripts/governance/actor-engine/actor-engine.js
  scripts/holonet/subsystems/holonet-messenger-service.js
  scripts/items/swse-item-sheet.js
  scripts/rolls/skills.js
  scripts/ui/shell/gm/GMJobBoardSurfaceService.js
  scripts/ui/shell/gm/controllers/GMJobBoardSurfaceController.js
  scripts/utils/force-knowledge.js
  scripts/utils/item-filters.js
  scripts/utils/skill-normalization.js
  styles/apps/gm-datapad.css
  styles/apps/item-customization-workbench.css
  styles/dialogs/entity-dialog.css
  templates/apps/customization/item-customization-workbench.hbs
  templates/apps/gm-datapad/surfaces/jobs.hbs
  templates/apps/gm-datapad/surfaces/jobs/kanban-and-detail.hbs
  templates/apps/gm-datapad/surfaces/jobs/review-payout-queues.hbs
  templates/dialogs/entity/parts/effect-builder-wizard.hbs
  templates/dialogs/entity/parts/effects.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

.
  assets/ui/customization/lightsaber-blade-color-picker.svg
  assets/ui/customization/lightsaber-hilt-classic.svg
  assets/ui/customization/lightsaber-hilt-crossguard.svg
  assets/ui/customization/lightsaber-hilt-curved.svg
  assets/ui/customization/lightsaber-hilt-double.svg
  assets/ui/customization/lightsaber-hilt-tech.svg
  assets/ui/customization/lightsaber-modification-icon.svg
  assets/ui/customization/lightsaber-outline-classic.svg
  assets/ui/customization/lightsaber-outline-guarded.svg
  assets/ui/customization/lightsaber-outline-shoto.svg
  assets/ui/customization/lightsaber-preview-panel.svg
  scripts/actors/derived/derived-calculator.js
  scripts/actors/v2/character-actor.js
  scripts/apps/customization/item-customization-workbench.js
  scripts/apps/progression-framework/shell/prereq-adapter.js
  scripts/data/prerequisite-checker.js
  scripts/engine/crafting/lightsaber-construction-engine.js
  scripts/engine/progression/prerequisites/actor-prerequisite-snapshot.js
  scripts/engine/progression/prerequisites/legacy-prereq-registry.js
  scripts/engine/progression/prerequisites/prerequisite-evaluator.js
  scripts/engine/progression/prerequisites/prerequisite-normalizer.js
  scripts/engine/suggestion/force-choice-context.js
  scripts/engine/visuals/weapon-visual-profile-resolver.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/concept-context.js
  scripts/utils/force-knowledge.js
  styles/apps/item-customization-workbench.css
  templates/actors/character/v2-concept/partials/panels/skills-panel.hbs
  templates/actors/character/v2/partials/skills-panel.hbs
  templates/apps/customization/item-customization-workbench.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

.
  archive/data-models/README.md
  archive/data-models/actor-data-model.js
  archive/data-models/character-data-model.js
  archive/data-models/item-data-models.js
  archive/data-models/vehicle-data-model.js
  scripts/apps/chargen/chargen-force-powers.js
  scripts/apps/chargen/chargen-main.js
  scripts/apps/gm-datapad.js
  scripts/apps/nonheroic-units-browser.js
  scripts/apps/progression-framework/shell/progression-finalizer.js
  scripts/engine/StarshipManeuversEngine.js
  scripts/engine/combat/ui/CombatUIAdapter.js
  scripts/engine/poison/poison-engine.js
  scripts/engine/progression/ProgressionSession.js
  scripts/engine/progression/engine/force-progression.js
  scripts/engine/species/rage-engine.js
  scripts/engine/suggestion/prestige-delay-calculator.js
  scripts/governance/actor-engine/actor-engine.js
  scripts/governance/mutation/batch-1-validation.js
  scripts/sheets/v2/npc-sheet.js
Due: eslint --fix, prettier --write

.
  assets/icons/force-powers/cryokinesis.png
  assets/icons/force-powers/force-storm-fucg.png
  assets/icons/force-secret.png
  assets/icons/force-technique.png
  index.js
  scripts/actors/vehicle/vehicle-precreate-hooks.js
  scripts/apps/character-import-wizard.js
  scripts/core/compendium-pack-registration-repair.js
  scripts/engine/combat/action/action-economy-hooks.js
  scripts/engine/combat/damage-engine.js
  scripts/engine/upgrades/UpgradeService.js
  scripts/holonet/subsystems/holonet-messenger-service.js
  scripts/registries/feat-pack-seeder.js
  scripts/ui/shell/gm/controllers/GMFactionRelationshipSurfaceController.js
  tools/validate-data.js
  tools/validation/validate-content-completeness.mjs.tmp
Due: eslint --fix

.
  scripts/engine/crafting/lightsaber-construction-engine.js
  scripts/engine/store/transaction-engine.js
  scripts/holonet/subsystems/holonet-messenger-service.js
  scripts/ui/shell/gm/GMApprovalOperationsService.js
Due: eslint --fix

.
  scripts/engine/customization/droid-customization-engine.js
  scripts/engine/customization/vehicle-customization-engine.js
  scripts/engine/store/transaction-engine.js
  scripts/holonet/subsystems/holonet-messenger-service.js
  system.json
Due: eslint --fix, prettier --write

.
  scripts/allies/faction-registry-service.js
  scripts/engine/import/npc-template-importer-engine.js
  scripts/ui/shell/gm/utils/gm-contact-actorizer-service.js
Due: eslint --fix

.
  scripts/core/render-assertions.js
  scripts/sheets/v2/character-sheet-diagnostics.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/context/PostRenderAssertions.js
  scripts/sheets/v2/contract-enforcer.js
Due: eslint --fix

.
  scripts/engine/progression/ProgressionCompiler.js
  scripts/engine/progression/forecast/suggestion-context-adapter.js
  scripts/engine/progression/governance/architecture-governance.js
Due: eslint --fix

.
  scripts/engine/combat/CombatEngine.js
  scripts/engine/customization/tech-specialist-modification-service.js
  scripts/engine/effects/active-effects-engine.js
  scripts/engine/interactions/drop-resolution-engine.js
  scripts/engine/interactions/dropped-item-clone.js
  scripts/engine/interactions/vehicle-drop-engine.js
  scripts/utils/security-utils.js
  templates/dialogs/entity/entity-dialog.hbs
  templates/dialogs/entity/parts/body-custom-skill.hbs
  templates/dialogs/entity/parts/body-feat.hbs
  templates/dialogs/entity/parts/body-force-power.hbs
  templates/dialogs/entity/parts/body-shield.hbs
  templates/dialogs/entity/parts/body-talent.hbs
  templates/dialogs/entity/parts/effects.hbs
  templates/items/base/item-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Apply backcheck corrections, static hardening, and performance improvements
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/core/settings.js
  scripts/drag-drop/drop-handler.js
  scripts/engine/customization/droid-customization-engine.js
  scripts/engine/customization/tech-specialist-modification-service.js
  scripts/engine/customization/vehicle-customization-engine.js
  scripts/engine/store/transaction-engine.js
  scripts/services/drop-service.js
  scripts/sheets/v2/character-sheet.js
  scripts/utils/performance-utils.js
Due: eslint --fix

Apply cache pass optimizations (passes 1-2)
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/language-step.js
  scripts/apps/progression-framework/steps/talent-step.js
  scripts/engine/abilities/AbilityEngine.js
  scripts/engine/suggestion/CandidatePoolBuilder.js
  scripts/engine/suggestion/CompendiumResolver.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/context/RowTransformers.js
Due: eslint --fix

Apply cache pass optimizations (pass 3)
  scripts/actors/derived/derived-calculator.js
  scripts/actors/v2/base-actor.js
Due: eslint --fix

Apply derived performance pass optimizations
  scripts/actors/derived/derived-calculator.js
  scripts/engine/abilities/ability-execution-coordinator.js
  scripts/engine/effects/modifiers/ModifierEngine.js
Due: eslint --fix

Convert nonheroic JSON data to array-based format
  data/nonheroic/nonheroic_templates.json
  data/nonheroic/nonheroic_units.json
  scripts/apps/nonheroic-units-browser.js
  scripts/build/sanitize-nonheroic-units.js
  tools/validate-data.js
Due: eslint --fix, prettier --write

Apply cache pass optimizations (pass 4)
  scripts/actors/derived/derived-calculator.js
  scripts/engine/effects/modifiers/ModifierEngine.js
Due: eslint --fix

Apply cache pass optimizations (pass 5)
  scripts/actors/derived/bab-calculator.js
  scripts/actors/derived/defense-calculator.js
  scripts/actors/derived/derived-calculator.js
Due: eslint --fix

Apply audit closeout pass optimizations (1 of N)
  docs/audits/audit-closeout-performance-followup.md
  docs/audits/v13-final-stabilization-wave-handoff.md
  scripts/engine/customization/tech-specialist-modification-service.js
  scripts/species/species-reroll-handler.js
  scripts/ui/shell/AlliesSurfaceService.js
  scripts/ui/shell/gm/utils/gm-party-roster-service.js
Due: eslint --fix, prettier --write

Apply stub placeholder pass optimizations
  docs/audits/stub-placeholder-closeout-pass.md
  scripts/apps/customization/adapters/lightsaber-adapter.js
  scripts/apps/customization/adapters/weapon-adapter.js
  scripts/apps/upgrade-rules-engine.js
  scripts/engine/roll/roll-core.js
  scripts/governance/ui/slot-resolution-flow.js
  scripts/ui/shell/AlliesSurfaceController.js
  scripts/ui/shell/AlliesSurfaceService.js
Due: eslint --fix, prettier --write

Reroute deprecated shims and remove phase-2 deprecated files
  scripts/applications/lightsaber/lightsaber-construction-app.js
  scripts/apps/armor/armor-modification-app.js
  scripts/apps/chargen/chargen-talent-tree-graph.js
  scripts/apps/combat/combat-roll-config-dialog.js
  scripts/apps/gear/gear-modification-app.js
  scripts/apps/store/store-loading-overlay.js
  scripts/apps/store/store-main.js
  scripts/apps/swse-levelup.js
  scripts/apps/upgrade-rules-engine.js
  scripts/apps/weapons/melee-modification-app.js
  scripts/data/authority/prerequisite-text-helpers.js
  scripts/data/prerequisite-checker.js
  scripts/engine/effects/current-condition-resolver.js
  scripts/mentor/mentor-suggestion-dialogues.js
  scripts/registries/feat-registry.js
  scripts/registries/talent-registry.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  scripts/swse-actor.js
  styles/apps/combat-roll-config.css
  templates/apps/combat/combat-roll-config-dialog.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Replace Pazaak card WebP templates with SVG
  assets/cards/pazaak/card-back-template.svg
  assets/cards/pazaak/card-back-template.webp
  assets/cards/pazaak/card-front-template.svg
  assets/cards/pazaak/card-front-template.webp
  scripts/games/games/pazaak/pazaak-view-model.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
