Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

Phase 9B: Extend Sentinel with embedded ownership guard
  scripts/core/mutation/embedded-mutation-layer.js
Due: eslint --fix

Phase 10B: Hook Mutation Governance & Recursive Guard Implementation
  scripts/actors/engine/actor-engine.js
  scripts/hooks/actor-hooks.js
  scripts/hooks/assets-hooks.js
  scripts/hooks/follower-hooks.js
  scripts/hooks/force-power-hooks.js
  scripts/hooks/starship-maneuver-hooks.js
  scripts/progression/modules/language-module.js
  scripts/progression/utils/snapshot-manager.js
Due: eslint --fix

Phase 10: Add Sentinel Hook Mutation Detection Layer
  scripts/core/sentinel/layers/hooks-mutation-layer.js
  scripts/core/sentinel/sentinel-registry.js
Due: eslint --fix

Phase 11A: Create MigrationEngine & Refactor Migration Layer
  scripts/core/migration-manager.js
  scripts/engine/migration/MigrationEngine.js
  scripts/maintenance/world-repair.js
Due: eslint --fix

Phase 11C & 11D: Add Migration Context Guard & Sentinel Extension
  scripts/actors/engine/actor-engine.js
  scripts/core/sentinel/layers/migration-mutation-layer.js
  scripts/core/sentinel/sentinel-registry.js
Due: eslint --fix

Fix 8 governance violations: eliminate fallback mutation paths and enforce ActorEngine routing
  scripts/data/force-points.js
  scripts/hooks/actor-hooks.js
  scripts/mentor/mentor-survey.js
  scripts/migrations/json-backed-ids-migration.js
  scripts/progression/engine/equipment-engine.js
  scripts/progression/modules/language-module.js
  scripts/progression/utils/snapshot-manager.js
Due: eslint --fix

Fix: Restore ClassSuggestionEngine.js to suggestion domain
  scripts/engines/suggestion/ClassSuggestionEngine.js
Due: eslint --fix

Fix: Correct import path in SuggestionService
  scripts/engines/suggestion/SuggestionService.js
Due: eslint --fix

Phase 2.0: Atomic Effects Domain Migration
  scripts/engines/effects/active-effects-engine.js
  scripts/engines/effects/modifiers/ModifierEngine.js
  scripts/engines/effects/modifiers/ModifierTypes.js
  scripts/engines/effects/modifiers/ModifierUtils.js
  scripts/engines/effects/modifiers/StructuredRuleEvaluator.js
Due: eslint --fix

Phase 2.1: Automated Import Rewrite
  scripts/actors/derived/derived-calculator.js
  scripts/actors/engine/actor-engine.js
  scripts/actors/v2/base-actor.js
  scripts/apps/modifier-inspector-app.js
  scripts/apps/skill-modifier-breakdown-app.js
  scripts/engines/effects/modifiers/ModifierEngine.js
Due: eslint --fix

Phase 3.0: Atomic Force Domain Migration
  scripts/engines/force/force-engine.js
  scripts/engines/force/force-power-categories.js
Due: eslint --fix

Phase 3.1: Automated Import Rewrite
  scripts/engines/force/force-power-categories.js
  scripts/engines/suggestion/ForceOptionSuggestionEngine.js
Due: eslint --fix

Phase 4.0: Atomic Talent Domain Migration
  scripts/engines/talent/TalentNormalizerEngine.js
  scripts/engines/talent/dark-side-devotee-mechanics.js
  scripts/engines/talent/dark-side-talent-mechanics.js
  scripts/engines/talent/light-side-talent-mechanics.js
  scripts/engines/talent/noble-talent-mechanics.js
  scripts/engines/talent/prestige-talent-mechanics.js
  scripts/engines/talent/scoundrel-talent-mechanics.js
  scripts/engines/talent/scout-talent-mechanics.js
  scripts/engines/talent/soldier-talent-mechanics.js
  scripts/engines/talent/squad-actions-mechanics.js
  scripts/engines/talent/talent-action-linker.js
  scripts/engines/talent/talent-effect-engine.js
  scripts/engines/talent/talents.js
Due: eslint --fix

Phase 4.1: Automated Import Rewrite & Regex Fix
  scripts/combat/utils/combat-actions-mapper.js
  scripts/engines/talent/TalentNormalizerEngine.js
  scripts/engines/talent/dark-side-devotee-mechanics.js
  scripts/engines/talent/dark-side-talent-mechanics.js
  scripts/engines/talent/light-side-talent-mechanics.js
  scripts/engines/talent/noble-talent-mechanics.js
  scripts/engines/talent/prestige-talent-mechanics.js
  scripts/engines/talent/scoundrel-talent-mechanics.js
  scripts/engines/talent/scout-talent-mechanics.js
  scripts/engines/talent/soldier-talent-mechanics.js
  scripts/engines/talent/squad-actions-mechanics.js
  scripts/engines/talent/talent-effect-engine.js
  scripts/hooks/talent-effects-hooks.js
Due: eslint --fix

Phase 5.0: Atomic Crew Domain Migration
  scripts/engines/crew/crew-interaction-engine.js
  scripts/engines/crew/follower-talent-config.js
Due: eslint --fix

Phase 5.1: Automated Import Rewrite
  scripts/hooks/follower-hooks.js
Due: eslint --fix

Phase 6.0: Atomic Mentor Domain Consolidation & Migration
  scripts/engine/mentor/mentor-intensity-atoms.js
  scripts/engines/mentor/aurebesh-translator.js
  scripts/engines/mentor/index.js
  scripts/engines/mentor/mentor-decision-logger.js
  scripts/engines/mentor/mentor-inheritance.js
  scripts/engines/mentor/mentor-intensity-atoms.js
  scripts/engines/mentor/mentor-json-loader.js
  scripts/engines/mentor/mentor-memory.js
  scripts/engines/mentor/mentor-reason-atoms.js
  scripts/engines/mentor/mentor-reason-judgment-map.js
  scripts/engines/mentor/mentor-reason-renderer.js
  scripts/engines/mentor/mentor-resolver.js
  scripts/engines/mentor/mentor-selector.js
  scripts/engines/mentor/mentor-story-resolver.js
  scripts/engines/mentor/mentor-synthesis-config.js
  scripts/engines/mentor/validate-mentor-dialogue.js
Due: eslint --fix

Phase 6.1: Automated Import Rewrite & Mentor-Dialogues Move
  scripts/apps/chargen-narrative.js
  scripts/apps/chargen/chargen-backgrounds.js
  scripts/apps/chargen/chargen-class.js
  scripts/apps/chargen/chargen-feats-talents.js
  scripts/apps/chargen/chargen-main.js
  scripts/apps/levelup/levelup-class.js
  scripts/apps/levelup/levelup-main.js
  scripts/apps/mentor/mentor-suggestion-dialog.js
  scripts/apps/mentor/mentor-survey.js
  scripts/engine/systems/mentor/mentor-judgment-engine.js
  scripts/engines/mentor/mentor-dialogues.data.js
  scripts/engines/mentor/mentor-dialogues.js
  scripts/engines/mentor/mentor-inheritance.js
  scripts/engines/mentor/mentor-json-loader.js
  scripts/engines/mentor/mentor-reason-judgment-map.js
  scripts/engines/mentor/mentor-resolver.js
  scripts/engines/mentor/mentor-selector.js
  scripts/engines/mentor/mentor-story-resolver.js
Due: eslint --fix

Phase 8.0: Atomic Combat Engine Domain Migration
  scripts/engines/combat/ARCHITECTURE.md
  scripts/engines/combat/CombatEngine.js
  scripts/engines/combat/SWSEInitiative.js
  scripts/engines/combat/damage-engine-test.js
  scripts/engines/combat/damage-engine.js
  scripts/engines/combat/massive-damage-engine.js
  scripts/engines/combat/scale-engine.js
  scripts/engines/combat/starship/enhanced-commander.js
  scripts/engines/combat/starship/enhanced-engineer.js
  scripts/engines/combat/starship/enhanced-pilot.js
  scripts/engines/combat/starship/enhanced-shields.js
  scripts/engines/combat/starship/subsystem-engine.js
  scripts/engines/combat/starship/vehicle-turn-controller.js
  scripts/engines/combat/subsystems/vehicle/index.js
  scripts/engines/combat/subsystems/vehicle/vehicle-collisions.js
  scripts/engines/combat/subsystems/vehicle/vehicle-dogfighting.js
  scripts/engines/combat/threshold-engine.js
  scripts/engines/combat/ui/CombatUIAdapter.js
  scripts/engines/combat/vehicles/utils/vehicle-calculations.js
  scripts/engines/combat/vehicles/utils/vehicle-shared.js
Due: eslint --fix, prettier --write

Phase 8.1: Automated Import Rewrite for Combat Domain
  scripts/actors/v2/base-actor.js
  scripts/apps/damage-app.js
  scripts/combat/swse-combat.js
  scripts/combat/systems/enhanced-combat-system.js
  scripts/sheets/v2/vehicle-sheet.js
Due: eslint --fix

Phase 9.0: Atomic Infrastructure Hooks Migration
  scripts/infrastructure/hooks/actor-hooks.js
  scripts/infrastructure/hooks/assets-hooks.js
  scripts/infrastructure/hooks/combat-hooks.js
  scripts/infrastructure/hooks/destiny-hooks.js
  scripts/infrastructure/hooks/directory-hooks.js
  scripts/infrastructure/hooks/follower-hooks.js
  scripts/infrastructure/hooks/force-power-hooks.js
  scripts/infrastructure/hooks/hooks-registry.js
  scripts/infrastructure/hooks/index.js
  scripts/infrastructure/hooks/init-hooks.js
  scripts/infrastructure/hooks/levelup-sheet-hooks.js
  scripts/infrastructure/hooks/starship-maneuver-hooks.js
  scripts/infrastructure/hooks/suggestion-hooks.js
  scripts/infrastructure/hooks/talent-effects-hooks.js
  scripts/infrastructure/hooks/ui-hooks.js
Due: eslint --fix

Phase 9.1: Automated Import Rewrite for Infrastructure Hooks
  scripts/core/v2-render-guard.js
  scripts/debug/npc-render-probe.js
  scripts/mentor/mentor-reflective-init.js
Due: eslint --fix

Phase 9.2: CRITICAL FIX - Update index.js import paths
  index.js
Due: eslint --fix

Phase 10.0: Atomic Governance Domain Migration
  scripts/governance/actor-engine/actor-engine.js
  scripts/governance/mutation/MutationInterceptor.js
  scripts/governance/mutation/batch-1-validation.js
  scripts/governance/mutation/embedded-mutation-layer.js
  scripts/governance/sentinel/derived-integrity-layer.js
  scripts/governance/sentinel/hook-investigator.js
  scripts/governance/sentinel/integration-tests.js
  scripts/governance/sentinel/investigator.js
  scripts/governance/sentinel/layers/combat-layer.js
  scripts/governance/sentinel/layers/css-layer.js
  scripts/governance/sentinel/layers/data-layer.js
  scripts/governance/sentinel/layers/hooks-layer.js
  scripts/governance/sentinel/layers/hooks-mutation-layer.js
  scripts/governance/sentinel/layers/migration-mutation-layer.js
  scripts/governance/sentinel/layers/performance-layer.js
  scripts/governance/sentinel/layers/promises-layer.js
  scripts/governance/sentinel/layers/render-layer.js
  scripts/governance/sentinel/layers/utility-layer.js
  scripts/governance/sentinel/mutation-integrity-layer.js
  scripts/governance/sentinel/sentinel-core.js
  scripts/governance/sentinel/sentinel-registry.js
  scripts/governance/sentinel/sentry.js
  scripts/governance/sentinel/transaction-verification.js
Due: eslint --fix

Refactor: Fix broken imports, consolidate modules, and integrate auditors
  docs/_archive/scripts/actors/v1/base/swse-actor-base.js
  docs/_archive/scripts/actors/v1/character/swse-character-sheet.js
  docs/_archive/scripts/actors/v1/droid/swse-droid-handler.js
  docs/_archive/scripts/actors/v1/droid/swse-droid.js
  docs/_archive/scripts/actors/v1/npc/swse-npc.js
  docs/_archive/scripts/add-feat-effects.js
  docs/_archive/scripts/array-to-items.js
  docs/_archive/scripts/fix-talent-effect-validation.js
  docs/_archive/scripts/mentor-reflective-dialogue.js
  docs/_archive/scripts/migrate-starship-maneuvers.js
  docs/_archive/scripts/npc-level3.js
  docs/_archive/scripts/organize-compendiums.js
  docs/_archive/scripts/populate-force-compendiums.js
  docs/_archive/scripts/talent-ssot-refactor.js
  docs/_archive/scripts/update-species-traits-migration.js
  index.js
  scripts/apps/mentor/mentor-dialogues.js
  scripts/apps/store/review-thread-assembler.test.js
  scripts/combat/rolls/damage.js
  scripts/debug/appv2-contract-validator.js
  scripts/debug/debug-character-sheet.js
  scripts/debug/debug-settings.js
  scripts/debug/npc-render-probe.js
  scripts/debug/smoke-test.js
  scripts/debug/v2-slippage-lint.js
  scripts/engines/suggestion/SnapshotBuilder.test.js
  scripts/governance/sentinel/css-auditor.js
  scripts/governance/sentinel/migration-auditor.js
  scripts/governance/sentinel/sentinel-auditors.js
  scripts/sheets/v2/npc-sheet.js
Due: eslint --fix

Fix circular dependency: Extract XP calculation to shared layer
  scripts/engines/progression/xp-engine.js
  scripts/engines/shared/xp-system.js
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix

Break governance ↔ progression circular dependency via shared/xp-system extraction
  scripts/actors/engine/actor-engine.js
  scripts/engine/progression/xp-engine.js
  scripts/engine/shared/xp-system.js
Due: eslint --fix

cheers
  styles/sheets/v2-sheet.css
  templates/actors/character/tabs/combat-tab.hbs
  templates/actors/character/v2/partials/attacks-panel.hbs
Due: node scripts/validate/validate-icon-keys.js

clearn up
  .claude/settings.local.json
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/partials-check.yml
  .husky/pre-commit
  PHASE-3-PLANNING/01-eslint-rules-specification.md
  PHASE-3-PLANNING/02-test-suite-specification.md
  PHASE-3-PLANNING/03-architecture-documentation-scaffold.md
  PHASE-3-PLANNING/04-phase-3-execution-directive.md
  PHASE-3-PLANNING/README.md
  package-lock.json
Due: prettier --write

Update repo_skeleton.txt
  repo_skeleton.txt
Due: none

Add advanced combat UI templates and styling
  scripts/sheets/v2/character-sheet.js
  styles/sheets/v3/partials/combat.css
  templates/actors/character/v2/partials/combat-action-card.hbs
  templates/actors/character/v2/partials/combat-action-table.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Add tactical roll configuration dialog system
  scripts/apps/combat/combat-roll-config-dialog.js
  scripts/engines/combat/CombatEngine.js
  scripts/sheets/v2/character-sheet.js
  styles/apps/combat-roll-config.css
  templates/apps/combat/combat-roll-config-dialog.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Add initiative control system
  scripts/apps/combat/combat-roll-config-dialog.js
  scripts/engines/combat/CombatEngine.js
  styles/sheets/v3/partials/initiative.css
  templates/actors/character/v2/partials/initiative-control.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Implement unified damage resolution engine architecture
  scripts/engines/combat/CombatEngine.js
  scripts/engines/combat/damage-resolution-engine.js
  scripts/engines/combat/threshold-engine.js
Due: eslint --fix
