Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

feat(combat): add character weapon damage packet builder
  scripts/engine/combat/builders/weapon-damage-packet-builder.js
Due: eslint --fix

feat(combat): enrich weapon damage packets at runtime
  scripts/engine/combat/damage-packet-builder.js
Due: eslint --fix

feat(combat): load damage profiles at ready
  scripts/infrastructure/hooks/init-hooks.js
Due: eslint --fix

fix(combat): apply rolled weapon damage as packets
  scripts/combat/rolls/damage.js
Due: eslint --fix

feat(combat): overlay area damage profiles on weapon packets
  scripts/engine/combat/builders/weapon-damage-packet-builder.js
Due: eslint --fix

fix(combat): keep area miss packet components in sync
  scripts/engine/combat/builders/weapon-damage-packet-builder.js
Due: eslint --fix

chore(combat): allow source-backed area profile metadata
  data/combat/damage-profiles.schema.json
Due: prettier --write

chore(combat): source-back area damage profiles
  data/combat/damage-profiles.area.json
Due: prettier --write

tools: add nonheroic weapon damage audit
  tools/audit-nonheroic-weapon-damage.mjs
Due: none

docs: add NH-0 nonheroic weapon damage audit
  docs/audits/nonheroic-weapon-damage-phase-0.md
Due: prettier --write

data: add NH-1 droid statblock damage profiles
  data/nonheroic/nonheroic-weapon-damage-profiles.nh1-droids.json
Due: prettier --write

tools: validate nonheroic statblock damage profiles
  tools/validate-nonheroic-damage-profiles.mjs
Due: none

docs: add NH-1 droid damage profile pass
  docs/audits/nonheroic-weapon-damage-phase-1.md
Due: prettier --write

tools: add NPC source attribution audit
  tools/audit-npc-source-attribution.mjs
Due: none

docs: add NH-1.5 NPC source attribution plan
  docs/audits/nonheroic-weapon-damage-phase-1-5.md
Due: prettier --write

feat: add nonheroic damage profile hydrator
  scripts/engine/import/nonheroic-damage-profile-hydrator.js
Due: eslint --fix

feat: hydrate imported NPC weapons from statblock profiles
  scripts/engine/import/npc-template-importer-engine.js
Due: eslint --fix

fix: require context actor for NPC profile matching
  scripts/engine/import/nonheroic-damage-profile-hydrator.js
Due: eslint --fix

docs: add NH-2 importer hydration notes
  docs/audits/nonheroic-weapon-damage-phase-2.md
Due: prettier --write

schema: add digestible nonheroic weapon profile schema
  data/nonheroic/nonheroic-weapon-damage-profiles.schema.json
Due: prettier --write

data: normalize NH droid profiles to digestible schema
  data/nonheroic/nonheroic-weapon-damage-profiles.nh1-droids.json
Due: prettier --write

schema: align nonheroic profiles with canonical damage axes
  data/nonheroic/nonheroic-weapon-damage-profiles.schema.json
Due: prettier --write

data: align droid statblock profiles with canonical damage model
  data/nonheroic/nonheroic-weapon-damage-profiles.nh1-droids.json
Due: prettier --write

feat: hydrate from canonical nonheroic profile records
  scripts/engine/import/nonheroic-damage-profile-hydrator.js
Due: eslint --fix

docs: document canonical parity for NH-2 profiles
  docs/audits/nonheroic-weapon-damage-phase-2.md
Due: prettier --write

data: add Galaxy of Intrigue nonheroic damage profiles
  data/nonheroic/nonheroic-weapon-damage-profiles.nh3-galaxy-of-intrigue.json
Due: prettier --write

feat: load Galaxy of Intrigue nonheroic profiles
  scripts/engine/import/nonheroic-damage-profile-hydrator.js
Due: eslint --fix

docs: add NH-3 Galaxy of Intrigue profile notes
  docs/audits/nonheroic-weapon-damage-phase-3.md
Due: prettier --write

data: add Unknown Regions nonheroic droid damage profiles
  data/nonheroic/nonheroic-weapon-damage-profiles.nh4-unknown-regions.json
Due: prettier --write

feat: load Unknown Regions nonheroic profiles
  scripts/engine/import/nonheroic-damage-profile-hydrator.js
Due: eslint --fix

docs: add NH-4 Unknown Regions profile notes
  docs/audits/nonheroic-weapon-damage-phase-4.md
Due: prettier --write

data: expand Unknown Regions nonheroic profile coverage
  data/nonheroic/nonheroic-weapon-damage-profiles.nh4-unknown-regions.json
Due: prettier --write

docs: expand NH-4 Unknown Regions coverage notes
  docs/audits/nonheroic-weapon-damage-phase-4.md
Due: prettier --write

data: add Unknown Regions beast natural attack profiles
  data/nonheroic/nonheroic-weapon-damage-profiles.nh4-unknown-regions-beasts.json
Due: prettier --write

feat: load Unknown Regions beast profiles
  scripts/engine/import/nonheroic-damage-profile-hydrator.js
Due: eslint --fix

docs: document Unknown Regions beast profiles
  docs/audits/nonheroic-weapon-damage-phase-4.md
Due: prettier --write

schema: support base weapon references and printed formulas
  data/nonheroic/nonheroic-weapon-damage-profiles.schema.json
Due: prettier --write

feat: hydrate printed formula and base weapon metadata
  scripts/engine/import/nonheroic-damage-profile-hydrator.js
Due: eslint --fix

data: add base weapon refs to Unknown Regions profiles
  data/nonheroic/nonheroic-weapon-damage-profiles.nh4-unknown-regions.json
Due: prettier --write

data: add formula metadata to Unknown Regions beast profiles
  data/nonheroic/nonheroic-weapon-damage-profiles.nh4-unknown-regions-beasts.json
Due: prettier --write
