Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

docs: explain UUID formula metadata and packet compatibility
  docs/audits/nonheroic-weapon-damage-phase-4.md
Due: prettier --write

schema: support variant attack shapes and printed attack metadata
  data/nonheroic/nonheroic-weapon-damage-profiles.schema.json
Due: prettier --write

feat: preserve printed attack metadata and variant attack shapes
  scripts/engine/import/nonheroic-damage-profile-hydrator.js
Due: eslint --fix

data: preserve printed attack totals in Unknown Regions profiles
  data/nonheroic/nonheroic-weapon-damage-profiles.nh4-unknown-regions.json
Due: prettier --write

data: preserve printed attack totals for Unknown Regions beasts
  data/nonheroic/nonheroic-weapon-damage-profiles.nh4-unknown-regions-beasts.json
Due: prettier --write

docs: document variant shapes and printed attack metadata
  docs/audits/nonheroic-weapon-damage-phase-4.md
Due: prettier --write

tooling: audit nonheroic profile compendium weapon UUIDs
  data/nonheroic/nonheroic-weapon-damage-profiles.nh1-droids.json
  data/nonheroic/nonheroic-weapon-damage-profiles.nh3-galaxy-of-intrigue.json
  docs/audits/generated/nonheroic-profile-weapon-uuid-audit.json
  docs/audits/generated/nonheroic-profile-weapon-uuid-audit.md
  docs/nonheroic-weapon-uuid-metadata.md
  tools/audit-nonheroic-profile-weapon-uuids.mjs
Due: prettier --write

tooling: detect custom weapon rows via delivery/category/tags too
  docs/audits/generated/nonheroic-profile-weapon-uuid-audit.json
  docs/audits/generated/nonheroic-profile-weapon-uuid-audit.md
  tools/audit-nonheroic-profile-weapon-uuids.mjs
Due: prettier --write

tooling: add nonheroic profile coverage audit
  tools/audit-nonheroic-profile-coverage.mjs
Due: none

NH-5: Scavenger's Guide to Droids battle/security droid damage profiles
  data/nonheroic/nonheroic-weapon-damage-profiles.nh5-scavengers-guide-droids.json
  docs/audits/nonheroic-weapon-damage-phase-5.md
  scripts/engine/import/nonheroic-damage-profile-hydrator.js
Due: eslint --fix, prettier --write

tooling: report-first bulk candidate generator for nonheroic damage profiles
  data/nonheroic/generated/nonheroic-weapon-damage-candidates.nonheroic.json
  data/nonheroic/generated/nonheroic-weapon-damage-candidates.npc.json
  docs/audits/generated/nonheroic-damage-profile-candidates.json
  docs/audits/generated/nonheroic-damage-profile-candidates.md
  docs/nonheroic-damage-profile-bulk-candidate-pipeline.md
  tools/generate-nonheroic-damage-profile-candidates.mjs
Due: prettier --write

Fix progression rail restore handles
  styles/progression-framework/chargen-stabilization.css
Due: none

Add collapsed rail restore affordance state
  scripts/apps/progression-framework/shell/progression-rail-resizer.js
Due: eslint --fix

Add restore all progression layout control
  scripts/apps/progression-framework/shell/progression-rail-resizer.js
Due: eslint --fix

Resolve mentor portraits to WebP assets
  scripts/engine/mentor/mentor-dialogues.js
Due: eslint --fix

Document WebP mentor portrait registry
  scripts/mentor/mentor-portrait-registry.js
Due: eslint --fix

Add mentor rail holo scan overlay
  templates/apps/progression-framework/mentor-rail.hbs
Due: node scripts/validate/validate-icon-keys.js

Apply holo scan treatment to mentor portraits
  styles/progression-framework/mentor-rail.css
Due: none

Apply holo media treatment to class mentor portraits
  templates/apps/progression-framework/details-panel/class-details.hbs
Due: node scripts/validate/validate-icon-keys.js

Size class mentor portrait holo frame
  templates/apps/progression-framework/details-panel/class-details.hbs
Due: node scripts/validate/validate-icon-keys.js

Prevent stale PNG mentor portrait requests
  templates/apps/progression-framework/mentor-rail.hbs
Due: node scripts/validate/validate-icon-keys.js

Prevent stale PNG class mentor portrait requests
  templates/apps/progression-framework/details-panel/class-details.hbs
Due: node scripts/validate/validate-icon-keys.js

.
  data/nonheroic/generated/nonheroic-weapon-damage-candidates.nonheroic.json
  data/nonheroic/generated/nonheroic-weapon-damage-candidates.npc.json
  docs/audits/generated/nonheroic-damage-profile-candidates.json
  docs/audits/generated/nonheroic-damage-profile-candidates.md
  docs/nonheroic-damage-profile-bulk-candidate-pipeline.md
  tools/generate-nonheroic-damage-profile-candidates.mjs
Due: prettier --write

.
  data/nonheroic/generated/nonheroic-profile-promotion-allowlist.pass-1.json
  data/nonheroic/nonheroic-weapon-damage-profiles.bulk-lane-a-pass-1.json
  docs/audits/generated/nonheroic-profile-promotion-pass-1.json
  docs/audits/generated/nonheroic-profile-promotion-pass-1.md
  docs/audits/generated/nonheroic-profile-weapon-uuid-audit.json
  docs/audits/generated/nonheroic-profile-weapon-uuid-audit.md
  docs/audits/nonheroic-weapon-damage-bulk-lane-a-pass-1.md
  tools/promote-nonheroic-damage-profile-candidates.mjs
Due: prettier --write

.
  data/nonheroic/generated/nonheroic-profile-promotion-allowlist.pass-2.json
  data/nonheroic/nonheroic-weapon-damage-profiles.bulk-lane-a-pass-2.json
  docs/audits/generated/nonheroic-profile-promotion-pass-2.json
  docs/audits/generated/nonheroic-profile-promotion-pass-2.md
  docs/audits/generated/nonheroic-profile-weapon-uuid-audit.json
  docs/audits/generated/nonheroic-profile-weapon-uuid-audit.md
  docs/audits/nonheroic-weapon-damage-bulk-lane-a-pass-2.md
  tools/promote-nonheroic-damage-profile-candidates.mjs
Due: prettier --write

.
  data/nonheroic/generated/nonheroic-profile-promotion-allowlist.pass-3.json
  data/nonheroic/generated/nonheroic-profile-promotion-allowlist.pass-4.json
  data/nonheroic/generated/nonheroic-profile-promotion-allowlist.pass-5.json
  data/nonheroic/nonheroic-weapon-damage-profiles.bulk-lane-a-pass-3.json
  data/nonheroic/nonheroic-weapon-damage-profiles.bulk-lane-a-pass-4.json
  data/nonheroic/nonheroic-weapon-damage-profiles.bulk-lane-a-pass-5.json
  docs/audits/generated/nonheroic-profile-promotion-pass-3.json
  docs/audits/generated/nonheroic-profile-promotion-pass-3.md
  docs/audits/generated/nonheroic-profile-promotion-pass-4.json
  docs/audits/generated/nonheroic-profile-promotion-pass-4.md
  docs/audits/generated/nonheroic-profile-promotion-pass-5.json
  docs/audits/generated/nonheroic-profile-promotion-pass-5.md
  docs/audits/generated/nonheroic-profile-weapon-uuid-audit.json
  docs/audits/generated/nonheroic-profile-weapon-uuid-audit.md
  docs/audits/nonheroic-weapon-damage-bulk-lane-a-pass-3.md
  docs/audits/nonheroic-weapon-damage-bulk-lane-a-pass-4.md
  docs/audits/nonheroic-weapon-damage-bulk-lane-a-pass-5.md
Due: prettier --write

.
  docs/audits/generated/nonheroic-lane-b-remainder.json
  docs/audits/generated/nonheroic-lane-b-remainder.md
  docs/audits/generated/nonheroic-profile-weapon-uuid-audit.json
  docs/audits/generated/nonheroic-profile-weapon-uuid-audit.md
  docs/audits/nonheroic-lane-b-remainder.md
  tools/audit-nonheroic-lane-b-remainder.mjs
Due: prettier --write

.
  data/nonheroic/generated/nonheroic-weapon-damage-candidates.nonheroic.json
  data/nonheroic/generated/nonheroic-weapon-damage-candidates.npc.json
  docs/audits/generated/nonheroic-damage-profile-candidates.json
  docs/audits/generated/nonheroic-damage-profile-candidates.md
  docs/audits/generated/nonheroic-lane-a-identity-audit.json
  docs/audits/generated/nonheroic-lane-a-identity-audit.md
  docs/audits/nonheroic-lane-a-identity-tightening.md
  tools/audit-nonheroic-lane-a-identity.mjs
  tools/generate-nonheroic-damage-profile-candidates.mjs
  tools/promote-nonheroic-damage-profile-candidates.mjs
Due: prettier --write

Fix legacy SWSE flag scope compatibility
  scripts/utils/flags/swse-flags.js
Due: eslint --fix

Install SWSE legacy flag scope bridge at init
  index.js
Due: eslint --fix

Add force suite runtime repairs
  scripts/engine/force/force-suite-runtime-repairs.js
Due: eslint --fix

Restore index wiring and register force suite repairs
  index.js
Due: eslint --fix

Fix house-rule feat and talent grant hydration
  scripts/engine/progression/feats/feat-housekeeping-runtime-patches.js
Due: eslint --fix

Guard force power runtime repeat action wiring
  scripts/engine/force/force-suite-runtime-repairs.js
Due: eslint --fix

Repair skill math display for derived modifiers
  scripts/engine/force/force-suite-runtime-repairs.js
Due: eslint --fix

Prevent force error discard and skill focus stacking
  scripts/engine/force/force-suite-runtime-repairs.js
Due: eslint --fix

Bind force suite discard and regimen actions
  scripts/engine/force/force-suite-runtime-repairs.js
Due: eslint --fix

Add talent damage compatibility hotfix
  scripts/patches/runtime-bugfix-hotfixes.js
Due: eslint --fix

Add combat UI behavior hotfixes
  scripts/patches/combat-ui-behavior-hotfix.js
Due: eslint --fix
