Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

fix(governance): fail closed on inexact rollback
  scripts/domain/droids/droid-converted-system-reconciliation-service.js
  scripts/domain/droids/droid-installation-reconciler.js
  scripts/domain/droids/droid-statblock-conversion-service.js
Due: eslint --fix

fix(allies): keep target reservations through finalization
  scripts/domain/followers/follower-slot-occupancy.js
  scripts/engine/crew/follower-slot-service.js
Due: eslint --fix

fix(allies): harden conversion reservation races
  scripts/engine/crew/ally-assignment-service.js
  tools/check-ally-assignment-authority.mjs
Due: eslint --fix

test(governance): cover restoration scope and content
  tests/snapshot-service-restoration.test.mjs
  tests/transaction-engine-snapshot-restoration-migration.test.mjs
Due: none

test(allies): cover forced reservation interleavings
  tests/follower-conversion-reservation-race.test.mjs
  tests/gm-existing-npc-allies-assignment.test.mjs
Due: none

docs: correct P1-7 and P2-3 guarantees
  docs/audits/droid-authority-static-review-round-3-correction.md
Due: prettier --write

fix(governance): fail closed for legacy exact rollback
  scripts/governance/snapshot/snapshot-service.js
  tools/check-snapshot-restoration-authority.mjs
Due: eslint --fix

fix(allies): surface reservation cleanup failures
  scripts/engine/crew/ally-assignment-service.js
  scripts/engine/crew/follower-slot-service.js
  tools/check-ally-assignment-authority.mjs
Due: eslint --fix

test(governance): cover malformed and legacy snapshots
  tests/snapshot-service-restoration.test.mjs
  tests/transaction-engine-snapshot-restoration-migration.test.mjs
Due: none

test(allies): cover reservation cleanup verification
  tests/gm-existing-npc-allies-assignment.test.mjs
Due: none

docs: correct final rollback guarantees
  docs/audits/droid-authority-static-review-round-3-correction.md
Due: prettier --write

fix(dsp): close remaining compatibility gaps
  index.js
  scripts/components/force-suite.js
  scripts/engine/darkside/dark-side-score-access-policy.js
  scripts/engine/darkside/dsp-engine.js
  scripts/engine/force/force-engine.js
  scripts/engine/talent/talent-effect-engine.js
  scripts/migration/dark-side-points-migration.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/context/PanelValidators.js
  scripts/talents/DarkSidePowers.js
  scripts/utils/force-points.js
  tests/dsp-engine-behavior.test.mjs
  tests/dsp-engine-consolidation.test.mjs
  tests/dsp-migration-behavior.test.mjs
  tests/dsp-migration-consolidation.test.mjs
  tests/dsp-no-inline-writers.test.mjs
  tests/dsp-permission-policy.test.mjs
  tests/dsp-ready-hook-sequencing.test.mjs
Due: eslint --fix

fix(dsp): align runtime and migration fallback rules
  scripts/engine/darkside/dsp-engine.js
  scripts/migration/dark-side-points-migration.js
  tests/dsp-engine-behavior.test.mjs
  tests/dsp-migration-behavior.test.mjs
  tests/dsp-migration-consolidation.test.mjs
  tests/dsp-no-inline-writers.test.mjs
Due: eslint --fix

fix(dsp): harden canonical value parsing
  scripts/engine/darkside/dsp-engine.js
  scripts/migration/dark-side-points-migration.js
  tests/dsp-engine-behavior.test.mjs
  tests/dsp-migration-behavior.test.mjs
  tests/dsp-migration-consolidation.test.mjs
Due: eslint --fix

fix(combat): repair attack/defense sheet display parity
  scripts/actors/v2/character-actor.js
  scripts/combat/rolls/attacks.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  scripts/ui/defense-tooltip.js
  templates/actors/character/v2/partials/defenses-panel.hbs
  tests/attack-action-id-threading.test.mjs
  tests/attack-sheet-parity.test.mjs
  tests/defense-panel-total-authority.test.mjs
  tests/defense-tooltip-parity.test.mjs
  tests/phase4-abstract-crew-and-routing.test.mjs
  tests/target-defense-authority.test.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

test(combat): verify negative-bonus formatting and stock-droid damage display
  tests/attack-action-id-threading.test.mjs
  tests/attack-sheet-parity.test.mjs
Due: none

fix(combat): close review-caught defense/attack propagation and safety gaps
  scripts/actors/derived/derived-calculator.js
  scripts/actors/v2/character-actor.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  scripts/ui/defense-tooltip.js
  templates/actors/character/v2/partials/attacks-panel.hbs
  tests/attack-sheet-condition-track-lifecycle.test.mjs
  tests/attack-sheet-parity.test.mjs
  tests/defense-derived-materialization.test.mjs
  tests/defense-tooltip-parity.test.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

fix(talents): hydrate Superior Skills from canonical compendium documents
  data/fixes/talent-trees.registry.json
  data/generated/talent-trees.registry.json
  docs/audits/progression-runtime-integrity-audit.md
  packs/talents.db
  scripts/apps/progression-framework/shell/reconciliation/reconciliation-and-superior-skills-hotfix.js
  scripts/apps/progression-framework/shell/reconciliation/reconciliation-remediation-hotfix.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/abilities-ui.js
  scripts/talents/squad-actions-init.js
  tests/superior-skills-talent-hydration.test.mjs
Due: eslint --fix, prettier --write

perf(progression): coalesce shell renders and stop mentor speech repainting
  scripts/apps/progression-framework/debug/progression-debug-capture.js
  scripts/apps/progression-framework/debug/progression-render-stats.js
  scripts/apps/progression-framework/shell/mentor-choice-reaction-router.js
  scripts/apps/progression-framework/shell/mentor-rail.js
  scripts/apps/progression-framework/shell/progression-render-scheduler.js
  scripts/apps/progression-framework/shell/progression-session.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/attribute-step.js
  scripts/apps/progression-framework/steps/background-step.js
  scripts/apps/progression-framework/steps/base-class-survey-step.js
  scripts/apps/progression-framework/steps/class-step.js
  scripts/apps/progression-framework/steps/confirm-step.js
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/apps/progression-framework/steps/final-droid-configuration-step.js
  scripts/apps/progression-framework/steps/follower-steps/follower-confirm-step.js
  scripts/apps/progression-framework/steps/follower-steps/follower-details-step.js
  scripts/apps/progression-framework/steps/follower-steps/follower-human-bonus-step.js
  scripts/apps/progression-framework/steps/follower-steps/follower-origin-step.js
  scripts/apps/progression-framework/steps/follower-steps/follower-template-step.js
  scripts/apps/progression-framework/steps/force-power-step.js
  scripts/apps/progression-framework/steps/force-regimen-step.js
  scripts/apps/progression-framework/steps/force-secret-step.js
  scripts/apps/progression-framework/steps/force-technique-step.js
  scripts/apps/progression-framework/steps/l1-survey-step.js
  scripts/apps/progression-framework/steps/medical-secret-step.js
  scripts/apps/progression-framework/steps/name-step.js
  scripts/apps/progression-framework/steps/near-human-builder.js
  scripts/apps/progression-framework/steps/nonheroic-starting-feats-step.js
  scripts/apps/progression-framework/steps/prestige-survey-step.js
  scripts/apps/progression-framework/steps/skills-step.js
  scripts/apps/progression-framework/steps/species-step.js
  scripts/apps/progression-framework/steps/starship-maneuver-step.js
  scripts/apps/progression-framework/steps/summary-step.js
  scripts/apps/progression-framework/ux/recovery-coordinator.js
  styles/progression-framework/mentor-rail-stability.css
  system.json
  tests/progression-render-scheduler-budgets.test.mjs
  tests/rolling-ci-support-check.test.mjs
  tools/run-rolling-syntax-check.mjs
Due: eslint --fix, prettier --write

refactor(mentor): give build recommendations a single owner
  scripts/apps/progression-framework/debug/progression-render-stats.js
  scripts/apps/progression-framework/shell/mentor-choice-reaction-router.js
  scripts/apps/progression-framework/shell/mentor-rail.js
  scripts/apps/progression-framework/shell/mentor-recommendation-controller.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/engine/suggestion/SuggestionService.js
  tests/mentor-recommendation-architecture.test.mjs
  tests/progression-render-scheduler-budgets.test.mjs
Due: eslint --fix

fix(mentor): message arbitration, reaction accuracy, real animation cancel
  scripts/apps/progression-framework/shell/mentor-choice-reaction-router.js
  scripts/apps/progression-framework/shell/mentor-rail.js
  scripts/apps/progression-framework/shell/mentor-recommendation-controller.js
  scripts/engine/suggestion/SnapshotBuilder.js
  scripts/engine/suggestion/SuggestionService.js
  scripts/mentor/mentor-translation-integration.js
  scripts/ui/dialogue/aurebesh-translator.js
  tests/mentor-recommendation-architecture.test.mjs
Due: eslint --fix

refactor(progression): finish render/mentor ownership contracts
  scripts/apps/progression-framework/chargen-shell.js
  scripts/apps/progression-framework/shell/mentor-recommendation-controller.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/background-step.js
  scripts/apps/progression-framework/steps/class-step.js
  scripts/apps/progression-framework/steps/confirm-step.js
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/apps/progression-framework/steps/force-power-step.js
  scripts/apps/progression-framework/steps/force-regimen-step.js
  scripts/apps/progression-framework/steps/force-secret-step.js
  scripts/apps/progression-framework/steps/force-technique-step.js
  scripts/apps/progression-framework/steps/medical-secret-step.js
  scripts/apps/progression-framework/steps/skills-step.js
  scripts/apps/progression-framework/steps/species-step.js
  scripts/apps/progression-framework/steps/starship-maneuver-step.js
  scripts/apps/progression-framework/steps/step-plugin-base.js
  scripts/apps/progression-framework/steps/talent-step.js
  scripts/infrastructure/hooks/chargen-sheet-hooks.js
  scripts/infrastructure/hooks/levelup-sheet-hooks.js
  scripts/ui/dialogue/aurebesh-translator.js
  tests/mentor-recommendation-architecture.test.mjs
  tests/mentor-translator-cancellation.test.mjs
  tests/progression-render-scheduler-budgets.test.mjs
Due: eslint --fix

fix(progression): close mentor ownership and validation gaps
  packs/talent_trees.db
  packs/talents.db
  scripts/apps/progression-framework/shell/mentor-choice-reaction-router.js
  scripts/apps/progression-framework/shell/mentor-recommendation-controller.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/background-step.js
  scripts/apps/progression-framework/steps/base-class-survey-step.js
  scripts/apps/progression-framework/steps/confirm-step.js
  scripts/apps/progression-framework/steps/l1-survey-step.js
  scripts/apps/progression-framework/steps/mentor-step-integration.js
  scripts/apps/progression-framework/steps/prestige-survey-step.js
  scripts/apps/progression-framework/steps/species-step.js
  scripts/apps/progression-framework/steps/step-plugin-base.js
  scripts/apps/progression-framework/steps/talent-step.js
  scripts/domain/droids/droid-slot-governance.js
  scripts/governance/sentinel/sentinel-layout-debugger.js
  scripts/houserules/houserule-condition-track.js
  scripts/load-templates.js
  scripts/sheets/v2/character-sheet.js
  scripts/skills/skill-uses.js
  scripts/ui/discovery/hardpoint-audit.js
  tests/mentor-recommendation-architecture.test.mjs
  tests/rolling-ci-support-check.test.mjs
  tests/superior-skills-talent-hydration.test.mjs
  tools/check-system-manifest.mjs
  tools/run-rolling-syntax-check.mjs
Due: eslint --fix

feat(progression): add progressionMentorAudit diagnostic harness
  scripts/apps/progression-framework/debug/progression-render-stats.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/engine/suggestion/SuggestionService.js
  scripts/ui/dialogue/aurebesh-translator.js
  tests/mentor-recommendation-architecture.test.mjs
Due: eslint --fix

fix(content): close remaining talent and validation defects
  .github/workflows/rolling-system-validation.yml
  data/fixes/talent-trees.registry.json
  data/generated/talent-trees.registry.json
  docs/audits/rolling-system-alignment-phase-5.md
  docs/audits/talent-tree-membership-completion-2026-08-06.json
  packs/poisons.db
  packs/talent-enhancements.db
  packs/talent_trees.db
  packs/talents.db
  scripts/apps/gm-datapad.js
  scripts/ui/shell/TransmissionDecryptionSurfaceController.js
  scripts/ui/shell/gm/controllers/GMFactionRelationshipSurfaceController.js
  scripts/validation/phase-1-validation.js
  tests/gm-surface-render-seams.test.mjs
  tests/krath-talent-tree-hydration.test.mjs
  tests/rolling-ci-support-check.test.mjs
  tests/superior-skills-talent-hydration.test.mjs
  tests/talent-membership-and-pack-completion.test.mjs
  tools/audit-nonheroic-weapon-damage.mjs
  tools/audit-npc-source-attribution.mjs
  tools/audit-talent-tree-membership.mjs
  tools/build-poisons-pack.mjs
  tools/build-talent-enhancements-pack.mjs
  tools/run-rolling-syntax-check.mjs
Due: eslint --fix, prettier --write

fix(talents): hydrate Elite Droid tree and verify Krath source text
  data/fixes/talent-trees.registry.json
  data/generated/talent-trees.registry.json
  packs/classes.db
  packs/talent_trees.db
  packs/talents.db
  tests/elite-droid-talent-tree-hydration.test.mjs
  tests/krath-talent-tree-hydration.test.mjs
Due: prettier --write

fix(progression): close mentor and render ownership gaps
  scripts/apps/progression-framework/debug/progression-render-stats.js
  scripts/apps/progression-framework/shell/mentor-rail.js
  scripts/apps/progression-framework/shell/mentor-recommendation-controller.js
  scripts/apps/progression-framework/shell/progression-render-scheduler.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/background-step.js
  scripts/apps/progression-framework/steps/class-step.js
  scripts/apps/progression-framework/steps/confirm-step.js
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/apps/progression-framework/steps/force-regimen-step.js
  scripts/apps/progression-framework/steps/force-secret-step.js
  scripts/apps/progression-framework/steps/force-technique-step.js
  scripts/apps/progression-framework/steps/medical-secret-step.js
  scripts/apps/progression-framework/steps/prestige-survey-step.js
  scripts/apps/progression-framework/steps/species-step.js
  scripts/apps/progression-framework/steps/step-plugin-base.js
  scripts/apps/progression-framework/steps/talent-step.js
  tests/mentor-recommendation-architecture.test.mjs
  tests/progression-render-scheduler-budgets.test.mjs
Due: eslint --fix

feat(progression): add universal card-level select actions
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/species-step.js
  scripts/load-templates.js
  styles/progression-framework/option-cards.css
  templates/apps/progression-framework/partials/option-card-action.hbs
  templates/apps/progression-framework/steps/background-work-surface.hbs
  templates/apps/progression-framework/steps/class-work-surface.hbs
  templates/apps/progression-framework/steps/feat-work-surface.hbs
  templates/apps/progression-framework/steps/force-power-work-surface.hbs
  templates/apps/progression-framework/steps/force-regimen-work-surface.hbs
  templates/apps/progression-framework/steps/force-secret-work-surface.hbs
  templates/apps/progression-framework/steps/force-technique-work-surface.hbs
  templates/apps/progression-framework/steps/language-work-surface.hbs
  templates/apps/progression-framework/steps/medical-secret-work-surface.hbs
  templates/apps/progression-framework/steps/nonheroic-starting-feats-work-surface.hbs
  templates/apps/progression-framework/steps/skills-work-surface.hbs
  templates/apps/progression-framework/steps/species-work-surface.hbs
  templates/apps/progression-framework/steps/starship-maneuver-work-surface.hbs
  templates/apps/progression-framework/steps/talent-tree-browser.hbs
  templates/apps/progression-framework/steps/talent-tree-graph.hbs
  tests/progression-card-select-actions.test.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

feat(progression): finish select actions for standard choice steps
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/apps/progression-framework/steps/force-power-step.js
  scripts/apps/progression-framework/steps/force-regimen-step.js
  scripts/apps/progression-framework/steps/force-secret-step.js
  scripts/apps/progression-framework/steps/force-technique-step.js
  scripts/apps/progression-framework/steps/medical-secret-step.js
  scripts/apps/progression-framework/steps/starship-maneuver-step.js
  templates/apps/progression-framework/partials/option-card-action.hbs
  templates/apps/progression-framework/steps/feat-work-surface.hbs
  templates/apps/progression-framework/steps/force-power-work-surface.hbs
  templates/apps/progression-framework/steps/force-regimen-work-surface.hbs
  templates/apps/progression-framework/steps/force-secret-work-surface.hbs
  templates/apps/progression-framework/steps/force-technique-work-surface.hbs
  templates/apps/progression-framework/steps/medical-secret-work-surface.hbs
  templates/apps/progression-framework/steps/skills-work-surface.hbs
  templates/apps/progression-framework/steps/starship-maneuver-work-surface.hbs
  tests/progression-card-select-actions.test.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

fix(progression): close PR-wide ownership and selection races
  scripts/apps/progression-framework/debug/progression-render-stats.js
  scripts/apps/progression-framework/shell/card-gesture-resolver.js
  scripts/apps/progression-framework/shell/footer-explanation.js
  scripts/apps/progression-framework/shell/mentor-choice-reaction-router.js
  scripts/apps/progression-framework/shell/mentor-rail.js
  scripts/apps/progression-framework/shell/mentor-recommendation-controller.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/shell/utility-bar.js
  scripts/apps/progression-framework/steps/force-secret-step.js
  scripts/apps/progression-framework/steps/force-technique-step.js
  scripts/apps/progression-framework/steps/medical-secret-step.js
  scripts/engine/suggestion/SnapshotBuilder.js
  templates/apps/progression-framework/steps/starship-maneuver-work-surface.hbs
  tests/mentor-recommendation-architecture.test.mjs
  tests/progression-card-select-actions.test.mjs
  tests/progression-entitlement-budget.test.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

fix(progression): finalize interaction and mentor lifecycle ownership
  scripts/apps/progression-framework/debug/progression-render-stats.js
  scripts/apps/progression-framework/shell/mentor-rail.js
  scripts/apps/progression-framework/shell/mentor-recommendation-controller.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/force-power-step.js
  scripts/apps/progression-framework/steps/starship-maneuver-step.js
  scripts/apps/progression-framework/steps/step-plugin-base.js
  tests/mentor-recommendation-architecture.test.mjs
  tests/progression-interaction-lifecycle.test.mjs
Due: eslint --fix

fix(progression): finalize scheduler cache and card presentation contracts
  lang/en.json
  scripts/apps/progression-framework/shell/option-card-action.js
  scripts/apps/progression-framework/shell/progression-render-scheduler.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/class-step.js
  scripts/apps/progression-framework/steps/force-regimen-step.js
  scripts/apps/progression-framework/steps/force-secret-step.js
  scripts/apps/progression-framework/steps/medical-secret-step.js
  scripts/apps/progression-framework/steps/species-step.js
  scripts/apps/progression-framework/steps/starship-maneuver-step.js
  scripts/core/init.js
  scripts/engine/suggestion/SuggestionService.js
  templates/apps/progression-framework/partials/option-card-action.hbs
  templates/apps/progression-framework/steps/class-work-surface.hbs
  templates/apps/progression-framework/steps/force-regimen-work-surface.hbs
  templates/apps/progression-framework/steps/force-secret-work-surface.hbs
  templates/apps/progression-framework/steps/medical-secret-work-surface.hbs
  templates/apps/progression-framework/steps/species-work-surface.hbs
  templates/apps/progression-framework/steps/starship-maneuver-work-surface.hbs
  tests/mentor-recommendation-architecture.test.mjs
  tests/progression-card-select-actions.test.mjs
  tests/progression-suggestion-and-render-contracts.test.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

fix(feats): restore 12 missing core feats and add pack integrity gates
  .github/workflows/rolling-system-validation.yml
  data/feat-catalog.json
  data/feat-validity-registry.json
  docs/audits/generated/core-rulebook-feat-implementation-readiness-report.json
  docs/audits/generated/core-rulebook-feat-implementation-readiness-report.md
  docs/audits/generated/feat-inventory-report.json
  docs/audits/generated/feat-inventory-report.md
  docs/feat-pack-recovery.md
  packs/feats.db
  packs/feats.db.sha256
  scripts/dev/audit-core-rulebook-feat-implementation-readiness.mjs
  tools/generate-feat-inventory-report.mjs
  tools/verify-feats-pack-source.mjs
Due: prettier --write

fix(feats): feat/prerequisite integrity — canonical catalog cleanup, pack parity, AbilityEngine test coverage
  .github/workflows/rolling-system-validation.yml
  data/feat-catalog.json
  data/feat-validity-registry.json
  docs/audits/feat-integrity-current-state.md
  docs/audits/feat-inventory-history-reconciliation.md
  docs/audits/feat-runtime-fallback-policy.md
  docs/audits/generated/core-rulebook-feat-implementation-readiness-report.json
  docs/audits/generated/core-rulebook-feat-implementation-readiness-report.md
  docs/audits/generated/feat-inventory-report.json
  docs/audits/generated/feat-inventory-report.md
  docs/audits/generated/feat-prerequisite-input-report.json
  docs/audits/generated/feat-prerequisite-input-report.md
  docs/feat-pack-recovery.md
  packs/feats.db
  packs/feats.db.sha256
  scripts/dev/audit-core-rulebook-feat-implementation-readiness.mjs
  tests/ability-engine-acquisition.test.mjs
  tests/feat-catalog-validity-regression.test.mjs
  tests/prerequisite-authority-boundary-regression.test.mjs
  tools/audit-feat-inventory.mjs
  tools/audit-feat-prerequisite-inputs.mjs
  tools/generate-feat-inventory-report.mjs
Due: prettier --write

docs(feats): add sourcebook-evidence boundary and primary-source review queue
  data/feat-validity-registry.json
  docs/audits/generated/feat-inventory-report.json
  docs/audits/generated/feat-inventory-report.md
  docs/audits/generated/feat-prerequisite-input-report.json
  docs/audits/generated/feat-prerequisite-input-report.md
  docs/audits/generated/feat-primary-source-review-queue.md
Due: prettier --write

fix(feats): feat choice persistence integrity — canonical write path, NPC-import gap, scoped-prerequisite coverage
  docs/audits/feat-choice-integrity-current-state.md
  docs/audits/generated/core-rulebook-feat-implementation-readiness-report.json
  docs/audits/generated/core-rulebook-feat-implementation-readiness-report.md
  docs/audits/generated/feat-choice-runtime-consumers.md
  docs/audits/generated/feat-inventory-report.json
  docs/audits/generated/feat-inventory-report.md
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/engine/import/npc-template-importer-engine.js
  tests/feat-choice-persistence-and-scoped-prerequisites.test.mjs
  tests/npc-import-feat-choice-metadata.test.mjs
  tools/audit-feat-inventory.mjs
Due: eslint --fix, prettier --write

docs(combat): combat feat runtime mechanics audit — architecture trace, status inventory, regression tests
  docs/audits/combat-feat-runtime-architecture.md
  docs/audits/generated/combat-feat-runtime-status.json
  docs/audits/generated/combat-feat-runtime-status.md
  docs/audits/generated/feat-inventory-report.json
  docs/audits/generated/feat-inventory-report.md
  tests/combat-feat-attack-modifier-regression.test.mjs
  tools/generate-combat-feat-runtime-status.mjs
Due: prettier --write

Progression Phase 1: establish single render ownership through requestRender()
  scripts/apps/progression-framework/follower-shell.js
  scripts/apps/progression-framework/shell/build-intent.js
  scripts/apps/progression-framework/shell/progression-rail-resizer.js
  scripts/apps/progression-framework/steps/attribute-step.js
  scripts/apps/progression-framework/steps/background-step.js
  scripts/apps/progression-framework/steps/class-step.js
  scripts/apps/progression-framework/steps/droid-builder-step.js
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/apps/progression-framework/steps/follower-steps/follower-confirm-step.js
  scripts/apps/progression-framework/steps/force-power-step.js
  scripts/apps/progression-framework/steps/force-secret-step.js
  scripts/apps/progression-framework/steps/force-technique-step.js
  scripts/apps/progression-framework/steps/galactic-profile-step.js
  scripts/apps/progression-framework/steps/intro-step.js
  scripts/apps/progression-framework/steps/l1-survey-step.js
  scripts/apps/progression-framework/steps/language-step.js
  scripts/apps/progression-framework/steps/prestige-survey-step.js
  scripts/apps/progression-framework/steps/skills-step.js
  scripts/apps/progression-framework/steps/species-step.js
  scripts/apps/progression-framework/steps/summary-step.js
  scripts/apps/progression-framework/steps/talent-step.js
  scripts/apps/progression-framework/ux/progression-recovery-manager.js
  tests/progression-render-scheduler-budgets.test.mjs
Due: eslint --fix

Progression Phase 1.1: close this.render() self-call detection gap
  tests/progression-render-scheduler-budgets.test.mjs
Due: none

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
