Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

refactor(gm): shape Faction ecosystem view model
  scripts/ui/shell/gm/GMFactionRelationshipSurfaceService.js
Due: eslint --fix

feat(gm): redesign Factions as campaign who hub
  styles/apps/gm-datapad.css
  templates/apps/gm-datapad/surfaces/factions.hbs
Due: node scripts/validate/validate-icon-keys.js

feat(gm): connect Faction campaign relationships
  scripts/ui/shell/gm/controllers/GMFactionRelationshipSurfaceController.js
Due: eslint --fix

test(gm): enforce Faction ecosystem contracts
  tests/gm-faction-context-navigation-controller.test.mjs
  tests/gm-faction-ecosystem-view-model.test.mjs
Due: none

docs(gm): document ecosystem redesign Phase 3
  docs/audits/gm-datapad-ecosystem-redesign.md
Due: prettier --write

refactor(gm): normalize Job ecosystem identity
  scripts/holonet/subsystems/holonet-messenger-service.js
Due: eslint --fix

feat(gm): redesign Job Board as mission hub
  scripts/ui/shell/gm/GMJobBoardSurfaceService.js
Due: eslint --fix

feat(gm): connect Job campaign relationships
  scripts/ui/shell/gm/controllers/GMJobBoardSurfaceController.js
  styles/apps/gm-datapad.css
  templates/apps/gm-datapad/surfaces/jobs/contract-wizard.hbs
  templates/apps/gm-datapad/surfaces/jobs/kanban-and-detail.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

test(gm): enforce Job ecosystem contracts
  tests/gm-job-context-navigation-controller.test.mjs
  tests/gm-job-ecosystem-view-model.test.mjs
  tests/gm-job-source-location-identity.test.mjs
Due: none

docs(gm): document ecosystem redesign Phase 4
  docs/audits/gm-datapad-ecosystem-redesign.md
Due: prettier --write

refactor(gm): fix Intel Location/Atlas-Fact provenance identity
  scripts/holonet/subsystems/holonet-intel-service.js
  scripts/ui/shell/gm/LocationIntelBridgeService.js
  tests/gm-intel-location-fact-identity.test.mjs
Due: eslint --fix

feat(gm): redesign Intel as the "what is known" hub
  scripts/ui/shell/gm/GMIntelSurfaceService.js
  tests/gm-intel-ecosystem-view-model.test.mjs
Due: eslint --fix

feat(gm): connect Intel campaign relationships
  scripts/ui/shell/gm/controllers/GMIntelSurfaceController.js
  templates/apps/gm-datapad/surfaces/intel.hbs
  tests/gm-intel-context-navigation-controller.test.mjs
  tests/gm-intel-relationship-template-wiring.test.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

docs(gm): document ecosystem redesign Phase 5
  docs/audits/gm-datapad-ecosystem-redesign.md
Due: prettier --write

refactor(gm): add read-only campaign context service
  scripts/ui/shell/gm/GMCampaignContextService.js
  scripts/ui/shell/gm/GMCampaignTargetService.js
  tests/gm-campaign-attention-items.test.mjs
  tests/gm-campaign-context-parity.test.mjs
  tests/gm-campaign-context-read-only-contract.test.mjs
  tests/gm-campaign-target-adapter.test.mjs
Due: eslint --fix

feat(gm): redesign Home as campaign command hub
  scripts/apps/gm-datapad.js
  templates/apps/gm-datapad/surfaces/home.hbs
  tests/gm-home-attention-navigation-wiring.test.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

docs(gm): document ecosystem redesign Phase 6
  docs/audits/gm-datapad-ecosystem-redesign.md
Due: prettier --write

refactor(gm): export Job Board/Intel resolvers for cross-service reuse
  scripts/ui/shell/gm/GMIntelSurfaceService.js
  scripts/ui/shell/gm/GMJobBoardSurfaceService.js
Due: eslint --fix

fix(gm): correct campaign context service parity gaps
  scripts/ui/shell/gm/GMApprovalsSurfaceService.js
  scripts/ui/shell/gm/GMCampaignContextService.js
Due: eslint --fix

fix(gm): correct Home attention navigation and action count
  scripts/apps/gm-datapad.js
  templates/apps/gm-datapad/surfaces/home.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

test(gm): enforce Phase 6 correction-pass contracts
  tests/gm-approvals-stable-target-identity.test.mjs
  tests/gm-campaign-attention-items.test.mjs
  tests/gm-campaign-context-parity.test.mjs
  tests/gm-campaign-party-location-authority.test.mjs
  tests/gm-home-attention-navigation-wiring.test.mjs
Due: none

docs(gm): document Phase 6 correction pass
  docs/audits/gm-datapad-ecosystem-redesign.md
Due: prettier --write

refactor(gm): extend campaign context for Phase 7 Actor context
  scripts/ui/shell/gm/GMCampaignContextService.js
Due: eslint --fix

feat(gm): add workspace-actor navigation target
  scripts/ui/shell/gm/GMCampaignTargetService.js
Due: eslint --fix

feat(gm): redesign Workspace as an Actor campaign dossier
  scripts/ui/shell/gm/GMWorkspaceSurfaceService.js
  scripts/ui/shell/gm/controllers/GMFactionRelationshipSurfaceController.js
  scripts/ui/shell/gm/controllers/GMWorkspaceSurfaceController.js
  styles/system/gm-datapad-phases.css
  templates/apps/gm-datapad/surfaces/factions.hbs
  templates/apps/gm-datapad/surfaces/workspace.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

test(gm): enforce Phase 7 workspace campaign-dossier contracts
  tests/gm-campaign-attention-items.test.mjs
  tests/gm-campaign-context-actor-location-phase7.test.mjs
  tests/gm-campaign-target-workspace-actor.test.mjs
  tests/gm-job-assign-actor-persistence-audit.test.mjs
  tests/gm-workspace-dossier-wiring.test.mjs
  tests/gm-workspace-selected-actor-vm.test.mjs
Due: none

docs(gm): document ecosystem redesign Phase 7
  docs/audits/gm-datapad-ecosystem-redesign.md
Due: prettier --write

fix(gm): correct recovery attention semantics and canonical CT field
  scripts/ui/shell/gm/GMCampaignContextService.js
  scripts/ui/shell/gm/GMWorkspaceSurfaceService.js
Due: eslint --fix

fix(gm): gate Workspace actor navigation on real world Actors
  scripts/ui/shell/gm/GMFactionRelationshipSurfaceService.js
  scripts/ui/shell/gm/controllers/GMFactionRelationshipSurfaceController.js
  templates/apps/gm-datapad/surfaces/factions.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

fix(gm): preserve Faction Contact focus and Trade truthfulness
  scripts/ui/shell/gm/GMCampaignTargetService.js
  scripts/ui/shell/gm/controllers/GMWorkspaceSurfaceController.js
  templates/apps/gm-datapad/surfaces/workspace.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

test(gm): enforce Phase 7 independent-review correction contracts
  tests/gm-campaign-attention-items.test.mjs
  tests/gm-phase7-correction-pass.test.mjs
  tests/gm-workspace-dossier-wiring.test.mjs
Due: none

docs(gm): document Phase 7 independent review correction pass
  docs/audits/gm-datapad-ecosystem-redesign.md
Due: prettier --write

fix(gm): correct per-Actor recovery legality and dedupe recovery card
  scripts/ui/shell/gm/GMCampaignContextService.js
  scripts/ui/shell/gm/GMWorkspaceSurfaceService.js
Due: eslint --fix

test(gm): enforce Phase 7 final correction addendum contracts
  tests/gm-phase7-correction-pass.test.mjs
  tests/gm-workspace-faction-contact-navigation-controller.test.mjs
Due: none

docs(gm): document Phase 7 final correction addendum
  docs/audits/gm-datapad-ecosystem-redesign.md
Due: prettier --write

fix(gm): enforce strict party-Location authority in Factions
  scripts/ui/shell/gm/GMFactionRelationshipSurfaceService.js
Due: eslint --fix

fix(gm): isolate Job/Intel failures and party-first recovery scope
  scripts/ui/shell/gm/GMCampaignContextService.js
Due: eslint --fix

fix(gm): complete Workspace's contextual initial-selection fallback
  scripts/ui/shell/gm/GMWorkspaceSurfaceService.js
Due: eslint --fix

test(gm): enforce Phase 7 pre-broadcast final integrity contracts
  tests/gm-campaign-context-actor-location-phase7.test.mjs
  tests/gm-phase7-correction-pass.test.mjs
  tests/gm-phase7-pre-broadcast-integrity.test.mjs
Due: none

docs(gm): document Phase 7 pre-broadcast final integrity pass
  docs/audits/gm-datapad-ecosystem-redesign.md
Due: prettier --write
