Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Apply games p3 all-fixes patch
  scripts/games/games/dejarik/dejarik-view-model.js
  scripts/games/games/hintaro/hintaro-view-model.js
  scripts/games/games/pazaak/pazaak-view-model.js
  scripts/games/games/sabacc/sabacc-rules.js
  scripts/games/games/sabacc/sabacc-view-model.js
  scripts/ui/shell/GamesSurfaceController.js
  styles/system/games-surface.css
  templates/shell/partials/surface-games.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Apply games p4 misc final hardening patch
  scripts/apps/gm-datapad.js
  scripts/games/games/hintaro/hintaro-engine.js
  scripts/games/games/sabacc/sabacc-ai.js
  scripts/games/games/sabacc/sabacc-engine.js
  scripts/games/games/sabacc/sabacc-view-model.js
  scripts/games/tests/games-rules-smoke-tests.mjs
  scripts/games/wagers/game-credit-escrow-service.js
  scripts/ui/shell/gm/GMApprovalsSurfaceService.js
  templates/shell/partials/surface-games.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Apply P0 fixes for GM games: store engine, policy service, escrow, pazaak, and datapad updates
  scripts/apps/gm-datapad.js
  scripts/apps/store/store-checkout.js
  scripts/engine/store/policy-service.js
  scripts/engine/store/store-engine.js
  scripts/engine/store/transaction-engine.js
  scripts/games/games/pazaak/pazaak-view-model.js
  scripts/games/tests/games-rules-smoke-tests.mjs
  scripts/games/wagers/game-credit-escrow-service.js
Due: eslint --fix

Apply P1 fixes: GM dashboard/approvals/settings surfaces, store checkout, datapad template, and game center registry
  scripts/apps/gm-datapad.js
  scripts/apps/store/store-checkout.js
  scripts/chat/store-receipt-chat.js
  scripts/engine/store/policy-service.js
  scripts/games/game-center-registry.js
  scripts/ui/shell/gm/GMApprovalsSurfaceService.js
  scripts/ui/shell/gm/GMDashboardSurfaceService.js
  scripts/ui/shell/gm/GMSettingsSurfaceService.js
  templates/apps/gm-datapad.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Apply P2 fixes: GM workspace/bulletin/job-board surfaces, holonet messenger, and datapad updates
  scripts/apps/gm-datapad.js
  scripts/holonet/subsystems/holonet-messenger-service.js
  scripts/ui/shell/gm/GMBulletinSurfaceService.js
  scripts/ui/shell/gm/GMJobBoardSurfaceService.js
  scripts/ui/shell/gm/GMWorkspaceSurfaceService.js
  templates/apps/gm-datapad.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Apply P3 fixes: reconciliation receipts, trade console surface, store receipt chat, and datapad updates
  scripts/apps/gm-datapad.js
  scripts/chat/store-receipt-chat.js
  scripts/holonet/subsystems/holonet-messenger-service.js
  scripts/ui/shell/gm/GMTradeConsoleSurfaceService.js
  templates/apps/gm-datapad.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Add GM datapad phase 0 partial scaffold: surface templates and load-templates registration
  scripts/load-templates.js
  templates/apps/gm-datapad/partials/dock.hbs
  templates/apps/gm-datapad/surfaces/approvals.hbs
  templates/apps/gm-datapad/surfaces/bulletin.hbs
  templates/apps/gm-datapad/surfaces/error.hbs
  templates/apps/gm-datapad/surfaces/healing.hbs
  templates/apps/gm-datapad/surfaces/home.hbs
  templates/apps/gm-datapad/surfaces/house-rules.hbs
  templates/apps/gm-datapad/surfaces/jobs.hbs
  templates/apps/gm-datapad/surfaces/settings.hbs
  templates/apps/gm-datapad/surfaces/store.hbs
  templates/apps/gm-datapad/surfaces/trade.hbs
  templates/apps/gm-datapad/surfaces/workspace.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Add GM datapad phase 1 surface partials: full content for all surface and dock templates
  scripts/load-templates.js
  templates/apps/gm-datapad.hbs
  templates/apps/gm-datapad/partials/dock.hbs
  templates/apps/gm-datapad/surfaces/approvals.hbs
  templates/apps/gm-datapad/surfaces/bulletin.hbs
  templates/apps/gm-datapad/surfaces/error.hbs
  templates/apps/gm-datapad/surfaces/healing.hbs
  templates/apps/gm-datapad/surfaces/home.hbs
  templates/apps/gm-datapad/surfaces/house-rules.hbs
  templates/apps/gm-datapad/surfaces/jobs.hbs
  templates/apps/gm-datapad/surfaces/settings.hbs
  templates/apps/gm-datapad/surfaces/store.hbs
  templates/apps/gm-datapad/surfaces/trade.hbs
  templates/apps/gm-datapad/surfaces/workspace.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Apply GM Datapad phase2 subpartials and followers comprehensive patch
  scripts/apps/follower-creator.js
  scripts/apps/progression-framework/adapters/follower-deriver.js
  scripts/apps/progression-framework/adapters/follower-session-seeder.js
  scripts/apps/progression-framework/progression-entry.js
  scripts/apps/progression-framework/steps/follower-steps/follower-step-base.js
  scripts/infrastructure/hooks/actor-hooks.js
  scripts/infrastructure/hooks/follower-hooks.js
  scripts/load-templates.js
  scripts/sheets/v2/character-sheet.js
  templates/apps/gm-datapad/surfaces/approvals.hbs
  templates/apps/gm-datapad/surfaces/approvals/history.hbs
  templates/apps/gm-datapad/surfaces/approvals/queue.hbs
  templates/apps/gm-datapad/surfaces/bulletin.hbs
  templates/apps/gm-datapad/surfaces/bulletin/events-panel.hbs
  templates/apps/gm-datapad/surfaces/bulletin/holonews-panel.hbs
  templates/apps/gm-datapad/surfaces/bulletin/live-preview.hbs
  templates/apps/gm-datapad/surfaces/bulletin/messages-panel.hbs
  templates/apps/gm-datapad/surfaces/bulletin/party-state-panel.hbs
  templates/apps/gm-datapad/surfaces/bulletin/player-state-panel.hbs
  templates/apps/gm-datapad/surfaces/healing.hbs
  templates/apps/gm-datapad/surfaces/healing/party-board.hbs
  templates/apps/gm-datapad/surfaces/healing/selected-actor-rail.hbs
  templates/apps/gm-datapad/surfaces/jobs.hbs
  templates/apps/gm-datapad/surfaces/jobs/contract-wizard.hbs
  templates/apps/gm-datapad/surfaces/jobs/empty-state.hbs
  templates/apps/gm-datapad/surfaces/jobs/kanban-and-detail.hbs
  templates/apps/gm-datapad/surfaces/jobs/review-payout-queues.hbs
  templates/apps/gm-datapad/surfaces/store.hbs
  templates/apps/gm-datapad/surfaces/store/approvals-tab.hbs
  templates/apps/gm-datapad/surfaces/store/inventory-tab.hbs
  templates/apps/gm-datapad/surfaces/store/options-tab.hbs
  templates/apps/gm-datapad/surfaces/store/transactions-tab.hbs
  templates/apps/gm-datapad/surfaces/trade.hbs
  templates/apps/gm-datapad/surfaces/trade/audit-panel.hbs
  templates/apps/gm-datapad/surfaces/trade/economy-repair.hbs
  templates/apps/gm-datapad/surfaces/trade/policy-panel.hbs
  templates/apps/gm-datapad/surfaces/trade/trade-board.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Apply followers comprehensive patch v2
  scripts/apps/follower-creator.js
  scripts/apps/follower-manager.js
  scripts/infrastructure/hooks/actor-hooks.js
  scripts/infrastructure/hooks/follower-hooks.js
Due: eslint --fix

Apply GM games all patches with shared shell
  scripts/apps/gm-datapad.js
  scripts/core/load-templates.js
  templates/actors/character/v2-concept/character-sheet.hbs
  templates/apps/gm-datapad.hbs
  templates/shell/partials/holopad-frame-close.hbs
  templates/shell/partials/holopad-frame.hbs
  templates/shell/shell-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Apply followers talent coverage v3
  index.js
  scripts/apps/follower-creator.js
  scripts/apps/follower-manager.js
  scripts/apps/progression-framework/adapters/default-subtypes.js
  scripts/apps/progression-framework/steps/follower-steps/follower-feat-step.js
  scripts/apps/progression-framework/steps/follower-steps/follower-step-base.js
  scripts/engine/crew/follower-talent-config.js
  scripts/talents/squad-actions-init.js
Due: eslint --fix

Apply followers minion coverage v4
  index.js
  scripts/actors/npc/npc-mode-adapter.js
  scripts/actors/npc/npc-profile-builder.js
  scripts/apps/follower-creator.js
  scripts/apps/follower-manager.js
  scripts/apps/minion-creator.js
  scripts/apps/minion-manager.js
  scripts/apps/progression-framework/adapters/follower-session-seeder.js
  scripts/apps/progression-framework/progression-entry.js
  scripts/engine/crew/follower-talent-config.js
  scripts/engine/talent/minion-actions-mechanics.js
  scripts/infrastructure/hooks/follower-hooks.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  scripts/talents/minion-actions-init.js
  templates/actors/npc/v2/partials/npc-owner-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Apply followers minions nonheroic v5
  packs/talents.db
  scripts/apps/minion-creator.js
  scripts/apps/progression-framework/adapters/default-subtypes.js
  scripts/apps/progression-framework/follower-shell.js
  scripts/apps/progression-framework/progression-entry.js
  scripts/apps/progression-framework/registries/node-descriptor-mapper.js
  scripts/apps/progression-framework/steps/nonheroic-starting-feats-step.js
  scripts/data/authority/talent-prerequisite-authority.js
  scripts/engine/crew/follower-talent-config.js
  scripts/engine/progression/registries/progression-node-definitions.js
  scripts/engine/progression/utils/class-data-loader.js
  scripts/infrastructure/hooks/follower-hooks.js
  scripts/sheets/v2/character-sheet.js
  scripts/ui/shell/ProgressionSurfaceAdapter.js
  scripts/ui/shell/ShellSurfaceRegistry.js
  templates/apps/progression-framework/steps/nonheroic-starting-feats-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Apply GM Datapad phase3 controller registry
  scripts/apps/gm-datapad.js
  scripts/ui/shell/gm/controllers/GMHouseRulesSurfaceController.js
  scripts/ui/shell/gm/controllers/GMSettingsSurfaceController.js
  scripts/ui/shell/gm/controllers/GMSurfaceControllerRegistry.js
  scripts/ui/shell/gm/controllers/GMWorkspaceSurfaceController.js
Due: eslint --fix

Apply GM Datapad phase4 healing and approvals controllers
  scripts/apps/gm-datapad.js
  scripts/ui/shell/gm/controllers/GMApprovalsSurfaceController.js
  scripts/ui/shell/gm/controllers/GMHealingSurfaceController.js
  scripts/ui/shell/gm/controllers/GMSurfaceControllerRegistry.js
Due: eslint --fix

Apply GM Datapad phase5 store and trade controllers
  scripts/apps/gm-datapad.js
  scripts/ui/shell/gm/controllers/GMStoreControlSurfaceController.js
  scripts/ui/shell/gm/controllers/GMSurfaceControllerRegistry.js
  scripts/ui/shell/gm/controllers/GMTradeConsoleSurfaceController.js
Due: eslint --fix

Apply followers compact chargen v7
  scripts/apps/follower-creator.js
  scripts/apps/minion-creator.js
  scripts/apps/progression-framework/adapters/default-subtypes.js
  scripts/apps/progression-framework/adapters/follower-deriver.js
  scripts/apps/progression-framework/adapters/nonheroic-session-seeder.js
  scripts/apps/progression-framework/follower-shell.js
  scripts/apps/progression-framework/progression-entry.js
  scripts/apps/progression-framework/steps/follower-steps/follower-background-step.js
  scripts/apps/progression-framework/steps/follower-steps/follower-confirm-step.js
  scripts/apps/progression-framework/steps/follower-steps/follower-details-step.js
  scripts/apps/progression-framework/steps/follower-steps/follower-droid-step.js
  scripts/apps/progression-framework/steps/follower-steps/follower-human-bonus-step.js
  scripts/apps/progression-framework/steps/follower-steps/follower-language-step.js
  scripts/apps/progression-framework/steps/follower-steps/follower-origin-step.js
  scripts/apps/progression-framework/steps/follower-steps/follower-species-step.js
  scripts/apps/progression-framework/steps/follower-steps/follower-step-base.js
  scripts/apps/progression-framework/steps/follower-steps/follower-template-step.js
  scripts/apps/progression-framework/testing/phase-3.6-follower-verification.test.js
  scripts/houserules/houserules-manifest.js
  scripts/settings/house-rules.js
  scripts/utils/settings-defaults.js
  templates/actors/npc/v2/partials/npc-owner-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Apply GM Datapad phase6 jobs controller
  scripts/apps/gm-datapad.js
  scripts/ui/shell/gm/controllers/GMJobBoardSurfaceController.js
  scripts/ui/shell/gm/controllers/GMSurfaceControllerRegistry.js
Due: eslint --fix

Apply GM Datapad phase7 bulletin controller
  scripts/apps/gm-datapad.js
  scripts/ui/shell/gm/controllers/GMBulletinSurfaceController.js
  scripts/ui/shell/gm/controllers/GMSurfaceControllerRegistry.js
Due: eslint --fix

Apply allies app phase8a
  scripts/apps/follower-creator.js
  scripts/apps/minion-creator.js
  scripts/load-templates.js
  scripts/sheets/v2/character-sheet.js
  scripts/ui/shell/AlliesSurfaceController.js
  scripts/ui/shell/AlliesSurfaceService.js
  scripts/ui/shell/HomeSurfaceService.js
  scripts/ui/shell/ShellSurfaceRegistry.js
  styles/system/allies-surface.css
  system.json
  templates/shell/partials/surface-allies-lane.hbs
  templates/shell/partials/surface-allies-record.hbs
  templates/shell/partials/surface-allies.hbs
  templates/shell/shell-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Apply allies bases phase8b and GM Datapad phase8 business method extraction
  scripts/apps/gm-datapad.js
  scripts/load-templates.js
  scripts/ui/shell/AlliesSurfaceController.js
  scripts/ui/shell/AlliesSurfaceService.js
  scripts/ui/shell/gm/GMDashboardSurfaceService.js
  scripts/ui/shell/gm/GMHouseRulesSurfaceService.js
  scripts/ui/shell/gm/controllers/GMHealingSurfaceController.js
  scripts/ui/shell/gm/controllers/GMStoreControlSurfaceController.js
  styles/system/allies-surface.css
  templates/shell/partials/surface-allies-base-card.hbs
  templates/shell/partials/surface-allies.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Apply allies factions phase8c
  scripts/load-templates.js
  scripts/ui/shell/AlliesSurfaceController.js
  scripts/ui/shell/AlliesSurfaceService.js
  styles/system/allies-surface.css
  templates/shell/partials/surface-allies-faction-card.hbs
  templates/shell/partials/surface-allies.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Apply GM Datapad phase9 store operations service
  scripts/apps/gm-datapad.js
  scripts/ui/shell/gm/GMStoreOperationsService.js
  scripts/ui/shell/gm/controllers/GMStoreControlSurfaceController.js
Due: eslint --fix

Apply allies polish phase8e
  scripts/load-templates.js
  scripts/ui/shell/AlliesSurfaceController.js
  scripts/ui/shell/AlliesSurfaceService.js
  scripts/ui/shell/HomeSurfaceService.js
  styles/system/allies-surface.css
  templates/shell/partials/surface-allies-faction-card.hbs
  templates/shell/partials/surface-allies-organization-card.hbs
  templates/shell/partials/surface-allies.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Apply GM workspace faction manager skeleton
  scripts/allies/faction-registry-service.js
  scripts/core/settings.js
  scripts/holonet/subsystems/holonet-messenger-service.js
  scripts/ui/shell/gm/GMWorkspaceSurfaceService.js
  scripts/ui/shell/gm/controllers/GMWorkspaceSurfaceController.js
  styles/apps/gm-datapad.css
  templates/apps/gm-datapad/surfaces/workspace.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Update factions system with complete changed files from zip
  scripts/allies/faction-registry-service.js
  scripts/apps/gm-datapad.js
  scripts/core/load-templates.js
  scripts/holonet/subsystems/holonet-messenger-service.js
  scripts/load-templates.js
  scripts/ui/shell/AlliesSurfaceController.js
  scripts/ui/shell/AlliesSurfaceService.js
  scripts/ui/shell/gm/GMApprovalsSurfaceService.js
  scripts/ui/shell/gm/GMFactionRelationshipSurfaceService.js
  scripts/ui/shell/gm/GMSurfaceRegistry.js
  scripts/ui/shell/gm/controllers/GMApprovalsSurfaceController.js
  scripts/ui/shell/gm/controllers/GMFactionRelationshipSurfaceController.js
  scripts/ui/shell/gm/controllers/GMSurfaceControllerRegistry.js
  styles/apps/gm-datapad.css
  templates/apps/gm-datapad/surfaces/approvals.hbs
  templates/apps/gm-datapad/surfaces/factions.hbs
  templates/shell/partials/surface-allies-faction-card.hbs
  templates/shell/partials/surface-allies.hbs
  templates/shell/shell-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

.
  scripts/allies/faction-registry-service.js
  scripts/apps/gm-datapad.js
  scripts/apps/gm-droid-approval-dashboard.js
  scripts/apps/progression-framework/progression-entry.js
  scripts/engine/rolls/swse-roll-engine.js
  scripts/games/games/hintaro/hintaro-rules.js
  scripts/holonet/subsystems/holonet-messenger-service.js
  scripts/load-templates.js
  scripts/ui/shell/AlliesSurfaceController.js
  scripts/ui/shell/HomeSurfaceService.js
  scripts/ui/shell/gm/GMApprovalOperationsService.js
  scripts/ui/shell/gm/GMApprovalsSurfaceService.js
  scripts/ui/shell/gm/GMFactionRelationshipSurfaceService.js
  scripts/ui/shell/gm/controllers/GMApprovalsSurfaceController.js
  scripts/ui/shell/gm/controllers/GMFactionRelationshipSurfaceController.js
  scripts/ui/shell/gm/controllers/GMHealingSurfaceController.js
  scripts/ui/shell/gm/controllers/GMJobBoardSurfaceController.js
  styles/apps/gm-datapad.css
  templates/apps/gm-datapad/surfaces/factions.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Add games surface feature with Sabacc, Pazaak, Dejarik, and Hintaro tables
  scripts/load-templates.js
  scripts/ui/shell/GamesSurfaceService.js
  styles/system/games-surface.css
  templates/shell/partials/games/surface-games-dejarik-table.hbs
  templates/shell/partials/games/surface-games-detail.hbs
  templates/shell/partials/games/surface-games-hintaro-table.hbs
  templates/shell/partials/games/surface-games-library.hbs
  templates/shell/partials/games/surface-games-pazaak-table.hbs
  templates/shell/partials/games/surface-games-rail.hbs
  templates/shell/partials/games/surface-games-sabacc-table.hbs
  templates/shell/partials/games/surface-games-table-frame.hbs
  templates/shell/partials/surface-games.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Add phase 4: Pazaak view model, GamesSurfaceController, and CSS/template updates
  scripts/games/games/pazaak/pazaak-view-model.js
  scripts/ui/shell/GamesSurfaceController.js
  styles/system/games-surface.css
  templates/shell/partials/games/surface-games-pazaak-table.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Add Sabacc and Hintaro view models with table templates and CSS updates
  scripts/games/games/hintaro/hintaro-view-model.js
  scripts/games/games/sabacc/sabacc-view-model.js
  styles/system/games-surface.css
  templates/shell/partials/games/surface-games-hintaro-table.hbs
  templates/shell/partials/games/surface-games-sabacc-table.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Add Dejarik view model with table template and CSS updates
  scripts/games/games/dejarik/dejarik-view-model.js
  styles/system/games-surface.css
  templates/shell/partials/games/surface-games-dejarik-table.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Add game center registry and update games surface service, templates, and CSS
  scripts/games/game-center-registry.js
  scripts/ui/shell/GamesSurfaceService.js
  styles/system/games-surface.css
  templates/shell/partials/games/surface-games-detail.hbs
  templates/shell/partials/games/surface-games-library.hbs
  templates/shell/partials/games/surface-games-rail.hbs
  templates/shell/partials/games/surface-games-table-frame.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Add game credit escrow and economy policy services
  scripts/games/wagers/game-credit-escrow-service.js
  scripts/games/wagers/game-economy-policy-service.js
Due: eslint --fix

Add Sabacc rules, smoke tests, QA audit doc, and CSS updates
  docs/Holopad-Games-Phase-10-QA-Rules-Fidelity-Audit.md
  scripts/games/games/sabacc/sabacc-rules.js
  scripts/games/tests/games-rules-smoke-tests.mjs
  styles/system/games-surface.css
Due: eslint --fix, prettier --write

Apply rules fidelity patch: Pazaak/Sabacc engines, rules, AI, and updated tests
  scripts/games/games/pazaak/pazaak-engine.js
  scripts/games/games/pazaak/pazaak-rules.js
  scripts/games/games/sabacc/sabacc-ai.js
  scripts/games/games/sabacc/sabacc-engine.js
  scripts/games/games/sabacc/sabacc-rules.js
  scripts/games/games/sabacc/sabacc-view-model.js
  scripts/games/tests/games-rules-smoke-tests.mjs
  templates/shell/partials/surface-games.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Add Dejarik and Hintaro engines, rules, pieces, and updated smoke tests
  scripts/games/games/dejarik/dejarik-engine.js
  scripts/games/games/dejarik/dejarik-pieces.js
  scripts/games/games/dejarik/dejarik-rules.js
  scripts/games/games/dejarik/dejarik-view-model.js
  scripts/games/games/hintaro/hintaro-engine.js
  scripts/games/games/hintaro/hintaro-rules.js
  scripts/games/tests/games-rules-smoke-tests.mjs
Due: eslint --fix

Add Dejarik monster detail card UI updates to view model, controller, and CSS
  scripts/games/games/dejarik/dejarik-view-model.js
  scripts/ui/shell/GamesSurfaceController.js
  styles/system/games-surface.css
  templates/shell/partials/surface-games.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Update Pazaak engine, rules, and smoke tests (patch 1)
  scripts/games/games/pazaak/pazaak-engine.js
  scripts/games/games/pazaak/pazaak-rules.js
  scripts/games/tests/games-rules-smoke-tests.mjs
Due: eslint --fix

Update Sabacc engine, rules, view model, table template, and CSS (patch 2)
  scripts/games/games/sabacc/sabacc-engine.js
  scripts/games/games/sabacc/sabacc-rules.js
  scripts/games/games/sabacc/sabacc-view-model.js
  scripts/games/tests/games-rules-smoke-tests.mjs
  styles/system/games-surface.css
  templates/shell/partials/games/surface-games-sabacc-table.hbs
  templates/shell/partials/surface-games.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
