Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Correct vehicle attack formula: Gunner BAB + Vehicle INT, not gunner ability
  docs/audits/rolling-system-alignment-phase-3.md
  scripts/combat/rolls/attacks.js
  scripts/engine/combat/vehicle-attack-math.js
  tests/phase3-vehicle-attack-formula.test.mjs
Due: eslint --fix, prettier --write

Phase 4 rolling-system alignment: abstract-crew formula, attack-domain routing, sequence identity
  docs/audits/rolling-system-alignment-phase-4.md
  scripts/combat/rolls/attacks.js
  scripts/engine/combat/attack-domain-router.js
  scripts/engine/combat/attack-roll-diagnostics.js
  scripts/engine/combat/features/combat-feature-handlers.js
  scripts/engine/combat/full-attack-executor.js
  scripts/engine/combat/vehicle-attack-math.js
  scripts/sheets/v2/vehicle-sheet/crew-skill-router.js
  scripts/ui/chat/chat-interaction-bridge.js
  tests/phase3-vehicle-attack-formula.test.mjs
  tests/phase4-abstract-crew-and-routing.test.mjs
  tests/phase4-damage-application-receipt.test.mjs
  tests/phase4-full-attack-sequence-identity.test.mjs
  tests/phase4-stacked-integration.test.mjs
  tests/phase4-vehicle-size-fire-control-regression.test.mjs
  tests/vehicle-attack-routing-guard-check.test.mjs
  tools/check-vehicle-attack-routing-guard.mjs
Due: eslint --fix, prettier --write

Phase 5 rolling-system alignment: interactive full-attack reroll, CI, integration hardening
  .github/workflows/rolling-system-validation.yml
  docs/audits/rolling-system-alignment-phase-5.md
  scripts/engine/combat/full-attack-card-renderer.js
  scripts/engine/combat/full-attack-executor.js
  scripts/engine/combat/full-attack-message-state.js
  scripts/engine/feats/meta-resource-feat-resolver.js
  scripts/ui/chat/chat-interaction-bridge.js
  tests/full-attack-reroll-guard-check.test.mjs
  tests/phase2-reroll-outcome-integrity.test.mjs
  tests/phase4-full-attack-sequence-identity.test.mjs
  tests/phase5-full-attack-message-state.test.mjs
  tests/phase5-full-attack-reroll-handler.test.mjs
  tests/phase5-stacked-integration.test.mjs
  tests/rolling-ci-support-check.test.mjs
  tools/check-full-attack-reroll-guard.mjs
  tools/run-rolling-syntax-check.mjs
  tools/run-rolling-tests.mjs
Due: eslint --fix, prettier --write

Phase 6 rolling-system alignment: vehicle crew assignment and drag-and-drop repair
  .github/workflows/rolling-system-validation.yml
  docs/audits/vehicle-crew-assignment-phase-6.md
  scripts/engine/crew/vehicle-crew-assignment-service.js
  scripts/engine/interactions/vehicle-drop-engine.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/vehicle-sheet/crew-resolver.js
  scripts/sheets/v2/vehicle-sheet/vehicle-context-builder.js
  scripts/sheets/v2/vehicle-sheet/vehicle-crew-assignment-controls.js
  templates/actors/vehicle/v2/partials/vehicle-crew-assignment-panel.hbs
  tests/phase3-vehicle-operator-resolution.test.mjs
  tests/phase6-vehicle-crew-assignment.test.mjs
  tests/vehicle-crew-assignment-guard-check.test.mjs
  tools/check-vehicle-crew-assignment-guard.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Phase 7 rolling-system alignment: vehicle crew runtime validation and UX completion
  .github/workflows/rolling-system-validation.yml
  docs/audits/vehicle-crew-runtime-and-ux-phase-7.md
  lang/en.json
  scripts/engine/crew/vehicle-crew-assignment-service.js
  scripts/engine/crew/vehicle-crew-diagnostics-log.js
  scripts/engine/crew/vehicle-crew-diagnostics.js
  scripts/engine/crew/vehicle-custom-station-service.js
  scripts/engine/crew/vehicle-weapon-station-service.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/vehicle-sheet/crew-resolver.js
  scripts/sheets/v2/vehicle-sheet/crew-skill-router.js
  scripts/sheets/v2/vehicle-sheet/vehicle-context-builder.js
  scripts/sheets/v2/vehicle-sheet/vehicle-crew-assignment-controls.js
  scripts/sheets/v2/vehicle-sheet/weapon-station-mapping.js
  scripts/utils/actor-utils.js
  styles/sheets/vehicle-sheet.css
  templates/actors/vehicle/v2/partials/vehicle-custom-station-editor-panel.hbs
  templates/actors/vehicle/v2/partials/vehicle-sheet-content.hbs
  templates/actors/vehicle/v2/partials/vehicle-weapon-mount-panel.hbs
  tests/phase3-vehicle-attack-formula.test.mjs
  tests/phase7-vehicle-crew-runtime-ux.test.mjs
  tests/vehicle-crew-runtime-ux-guard-check.test.mjs
  tools/check-vehicle-crew-runtime-ux-guard.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Add droid static audit documenting fragmented droid data model
  docs/audits/droid-static-audit.md
Due: prettier --write

fix(droids): consolidate part identity and installed component resolution
  docs/audits/droid-authority-consolidation-phase-1.md
  scripts/data/droid-part-schema.js
  scripts/debug/droid-authority-diagnostics.js
  scripts/domain/droids/droid-installed-component-resolver.js
  scripts/domain/droids/droid-item-classification.js
  scripts/domain/droids/droid-part-schema.js
  scripts/domain/droids/droid-system-definitions.js
  scripts/engine/customization/droid-customization-engine.js
  scripts/engine/effects/modifiers/ModifierEngine.js
  scripts/sheets/v2/droid-sheet/droid-systems-resolver.js
  tests/droid-installed-component-resolver.test.mjs
  tests/droid-item-classification.test.mjs
  tools/check-droid-authority-ssot.mjs
Due: eslint --fix, prettier --write

fix(droids): consolidate droid installation write authority
  docs/audits/droid-authority-consolidation-phase-2.md
  scripts/debug/droid-authority-diagnostics.js
  scripts/domain/droids/droid-installation-reconciler.js
  scripts/engine/customization/droid-customization-engine.js
  scripts/engine/upgrades/UpgradeService.js
  tests/droid-installation-reconciler.test.mjs
  tools/check-droid-installation-write-authority.mjs
Due: eslint --fix, prettier --write

fix(droids): preserve published stats on stock-imported droids
  docs/audits/droid-authority-consolidation-phase-3.md
  scripts/actors/droid/droid-mode-adapter.js
  scripts/actors/v2/droid-actor.js
  scripts/sheets/v2/droid-sheet/context-builder.js
  scripts/utils/hardening.js
  tests/droid-mode-adapter.test.mjs
Due: eslint --fix, prettier --write

Droid Phase 3: stock-statblock calculation-mode authority and playable conversion
  docs/audits/droid-stock-statblock-authority-phase-3.md
  scripts/actors/droid/droid-mode-adapter.js
  scripts/actors/v2/droid-actor.js
  scripts/apps/progression-framework/progression-entry.js
  scripts/debug/droid-authority-diagnostics.js
  scripts/domain/droids/droid-statblock-conversion-service.js
  scripts/engine/combat/combat-roll-math.js
  scripts/engine/import/stock-droid-importer-engine.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/droid-sheet/context-builder.js
  templates/actors/droid/v2/partials/droid-build-status-card.hbs
  tests/droid-mode-adapter.test.mjs
  tools/check-droid-calculation-mode-authority.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

fix(droids): reconcile converted systems and harden runtime coverage
  docs/audits/droid-converted-system-reconciliation-phase-4.md
  scripts/actors/droid/droid-mode-adapter.js
  scripts/debug/droid-authority-diagnostics.js
  scripts/domain/droids/droid-converted-system-reconciliation-classifier.js
  scripts/domain/droids/droid-converted-system-reconciliation-service.js
  scripts/domain/droids/droid-installed-component-resolver.js
  scripts/domain/droids/droid-statblock-conversion-service.js
  scripts/engine/customization/droid-customization-engine.js
  scripts/engine/effects/modifiers/ModifierEngine.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/droid-sheet/context-builder.js
  templates/actors/droid/v2/partials/droid-build-status-card.hbs
  tests/droid-converted-system-reconciliation-classifier.test.mjs
  tests/droid-mode-adapter.test.mjs
  tests/droid-phase4-foundry-shim.test.mjs
  tests/helpers/foundry-shim/fakes/actor-engine.fake.mjs
  tests/helpers/foundry-shim/fakes/actor-factory.mjs
  tests/helpers/foundry-shim/globals.mjs
  tests/helpers/foundry-shim/path-loader.mjs
  tests/helpers/foundry-shim/register.mjs
  tools/check-droid-installation-write-authority.mjs
  tools/check-droid-reconciliation-authority.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

test(droids): add progression guard and synthetic-token targeting coverage
  docs/audits/droid-live-runtime-validation-phase-5.md
  scripts/actors/droid/droid-mode-adapter.js
  scripts/apps/progression-framework/progression-entry.js
  tests/droid-mode-adapter.test.mjs
  tests/droid-synthetic-token-mutation-targeting.test.mjs
  tests/helpers/foundry-shim/globals.mjs
Due: eslint --fix, prettier --write

fix(followers): consolidate droid chargen into chassis step
  docs/audits/follower-droid-chassis-step-consolidation-phase-6.md
  scripts/apps/progression-framework/follower-shell.js
  scripts/apps/progression-framework/steps/droid-builder-step.js
  scripts/apps/progression-framework/steps/follower-droid-chassis-applicability.js
  scripts/apps/progression-framework/steps/follower-steps/follower-droid-builder-step.js
  scripts/apps/progression-framework/steps/follower-steps/follower-droid-chassis-compat.js
  scripts/apps/progression-framework/steps/follower-steps/follower-droid-context.js
  scripts/apps/progression-framework/steps/follower-steps/follower-droid-step.js
  scripts/apps/progression-framework/steps/follower-steps/follower-species-step.js
  scripts/apps/progression-framework/steps/follower-steps/follower-step-base.js
  scripts/apps/progression-framework/steps/follower-steps/follower-step-visibility.js
  tests/follower-droid-chassis-applicability.test.mjs
  tests/follower-droid-chassis-compat.test.mjs
  tests/follower-droid-context.test.mjs
  tests/follower-step-visibility.test.mjs
  tools/check-follower-droid-chassis-authority.mjs
Due: eslint --fix, prettier --write

fix(followers): harden droid chassis consolidation (addendum)
  docs/audits/follower-droid-chassis-step-consolidation-phase-6.md
  scripts/apps/progression-framework/steps/droid-builder-step.js
  scripts/apps/progression-framework/steps/follower-steps/follower-confirm-step.js
  scripts/apps/progression-framework/steps/follower-steps/follower-droid-builder-step.js
  scripts/apps/progression-framework/steps/follower-steps/follower-droid-chassis-compat.js
  scripts/apps/progression-framework/steps/follower-steps/follower-droid-context.js
  scripts/apps/progression-framework/steps/follower-steps/follower-origin-step.js
  templates/apps/progression-framework/steps/follower-summary-work-surface.hbs
  tests/follower-droid-chassis-compat.test.mjs
  tests/follower-droid-context.test.mjs
  tools/check-follower-droid-chassis-authority.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

fix(followers): enforce atomic ActorEngine mutation transactions
  docs/audits/follower-mutation-transaction-authority-phase-6-addendum.md
  scripts/apps/follower-creator.js
  scripts/apps/follower-manager.js
  scripts/apps/progression-framework/adapters/follower-mutation-transaction.js
  scripts/apps/progression-framework/follower-shell.js
  tests/follower-mutation-transaction.test.mjs
  tools/check-follower-mutation-authority.mjs
Due: eslint --fix, prettier --write

fix(followers): close transaction integration and rollback gaps
  docs/audits/follower-mutation-transaction-authority-phase-6-addendum.md
  scripts/apps/follower-creator.js
  scripts/apps/progression-framework/adapters/follower-mutation-planning.js
  scripts/apps/progression-framework/adapters/follower-mutation-transaction.js
  scripts/apps/progression-framework/follower-shell.js
  tests/follower-mutation-planning.test.mjs
  tests/follower-mutation-transaction.test.mjs
  tests/helpers/foundry-shim/fakes/actor-engine.fake.mjs
  tools/check-follower-droid-chassis-authority.mjs
  tools/check-follower-mutation-authority.mjs
Due: eslint --fix, prettier --write

feat(followers): add GM-manual follower slot to Allies Companions tab
  docs/audits/gm-manual-follower-slot-allies.md
  scripts/engine/crew/follower-slot-service.js
  scripts/infrastructure/hooks/follower-hooks.js
  scripts/ui/shell/AlliesSurfaceController.js
  scripts/ui/shell/AlliesSurfaceService.js
  templates/shell/partials/surface-allies-lane.hbs
  templates/shell/partials/surface-allies.hbs
  tests/gm-manual-follower-slot.test.mjs
  tools/check-follower-slot-authority.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

feat(allies): add GM existing-NPC assignment (assign as ally / convert to follower)
  docs/audits/gm-existing-npc-allies-assignment.md
  scripts/engine/crew/ally-assignment-service.js
  scripts/ui/shell/AlliesSurfaceController.js
  scripts/ui/shell/AlliesSurfaceService.js
  templates/shell/partials/surface-allies-lane.hbs
  templates/shell/partials/surface-allies.hbs
  tests/gm-existing-npc-allies-assignment.test.mjs
  tools/check-ally-assignment-authority.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

fix(allies): make NPC follower conversion atomic
  docs/audits/gm-existing-npc-allies-assignment.md
  scripts/engine/crew/ally-assignment-service.js
  tests/gm-existing-npc-allies-assignment.test.mjs
  tools/check-ally-assignment-authority.mjs
Due: eslint --fix, prettier --write

feat(allies): add styled NPC assignment modal
  docs/audits/gm-existing-npc-allies-assignment.md
  scripts/apps/allies/ally-assignment-modal.js
  scripts/load-templates.js
  scripts/ui/shell/AlliesSurfaceController.js
  scripts/ui/shell/AlliesSurfaceService.js
  styles/apps/allies/ally-assignment-modal.css
  system.json
  templates/apps/allies/ally-assignment-modal.hbs
  tests/gm-npc-assignment-modal.test.mjs
  tools/check-ally-assignment-authority.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

fix(allies): harden NPC assignment modal eligibility
  docs/audits/gm-existing-npc-allies-assignment.md
  scripts/apps/allies/ally-assignment-modal.js
  scripts/engine/crew/ally-assignment-service.js
  scripts/ui/shell/AlliesSurfaceController.js
  scripts/ui/shell/AlliesSurfaceService.js
  styles/apps/allies/ally-assignment-modal.css
  templates/apps/allies/ally-assignment-modal.hbs
  tests/gm-npc-assignment-modal.test.mjs
  tools/check-ally-assignment-authority.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

fix(allies): harden NPC assignment modal eligibility (round 2)
  docs/audits/gm-existing-npc-allies-assignment.md
  scripts/apps/allies/ally-assignment-modal.js
  scripts/engine/crew/ally-assignment-service.js
  scripts/ui/shell/AlliesSurfaceController.js
  scripts/ui/shell/AlliesSurfaceService.js
  styles/apps/allies/ally-assignment-modal.css
  templates/apps/allies/ally-assignment-modal.hbs
  tests/gm-existing-npc-allies-assignment.test.mjs
  tests/gm-npc-assignment-modal.test.mjs
  tools/check-ally-assignment-authority.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

fix(followers): propagate derivation failure and centralize slot occupancy
  scripts/apps/follower-creator.js
  scripts/apps/minion-creator.js
  scripts/apps/progression-framework/adapters/follower-session-seeder.js
  scripts/apps/progression-framework/progression-entry.js
  scripts/domain/followers/follower-slot-occupancy.js
  scripts/infrastructure/hooks/follower-hooks.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  tests/follower-hooks-governed-cleanup.test.mjs
  tests/follower-slot-occupancy-alignment.test.mjs
Due: eslint --fix

fix(droids): correct stock combat math, damage contract, and customization validation
  scripts/actors/droid/droid-mode-adapter.js
  scripts/combat/rolls/attacks.js
  scripts/combat/rolls/damage.js
  scripts/domain/droids/droid-installed-component-resolver.js
  scripts/engine/combat/combat-roll-math.js
  scripts/engine/customization/droid-customization-engine.js
  scripts/engine/import/stock-droid-importer-engine.js
  tests/droid-customization-exploit.test.mjs
  tests/droid-mode-adapter.test.mjs
  tests/stock-droid-attack-math.test.mjs
  tests/stock-droid-damage-math.test.mjs
  tests/stock-droid-importer-document-api.test.mjs
  tools/check-droid-calculation-mode-authority.mjs
  tools/check-droid-customization-validation-authority.mjs
Due: eslint --fix

fix(governance): make ownership/owner-array rollback exact, enrich world-graph follower detection
  scripts/engine/crew/ally-assignment-service.js
  tests/ally-assignment-rollback-exactness.test.mjs
Due: eslint --fix

docs: record round-3 static review correction pass
  docs/audits/droid-authority-static-review-round-3-correction.md
Due: prettier --write

fix(followers): make auto-detach and deletion failure transactional
  scripts/apps/follower-creator.js
  scripts/domain/followers/follower-talent-detach-plan.js
  scripts/infrastructure/hooks/follower-hooks.js
  tests/follower-deletion-failure-propagation.test.mjs
  tests/follower-hooks-governed-cleanup.test.mjs
  tests/follower-talent-detach-plan.test.mjs
Due: eslint --fix

fix(allies): complete occupancy SSOT and exact target rollback
  scripts/engine/crew/ally-assignment-service.js
  scripts/engine/crew/follower-slot-service.js
  scripts/patches/follower-orphan-transfer-hotfix.js
  scripts/patches/follower-repeatable-entitlement-hotfix.js
  scripts/ui/shell/AlliesSurfaceService.js
  tests/ally-assignment-rollback-exactness.test.mjs
  tests/follower-slot-occupancy-alignment.test.mjs
  tools/check-follower-slot-authority.mjs
  tools/check-follower-slot-occupancy-authority.mjs
Due: eslint --fix

fix(combat): preserve stock-droid situational damage dice
  scripts/domain/droids/stock-droid-damage-formula.js
  scripts/engine/combat/combat-roll-math.js
  tests/stock-droid-damage-formula.test.mjs
  tests/stock-droid-damage-math.test.mjs
Due: eslint --fix

docs: record round-4 static review correction pass
  docs/audits/droid-authority-static-review-round-3-correction.md
Due: prettier --write

fix(droids): harden converted-system reconciliation apply
  docs/audits/droid-authority-static-review-round-3-correction.md
  docs/audits/droid-converted-system-reconciliation-phase-4.md
  scripts/domain/droids/droid-converted-system-reconciliation-classifier.js
  scripts/domain/droids/droid-converted-system-reconciliation-service.js
  scripts/domain/droids/droid-reconciliation-revision.js
  scripts/sheets/v2/character-sheet.js
  tests/droid-phase4-foundry-shim.test.mjs
  tests/droid-reconciliation-intent-boundary.test.mjs
  tools/check-droid-reconciliation-authority.mjs
Due: eslint --fix, prettier --write

fix(droids): harden installation drift repair boundary
  docs/audits/droid-authority-consolidation-phase-2.md
  docs/audits/droid-authority-static-review-round-3-correction.md
  scripts/debug/droid-authority-diagnostics.js
  scripts/domain/droids/droid-installation-drift-revision.js
  scripts/domain/droids/droid-installation-reconciler.js
  scripts/domain/droids/droid-reconciliation-revision.js
  scripts/domain/droids/droid-revision-hash.js
  tests/droid-installation-drift-repair-intent-boundary.test.mjs
  tests/droid-installation-reconciler.test.mjs
  tools/check-droid-drift-repair-authority.mjs
Due: eslint --fix, prettier --write

fix(governance): make Actor snapshot restoration exact
  scripts/engine/progression/utils/snapshot-manager.js
  scripts/governance/snapshot/deletion-aware-patch.js
  scripts/governance/snapshot/snapshot-restoration-plan.js
  scripts/governance/snapshot/snapshot-service.js
  tests/helpers/foundry-shim/fakes/actor-engine.fake.mjs
Due: eslint --fix

test(governance): cover snapshot failure and ID preservation
  tests/snapshot-restoration-plan.test.mjs
  tests/snapshot-service-restoration.test.mjs
  tools/check-snapshot-restoration-authority.mjs
Due: none

fix(droids): migrate rollback callers to exact snapshot restore
  scripts/domain/droids/droid-converted-system-reconciliation-service.js
  scripts/domain/droids/droid-installation-reconciler.js
  scripts/domain/droids/droid-statblock-conversion-service.js
  tests/droid-installation-drift-repair-intent-boundary.test.mjs
  tests/droid-reconciliation-intent-boundary.test.mjs
Due: eslint --fix

fix(allies): add persistent follower conversion reservations
  scripts/domain/followers/follower-slot-occupancy.js
  scripts/engine/crew/ally-assignment-service.js
  scripts/engine/crew/follower-slot-service.js
  scripts/ui/shell/AlliesSurfaceService.js
Due: eslint --fix

fix(allies): make assignment modal lifecycle collision-safe
  scripts/apps/allies/ally-assignment-modal.js
  styles/apps/allies/ally-assignment-modal.css
  templates/apps/allies/ally-assignment-modal.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

test(allies): cover reservation races and modal settlement
  tests/follower-slot-reservation.test.mjs
  tests/gm-existing-npc-allies-assignment.test.mjs
  tools/check-ally-assignment-authority.mjs
Due: none

docs: close P1-7 and P2-3 authority findings
  docs/audits/droid-authority-consolidation-phase-2.md
  docs/audits/droid-authority-static-review-round-3-correction.md
  docs/audits/gm-existing-npc-allies-assignment.md
Due: prettier --write

fix(governance): verify exact snapshot restoration
  scripts/engine/progression/utils/snapshot-manager.js
  scripts/governance/snapshot/deletion-aware-patch.js
  scripts/governance/snapshot/snapshot-restoration-plan.js
  scripts/governance/snapshot/snapshot-service.js
  tools/check-snapshot-restoration-authority.mjs
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
