Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

Clarify audit scope and terminology — prevent misinterpretation
  docs/audits/partials-usage-audit.md
Due: prettier --write

docs: Add conservative template cleanup analysis report
  docs/audits/partials-cleanup-report.md
Due: prettier --write

fix: Correct inconsistencies and improve precision in cleanup report
  docs/audits/partials-cleanup-report.md
Due: prettier --write

Upgrade NPC v2 sheet with improved GM-friendly dossier header and cleaner tab styling
  helpers/handlebars/partials-auto.js
  scripts/load-templates.js
  scripts/sheets/v2/npc-sheet.js
  styles/sheets/v2-npc-specific.css
  templates/actors/npc/v2/npc-sheet.hbs
  templates/actors/npc/v2/partials/npc-abilities-panel.hbs
  templates/actors/npc/v2/partials/npc-gear-panel.hbs
  templates/actors/npc/v2/partials/npc-header-dossier.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

NPC Sheet v2 hardening pass: eliminate inline styles, verify safety
  styles/sheets/v2-npc-specific.css
  templates/actors/npc/v2/partials/npc-gear-panel.hbs
Due: node scripts/validate/validate-icon-keys.js

Phase 12: Complete feat audit with implementation strategy
  PHASE-12-AUDIT-REPORT.md
  audit-phase-12-detailed.js
  audit-phase-12-feats.js
  phase-12-audit-report.json
Due: eslint --fix, prettier --write

Bucket C: Complete Second Wind / Condition Track feat audit
  BUCKET-C-IMPLEMENTATION-GUIDE.md
  audit-bucket-c.js
  bucket-c-audit.json
Due: eslint --fix, prettier --write

Bucket C: CRITICAL corrections to hook points and implementation strategy
  BUCKET-C-CORRECTED-AUDIT.md
Due: prettier --write

Implement Tier 1 Bucket C feats: Second Wind triggers
  packs/feats.db
  scripts/engine/feats/meta-resource-feat-resolver.js
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix

Implement Tier 2A Bucket C: Damage prevention feats
  packs/feats.db
  scripts/engine/combat/damage-resolution-engine.js
  scripts/engine/combat/threshold-engine.js
Due: eslint --fix

Implement Coup de Grace as executable combat action (unblocks Sadistic Strike)
  scripts/actors/v2/character-actor.js
  scripts/engine/combat/CombatEngine.js
Due: eslint --fix

Implement Tier 2B Bucket C: Sadistic Strike, Stay Up, Shake It Off
  scripts/components/condition-track.js
  scripts/engine/feats/feat-action-listeners.js
  scripts/infrastructure/hooks/init-hooks.js
Due: eslint --fix

Fix Tier 2B Bucket C feat implementations (critical hook timing & field names)
  scripts/engine/combat/CombatEngine.js
  scripts/engine/feats/feat-action-listeners.js
Due: eslint --fix

Harden Phase 12 Tier 1-2B: Critical bug fixes and verification
  scripts/engine/feats/feat-action-listeners.js
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix

Normalize Phase 12 Bucket C feat metadata (remove hardcoded checks)
  packs/feats.db
  scripts/components/condition-track.js
  scripts/engine/combat/damage-resolution-engine.js
  scripts/engine/feats/feat-action-listeners.js
  scripts/engine/feats/meta-resource-feat-resolver.js
Due: eslint --fix

Implement Bucket B Tier 2 reroll feats using metadata only
  packs/feats.db
Due: none

Implement Bucket D Tier 1: Veteran Spacer metadata-only
  packs/feats.db
Due: none

Implement Bucket B Tier 2: Desperate Gambit (attack reroll with Reflex penalty)
  packs/feats.db
  scripts/combat/rolls/enhanced-rolls.js
  scripts/engine/feats/meta-resource-feat-resolver.js
Due: eslint --fix

Harden Desperate Gambit: fix penalty duration to 2 rounds (until end of next turn)
  scripts/engine/feats/meta-resource-feat-resolver.js
Due: eslint --fix

Implement Bucket E Tier 1: 5 metadata-only passive modifier feats
  packs/feats.db
Due: none

Correct Bucket E classification: Starship Designer is GM-enforced, not automation
  packs/feats.db
Due: none

Add Tech Specialist workbench integration implementation plan
  TECH_SPECIALIST_IMPLEMENTATION_PLAN.md
Due: prettier --write

Correct Tech Specialist plan: TS-1 scope clarified, defer catalog/effects
  TECH_SPECIALIST_IMPLEMENTATION_PLAN.md
Due: prettier --write

Tech Specialist Phase TS-1: Actor-aware eligibility seam
  packs/feats.db
  scripts/engine/customization/customization-workflow.js
  scripts/engine/customization/upgrade-eligibility-engine.js
  scripts/engine/feats/meta-resource-feat-resolver.js
  scripts/engine/upgrades/UpgradeService.js
Due: eslint --fix

Tech Specialist Phase TS-2: Catalog entries + eligibility enforcement
  scripts/engine/customization/upgrade-catalog.js
  scripts/engine/customization/upgrade-eligibility-engine.js
Due: eslint --fix

TS-2 Hardening: Fix appliesTo scope + protect rule-note entries
  scripts/engine/customization/upgrade-catalog.js
  scripts/engine/customization/upgrade-eligibility-engine.js
Due: eslint --fix

Tech Specialist Phase TS-3: Schema-verified effect handlers
  scripts/engine/customization/effect-resolver.js
  scripts/engine/customization/upgrade-catalog.js
Due: eslint --fix

Tech Specialist TS-4: Final hardening and status cleanup
  packs/feats.db
Due: none

Implement Grapple Resistance feat with metadata-driven bonus system
  packs/feats.db
  scripts/combat/systems/grappling-system.js
  scripts/engine/feats/meta-resource-feat-resolver.js
Due: eslint --fix

Implement Improvised Weapon Mastery as metadata-only proficiency support
  packs/feats.db
Due: none

Remove non-canon Jack of All Trades feat
  packs/feats.db
Due: none

.
  ENCOUNTER_LIMIT_INFRASTRUCTURE_REPORT.md
  FEAT_AUDIT_PHASE12.md
  OPTION_A_VERIFICATION_REPORT.md
  packs/feats.db
  scripts/apps/progression-framework/steps/species-step.js
  scripts/engine/feats/encounter-use-tracker.js
  scripts/engine/feats/meta-resource-feat-resolver.js
  scripts/engine/skills/skill-feat-resolver.js
  scripts/infrastructure/hooks/combat-hooks.js
  scripts/sheets/v2/droid-sheet.js
  scripts/sheets/v2/vehicle-sheet.js
  styles/progression-framework/progression-shell.css
  styles/progression-framework/steps/species-step.css
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/droid/v2/droid-sheet.hbs
  templates/actors/vehicle/v2/vehicle-sheet.hbs
  templates/apps/progression-framework/utility-bar.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.
  scripts/actors/v2/character-actor.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/chargen-onboarding.js
  scripts/sheets/v2/character-sheet/concept-context.js
  scripts/sheets/v2/character-sheet/form.js
  scripts/sheets/v2/character-sheet/misc-ui.js
  scripts/sheets/v2/character-sheet/skills-ui.js
  styles/sheets/v2-concept-sheet.css
  templates/actors/character/v2-concept/partials/frame/tabs-bar.hbs
  templates/actors/character/v2-concept/partials/panels/abilities-panel.hbs
  templates/actors/character/v2-concept/partials/panels/attacks-panel.hbs
  templates/actors/character/v2-concept/partials/panels/defenses-panel.hbs
  templates/actors/character/v2-concept/partials/panels/hp-condition-panel.hbs
  templates/actors/character/v2-concept/partials/panels/skills-panel.hbs
  templates/actors/character/v2-concept/partials/tabs/combat-tab.hbs
  templates/actors/character/v2-concept/partials/tabs/gear-tab.hbs
  templates/actors/character/v2-concept/partials/tabs/skills-tab.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

docs: Add Phase 0 character sheet SSOT audit and resolution plan
  docs/audits/character-sheet-ssot-resolution-plan.md
Due: prettier --write

feat: Phase 1 - Safe character sheet partial cleanup (no architecture changes)
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/context.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  templates/actors/character/v2-concept/character-sheet.hbs
  templates/actors/character/v2-concept/partials/frame/sheet-surface.hbs
  templates/actors/character/v2-concept/partials/panels/character-record-header.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

docs: Add Phase 1 results to character sheet SSOT audit report
  docs/audits/character-sheet-ssot-resolution-plan.md
Due: prettier --write

docs: Add Phase 1 verification section
  docs/audits/character-sheet-ssot-resolution-plan.md
Due: prettier --write

feat: Phase 2 - Centralize compatibility and remove template-level aliases
  templates/actors/character/v2-concept/partials/panels/notes-panel.hbs
  templates/actors/character/v2-concept/partials/panels/resources-panel.hbs
  templates/actors/character/v2-concept/partials/tabs/summary-tab.hbs
Due: node scripts/validate/validate-icon-keys.js

docs: Add Phase 2 results to character sheet SSOT audit
  docs/audits/character-sheet-ssot-resolution-plan.md
Due: prettier --write

fix: Add missing origin field definitions and form schema coverage
  scripts/data-models/character-data-model.js
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix
