Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Phase 2: Wire ActiveStepComputer into levelup-shell
  scripts/apps/progression-framework/levelup-shell.js
Due: eslint --fix

Phase 2 Complete: Final comprehensive report
  PHASE-2-FINAL-REPORT.md
Due: prettier --write

Phase 3 Step 2-4: Projection engine and prereq adapter
  PHASE-3-AUDIT-REPORT.md
  scripts/apps/progression-framework/shell/prereq-adapter.js
  scripts/apps/progression-framework/shell/projection-engine.js
  scripts/apps/progression-framework/steps/step-plugin-base.js
  scripts/apps/progression-framework/steps/summary-step.js
Due: eslint --fix, prettier --write

Phase 3 Step 5-7: Mutation plan and coordinator
  PHASE-3-PROGRESS.md
  scripts/apps/progression-framework/shell/mutation-coordinator.js
  scripts/apps/progression-framework/shell/mutation-plan.js
Due: eslint --fix, prettier --write

Phase 3 Final Report: Complete projected character and mutation system
  PHASE-3-FINAL-REPORT.md
Due: prettier --write

Phase 4 Step 1-2: Forecast engine and suggestion context adapter
  scripts/engine/progression/forecast/forecast-engine.js
  scripts/engine/progression/forecast/suggestion-context-adapter.js
Due: eslint --fix

Phase 4 Steps 3-5: Result contract, signals normalizer, advisory formatter
  scripts/engine/progression/forecast/advisory-result-formatter.js
  scripts/engine/progression/forecast/build-signals-normalizer.js
  scripts/engine/progression/forecast/suggestion-result-contract.js
Due: eslint --fix

Phase 4 Progress Report: Foundation complete
  PHASE-4-PROGRESS.md
Due: prettier --write

Phase 5 Audit: Existing template infrastructure documented
  PHASE-5-AUDIT-REPORT.md
Due: prettier --write

Phase 5 Step 2-3: Create TemplateAdapter, TemplateValidator, and TemplateTraversalPolicy
  scripts/engine/progression/template/template-adapter.js
  scripts/engine/progression/template/template-traversal-policy.js
  scripts/engine/progression/template/template-validator.js
Due: eslint --fix

Phase 5 Step 2-3: Add comprehensive handoff report
  PHASE-5-STEP-2-SUMMARY.md
Due: prettier --write

Phase 5 Step 5: Verify projection/mutation parity with template sessions
  PHASE-5-STEP-5-VERIFICATION.md
Due: prettier --write

Phase 5 Step 6: Create TemplateSuggestionContext for advisory integration
  scripts/engine/progression/template/template-suggestion-context.js
Due: eslint --fix

Phase 5: Add comprehensive progress report (Steps 1-6 complete)
  PHASE-5-PROGRESS.md
Due: prettier --write

Phase 5 Handoff: Complete comprehensive delivery report
  PHASE-5-HANDOFF.md
Due: prettier --write

Phase 5 Steps 7-9: Complete template system with overrides, packaged flow, and observability
  scripts/engine/progression/template/template-observability.js
  scripts/engine/progression/template/template-override-handler.js
  scripts/engine/progression/template/template-packaged-flow.js
Due: eslint --fix

Phase 5 Complete: Final comprehensive report and completion summary
  PHASE-5-FINAL-REPORT.md
Due: prettier --write

Phase 6 Step 1: Implement architecture governance enforcement
  ARCHITECTURE.md
  scripts/engine/progression/governance/architecture-governance.js
Due: eslint --fix, prettier --write

Phase 6 Step 2: Define content contracts for all authoring targets
  scripts/engine/progression/contracts/content-contracts.js
Due: eslint --fix

Phase 6 Step 3: Build scenario test matrix for regression protection
  scripts/engine/progression/testing/scenario-test-matrix.js
Due: eslint --fix

Phase 6 Progress: Document Steps 1-3 completion (57% of Phase 6)
  PHASE-6-PROGRESS.md
Due: prettier --write

Phase 6 Steps 4-6: Add validation, observability, and coverage tracking
  scripts/engine/progression/coverage/support-tracker.js
  scripts/engine/progression/debugging/progression-debug-helpers.js
  scripts/engine/progression/validation/content-validator.js
Due: eslint --fix

Phase 6 Step 7: In-repo maintenance and extension guide
  MAINTENANCE.md
Due: prettier --write

Phase 7 Step 1: Add user-facing explainability layer
  PHASE-7-PROGRESS.md
  scripts/apps/progression-framework/ux/explanation-display.js
  scripts/apps/progression-framework/ux/progression-shell-explainability-integration.js
  scripts/apps/progression-framework/ux/step-explainability-mixin.js
  scripts/apps/progression-framework/ux/user-explainability.js
Due: eslint --fix, prettier --write

Phase 7 Step 2: Build recovery flows for dirty/template/apply scenarios
  PHASE-7-PROGRESS.md
  scripts/apps/progression-framework/ux/progression-recovery-manager.js
  scripts/apps/progression-framework/ux/recovery-coordinator.js
  scripts/apps/progression-framework/ux/recovery-display.js
Due: eslint --fix, prettier --write

Phase 7 Step 3: Add rollout settings, feature controls, and legacy path closure
  PHASE-7-PROGRESS.md
  scripts/apps/progression-framework/rollout/legacy-entry-point-manager.js
  scripts/apps/progression-framework/rollout/rollout-controller.js
  scripts/apps/progression-framework/rollout/rollout-settings.js
Due: eslint --fix, prettier --write

Phase 7 Step 4: Inventory and deprecate legacy entry points
  LEGACY-ENTRY-POINT-CLOSURE.md
Due: prettier --write

Phase 7 Step 5: Refine summary/review as clear checkout step
  PHASE-7-PROGRESS.md
  scripts/apps/progression-framework/ux/summary-step-enhancement.js
Due: eslint --fix, prettier --write

Phase 7 Step 6-7: Handoff report and completion summary
  PHASE-7-HANDOFF.md
Due: prettier --write

Phase 7 Steps 6-7: Complete diagnostics, readiness checklist, 100% delivery
  PHASE-7-PROGRESS.md
  PHASE-7-READINESS-CHECKLIST.md
  scripts/apps/progression-framework/ux/progression-diagnostics-panel.js
Due: eslint --fix, prettier --write

Phase 8 Step 1: Expand packaged-build library with curated archetype catalog
  PHASE-8-PROGRESS.md
  scripts/apps/progression-framework/content/packaged-build-registry.js
Due: eslint --fix, prettier --write

Phase 8 Handoff: Ecosystem expansion plan (Steps 1-7 specification)
  PHASE-8-HANDOFF.md
Due: prettier --write

Phase 8 Steps 2-5: Target paths, advisory profiles, support closure, ecosystem bridges
  scripts/apps/progression-framework/content/advisory-domain-profiles.js
  scripts/apps/progression-framework/content/bridge-to-starting-equipment.js
  scripts/apps/progression-framework/content/bridge-to-store.js
  scripts/apps/progression-framework/content/campaign-preset-bridge.js
  scripts/apps/progression-framework/content/domain-support-closure.js
  scripts/apps/progression-framework/content/faction-kit-bridge.js
  scripts/apps/progression-framework/content/target-path-definitions.js
Due: eslint --fix

Phase 8 Steps 6-7: Personalization engine and content validation/QA
  scripts/apps/progression-framework/content/content-growth-validator.js
  scripts/apps/progression-framework/content/template-personalization-engine.js
Due: eslint --fix

PHASE 1 STABILIZATION: Single Truth Apply Path
  PHASE-1-STABILIZATION-HANDOFF.md
  scripts/apps/progression-framework/shell/progression-finalizer.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/summary-step.js
  scripts/apps/progression-framework/testing/phase-1-single-truth-apply.test.js
Due: eslint --fix, prettier --write

PHASE 2 — Remove prerequisite authority violations
  PHASE-2-PREREQUISITE-SOVEREIGNTY-AUDIT.md
  scripts/engine/progression/engine/template-engine.js
  scripts/engine/suggestion/AttributeIncreaseScorer.js
  scripts/engine/suggestion/CandidatePoolBuilder.js
Due: eslint --fix, prettier --write

PHASE 2 COMPLETE — Prerequisite sovereignty restored
  PHASE-2-PREREQUISITE-SOVEREIGNTY-HANDOFF.md
  scripts/apps/progression-framework/testing/phase-2-prerequisite-sovereignty.test.js
Due: eslint --fix, prettier --write

PHASE 3 COMPLETE — Scenario & reconciliation proof
  PHASE-3-SCENARIO-RECONCILIATION-HANDOFF.md
  scripts/apps/progression-framework/shell/progression-reconciler.js
  scripts/apps/progression-framework/testing/phase-3-scenario-reconciliation.test.js
Due: eslint --fix, prettier --write

PHASE 4: Rollout Truthfulness and Exposure Control
  PHASE-4-ROLLOUT-TRUTHFULNESS-HANDOFF.md
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/summary-step.js
  scripts/apps/progression-framework/testing/phase-4-rollout-truthfulness.test.js
Due: eslint --fix, prettier --write

PHASE 4 COMPLETE: Runtime Integration of Rollout Truthfulness and Exposure Control
  docs/PHASE-1-ARCHITECTURAL-DECISIONS.md
  docs/PHASE-1-AUDIT.md
  docs/PHASE-1-FINAL-REPORT.md
  docs/PHASE-1-PROGRESS.md
  docs/PHASE-1-STABILIZATION-HANDOFF.md
  docs/PHASE-2-FINAL-REPORT.md
  docs/PHASE-2-PREREQUISITE-SOVEREIGNTY-AUDIT.md
  docs/PHASE-2-PREREQUISITE-SOVEREIGNTY-HANDOFF.md
  docs/PHASE-2-PROGRESS.md
  docs/PHASE-2-SESSION-SUMMARY.md
  docs/PHASE-3-AUDIT-REPORT.md
  docs/PHASE-3-FINAL-REPORT.md
  docs/PHASE-3-PROGRESS.md
  docs/PHASE-3-SCENARIO-RECONCILIATION-HANDOFF.md
  docs/PHASE-4-PROGRESS.md
  docs/PHASE-4-ROLLOUT-TRUTHFULNESS-HANDOFF.md
  docs/PHASE-5-AUDIT-REPORT.md
  docs/PHASE-5-FINAL-REPORT.md
  docs/PHASE-5-HANDOFF.md
  docs/PHASE-5-PROGRESS.md
  docs/PHASE-5-STEP-2-SUMMARY.md
  docs/PHASE-5-STEP-5-VERIFICATION.md
  docs/PHASE-6-PROGRESS.md
  docs/PHASE-7-HANDOFF.md
  docs/PHASE-7-PROGRESS.md
  docs/PHASE-7-READINESS-CHECKLIST.md
  docs/PHASE-8-HANDOFF.md
  docs/PHASE-8-PROGRESS.md
  scripts/apps/chargen-init.js
  scripts/apps/progression-framework/chargen-shell.js
  scripts/apps/progression-framework/levelup-shell.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/testing/phase-4-step-1-settings-registration.test.js
  scripts/apps/progression-framework/testing/phase-4-step-6-runtime-gating.test.js
  scripts/apps/swse-levelup.js
  scripts/engine/progression/hooks/system-init-hooks.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
