Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

PASS 1 COMPLETE: Fix low-risk test/utility files (6 files)
  scripts/governance/mutation/batch-1-validation.js
  scripts/governance/sentinel/v2-comprehensive-audit.js
  scripts/sheets/v2/character-sheet-integration-audit.js
  scripts/sheets/v2/character-sheet-integration-test-harness.js
  scripts/tools/mutation-lint.js
Due: eslint --fix

PASS 2 COMPLETE: Fix medium-risk files (8 files + governance audits)
  scripts/actors/base/swse-actor-base.js
  scripts/apps/upgrade-app.js
  scripts/governance/sentinel/layers/combat-layer.js
  scripts/governance/sentinel/layers/utility-layer.js
  scripts/items/swse-item-sheet.js
  scripts/migration/armor-system-migration-v4.js
Due: eslint --fix

PASS 2 EXTENDED: Add inline @mutation-exception comments to suppressed violations
  scripts/actors/base/swse-actor-base.js
  scripts/items/swse-item-sheet.js
  scripts/migration/armor-system-migration-v4.js
Due: eslint --fix

Add @mutation-exception comments to governance audit/test violations
  scripts/engine/import/npc-template-importer-engine.js
  scripts/governance/sentinel/mutation-interceptor-lock.js
  scripts/governance/sentinel/sentinel-categories.js
  scripts/governance/sentinel/sovereignty-enforcement.js
Due: eslint --fix

✅ BATCH 4 COMPLETE: Eliminate all 51 authoritative mutations
  scripts/apps/upgrade-app.js
  scripts/governance/mutation/batch-1-validation.js
  scripts/governance/sentinel/layers/combat-layer.js
  scripts/governance/sentinel/layers/utility-layer.js
  scripts/governance/sentinel/v2-comprehensive-audit.js
  scripts/items/swse-item-sheet.js
  scripts/sheets/v2/character-sheet-integration-audit.js
  scripts/sheets/v2/character-sheet-integration-test-harness.js
  scripts/tools/mutation-lint.js
  scripts/validate-architecture.js
  scripts/validate-mutation-sovereignty.js
Due: eslint --fix

Annotate 9 suspicious metadata flags as properly classified session state
  scripts/engine/talent/dark-side-talent-mechanics.js
  scripts/talents/DarkSidePowers.js
  scripts/utils/destiny-effects.js
Due: eslint --fix

Phase 2 Audit: Add missing context keys to finalContext
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

Phase 2 Audit: Fix PostRenderAssertions for tab-based panel system
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/context/PostRenderAssertions.js
Due: eslint --fix

Phase 2 Audit: Fix health panel frame duplication
  templates/actors/character/v2/partials/hp-condition-panel.hbs
Due: node scripts/validate/validate-icon-keys.js

Phase 3 Audit: Fix CSS class selector mismatch in character sheet
  templates/actors/character/v2/character-sheet.hbs
Due: node scripts/validate/validate-icon-keys.js

Phase 3: Add comprehensive static smoke test audit
  PHASE3-STATIC-SMOKE-AUDIT.md
Due: prettier --write

Phase 3: Add manual smoke test checklist template
  PHASE3-SMOKE-TEST-CHECKLIST.md
Due: prettier --write

Audit 2: Persistence Audit (92/100) - State survival & lifecycle integrity verified
  AUDIT-2-PERSISTENCE.md
Due: prettier --write

Audit 1: Behavioral Smoke Audit (92/100) - All 14 user flows pass architectural inspection
  AUDIT-1-BEHAVIORAL-SMOKE.md
Due: prettier --write

Audit 3: Cross-Sheet Parity (88/100) - Critical parity issues detected
  AUDIT-3-CROSS-SHEET-PARITY.md
Due: prettier --write

Audit 4: Item/Editor Audit (93/100) - Excellent item governance with minor issues
  AUDIT-4-ITEM-EDITOR.md
Due: prettier --write

Audit 5: Flags Policy (91/100) - Good flag governance with minor issues
  AUDIT-5-FLAGS-POLICY.md
Due: prettier --write

Audit 6: Log Cleanliness (89/100) - Moderate logging volume with governance gaps
  AUDIT-6-LOG-CLEANLINESS.md
Due: prettier --write

Audit 7: Regression Guard Audit (92/100)
  AUDIT-7-REGRESSION-GUARDS.md
Due: prettier --write

Audit 8: Documentation/Contributor Contract Audit (86/100)
  AUDIT-8-DOCUMENTATION-CONTRIBUTOR-CONTRACT.md
Due: prettier --write

Master Summary: Complete 8-Audit Assessment (89/100)
  AUDITS-1-8-MASTER-SUMMARY.md
Due: prettier --write

Add color-coded styling to Condition Track and DSP Tracker
  scripts/sheets/v2/context/PanelContextBuilder.js
  styles/apps/ux-polish.css
  styles/sheets/v2-sheet.css
Due: eslint --fix

Refactor Condition Track UI: Move clickable interaction to angled pill selector
  scripts/components/condition-track.js
  styles/apps/ux-polish.css
Due: eslint --fix

Polish Condition Track and DSP Tracker with enhanced visual feedback
  scripts/sheets/v2/context/PanelContextBuilder.js
  styles/apps/ux-polish.css
  styles/sheets/v2-sheet.css
  templates/actors/character/v2/partials/dark-side-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Add Combat Stats display panel to character sheet overview
  scripts/sheets/v2/context/PANEL_REGISTRY.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  scripts/sheets/v2/context/PanelValidators.js
  styles/actors/v2/combat-stats-panel.css
  system.json
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/character/v2/partials/combat-stats-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Fix color coding in Combat Stats panel
  styles/actors/v2/combat-stats-panel.css
Due: none

Update Combat Stats to read Initiative from skills system
  scripts/sheets/v2/context/PanelContextBuilder.js
Due: eslint --fix

Add editable character identity fields to header and biography with two-way binding
  scripts/sheets/v2/context/PanelContextBuilder.js
  styles/sheets/v2-sheet.css
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/character/v2/partials/character-record-header.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Add selection buttons for Homeworld and Profession
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/character/v2/partials/character-record-header.hbs
Due: node scripts/validate/validate-icon-keys.js

Fix Dark Side Points update path - use system.darkSide.value instead of system.darkSidePoints
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

Add character identity selection button handlers
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

Fix V2 compliance violations: remove calculations from sheet layer
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

Remove unused bonus HP computation method
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

Expand FORM_FIELD_SCHEMA to include all editable number fields
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

Create asdkf
  assets/ui/action-palette/asdkf
Due: none

Add files via upload
  assets/ui/action-palette/README.txt
  assets/ui/action-palette/focus-ring-action.svg
  assets/ui/action-palette/gm-shell-panel.svg
  assets/ui/action-palette/gm-slot-empty.svg
  assets/ui/action-palette/gm-slot-invalid-drop.svg
  assets/ui/action-palette/gm-slot-occupied.svg
  assets/ui/action-palette/gm-slot-valid-drop.svg
  assets/ui/action-palette/gm-zone-panel.svg
  assets/ui/action-palette/radial-center-hub.svg
  assets/ui/action-palette/radial-label-plate.svg
  assets/ui/action-palette/radial-ring-base.svg
  assets/ui/action-palette/radial-segment-active.svg
  assets/ui/action-palette/radial-segment-disabled.svg
  assets/ui/action-palette/radial-segment-hover.svg
  assets/ui/action-palette/radial-segment-idle.svg
  assets/ui/action-palette/suggestion-pill.svg
Due: none

Delete assets/ui/action-palette/asdkf
  assets/ui/action-palette/asdkf
Due: none

Add universal V2 visual editability system
  styles/sheets/v2-sheet.css
Due: none

Reactivate Action Palette with Foundry v13 scene control launcher
  scripts/ui/action-palette/init.js
Due: eslint --fix
