Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

.
  data/lightsaber-components.json
  data/lightsaber-items-import.ndjson
  scripts/apps/chargen/chargen-force-powers.js
  scripts/apps/chargen/chargen-shared.js
  scripts/apps/progression-framework/shell/active-step-computer.js
  scripts/apps/progression-framework/steps/force-power-step.js
  scripts/apps/progression-framework/steps/talent-step.js
  scripts/engine/progression/engine/force-power-engine.js
  scripts/engine/progression/talents/talent-tree-membership-authority.js
  scripts/engine/progression/utils/force-suite-resolution.js
  scripts/engine/registries/force-registry.js
  scripts/ui/shell/StoreSurfaceController.js
  styles/apps/store-card-grid.css
  styles/system/store-surface.css
Due: eslint --fix, prettier --write

Update weapons.db
  packs/weapons.db
Due: none

updates to houserules and RAW alignment
  README.txt
  data/species-canonical-descriptions.json
  data/species-traits-migrated.json
  data/species-traits.json
  packs/feats.db
  packs/species.db
  scripts/apps/chargen/CharacterGeneratorApp.js
  scripts/apps/chargen/chargen-force-powers.js
  scripts/apps/chargen/chargen-main.js
  scripts/apps/chargen/chargen-shared.js
  scripts/apps/progression-framework/adapters/default-subtypes.js
  scripts/apps/progression-framework/chargen-shell.js
  scripts/apps/progression-framework/follower-shell.js
  scripts/apps/progression-framework/shell/active-step-computer.js
  scripts/apps/progression-framework/shell/progression-finalizer.js
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/apps/progression-framework/steps/follower-steps/follower-details-step.js
  scripts/apps/progression-framework/steps/skills-step.js
  scripts/apps/progression-framework/steps/talent-step.js
  scripts/apps/store/store-main.js
  scripts/apps/store/store-shared.js
  scripts/data/prerequisite-checker.js
  scripts/engine/interactions/drop-resolution-engine.js
  scripts/engine/progression/prerequisites/legacy-prereq-registry.js
  scripts/engine/progression/skills/skill-registry.js
  scripts/engine/skills/SkillRules.js
  scripts/engine/store/categorizer.js
  scripts/houserules/houserule-settings.js
  scripts/sheets/v2/character-sheet.js
  scripts/ui/shell/StoreSurfaceController.js
  scripts/ui/shell/StoreSurfaceService.js
  scripts/utils/skill-normalization.js
  styles/system/store-surface.css
  templates/apps/store/store-card-grid.hbs
  templates/shell/partials/surface-store.hbs
  tools/feat_compendium_unmatched_db.csv
  tools/feat_compendium_unmatched_scrape.csv
  tools/feat_compendium_update_report.csv
  tools/feat_compendium_update_report.json
  tools/update_feats_compendium_from_scrape.py
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Update weapons-lightsabers.db
  packs/weapons-lightsabers.db
Due: none

Prepare v3.0.3 release manifest
  system.json
Due: prettier --write

Update houserules-manifest.js
  scripts/houserules/houserules-manifest.js
Due: eslint --fix

.
  data/feat-choice-options.json
  docs/feat-choice-required-audit-phase5.json
  docs/feat-description-and-choice-backfill-phase6.json
  docs/feat-description-fill-gaps-phase1.json
  docs/feat-description-metadata-reimplementation-phase7.json
  docs/feat-diagnostics-phase5.json
  docs/feat-high-confidence-fixes-phase4.json
  docs/feat-metadata-implementation-audit-phase2.json
  docs/feat-passive-conditional-metadata-phase2-5.json
  docs/feat-static-context-audit-phase3.json
  packs/feats.db
  scripts/actors/derived/defense-calculator.js
  scripts/actors/derived/derived-calculator.js
  scripts/apps/chargen/chargen-main.js
  scripts/apps/levelup/levelup-feats.js
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/apps/progression-framework/steps/force-power-step.js
  scripts/combat/rolls/attacks.js
  scripts/engine/abilities/passive/passive-adapter.js
  scripts/engine/abilities/passive/passive-state.js
  scripts/engine/combat/combat-option-resolver.js
  scripts/engine/effects/modifiers/ModifierDomainResolver.js
  scripts/engine/effects/modifiers/ModifierEngine.js
  scripts/engine/effects/modifiers/ModifierEngineExtensions.js
  scripts/engine/force/ForceRules.js
  scripts/engine/force/ForceTrainingEngine.js
  scripts/engine/progression/feats/feat-choice-resolver.js
  scripts/engine/progression/feats/feat-diagnostics.js
  scripts/sheets/v2/character-sheet.js
  scripts/ui/shell/gm/GMHouseRulesSurfaceService.js
  scripts/ui/shell/gm/controllers/GMHouseRulesSurfaceController.js
  scripts/utils/force-power-manager.js
  styles/apps/gm-datapad.css
  templates/actors/character/v2-concept/partials/panels/feats-panel.hbs
  templates/actors/character/v2-concept/partials/panels/talents-known-panel.hbs
  templates/actors/character/v2-concept/partials/tabs/talents-tab.hbs
  templates/apps/gm-datapad/surfaces/house-rules.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.
  scripts/apps/progression-framework/shell/progression-finalizer.js
Due: eslint --fix

.
  docs/feat-implementation-continuation-phase8.json
  packs/feats.db
  scripts/actors/derived/derived-calculator.js
  scripts/combat/rolls/attacks.js
  scripts/engine/combat/combat-option-resolver.js
  scripts/engine/feats/meta-resource-feat-resolver.js
  scripts/governance/actor-engine/actor-engine.js
  scripts/sheets/v2/character-sheet.js
  templates/actors/character/v2-concept/partials/frame/header-block.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Prepare v3.0.4 release manifest
  system.json
Due: prettier --write

.
  docs/feat-implementation-continuation-phase9.json
  packs/feats.db
  scripts/combat/rolls/attacks.js
  scripts/engine/combat/combat-option-resolver.js
Due: eslint --fix, prettier --write

.
  docs/feat-implementation-continuation-phase10.json
  docs/feat-implementation-continuation-phase11.json
  docs/feat-implementation-continuation-phase12.json
  packs/feats.db
  scripts/actors/derived/defense-calculator.js
  scripts/apps/gm-datapad.js
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/combat/rolls/attacks.js
  scripts/engine/abilities/passive/passive-state.js
  scripts/engine/combat/combat-option-resolver.js
  scripts/engine/progression/feats/feat-grant-entitlement-resolver.js
  scripts/engine/progression/utils/force-suite-resolution.js
  scripts/rolls/roll-config.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/concept-context.js
  scripts/ui/shell/ProgressionSurfaceAdapter.js
  scripts/ui/shell/gm/GMHouseRulesSurfaceService.js
  scripts/ui/shell/gm/controllers/GMHouseRulesSurfaceController.js
  styles/apps/gm-datapad.css
  templates/apps/gm-datapad/surfaces/house-rules.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.
  docs/feat-implementation-continuation-phase13.json
  docs/feat-implementation-continuation-phase14.json
  docs/feat-implementation-continuation-phase15.json
  packs/feats.db
  scripts/combat/rolls/attacks.js
  scripts/combat/rolls/damage.js
  scripts/combat/rolls/enhanced-rolls.js
  scripts/engine/combat/combat-option-resolver.js
  scripts/engine/feats/meta-resource-feat-resolver.js
  scripts/engine/rolls/swse-roll-engine.js
  scripts/engine/skills/skill-feat-resolver.js
  scripts/sheets/v2/character-sheet.js
  styles/system/chat-card-v2.css
  templates/chat/holo-roll.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Update talent-step.css
  styles/progression-framework/steps/talent-step.css
Due: none

.
  docs/feat-implementation-continuation-phase16.json
  packs/feats.db
  scripts/engine/combat/combat-option-resolver.js
  scripts/engine/skills/skill-feat-resolver.js
  styles/progression-framework/steps/talent-step.css
Due: eslint --fix, prettier --write

.
  scripts/apps/progression-framework/steps/feat-step.js
  styles/progression-framework/steps/feat-step.css
  templates/apps/progression-framework/steps/feat-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Apply armor specialist talent tree cleanup (phase T6)
  docs/talent-armor-specialist-cleanup-phase-t6.json
  packs/talent_trees.db
  packs/talents.db
  scripts/actors/derived/defense-calculator.js
  scripts/engine/effects/modifiers/ModifierEngine.js
  scripts/engine/progression/talents/talent-tree-membership-authority.js
Due: eslint --fix, prettier --write

Apply Jedi talent tree cleanup (phase T7)
  docs/talent-jedi-tree-cleanup-phase-t7.json
  packs/talent_trees.db
  packs/talents.db
  scripts/actors/derived/derived-calculator.js
  scripts/combat/rolls/damage.js
  scripts/engine/abilities/passive/passive-state.js
  scripts/engine/talent/talents.js
Due: eslint --fix, prettier --write

Apply Jedi Knight/Master talent tree cleanup (phase T8)
  docs/talent-jedi-knight-master-cleanup-phase-t8.json
  packs/talents.db
  scripts/engine/combat/combat-stat-rules.js
Due: eslint --fix, prettier --write

Apply Force prestige talent tree cleanup (phase T9)
  docs/talent-force-prestige-cleanup-phase-t9.json
  packs/talents.db
  scripts/actors/derived/defense-calculator.js
  scripts/actors/derived/derived-calculator.js
Due: eslint --fix, prettier --write

Apply Scout/Scoundrel/Soldier talent tree cleanup (phase T11)
  docs/talent-scout-scoundrel-soldier-cleanup-phase-t11.json
  packs/talent_trees.db
  packs/talents.db
  scripts/engine/abilities/passive/condition-evaluator.js
  scripts/engine/abilities/passive/passive-state.js
  scripts/engine/talent/soldier-talent-mechanics.js
  scripts/engine/talent/talents.js
  scripts/talents/soldier-talent-macros.js
Due: eslint --fix, prettier --write

Add Long Stride walk speed to character sheet scope
  docs/long-stride-walk-speed-sheet-scope.json
  packs/talents.db
  scripts/actors/v2/character-actor.js
  scripts/engine/effects/modifiers/ModifierEngine.js
  scripts/engine/effects/modifiers/ModifierEngineExtensions.js
  scripts/engine/effects/modifiers/modifier-unification-schema.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/character/v2/partials/resources-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Apply Martial/Underworld prestige talent tree cleanup (phase T12)
  docs/talent-martial-underworld-prestige-cleanup-phase-t12.json
  packs/talents.db
  scripts/engine/abilities/passive/passive-adapter.js
  scripts/engine/abilities/passive/passive-contract.js
  scripts/engine/combat/combat-stat-rules.js
  scripts/engine/talent/talents.js
Due: eslint --fix, prettier --write

Add combat action ability cards to character sheet (phase T13)
  docs/combat-action-ability-cards-phase-t13.json
  packs/feats.db
  packs/talent_trees.db
  packs/talents.db
  scripts/engine/combat/ability-combat-action-resolver.js
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix, prettier --write

Add persistent choice pickers for feats and talents (phase T14)
  data/feat-choice-options.json
  docs/feat-talent-persistent-choice-pickers-phase-t14.json
  packs/feats.db
  packs/talents.db
  scripts/apps/choices/feat-choice-dialog.js
  scripts/apps/progression-framework/steps/talent-step.js
  scripts/engine/combat/ability-combat-action-resolver.js
  scripts/engine/progression/feats/feat-choice-resolver.js
Due: eslint --fix, prettier --write

Apply Social/Crime/Minion prestige talent tree cleanup (phase T15)
  docs/talent-social-crime-minion-cleanup-phase-t15.json
  packs/talents.db
  scripts/actors/derived/defense-calculator.js
  scripts/engine/combat/combat-stat-rules.js
Due: eslint --fix, prettier --write

Apply Vehicle/Starship prestige talent tree cleanup (phase T16)
  docs/talent-vehicle-starship-prestige-cleanup-phase-t16.json
  packs/talents.db
  scripts/combat/rolls/attacks.js
  scripts/engine/combat/combat-option-resolver.js
  scripts/engine/combat/combat-stat-rules.js
  scripts/engine/combat/weapons-engine.js
Due: eslint --fix, prettier --write

.
  docs/feat-implementation-continuation-phase17.json
  packs/feats.db
  scripts/combat/rolls/damage.js
Due: eslint --fix, prettier --write

.
  .gitattributes
  scripts/apps/progression-framework/hydration-diagnostics.js
  scripts/apps/xp-calculator.js
  scripts/debug/swse-debugger.js
  styles/fonts.css
  styles/progression-framework/foundation/typography.css
  templates/actors/vehicle/vehicle-sheet.css
  templates/apps/chargen/character-generator-app.html
  templates/apps/class-tree-access-form.html
  templates/apps/follower-creator-dialog.html
  templates/apps/store/gm-settings.html
  templates/apps/store/store.html
  templates/prerequisite-builder.html
Due: eslint --fix

Apply phase4 combat tab redesign and add phase 0a/0b audit docs
  docs/audits/combat-phase-0a-glaring-gap-ledger.json
  docs/audits/combat-phase-0a-rules-source-baseline.md
  docs/audits/combat-phase-0b-action-inventory.json
  docs/audits/combat-phase-0b-action-routing-ledger.json
  docs/audits/combat-phase-0b-combat-action-routing-audit.md
  docs/audits/combat-phase-0b-fight-defensively-addendum.md
  scripts/apps/customization/item-customization-workbench.js
  styles/apps/item-customization-workbench.css
  styles/sheets/v2-concept-sheet.css
  templates/actors/npc/v2/partials/npc-concept-content.hbs
  templates/apps/customization/item-customization-workbench.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Add phase 0c/0d combat audit docs
  docs/audits/combat-phase-0c-attack-callpath-ledger.json
  docs/audits/combat-phase-0c-attack-roll-audit.md
  docs/audits/combat-phase-0c-attack-roll-seam-ledger.json
  docs/audits/combat-phase-0c-meets-beats-audit.md
  docs/audits/combat-phase-0d-damage-callpath-ledger.json
  docs/audits/combat-phase-0d-damage-rules-fidelity-audit.md
  docs/audits/combat-phase-0d-damage-seam-ledger.json
  docs/audits/combat-phase-0d-ranged-melee-penalty-addendum.md
Due: prettier --write

Add phase 0e combat audit docs
  docs/audits/combat-phase-0e-affected-feat-talent-crosswalk.md
  docs/audits/combat-phase-0e-ammo-ui-requirements.md
  docs/audits/combat-phase-0e-autofire-burst-stun-ammo-audit.md
  docs/audits/combat-phase-0e-weapon-mode-ammo-ledger.json
Due: prettier --write

Add phase 0f combat audit docs
  docs/audits/combat-phase-0f-feat-talent-crosswalk.md
  docs/audits/combat-phase-0f-grapple-ion-seam-ledger.json
  docs/audits/combat-phase-0f-grapple-rules-fidelity-audit.md
  docs/audits/combat-phase-0f-ion-damage-addendum.md
Due: prettier --write

Add phase 0g combat audit docs
  docs/audits/combat-phase-0g-damage-type-crosswalk.md
  docs/audits/combat-phase-0g-damage-type-inventory.json
  docs/audits/combat-phase-0g-damage-types-hazards-semantics-audit.md
  docs/audits/combat-phase-0g-special-damage-seam-ledger.json
Due: prettier --write

Add phase 0h combat audit docs
  docs/audits/combat-phase-0h-action-economy-state-addendum.md
  docs/audits/combat-phase-0h-combat-state-audit.md
  docs/audits/combat-phase-0h-state-seam-ledger.json
  docs/audits/combat-phase-0h-state-storage-crosswalk.md
Due: prettier --write

Add phase 0i combat audit docs
  docs/audits/combat-phase-0i-callpath-ledger.json
  docs/audits/combat-phase-0i-callpath-trace-audit.md
  docs/audits/combat-phase-0i-context-loss-ledger.json
  docs/audits/combat-phase-0i-routing-recommendations.md
Due: prettier --write

Add phase 0j combat audit docs
  docs/audits/combat-phase-0j-healing-feat-talent-crosswalk.md
  docs/audits/combat-phase-0j-healing-implementation-boundary.md
  docs/audits/combat-phase-0j-healing-repair-callpath-ledger.json
  docs/audits/combat-phase-0j-healing-repair-rules-audit.md
  docs/audits/combat-phase-0j-positive-damage-repair-seam-ledger.json
Due: prettier --write

Add phase 0k combat audit docs
  docs/audits/combat-phase-0k-affected-feat-talent-inventory.json
  docs/audits/combat-phase-0k-context-contract-recommendations.md
  docs/audits/combat-phase-0k-context-seam-ledger.json
  docs/audits/combat-phase-0k-feat-talent-context-crosswalk.md
Due: prettier --write
