Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Add architecture-boundary audit tool (Phase 1)
  docs/audits/architecture-boundary-audit.md
  tools/check-architecture-boundaries.mjs
Due: prettier --write

Harden mutation boundary enforcement in strict mode (Phase 2)
  scripts/governance/actor-engine/actor-engine.js
  scripts/governance/mutation/mutation-boundary-service.js
Due: eslint --fix

Consolidate combat roll math SSOT (Phase 3)
  docs/systems/COMBAT_MATH_SSOT.md
  scripts/combat/utils/combat-utils.js
  tools/check-combat-math-ssot.mjs
Due: eslint --fix, prettier --write

Extract feat runtime registration into a manifest (Phase 4)
  scripts/engine/feats/register-feat-runtime.js
  scripts/infrastructure/hooks/init-hooks.js
Due: eslint --fix

Add ActorEngine thin-facade extraction plan (Phase 5)
  docs/audits/actor-engine-extraction-plan.md
Due: prettier --write

Extract pure plan builders behind the ActorEngine facade (Phase 6)
  scripts/governance/actor-engine/actor-engine.js
  scripts/governance/actor-engine/plan-builders.js
Due: eslint --fix

Fix Phase 2 dev-mode regression on broad sheet/rollback payloads
  docs/systems/COMBAT_MATH_SSOT.md
  scripts/engine/progression/engine/tools/rollback-store.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/form.js
Due: eslint --fix, prettier --write

Add feat/species/class implementation audit (audit-only)
  docs/audits/class-feature-implementation-audit.md
  docs/audits/class-feature-implementation-status.json
  docs/audits/feat-implementation-audit.md
  docs/audits/feat-implementation-status.json
  docs/audits/feat-species-class-implementation-audit.md
  docs/audits/species-feature-implementation-audit.md
  docs/audits/species-feature-implementation-status.json
  tools/check-feature-implementation-coverage.mjs
Due: prettier --write

Refine feature coverage audit signals
  tools/check-feature-implementation-coverage.mjs
Due: none

Clarify species field wiring audit findings
  docs/audits/species-feature-implementation-audit.md
Due: prettier --write

Add progression runtime integrity audit (audit-only)
  docs/audits/progression-runtime-integrity-audit.md
  docs/audits/progression-runtime-integrity-status.json
  tools/check-progression-integrity.mjs
Due: prettier --write

Add progression integrity audit tool
  tools/check-progression-integrity.mjs
Due: none

Add progression integrity status audit
  docs/audits/progression-runtime-integrity-status.json
Due: prettier --write

Add progression runtime integrity audit
  docs/audits/progression-runtime-integrity-audit.md
Due: prettier --write

Batch A: harden progression finalization (R1/R2/R5 + cleanup)
  docs/audits/progression-runtime-integrity-audit.md
  docs/audits/progression-runtime-integrity-status.json
  scripts/apps/progression-framework/shell/progression-finalizer.js
  scripts/apps/progression-framework/shell/progression-session.js
  scripts/engine/progression/ProgressionSession.js
  scripts/engine/progression/validation/finalization-prerequisite-validator.js
  scripts/governance/actor-engine/actor-engine.js
  tools/check-progression-integrity.mjs
Due: eslint --fix, prettier --write

Addendum: reclassify class-data coverage by class role + Batch B plan
  docs/audits/class-feature-implementation-audit.md
  docs/audits/class-feature-implementation-status.json
  docs/audits/feat-species-class-implementation-audit.md
  docs/audits/progression-force-hardening-batch-b-plan.md
  docs/audits/progression-runtime-integrity-audit.md
  docs/audits/progression-runtime-integrity-status.json
  tools/check-feature-implementation-coverage.mjs
Due: prettier --write

Add automatic compact progression layout
  styles/progression-framework/chargen-stabilization.css
Due: none

Document progression responsive layout audit
  docs/audits/progression-responsive-layout-audit.md
Due: prettier --write

Batch B: Force progression hardening (single-step prereq parity + count consistency)
  docs/audits/progression-force-hardening-batch-b-plan.md
  docs/audits/progression-runtime-integrity-status.json
  scripts/apps/progression-framework/shell/progression-finalizer.js
  scripts/engine/progression/utils/levelup-event-context.js
Due: eslint --fix, prettier --write

Add progression rail resizer helper
  scripts/apps/progression-framework/shell/progression-rail-resizer.js
Due: eslint --fix

Add progression rail resize handles
  templates/apps/progression-framework/progression-shell.hbs
Due: node scripts/validate/validate-icon-keys.js

Style resizable progression rails
  styles/progression-framework/chargen-stabilization.css
Due: none

Document resizable progression rails
  docs/audits/progression-responsive-layout-audit.md
Due: prettier --write

Tune compact layout for 1366x768 screens
  styles/progression-framework/chargen-stabilization.css
Due: none

Document 1366x768 compact breakpoint
  docs/audits/progression-responsive-layout-audit.md
Due: prettier --write

Add progression layout observer
  scripts/apps/progression-framework/shell/progression-layout-observer.js
Due: eslint --fix

Wire progression layout observer
  templates/apps/progression-framework/progression-shell.hbs
Due: node scripts/validate/validate-icon-keys.js

Apply class-driven compact progression layout
  scripts/apps/progression-framework/shell/progression-layout-observer.js
Due: eslint --fix

Document shell size responsive observer
  docs/audits/progression-responsive-layout-audit.md
Due: prettier --write

Add shared shell responsive observer
  scripts/ui/shell/shell-responsive-observer.js
Due: eslint --fix

Add shared shell responsive CSS contract
  styles/system/shell-responsive-contract.css
Due: none

Initialize shared shell responsive observer
  scripts/ui/shell/shell-responsive-observer.js
Due: eslint --fix

Wire shared shell responsive observer
  index.js
Due: eslint --fix

Preserve numeric helper coercion
  index.js
Due: eslint --fix

Document shell responsive contract
  docs/audits/shell-responsive-contract-audit.md
Due: prettier --write

Restore legacy settings while wiring responsive observer
  index.js
Due: eslint --fix

Add shared shell responsive contract
  docs/audits/shell-responsive-contract-audit.md
  index.js
  scripts/ui/shell/shell-responsive-observer.js
  styles/system/shell-responsive-contract.css
Due: eslint --fix, prettier --write

Add compact and resizable progression layout
  docs/audits/progression-responsive-layout-audit.md
  scripts/apps/progression-framework/shell/progression-layout-observer.js
  scripts/apps/progression-framework/shell/progression-rail-resizer.js
  styles/progression-framework/chargen-stabilization.css
  templates/apps/progression-framework/progression-shell.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Add app-specific responsive contracts
  styles/system/app-responsive-contracts.css
Due: none

Add app resolution tier classes
  scripts/ui/shell/shell-responsive-observer.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
