Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

docs: Document resolved background/event decision
  docs/audits/character-sheet-ssot-resolution-plan.md
Due: prettier --write

docs: Document resolved BAB contract and update blocked conflicts count
  docs/audits/character-sheet-ssot-resolution-plan.md
Due: prettier --write

chore: Update package-lock.json after npm install
  package-lock.json
Due: prettier --write

docs: Phase 4 architecture planning - class/level/BAB/background migration design
  docs/audits/character-sheet-ssot-resolution-plan.md
Due: prettier --write

fix: Phase 5A - Actor data model + character sheet canonicalization
  scripts/engine/progression/ProgressionCompiler.js
  scripts/engine/progression/ProgressionSession.js
  scripts/utils/schema-adapters.js
  templates/actors/character/v2-concept/partials/panels/character-record-header.hbs
  templates/actors/character/v2/partials/character-record-header.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

docs: Add Phase 5A results - actor data model canonicalization complete
  docs/audits/character-sheet-ssot-resolution-plan.md
Due: prettier --write

docs: Phase 5B - Critical finding: Phase 5A ability-path changes were backwards
  docs/audits/character-sheet-ssot-resolution-plan.md
Due: prettier --write

fix: Revert Phase 5A ability-path changes - use canonical system.attributes.*
  scripts/engine/progression/ProgressionCompiler.js
  scripts/engine/progression/ProgressionSession.js
Due: eslint --fix

Complete Phase 5B and Phase 6 audit documentation
  docs/audits/character-sheet-ssot-resolution-plan.md
Due: prettier --write

Phase 7A: Fix apply-handlers.js computed-field ability writer
  docs/audits/character-sheet-ssot-resolution-plan.md
  scripts/engine/progression/utils/apply-handlers.js
Due: eslint --fix, prettier --write

Phase 7B: Fix critical class/level sync bugs
  docs/audits/character-sheet-ssot-resolution-plan.md
  scripts/engine/progression/ProgressionSession.js
  scripts/engine/progression/engine/progression-actor-updater.js
Due: eslint --fix, prettier --write

Phase 7C: Migration/Backfill Planning and Targeted Validation Design
  docs/audits/character-sheet-ssot-resolution-plan.md
Due: prettier --write

Phase 7D: Remove migration planning, lock code-level contracts
  docs/audits/character-sheet-ssot-resolution-plan.md
Due: prettier --write

Phase 8: Store, NPC, and Compendium SSOT Alignment Audit - COMPLETE
  docs/audits/store-npc-compendium-ssot-audit.md
Due: prettier --write

SSOT Contract Guardrail: Lock canonical contracts for future development
  SSOT_CONTRACT_GUARDRAIL.md
Due: prettier --write

.
  PATCH_APPLIED.md
  index.js
  scripts/apps/progression-framework/shell/mentor-rail.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/species-step.js
  scripts/sheets/v2/character-sheet.js
  scripts/ui/shell/ProgressionSurfaceAdapter.js
  styles/progression-framework/progression-shell.css
  styles/system/shell-host.css
  templates/apps/progression-framework/progression-shell.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.
  BACKGROUND_SKILL_HYDRATION_FIX.md
  L1_SURVEY_FIX_SUMMARY.md
  TALENT_STEP_FIXES_VERIFICATION.md
  TALENT_TREE_FIXES_SUMMARY.md
  index.js
  scripts/apps/chargen/chargen-talent-tree-graph.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/attribute-step.js
  scripts/apps/progression-framework/steps/background-step.js
  scripts/apps/progression-framework/steps/class-step.js.bak
  scripts/apps/progression-framework/steps/class-step.js.orig
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/apps/progression-framework/steps/l1-survey-step.js
  scripts/apps/progression-framework/steps/skills-step.js
  scripts/apps/progression-framework/steps/talent-step.js
  scripts/apps/progression-framework/steps/talent-tree-progression-renderer.js
  scripts/core/settings.js
  scripts/engine/abilities/AbilityEngine.js
  scripts/engine/progression/backgrounds/background-pending-context-builder.js
  scripts/engine/progression/registries/progression-node-definitions.js
  scripts/engine/progression/talents/talent-tree-membership-authority.js
  scripts/engine/registries/classes-registry.js
  scripts/houserules/houserule-settings.js
  scripts/ui/shell/ProgressionSurfaceAdapter.js
  scripts/utils/settings-defaults.js
  styles/progression-framework/steps/class-step.css
  styles/progression-framework/steps/l1-survey-step.css
  styles/progression-framework/steps/talent-step.css
  styles/sheets/v2-concept-sheet.css
  styles/system/shell-host.css
  templates/apps/progression-framework/details-panel/class-details.hbs
  templates/apps/progression-framework/steps/attribute-work-surface.hbs
  templates/apps/progression-framework/steps/class-work-surface.hbs
  templates/apps/progression-framework/steps/l1-survey-work-surface.hbs
  templates/apps/progression-framework/steps/skills-work-surface.hbs
  templates/apps/progression-framework/steps/talent-tree-graph.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.
  FEAT_OWNERSHIP_AND_FOCUS_FIXES.md
  TALENT_TREE_VERIFICATION_CHECKLIST.md
  data/dialogue/mentor_registry.json
  data/skills.json
  scripts/apps/chargen/chargen-talent-tree-graph.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/background-step.js
  scripts/apps/progression-framework/steps/class-step.js
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/apps/progression-framework/steps/l1-survey-step.js
  scripts/apps/progression-framework/steps/mentor-step-integration.js
  scripts/apps/progression-framework/steps/skills-step.js
  scripts/apps/progression-framework/steps/species-step.js
  scripts/apps/progression-framework/steps/talent-step.js
  scripts/data/prerequisite-checker.js
  scripts/engine/force/ForceRules.js
  scripts/engine/mentor/mentor-json-loader.js
  scripts/engine/progression/skills/skill-registry.js
  scripts/engine/progression/talents/talent-tree-membership-authority.js
  scripts/engine/suggestion/tag-signal-engine.js
  styles/progression-framework/progress-rail.css
  templates/apps/progression-framework/details-panel/skill-details.hbs
  templates/apps/progression-framework/progress-rail.hbs
  templates/apps/progression-framework/steps/l1-survey-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.
  scripts/apps/progression-framework/detail-rail-normalizer.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/apps/progression-framework/steps/l1-survey-step.js
  scripts/apps/progression-framework/steps/skills-step.js
  scripts/apps/progression-framework/steps/talent-step.js
  scripts/apps/progression-framework/steps/talent-tree-progression-renderer.js
  scripts/data/prerequisite-checker.js
  scripts/engine/force/ForceRules.js
  scripts/engine/mentor/mentor-json-loader.js
  scripts/engine/progression/ui/templates/force-power-picker.hbs
  scripts/engine/progression/ui/templates/force-secret-picker.hbs
  scripts/engine/progression/ui/templates/force-technique-picker.hbs
  scripts/engine/progression/ui/templates/starship-maneuver-picker.hbs
  styles/progression-framework/holo-theme.css
  styles/progression-framework/progression-shell.css
  styles/progression-framework/steps/l1-survey-step.css
  styles/progression-framework/steps/talent-step.css
  styles/swse-holo-ui.css
  templates/apps/mentor-suggestion-picker-dialog.hbs
  templates/apps/progression-framework/details-panel/class-details.hbs
  templates/apps/progression-framework/details-panel/skill-details.hbs
  templates/apps/progression-framework/details-panel/species-details.hbs
  templates/apps/progression-framework/details-panel/talent-details.hbs
  templates/apps/progression-framework/dialogs/template-selection.hbs
  templates/apps/progression-framework/mentor-rail.hbs
  templates/apps/progression-framework/progress-rail.hbs
  templates/apps/progression-framework/steps/class-work-surface.hbs
  templates/apps/progression-framework/steps/feat-work-surface.hbs
  templates/apps/progression-framework/steps/force-power-work-surface.hbs
  templates/apps/progression-framework/steps/l1-survey-work-surface.hbs
  templates/apps/progression-framework/steps/summary-work-surface.hbs
  templates/apps/progression-framework/steps/talent-tree-graph.hbs
  templates/apps/progression-framework/summary-panel/selected-rail.hbs
  templates/apps/progression-framework/summary-panel/species-summary.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

.
  scripts/apps/progression-framework/shell/active-step-computer.js
  scripts/apps/progression-framework/shell/progression-finalizer.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/shell/selected-rail-context.js
  scripts/apps/progression-framework/steps/summary-step.js
  styles/progression-framework/steps/summary-step.css
  styles/progression-framework/steps/talent-step.css
  templates/apps/progression-framework/details-panel/summary-business-details.hbs
  templates/apps/progression-framework/steps/summary-work-surface.hbs
  templates/apps/progression-framework/summary-panel/summary-metadata-rail.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

.
  docs/poison-engine-bundle-readme.md
  docs/poison-engine-phase1.md
  docs/poison-engine-phase2.md
  docs/poison-engine-phase3-natural-healing-sith-alchemy.md
  docs/poison-engine-phase4-talents-recurring-damage.md
  index.js
  packs/poisons.db
  packs/special-abilities.db
  scripts/actors/v2/base-actor.js
  scripts/actors/v2/character-actor.js
  scripts/core/config.js
  scripts/engine/combat/CombatEngine.js
  scripts/engine/poison/poison-definitions.js
  scripts/engine/poison/poison-engine.js
  scripts/engine/poison/poison-registry.js
  scripts/engine/species/species-activated-ability-engine.js
  system.json
  template.json
Due: eslint --fix, prettier --write

.
  BACKGROUND_SKILL_HYDRATION_FIX.md
  BUCKET-C-CORRECTED-AUDIT.md
  BUCKET-C-IMPLEMENTATION-GUIDE.md
  ENCOUNTER_LIMIT_INFRASTRUCTURE_REPORT.md
  FEAT_AUDIT_PHASE12.md
  FEAT_OWNERSHIP_AND_FOCUS_FIXES.md
  L1_SURVEY_FIX_SUMMARY.md
  OPTION_A_VERIFICATION_REPORT.md
  PATCH_APPLIED.md
  PHASE-12-AUDIT-REPORT.md
  SSOT_CONTRACT_GUARDRAIL.md
  TALENT_STEP_FIXES_VERIFICATION.md
  TALENT_TREE_FIXES_SUMMARY.md
  TALENT_TREE_VERIFICATION_CHECKLIST.md
  TECH_SPECIALIST_IMPLEMENTATION_PLAN.md
  audit-bucket-c.js
  audit-phase-12-detailed.js
  audit-phase-12-feats.js
  bucket-c-audit.json
  package-lock.json
  package.json
  phase-12-audit-report.json
Due: eslint --fix, prettier --write

.
  IMPLEMENTATION_PLAN.md
  data/species-traits-migrated.json
  data/species-traits.json
  docs/feat-category-restick-fix.md
  docs/feat-prereq-indent-mentor-fix.md
  docs/feat-tree-sort-scroll-preservation.md
  docs/species-details-attribute-wiring-fix.md
  docs/species-restick-sidecar-audit.md
  packs/poisons.db
  packs/special-abilities.db
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/attribute-step.js
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/apps/progression-framework/steps/species-step.js
  scripts/apps/progression-framework/steps/step-normalizers.js
  scripts/engine/effects/actor-effects-aggregator.js
  scripts/engine/effects/adapters/active-effect-adapter.js
  scripts/engine/effects/adapters/condition-track-adapter.js
  scripts/engine/effects/adapters/effect-card-utils.js
  scripts/engine/effects/adapters/item-note-adapter.js
  scripts/engine/effects/adapters/poison-effect-adapter.js
  scripts/engine/effects/adapters/rage-effect-adapter.js
  scripts/engine/effects/adapters/resource-action-adapter.js
  scripts/engine/effects/adapters/resource-rule-note-adapter.js
  scripts/engine/effects/adapters/system-active-effect-adapter.js
  scripts/engine/effects/current-condition-resolver.js
  scripts/engine/mentor/mentor-advisory-coordinator.js
  scripts/engine/progression/engine/species-suggestion-engine.js
  scripts/engine/progression/feats/feat-shape.js
  scripts/engine/registries/species-registry.js
  styles/progression-framework/steps/feat-step.css
  styles/progression-framework/steps/species-step.css
  system.json
  templates/apps/progression-framework/details-panel/species-details.hbs
  templates/apps/progression-framework/steps/feat-work-surface.hbs
  tools/sync-species-sidecars-from-pack.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.
  scripts/engine/effects/actor-effects-aggregator.js
  scripts/engine/effects/adapters/poison-effect-adapter.js
  scripts/engine/effects/adapters/recurring-damage-adapter.js
  scripts/engine/effects/adapters/weapon-state-adapter.js
Due: eslint --fix

.
  data/mentor-dialogues.json
  scripts/apps/progression-framework/engine/swse-translation-engine.js
  scripts/apps/progression-framework/shell/active-step-computer.js
  scripts/apps/progression-framework/shell/build-intent.js
  scripts/apps/progression-framework/shell/mentor-rail.js
  scripts/apps/progression-framework/shell/progression-finalizer.js
  scripts/apps/progression-framework/shell/progression-session.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/attribute-step.js
  scripts/apps/progression-framework/steps/background-step.js
  scripts/apps/progression-framework/steps/force-power-step.js
  scripts/apps/progression-framework/steps/intro-step.js
  scripts/apps/progression-framework/steps/mentor-step-integration.js
  scripts/apps/progression-framework/steps/skills-step.js
  scripts/apps/progression-framework/steps/talent-step.js
  scripts/data/prerequisite-checker.js
  scripts/data/talent-tree-db.js
  scripts/engine/effects/actor-effects-aggregator.js
  scripts/engine/effects/adapters/active-effect-adapter.js
  scripts/engine/effects/adapters/immunity-resistance-adapter.js
  scripts/engine/effects/effect-state-flags.js
  scripts/engine/mentor/mentor-dialogues.data.js
  scripts/engine/mentor/mentor-dialogues.js
  scripts/engine/progression/feats/feat-grant-entitlement-resolver.js
  scripts/engine/progression/talents/talent-tree-membership-authority.js
  scripts/ui/dialogue/aurebesh-translator.js
  scripts/ui/dialogue/dialogue-effects.css
  scripts/ui/shell/ProgressionSurfaceAdapter.js
  styles/progression-framework/action-footer.css
  styles/progression-framework/mentor-rail.css
  styles/progression-framework/splash/splash.css
  styles/progression-framework/steps/talent-step.css
  templates/apps/progression-framework/mentor-rail.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Update active-effect-adapter.js
  scripts/engine/effects/adapters/active-effect-adapter.js
Due: eslint --fix

.
  scripts/apps/progression-framework/shell/action-footer.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/skills-step.js
  styles/progression-framework/progression-shell.css
  templates/apps/progression-framework/progression-shell.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

.
  scripts/actors/derived/derived-calculator.js
  scripts/apps/progression-framework/dialogs/custom-planet-background-dialog.js
  scripts/apps/progression-framework/shell/progression-finalizer.js
  scripts/apps/progression-framework/shell/selected-rail-context.js
  scripts/apps/progression-framework/steps/background-step.js
  scripts/apps/progression-framework/steps/summary-step.js
  scripts/apps/progression-framework/utils/skill-display.js
  scripts/engine/progression/content/progression-content-authority.js
  scripts/engine/progression/utils/class-resolution.js
  scripts/engine/suggestion/BackgroundSuggestionEngine.js
  styles/progression-framework/progression-shell.css
  templates/apps/progression-framework/details-panel/background-details.hbs
  templates/apps/progression-framework/summary-panel/selected-rail.hbs
  templates/apps/progression-framework/summary-panel/summary-metadata-rail.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Fix workbench rendering path to use full concept-derived template
  scripts/ui/shell/ShellHost.js
  scripts/ui/shell/WorkbenchSurfaceAdapter.js
  styles/swse-core.css
  system.json
  templates/shell/partials/surface-workbench.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Fix workbench inline rendering: prevent outer scrolling and allow internal panel scrolling
  styles/system/shell-host.css
Due: none

Phase 2 Store: Implement hierarchical navigation model with subcategory support
  scripts/apps/store/store-main.js
  scripts/apps/store/store-shared.js
  scripts/ui/shell/StoreSurfaceController.js
  scripts/ui/shell/StoreSurfaceService.js
Due: eslint --fix

Phase 2 Store: Complete template layer with secondary navigation rendering
  scripts/apps/store/store-main.js
  scripts/ui/shell/StoreSurfaceService.js
  styles/apps/store-card-grid.css
  styles/system/store-surface.css
  templates/apps/store/store-card-grid.hbs
  templates/shell/partials/surface-store.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 3 Store: Implement concept-aligned UI with browse grid + side rail
  styles/system/store-surface.css
  templates/shell/partials/surface-store.hbs
Due: node scripts/validate/validate-icon-keys.js

Add files via upload
  assets/Concept/Force Suite Tab _standalone_.html
Due: none

Phase 4 Store: Validation script and CSS scoping hardening
  PHASE_4_SUMMARY.md
  scripts/validate-store.mjs
  styles/apps/store-card-grid.css
Due: prettier --write

feat: implement Force Suite tab partial with concept fidelity
  scripts/sheets/v2/character-sheet/concept-context.js
  scripts/sheets/v2/character-sheet/force-ui.js
  styles/sheets/v2-concept-sheet.css
  templates/actors/character/v2-concept/partials/panels/force-suite-card.hbs
  templates/actors/character/v2-concept/partials/tabs/force-suite-tab.hbs
  templates/actors/character/v2-concept/partials/tabs/force-tab.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

chore: add extracted concept CSS and inner HTML for Force Suite implementation
  assets/Concept/force-suite-concept-extracted.css
  assets/Concept/force-suite-concept-inner.html
Due: none

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
