Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Phase 1: Implement card grid store UI with suggestion engine integration
  scripts/apps/store/store-main.js
  styles/apps/store-card-grid.css
  system.json
  templates/apps/store/store-card-grid.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Phase 2: Add expanded product details modal with specs and quantity
  scripts/apps/store/store-main.js
  styles/apps/store-card-grid.css
Due: eslint --fix

Phase 3: Add reviews section with mentor review and flavor comments
  scripts/apps/store/store-main.js
Due: eslint --fix

Add rich marketplace dialogue pack to store reviews
  data/reviews/reviews.json
  scripts/apps/store/store-main.js
Due: eslint --fix, prettier --write

Add reviews overflow pack with extended marketplace dialogue
  data/reviews/reviews-overflow.json
  scripts/apps/store/store-main.js
Due: eslint --fix, prettier --write

Add marketplace usernames pack for review identity
  data/reviews/usernames.json
  scripts/apps/store/store-main.js
Due: eslint --fix, prettier --write

Refactor: Introduce ReviewThreadAssembler architecture
  scripts/apps/store/review-thread-assembler.js
  scripts/apps/store/review-thread-assembler.test.js
  scripts/apps/store/store-main.js
Due: eslint --fix

Add Aurebesh/Consolas font styling for marketplace reviews
  scripts/apps/store/store-main.js
  styles/apps/store-card-grid.css
Due: eslint --fix

Add character-specific usernames for marketplace sellers
  scripts/apps/store/store-main.js
Due: eslint --fix

Add vehicle reviews marketplace dialogue pack
  data/reviews/vehicle-reviews.json
  scripts/apps/store/review-thread-assembler.js
  scripts/apps/store/review-thread-assembler.test.js
  scripts/apps/store/store-main.js
Due: eslint --fix, prettier --write

Add droid reviews marketplace dialogue pack
  data/reviews/droid-reviews.json
  scripts/apps/store/review-thread-assembler.js
  scripts/apps/store/review-thread-assembler.test.js
  scripts/apps/store/store-main.js
Due: eslint --fix, prettier --write

Add modification reviews marketplace dialogue pack
  data/reviews/modification-reviews.json
  scripts/apps/store/review-thread-assembler.js
  scripts/apps/store/review-thread-assembler.test.js
  scripts/apps/store/store-main.js
Due: eslint --fix, prettier --write

Add experiential service reviews marketplace dialogue pack
  data/reviews/service-reviews.json
  scripts/apps/store/review-thread-assembler.js
  scripts/apps/store/review-thread-assembler.test.js
  scripts/apps/store/store-main.js
Due: eslint --fix, prettier --write

Refactor CSS to strict visual contract compliance
  styles/apps/store-card-grid.css
Due: none

Remove services from store entity pipeline — formalize as contextual expenses
  scripts/apps/store/review-thread-assembler.js
  scripts/apps/store/store-checkout.js
  scripts/apps/store/store-main.js
  scripts/engines/store/SERVICES_ARCHITECTURE.md
  scripts/engines/store/categorizer.js
  scripts/engines/store/normalizer.js
Due: eslint --fix, prettier --write

Implement Aurebesh-first Store loading overlay
  scripts/apps/store/store-loading-overlay.js
  scripts/apps/store/store-main.js
  styles/apps/store-loading-overlay.css
  system.json
Due: eslint --fix, prettier --write

Implement Aurebesh glyph-based Store cards (no images)
  scripts/apps/store/store-glyph-map.js
  scripts/apps/store/store-main.js
  styles/apps/store-cards.css
  system.json
  templates/apps/store/store-card-grid.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Add STORE_VISUAL_CONTRACT — permanent architectural lock
  scripts/apps/store/STORE_VISUAL_CONTRACT.md
Due: prettier --write

Phase 1: Visual Consistency Audit — Document glyph isolation
  scripts/apps/store/VISUAL_CONSISTENCY_AUDIT.md
Due: prettier --write

Phase 2: Boot-time Glyph Reuse — Visual phase feedback
  scripts/apps/store/store-loading-overlay.js
  styles/apps/store-loading-overlay.css
Due: eslint --fix

Phase 3: Rarity-Based Glyph Effects — Color + glow only
  styles/apps/store-cards.css
  templates/apps/store/store-card-grid.hbs
Due: node scripts/validate/validate-icon-keys.js

Implement floating/expandable card system for Store UI
  scripts/apps/store/store-card-interactions.js
  scripts/apps/store/store-main.js
  styles/apps/store-cards.css
Due: eslint --fix

Implement complete checkout flow as first-class Store mode
  scripts/apps/store/store-checkout.js
  scripts/apps/store/store-main.js
  styles/apps/store-cards.css
  templates/apps/store/store-card-grid.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Implement complete item selling system (RAW + houserules + integer currency)
  scripts/apps/item-selling-system.js
  scripts/sheets/v2/character-sheet.js
  scripts/utils/credit-normalization.js
  styles/sheets/character-sheet.css
  system.json
  templates/actors/character/tabs/inventory-tab.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Apply credit normalization hardening (post-audit)
  scripts/apps/item-selling-system.js
  scripts/apps/store/store-checkout.js
  scripts/engines/store/store-engine.js
Due: eslint --fix

Add edge case hardening: no-price items and transaction failure safety
  scripts/apps/item-selling-system.js
Due: eslint --fix

Implement GM Store Dashboard (governance and oversight console)
  scripts/apps/gm-store-dashboard.js
  styles/apps/gm-store-dashboard.css
  system.json
  templates/apps/gm-store-dashboard.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Integrate canonical tooltip copy into GM Store Dashboard
  templates/apps/gm-store-dashboard.hbs
Due: node scripts/validate/validate-icon-keys.js

Add GM-governed approval infrastructure for custom droid/vehicle purchases (Part 1/3)
  scripts/apps/gm-store-dashboard.js
  scripts/apps/store/store-checkout.js
  styles/apps/gm-store-dashboard.css
  system.json
  templates/apps/gm-store-dashboard.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Integrate draft submission into CharGen and modify createCustomDroid workflow (Part 2/3)
  scripts/apps/chargen/chargen-main.js
  scripts/apps/store/store-checkout.js
Due: eslint --fix

Update vehicle builder confirmation to mention GM approval (Part 3/3)
  scripts/apps/store/store-checkout.js
Due: eslint --fix

Integrate Modification Tokens (surgical, audit-driven)
  scripts/apps/upgrade-app.js
  scripts/apps/vehicle-modification-app.js
  scripts/engine/systems/upgrade-rules-engine.js
Due: eslint --fix

Harden Vehicle Builder (Marl) to full AppV2 compliance
  scripts/apps/vehicle-modification-app.js
Due: eslint --fix

Add Droid Builder AppV2 design specification
  DROID_BUILDER_DESIGN.md
Due: prettier --write

Implement Droid Builder V2 Phase 1: Skeleton AppV2 Builder
  scripts/apps/droid-builder-app.js
  scripts/data-models/character-data-model.js
  scripts/engine/droid-validation-engine.js
  templates/apps/droid-builder.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Design Phase 2: System Selection UI/UX
  PHASE2_DESIGN.md
Due: prettier --write

Refine Phase 2 design: Processor sequence + back-nav invalidation
  PHASE2_DESIGN.md
Due: prettier --write

Add Locomotion step sanity check: Complete data flow analysis
  PHASE2_LOCOMOTION_SANITY_CHECK.md
Due: prettier --write

Design StepController: Reusable helper to avoid duplication across 7 steps
  PHASE2_STEPCONTROLLER_DESIGN.md
Due: prettier --write

Implement Phase 2 StepController: Reusable multi-step builder helper
  STEPCONTROLLER_IMPLEMENTATION.md
  scripts/apps/step-controller.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
