Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Remove toolbar template
  scripts/core/load-templates.js
  templates/canvas-ui/toolbar.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Fix duplicate and misplaced declarations
  scripts/mentor/mentor-translation-integration.js
  scripts/talents/DarkSidePowers.js
Due: eslint --fix

Fix syntax errors in mentor-translation-integration.js and DarkSidePowers.js
  scripts/mentor/mentor-translation-integration.js
  scripts/talents/DarkSidePowers.js
Due: eslint --fix

Convert all species traits to structured SpeciesTrait schema
  data/species-traits.json
Due: prettier --write

Convert all force powers to AbilityEngine schema
  data/force-powers.json
Due: prettier --write

Transform force powers to AbilityEngine datashape v1.0
  data/forcepowers-ability-datashape.json
Due: prettier --write

Add missing equipment grants to Gand and Kel Dor species
  data/species-traits.json
Due: prettier --write

Remove delete and rename to fields from species data
  data/species-traits.json
Due: prettier --write

Add unified rule element schema for SWSE species traits
  SCHEMA-unified-rules.md
Due: prettier --write

Implement StructuredRuleEvaluator and extend ModifierEngine
  data/test-species-rules.json
  scripts/engine/modifiers/ModifierEngine.js
  scripts/engine/modifiers/StructuredRuleEvaluator.js
Due: eslint --fix, prettier --write

Add comprehensive test suite for StructuredRuleEvaluator
  tests/structured-rules-engine.test.js
Due: eslint --fix

Add migration guide for structured rule elements
  MIGRATION-structured-rules.md
Due: prettier --write

Add bulk migration script for species to structured rules
  scripts/migration/migrate-species-to-structured-rules.js
Due: eslint --fix

Add implementation summary for species rule element system
  IMPLEMENTATION-SUMMARY.md
Due: prettier --write

Add natural weapon support to rule element system
  SCHEMA-unified-rules.md
  data/test-species-rules.json
  scripts/engine/modifiers/StructuredRuleEvaluator.js
  scripts/engine/systems/species/NaturalWeaponHandler.js
  tests/structured-rules-engine.test.js
Due: eslint --fix, prettier --write

Fix const reassignment bug in migration script
  scripts/migration/migrate-species-to-structured-rules.js
Due: eslint --fix

Enhance schema and migration with additional rule types
  SCHEMA-unified-rules.md
  scripts/migration/migrate-species-to-structured-rules.js
Due: eslint --fix, prettier --write

Phase 2: Generate migrated species traits with structured rules
  data/species-traits-migrated.json
Due: prettier --write

Add 8 new rule types to handle unconverted special abilities
  SCHEMA-unified-rules.md
Due: prettier --write

Add 8 new parser functions for special ability rule types
  data/species-traits-migrated.json
  scripts/migration/migrate-species-to-structured-rules.js
Due: eslint --fix, prettier --write

updates
  data/ability-registry.json
  index.js
  scripts/dev/ability-model-validator.js
  scripts/engine/TalentAbilitiesEngine.js
  scripts/engine/abilities/ability-registry.js
  scripts/engine/abilities/ability-tags.js
  scripts/engine/abilities/ability-usage.js
  scripts/hooks/actor-hooks.js
Due: eslint --fix, prettier --write

Push conversion rate to 90.3% with enhanced parsers
  data/species-traits-migrated.json
  scripts/migration/migrate-species-to-structured-rules.js
Due: eslint --fix, prettier --write

Improve conversion to 92.2% with strips and enhanced patterns
  data/species-traits-migrated.json
  scripts/migration/migrate-species-to-structured-rules.js
Due: eslint --fix, prettier --write

feat(arch): Phase A rollback integrity hardening
  scripts/apps/chargen/chargen-backgrounds.js
  scripts/apps/levelup/levelup-main.js
  scripts/engine/ProgressionSession.js
  scripts/engine/prerequisites/PrerequisiteEngine.js
  scripts/engine/progression.js
  scripts/progression/engine/progression-engine.js
Due: eslint --fix

fix: navigation invariants, summaryFinance, and cancel discipline
  scripts/apps/chargen/chargen-main.js
  scripts/apps/levelup/levelup-main.js
  templates/apps/chargen.hbs
  templates/apps/levelup.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

refactor: remove dead _bindEventListeners duplicate in levelup-main.js
  scripts/apps/levelup/levelup-main.js
Due: eslint --fix

Implement Phase 1-5: Claude Architecture for Abilities, Narration, and Near-Human Chargen
  scripts/chat/action-chat-engine.js
  scripts/combat/rolls/attacks.js
  scripts/core/settings.js
  scripts/dev/ability-model-validator.js
  scripts/engine/ProgressionSession.js
  scripts/engine/abilities/AbilityEngine.js
  scripts/engine/abilities/force-modifier-module.js
  scripts/rolls/force-powers.js
  styles/chargen/near-human.css
  styles/sheets/abilities-tab.css
  templates/partials/abilities-tab.hbs
  templates/partials/chargen/near-human.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 1-5: Complete 5-phase implementation
  scripts/core/load-templates.js
  scripts/engine/abilities/AbilityEngine.js
  scripts/engine/abilities/feat-ability-module.js
  scripts/engine/abilities/forcePower-ability-module.js
  scripts/engine/abilities/species-ability-module.js
  scripts/engine/abilities/talent-ability-module.js
  scripts/talents/dark-side-powers-init.js
Due: eslint --fix

Wire Abilities tab to all sheets (Character/Droid/NPC)
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/droid-sheet.js
  scripts/sheets/v2/npc-sheet.js
Due: eslint --fix

Add Abilities tab to all sheet templates
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/droid/v2/droid-sheet.hbs
  templates/actors/npc/v2/npc-sheet.hbs
Due: node scripts/validate/validate-icon-keys.js

feat(abilities): Phase 3.5 - Unified Action Schema Extension for AbilityEngine
  scripts/engine/abilities/AbilityEngine.js
  scripts/engine/abilities/action-ability-module.js
Due: eslint --fix

feat(abilities): Starship Maneuver Schema Extension (subtype: shipManeuver)
  compendiums/starship-maneuvers.json
  scripts/engine/abilities/AbilityEngine.js
Due: eslint --fix, prettier --write

refactor(abilities): Add starship maneuver tag infrastructure
  scripts/engine/abilities/AbilityEngine.js
  scripts/engine/abilities/ability-tags.js
Due: eslint --fix

refactor(maneuvers): Add canonical role tags + normalize descriptors
  compendiums/starship-maneuvers.json
Due: prettier --write

refactor(npc-sheet): Migrate to AppV2 architecture compliance
  scripts/sheets/v2/npc-sheet.js
Due: eslint --fix

Add VehicleSheet maneuver rendering and filtering
  scripts/sheets/v2/vehicle-sheet.js
  templates/actors/vehicle/v2/vehicle-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Fix sheet alignment issues from validation audit
  scripts/sheets/v2/npc-sheet.js
  scripts/sheets/v2/vehicle-sheet.js
Due: eslint --fix

Fix WelcomeDialog zero dimensions error
  scripts/core/first-run-experience.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
