Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Register combat UI behavior hotfixes
  scripts/patches/runtime-bugfix-hotfixes-init.js
Due: eslint --fix

Resolve combat target actor from roll target context
  scripts/engine/combat/combat-roll-math.js
Due: eslint --fix

Set Wookiee chargen size to large
  scripts/engine/progression/data/progression-data.js
Due: eslint --fix

Add species profile size overrides
  data/fixes/species-profile-overrides.json
Due: prettier --write

Apply species profile overrides
  scripts/engine/species/species-profile-utils.js
Due: eslint --fix

Fix Force regimen dialog roll options and scrolling shell
  scripts/sheets/v2/character-sheet/force-roll-dialog.js
Due: eslint --fix

Coordinate HoloNews auto-publisher settings mutations
  scripts/holonet/subsystems/holonews-auto-publisher.js
Due: eslint --fix

Add Force Suite render guard bridge
  scripts/patches/force-suite-render-guard-hotfix.js
Due: eslint --fix

Register Force Suite render guard bridge
  scripts/patches/runtime-bugfix-hotfixes-init.js
Due: eslint --fix

Route multiattacks through attack dialog and gate combat actions
  scripts/patches/combat-ui-behavior-hotfix.js
Due: eslint --fix

Route combat option actions through attack roller
  scripts/patches/combat-ui-behavior-hotfix.js
Due: eslint --fix

Document combat features reform phase 0 boundary
  docs/combat-features-reform-phase-0.md
Due: prettier --write

Add combat feature contract scaffold
  scripts/engine/combat/features/combat-feature-contract.js
Due: eslint --fix

Add combat features module boundary README
  scripts/engine/combat/features/README.md
Due: prettier --write

Add combat feature sheet adapter scaffold
  scripts/sheets/v2/character-sheet/combat-feature-sheet-adapter.js
Due: eslint --fix

Document Phase 1 combat feature adapter
  scripts/engine/combat/features/README.md
Due: prettier --write

Add combat feature classifier
  scripts/engine/combat/features/combat-feature-classifier.js
Due: eslint --fix

Use combat feature classifier in sheet adapter
  scripts/sheets/v2/character-sheet/combat-feature-sheet-adapter.js
Due: eslint --fix

Document Phase 2 combat feature classifier
  scripts/engine/combat/features/README.md
Due: prettier --write

Add combat feature action economy groups
  scripts/engine/combat/features/combat-feature-contract.js
Due: eslint --fix

Group combat features by action economy
  scripts/sheets/v2/character-sheet/combat-feature-sheet-adapter.js
Due: eslint --fix

Add combat features panel partial
  templates/actors/character/v2-concept/partials/panels/combat-features-panel.hbs
Due: node scripts/validate/validate-icon-keys.js

Render combat features panel on combat tab
  scripts/engine/combat/features/combat-feature-panel-renderer.js
Due: eslint --fix

Register combat features panel renderer
  scripts/patches/runtime-bugfix-hotfixes-init.js
Due: eslint --fix

Document Phase 3 combat features panel
  scripts/engine/combat/features/README.md
Due: prettier --write

Add combat feature action router
  scripts/engine/combat/features/combat-feature-action-router.js
Due: eslint --fix

Stamp actor id on combat features panel
  templates/actors/character/v2-concept/partials/panels/combat-features-panel.hbs
Due: node scripts/validate/validate-icon-keys.js

Register combat feature action router
  scripts/patches/runtime-bugfix-hotfixes-init.js
Due: eslint --fix

Document Phase 4 combat feature router
  scripts/engine/combat/features/README.md
Due: prettier --write

Add combat feature handlers
  scripts/engine/combat/features/combat-feature-handlers.js
Due: eslint --fix

Route combat feature actions through handlers
  scripts/engine/combat/features/combat-feature-action-router.js
Due: eslint --fix

Document Phase 5 combat feature handlers
  scripts/engine/combat/features/README.md
Due: prettier --write

Make multiattacks first-class combat feature handlers
  scripts/engine/combat/features/combat-feature-handlers.js
Due: eslint --fix

Bridge legacy multiattack rows to combat feature handlers
  scripts/engine/combat/features/combat-feature-legacy-action-bridge.js
Due: eslint --fix

Register legacy multiattack bridge before hotfix
  scripts/patches/runtime-bugfix-hotfixes-init.js
Due: eslint --fix

Document Phase 6 multiattack reform
  scripts/engine/combat/features/README.md
Due: prettier --write

Add combat feature active state service
  scripts/engine/combat/features/combat-feature-active-state-service.js
Due: eslint --fix

Classify active combat states for phase 7
  scripts/engine/combat/features/combat-feature-classifier.js
Due: eslint --fix

Add active combat state display integration
  scripts/sheets/v2/character-sheet/combat-feature-sheet-adapter.js
Due: eslint --fix

Wire active combat state handlers
  scripts/engine/combat/features/combat-feature-handlers.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
