Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

Phase 1: align droid sheet with character-sheet conventions
  scripts/sheets/v2/droid-sheet.js
  styles/sheets/v2-droid-specific.css
  templates/actors/droid/droid-sheet.hbs
  templates/actors/droid/v2/droid-sheet.hbs
  templates/sheets/droid-sheet-v2.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 2: introduce live-path droid context/listener/registry seams
  scripts/sheets/v2/droid-sheet.js
  scripts/sheets/v2/droid-sheet/context-builder.js
  scripts/sheets/v2/droid-sheet/listeners.js
  scripts/sheets/v2/droid-sheet/panel-registry.js
  tests/droid-character-parity.test.js
Due: eslint --fix

Phase 3A: decompose live droid template into panel partials
  scripts/core/load-templates.js
  scripts/sheets/v2/droid-sheet/panel-registry.js
  templates/actors/droid/v2/droid-sheet.hbs
  templates/actors/droid/v2/partials/armor-panel.hbs
  templates/actors/droid/v2/partials/equipment-panel.hbs
  templates/actors/droid/v2/partials/initiative-panel.hbs
  templates/actors/droid/v2/partials/owned-actors-panel.hbs
  templates/actors/droid/v2/partials/weapons-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 3C: retire dormant droid sheet, finalize live path
  docs/MIGRATION_ROADMAP_DROID.md
  index.js
  scripts/sheets/v2/droid-sheet/context-builder.js
  scripts/sheets/v2/droid-sheet/listeners.js
  scripts/sheets/v2/droid-sheet/panel-registry.js
  scripts/sheets/v2/droid/DroidPanelContextBuilder.js
  scripts/sheets/v2/droid/DroidPanelValidators.js
  scripts/sheets/v2/droid/DroidPanelVisibilityManager.js
  scripts/sheets/v2/droid/DroidSheet.js
  scripts/sheets/v2/droid/PANEL_REGISTRY.js
  templates/v2/droid/droid-sheet-body.hbs
  templates/v2/droid/droid-sheet-header.hbs
  templates/v2/droid/droid-sheet-tabs.hbs
  templates/v2/droid/droid-sheet.hbs
  templates/v2/droid/panels/abilities-panel.hbs
  templates/v2/droid/panels/combat-panel.hbs
  templates/v2/droid/panels/customizations-panel.hbs
  templates/v2/droid/panels/defenses-panel.hbs
  templates/v2/droid/panels/droid-notes-panel.hbs
  templates/v2/droid/panels/droid-summary-panel.hbs
  templates/v2/droid/panels/inventory-panel.hbs
  templates/v2/droid/panels/portrait-panel.hbs
  templates/v2/droid/panels/programming-panel.hbs
  templates/v2/droid/panels/protocols-panel.hbs
  templates/v2/droid/panels/skills-panel.hbs
  tests/droid-architecture-phase-3c.test.js
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

feat(droid): implement DroidSubtypeAdapter — session seeding, step filtering, mutation plan, readiness
  scripts/apps/progression-framework/adapters/default-subtypes.js
  scripts/apps/progression-framework/shell/progression-shell.js
Due: eslint --fix

feat(attribute): add AttributeStep class + config-driven AbilityRollingController (addendum)
  scripts/apps/chargen/ability-rolling.js
  scripts/apps/progression-framework/steps/attribute-step.js
Due: eslint --fix

Pass 1: Template integration for droid systems tab (droidPanels consumption)
  scripts/sheets/v2/droid-sheet/context-builder.js
  templates/actors/droid/v2/partials/droid-build-history.hbs
  templates/actors/droid/v2/partials/droid-systems-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Pass 2: Subsystem partialization for droid systems tab (structural split)
  scripts/core/load-templates.js
  templates/actors/droid/v2/droid-sheet.hbs
  templates/actors/droid/v2/partials/droid-build-history-panel.hbs
  templates/actors/droid/v2/partials/droid-integrated-systems-panel.hbs
  templates/actors/droid/v2/partials/droid-locomotion-panel.hbs
  templates/actors/droid/v2/partials/droid-processor-panel.hbs
  templates/actors/droid/v2/partials/droid-systems-summary-strip.hbs
  templates/actors/droid/v2/partials/droid-validation-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Pass 3A: Real budget/readiness diagnostics for droid systems tab
  scripts/sheets/v2/droid-sheet/context-builder.js
  templates/actors/droid/v2/partials/droid-systems-summary-strip.hbs
  templates/actors/droid/v2/partials/droid-validation-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Pass 3B: Subsystem detail enrichment for processor, appendages, sensors, integrated weapons
  scripts/core/load-templates.js
  scripts/sheets/v2/droid-sheet/context-builder.js
  templates/actors/droid/v2/droid-sheet.hbs
  templates/actors/droid/v2/partials/droid-appendages-panel.hbs
  templates/actors/droid/v2/partials/droid-integrated-weapons-panel.hbs
  templates/actors/droid/v2/partials/droid-processor-panel.hbs
  templates/actors/droid/v2/partials/droid-sensors-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Pass 4: Armor detail enrichment + budget category breakdown
  scripts/core/load-templates.js
  scripts/sheets/v2/droid-sheet/context-builder.js
  templates/actors/droid/v2/droid-sheet.hbs
  templates/actors/droid/v2/partials/droid-armor-panel.hbs
  templates/actors/droid/v2/partials/droid-budget-breakdown-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Implement droid-specific force/skill/class constraints
  scripts/apps/progression-framework/steps/skills-step.js
  scripts/data/prerequisite-checker.js
  tests/droid-force-constraints.test.js
Due: eslint --fix

Update package-lock.json from npm install
  package-lock.json
Due: prettier --write

Phase 2: Control Plane Design specification
  PHASE_2_CONTROL_PLANE_DESIGN.md
Due: prettier --write

Phase 3A: Feat Family Pilot Migration
  scripts/apps/chargen-improved.js
  scripts/apps/chargen/chargen-class.js
  scripts/apps/chargen/chargen-main.js
  scripts/engine/progression/talents/talent-cadence-engine.js
  scripts/houserules/adapters/FeatRulesAdapter.js
  scripts/houserules/houserule-feat-grants.js
Due: eslint --fix

Phase 3A: Completion report with all deliverables A-G
  PHASE_3A_COMPLETION_REPORT.md
Due: prettier --write

Phase 3B: Recovery/Healing Family Pilot Migration
  PHASE_3B_SCOPE_AUDIT.md
  scripts/houserules/adapters/HealingRules.js
  scripts/houserules/houserule-actor-enhancements.js
  scripts/houserules/houserule-healing-skill-integration.js
  scripts/houserules/houserule-healing.js
  scripts/houserules/houserule-recovery.js
Due: eslint --fix, prettier --write

Phase 3B: Completion report with all deliverables A-G
  PHASE_3B_COMPLETION_REPORT.md
Due: prettier --write

Phase 3C: Skills/Training Family Pilot Migration
  PHASE_3C_SCOPE_AUDIT.md
  scripts/engine/skills/SkillRules.js
  scripts/houserules/houserule-actor-enhancements.js
  scripts/houserules/houserule-mechanics.js
  scripts/houserules/houserule-skill-training.js
Due: eslint --fix, prettier --write

docs: Phase 3C completion report with Deliverables A-G
  PHASE_3C_COMPLETION_REPORT.md
Due: prettier --write

feat: Phase 3D - Force family adapter migration
  PHASE_3D_SCOPE_AUDIT.md
  scripts/data/class-relationship-registry.js
  scripts/engine/force/ForceRules.js
  scripts/engine/force/ForceTrainingEngine.js
  scripts/engine/force/force-points-service.js
  scripts/houserules/houserule-block-mechanic.js
Due: eslint --fix, prettier --write

docs: Phase 3D completion report with Deliverables A-G
  PHASE_3D_COMPLETION_REPORT.md
Due: prettier --write

Phase 3E initial: scope audit and ProgressionRules adapter
  PHASE_3E_SCOPE_AUDIT.md
  scripts/engine/progression/ProgressionRules.js
Due: eslint --fix, prettier --write

Phase 3E: Rewire core levelup, HP, and multiclass files
  scripts/apps/levelup/levelup-main.js
  scripts/apps/levelup/levelup-talents.js
  scripts/apps/progression-framework/steps/confirm-step.js
  scripts/apps/progression-framework/steps/summary-step.js
  scripts/engine/HP/HPGeneratorEngine.js
  scripts/engine/progression/policies/multiclass-policy.js
Due: eslint --fix

Phase 3E: Complete progression/leveling family migration
  scripts/apps/chargen-improved.js
  scripts/apps/chargen-init.js
  scripts/apps/chargen-narrative.js
  scripts/apps/chargen/chargen-droid.js
  scripts/apps/progression-framework/steps/droid-builder-adapter.js
  scripts/apps/progression-framework/steps/droid-builder-step.js
  scripts/apps/progression-framework/steps/final-droid-configuration-step.js
  scripts/apps/store/store-checkout.js
  scripts/apps/template-character-creator.js
  scripts/engine/progression/utils/suite-reselection-utils.js
  scripts/houserules/houserule-mechanics.js
Due: eslint --fix

docs: Phase 3E completion report with Deliverables A-G
  PHASE_3E_COMPLETION_REPORT.md
Due: prettier --write

Phase 3F Step 3: Rewire 7 vehicle engine files to VehicleRules adapter
  scripts/engine/combat/scale-engine.js
  scripts/engine/combat/starship/enhanced-commander.js
  scripts/engine/combat/starship/enhanced-engineer.js
  scripts/engine/combat/starship/enhanced-pilot.js
  scripts/engine/combat/starship/enhanced-shields.js
  scripts/engine/combat/starship/subsystem-engine.js
  scripts/engine/combat/starship/vehicle-turn-controller.js
  scripts/engine/combat/vehicle/VehicleRules.js
Due: eslint --fix

Phase 3F: Complete documentation (scope audit & completion report)
  PHASE_3F_COMPLETION_REPORT.md
  PHASE_3F_SCOPE_AUDIT.md
Due: prettier --write

Phase 3G: Implement Condition Track/Status Effects adapter
  scripts/engine/combat/ConditionTrackRules.js
  scripts/houserules/houserule-actor-enhancements.js
  scripts/houserules/houserule-mechanics.js
  scripts/houserules/houserule-status-effects.js
Due: eslint --fix

Phase 3G: Complete documentation (scope audit & completion report)
  PHASE_3G_COMPLETION_REPORT.md
  PHASE_3G_SCOPE_AUDIT.md
Due: prettier --write

Phase 3H: Implement Combat Core/Threshold adapter - final family migration
  scripts/chat/chat-commands.js
  scripts/combat/combat-automation.js
  scripts/engine/combat/CombatRules.js
  scripts/houserules/houserule-flanking.js
  scripts/houserules/houserule-grapple.js
  scripts/houserules/houserule-mechanics.js
  scripts/items/base/swse-item-base.js
Due: eslint --fix

Add Phase 3H completion report with all deliverables
  PHASE_3H_COMPLETION_REPORT.md
Due: prettier --write

Add system-wide architecture status report (post-Phase 3H)
  SYSTEM_ARCHITECTURE_STATUS.md
Due: prettier --write

Add Phase 3H scope audit documentation
  PHASE_3H_SCOPE_AUDIT.md
Due: prettier --write

Add comprehensive reconciliation audit - Stages 1A-1D complete
  RECONCILIATION_AUDIT.md
Due: prettier --write

Add final migration validation - Deliverables E-H complete
  FINAL_MIGRATION_VALIDATION.md
Due: prettier --write

Update SYSTEM_ARCHITECTURE_STATUS.md - Clarity edits for completion
  SYSTEM_ARCHITECTURE_STATUS.md
Due: prettier --write

Add Phase 0 audit report for ranked skills implementation
  PHASE_0_AUDIT_REPORT.md
Due: prettier --write

Implement background class-skills persistence for ranked-skills readiness
  scripts/actors/derived/derived-calculator.js
  scripts/apps/chargen/chargen-main.js
  scripts/engine/progression/skills/skill-state.js
  scripts/engine/skills/SkillRules.js
  scripts/houserules/houserule-settings.js
Due: eslint --fix

Implement core skill resolution layer for ranked-skills foundation
  scripts/engine/skills/skill-resolution-layer.js
Due: eslint --fix
