Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

PHASE 1: Enable Real Mutation Enforcement — Enforcement Truth Implementation
  PHASE-1-ENFORCEMENT-TRUTH.md
  scripts/core/settings.js
  scripts/governance/mutation/MutationInterceptor.js
  tests/mutation-sovereignty.test.js
Due: eslint --fix, prettier --write

PHASE 1: Add violation inventory and completion report
  PHASE-1-COMPLETION-REPORT.md
  PHASE-1-VIOLATION-INVENTORY.md
Due: prettier --write

PHASE 2: Fix critical fallback bypasses and route core mutation surfaces
  scripts/actors/base/swse-actor-base.js
  scripts/apps/upgrade-app.js
  scripts/engine/import/droid-template-importer-engine.js
  scripts/engine/import/npc-template-importer-engine.js
  scripts/infrastructure/hooks/follower-hooks.js
  scripts/items/swse-item-sheet.js
  scripts/maintenance/world-repair.js
Due: eslint --fix

PHASE 2: Add closure checklist and complete major surfaces
  PHASE-2-CLOSURE-CHECKLIST.md
  scripts/actors/vehicle/swse-vehicle-core.js
Due: eslint --fix, prettier --write

Phase 2 Complete: All 16 Mutation Bypass Surfaces Fixed
  PHASE-2-CLOSURE-CHECKLIST.md
  PHASE-2-FINAL-COMPLETION-REPORT.md
  scripts/core/document-api-v13.js
  scripts/migration/armor-system-migration-v4.js
  scripts/migration/weapon-properties-migration.js
  scripts/migration/weapon-talents-migration.js
Due: eslint --fix, prettier --write

Phase 3: ModifierEngine Purity Refactor + Recompute Observability
  PHASE-3-INTEGRITY-HARDENING.md
  scripts/engine/effects/modifiers/ModifierEngine.js
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix, prettier --write

Phase 3: Strict Mode Enforcement Hardening (S1 & S2)
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix

Phase 3 Complete: Recompute & Integrity Hardening — Final Report
  PHASE-3-FINAL-COMPLETION-REPORT.md
Due: prettier --write

Add Phase 3 Invariant Map — 62 items across 6 categories
  PHASE-3-INVARIANT-MAP.md
Due: prettier --write

Phase 4: Guard Layer Simplification — Planning & Templates
  PHASE-4-ENFORCEMENT-MODES.md
  PHASE-4-GOVERNANCE-LAYER-MAP.md
  PHASE-4-GUARD-SIMPLIFICATION.md
  PHASE-4-MUTATION-TRUTH-TABLE.md
Due: prettier --write

Phase 4: Fix Enforcement Default — Critical Bug Fix
  scripts/governance/mutation/MutationInterceptor.js
Due: eslint --fix

Phase 4: Update Planning Document with Audit Findings
  PHASE-4-GUARD-SIMPLIFICATION.md
Due: prettier --write

Phase 4 Complete: Guard Layer Simplification — Final
  PHASE-4-FINAL-COMPLETION-REPORT.md
  scripts/governance/mutation/embedded-mutation-layer.js
  scripts/governance/sentinel/sovereignty-enforcement.js
Due: eslint --fix, prettier --write

Phase 5 P0: Remove governance bypass fallback patterns from resource helpers
  scripts/actors/base/swse-actor-base.js
  scripts/maintenance/world-repair.js
Due: eslint --fix

Phase 5: Complete helper/wrapper audit, governance surface map, and production readiness
  PHASE-5-CONTRIBUTOR-GUARDRAILS.md
  PHASE-5-FINAL-COMPLETION-REPORT.md
  PHASE-5-GOVERNANCE-SURFACE-MAP.md
  PHASE-5-HELPER-WRAPPER-COMPLIANCE-MATRIX.md
  PHASE-5-TEST-COVERAGE-ADDITIONS.md
Due: prettier --write

Phase 5: Achieve 100/100 governance compliance with diagnostics and tests
  PHASE-5-COMPLIANCE-100.md
  scripts/core/document-api-v13.js
  scripts/governance/sentinel/governance-diagnostics.js
  tests/phase-5-governance-compliance.test.js
Due: eslint --fix, prettier --write

Phase 5 Final Verification Gate: Evidence-Based Assessment
  PHASE-5-VERIFICATION-GATE-FINAL.md
Due: prettier --write

Phase 5 Closure: Fix UI violations, wire test runner, integrate Sentinel
  jest.config.js
  package-lock.json
  package.json
  scripts/actors/vehicle/swse-vehicle-core.js
  scripts/governance/mutation/MutationInterceptor.js
  scripts/ui/inventory-handlers.js
  scripts/ui/weapon-config-dialog.js
Due: eslint --fix, prettier --write

Phase 5 Closure: Final Verification Report
  PHASE-5-CLOSURE-FINAL.md
Due: prettier --write

Phase 5: Bucket SSOT Mutation Sovereignty Audit
  PHASE-5-BUCKET-SSOT-AUDIT.md
Due: prettier --write

Phase 5: Fix 4 critical hp.max SSOT violations
  scripts/apps/chargen-improved.js
  scripts/apps/follower-creator.js
  scripts/apps/follower-manager.js
  scripts/drag-drop/drop-handler.js
Due: eslint --fix

Phase 5: Fix Jest module resolution for governance tests
  jest.config.js
Due: eslint --fix

Phase 5: SSOT Fixes Verification Report — 100% Compliance Achieved
  PHASE-5-SSOT-FIXES-VERIFICATION.md
Due: prettier --write

Phase 1: Implement Touch-Friendly Mode core infrastructure
  scripts/infrastructure/hooks/init-hooks.js
  scripts/ui/mobile-mode-detector.js
  scripts/ui/mobile-mode-manager.js
  scripts/ui/mobile-mode-prompt.js
Due: eslint --fix

Phase 2: Implement Progression Shell CSS adaptations for mobile
  styles/progression-framework/components/buttons.css
  styles/progression-framework/progression-shell.css
  styles/progression-framework/shell/footer.css
  styles/progression-framework/shell/progress.css
  styles/progression-framework/shell/rails.css
  styles/progression-framework/utility-bar.css
Due: none

Phase 4: Implement interaction refinements for touch devices
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/sheets/v2/character-sheet.js
  styles/mobile-interactions.css
  system.json
Due: eslint --fix, prettier --write

Audit fix: Consolidate mobile-interactions CSS back into existing files
  scripts/sheets/v2/character-sheet.js
  styles/components/buttons.css
  styles/components/forms.css
  styles/mobile-interactions.css
  styles/progression-framework/holo-theme.css
  styles/progression-framework/progression-shell.css
  system.json
Due: eslint --fix, prettier --write

Phase 5: CSS Polish + Mentor/Dialogue Refinement
  styles/progression-framework/progression-shell.css
  styles/progression-framework/shell/rails.css
Due: none

Phase 5.5: Readability + Transition Micropolish
  styles/progression-framework/progression-shell.css
  styles/progression-framework/shell/rails.css
Due: none

Phase 6 Part 1: Tap-to-Play Layer — Inline Skill Roll Buttons
  templates/actors/character/v2/partials/skills-panel.hbs
Due: node scripts/validate/validate-icon-keys.js

Phase 6 Part 3: Unified Roll Model (Dual-Speed Interaction)
  scripts/sheets/v2/character-sheet.js
  templates/actors/character/v2/partials/inventory-weapon-card.hbs
  templates/actors/character/v2/partials/skills-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Wire NativeProjectileService and LightsaberLightSync to hook system
  scripts/infrastructure/hooks/combat-hooks.js
  scripts/infrastructure/hooks/init-hooks.js
Due: eslint --fix

Phase 5.5: Lightsaber Modal Enhancement (Mobile + SVG Preview)
  styles/apps/lightsaber-construction.css
  templates/applications/lightsaber/lightsaber-construction.hbs
Due: node scripts/validate/validate-icon-keys.js

Phase 7: Blaster Customization Modal (Derived from Lightsaber)
  scripts/apps/blaster/blaster-customization-app.js
  scripts/data/blaster-config.js
  scripts/engine/crafting/blaster-customization-engine.js
  styles/apps/blaster-customization.css
  templates/apps/blaster/blaster-customization.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Design: Unified Modification Pipeline with Intent Builder
  MODIFICATION_PIPELINE_DESIGN.md
  scripts/engine/crafting/modification-intent-builder.js
Due: eslint --fix, prettier --write

Phase 8: Armor Modification Modal (Pipeline Stress Test)
  scripts/apps/armor/armor-modification-app.js
  scripts/data/armor-upgrades.js
  styles/apps/armor-modification.css
  templates/apps/armor/armor-modification.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 9: Melee Weapon Modification Modal (Variant Weapon Test)
  scripts/apps/weapons/melee-modification-app.js
  scripts/data/melee-upgrades.js
  styles/apps/melee-modification.css
  templates/apps/weapons/melee-modification.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 10: Implement Gear Modification Modal
  scripts/apps/gear/gear-modification-app.js
  scripts/data/gear-mods.js
  styles/apps/gear-modification.css
  templates/apps/gear/gear-modification.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 11: Implement ModificationModalShell unified base class
  scripts/applications/lightsaber/lightsaber-construction-app.js
  scripts/apps/armor/armor-modification-app.js
  scripts/apps/base/modification-modal-shell.js
  scripts/apps/blaster/blaster-customization-app.js
  scripts/apps/gear/gear-modification-app.js
  scripts/apps/weapons/melee-modification-app.js
  styles/apps/modification-modal-shell.css
  templates/apps/base/modification-modal-shell.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Item Action Bar System: Unified item row actions across inventory
  scripts/sheets/v2/character-sheet.js
  styles/components/item-action-bar.css
  templates/actors/character/v2/partials/inventory-armor-card.hbs
  templates/actors/character/v2/partials/inventory-item-card.hbs
  templates/icons/attack-svg.hbs
  templates/icons/customize-svg.hbs
  templates/icons/damage-svg.hbs
  templates/icons/menu-svg.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
