Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

Wire character sheets to DSPEngine for proper display and house rule support
  scripts/sheets/v2/character-sheet.js
  templates/actors/character/tabs/biography-tab.hbs
  templates/actors/character/tabs/force-tab.hbs
  templates/actors/character/v2/partials/dark-side-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Fix light/dark side power access checks to use DSPEngine
  scripts/data/prerequisite-checker.js
  scripts/engine/suggestion/ForceOptionSuggestionEngine.js
Due: eslint --fix

Fix light/dark side power gating to use correct DSP linear scale
  scripts/data/prerequisite-checker.js
  scripts/engine/suggestion/ForceOptionSuggestionEngine.js
Due: eslint --fix

Fix talent-effect-engine to read/write DSP from canonical location
  scripts/engine/talent/talent-effect-engine.js
Due: eslint --fix

Add Sith Apprentice DSP requirement house rule
  scripts/core/settings.js
  scripts/data/prerequisite-checker.js
  scripts/engine/darkside/dsp-engine.js
Due: eslint --fix

Wire up dark side power auto-increase DSP and fix Sith Apprentice percentage calculation
  scripts/components/force-suite.js
  scripts/engine/darkside/dsp-engine.js
Due: eslint --fix

Add Sith Apprentice Light Side power removal on prestige class take
  scripts/apps/levelup/levelup-class.js
  scripts/apps/levelup/levelup-force-powers.js
Due: eslint --fix

Add Sith Lord DSP requirement house rule
  scripts/core/settings.js
  scripts/data/prerequisite-checker.js
  scripts/engine/darkside/dsp-engine.js
Due: eslint --fix

Make light side power removal generic for all Sith prestige classes
  scripts/apps/levelup/levelup-class.js
  scripts/apps/levelup/levelup-force-powers.js
Due: eslint --fix

Harden class detection authority - replace all name-based checks with getClassLevel()
  scripts/actors/derived/level-split.js
  scripts/apps/levelup/levelup-class.js
  scripts/apps/levelup/levelup-force-powers.js
  scripts/engine/progression/engine/tools/prestige-readiness.js
  scripts/talents/DarkSidePowers.js
Due: eslint --fix

more dialogue
  data/dialogue/mentors/breach/breach.json
  data/dialogue/mentors/captain/captain.json
  data/dialogue/mentors/delta/delta.json
  data/dialogue/mentors/dezmin/dezmin.json
  data/dialogue/mentors/dezmin/dezmin_dialogues.json
  data/dialogue/mentors/infiltrator/infiltrator.json
  data/dialogue/mentors/infiltrator/infiltrator_advisory_stub.json
  data/dialogue/mentors/miraj/miraj.json
  data/dialogue/mentors/riquis/riquis.json
  data/dialogue/mentors/vera/vera.json
Due: prettier --write

doc movement
  docs/ADVISORY_GOVERNANCE.md
  docs/MENTOR_INFRASTRUCTURE_FINAL_SUMMARY.md
  docs/MENTOR_INTEGRATION_COMPLETE_SUMMARY.md
  docs/MENTOR_INTEGRATION_SCHEMA.md
  docs/MENTOR_INTEGRATION_SUMMARY.txt
  docs/PHASE_2.5_IMPLEMENTATION_REPORT.md
  docs/PHASE_2_1_AUDIT_REPORT.md
  docs/PHASE_2_1_CODE_READY.md
  docs/PHASE_2_1_EXECUTIVE_SUMMARY.txt
  docs/PHASE_2_1_FINAL_SUMMARY.md
  docs/PHASE_2_1_IMPLEMENTATION_SPECS.md
  docs/PHASE_2_1_INDEX.md
  docs/PHASE_2_6_DELIVERABLES.md
  docs/PHASE_2_7_INTEGRATION_COMPLETE.md
  docs/PHASE_2_7_STRATEGY.md
  docs/PHASE_2_8_IMPLEMENTATION_COMPLETE.md
  docs/PHASE_2_8_MENTOR_VOICE_STRATEGY.md
  docs/PHASE_2_IMPLEMENTATION_REPORT.md
  docs/PHASE_3_3_ARCHITECTURE.md
  docs/PHASE_3_3_VALIDATION_REPORT.md
  docs/PHASE_3_B_ATOM_VOCABULARY_COMPLETE.md
  docs/PHASE_3_IMPLEMENTATION_REPORT.md
  docs/PHASE_3_INTEGRATION_READINESS.md
  docs/PHASE_A_B_1_5_IMPLEMENTATION_REPORT.md
  docs/PHASE_S1_IMPLEMENTATION_REPORT.md
Due: prettier --write

Lock lightsaber item contracts: add minimal 6-item component pack
  data/lightsaber-components.json
  data/lightsaber-items-import.ndjson
  packs/equipment.db
  packs/weapons.db
Due: prettier --write

feat(lightsaber): scaffold LightsaberConstructionEngine orchestration layer
  scripts/engine/crafting/lightsaber-construction-engine.js
Due: eslint --fix

test(lightsaber): comprehensive test harness for construction engine
  scripts/engine/crafting/lightsaber-construction-engine.test.js
  scripts/engine/crafting/lightsaber-construction-engine.test.runner.js
  scripts/engine/crafting/test-console.js
Due: eslint --fix

docs: comprehensive status report for lightsaber construction engine
  LIGHTSABER_CONSTRUCTION_STATUS.md
Due: prettier --write

feat(lightsaber): add eligibility gating layer with proper level authority
  scripts/engine/crafting/lightsaber-construction-engine.js
  scripts/engine/crafting/test-console.js
Due: eslint --fix

docs: comprehensive status for layer 2 (eligibility gating)
  LIGHTSABER_CONSTRUCTION_LAYER2.md
Due: prettier --write

Create lightsaberconstruct.webp
  assets/ui/lightsaberconstruct.webp
Due: none

fix(lightsaber): remove name-based feat detection fallback
  scripts/engine/crafting/lightsaber-construction-engine.js
Due: eslint --fix

feat(weapons): add lightsaber attunement system
  scripts/engine/combat/weapons-engine.js
Due: eslint --fix

feat(ui): add Miraj attunement popup application
  scripts/applications/lightsaber/miraj-attunement-app.js
  styles/miraj-attunement.css
  templates/applications/lightsaber/miraj-attunement.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

docs: comprehensive lightsaber system documentation
  LIGHTSABER_SYSTEM_COMPLETE.md
Due: prettier --write

feat(lightsaber): add complete crystals compendium pack
  packs/lightsaber-crystals.db
  scripts/data/lightsaber-crystals-map.js
Due: eslint --fix

feat(lightsaber): add accessories compendium pack
  packs/lightsaber-accessories.db
Due: none

docs: three-pack compendium system architecture
  LIGHTSABER_COMPENDIUM_SYSTEM.md
Due: prettier --write

docs: executive summary — lightsaber system complete
  LIGHTSABER_SYSTEM_FINAL.md
Due: prettier --write

feat(lightsaber): add all missing chassis to weapons.db
  packs/weapons.db
Due: none

docs: chassis migration complete (14/15)
  LIGHTSABER_CHASSIS_COMPLETE.md
Due: prettier --write

feat(lightsaber): add final Crossguard Lightsaber chassis
  packs/weapons.db
Due: none

fix(lightsaber): apply RAW 50% construction cost rule
  packs/weapons.db
Due: none

feat(lightsaber): implement blade color system + token light integration
  scripts/data/blade-colors.js
  scripts/engine/crafting/lightsaber-construction-engine.js
  scripts/items/swse-item-sheet.js
  styles/sheets/lightsaber-item.css
  system.json
  templates/items/base/item-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

feat(lightsaber): cinematic construction UI with holographic design
  helpers/handlebars/math-helpers.js
  scripts/applications/lightsaber/lightsaber-construction-app.js
  styles/apps/lightsaber-construction.css
  system.json
  templates/applications/lightsaber/lightsaber-construction.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

feat(lightsaber): Miraj orchestration layer (construction → attunement)
  scripts/applications/lightsaber/lightsaber-construction-app.js
  scripts/applications/lightsaber/miraj-attunement-app.js
  styles/miraj-attunement.css
  templates/applications/lightsaber/miraj-attunement.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

feat(crystals): Phase 1 — Safe, data-driven lightsaber upgrade mechanics
  scripts/engine/combat/weapons-engine.js
  scripts/engine/crafting/phase-1-crystal-tests.js
Due: eslint --fix

feat(crystals): Phase 2 — Context-driven conditional crystal effects
  scripts/engine/combat/weapons-engine.js
  scripts/engine/crafting/phase-2-conditional-tests.js
Due: eslint --fix

feat(crystals): Phase 3 — Hook-based advanced crystal mechanics
  scripts/engine/crafting/phase-3-advanced-crystal-system.js
  scripts/engine/crafting/phase-3-advanced-tests.js
Due: eslint --fix

docs: add comprehensive crystal mechanics system documentation
  docs/CRYSTAL_MECHANICS_COMPLETE.md
Due: prettier --write

feat: add lightsaber token light synchronization
  scripts/engine/crafting/phase-3-advanced-crystal-system.js
  scripts/utils/lightsaber-light-sync.js
Due: eslint --fix

Implement beam styles system with PIXI projectiles and combat effects
  scripts/constants/beam-styles.js
  scripts/core/settings.js
  scripts/visual/native-projectile-service.js
  templates/items/base/item-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js
