Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

Remove non-combat skill teamwork hooks from combat pass
  scripts/engine/feats/skill-teamwork-feat-normalization-hooks.js
Due: eslint --fix

Remove non-combat skill teamwork runtime hooks from combat pass
  scripts/engine/feats/skill-teamwork-runtime-patches.js
Due: eslint --fix

Unregister non-combat skill teamwork hooks
  scripts/infrastructure/hooks/init-hooks.js
Due: eslint --fix

Record combat mobility power feat pass
  docs/audits/combat-mobility-power-feat-addendum-2026-07-06.json
Due: prettier --write

Add Aid Another action adapter
  scripts/engine/combat/aid-another-action-adapter.js
Due: eslint --fix

Register Aid Another action adapter
  scripts/infrastructure/hooks/init-hooks.js
Due: eslint --fix

Normalize Force Unleashed and Scum combat feats
  scripts/engine/feats/force-scoundrel-combat-feat-normalization-hooks.js
Due: eslint --fix

Expose Force Unleashed and Scum combat feat helpers
  scripts/engine/feats/force-scoundrel-combat-runtime-patches.js
Due: eslint --fix

Register Force Scoundrel combat feat hooks
  scripts/infrastructure/hooks/init-hooks.js
Due: eslint --fix

Record Aid Another and Force Scoundrel combat pass
  docs/audits/aid-another-and-force-scoundrel-combat-addendum-2026-07-06.json
Due: prettier --write

Normalize Legacy and Clone advisory combat feats
  scripts/engine/feats/legacy-clone-combat-feat-normalization-hooks.js
Due: eslint --fix

Expose Legacy and Clone combat feat helpers
  scripts/engine/feats/legacy-clone-combat-runtime-patches.js
Due: eslint --fix

Register legacy clone feat hooks
  scripts/infrastructure/hooks/init-hooks.js
Due: eslint --fix

Record Legacy Clone combat feat pass
  docs/audits/legacy-clone-combat-feat-addendum-2026-07-06.json
Due: prettier --write

Tighten Legacy grapple feat metadata
  scripts/engine/feats/grapple-feat-normalization-hooks.js
Due: eslint --fix

Expose Knock Heads grapple rider helpers
  scripts/engine/feats/grapple-feat-actions.js
Due: eslint --fix

Normalize Return Fire feat
  scripts/engine/feats/return-fire-feat-normalization-hooks.js
Due: eslint --fix

Fix Return Fire choice metadata
  scripts/engine/feats/return-fire-feat-normalization-hooks.js
Due: eslint --fix

Expose Return Fire reaction helpers
  scripts/engine/feats/return-fire-runtime-patches.js
Due: eslint --fix

Support Combat Reflexes Return Fire slots
  scripts/engine/feats/return-fire-runtime-patches.js
Due: eslint --fix

Register force tradition picker hooks
  index.js
Due: eslint --fix

Register Return Fire hooks
  scripts/infrastructure/hooks/init-hooks.js
Due: eslint --fix

Restore force tradition picker module
  scripts/apps/force-tradition/force-tradition-picker.js
Due: eslint --fix

Record Legacy grapple and Return Fire pass
  docs/audits/legacy-grapple-return-fire-addendum-2026-07-06.json
Due: prettier --write

Render force tradition picker button from existing select
  scripts/apps/force-tradition/force-tradition-picker.js
Due: eslint --fix

Restore static talent tree membership audit tool
  tools/audit-talent-tree-membership.mjs
Due: none

Normalize Rebellion combat feat riders
  scripts/engine/feats/rebellion-combat-feat-normalization-hooks.js
Due: eslint --fix

Expose Rebellion combat feat helpers
  scripts/engine/feats/rebellion-combat-runtime-patches.js
Due: eslint --fix

Register Rebellion combat feat hooks
  scripts/infrastructure/hooks/init-hooks.js
Due: eslint --fix

Record Rebellion JATM GAW combat feat pass
  docs/audits/rebellion-jatm-gaw-combat-feat-addendum-2026-07-06.json
Due: prettier --write

Normalize droid combat feat riders
  scripts/engine/feats/droid-combat-feat-normalization-hooks.js
Due: eslint --fix

Expose droid combat feat helpers
  scripts/engine/feats/droid-combat-runtime-patches.js
Due: eslint --fix

Add droid combat action adapter
  scripts/engine/combat/droid-combat-action-adapter.js
Due: eslint --fix

Register droid combat feat hooks
  scripts/infrastructure/hooks/init-hooks.js
Due: eslint --fix

Record droid combat feat pass
  docs/audits/droid-combat-feat-addendum-2026-07-06.json
Due: prettier --write

Normalize Galaxy of Intrigue combat feats
  scripts/engine/feats/galaxy-intrigue-combat-feat-normalization-hooks.js
Due: eslint --fix

Expose Galaxy of Intrigue combat helpers
  scripts/engine/feats/galaxy-intrigue-combat-runtime-patches.js
Due: eslint --fix

Add Galaxy of Intrigue combat action adapter
  scripts/engine/combat/galaxy-intrigue-combat-action-adapter.js
Due: eslint --fix

Register Galaxy of Intrigue combat feat hooks
  scripts/infrastructure/hooks/init-hooks.js
Due: eslint --fix

Record Galaxy of Intrigue combat feat pass
  docs/audits/galaxy-intrigue-combat-feat-addendum-2026-07-06.json
Due: prettier --write
