Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

PASS C SURGICAL FIX: swse-templates-consolidated.css (File 1/57)
  styles/apps/swse-templates-consolidated.css
Due: none

PASS C SURGICAL FIX: skill-actions.css (File 3/57)
  styles/sheets/skill-actions.css
Due: none

PASS C SURGICAL FIX: chargen.css (File 5/57)
  styles/apps/chargen/chargen.css
Due: none

PASS C SURGICAL FIX: chargen-templates.css (File 6/57)
  styles/apps/chargen/chargen-templates.css
Due: none

PASS C SURGICAL FIX: store.css (File 12/57)
  styles/apps/store.css
Due: none

PASS C SURGICAL FIX: combat-action-browser.css (File 13/57)
  styles/apps/combat-action-browser.css
Due: none

Phase 3: Structural Enforcement Layer - Runtime Safeguards
  index.js
  scripts/core/v2-render-guard.js
Due: eslint --fix

Phase 3: jQuery eradication (V2-compliant removal)
  scripts/apps/gm-droid-approval-dashboard.js
  scripts/apps/store/store-checkout.js
  scripts/combat/combat-integration.js
  scripts/houserules/houserule-feat-grants.js
  scripts/talents/light-side-talent-mechanics.js
Due: eslint --fix

Run 2 Pass 3: Inline styles extraction - Micro-batch 1 (60% complete)
  RUN2_HANDOFF.md
  RUN2_STATUS.md
  scripts/apps/chargen-narrative.js
  scripts/apps/levelup/diff-viewer.js
  scripts/apps/levelup/levelup-talents.js
  styles/apps/diff-viewer.css
  styles/apps/talent-tree-common.css
Due: eslint --fix, prettier --write

Run 2 Pass 3: Micro-batch 1 completion - All 5 files processed
  scripts/apps/talent-tree-visualizer.js
  scripts/combat/multi-attack.js
  styles/apps/talent-tree-visualizer.css
  styles/combat/multi-attack.css
Due: eslint --fix

Add session summary - Phase 3 jQuery complete + Pass 3/4/5 status
  SESSION_SUMMARY.md
Due: prettier --write

Run 2 Pass 3: Micro-batch 2 - 6 style blocks extracted (enhanced-rolls, first-run-experience, follower-hooks)
  scripts/combat/rolls/enhanced-rolls.js
  scripts/core/first-run-experience.js
  scripts/hooks/follower-hooks.js
  styles/combat/enhanced-rolls.css
  styles/core/first-run-experience.css
  styles/hooks/follower.css
Due: eslint --fix

Run 2 Pass 3: Micro-batch 3 COMPLETE - All inline styles extracted
  scripts/apps/levelup/debug-panel.js
  scripts/rolls/roll-config.js
  scripts/utils/force-enhancement-dialog.js
  scripts/utils/force-power-manager.js
  scripts/utils/starship-maneuver-manager.js
  styles/rolls/roll-config.css
  styles/utils/force-enhancement.css
  styles/utils/force-power-manager.css
  styles/utils/starship-maneuver.css
Due: eslint --fix

Run 2 FINAL STATUS: Phase 3 + Pass 3 = 100% COMPLETE
  RUN2_FINAL_STATUS.md
Due: prettier --write

Run 2 Pass 4: FormApplication → ApplicationV2 Conversion (17 classes, 100% complete)
  RUN2_PASS4_AUDIT.md
  RUN2_STATUS.md
  scripts/apps/prerequisite-builder-dialog.js
  scripts/apps/template-character-creator.js
  scripts/engine/MetaTuning.js
  scripts/gm-tools/homebrew-manager.js
  scripts/houserules/houserule-menus.js
  scripts/houserules/houserules-config.js
  scripts/progression/ui/force-power-picker.js
  scripts/progression/ui/force-secret-picker.js
  scripts/progression/ui/force-technique-picker.js
  scripts/progression/ui/starship-maneuver-picker.js
Due: eslint --fix, prettier --write

Run 2 Pass 5: Prototype Patching Verification (✅ COMPLETE - diagnostic-only)
  RUN2_PASS5_VERIFICATION.md
  RUN2_STATUS.md
Due: prettier --write

Add Run 2 Completion Report: 37 violations eliminated (0 remaining) ✅
  RUN2_COMPLETION_REPORT.md
Due: prettier --write

Fix syntax error in talent-tree-visualizer.js
  scripts/apps/talent-tree-visualizer.js
Due: eslint --fix

Fix SyntaxError in debug-panel.js
  scripts/apps/levelup/debug-panel.js
Due: eslint --fix

Fix WelcomeDialog null reference error during positioning
  scripts/core/first-run-experience.js
Due: eslint --fix

Fix WelcomeDialog null reference in _updatePosition (proper V2 contract)
  scripts/core/first-run-experience.js
Due: eslint --fix

Fix CharacterSheet assertion firing during PARTS render (V2 timing issue)
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

Fix WelcomeDialog to proper ApplicationV2 template-driven pattern
  scripts/core/first-run-experience.js
  templates/dialogs/welcome-dialog.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Add Sentinel Mode diagnostics to WelcomeDialog lifecycle
  scripts/core/first-run-experience.js
Due: eslint --fix

Fix module specifier for HandlebarsApplicationMixin
  scripts/core/first-run-experience.js
Due: eslint --fix

Fix WelcomeDialog boot timing issue with requestAnimationFrame deferral
  scripts/core/first-run-experience.js
Due: eslint --fix

Enforce strict V13 ApplicationV2 architecture - lock to static PARTS pattern
  scripts/apps/base/swse-application.js
  scripts/apps/chargen/chargen-backgrounds.js
  scripts/apps/chargen/chargen-main.js
  scripts/apps/gm-droid-approval-dashboard.js
  scripts/apps/gm-store-dashboard.js
  scripts/apps/levelup/levelup-main.js
  scripts/apps/prerequisite-builder-dialog.js
  scripts/apps/store/store-main.js
  scripts/apps/template-character-creator.js
  templates/apps/chargen-background-mentor-suggestion.hbs
  templates/apps/chargen-class-required-dialog.hbs
  templates/apps/chargen-feat-suggestions-dialog.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Fix V13 PARTS inheritance in actor sheets
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/droid-sheet.js
  scripts/sheets/v2/npc-sheet.js
  scripts/sheets/v2/vehicle-sheet.js
Due: eslint --fix

Register all missing partials in loadTemplates() for V2 sheets
  scripts/core/load-templates.js
Due: eslint --fix

fix(sheets): restore inherited context contract in V2 sheet _prepareContext()
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/droid-sheet.js
  scripts/sheets/v2/npc-sheet.js
  scripts/sheets/v2/vehicle-sheet.js
Due: eslint --fix

fix(actors): move document class registration to top-level module load
  index.js
Due: eslint --fix

fix(templates): correct field paths in identity-strip template
  templates/actors/character/v2/partials/identity-strip.hbs
Due: node scripts/validate/validate-icon-keys.js

Update display property references in V2 templates
  templates/actors/character/v2/partials/identity-strip.hbs
Due: node scripts/validate/validate-icon-keys.js

Rebase V2 sheet classes from ActorSheetV2 to ApplicationV2
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/droid-sheet.js
  scripts/sheets/v2/npc-sheet.js
  scripts/sheets/v2/vehicle-sheet.js
Due: eslint --fix

V2 sheet stabilization: restore document wiring, form config, tab activation
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/droid-sheet.js
  scripts/sheets/v2/npc-sheet.js
  scripts/sheets/v2/vehicle-sheet.js
Due: eslint --fix

Droid architecture alignment: intentional primary vs derived separation
  scripts/actors/v2/character-actor.js
  scripts/actors/v2/droid-actor.js
  scripts/sheets/v2/droid-sheet.js
  styles/sheets/droid-sheet.css
  system.json
  templates/actors/droid/v2/partials/droid-build-history.hbs
  templates/actors/droid/v2/partials/droid-systems-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Fix chargen critical blockers (Issues #4, #10, #21, #24)
  scripts/apps/chargen/chargen-main.js
  scripts/apps/chargen/chargen-species.js
Due: eslint --fix

Fix prerequisite engine vulnerabilities (Critical & Medium severity)
  scripts/apps/chargen/chargen-feats-talents.js
  scripts/data/prerequisite-checker.js
Due: eslint --fix

Add UUID-first resolution layer to prerequisite engine (Phase 1)
  PREREQUISITE_ENGINE_UUID_UPGRADE.md
  scripts/data/prerequisite-checker.js
Due: eslint --fix, prettier --write

Phase 2: UUID Injection into prestige prerequisites
  PHASE2_UUID_INJECTION.md
  scripts/data/prestige-prerequisites.js
  scripts/data/uuid-map.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
