Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

Complete Action Palette - improve UX and finalize execution
  scripts/ui/action-palette/action-palette.css
  scripts/ui/action-palette/action-palette.js
  templates/ui/action-palette.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Fix visible rectangular boxes on SVG tab shells
  styles/ui/swse-holo-phase1.css
Due: none

Change holo button text to bright green with matching glow
  styles/ui/swse-holo-phase1.css
Due: none

Fix collapsed/cut-off Skills table rows in character sheet
  styles/ui/swse-holo-phase1.css
Due: none

.
  quarantine/backups/classes.db.backup
  quarantine/backups/npc.db.backup
  quarantine/backups/npc.db.bak
  scripts/apps/progression-framework/progression-entry.js
  scripts/core/load-templates.js
  scripts/sheets/v2/PanelVisibilityManager.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  styles/sheets/character-sheet.css
  styles/sheets/v2-sheet.css
  styles/swse-core.css
  styles/ui/swse-holo-phase1.css
  templates/actors/character/v2/character-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 2: Establish canonical outer layout contract for character sheet
  styles/sheets/v2-sheet.css
  styles/ui/swse-holo-phase1.css
  templates/actors/character/v2/character-sheet.hbs
Due: node scripts/validate/validate-icon-keys.js

Phase 3: Rewrite character sheet header for compact left/center/right layout
  styles/sheets/v2-sheet.css
  styles/ui/swse-holo-phase1.css
  templates/actors/character/v2/character-sheet.hbs
Due: node scripts/validate/validate-icon-keys.js

Phase 4: Compress actions row and tabs row for density and vertical space
  styles/sheets/v2-sheet.css
  styles/ui/swse-holo-phase1.css
Due: none

Phase 5: Remove inner panel max-height caps to enable genuine expansion
  styles/ui/character-sheet-overflow-contract.css
  templates/actors/character/v2/partials/skills-panel.hbs
Due: node scripts/validate/validate-icon-keys.js

Phase 6: Fix data contract mismatches in defense hydration
  scripts/actors/v2/character-actor.js
  scripts/sheets/v2/context/PanelContextBuilder.js
Due: eslint --fix

Phase 6: Fix data hydration for combat stats and resources display
  scripts/actors/derived/derived-calculator.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/context/PanelContextBuilder.js
Due: eslint --fix

Phase 6: Fix abilities hydration contract mismatch
  scripts/actors/v2/character-actor.js
Due: eslint --fix

Phase 7: Typography, contrast, and holographic visual polish
  styles/sheets/v2-sheet.css
  styles/ui/swse-holo-phase1.css
Due: none

Phase 8: Remove dead roll code paths (rollWeaponAttack/rollWeaponDamage)
  scripts/sheets/v2/character-sheet.js
  templates/actors/character/v2/partials/inventory-item-card.hbs
  templates/actors/character/v2/partials/inventory-weapon-card.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 8: Fix broken SWSEChat.createMessage calls (doesn't exist)
  scripts/engine/combat/combat-executor.js
  scripts/engine/force/force-executor.js
Due: eslint --fix

Phase 8: Add comprehensive roll audit report
  docs/PHASE_8_ROLL_AUDIT_REPORT.md
Due: prettier --write

Phase 9: Combat tab redesign - integrated combat actions browser
  scripts/sheets/v2/character-sheet.js
  styles/sheets/v2-sheet.css
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/character/v2/partials/combat-actions-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 9: Add comprehensive Combat tab redesign documentation
  docs/PHASE_9_COMBAT_TAB_REDESIGN.md
Due: prettier --write

Phase 10: Add expandable skill uses to Skills tab
  scripts/sheets/v2/character-sheet.js
  templates/actors/character/v2/partials/skills-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 10 documentation: Comprehensive guide to expandable skill uses feature
  docs/PHASE_10_SKILLS_TAB_EXPANDABLE_SKILL_USES.md
Due: prettier --write

Phase 10+: Refine expandable skill uses UX with intelligent grouping and filtering
  scripts/sheets/v2/character-sheet.js
  templates/actors/character/v2/partials/skills-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

updates to rolling and sheets
  docs/PHASE_B_CHARACTER_SHEET_CODEMOD_REPORT.md
  docs/PHASE_C_CHARACTER_SHEET_INVOCATION_REPORT.md
  docs/PHASE_E_CHARACTER_SHEET_COMBAT_ACTION_REPORT.md
  scripts/sheets/v2/character-sheet.js.pre_phase_b
  scripts/sheets/v2/character-sheet.js.pre_phase_c
  scripts/sheets/v2/character-sheet.js.pre_phase_e
  templates/actors/character/v2/partials/attacks-panel.hbs.pre_phase_b
  templates/actors/character/v2/partials/initiative-control.hbs.pre_phase_b
  templates/actors/character/v2/partials/resources-panel.hbs.pre_phase_b
  templates/actors/character/v2/partials/skills-panel.hbs.pre_phase_b
Due: prettier --write

.
  PHASE_F_CHARACTER_SHEET_ACTION_ECONOMY_REPORT.md
  PHASE_G1_ATTACK_INSPECTION.txt
  PHASE_G2_ATTACK_CONTRACT_REPORT.md
  PHASE_G_ATTACK_CONTRACT_REPORT.md
  PHASE_H1_SKILL_USE_INSPECTION.txt
  PHASE_H2_SKILL_USE_EXACT_PATCH_REPORT.md
  PHASE_H3_EXTRA_SKILL_WRAPPER_INSPECTION.txt
  PHASE_H4_EXTRA_SKILL_WRAPPER_REPLACEMENT_REPORT.md
  PHASE_H_SKILL_USE_RUNTIME_POLISH_REPORT.md
  scripts/actors/v2/character-actor.js.pre_phase_g
  scripts/actors/v2/character-actor.js.pre_phase_g2
  scripts/sheets/v2/character-sheet.js.pre_phase_f
  scripts/sheets/v2/character-sheet.js.pre_phase_h
  scripts/sheets/v2/character-sheet.js.pre_phase_h4
  scripts/ui/combat/action-economy-bindings.js.pre_phase_f
  templates/actors/character/v2/partials/skills-panel.hbs.pre_phase_h2
Due: prettier --write

.
  PHASE_11_CHAT_HARDENING_REPORT.txt
  PHASE_8_9_10_CHAT_EVENT_LOOP_REPORT.txt
  scripts/bootstrap/holo-init.js.phase11bak
  scripts/bootstrap/holo-init.js.phase8bak
  scripts/engine/combat/reactions/reaction-engine.js.phase11bak
  scripts/engine/combat/reactions/reaction-engine.js.phase8bak
  scripts/engine/rolls/swse-roll-engine.js.phase11bak
  scripts/engine/rolls/swse-roll-engine.js.phase8bak
  styles/ui/chat-holo-flourishes.css.phase11bak
  styles/ui/chat-holo-flourishes.css.phase8bak
  templates/chat/holo-roll.hbs.phase11bak
  templates/chat/holo-roll.hbs.phase8bak
Due: none

fix: move CONFIG.Actor.documentClass registration to init hook
  index.js
Due: eslint --fix

feat(debug): add temporary mutation trace mode for actor update boundary
  index.js
  scripts/governance/actor-engine/actor-engine.js
  scripts/governance/actor-engine/hp-recompute-hooks.js
  scripts/sheets/v2/character-sheet.js
  scripts/utils/actor-utils.js
  scripts/utils/mutation-trace.js
Due: eslint --fix

fix: re-entrant write guards + canary + boot registration verification
  index.js
  scripts/engine/progression/modules/language-module.js
Due: eslint --fix

PHASE 2: Add per-actor transaction atomicity guard
  scripts/engine/progression/modules/language-module.js
  scripts/governance/actor-engine/actor-engine.js
  scripts/governance/actor-engine/hp-recompute-hooks.js
  scripts/infrastructure/hooks/force-power-hooks.js
  scripts/infrastructure/hooks/starship-maneuver-hooks.js
Due: eslint --fix

PHASE 3 & 4: Complete actor atomicity hardening
  index.js
  scripts/engine/talent/dark-side-devotee-mechanics.js
  scripts/governance/actor-engine/actor-engine.js
  scripts/talents/DarkSidePowers.js
  scripts/test/persistence-canary.js
  scripts/utils/actor-utils.js
Due: eslint --fix

fix: remove undefined values from actor update payload boundary
  scripts/sheets/v2/character-sheet.js
  scripts/utils/actor-utils.js
Due: eslint --fix

fix: resolve 5 critical/high severity issues in progression and suggestion systems
  scripts/apps/progression-framework/dialogs/template-selection-dialog.js
  scripts/engine/suggestion/BuildIntent.js
  scripts/mentor/mentor-translation-integration.js
  scripts/sheets/v2/character-sheet.js
  styles/progression-framework/shell/svg-components.css
  styles/progression-framework/steps/species-step.css
Due: eslint --fix

Fix: Add buttons config to TemplateSelectionDialog for Foundry v12 compatibility
  scripts/apps/progression-framework/dialogs/template-selection-dialog.js
Due: eslint --fix

Fix: Resolve template validation issues
  data/character-templates.json
  data/nonheroic-templates.json
Due: prettier --write

Fix: Species details rail now hydrates when item is focused
  scripts/apps/progression-framework/shell/progression-shell.js
Due: eslint --fix

Fix Handlebars parse error in store template
  templates/apps/store/store-card-grid.hbs
Due: node scripts/validate/validate-icon-keys.js

Fix species row SVG overlay issue with proper stacking context
  styles/progression-framework/steps/species-step.css
Due: none
