Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Phase 4 Completion: Suggestion Transparency and Mentor Enrichment Live Wiring
  scripts/mentor/mentor-suggestion-dialog.js
  templates/apps/chargen.hbs
  templates/apps/levelup.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 4 Complete: Level-up Reflection and Trajectory Integration
  scripts/apps/levelup/levelup-main.js
  templates/apps/levelup.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 6: Safe Architecture Consolidation — Listener and Suggestion Context Unification
  scripts/apps/base/swse-application-v2.js
  scripts/apps/chargen/chargen-main.js
  scripts/apps/levelup/levelup-main.js
  scripts/engine/progression/progression-regression.test.js
  scripts/engine/progression/suggestion/suggestion-context-builder.js
  scripts/engine/suggestion/suggestion-advisory-formatter.js
Due: eslint --fix

Phase 7: Expand mentor enrichment to chargen for richer progression experience
  scripts/apps/chargen/chargen-feats-talents.js
  scripts/apps/chargen/chargen-main.js
  scripts/engine/progression/progression-regression.test.js
Due: eslint --fix

Add comprehensive character sheet static code audit report
  CHARACTER_SHEET_AUDIT_REPORT.md
Due: prettier --write

Fix event listener lifecycle memory leaks in character sheets
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/npc-full-sheet.js
  scripts/sheets/v2/npc-sheet.js
Due: eslint --fix

Add comprehensive render pipeline integrity audit report
  CHARACTER_SHEET_RENDER_PIPELINE_AUDIT.md
Due: prettier --write

Add Handlebars hydration diagnostic revealing context-template mismatches
  HANDLEBARS_HYDRATION_DIAGNOSTIC.md
Due: prettier --write

Add comprehensive follower system architecture audit
  FOLLOWER_SYSTEM_ARCHITECTURE_AUDIT.md
Due: prettier --write

Implement remediation for 3 critical context delivery failures
  CONTEXT_REMEDIATION_PLAN.md
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix, prettier --write

Add defensive guardrails to character sheet to prevent regression
  SHEET_GUARDRAILS.md
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix, prettier --write

Integrate Sentinel governance layer with sheet guardrails
  SHEET_GUARDRAILS.md
  scripts/governance/sentinel/sentinel-sheet-guardrails.js
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix, prettier --write

Ensure sentinel-sheet-guardrails is properly connected to Sentinel engine
  scripts/governance/sentinel/sentinel-registry.js
  scripts/governance/sentinel/sentinel-sheet-guardrails.js
Due: eslint --fix

Add comprehensive layout collapse detection system to Sentinel
  scripts/governance/sentinel/sentinel-css-contract.js
  scripts/governance/sentinel/sentinel-layout-debugger.js
  scripts/governance/sentinel/sentinel-registry.js
Due: eslint --fix

Add comprehensive layout audit and CSS fix recommendations
  LAYOUT_AUDIT_AND_FIXES.md
Due: prettier --write

Add flex class verification audit for character sheet V2
  FLEX_CLASS_VERIFICATION.md
Due: prettier --write

Add comprehensive session summary for layout governance audit
  SESSION_SUMMARY_LAYOUT_GOVERNANCE.md
Due: prettier --write

Implement CSS layout contract validator with machine-readable rules
  LAYOUT_CONTRACT_GUIDE.md
  scripts/governance/sentinel/sentinel-layout-contract.js
  scripts/governance/sentinel/sentinel-layout-evaluator.js
  scripts/governance/sentinel/sentinel-registry.js
Due: eslint --fix, prettier --write

Apply Foundry V13 layout contract to character sheet template and CSS
  styles/sheets/v2-sheet.css
  templates/actors/character/v2/character-sheet.hbs
Due: node scripts/validate/validate-icon-keys.js

Apply layout contract fixes to all ApplicationV2 sheets
  SHEET_LAYOUT_AUDIT_REPORT.md
  styles/sheets/droid-sheet.css
  styles/sheets/unified-sheets.css
  styles/sheets/vehicle-sheet.css
  templates/actors/droid/v2/droid-sheet.hbs
  templates/actors/npc/v2/npc-combat-sheet.hbs
  templates/actors/npc/v2/npc-sheet.hbs
  templates/actors/vehicle/v2/vehicle-sheet.hbs
Due: node scripts/validate/validate-icon-keys.js, prettier --write

Apply layout contract fixes to all windowed applications
  styles/apps/chargen/chargen.css
  styles/apps/gm-store-dashboard.css
  styles/apps/levelup.css
  styles/apps/store.css
  templates/apps/chargen.hbs
  templates/apps/gm-store-dashboard.hbs
  templates/apps/levelup.hbs
  templates/apps/store/store.hbs
Due: node scripts/validate/validate-icon-keys.js

Apply layout contract fixes to additional major applications
  styles/apps/combat-action-browser.css
  styles/apps/swse-templates-consolidated.css
  templates/apps/combat-action-browser.hbs
  templates/apps/droid-builder.hbs
  templates/apps/gm-droid-approval-dashboard.hbs
Due: node scripts/validate/validate-icon-keys.js

feat(progression-framework): Wave 0 + Wave 1 — project setup and shell primitives
  scripts/apps/chargen/chargen-main.js
  scripts/apps/levelup/levelup-main.js
  scripts/apps/progression-framework/chargen-shell.js
  scripts/apps/progression-framework/levelup-shell.js
  scripts/apps/progression-framework/shell/action-footer.js
  scripts/apps/progression-framework/shell/conditional-step-resolver.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/step-descriptor.js
  scripts/apps/progression-framework/steps/step-plugin-base.js
  scripts/core/init.js
  styles/progression-framework/action-footer.css
  styles/progression-framework/holo-theme.css
  styles/progression-framework/progression-framework.css
  styles/progression-framework/progression-shell-placeholders.css
  styles/progression-framework/progression-shell.css
  system.json
  templates/apps/progression-framework/details-panel/empty-state.hbs
  templates/apps/progression-framework/progression-shell.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

fix(progression-framework): Wave 0/1 correction pass — two blockers resolved
  scripts/apps/progression-framework/shell/progression-shell.js
Due: eslint --fix

feat(progression-framework): Theme tuning — dark bulkhead foundation + concentrated holo
  styles/progression-framework/action-footer.css
  styles/progression-framework/holo-theme.css
  styles/progression-framework/progression-framework.css
  styles/progression-framework/progression-shell-placeholders.css
  styles/progression-framework/progression-shell.css
Due: none

SWSE V13 — Wave 2: Mentor Rail, Progress Rail, Utility Bar Implementation
  scripts/apps/progression-framework/shell/mentor-rail.js
  scripts/apps/progression-framework/shell/progress-rail.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/shell/utility-bar.js
  styles/progression-framework/mentor-rail.css
  styles/progression-framework/progress-rail.css
  styles/progression-framework/progression-shell-placeholders.css
  styles/progression-framework/utility-bar.css
  system.json
  templates/apps/progression-framework/mentor-rail.hbs
  templates/apps/progression-framework/progress-rail.hbs
  templates/apps/progression-framework/progression-shell.hbs
  templates/apps/progression-framework/utility-bar.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

SWSE V13 — Wave 3: Species Step Implementation
  scripts/apps/progression-framework/chargen-shell.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/near-human-builder.js
  scripts/apps/progression-framework/steps/species-step.js
  scripts/apps/progression-framework/steps/step-plugin-base.js
  styles/progression-framework/steps/near-human-builder.css
  styles/progression-framework/steps/species-step.css
  system.json
  templates/apps/progression-framework/details-panel/species-details.hbs
  templates/apps/progression-framework/progression-shell.hbs
  templates/apps/progression-framework/steps/near-human-work-surface.hbs
  templates/apps/progression-framework/steps/species-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

SWSE V13 — Wave 4: Class Step + L1 Survey + Mentor Swap
  scripts/apps/progression-framework/chargen-shell.js
  scripts/apps/progression-framework/steps/class-step.js
  scripts/apps/progression-framework/steps/l1-survey-step.js
  styles/progression-framework/steps/class-step.css
  styles/progression-framework/steps/l1-survey-step.css
  system.json
  templates/apps/progression-framework/details-panel/class-details.hbs
  templates/apps/progression-framework/steps/class-work-surface.hbs
  templates/apps/progression-framework/steps/l1-survey-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

SWSE V13 — Wave 5: Attribute Step Implementation
  scripts/apps/progression-framework/chargen-shell.js
  scripts/apps/progression-framework/steps/attribute-step.js
  styles/progression-framework/steps/attribute-step.css
  system.json
  templates/apps/progression-framework/details-panel/attribute-details.hbs
  templates/apps/progression-framework/steps/attribute-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

SWSE V13 — Wave 6: Background Step Implementation
  scripts/apps/progression-framework/chargen-shell.js
  scripts/apps/progression-framework/steps/background-step.js
  styles/progression-framework/steps/background-step.css
  system.json
  templates/apps/progression-framework/details-panel/background-details.hbs
  templates/apps/progression-framework/steps/background-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Wave 6+: Mentor Integration Across All Steps
  scripts/apps/progression-framework/steps/attribute-step.js
  scripts/apps/progression-framework/steps/background-step.js
  scripts/apps/progression-framework/steps/class-step.js
  scripts/apps/progression-framework/steps/l1-survey-step.js
  scripts/apps/progression-framework/steps/mentor-step-integration.js
  scripts/apps/progression-framework/steps/species-step.js
Due: eslint --fix

Wave 7: Language Selection Step Implementation
  scripts/apps/progression-framework/chargen-shell.js
  scripts/apps/progression-framework/steps/language-step.js
  scripts/apps/progression-framework/steps/mentor-step-integration.js
  styles/progression-framework/steps/language-step.css
  system.json
  templates/apps/progression-framework/details-panel/language-details.hbs
  templates/apps/progression-framework/steps/language-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Wave 8: Feat Selection Step Implementation
  scripts/apps/progression-framework/chargen-shell.js
  scripts/apps/progression-framework/steps/feat-step.js
  styles/progression-framework/steps/feat-step.css
  system.json
  templates/apps/progression-framework/details-panel/feat-details.hbs
  templates/apps/progression-framework/steps/feat-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Wave 9: Talent Selection Step Implementation
  scripts/apps/progression-framework/chargen-shell.js
  scripts/apps/progression-framework/steps/mentor-step-integration.js
  scripts/apps/progression-framework/steps/talent-step.js
  styles/progression-framework/steps/talent-step.css
  system.json
  templates/apps/progression-framework/details-panel/talent-details.hbs
  templates/apps/progression-framework/steps/talent-tree-browser.hbs
  templates/apps/progression-framework/steps/talent-tree-graph.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Wave 10: Implement Force Power conditional step
  scripts/apps/progression-framework/shell/conditional-step-resolver.js
  scripts/apps/progression-framework/steps/force-power-step.js
  styles/progression-framework/steps/force-power-step.css
  system.json
  templates/apps/progression-framework/details-panel/force-power-details.hbs
  templates/apps/progression-framework/steps/force-power-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Wave 10: Add Force Power entitlement guardrails and multi-source detection
  scripts/apps/progression-framework/steps/force-power-step.js
  scripts/apps/progression-framework/steps/force-secret-step.js
  scripts/apps/progression-framework/steps/force-technique-step.js
  scripts/apps/progression-framework/steps/starship-maneuver-step.js
Due: eslint --fix

Wave 10: Add placeholder templates for conditional steps
  templates/apps/progression-framework/details-panel/force-secret-details.hbs
  templates/apps/progression-framework/details-panel/force-technique-details.hbs
  templates/apps/progression-framework/details-panel/starship-maneuver-details.hbs
  templates/apps/progression-framework/steps/force-secret-work-surface.hbs
  templates/apps/progression-framework/steps/force-technique-work-surface.hbs
  templates/apps/progression-framework/steps/starship-maneuver-work-surface.hbs
Due: node scripts/validate/validate-icon-keys.js

Wave 10: Document all Force Power entitlement and legality guardrails
  WAVE_10_FORCE_POWER_GUARDRAILS.md
Due: prettier --write

Wave 10: Add suite reselection retrain/repick guardrail
  WAVE_10_FORCE_POWER_GUARDRAILS.md
Due: prettier --write

Wave 11: Implement Confirm Step + HP Gain Resolution for Level-Up
  scripts/apps/progression-framework/chargen-shell.js
  scripts/apps/progression-framework/levelup-shell.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/confirm-step.js
  styles/progression-framework/steps/confirm-step.css
  system.json
  templates/apps/progression-framework/details-panel/confirm-details.hbs
  templates/apps/progression-framework/steps/confirm-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
