Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

audit: freeze Phase 3D weapon canonical authority
  data/audits/item-canonicalization-rolling-authority.json
  data/audits/item-weapons-phase-3d-global-freeze.json
  docs/audits/item-canonicalization-rolling-authority.md
  docs/audits/item-weapons-phase-3d-global-freeze.md
  tools/build-item-weapons-phase-3d-global-freeze.mjs
  tools/verify-item-weapons-authority.mjs
Due: prettier --write

audit: add Phase 4A Simple Weapon semantic tag rolling authority (round 1)
  data/audits/item-weapons-phase-4a-simple-semantic-rolling.json
  docs/audits/item-weapons-phase-4a-simple-semantic-rolling.md
  tools/verify-item-weapons-authority.mjs
Due: prettier --write

audit: append Phase 4A Simple Weapon semantic tags rounds 2-3
  data/audits/item-weapons-phase-4a-simple-semantic-rolling.json
  docs/audits/item-weapons-phase-4a-simple-semantic-rolling.md
  tools/verify-item-weapons-authority.mjs
Due: prettier --write

audit: certify Phase 4A Simple Weapon semantic tag authority (49/49)
  data/audits/item-weapons-phase-4a-simple-semantic-rolling.json
  docs/audits/item-weapons-phase-4a-simple-semantic-rolling.md
  tools/verify-item-weapons-authority.mjs
Due: prettier --write

audit: add Phase 4B Lightsaber semantic tags round 1 (8/16)
  data/audits/item-weapons-phase-4b-lightsaber-semantic-rolling.json
  docs/audits/item-weapons-phase-4b-lightsaber-semantic-rolling.md
  tools/verify-item-weapons-authority.mjs
Due: prettier --write

audit: add Phase 4B Lightsaber round 1 rule-selector retrofit
  data/audits/item-weapons-phase-4b-lightsaber-round1-selector-retrofit.json
  data/audits/item-weapons-phase-4b-lightsaber-semantic-rolling.json
  docs/audits/item-weapons-phase-4b-lightsaber-round1-selector-retrofit.md
  docs/audits/item-weapons-phase-4b-lightsaber-semantic-rolling.md
  tools/verify-item-weapons-authority.mjs
Due: prettier --write

audit: add Phase 4C Pistol semantic tags rounds 1-2 (20/30)
  data/audits/item-weapons-phase-4c-pistol-semantic-rolling.json
  docs/audits/item-weapons-phase-4c-pistol-semantic-rolling.md
  tools/verify-item-weapons-authority.mjs
Due: prettier --write

audit: complete Phase 4C Pistol semantic tags (30/30)
  data/audits/item-weapons-phase-4c-pistol-semantic-rolling.json
  docs/audits/item-weapons-phase-4c-pistol-semantic-rolling.md
  tools/verify-item-weapons-authority.mjs
Due: prettier --write

audit: complete Phase 4D Rifle semantic tags (38/38)
  data/audits/item-weapons-phase-4d-rifle-semantic-rolling.json
  docs/audits/item-weapons-phase-4d-rifle-semantic-rolling.md
  tools/verify-item-weapons-authority.mjs
Due: prettier --write

audit: add Phase 4E Advanced Melee semantic tags round 1 (10/22)
  data/audits/item-weapons-phase-4e-advanced-melee-semantic-rolling.json
  docs/audits/item-weapons-phase-4e-advanced-melee-semantic-rolling.md
  tools/verify-item-weapons-authority.mjs
Due: prettier --write

audit: complete Phase 4E Advanced Melee semantic authority (22/22)
  data/audits/item-weapons-phase-4e-advanced-melee-semantic-rolling.json
  docs/audits/item-weapons-phase-4e-advanced-melee-semantic-rolling.md
Due: prettier --write

audit: verify Phase 4E Advanced Melee complete authority (22/22)
  tools/verify-item-weapons-authority.mjs
Due: none

audit: certify Heavy Weapon semantic authority
  data/audits/item-weapons-phase-4f-heavy-semantic-rolling.json
Due: prettier --write

docs: add Heavy Weapon semantic authority
  docs/audits/item-weapons-phase-4f-heavy-semantic-rolling.md
Due: prettier --write

audit: verify Phase 4F Heavy Weapons semantic authority (17/17)
  tools/verify-item-weapons-authority.mjs
Due: none

Weapons Phase 4B Lightsabers 16/16 complete authority + Phase 4G Exotic census freeze
  data/audits/item-weapons-phase-4b-lightsaber-semantic-rolling.json
  data/audits/item-weapons-phase-4g-exotic-census.json
  docs/audits/item-weapons-phase-4b-lightsaber-semantic-rolling.md
  docs/audits/item-weapons-phase-4g-exotic-census.md
  tools/verify-item-weapons-authority.mjs
Due: prettier --write

Weapons Phase 4G Exotic Round 1 (Amphistaff -> Blastsword, 5/32) planner authority + verifier
  data/audits/item-weapons-phase-4g-exotic-semantic-rolling.json
  docs/audits/item-weapons-phase-4g-exotic-semantic-rolling.md
  tools/verify-item-weapons-authority.mjs
Due: prettier --write

Weapons Phase 4G Exotic Round 2 (Bowcaster -> Darkstick, 10/32) planner authority + verifier
  data/audits/item-weapons-phase-4g-exotic-semantic-rolling.json
  docs/audits/item-weapons-phase-4g-exotic-semantic-rolling.md
  tools/verify-item-weapons-authority.mjs
Due: prettier --write

Weapons Phase 4G Exotic Round 3 corrected (Deck Sweeper -> Flamethrower, 15/32) planner authority + verifier
  data/audits/item-weapons-phase-4g-exotic-semantic-rolling.json
  docs/audits/item-weapons-phase-4g-exotic-semantic-rolling.md
  tools/verify-item-weapons-authority.mjs
Due: prettier --write

Weapons Phase 4G Exotic complete (32/32) planner authority + verifier
  data/audits/item-weapons-phase-4g-exotic-semantic-rolling.json
  docs/audits/item-weapons-phase-4g-exotic-semantic-rolling.md
  tools/verify-item-weapons-authority.mjs
Due: prettier --write

Weapons Phase 4H-A: authority reconciliation (203 identities) + Exotic selector/provenance corrections
  data/audits/item-weapons-phase-4g-exotic-census.json
  data/audits/item-weapons-phase-4g-exotic-semantic-rolling.json
  data/audits/item-weapons-phase-4h-authority-reconciliation.json
  docs/audits/item-weapons-phase-4g-exotic-census.md
  docs/audits/item-weapons-phase-4g-exotic-semantic-rolling.md
  docs/audits/item-weapons-phase-4h-authority-reconciliation.md
  tools/build-item-weapons-phase-4h-reconciliation.mjs
  tools/verify-item-weapons-authority.mjs
Due: prettier --write

Weapons Phase 4H-B: global semantic + selector QA over 4A-4G
  data/audits/item-weapons-phase-4h-b-global-semantic-qa.json
  docs/audits/item-weapons-phase-4h-b-global-semantic-qa.md
  tools/build-item-weapons-phase-4h-semantic-qa.mjs
  tools/lib/item-weapons-phase-4h.mjs
  tools/verify-item-weapons-authority.mjs
Due: prettier --write

Weapons Phase 4H-C: combined 203-identity semantic authority freeze (+ 4F reconciliation)
  data/audits/item-weapons-phase-4f-heavy-semantic-rolling.json
  data/audits/item-weapons-phase-4h-authority-reconciliation.json
  data/audits/item-weapons-phase-4h-b-global-semantic-qa.json
  data/audits/item-weapons-phase-4h-global-semantic-authority.json
  docs/audits/item-weapons-phase-4h-authority-reconciliation.md
  docs/audits/item-weapons-phase-4h-b-global-semantic-qa.md
  docs/audits/item-weapons-phase-4h-global-semantic-authority.md
  tools/build-item-weapons-phase-4h-global-authority.mjs
  tools/lib/item-weapons-reference-scan.mjs
  tools/verify-item-weapons-authority.mjs
Due: prettier --write

Weapons Phase 4H-D: Phase 4 weapon semantic authority certified and frozen
  data/audits/item-weapons-phase-4h-d-phase-4-certification.json
  docs/audits/item-weapons-phase-4h-d-phase-4-certification.md
  tools/build-item-weapons-phase-4h-phase-4-certification.mjs
  tools/verify-item-weapons-authority.mjs
Due: prettier --write

Refresh Phase 0 item SSOT census for the Phase 4H certification builder
  data/audits/item-phase-0-ssot-census.json
Due: prettier --write

audit: finalize Phase 4 weapon authority amendments
  data/audits/item-weapons-phase-4c-pistol-semantic-rolling.json
  data/audits/item-weapons-phase-4g-exotic-census.json
  data/audits/item-weapons-phase-4g-exotic-semantic-rolling.json
  data/audits/item-weapons-phase-4h-authority-reconciliation.json
  data/audits/item-weapons-phase-4h-b-global-semantic-qa.json
  data/audits/item-weapons-phase-4h-d-phase-4-certification.json
  data/audits/item-weapons-phase-4h-global-semantic-authority.json
  docs/audits/item-weapons-phase-4c-pistol-semantic-rolling.md
  docs/audits/item-weapons-phase-4g-exotic-census.md
  docs/audits/item-weapons-phase-4g-exotic-semantic-rolling.md
  docs/audits/item-weapons-phase-4h-authority-reconciliation.md
  docs/audits/item-weapons-phase-4h-b-global-semantic-qa.md
  docs/audits/item-weapons-phase-4h-d-phase-4-certification.md
  docs/audits/item-weapons-phase-4h-global-semantic-authority.md
  tools/build-item-weapons-phase-4h-phase-4-certification.mjs
  tools/build-item-weapons-phase-4h-reconciliation.mjs
  tools/build-item-weapons-phase-4h-semantic-qa.mjs
  tools/verify-item-weapons-authority.mjs
Due: prettier --write

audit: Phase 5A read-only runtime ingestion audit tooling (checkpoint)
  tools/audit-weapon-phase-5a-legacy-field-scan.mjs
  tools/audit-weapon-phase-5a-schema-census.mjs
  tools/lib/item-weapons-reference-scan.mjs
Due: none

audit: Phase 5A weapon runtime ingestion map and adapter contract
  data/audits/weapon-phase-5a-runtime-consumer-matrix.json
  docs/audits/weapon-phase-5a-runtime-adapter-contract.md
  docs/audits/weapon-phase-5a-runtime-ingestion-map.md
Due: prettier --write

feat: Phase 5B canonical weapon runtime registry, resolver foundation and consumption architecture
  data/audits/weapon-phase-5b-consumption-map.json
  data/audits/weapon-phase-5b-schema-field-census.json
  data/audits/weapon-phase-5b-special-mechanic-consumption.json
  data/weapons/canonical-weapon-registry.json
  docs/audits/weapon-phase-5a-runtime-adapter-contract.md
  docs/audits/weapon-phase-5b-canonical-consumption-architecture.md
  docs/audits/weapon-phase-5b-implementation-roadmap.md
  scripts/items/weapon-runtime/canonical-identity.js
  scripts/items/weapon-runtime/damage-profile-resolver.js
  scripts/items/weapon-runtime/deep-freeze.js
  scripts/items/weapon-runtime/errors.js
  scripts/items/weapon-runtime/index.js
  scripts/items/weapon-runtime/legacy-adapter.js
  scripts/items/weapon-runtime/proficiency-resolver.js
  scripts/items/weapon-runtime/profile-reconciliation.js
  scripts/items/weapon-runtime/range-resolver.js
  scripts/items/weapon-runtime/resource-resolver.js
  scripts/items/weapon-runtime/weapon-authority-registry.js
  scripts/items/weapon-runtime/weapon-runtime-resolver.js
  tests/helpers/weapon-runtime-fixture.mjs
  tests/weapon-runtime-builder-negative.test.mjs
  tests/weapon-runtime-consumption-map.test.mjs
  tests/weapon-runtime-proficiency.test.mjs
  tests/weapon-runtime-registry-resolver.test.mjs
  tools/build-weapon-phase-5b-consumption.mjs
  tools/build-weapon-runtime-registry.mjs
  tools/lib/item-weapons-reference-scan.mjs
  tools/lib/weapon-phase-5b-rules.mjs
Due: eslint --fix, prettier --write

feat: Phase 5B-R runtime authority reconciliation
  data/audits/item-weapons-phase-3b-canonical-authority.json
  data/audits/item-weapons-phase-3c-production-disposition-ledger.json
  data/audits/item-weapons-phase-3d-global-freeze.json
  data/audits/item-weapons-phase-4h-authority-reconciliation.json
  data/audits/item-weapons-phase-4h-d-phase-4-certification.json
  data/audits/item-weapons-phase-4h-global-semantic-authority.json
  data/audits/weapon-phase-5b-consumption-map.json
  data/audits/weapon-phase-5b-r-condition-policy-census.json
  data/audits/weapon-phase-5b-r-mode-reconciliation.json
  data/audits/weapon-phase-5b-schema-field-census.json
  data/audits/weapon-phase-5b-special-mechanic-consumption.json
  data/weapons/canonical-weapon-registry.json
  docs/audits/item-weapons-phase-3b-canonical-authority.md
  docs/audits/item-weapons-phase-3c-production-disposition-ledger.md
  docs/audits/item-weapons-phase-3d-global-freeze.md
  docs/audits/item-weapons-phase-4h-authority-reconciliation.md
  docs/audits/item-weapons-phase-4h-global-semantic-authority.md
  docs/audits/weapon-phase-5a-runtime-adapter-contract.md
  docs/audits/weapon-phase-5b-canonical-consumption-architecture.md
  docs/audits/weapon-phase-5b-implementation-roadmap.md
  docs/audits/weapon-phase-5b-r-runtime-authority-reconciliation.md
  scripts/items/weapon-runtime/condition-policy.js
  scripts/items/weapon-runtime/errors.js
  scripts/items/weapon-runtime/proficiency-resolver.js
  scripts/items/weapon-runtime/profile-reconciliation.js
  scripts/items/weapon-runtime/weapon-runtime-resolver.js
  tests/weapon-runtime-5br-reconciliation.test.mjs
  tests/weapon-runtime-proficiency.test.mjs
  tests/weapon-runtime-registry-resolver.test.mjs
  tools/build-item-weapons-phase-3b-canonical-authority.mjs
  tools/build-weapon-phase-5b-r-reconciliation.mjs
  tools/build-weapon-runtime-registry.mjs
  tools/lib/item-weapons-phase-3b-amendments.mjs
  tools/lib/item-weapons-reference-scan.mjs
  tools/lib/weapon-phase-5b-rules.mjs
  tools/verify-item-weapons-authority.mjs
Due: eslint --fix, prettier --write

feat: apply planner source authority to 5B-R reconciliation (Amphistaff Pin/Trip split, inheritance drift guard)
  data/audits/item-weapons-phase-3b-canonical-authority.json
  data/audits/item-weapons-phase-3c-production-disposition-ledger.json
  data/audits/item-weapons-phase-3d-global-freeze.json
  data/audits/item-weapons-phase-4h-authority-reconciliation.json
  data/audits/item-weapons-phase-4h-d-phase-4-certification.json
  data/audits/item-weapons-phase-4h-global-semantic-authority.json
  data/audits/weapon-phase-5b-consumption-map.json
  data/audits/weapon-phase-5b-r-condition-policy-census.json
  data/audits/weapon-phase-5b-r-mode-reconciliation.json
  data/audits/weapon-phase-5b-schema-field-census.json
  data/weapons/canonical-weapon-registry.json
  docs/audits/item-weapons-phase-3d-global-freeze.md
  docs/audits/item-weapons-phase-4h-authority-reconciliation.md
  docs/audits/item-weapons-phase-4h-global-semantic-authority.md
  docs/audits/weapon-phase-5b-canonical-consumption-architecture.md
  docs/audits/weapon-phase-5b-r-runtime-authority-reconciliation.md
  scripts/items/weapon-runtime/condition-policy.js
  tests/weapon-runtime-5br-reconciliation.test.mjs
  tests/weapon-runtime-registry-resolver.test.mjs
  tools/lib/item-weapons-phase-3b-amendments.mjs
Due: eslint --fix, prettier --write

feat: final Phase 5B-R authority corrections (Amphistaff Yuuzhan Vong route, Vibrobayonet host-rifle double weapon)
  data/audits/item-weapons-phase-3b-canonical-authority.json
  data/audits/item-weapons-phase-3c-production-disposition-ledger.json
  data/audits/item-weapons-phase-3d-global-freeze.json
  data/audits/item-weapons-phase-4g-exotic-census.json
  data/audits/item-weapons-phase-4g-exotic-semantic-rolling.json
  data/audits/item-weapons-phase-4h-authority-reconciliation.json
  data/audits/item-weapons-phase-4h-b-global-semantic-qa.json
  data/audits/item-weapons-phase-4h-d-phase-4-certification.json
  data/audits/item-weapons-phase-4h-global-semantic-authority.json
  data/audits/weapon-phase-5b-consumption-map.json
  data/audits/weapon-phase-5b-r-condition-policy-census.json
  data/audits/weapon-phase-5b-r-mode-reconciliation.json
  data/audits/weapon-phase-5b-schema-field-census.json
  data/audits/weapon-phase-5b-special-mechanic-consumption.json
  data/weapons/canonical-weapon-registry.json
  docs/audits/item-weapons-phase-3c-production-disposition-ledger.md
  docs/audits/item-weapons-phase-3d-global-freeze.md
  docs/audits/item-weapons-phase-4h-authority-reconciliation.md
  docs/audits/item-weapons-phase-4h-d-phase-4-certification.md
  docs/audits/item-weapons-phase-4h-global-semantic-authority.md
  docs/audits/weapon-phase-5b-canonical-consumption-architecture.md
  docs/audits/weapon-phase-5b-implementation-roadmap.md
  docs/audits/weapon-phase-5b-r-runtime-authority-reconciliation.md
  scripts/items/weapon-runtime/condition-policy.js
  scripts/items/weapon-runtime/host-augmentation.js
  scripts/items/weapon-runtime/index.js
  scripts/items/weapon-runtime/weapon-runtime-resolver.js
  tests/weapon-runtime-proficiency.test.mjs
  tests/weapon-runtime-registry-resolver.test.mjs
  tools/build-item-weapons-phase-4h-phase-4-certification.mjs
  tools/lib/item-weapons-phase-3b-amendments.mjs
  tools/lib/weapon-phase-5b-rules.mjs
  tools/verify-item-weapons-authority.mjs
Due: eslint --fix, prettier --write

audit: Phase 5C-0 pre-cutover census (feats 353/390, weapons 203/186; hashes and drift guard)
  data/audits/item-phase-0-ssot-census.json
  data/audits/phase-5c-precutover-census.json
  docs/audits/phase-5c-precutover-census.md
  tools/census-phase-5c-precutover.mjs
  tools/lib/item-weapons-reference-scan.mjs
Due: prettier --write

docs: Phase 5C identity-closeout handoff (hashes, registry contract, Lanvarok ruling, choice reconciliation)
  docs/audits/phase-5c-post-cutover-handoff.md
Due: prettier --write

feat: Phase 5D-A canonical attack profile + proficiency consumption
  docs/audits/weapon-phase-5d-a-attack-profile-proficiency-consumption.md
  scripts/combat/rolls/attacks.js
  scripts/engine/combat/combat-roll-math.js
  scripts/engine/combat/combat-stat-rules.js
  scripts/infrastructure/hooks/init-hooks.js
  scripts/items/weapon-runtime/attack-consumer.js
  scripts/items/weapon-runtime/errors.js
  scripts/items/weapon-runtime/index.js
  scripts/items/weapon-runtime/proficiency-resolver.js
  scripts/items/weapon-runtime/weapon-authority-registry.js
  tests/weapon-phase-5d-a-attack-consumption.test.mjs
  tests/weapon-runtime-builder-negative.test.mjs
Due: eslint --fix, prettier --write

feat: Phase 5D-B player-selectable canonical attack forms + attack-ability provenance
  docs/audits/weapon-phase-5d-b-profile-selection-attack-ability.md
  scripts/engine/combat/combat-stat-rules.js
  scripts/items/item-defaults.js
  scripts/items/weapon-runtime/attack-ability-override.js
  scripts/items/weapon-runtime/attack-form-options.js
  scripts/items/weapon-runtime/index.js
  scripts/rolls/roll-config.js
  scripts/ui/weapon-config-dialog.js
  tests/weapon-phase-5d-b-profile-selection.test.mjs
  tests/weapon-runtime-builder-negative.test.mjs
Due: eslint --fix, prettier --write

feat: Phase 5D-C canonical damage consumption for the selected attack form
  docs/audits/weapon-phase-5d-c-damage-consumption.md
  scripts/combat/rolls/attacks.js
  scripts/combat/rolls/damage.js
  scripts/engine/combat/combat-roll-math.js
  scripts/engine/combat/workflow/combat-context-serializer.js
  scripts/items/weapon-runtime/attack-consumer.js
  scripts/items/weapon-runtime/errors.js
  scripts/items/weapon-runtime/index.js
  tests/weapon-phase-5d-c-damage-consumption.test.mjs
  tests/weapon-runtime-builder-negative.test.mjs
Due: eslint --fix, prettier --write
