Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

Implement Force power provenance schema and engines
  FORCE_POWER_PROVENANCE_SCHEMA.md
  scripts/apps/chargen/chargen-finalizer.js
  scripts/engine/progression/engine/force-power-engine.js
  scripts/engine/progression/engine/force-provenance-engine.js
  scripts/engine/progression/engine/force-provenance-migrator.js
  template.json
Due: eslint --fix, prettier --write

Add force power immutability enforcement and provenance context queries
  scripts/engine/progression/engine/force-authority-engine.js
  scripts/engine/progression/hooks/immutability-hook.js
Due: eslint --fix

Register immutability hook during system initialization
  index.js
Due: eslint --fix

Add comprehensive unit tests and implementation status documentation
  FORCE_POWER_PROVENANCE_IMPLEMENTATION.md
  tests/force-provenance.test.js
Due: eslint --fix, prettier --write

Document Force power provenance risk assessment and remediation plan
  FORCE_POWER_PROVENANCE_RISK_ASSESSMENT.md
Due: prettier --write

Implement critical provenance system hardening fixes (1, 2, 4)
  scripts/engine/progression/engine/force-power-engine.js
  scripts/engine/progression/engine/suite-reselection-engine.js
  scripts/engine/progression/hooks/immutability-hook.js
Due: eslint --fix

Implement intelligent delta-based Force power allocation (fix #3)
  scripts/engine/progression/engine/suite-reselection-engine.js
Due: eslint --fix

Add final implementation status document
  FORCE_POWER_PROVENANCE_FINAL_STATUS.md
Due: prettier --write

Add comprehensive instrumentation specification for chargen species selection audit
  INSTRUMENTATION_SPEC.md
  scripts/apps/progression-framework/debug/progression-debug-capture.js
Due: eslint --fix, prettier --write

Add comprehensive instrumentation to progression engine
  scripts/apps/progression-framework/shell/mentor-rail.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/species-step.js
Due: eslint --fix

Add mentor translation bootstrap audit and instrumentation
  MENTOR_TRANSLATION_AUDIT.md
  scripts/apps/progression-framework/shell/mentor-rail.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/mentor/mentor-translation-integration.js
Due: eslint --fix, prettier --write

Add suggestion engine observability instrumentation specification
  SUGGESTION_ENGINE_INSTRUMENTATION.md
Due: prettier --write

Add comprehensive instrumentation summary covering all 3 audit targets
  INSTRUMENTATION_SUMMARY.md
Due: prettier --write

Add comprehensive full-lifecycle progression engine instrumentation specification
  PROGRESSION_ENGINE_FULL_LIFECYCLE.md
Due: prettier --write

Add master instrumentation index and execution roadmap
  INSTRUMENTATION_INDEX.md
Due: prettier --write

Phase 1: Establish authoritative actor data contract
  docs/actor-data-contract-v1.md
Due: prettier --write

Phase 2: Add actor data ownership matrix
  docs/actor-data-ownership-matrix-v1.md
Due: prettier --write

Phase 3A: Establish canonical ability schema (.base, not .value)
  docs/phase-3-contract-alignment-notes.md
  scripts/actors/derived/derived-calculator.js
  scripts/apps/progression-framework/shell/progression-finalizer.js
  scripts/apps/progression-framework/testing/phase-1-single-truth-apply.test.js
  scripts/apps/progression-framework/testing/phase-2-prerequisite-sovereignty.test.js
  scripts/apps/progression-framework/testing/phase-3-scenario-reconciliation.test.js
  scripts/engine/suggestion/AttributeIncreaseScorer.js
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix, prettier --write

Phase 3B: Establish canonical class storage path (system.class, not redundant scalars)
  scripts/actors/v2/character-actor.js
  scripts/apps/progression-framework/shell/progression-finalizer.js
  scripts/apps/progression-framework/steps/species-step.js
  scripts/apps/progression-framework/testing/phase-1-single-truth-apply.test.js
  scripts/apps/progression-framework/testing/phase-3-scenario-reconciliation.test.js
  scripts/engine/chargen/CharacterGenerationEngine.js
Due: eslint --fix

Phase 3C: Establish canonical skill object schema
  scripts/actors/derived/derived-calculator.js
  scripts/apps/progression-framework/shell/progression-finalizer.js
Due: eslint --fix

Phase 3D: Establish canonical XP/resources naming (system.xp.total, not system.experience)
  scripts/governance/actor-engine/actor-engine.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/context.js
  scripts/sheets/v2/character-sheet/form.js
  template.json
Due: eslint --fix, prettier --write

Update Phase 3 implementation notes to cover all four domains (3A-3D)
  docs/phase-3-contract-alignment-notes.md
Due: prettier --write

Phase 4: Implement contract enforcement in ActorEngine
  docs/phase-4-actor-engine-enforcement.md
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix, prettier --write

Checkpoint fix: Align contract doc with actual skill ability path
  docs/actor-data-contract-v1.md
Due: prettier --write

Phase 5: Default Initialization Cleanup — Skills Domain Schema
  docs/phase-5-default-initialization-cleanup.md
  template.json
Due: prettier --write

Phase 6: Derived Ownership Alignment — Computed Truth Authority
  docs/phase-6-derived-ownership-alignment.md
  scripts/actors/derived/derived-calculator.js
  scripts/actors/v2/character-actor.js
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix, prettier --write

Phase 7.1: Sheet Consumer Refactor — Skills Focus
  docs/phase-7-sheet-consumer-refactor.md
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/form.js
Due: eslint --fix, prettier --write

Phase 7: Sheet Consumer Refactor — Complete (7.1-7.5)
  docs/phase-7-sheet-consumer-refactor.md
  scripts/actors/v2/character-actor.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/form.js
Due: eslint --fix, prettier --write

Phase 7.5: Unify HP and Defense View-Models
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/context.js
  scripts/sheets/v2/context/PanelContextBuilder.js
Due: eslint --fix

Phase 7.5: Add Identity and Resources Display Unification Documentation
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

Phase 7.5 Documentation: Complete Read-Path Unification Guide
  docs/phase-7-5-read-path-unification.md
Due: prettier --write

Fix Phase 7-7.5 Blockers: Abilities and Identity Unification
  scripts/sheets/v2/character-sheet/context.js
  scripts/sheets/v2/context/PanelContextBuilder.js
Due: eslint --fix

Phase 8: Contract Observability and Runtime Verification
  docs/phase-8-contract-observability.md
  scripts/debug/actor-contract-inspector.js
  scripts/debug/contract-warning-helper.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/context.js
Due: eslint --fix, prettier --write

Class Display Formatting Cleanup
  scripts/actors/v2/character-actor.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/context.js
Due: eslint --fix

Add Class Display Formatting Cleanup documentation
  docs/class-display-formatting-cleanup.md
Due: prettier --write

Phase 10: Remove happy-path fallbacks and dead code exports
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/context.js
Due: eslint --fix

Add Phase 10 Final Cleanup and Deprecation Removal documentation
  docs/phase-10-final-cleanup-and-deprecation-removal.md
Due: prettier --write

Add Phase 9 Runtime Matrix automation script
  PHASE-9-RUNTIME-INSTRUCTIONS.md
  scripts/debug/phase-9-runtime-matrix.js
Due: eslint --fix, prettier --write

Phase 10+: Correct HP and Fortitude mechanics per authoritative SWSE rules
  scripts/actors/derived/defense-calculator.js
  scripts/actors/derived/hp-calculator.js
Due: eslint --fix

Phase 10+: Implement Reflex/Flat-Footed armor handling, talent cadence, BAB comments
  scripts/actors/derived/bab-calculator.js
  scripts/actors/derived/defense-calculator.js
  scripts/engine/suggestion/MilestoneComputer.js
Due: eslint --fix
