Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

refactor: Enforce vehicle-specific drop routing (VehicleDropEngine)
  scripts/engines/interactions/vehicle-drop-engine.js
  scripts/sheets/v2/vehicle-sheet.js
  template.json
Due: eslint --fix, prettier --write

refactor: Add adoption support to ActorEngine and create AdoptionEngine
  scripts/engines/interactions/adoption-engine.js
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix

feat: Complete GM-only actor adoption system (Phases 3-4)
  scripts/apps/adopt-or-add-dialog.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/droid-sheet.js
  scripts/sheets/v2/npc-combat-sheet.js
  scripts/sheets/v2/vehicle-sheet.js
  templates/apps/adopt-or-add-dialog.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

feat: Add uiTargetTab UI feedback to drop engines (Phase 1-2)
  scripts/engines/interactions/drop-resolution-engine.js
  scripts/engines/interactions/vehicle-drop-engine.js
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

feat: Complete tab highlighting UI feedback (Phase 3 - Final)
  scripts/sheets/v2/droid-sheet.js
  scripts/sheets/v2/npc-combat-sheet.js
  scripts/sheets/v2/vehicle-sheet.js
  styles/ui/tab-pulse.css
  system.json
Due: eslint --fix, prettier --write

docs: Add Tab-Partial mapping recommendations for all sheets
  TAB_PARTIAL_MAP.md
  TAB_PARTIAL_QUICK_MAP.txt
  tab-partial-config.json
Due: prettier --write

refactor: Sheet Structural Unification for V2 Compliance
  SHEET_UNIFICATION_SPEC.md
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/droid/v2/droid-sheet.hbs
  templates/actors/npc/v2/npc-sheet.hbs
Due: node scripts/validate/validate-icon-keys.js, prettier --write

feat: ManualStepProcessor — V2-compliant manual progression input adapter
  MANUAL_STEP_PROCESSOR_DESIGN.md
  scripts/engines/progression/engine/manual-step-processor.js
Due: eslint --fix, prettier --write

Unify progression compilation architecture — move intent building into compiler
  scripts/engines/progression/ProgressionCompiler.js
  scripts/engines/progression/engine/manual-step-processor.js
Due: eslint --fix

Document progression compiler unification architecture
  PROGRESSION_COMPILER_UNIFICATION.md
Due: prettier --write

Enforce intent compilation with semantic privacy
  scripts/engines/progression/ProgressionCompiler.js
Due: eslint --fix

Define mutation error hierarchy (A: Error Classes)
  scripts/governance/mutation/mutation-errors.js
Due: eslint --fix

Implement minimal partial-mode Generator (B: Vertical Slice)
  scripts/apps/chargen/CharacterGeneratorApp.js
  templates/apps/chargen/character-generator-app.html
Due: eslint --fix

Implement ActorEngine.applyMutationPlan() for deterministic progression
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix

Implement mutation merge logic for multi-step progression
  scripts/governance/mutation/merge-mutations.js
Due: eslint --fix

Expand CharacterGeneratorApp to support full multi-step mode
  scripts/apps/chargen/CharacterGeneratorApp.js
  templates/apps/chargen/character-generator-app.html
Due: eslint --fix

Add production vehicle compendium audit prompt
  VEHICLE_AUDIT_PROMPT.md
Due: prettier --write

Complete vehicle compendium audit: 357 vehicles categorized
  VEHICLE_AUDIT_MAPPING.json
  VEHICLE_AUDIT_RESULTS.json
  VEHICLE_AUDIT_SUMMARY.csv
Due: prettier --write

Implement vehicle precreate hooks and category registry
  docs/VEHICLE_CATEGORY_IMPLEMENTATION.md
  scripts/actors/vehicle/vehicle-precreate-hooks.js
  scripts/core/init.js
  scripts/data/vehicle-category-registry.js
Due: eslint --fix, prettier --write

Add comprehensive vehicle creator architecture audit
  docs/VEHICLE_CREATOR_ARCHITECTURE_AUDIT.md
Due: prettier --write

Add comprehensive cart & transaction architecture audit
  docs/CART_TRANSACTION_ARCHITECTURE_AUDIT.md
Due: prettier --write

Add 10-phase commerce refactor roadmap and Phase 1 plan
  docs/COMMERCE_REFACTOR_10_PHASE_ROADMAP.md
  docs/PHASE_1_IMPLEMENTATION_PLAN.md
Due: prettier --write

Phase 1: Mutation Boundary Stabilization
  scripts/apps/store/store-checkout.js
  scripts/engines/store/store-engine.js
Due: eslint --fix

Phase 2: ActorEngine CREATE Support
  scripts/governance/actor-engine/actor-engine.js
  scripts/governance/mutation/merge-mutations.js
Due: eslint --fix

Phase 3: LedgerService Extraction
  scripts/engines/store/ledger-service.js
  scripts/engines/store/store-engine.js
Due: eslint --fix

Phase 4: Sovereign TransactionEngine (Core Infrastructure)
  scripts/engines/store/placement-router.js
  scripts/engines/store/store-engine.js
  scripts/engines/store/transaction-engine.js
  scripts/engines/vehicles/vehicle-factory.js
Due: eslint --fix

Add Phases 1-4 implementation summary
  docs/PHASES_1_4_IMPLEMENTATION_COMPLETE.md
Due: prettier --write

Phase 5: VehicleFactory Integration
  scripts/apps/store/store-checkout.js
  scripts/engines/store/transaction-engine.js
  scripts/engines/vehicles/vehicle-factory.js
Due: eslint --fix

Phase 6: PlacementRouter Integration
  scripts/engines/store/transaction-engine.js
Due: eslint --fix

Phase 7: DroidFactory Implementation - Unify Droid Creation
  scripts/apps/store/store-checkout.js
  scripts/engines/droids/droid-factory.js
  scripts/engines/store/transaction-engine.js
Due: eslint --fix

Phase 8 Complete: Legacy Path Removal Verified Phase 9 Started: Integration Testing Framework
  docs/PHASE_8_LEGACY_REMOVAL_COMPLETE.md
  tests/phase-9-commerce-integration.test.js
Due: eslint --fix, prettier --write

Phase 9 Complete: Integration Testing Framework & Manual Testing Guide
  docs/PHASE_9_MANUAL_TESTING_GUIDE.md
Due: prettier --write

Phase 10: UI Hardening & Polish - Detailed Implementation Plan
  docs/PHASE_10_UI_HARDENING_PLAN.md
Due: prettier --write

Complete 10-Phase Commerce System Refactor: Final Summary
  docs/COMPLETE_10_PHASE_REFACTOR_SUMMARY.md
Due: prettier --write

Audit: V2 Sovereignty violations in modification systems
  MODIFICATION-SYSTEMS-V2-AUDIT.md
Due: prettier --write

Audit: Reconcile findings with governance layer analysis
  MODIFICATION-SYSTEMS-V2-AUDIT.md
Due: prettier --write

Audit: Commerce integrity of modification systems
  MODIFICATION-COMMERCE-INTEGRITY-AUDIT.md
Due: prettier --write

PHASE 1: Commerce Security + Atomicity Containment
  scripts/apps/chargen/chargen-droid.js
  scripts/apps/gear-templates-engine.js
  scripts/apps/upgrade-app.js
  templates/apps/upgrade/upgrade-app.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

PHASE 2 STEPS 1-2: Commerce Sovereignty — LedgerService Integration
  scripts/apps/upgrade-app.js
  scripts/apps/upgrade-rules-engine.js
Due: eslint --fix

PHASE 3 STEP 1: Economic Symmetry — Canonical Resale Policy
  scripts/engines/store/ledger-service.js
Due: eslint --fix
