Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

Document Phase 7 active combat states
  scripts/engine/combat/features/README.md
Due: prettier --write

Add triggered feature group contract
  scripts/engine/combat/features/combat-feature-contract.js
Due: eslint --fix

Add combat feature trigger service
  scripts/engine/combat/features/combat-feature-trigger-service.js
Due: eslint --fix

Group triggered combat features
  scripts/sheets/v2/character-sheet/combat-feature-sheet-adapter.js
Due: eslint --fix

Render triggered combat feature groups
  templates/actors/character/v2-concept/partials/panels/combat-features-panel.hbs
Due: node scripts/validate/validate-icon-keys.js

Document Phase 8 triggered feature pipeline
  scripts/engine/combat/features/README.md
Due: prettier --write

Add passive rider group contract
  scripts/engine/combat/features/combat-feature-contract.js
Due: eslint --fix

Add combat feature passive rider service
  scripts/engine/combat/features/combat-feature-passive-rider-service.js
Due: eslint --fix

Group passive combat riders
  scripts/sheets/v2/character-sheet/combat-feature-sheet-adapter.js
Due: eslint --fix

Render passive rider groups with automation status
  templates/actors/character/v2-concept/partials/panels/combat-features-panel.hbs
Due: node scripts/validate/validate-icon-keys.js

Document Phase 9 passive rider audit surface
  scripts/engine/combat/features/README.md
Due: prettier --write

Add combat feature UX actions and favorite counts
  scripts/engine/combat/features/combat-feature-contract.js
Due: eslint --fix

Add combat feature preferences service
  scripts/engine/combat/features/combat-feature-preferences-service.js
Due: eslint --fix

Apply combat feature preferences in adapter
  scripts/sheets/v2/character-sheet/combat-feature-sheet-adapter.js
Due: eslint --fix

Add combat feature UX handlers
  scripts/engine/combat/features/combat-feature-ux-handlers.js
Due: eslint --fix

Route combat feature UX actions
  scripts/engine/combat/features/combat-feature-action-router.js
Due: eslint --fix

Style combat feature favorites and compact mode
  scripts/engine/combat/features/combat-feature-panel-renderer.js
Due: eslint --fix

Add combat feature favorites and compact UI
  templates/actors/character/v2-concept/partials/panels/combat-features-panel.hbs
Due: node scripts/validate/validate-icon-keys.js

Document Phase 10 combat feature UX
  scripts/engine/combat/features/README.md
Due: prettier --write

Redesign Force tradition picker
  scripts/apps/force-tradition/force-tradition-picker.js
Due: eslint --fix

Add Force tradition picker styling
  styles/apps/force-tradition-picker.css
Due: none

Register Force tradition picker stylesheet
  system.json
Due: prettier --write

Support adopted Force traditions
  scripts/apps/force-tradition/force-tradition-picker.js
Due: eslint --fix

Style adopted Force traditions
  styles/apps/force-tradition-picker.css
Due: none

Add custom Force tradition wizard
  scripts/apps/force-tradition/custom-force-tradition-wizard.js
Due: eslint --fix

Add custom tradition wizard entry point to picker
  scripts/apps/force-tradition/force-tradition-picker.js
Due: eslint --fix

Grant talent tree access from custom Force traditions
  scripts/engine/progression/talents/tree-authority.js
Due: eslint --fix

Style custom Force tradition wizard
  scripts/apps/force-tradition/custom-force-tradition-wizard.js
Due: eslint --fix

Add Force tradition house rule settings
  scripts/settings/force-tradition-house-rules.js
Due: eslint --fix

Register Force tradition access setting
  index.js
Due: eslint --fix

Support RAW and membership-only Force tradition tree access
  scripts/engine/progression/talents/tree-authority.js
Due: eslint --fix

Exclude custom traditions from RAW prestige tradition sweep
  scripts/engine/progression/talents/tree-authority.js
Due: eslint --fix

Add custom talent tree workbench phase 0 audit
  docs/custom-talent-tree-workbench-phase-0.md
Due: prettier --write

Add custom talent tree model helpers
  scripts/apps/talent-tree-workbench/custom-talent-tree-model.js
Due: eslint --fix

Add custom talent tree workbench shell
  scripts/apps/talent-tree-workbench/custom-talent-tree-workbench.js
Due: eslint --fix

Launch custom talent tree workbench from tradition wizard
  scripts/apps/force-tradition/custom-force-tradition-wizard.js
Due: eslint --fix

Add custom talent tree entry point to talents tab
  templates/actors/character/v2-concept/partials/tabs/talents-tab.hbs
Due: node scripts/validate/validate-icon-keys.js

Register custom talent tree workbench hooks
  scripts/apps/talent-tree-workbench/custom-talent-tree-workbench-hooks.js
Due: eslint --fix

Register custom talent tree workbench hooks
  index.js
Due: eslint --fix

Add custom content approval settings
  scripts/settings/custom-content-approval.js
Due: eslint --fix
