Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

Change Salty mentor avatar from WebP to PNG
  data/mentor-template-dialogues.json
Due: prettier --write

Fix species detail panel data binding
  scripts/apps/progression-framework/steps/species-step.js
Due: eslint --fix

Add comprehensive logging and fix filter/search issues in species step
  scripts/apps/progression-framework/steps/species-step.js
Due: eslint --fix

Fix critical registry and styling issues
  scripts/apps/progression-framework/hydration-diagnostics.js
  scripts/engine/registries/classes-registry.js
  scripts/engine/registries/species-registry.js
  scripts/mentor/mentor-translation-integration.js
  styles/fonts.css
  styles/progression-framework/foundation/typography.css
Due: eslint --fix

Fix Handlebars template parsing: convert template CRLF to LF line endings
  templates/actors/character/v2/partials/attacks-panel.hbs.pre_phase_b
  templates/actors/character/v2/partials/initiative-control.hbs.pre_phase_b
  templates/actors/character/v2/partials/resources-panel.hbs.pre_phase_b
  templates/actors/character/v2/partials/skills-panel.hbs.pre_phase_b
  templates/actors/character/v2/partials/skills-panel.hbs.pre_phase_h2
  templates/actors/vehicle/vehicle-sheet.css
  templates/apps/chargen.hbs.pre_holo_backup
  templates/apps/chargen/character-generator-app.html
  templates/apps/class-tree-access-form.html
  templates/apps/follower-creator-dialog.html
  templates/apps/store/gm-settings.html
  templates/apps/store/store.html
  templates/chat/holo-roll.hbs.phase11bak
  templates/chat/holo-roll.hbs.phase1bak
  templates/chat/holo-roll.hbs.phase2bak
  templates/chat/holo-roll.hbs.phase2v2bak
  templates/chat/holo-roll.hbs.phase3bak
  templates/chat/holo-roll.hbs.phase4bak
  templates/chat/holo-roll.hbs.phase5bak
  templates/chat/holo-roll.hbs.phase8bak
  templates/prerequisite-builder.html
Due: none

Fix TemplateSelectionDialog buttons config inheritance
  scripts/apps/progression-framework/dialogs/template-selection-dialog.js
Due: eslint --fix

refactor: implement segmented resource bars in character sheet header
  scripts/sheets/v2/character-sheet.js
  templates/actors/character/v2/character-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Stabilize character sheet: flat-mode pass + tab sync + roll attributes button
  patch_stabilization.py
  scripts/sheets/v2/character-sheet.js
  styles/sheets/v2-sheet.css
  templates/actors/character/v2/partials/abilities-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

docs: Phase 1 character sheet audit and contract map
  PHASE_1_AUDIT.md
Due: prettier --write

PHASE 2: Tab State and Body Hydration Stabilization
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/shared/UIStateManager.js
Due: eslint --fix

PHASE 3: Form Field / Persistence Contract Cleanup
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

Phase 4: Remove template-local style block and add flat-mode CSS overrides
  styles/sheets/v2-sheet.css
  templates/actors/character/v2/character-sheet.hbs
Due: node scripts/validate/validate-icon-keys.js

Phase 5: Compact header by removing non-play-critical meta fields
  styles/sheets/v2-sheet.css
  templates/actors/character/v2/character-sheet.hbs
Due: node scripts/validate/validate-icon-keys.js

Phase 6: Panel Contract Normalization - Establish Canonical Display Models
  scripts/sheets/v2/PanelVisibilityManager.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/character/v2/partials/resources-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 7: Isolate Roll for Attributes to character sheet only
  templates/actors/character/v2/partials/abilities-panel.hbs
Due: node scripts/validate/validate-icon-keys.js

Phase 8: Decompose character-sheet.js into focused modules
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/context.js
  scripts/sheets/v2/character-sheet/form.js
  scripts/sheets/v2/character-sheet/listeners.js
  scripts/sheets/v2/character-sheet/utils.js
Due: eslint --fix

Fix P0: Character sheet resizing now functional
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

Phase 1: Character Sheet CSS Governance Map
  docs/character-sheet-css-governance-phase-1.md
  reports/character-sheet-css-governance-phase-1.json
Due: prettier --write

Phase 2: Consolidate Root-Chain Authority into v2-sheet.css
  docs/character-sheet-css-governance-phase-2.md
  styles/layout/sheet-layout.css
  styles/sheets/character-sheet.css
  styles/sheets/v2-sheet.css
  styles/swse-core.css
Due: prettier --write

Phase 3: Runtime Validation and Governance Enforcement
  docs/character-sheet-css-governance-phase-3.md
  scripts/audit/character-sheet-css-governance.allowlist.json
  scripts/audit/character-sheet-css-governance.js
  scripts/sheets/v2/contract-enforcer.js
Due: eslint --fix, prettier --write

Phase 4: Minimal Runtime Repair for P0 Sheet Functionality
  docs/character-sheet-css-governance-phase-4.md
  scripts/sheets/v2/contract-enforcer.js
  styles/sheets/v2-sheet.css
Due: eslint --fix, prettier --write

Phase 5: Post-Repair Runtime Verification — Testing Infrastructure
  docs/character-sheet-css-governance-phase-5-runtime-report-template.md
  docs/character-sheet-css-governance-phase-5-test-procedures.md
  scripts/sheets/v2/runtime-verifier.js
Due: eslint --fix, prettier --write

Phase 5: Add comprehensive overview and execution guide
  docs/character-sheet-css-governance-phase-5-overview.md
Due: prettier --write

Fix drag/drop event binding on all V2 sheets
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/droid-sheet.js
  scripts/sheets/v2/npc-combat-sheet.js
  scripts/sheets/v2/vehicle-sheet.js
Due: eslint --fix

.
  docs/character-sheet-css-zero-effect-audit.md
  docs/phase-5a-EXACT-NEXT-STEPS.txt
  docs/phase-5a-devtools-commands.md
  docs/phase-5a-diagnosis-summary.md
  docs/phase-5a-probe-rules.txt
  repo_skeleton.txt
  scripts/actors/v2/character-actor.js.pre_phase_g
  scripts/actors/v2/character-actor.js.pre_phase_g2
  scripts/sheets/v2/character-sheet-diagnostics.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet.js.pre_phase_b
  scripts/sheets/v2/character-sheet.js.pre_phase_c
  scripts/sheets/v2/character-sheet.js.pre_phase_e
  scripts/sheets/v2/character-sheet.js.pre_phase_f
  scripts/sheets/v2/character-sheet.js.pre_phase_h
  scripts/sheets/v2/character-sheet.js.pre_phase_h4
  scripts/sheets/v2/contract-enforcer.js
  scripts/sheets/v2/droid-sheet.js
  scripts/sheets/v2/droid/DroidSheet.js
  scripts/sheets/v2/npc-combat-sheet.js
  scripts/sheets/v2/npc-full-sheet.js
  scripts/sheets/v2/npc-sheet.js
  scripts/sheets/v2/npc/NPCSheet.js
  scripts/sheets/v2/vehicle-sheet.js
  scripts/utils/sheet-position.js
  styles/sheets/v2-sheet.css
  templates/actors/character/v2/character-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Fix v2 character sheet header compression and add semantic coloring
  styles/sheets/v2-sheet.css
  templates/actors/character/v2/character-sheet.hbs
Due: node scripts/validate/validate-icon-keys.js

Move defenses and combat metrics panels from Overview to Combat tab
  styles/sheets/v2-sheet.css
  templates/actors/character/v2/character-sheet.hbs
Due: node scripts/validate/validate-icon-keys.js

Enhance combat readout area layout for side-by-side panel display
  styles/sheets/v2-sheet.css
Due: none

Complete level-up readiness flourish animation
  styles/sheets/v2-sheet.css
Due: none

Implement surgical Force tab reveal fix using feat-based check
  scripts/sheets/v2/PanelVisibilityManager.js
  scripts/sheets/v2/character-sheet.js
  templates/actors/character/v2/character-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Revert Force tab visibility to repo-aligned system.forceSensitive check
  scripts/sheets/v2/PanelVisibilityManager.js
  scripts/sheets/v2/character-sheet.js
  templates/actors/character/v2/character-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Fix chargen/level-up Force unlock to use feat-based capability checks
  scripts/apps/chargen/chargen-force-powers.js
  scripts/apps/chargen/chargen-main.js
  scripts/apps/levelup/levelup-force-powers.js
Due: eslint --fix

Add detailed implementation report for feat-based Force unlock correction
  IMPLEMENTATION_REPORT_FORCE_UNLOCK_CORRECTION.md
Due: prettier --write

Audit: Force power counting and reconciliation logic
  AUDIT_FORCE_POWER_COUNTING.md
Due: prettier --write

Fix Force power counting and reconciliation bugs
  scripts/apps/progression-framework/shell/conditional-step-resolver.js
  scripts/engine/progression/engine/force-authority-engine.js
  scripts/engine/progression/engine/force-power-engine.js
Due: eslint --fix

Add implementation report for Force power counting fix
  IMPLEMENTATION_REPORT_FORCE_COUNTING_FIX.md
Due: prettier --write
