Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Phase 10F+10G: Wire structured movement and materialize immunity/resistance flags
  scripts/engine/progression/helpers/apply-canonical-species-to-actor.js
  scripts/species/species-grant-ledger-builder.js
Due: eslint --fix

Phase 10E-10G: Activated ability routing fixes, structured movement wiring, immunity materialization
  scripts/engine/progression/helpers/apply-canonical-species-to-actor.js
  scripts/species/species-grant-ledger-builder.js
Due: eslint --fix

.
  scripts/actors/v2/character-actor.js
  scripts/sheets/v2/HelpModeManager.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/concept-context.js
  scripts/sheets/v2/character-sheet/context.js
  scripts/sheets/v2/character-sheet/form.js
  scripts/sheets/v2/character-sheet/misc-ui.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  styles/sheets/v2-concept-sheet.css
  templates/actors/character/v2-concept/partials/frame/header-block.hbs
  templates/actors/character/v2-concept/partials/panels/xp-panel.hbs
  templates/actors/character/v2-concept/partials/tabs/biography-tab.hbs
  templates/actors/character/v2-concept/partials/tabs/summary-tab.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

.
  helpers/handlebars/array-helpers.js
  index.js
  scripts/apps/base/swse-application-v2.js
  scripts/apps/choices/feat-choice-dialog.js
  scripts/apps/customization/item-customization-workbench.js
  scripts/apps/progression-framework/dialogs/background-choice-dialog.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/shell/selected-rail-context.js
  scripts/apps/progression-framework/steps/background-step.js
  scripts/apps/progression-framework/steps/class-step.js
  scripts/apps/progression-framework/steps/droid-degree-step.js
  scripts/apps/progression-framework/steps/droid-model-step.js
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/apps/progression-framework/steps/force-power-step.js
  scripts/apps/progression-framework/steps/force-secret-step.js
  scripts/apps/progression-framework/steps/force-technique-step.js
  scripts/apps/progression-framework/steps/language-step.js
  scripts/apps/progression-framework/steps/medical-secret-step.js
  scripts/apps/progression-framework/steps/nonheroic-starting-feats-step.js
  scripts/apps/progression-framework/steps/skills-step.js
  scripts/apps/progression-framework/steps/species-step.js
  scripts/apps/progression-framework/steps/starship-maneuver-step.js
  scripts/apps/progression-framework/steps/step-plugin-base.js
  scripts/apps/progression-framework/steps/talent-step.js
  scripts/apps/progression-framework/utils/skill-display.js
  scripts/data/prerequisite-checker.js
  scripts/engine/abilities/ability-execution-coordinator.js
  scripts/engine/abilities/passive/passive-adapter.js
  scripts/engine/abilities/passive/passive-contract.js
  scripts/engine/progression/feats/feat-choice-resolver.js
  scripts/load-templates.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  styles/progression-framework/progression-shell.css
  templates/actors/character/v2-concept/partials/panels/second-wind-panel.hbs
  templates/actors/character/v2/partials/second-wind-panel.hbs
  templates/apps/choices/feat-choice-dialog.hbs
  templates/apps/progression-framework/dialogs/background-choice-dialog.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

.
  data/character-templates.json
  data/nonheroic-templates.json
  scripts/apps/progression-framework/dialogs/background-choice-dialog.js
  scripts/apps/progression-framework/dialogs/template-selection-dialog.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/shell/selected-rail-context.js
  scripts/apps/progression-framework/steps/actor-splash-v2-controller.js
  scripts/apps/progression-framework/steps/class-step.js
  scripts/apps/progression-framework/steps/droid-builder-step.js
  scripts/apps/progression-framework/steps/final-droid-configuration-step.js
  scripts/apps/progression-framework/steps/force-power-step.js
  scripts/apps/progression-framework/steps/force-secret-step.js
  scripts/apps/progression-framework/steps/force-technique-step.js
  scripts/apps/progression-framework/steps/intro-step.js
  scripts/apps/progression-framework/steps/language-step.js
  scripts/apps/progression-framework/steps/medical-secret-step.js
  scripts/apps/progression-framework/steps/skills-step.js
  scripts/apps/progression-framework/steps/species-step.js
  scripts/apps/progression-framework/steps/starship-maneuver-step.js
  scripts/apps/progression-framework/steps/step-plugin-base.js
  scripts/core/load-templates.js
  scripts/data/prerequisite-checker.js
  scripts/engine/mentor/mentor-advisory-coordinator.js
  scripts/engine/progression/engine/language-suggestion-engine.js
  scripts/engine/suggestion/ForceOptionSuggestionEngine.js
  scripts/engine/suggestion/suggestion-advisory-formatter.js
  scripts/mentor/mentor-chat-dialog.js
  scripts/scripts/mentor/mentor-chat-dialog.js
  scripts/sheets/v2/character-sheet.js
  scripts/ui/shell/ProgressionSurfaceAdapter.js
  styles/progression-framework/components/panels.css
  styles/progression-framework/steps/intro.css
  templates/apps/prestige-roadmap.hbs
  templates/apps/progression-framework/dialogs/template-selection.hbs
  templates/apps/progression-framework/steps/intro-work-surface.hbs
  templates/apps/progression-framework/summary-panel/selected-rail.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.
  assets/Concept/Galactic Profile Picker.html
  assets/Concept/galactic-profile-app.js
  assets/Concept/galactic-profile-data.js
  assets/mentors/Axiom.png
  assets/mentors/Jack.png
  assets/mentors/Sela.png
  assets/mentors/Spark.png
  assets/mentors/Tio_the_hutt.png
  assets/mentors/breach.png
  assets/mentors/darth_malbada.png
  assets/mentors/delta.png
  assets/mentors/dezmin.png
  assets/mentors/j0n1.webp
  assets/mentors/kael.webp
  assets/mentors/kex.webp
  assets/mentors/kharjo.png
  assets/mentors/lead.png
  assets/mentors/mayu.png
  assets/mentors/miedo.png
  assets/mentors/miraj.png
  assets/mentors/pegar.png
  assets/mentors/rajma.png
  assets/mentors/riquis.png
  assets/mentors/salty.png
  assets/mentors/theron.png
  assets/mentors/theron.webp
  assets/mentors/urza.png
  assets/mentors/vera.png
Due: eslint --fix

.
  assets/mentors/Kex.png
  assets/mentors/Korr.png
  assets/mentors/Rax.png
  assets/mentors/kex_varon.webp
  assets/mentors/korr.webp
  assets/mentors/krag.png
  assets/mentors/krag.webp
  assets/mentors/rax.webp
Due: none

.
  scripts/apps/progression-framework/shell/mentor-rail.js
  scripts/apps/progression-framework/steps/galactic-profile-step.js
  scripts/apps/progression-framework/steps/mentor-step-integration.js
  styles/progression-framework/steps/intro.css
  templates/apps/progression-framework/details-panel/galactic-profile-details.hbs
  templates/apps/progression-framework/steps/galactic-profile-archetype-work-surface.hbs
  templates/apps/progression-framework/steps/galactic-profile-class-work-surface.hbs
  templates/apps/progression-framework/steps/galactic-profile-review-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

.
  data/dialogue/mentors/axiom/axiom_dialogue.json
  data/dialogue/mentors/breach/breach_dialogues.json
  data/dialogue/mentors/darth_malbada/darth_malbada_dialogue.json
  data/dialogue/mentors/darth_miedo/darth_miedo_dialogue.json
  data/dialogue/mentors/delta/delta_dialogue.json
  data/dialogue/mentors/dezmin/dezmin_dialogue.json
  data/dialogue/mentors/j0_n1/j0_n1_dialogues.json
  data/dialogue/mentors/jack/jack_dialogue.json
  data/dialogue/mentors/kex_varon/kex_varon_dialogue.json
  data/dialogue/mentors/kharjo/kharjo_dialogue.json
  data/dialogue/mentors/korr/korr_dialogue.json
  data/dialogue/mentors/krag/krag_dialogue.json
  data/dialogue/mentors/kyber/kyber_dialogue.json
  data/dialogue/mentors/lead/Lead_dialogues.json
  data/dialogue/mentors/marl_skindar/skindar_dialogue.json
  data/dialogue/mentors/mayu/mayu_dialogue.json
  data/dialogue/mentors/miraj/Miraj_dialogues.json
  data/dialogue/mentors/pegar/pegar_dialogues.json
  data/dialogue/mentors/rajma/rajma_dialogue.json
  data/dialogue/mentors/rax/rax_dialogue.json
  data/dialogue/mentors/riquis/riquis_dialogue.json
  data/dialogue/mentors/rogue/rogue_dialogue.json
  data/dialogue/mentors/sela/sela_dialogue.json
  data/dialogue/mentors/seraphim/seraphim_dialogue.json
  data/dialogue/mentors/spark/spark_dialogue.json
  data/dialogue/mentors/theron/theron_dialogue.json
  data/dialogue/mentors/tio_the_hutt/tio_the_hutt_dialogue.json
  data/dialogue/mentors/urza/urza_dialogue.json
  data/dialogue/mentors/vera/vera_dialogue.json
  data/dialogue/mentors/whisper/whisper_dialogue.json
  data/dialogue/mentors/zhen/zhen_dialogue.json
  data/mentor-dialogues.json
  data/mentor-template-dialogues.json
  scripts/engine/mentor/mentor-dialogues.data.js
  scripts/engine/mentor/mentor-dialogues.js
  scripts/mentor/mentor-portrait-registry.js
  styles/progression-framework/holo-theme.css
  styles/progression-framework/mentor-rail.css
  styles/progression-framework/progression-shell.css
  templates/apps/vehicle-modification.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Create captain.png
  assets/mentors/captain.png
Due: none

.
  data/mentor-dialogues.json
  data/mentor-template-dialogues.json
  scripts/apps/levelup/levelup-shared.js
  scripts/apps/progression-framework/levelup-shell.js
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/apps/progression-framework/steps/galactic-profile-step.js
  scripts/apps/progression-framework/steps/intro-step.js
  scripts/apps/progression-framework/steps/talent-step.js
  scripts/engine/mentor/mentor-dialogues.data.js
  scripts/engine/mentor/mentor-dialogues.js
  scripts/engine/suggestion/BuildThemeProjection.js
  scripts/items/swse-item-sheet.js
  scripts/mentor/mentor-portrait-registry.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/combat-ui.js
  scripts/sheets/v2/character-sheet/concept-context.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  scripts/sheets/v2/context/PostRenderAssertions.js
  scripts/ui/shell/StoreSurfaceController.js
  scripts/ui/shell/StoreSurfaceService.js
  styles/sheets/v2-concept-sheet.css
  templates/actors/character/v2-concept/partials/panels/abilities-panel.hbs
  templates/actors/character/v2-concept/partials/panels/action-economy-indicator.hbs
  templates/actors/character/v2-concept/partials/panels/combat-actions-panel.hbs
  templates/actors/character/v2-concept/partials/panels/xp-panel.hbs
  templates/actors/character/v2-concept/partials/tabs/abilities-tab.hbs
  templates/actors/character/v2-concept/partials/tabs/combat-tab.hbs
  templates/apps/progression-framework/details-panel/talent-details.hbs
  templates/apps/progression-framework/details-panel/talent-tree-details.hbs
  templates/apps/progression-framework/steps/feat-work-surface.hbs
  templates/apps/progression-framework/steps/summary-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

chat-v2 patch a: base chat v2 foundation
  scripts/combat/rolls/attacks.js
  scripts/combat/rolls/damage.js
  scripts/engine/rolls/swse-roll-engine.js
  scripts/rolls/defenses.js
  scripts/rolls/force-powers.js
  scripts/rolls/saves.js
  scripts/ui/chat/chat-surface-enhancer.js
  styles/system/chat-card-v2.css
  system.json
  templates/chat/holo-roll.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

chat-v2 patch b: force/combat additions
  scripts/chat/swse-chat.js
  scripts/combat/rolls/attacks.js
  scripts/combat/rolls/enhanced-rolls.js
  scripts/core/load-templates.js
  scripts/engine/rolls/swse-roll-engine.js
  scripts/infrastructure/hooks/combat-hooks.js
  scripts/load-templates.js
  scripts/rolls/force-powers.js
  scripts/ui/chat/chat-surface-enhancer.js
  styles/system/chat-card-v2.css
  templates/chat/combat-banner.hbs
  templates/chat/holo-roll.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

chat-v2 patch c: dialogue/holonet additions
  scripts/chat/holonet-chat-card.js
  scripts/chat/swse-chat.js
  scripts/core/load-templates.js
  scripts/infrastructure/hooks/ui-hooks.js
  scripts/load-templates.js
  scripts/ui/chat/chat-interaction-bridge.js
  scripts/ui/chat/chat-surface-enhancer.js
  styles/system/chat-card-v2.css
  templates/chat/dialogue-card.hbs
  templates/chat/holonet-card.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

chat-v2 patch d: store receipts
  scripts/chat/store-receipt-chat.js
  scripts/chat/swse-chat.js
  scripts/core/load-templates.js
  scripts/infrastructure/hooks/ui-hooks.js
  scripts/load-templates.js
  scripts/ui/chat/chat-interaction-bridge.js
  scripts/ui/chat/chat-surface-enhancer.js
  styles/system/chat-card-v2.css
  templates/chat/store-receipt.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

chat-v2 patch e: legacy polish
  scripts/chat/action-chat-engine.js
  scripts/chat/swse-chat.js
  scripts/core/load-templates.js
  scripts/load-templates.js
  scripts/ui/chat/chat-surface-enhancer.js
  styles/system/chat-card-v2.css
  styles/system/chat-surfaces.css
  templates/chat/narration-card.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

chat-v2 patch f: datapad roll companion bridge
  scripts/chat/swse-chat.js
  scripts/rolls/skills.js
  scripts/ui/shell/roll-companion.js
Due: eslint --fix

chat-v2 patch g: roll popup chat v2 bridge
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/force-ui.js
  scripts/sheets/v2/npc-combat-sheet.js
  scripts/ui/shell/roll-companion.js
  styles/system/chat-card-v2.css
Due: eslint --fix

chat-v2 patch h: roll config, targetless defense ranges
  scripts/combat/active-effects-manager.js
  scripts/combat/rolls/attacks.js
  scripts/combat/rolls/enhanced-rolls.js
  scripts/components/combat-action-bar.js
  scripts/houserules/houserule-settings.js
  scripts/items/swse-item-sheet.js
  scripts/items/weapon-range-profile-resolver.js
  scripts/rolls/roll-config.js
  scripts/rolls/skills.js
  scripts/sheets/v2/character-sheet.js
  styles/system/roll-configurator-v2.css
  system.json
  templates/items/base/item-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Houserule system: manifest, bug fixes, new presets, UI wiring
  scripts/core/settings.js
  scripts/engine/combat/CombatRules.js
  scripts/houserules/houserule-menus.js
  scripts/houserules/houserule-presets.js
  scripts/houserules/houserule-settings.js
  scripts/houserules/houserules-config.js
  scripts/houserules/houserules-manifest.js
  scripts/utils/settings-defaults.js
  templates/apps/houserules/combat.hbs
  templates/apps/houserules/presets.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

feat: GM Holopad Phase 1 - enhanced datapad UI and styles
  scripts/apps/gm-datapad.js
  styles/apps/gm-datapad.css
  templates/apps/gm-datapad.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

feat: GM Holopad Phase 2 - settings surface and datapad enhancements
  scripts/apps/gm-datapad.js
  scripts/sheets/v2/character-sheet.js
  scripts/ui/shell/SettingsSurfaceController.js
  scripts/ui/shell/SettingsSurfaceService.js
  styles/apps/gm-datapad.css
  styles/system/settings-surface.css
  templates/apps/gm-datapad.hbs
  templates/shell/partials/surface-settings.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

feat: GM Holopad Phase 3 - modular GM surface services
  scripts/apps/gm-datapad.js
  scripts/ui/shell/gm/GMApprovalsSurfaceService.js
  scripts/ui/shell/gm/GMBulletinSurfaceService.js
  scripts/ui/shell/gm/GMDashboardSurfaceService.js
  scripts/ui/shell/gm/GMHealingSurfaceService.js
  scripts/ui/shell/gm/GMHouseRulesSurfaceService.js
  scripts/ui/shell/gm/GMSettingsSurfaceService.js
  scripts/ui/shell/gm/GMStoreControlSurfaceService.js
  scripts/ui/shell/gm/GMSurfaceRegistry.js
  scripts/ui/shell/gm/GMWorkspaceSurfaceService.js
Due: eslint --fix

feat: GM Holopad Phase 4 - dashboard surface and UI polish
  scripts/apps/gm-datapad.js
  scripts/ui/shell/gm/GMDashboardSurfaceService.js
  styles/apps/gm-datapad.css
  templates/apps/gm-datapad.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

feat: GM approvals inline edit UI
  scripts/apps/gm-datapad.js
  scripts/ui/shell/gm/GMApprovalsSurfaceService.js
  styles/apps/gm-datapad.css
  templates/apps/gm-datapad.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

feat: GM store control Phase A
  scripts/apps/gm-datapad.js
  scripts/ui/shell/gm/GMStoreControlSurfaceService.js
  scripts/utils/settings-defaults.js
  styles/apps/gm-datapad.css
  system.json
  templates/apps/gm-datapad.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

feat: GM store control Phase B - policy service and store engine updates
  scripts/apps/store/store-checkout.js
  scripts/apps/store/store-main.js
  scripts/engine/store/policy-service.js
  scripts/engine/store/store-engine.js
  scripts/ui/shell/gm/GMStoreControlSurfaceService.js
  styles/apps/store-card-grid.css
  templates/apps/store/store-card-grid.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

feat: GM store control Phase C - transaction engine and receipt chat
  scripts/apps/gm-datapad.js
  scripts/apps/gm-store-dashboard.js
  scripts/apps/store/store-checkout.js
  scripts/chat/store-receipt-chat.js
  scripts/engine/store/transaction-engine.js
  styles/apps/gm-datapad.css
  templates/apps/gm-datapad.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

feat: GM store control Phase D - policy and transaction engine hardening
  scripts/apps/gm-datapad.js
  scripts/engine/store/policy-service.js
  scripts/engine/store/store-engine.js
  scripts/engine/store/transaction-engine.js
  templates/apps/gm-datapad.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

feat: GM store control Phase E - item selling and receipt enhancements
  scripts/apps/gm-datapad.js
  scripts/apps/gm-store-dashboard.js
  scripts/apps/item-selling-system.js
  scripts/chat/store-receipt-chat.js
  scripts/engine/store/transaction-engine.js
  styles/apps/gm-datapad.css
  templates/apps/gm-datapad.hbs
  templates/apps/gm-store-dashboard.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Apply commerce backend unification patch
  scripts/apps/gm-datapad.js
  scripts/apps/gm-droid-approval-dashboard.js
  scripts/apps/gm-store-dashboard.js
  scripts/apps/store/store-checkout.js
  scripts/engine/droids/droid-factory.js
  scripts/engine/store/acquisition-service.js
  scripts/engine/store/placement-router.js
  scripts/engine/store/store-engine.js
  scripts/engine/store/store-transaction-engine.js
  scripts/engine/store/transaction-engine.js
  scripts/engine/vehicles/vehicle-factory.js
  scripts/governance/actor-engine/actor-engine.js
Due: eslint --fix

Apply holonet spine hardening patch
  index.js
  scripts/apps/gm-datapad.js
  scripts/chat/swse-chat.js
  scripts/engine/store/transaction-engine.js
  scripts/holonet/contracts/holonet-boundaries.js
  scripts/holonet/holonet-engine.js
  scripts/holonet/integration/holonet-init.js
  scripts/holonet/sources/bulletin-source.js
  scripts/holonet/sources/messenger-source.js
  scripts/holonet/subsystems/holonet-delivery-router.js
  scripts/holonet/subsystems/holonet-messenger-service.js
  scripts/holonet/subsystems/holonet-state-service.js
  scripts/holonet/subsystems/holonet-storage.js
  scripts/holonet/subsystems/holonet-thread-service.js
  scripts/ui/chat/chat-interaction-bridge.js
  scripts/ui/shell/gm/GMBulletinSurfaceService.js
  templates/apps/gm-datapad.hbs
  templates/chat/holonet-card.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Apply messenger stability hardening patch
  scripts/holonet/subsystems/holonet-messenger-service.js
  scripts/holonet/subsystems/holonet-socket-service.js
  scripts/ui/shell/ShellHost.js
  styles/system/messenger-surface.css
Due: eslint --fix

Apply messenger stabilization phase 2 patch
  scripts/holonet/subsystems/holonet-messenger-service.js
  scripts/holonet/subsystems/holonet-socket-service.js
  scripts/holonet/subsystems/holonet-storage.js
  scripts/ui/shell/ShellHost.js
  styles/system/messenger-surface.css
  templates/shell/partials/surface-messenger.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Apply messenger composition foundation patch
  scripts/apps/gm-datapad.js
  scripts/chat/swse-chat.js
  scripts/holonet/integration/holonet-init.js
  scripts/holonet/subsystems/holonet-messenger-service.js
  scripts/holonet/subsystems/holonet-socket-service.js
  scripts/ui/chat/chat-interaction-bridge.js
  scripts/ui/shell/ShellHost.js
  styles/system/chat-card-v2.css
  styles/system/messenger-surface.css
  templates/chat/holonet-card.hbs
  templates/shell/partials/surface-messenger.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Apply messenger trade lifecycle patch
  scripts/chat/swse-chat.js
  scripts/engine/store/transaction-engine.js
  scripts/holonet/subsystems/holonet-messenger-service.js
  scripts/holonet/subsystems/holonet-socket-service.js
  scripts/ui/chat/chat-interaction-bridge.js
  scripts/ui/shell/ShellHost.js
  styles/system/messenger-surface.css
  templates/chat/holonet-card.hbs
  templates/shell/partials/surface-messenger.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

feat: Add Holopad Games surface with Messenger-backed game invitations
  index.js
  scripts/core/settings.js
  scripts/engine/store/transaction-engine.js
  scripts/games/game-center-registry.js
  scripts/games/game-holonet-bridge.js
  scripts/games/game-init.js
  scripts/games/game-notification-service.js
  scripts/games/game-session-store.js
  scripts/games/game-settings.js
  scripts/holonet/contracts/enums.js
  scripts/holonet/subsystems/holonet-messenger-service.js
  scripts/holonet/subsystems/holonet-socket-service.js
  scripts/load-templates.js
  scripts/sheets/v2/character-sheet.js
  scripts/ui/shell/GamesSurfaceController.js
  scripts/ui/shell/GamesSurfaceService.js
  scripts/ui/shell/HomeSurfaceService.js
  scripts/ui/shell/ShellHost.js
  scripts/ui/shell/ShellSurfaceRegistry.js
  styles/system/games-surface.css
  styles/system/messenger-surface.css
  system.json
  templates/shell/partials/surface-games.hbs
  templates/shell/partials/surface-messenger.hbs
  templates/shell/shell-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

feat: Pazaak MVP — playable Republic Senate Rules with side-deck builder
  scripts/games/game-center-registry.js
  scripts/games/game-init.js
  scripts/games/game-notification-service.js
  scripts/games/games/pazaak/pazaak-ai.js
  scripts/games/games/pazaak/pazaak-deck.js
  scripts/games/games/pazaak/pazaak-engine.js
  scripts/games/games/pazaak/pazaak-rules.js
  scripts/games/games/pazaak/pazaak-view-model.js
  scripts/holonet/subsystems/holonet-socket-service.js
  scripts/ui/shell/GamesSurfaceController.js
  scripts/ui/shell/GamesSurfaceService.js
  styles/system/games-surface.css
  templates/shell/partials/surface-games.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
