Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Phase 5: Operational Excellence - Observability, Testing, and Forward Compatibility
  docs/ESLINT-BYPASSES.md
  index.js
  scripts/apps/chargen/chargen-finalizer.js
  scripts/core/correlation-id.js
  scripts/core/hooks-emitter.js
  scripts/core/phase5-init.js
  scripts/core/schema-validator.js
  scripts/core/version-adapter.js
  scripts/tests/critical-flow-tests.js
Due: eslint --fix, prettier --write

Phase 6: Product-Grade Finish - First-Run UX, Feature Labels, Ecosystem Readiness
  docs/HOOK_CONTRACTS.md
  docs/MODDING_GUIDE.md
  scripts/core/feature-flags.js
  scripts/core/first-run-experience.js
  scripts/core/hardening-init.js
Due: eslint --fix, prettier --write

Phase 6 Enhanced: Option B + C - Progressive Tooltips & Discovery
  docs/FIRST_RUN_EXPERIENCE.md
  scripts/core/first-run-experience.js
  scripts/core/hardening-init.js
  scripts/core/tooltip-discovery.js
Due: eslint --fix, prettier --write

Phase 5A: Runtime Integrity - Prerequisite Checker Hardening
  scripts/data/prerequisite-checker.js
Due: eslint --fix

Phase 5B: Compendium V2 Compliance - Migration Script
  scripts/maintenance/migrate-compendium-to-v2-ids.js
Due: eslint --fix

Phase 5B: Add Compendium Compliance Documentation
  PHASE-5B-COMPENDIUM-COMPLIANCE.md
Due: prettier --write

Phase 5B: Execute Compendium V2 ID Migration
  packs/classes.db
  packs/feats.db
  packs/talents.db
  scripts/maintenance/migrate-ndjson-to-v2-ids.js
Due: eslint --fix

Add *.backup to gitignore for migration backups
  .gitignore
Due: none

Phase 5B Complete: All Compendium Blockers Fixed
  packs/feats.db
  packs/forcetechniques.db
  scripts/maintenance/migrate-ndjson-to-v2-ids.js
Due: eslint --fix

Phase 5C+5D: Add Unified Suggestion Tier System
  scripts/engine/suggestion-unified-tiers.js
Due: eslint --fix

Phase 5C+5D: Chargen Cards & Suggestion Engine Plan
  PHASE-5C-5D-CHARGEN-SUGGESTIONS.md
Due: prettier --write

Phase 5C Quick Win: Fix Chargen Hardcoded Item Lookups (4 locations)
  scripts/apps/chargen/chargen-class.js
  scripts/apps/chargen/chargen-feats-talents.js
  scripts/apps/chargen/chargen-force-powers.js
  scripts/apps/chargen/chargen-shared.js
Due: eslint --fix

Phase 5C Step 1: Add Force Power Suggestion Tier Badges
  scripts/apps/chargen/chargen-force-powers.js
  templates/apps/chargen.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 0: File Structure Normalization — Move store engine to architectural boundary
  scripts/engines/store/categorizer.js
  scripts/engines/store/index.js
  scripts/engines/store/loader.js
  scripts/engines/store/normalizer.js
  scripts/engines/store/pricing.js
  scripts/engines/store/store-engine.js
Due: eslint --fix

Phase 1: Store System Audit — Document SSOT → Engine → UI violations
  PHASE-1-AUDIT.md
Due: prettier --write

Phase 2: Store Engine Implementation — Full Contract-Driven API
  scripts/engines/store/loader.js
  scripts/engines/store/store-constants.js
  scripts/engines/store/store-engine.js
Due: eslint --fix

Phase 3: Compendium Normalization & SSOT Hardening — Schema Contract
  PHASE-3-SSOT-SUMMARY.md
  scripts/engines/store/compendium-schema.js
Due: eslint --fix, prettier --write

Phase 4: Store UI Refactor — Delegate business logic to StoreEngine
  scripts/apps/store/store-checkout.js
Due: eslint --fix

Phase 5: Verification, Logging, and Future-Proofing — Guarantee Matrix
  PHASE-5-VERIFICATION.md
Due: prettier --write

Store System Audit Report — V2 Necessity & Consolidation
  STORE-AUDIT-V2-NECESSITY.md
Due: prettier --write

Phase A+B: Close Engine Gaps & Redirect UI Imports to Engine
  scripts/apps/store/store-checkout.js
  scripts/apps/store/store-main.js
  scripts/engines/store/categorizer.js
  scripts/engines/store/normalizer.js
Due: eslint --fix

Phase C: Delete Redundant Files
  scripts/apps/store/store-inventory.js
  scripts/apps/store/store-pricing.js
Due: eslint --fix

Phase D: Reduce Remaining Files
  scripts/apps/store/store-constants.js
  scripts/apps/store/store-id-fixer.js
  scripts/apps/store/weapon-categorization.js
Due: eslint --fix

Phase E: Verification Complete — Consolidation Summary
  CONSOLIDATION-COMPLETE.md
Due: prettier --write

Phase 5C STEP 2 + Phase 5D: Standardize card rendering & refactor ClassSuggestionEngine
  scripts/engine/ClassSuggestionEngine.js
  scripts/engine/unified-card-renderer.js
  styles/components/suggestion-card.css
  templates/partials/suggestion-card.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 5D: Refactor BackgroundSuggestionEngine to use UNIFIED_TIERS
  scripts/engine/BackgroundSuggestionEngine.js
Due: eslint --fix

Phase 5D: Refactor ForceOptionSuggestionEngine to use UNIFIED_TIERS
  scripts/engine/ForceOptionSuggestionEngine.js
Due: eslint --fix

Phase 5D: Refactor ArchetypeEnhancedForceOptionSuggestionEngine to use UNIFIED_TIERS
  scripts/engine/ArchetypeEnhancedForceOptionSuggestionEngine.js
Due: eslint --fix

Phase 5D: Refactor AttributeIncreaseSuggestionEngine to use UNIFIED_TIERS
  scripts/engine/AttributeIncreaseSuggestionEngine.js
Due: eslint --fix

Phase 5D: Refactor Level1SkillSuggestionEngine to use UNIFIED_TIERS
  scripts/engine/Level1SkillSuggestionEngine.js
Due: eslint --fix

Implement SWSE Suggestion Engine Scoring Model v1.0
  docs/SWSE_SUGGESTION_ENGINE_DESIGN.md
  scripts/suggestion-engine/armor-gear-scoring-engine.js
  scripts/suggestion-engine/scoring/axis-a-engine.js
  scripts/suggestion-engine/scoring/axis-b-engine.js
  scripts/suggestion-engine/scoring/explainability-generator.js
  scripts/suggestion-engine/scoring/tradeoff-resolver.js
  scripts/suggestion-engine/weapon-scoring-engine.js
Due: eslint --fix, prettier --write

Add bounded, additive weight configuration and weighted score engine
  scripts/suggestion-engine/scoring/weight-config.js
  scripts/suggestion-engine/scoring/weighted-score-engine.js
Due: eslint --fix

Add category-relative normalization engine for trap item detection
  scripts/suggestion-engine/scoring/category-normalization-engine.js
Due: eslint --fix

Integrate weighted score engine and category normalization into main pipeline
  scripts/suggestion-engine/weapon-scoring-engine.js
Due: eslint --fix

Add production-grade category normalization architecture to design docs
  docs/SWSE_SUGGESTION_ENGINE_DESIGN.md
Due: prettier --write

Implement armor, weapon, and gear suggestion engines with explainability
  scripts/suggestion-engine/armor-scoring-engine.js
  scripts/suggestion-engine/armor-suggestions.js
  scripts/suggestion-engine/gear-suggestions.js
  scripts/suggestion-engine/scoring/armor-axis-a-engine.js
  scripts/suggestion-engine/scoring/armor-axis-b-engine.js
  scripts/suggestion-engine/scoring/armor-explainability-generator.js
  scripts/suggestion-engine/scoring/armor-role-alignment-engine.js
  scripts/suggestion-engine/scoring/explainability-generator.js
  scripts/suggestion-engine/weapon-suggestions.js
Due: eslint --fix

Establish Engine↔Store Integration Contract (architectural boundary)
  docs/SWSE_SUGGESTION_ENGINE_DESIGN.md
  scripts/suggestion-engine/armor-suggestions.js
Due: eslint --fix, prettier --write

Document Store UI UX architecture: Cards + Mentor pattern
  docs/STORE_UI_INTEGRATION_GUIDE.md
Due: prettier --write

Document final Store UX architecture: Fake Amazon pattern with mentor reviews
  docs/PRODUCT_PAGE_EXAMPLE.md
  docs/STORE_UX_FAKE_AMAZON_PATTERN.md
Due: prettier --write

Implement complete SWSE Suggestion Engine: all designs production-ready
  docs/INTEGRATION_TESTS_GUIDE.md
  scripts/suggestion-engine/mentor-prose-generator.js
  scripts/suggestion-engine/tests/integration-tests.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
