Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

Add phase 0l combat audit docs (phase 0 final/wrap-up)
  docs/audits/combat-phase-0l-automation-boundary-report.md
  docs/audits/combat-phase-0l-final-phase-0-index.md
  docs/audits/combat-phase-0l-implementation-readiness-ledger.json
  docs/audits/combat-phase-0l-phase-1-readiness-plan.md
  docs/audits/combat-phase-0l-risk-priority-matrix.md
Due: prettier --write

Add phase 1a combat authority map docs
  docs/audits/combat-phase-1a-aggregator-wiring-plan.md
  docs/audits/combat-phase-1a-authority-ledger.json
  docs/audits/combat-phase-1a-authority-map.md
  docs/audits/combat-phase-1a-direct-call-seam-ledger.json
  docs/audits/combat-phase-1a-final-recommendation.md
  docs/audits/combat-phase-1a-ssot-decision-matrix.md
Due: prettier --write

Phase 1b: combat workflow registry implementation
  docs/audits/combat-phase-1b-workflow-registry-implementation.md
  scripts/combat/utils/combat-actions-mapper.js
  scripts/engine/combat/workflow/combat-action-normalizer.js
  scripts/engine/combat/workflow/combat-context-builder.js
  scripts/engine/combat/workflow/combat-workflow-registry.js
  scripts/engine/combat/workflow/combat-workflow-result.js
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix, prettier --write

Phase 1c: direct workflow handlers
  docs/audits/combat-phase-1c-direct-workflow-handlers.md
  scripts/combat/rolls/attacks.js
  scripts/combat/rolls/enhanced-rolls.js
  scripts/engine/combat/full-attack-executor.js
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix, prettier --write

Phase 1d: action economy hardening
  docs/audits/combat-phase-1d-action-economy-hardening.md
  scripts/engine/combat/action/action-engine-v2.js
  scripts/engine/combat/action/action-engine.js
  scripts/engine/combat/action/action-policy-controller.js
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix, prettier --write

Phase 1e: context preservation
  docs/audits/combat-phase-1e-context-preservation.md
  scripts/combat/rolls/attacks.js
  scripts/combat/rolls/damage.js
  scripts/engine/combat/full-attack-executor.js
  scripts/engine/combat/workflow/combat-context-serializer.js
  scripts/engine/rolls/swse-roll-engine.js
  scripts/ui/chat/chat-interaction-bridge.js
  templates/chat/holo-roll.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Phase 1f: workflow routing and damage handoff
  data/combat-actions.json
  docs/audits/combat-phase-1f-workflow-routing-and-damage-handoff.md
  packs/combat-actions.db
  scripts/combat/rolls/attacks.js
  scripts/combat/rolls/damage.js
  scripts/combat/rolls/enhanced-rolls.js
  scripts/combat/utils/combat-actions-mapper.js
  scripts/engine/combat/full-attack-executor.js
  scripts/engine/combat/workflow/combat-action-normalizer.js
  scripts/engine/combat/workflow/combat-context-builder.js
  scripts/engine/combat/workflow/combat-context-serializer.js
  scripts/engine/combat/workflow/combat-workflow-registry.js
  scripts/engine/combat/workflow/combat-workflow-result.js
  scripts/engine/rolls/swse-roll-engine.js
  scripts/sheets/v2/character-sheet.js
  scripts/ui/chat/chat-interaction-bridge.js
  templates/chat/holo-roll.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Phase 2a: damage packet handoff
  docs/audits/combat-phase-2a-damage-packet-handoff.md
  scripts/combat/damage-system.js
  scripts/combat/rolls/attacks.js
  scripts/combat/rolls/damage.js
  scripts/engine/combat/damage-packet-builder.js
  scripts/engine/rolls/swse-roll-engine.js
  scripts/ui/chat/chat-interaction-bridge.js
  templates/chat/holo-roll.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Phase 2b: targeted damage rules
  docs/audits/combat-phase-2b-targeted-damage-rules.md
  scripts/combat/damage-system.js
  scripts/engine/combat/damage-packet-builder.js
  scripts/engine/combat/damage-packet-rules.js
  scripts/engine/combat/damage-resolution-engine.js
Due: eslint --fix, prettier --write

Phase 2c: ammo resource transactions
  docs/audits/combat-phase-2c-ammo-resource-transactions.md
  scripts/combat/rolls/attacks.js
  scripts/combat/rolls/enhanced-rolls.js
  scripts/engine/combat/combat-option-resolver.js
  scripts/engine/combat/full-attack-executor.js
  scripts/engine/combat/workflow/combat-action-normalizer.js
  scripts/engine/combat/workflow/combat-context-builder.js
  scripts/engine/combat/workflow/combat-workflow-registry.js
  scripts/engine/combat/workflow/combat-workflow-result.js
  scripts/engine/inventory/ammo-system.js
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix, prettier --write

Apply combat tab redesign phases 1-3, NPC skill fixes, and bug fixes
  Untitled-1.py
  git_commit.py
  packs/forceregimens.db
  packs/talents.db
  scripts/actors/derived/defense-calculator.js
  scripts/apps/follower-creator.js
  scripts/combat/multi-attack.js
  scripts/core/load-templates.js
  scripts/engine/combat/reactions/reaction-registry.js
  scripts/engine/effects/adapters/active-effect-adapter.js
  scripts/engine/force/force-executor.js
  scripts/load-templates.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/concept-context.js
  scripts/sheets/v2/character-sheet/custom-skills-ui.js
  scripts/sheets/v2/npc-sheet.js
  styles/sheets/v2-concept-sheet.css
  styles/sheets/v2-npc-specific.css
  templates/actors/character/v2-concept/partials/panels/action-economy-indicator.hbs
  templates/actors/character/v2-concept/partials/panels/combat-actions-panel.hbs
  templates/actors/character/v2-concept/partials/panels/combat-status-panel.hbs
  templates/actors/character/v2-concept/partials/panels/effective-defenses-panel.hbs
  templates/actors/character/v2-concept/partials/tabs/combat-tab.hbs
  templates/actors/character/v2-concept/partials/tabs/summary-tab.hbs
  templates/actors/npc/v2/npc-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Delete Untitled-1.py
  Untitled-1.py
Due: none

Prepare v3.1.0 release manifest
  system.json
Due: prettier --write

.
  data/feat-catalog.json
  docs/audits/feat-pack-sanitization-report.json
  docs/audits/feat-pack-sanitization-report.md
  index.js
  packs/feat-catalog.db
  scripts/actors/derived/derived-calculator.js
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/apps/vehicle-import-wizard.js
  scripts/combat/combat-status.js
  scripts/combat/rolls/attacks.js
  scripts/engine/combat/SWSEInitiative.js
  scripts/engine/combat/combat-executor.js
  scripts/engine/combat/combat-option-resolver.js
  scripts/engine/crafting/lightsaber-construction-engine.js
  scripts/engine/interactions/drop-resolution-engine.js
  scripts/engine/progression/engine/feature-index.js
  scripts/items/swse-item-sheet.js
  scripts/registries/feat-pack-seeder.js
  scripts/registries/feat-registry.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/context/PostRenderAssertions.js
  scripts/sheets/v2/vehicle-sheet.js
  scripts/ui/shell/AssetBaySurfaceService.js
  scripts/ui/shell/SettingsSurfaceService.js
  styles/apps/item-customization-workbench.css
  system.json
  templates/actors/character/v2-concept/partials/panels/combat-status-panel.hbs
  templates/actors/character/v2-concept/partials/panels/effective-defenses-panel.hbs
  templates/actors/character/v2/partials/combat-status-panel.hbs
  templates/apps/customization/item-customization-workbench.hbs
  templates/apps/progression-framework/steps/feat-work-surface.hbs
  templates/dialogs/entity/parts/description.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.
  index.js
  scripts/actors/derived/derived-calculator.js
  scripts/combat/swse-combat.js
  scripts/combat/swse-combatant.js
  scripts/combat/systems/grappling-system.js
  scripts/core/token-name-sync.js
  scripts/engine/combat/SWSEInitiative.js
  scripts/engine/combat/combat-executor.js
  scripts/engine/interactions/drop-resolution-engine.js
  scripts/engine/progression/engine/feature-index.js
  scripts/engine/progression/xp-engine.js
  scripts/governance/actor-engine/actor-engine.js
  scripts/registries/feat-registry.js
  scripts/rolls/roll-config.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/force-ui.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  scripts/ui/shell/ShellMutationGuard.js
  system.json
Due: eslint --fix, prettier --write

Prepare v3.1.1 release manifest
  system.json
Due: prettier --write

Update system.json
  system.json
Due: prettier --write

Prepare v3.1.2 release manifest
  system.json
Due: prettier --write

.
  data/species-traits-migrated.json
  data/species-traits.json
  lang/de.json
  lang/es.json
  lang/fr.json
  lang/ja.json
  packs/species.db
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/data/talent-normalizer.js
  scripts/engine/abilities/passive/passive-adapter.js
  scripts/engine/abilities/passive/passive-contract.js
  scripts/engine/abilities/passive/passive-types.js
  scripts/engine/abilities/passive/species-trait-passive-adapter.js
  scripts/engine/progression/engine/feature-index.js
  scripts/engine/progression/prerequisites/class-prereq-normalizer.js
  scripts/engine/registries/force-registry.js
  scripts/houserules/houserule-skill-training.js
  scripts/registries/feat-registry.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/form.js
  styles/progression-framework/progression-shell.css
  system.json
  templates/apps/progression-framework/mentor-rail.hbs
  templates/apps/progression-framework/progress-rail.hbs
  templates/apps/progression-framework/progression-shell.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Prepare v3.1.3 release manifest
  system.json
Due: prettier --write

.
  data/species-image-manifest.json
  lang/de.json
  lang/en.json
  lang/es.json
  lang/fr.json
  lang/ru.json
  scripts/actors/v2/base-actor.js
  scripts/apps/progression-framework/shell/mentor-rail.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/shell/utility-bar.js
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/apps/progression-framework/steps/species-step.js
  scripts/apps/progression-framework/steps/talent-step.js
  scripts/governance/actor-engine/actor-engine.js
  scripts/houserules/houserule-skill-training.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/form.js
  styles/progression-framework/progression-shell.css
  styles/progression-framework/steps/species-step.css
  templates/actors/character/v2-concept/partials/frame/header-block.hbs
  templates/actors/character/v2/character-sheet.hbs
  templates/apps/progression-framework/details-panel/confirm-details.hbs
  templates/apps/progression-framework/details-panel/feat-details.hbs
  templates/apps/progression-framework/details-panel/species-details.hbs
  templates/apps/progression-framework/details-panel/talent-details.hbs
  templates/apps/progression-framework/details-panel/talent-tree-details.hbs
  templates/apps/progression-framework/mentor-rail.hbs
  templates/apps/progression-framework/progression-shell.hbs
  templates/apps/progression-framework/steps/feat-work-surface.hbs
  templates/apps/progression-framework/steps/l1-survey-work-surface.hbs
  templates/apps/progression-framework/steps/species-work-surface.hbs
  templates/apps/progression-framework/steps/talent-tree-browser.hbs
  templates/apps/progression-framework/steps/talent-tree-graph.hbs
  templates/apps/progression-framework/utility-bar.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Prepare v3.1.4 release manifest
  system.json
Due: prettier --write

Prepare v3.1.5 release manifest
  system.json
Due: prettier --write

.
  scripts/apps/choices/feat-choice-dialog.js
  scripts/apps/progression-framework/steps/skills-step.js
  scripts/apps/progression-framework/steps/step-normalizers.js
  scripts/apps/progression-framework/steps/talent-step.js
  scripts/engine/progression/feats/feat-choice-resolver.js
  scripts/governance/mutation/mutation-normalization-service.js
  scripts/sheets/v2/character-sheet.js
  scripts/utils/actor-utils.js
Due: eslint --fix

.
  data/fixes/talent-trees.registry.json
  data/generated/talent-trees.registry.json
  data/talent-prerequisites.json
  index.js
  packs/lightsaberformpowers.db
  packs/talent_trees.db
  packs/talents.db
  scripts/apps/follower-creator.js
  scripts/apps/follower-manager.js
  scripts/apps/progression-framework/adapters/follower-deriver.js
  scripts/apps/progression-framework/adapters/follower-session-seeder.js
  scripts/apps/progression-framework/follower-shell.js
  scripts/apps/progression-framework/levelup-shell.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/shell/selected-rail-context.js
  scripts/apps/progression-framework/steps/follower-steps/follower-confirm-step.js
  scripts/apps/progression-framework/steps/follower-steps/follower-feat-step.js
  scripts/apps/progression-framework/steps/follower-steps/follower-step-base.js
  scripts/apps/progression-framework/steps/follower-steps/follower-template-step.js
  scripts/build/populate-lightsaber-form-powers.js
  scripts/build/populate-lightsaber-form-powers.py
  scripts/core/compendium-pack-registration-repair.js
  scripts/data/authority/talent-prerequisite-authority.js
  scripts/engine/crew/follower-talent-config.js
  scripts/infrastructure/hooks/follower-hooks.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/npc-sheet.js
  scripts/ui/shell/ProgressionSurfaceAdapter.js
  system.json
  templates/actors/npc/v2/npc-sheet.hbs
  templates/apps/progression-framework/steps/follower-summary-work-surface.hbs
  templates/apps/progression-framework/steps/follower-template-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Create compendium-diagnostic-report.md
  docs/audits/compendium-diagnostic-report.md
Due: prettier --write

Prepare v3.1.6 release manifest
  system.json
Due: prettier --write

updates to talents and feats
  data/feat-combat-actions.json
  data/fixes/talents.fixed.json
  data/generated/talents.fixed.json
  data/talent-granted-abilities.json
  index.js
  packs/talents.db
  scripts/apps/progression-framework/steps/force-power-step.js
  scripts/combat/rolls/attacks.js
  scripts/components/force-suite.js
  scripts/core/compendium-diagnostics.js
  scripts/core/compendium-directory-click-repair.js
  scripts/core/compendium-pack-registration-repair.js
  scripts/data/authority/talent-prerequisite-authority.js
  scripts/engine/combat/ability-combat-action-resolver.js
  scripts/engine/force/force-executor.js
  scripts/engine/talent/consular-talent-actions.js
  scripts/engine/talent/guardian-spirit-actions.js
  scripts/engine/talent/lightsaber-talent-actions.js
  scripts/engine/talent/sentinel-talent-actions.js
  scripts/engine/talent/talents.js
  scripts/governance/actor-engine/actor-engine.js
  scripts/registries/feat-pack-seeder.js
  scripts/registries/feat-registry.js
  scripts/registries/feat-stub-pack.js
  scripts/rolls/skills.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/concept-context.js
  scripts/sheets/v2/character-sheet/force-roll-dialog.js
  scripts/sheets/v2/character-sheet/force-ui.js
  scripts/talents/light-side-talent-macros.js
  styles/progression-framework/steps/force-power-step.css
  styles/sheets/v2-concept-sheet.css
  styles/system/chat-card-v2.css
  system.json
  templates/actors/character/v2-concept/partials/tabs/force-suite-tab.hbs
  templates/actors/character/v2/partials/force-panel.hbs
  templates/apps/progression-framework/steps/force-power-work-surface.hbs
  templates/chat/holo-roll.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.
  data/feat-combat-actions.json
  data/fixes/talents.fixed.json
  data/generated/talents.fixed.json
  data/talent-granted-abilities.json
  packs/talents.db
  scripts/combat/multi-attack.js
  scripts/data-models/character-data-model.js
  scripts/data/authority/talent-prerequisite-authority.js
  scripts/engine/abilities/passive/phase-2-feat-definitions.js
  scripts/engine/combat/combat-option-resolver.js
  scripts/engine/effects/modifiers/ModifierEngine.js
  scripts/engine/force/force-executor.js
  scripts/engine/talent/armor-talent-actions.js
  scripts/engine/talent/lightsaber-talent-actions.js
  scripts/engine/talent/talents.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/concept-context.js
  scripts/sheets/v2/character-sheet/force-ui.js
  templates/actors/character/v2-concept/partials/tabs/force-suite-tab.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.
  data/feat-combat-actions.json
  data/fixes/talents.fixed.json
  data/generated/talents.fixed.json
  data/talent-action-links.json
  data/talent-granted-abilities.json
  packs/talents.db
  scripts/engine/talent/lightsaber-form-engine.js
  scripts/engine/talent/talents.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/concept-context.js
  scripts/sheets/v2/character-sheet/force-ui.js
  styles/sheets/v2-concept-sheet.css
  templates/actors/character/v2-concept/partials/tabs/force-suite-tab.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.
  data/feat-combat-actions.json
  data/fixes/talent-trees.registry.json
  data/fixes/talents.fixed.json
  data/generated/talent-trees.registry.json
  data/generated/talents.fixed.json
  data/talent-action-links.json
  data/talent-granted-abilities.json
  index.js
  packs/talents.db
  scripts/actors/derived/derived-calculator.js
  scripts/data/authority/talent-prerequisite-authority.js
  scripts/engine/force/force-executor.js
  scripts/engine/talent/consular-talent-actions.js
  scripts/engine/talent/jedi-prestige-talent-actions.js
  scripts/engine/talent/light-side-talent-mechanics.js
  scripts/engine/talent/lightsaber-talent-actions.js
  scripts/engine/talent/sentinel-talent-actions.js
  scripts/engine/talent/talent-effect-engine.js
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix, prettier --write

Prepare v3.1.7 release manifest
  system.json
Due: prettier --write

Prepare v3.1.8 release manifest
  system.json
Due: prettier --write

Prepare v3.2.0 release manifest
  system.json
Due: prettier --write
