Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Fix WelcomeDialog dimensions issue by initializing position object
  scripts/core/first-run-experience.js
Due: eslint --fix

Fix WelcomeDialog AppV2 positioning crash and core.devMode errors
  scripts/core/css-auditor.js
  scripts/core/first-run-experience.js
  scripts/core/migration-auditor.js
  scripts/core/swse-api.js
Due: eslint --fix

Fix AppV2 offsetWidth crash and remove core.devMode references
  index.js
  scripts/core/first-run-experience.js
  scripts/core/load-templates.js
  scripts/debug/appv2-contract-validator.js
  scripts/engine/abilities/AbilityEngine.js
Due: eslint --fix

fix(css): add scoped #sidebar mask baseline to prevent core UI icon breakage
  styles/swse-system.css
Due: none

refactor(css+js): CSS isolation refactor, sidebar mask fix, WelcomeDialog v13 fix
  scripts/core/first-run-experience.js
  scripts/debug/appv2-probe.js
  scripts/dev/ability-model-validator.js
  styles/apps/ux-polish.css
  styles/core-overrides.css
  styles/sheets/improved-contrast.css
  styles/swse-system.css
  system.json
Due: eslint --fix, prettier --write

Fix WelcomeDialog offsetWidth crash by disabling setPosition
  scripts/hooks/ui-hooks.js
Due: eslint --fix

Fix WelcomeDialog positioning crash
  scripts/core/first-run-experience.js
  templates/dialogs/welcome-dialog.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Fix WelcomeDialog timing: defer render past AppV2 positioning lifecycle
  scripts/core/first-run-experience.js
Due: eslint --fix

Restore welcome dialog original content
  templates/dialogs/welcome-dialog.hbs
Due: node scripts/validate/validate-icon-keys.js

Fix WelcomeDialog null error by deferring to canvasReady hook
  scripts/core/first-run-experience.js
Due: eslint --fix

Implement stable identity layer for trees, talents, and feats
  scripts/data/stable-key-migration.js
  scripts/data/talent-db.js
  scripts/data/talent-tree-db.js
  scripts/progression/hooks/system-init-hooks.js
  scripts/utils/stable-key.js
Due: eslint --fix

Fix render-guard import path in action-palette
  scripts/ui/action-palette/init.js
Due: eslint --fix

Fix compendium mutations and stable key generation
  scripts/data/stable-key-migration.js
  scripts/data/talent-db.js
  scripts/data/talent-tree-db.js
  scripts/progression/feats/feat-registry.js
Due: eslint --fix

Fix compendium verification and talent tree resolution for v13 compatibility
  scripts/core/compendium-verification.js
  scripts/progression/engine/talent-tree-normalizer.js
Due: eslint --fix

Fix compendium verification and talent tree legacy resolution
  scripts/core/compendium-verification.js
  scripts/data/talent-tree-db.js
  scripts/progression/engine/talent-tree-normalizer.js
Due: eslint --fix

Remove runtime compendium verification
  index.js
  scripts/core/compendium-verification.js
  scripts/core/pack-existence-check.js
Due: eslint --fix

Soften talent tree normalization to non-blocking, defensive mode
  scripts/progression/engine/talent-tree-normalizer.js
Due: eslint --fix

Restore TalentTreeDB.byId() compatibility API
  scripts/data/talent-tree-db.js
Due: eslint --fix

Consolidate talent tree normalizers into single authority (SSOT)
  scripts/data/talent-tree-normalizer.js
  scripts/progression/engine/talent-tree-normalizer.js
  scripts/progression/hooks/system-init-hooks.js
Due: eslint --fix

refactor(css): 10-phase CSS isolation refactor for Foundry v13 AppV2 safety
  styles/apps/custom-item-dialog.css
  styles/core-overrides.css
  styles/core/appv2-structural-safe.css
  styles/core/canvas-safety.css
  styles/dialogs/holo-dialogs.css
  styles/layout/sheet-layout.css
  styles/sheets/character-sheet.css
  styles/swse-system.css
Due: none

feat: Implement Hybrid Sentinel Engine (Phases 1-6)
  index.js
  scripts/core/settings.js
  scripts/core/swse-sentinel.js
Due: eslint --fix

feat: Implement Sentinel Runtime Kernel Architecture
  SENTINEL_ARCHITECTURE.md
  SENTINEL_DELIVERY.md
  SENTINEL_INTEGRATION.md
  scripts/core/sentinel/layers/css-layer.js
  scripts/core/sentinel/layers/data-layer.js
  scripts/core/sentinel/layers/hooks-layer.js
  scripts/core/sentinel/layers/performance-layer.js
  scripts/core/sentinel/layers/promises-layer.js
  scripts/core/sentinel/layers/render-layer.js
  scripts/core/sentinel/sentinel-core.js
  scripts/core/sentinel/sentinel-registry.js
  scripts/core/settings.js
Due: eslint --fix, prettier --write

feat: Implement SentinelEngine + Sentry + Investigator Architecture
  SENTINEL_INTEGRATION_SNIPPET.md
  SENTINEL_JURISDICTION_BOUNDARIES.md
  SENTINEL_NEW_ARCHITECTURE.md
  scripts/core/sentinel/investigator.js
  scripts/core/sentinel/sentinel-engine.js
  scripts/core/sentinel/sentry.js
  scripts/core/settings.js
Due: eslint --fix, prettier --write

refactor: Clean architecture - consolidate to single SentinelEngine
  index.js
  scripts/core/sentinel/investigator.js
  scripts/core/sentinel/sentinel-core.js
  scripts/core/sentinel/sentinel-engine.js
  scripts/core/sentinel/sentinel-registry.js
  scripts/core/sentinel/sentry.js
Due: eslint --fix

feat: Expand SentinelEngine into complete runtime integrity kernel
  index.js
  scripts/core/sentinel/investigator.js
  scripts/core/sentinel/sentinel-core.js
  scripts/core/sentinel/sentry.js
Due: eslint --fix

feat: Add boot success banner to SentinelEngine
  index.js
  scripts/core/sentinel/sentinel-core.js
Due: eslint --fix

Update sentinel banner from VSSF ASCII to SWSE
  scripts/core/sentinel/sentinel-core.js
Due: eslint --fix

PHASE 1: Fix NPC sheet Roll() bypass - replace direct Roll with RollEngine.safeRoll
  scripts/sheets/v2/npc-sheet.js
Due: eslint --fix

PHASE 2-6: Replace raw Roll() with RollEngine.safeRoll in 7 files
  scripts/combat/feint-mechanics.js
  scripts/combat/saber-lock-mechanics.js
  scripts/engine/npc-levelup.js
  scripts/houserules/houserule-grapple.js
  scripts/species/species-reroll-handler.js
  scripts/utils/destiny-effects.js
Due: eslint --fix

PHASE 2-6 continued: Fix light-side and dark-side talent Roll() calls
  scripts/skills/skill-uses.js
  scripts/talents/dark-side-devotee-mechanics.js
  scripts/talents/light-side-talent-mechanics.js
Due: eslint --fix

CONSOLIDATION AUDIT: Full structural analysis of 698-file codebase
  CONSOLIDATION_AUDIT_REPORT.md
Due: prettier --write

Phase 1: Roll Authority Lockdown — Eliminate all direct Roll() usage
  scripts/apps/chargen/ability-rolling.js
  scripts/apps/chargen/chargen-main.js
  scripts/combat/rolls/damage.js
  scripts/combat/rolls/enhanced-rolls.js
  scripts/engine/TalentAbilitiesEngine.js
  scripts/engine/combat/SWSEInitiative.js
  scripts/rolls/force-powers.js
  scripts/rolls/roll-config.js
  scripts/skills/skill-uses.js
  scripts/talents/DarkSidePowers.js
Due: eslint --fix

Phase 1 & 2 Status Report: Roll Authority Complete, Phase 2 Ready for Review
  PHASE_1_2_STATUS_REPORT.md
Due: prettier --write

Phase 2 + Phase 3 Foundation: Derived Authority Lockdown + Recalc Guard
  PHASE_2_3_FOUNDATION_AUDIT.md
  scripts/actors/v2/base-actor.js
  scripts/core/sentinel/derived-integrity-layer.js
Due: eslint --fix, prettier --write

Phase 2 Completion: Derived Authority Lockdown - Elimination Complete
  PHASE_2_COMPLETION_AUDIT.md
  scripts/actors/derived/derived-calculator.js
  scripts/actors/v2/character-actor.js
  scripts/core/sentinel/derived-integrity-layer.js
  scripts/data-models/character-data-model.js
  scripts/data-models/vehicle-data-model.js
Due: eslint --fix, prettier --write

Phase 2 Validation: Consumer Authority Assessment
  PHASE_2_VALIDATION_REPORT.md
Due: prettier --write

Phase 2 Hard Completion: Consumer Authority Consolidation (Batch 1)
  scripts/apps/chargen/chargen-main.js
  scripts/drag-drop/drop-handler.js
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

Phase 2 Hard Completion: Combat & Engine Authority Consolidation (Batch 2)
  scripts/chat/chat-commands.js
  scripts/combat/systems/vehicle/vehicle-weapons.js
  scripts/components/combat-action-bar.js
  scripts/engine/DraftCharacter.js
Due: eslint --fix

Phase 2 Hard Completion: FINAL — Backward Compat Removal & 10/10 Authority
  PHASE_2_HARD_COMPLETION_FINAL.md
  scripts/data-models/character-data-model.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
