Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

Add Phase 10G generated report
  docs/audits/generated/phase10g-damage-timing-wiring-report.json
Due: prettier --write

Add Phase 10G generated markdown report
  docs/audits/generated/phase10g-damage-timing-wiring-report.md
Due: prettier --write

Add Phase 10H damage context callsite audit
  data/feat-implementation/phase10h-damage-context-callsite-audit.json
Due: prettier --write

Add Phase 10H damage context callsite audit script
  scripts/dev/audit-phase10h-damage-context-callsites.mjs
Due: none

Document Phase 10H damage context callsite audit
  docs/design/feat-implementation-readiness-phase10h-damage-context-callsites.md
Due: prettier --write

Add Phase 10H generated report
  docs/audits/generated/phase10h-damage-context-callsites-report.json
Due: prettier --write

Add Phase 10H generated markdown report
  docs/audits/generated/phase10h-damage-context-callsites-report.md
Due: prettier --write

Add manual Attack of Opportunity combat action
  scripts/combat/utils/combat-actions-mapper.js
Due: eslint --fix

Normalize Attack of Opportunity as reaction action
  scripts/combat/utils/combat-actions-mapper.js
Due: eslint --fix

Tighten Attack of Opportunity reaction metadata
  scripts/combat/utils/combat-actions-mapper.js
Due: eslint --fix

Model AoO as consuming reaction resource
  scripts/combat/utils/combat-actions-mapper.js
Due: eslint --fix

Fix CombatActionsMapper not-ready return
  scripts/combat/utils/combat-actions-mapper.js
Due: eslint --fix

Add Attack of Opportunity feat rules
  scripts/engine/combat/attack-of-opportunity-feat-rules.js
Due: eslint --fix

Add Phase 10L AoO action lane wiring audit
  scripts/dev/audit-phase10l-aoo-action-lane-wiring.mjs
Due: none

Add Phase 10M damage callsite context audit
  scripts/dev/audit-phase10m-damage-callsite-context-wiring.mjs
Due: none

Add Phase 10N damage rider metadata quarantine audit
  scripts/dev/audit-phase10n-damage-rider-metadata-quarantine.mjs
Due: none

Apply Phase 10M damage rider skip guard
  scripts/engine/combat/damage-engine.js
Due: eslint --fix

Apply Phase 10M manual damage rider skip
  scripts/apps/damage-app.js
Due: eslint --fix

Apply Phase 10M recurring damage rider skip
  scripts/engine/combat/recurring-damage-engine.js
Due: eslint --fix

Apply Phase 10M collision damage rider skip
  scripts/engine/combat/subsystems/vehicle/vehicle-collisions.js
Due: eslint --fix

Apply Phase 10N damage rider metadata quarantine
  scripts/engine/combat/damage-timing-rider-adapter.js
Due: eslint --fix

Remove duplicate root messenger controller
  MessengerSurfaceController.js
Due: eslint --fix

Remove duplicate root messenger stylesheet
  messenger-surface.css
Due: none

Remove duplicate nested messenger stylesheet
  styles/styles/system/messenger-surface.css
Due: none

Harden damage rider skip defaults for non-weapon damage
  scripts/engine/combat/damage-engine.js
Due: eslint --fix

Fix GM faction surface controller parse error
  scripts/ui/shell/gm/controllers/GMFactionRelationshipSurfaceController.js
Due: eslint --fix

Fix implant rule active implant helper
  scripts/engine/implants/ImplantRules.js
Due: eslint --fix

Phase 10P accept active state subtype
  scripts/engine/abilities/active/active-types.js
Due: eslint --fix

Phase 10P validate metadata-only active state
  scripts/engine/abilities/active/active-contract.js
Due: eslint --fix

Phase 11A add scoped combat feat resolver
  scripts/engine/feat/scoped-combat-feat-resolver.js
Due: eslint --fix

Phase 11A keep scoped feat resolver explicit
  scripts/engine/feat/scoped-combat-feat-resolver.js
Due: eslint --fix

Phase 11A wire scoped combat feats into roll math
  scripts/combat/utils/combat-utils.js
Due: eslint --fix

Phase 11A recompute HP for HP feats
  scripts/governance/actor-engine/hp-recompute-hooks.js
Due: eslint --fix

Phase 11A normalize durable feat rules
  scripts/governance/actor-engine/hp-recompute-hooks.js
Due: eslint --fix

Phase 11A normalize static defense feats
  scripts/governance/actor-engine/hp-recompute-hooks.js
Due: eslint --fix

Phase 11A honor weapon proficiency feats in attack math
  scripts/engine/combat/combat-roll-math.js
Due: eslint --fix

Phase 11A remove species traits from feat normalization
  scripts/governance/actor-engine/hp-recompute-hooks.js
Due: eslint --fix

Phase 11A support defense species traits
  scripts/engine/abilities/passive/species-trait-passive-adapter.js
Due: eslint --fix

Phase 11A preserve existing Improved Defenses metadata
  scripts/governance/actor-engine/hp-recompute-hooks.js
Due: eslint --fix

Phase 11A move scoped combat feats into canonical roll math
  scripts/engine/combat/combat-roll-math.js
Due: eslint --fix
