Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

feat: add Phase 3 Force power corrections
  scripts/engine/force/phase3-force-power-corrections.js
Due: eslint --fix

feat: install Phase 3 Force power corrections
  scripts/infrastructure/hooks/force-power-hooks.js
Due: eslint --fix

feat: add Phase 3 Force power pack migrator
  tools/migrate-phase3-force-power-corrections.mjs
Due: none

test: cover Phase 3 Force power corrections
  tests/phase3-force-power-corrections.test.mjs
Due: none

docs: document Phase 3 Force power corrections
  docs/audits/force-power-phase-3-critical-corrections.md
Due: prettier --write

Phase 3: correct critical non-damage Force powers
  docs/audits/force-power-phase-3-critical-corrections.md
  scripts/engine/force/phase3-force-power-corrections.js
  scripts/infrastructure/hooks/force-power-hooks.js
  tests/phase3-force-power-corrections.test.mjs
  tools/migrate-phase3-force-power-corrections.mjs
Due: eslint --fix, prettier --write

feat: add Phase 4 Force modifier automation
  scripts/engine/force/phase4-force-modifier-automation.js
Due: eslint --fix

feat: install Phase 4 Force modifier automation
  scripts/infrastructure/hooks/force-power-hooks.js
Due: eslint --fix

test: cover Phase 4 Force modifier automation
  tests/phase4-force-modifier-automation.test.mjs
Due: none

docs: document Phase 4 Force modifier automation
  docs/audits/force-power-phase-4-modifier-automation.md
Due: prettier --write

Phase 4: consolidate Force power modifier automation
  docs/audits/force-power-phase-4-modifier-automation.md
  scripts/engine/force/phase4-force-modifier-automation.js
  scripts/infrastructure/hooks/force-power-hooks.js
  tests/phase4-force-modifier-automation.test.mjs
Due: eslint --fix, prettier --write

feat: add Force power healing and mitigation outcome service
  scripts/engine/force/force-power-outcome-service.js
Due: eslint --fix

feat: add Phase 5 Force healing integration
  scripts/engine/force/phase5-force-healing-mitigation.js
Due: eslint --fix

feat: install Phase 5 Force healing integration
  scripts/infrastructure/hooks/force-power-hooks.js
Due: eslint --fix

test: cover Phase 5 Force healing and mitigation
  tests/phase5-force-healing-mitigation.test.mjs
Due: none

docs: document Phase 5 Force healing and mitigation
  docs/audits/force-power-phase-5-healing-mitigation.md
Due: prettier --write

Phase 5: add Force healing outcome service
  docs/audits/force-power-phase-5-healing-mitigation.md
  scripts/engine/force/force-power-outcome-service.js
  scripts/engine/force/phase5-force-healing-mitigation.js
  scripts/infrastructure/hooks/force-power-hooks.js
  tests/phase5-force-healing-mitigation.test.mjs
Due: eslint --fix, prettier --write

feat: add Phase 6 direct Force damage resolver
  scripts/engine/force/phase6-force-direct-damage.js
Due: eslint --fix

feat: install Phase 6 direct Force damage
  scripts/infrastructure/hooks/force-power-hooks.js
Due: eslint --fix

test: cover Phase 6 direct Force damage
  tests/phase6-force-direct-damage.test.mjs
Due: none

docs: document Phase 6 direct Force damage
  docs/audits/force-power-phase-6-direct-damage.md
Due: prettier --write

Phase 6: add direct Force damage resolver
  docs/audits/force-power-phase-6-direct-damage.md
  scripts/engine/force/phase6-force-direct-damage.js
  scripts/infrastructure/hooks/force-power-hooks.js
  tests/phase6-force-direct-damage.test.mjs
Due: eslint --fix, prettier --write

feat: add final Force power integration layer
  scripts/engine/force/force-power-final-integration.js
Due: eslint --fix

refactor: install Force power runtime through one integration entry point
  scripts/infrastructure/hooks/force-power-hooks.js
Due: eslint --fix

test: cover final Force power integration
  tests/force-power-final-integration.test.mjs
Due: none

docs: document final Force power integration
  docs/audits/force-power-final-integration.md
Due: prettier --write

Finish core Force power integration
  docs/audits/force-power-final-integration.md
  scripts/engine/force/force-power-final-integration.js
  scripts/infrastructure/hooks/force-power-hooks.js
  tests/force-power-final-integration.test.mjs
Due: eslint --fix, prettier --write

fix: restore complete system bootstrap lifecycle
  index.js
Due: eslint --fix

fix: avoid ready-phase class authority deadlock during actor preparation
  scripts/actors/derived/bab-calculator.js
Due: eslint --fix

test: guard complete startup bootstrap lifecycle
  tests/startup-bootstrap-regression.test.mjs
Due: none

docs: record startup regression root cause
  docs/audits/startup-regression-root-cause.md
Due: prettier --write

Fix startup bootstrap regressions
  docs/audits/startup-regression-root-cause.md
  index.js
  scripts/actors/derived/bab-calculator.js
  tests/startup-bootstrap-regression.test.mjs
Due: eslint --fix, prettier --write

.
  index.js
  packs/__mounttest__/x.txt
  scripts/engine/progression/hooks/system-init-hooks.js
  scripts/holonet/subsystems/holonews-auto-publisher.js
  system.json
  tools/check-system-manifest.mjs
Due: eslint --fix, prettier --write

.
  .gitattributes
  packs/__mounttest__/x.txt
  system.json
Due: prettier --write

Register SWSE Item document class during init
  index.js
Due: eslint --fix

Make Holonet source initialization idempotent across aliases
  scripts/holonet/holonet-source-registry.js
Due: eslint --fix

Update startup guards for LevelDB and Item document registration
  tests/startup-bootstrap-regression.test.mjs
Due: none

Harden manifest validation for Foundry v13/v14 LevelDB packs
  tools/check-system-manifest.mjs
Due: none

Remove stale NeDB reference from feat domain guard
  scripts/data/feat-domain-guard.js
Due: eslint --fix

Add optional targeting to Force power preroll dialog
  scripts/sheets/v2/character-sheet/force-roll-dialog.js
Due: eslint --fix
