Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

audit: reconcile JATM Phase 3B preflight correction
  data/audits/talent-phase-3b-global-closeout.json
  docs/audits/talent-phase-3b-global-closeout.md
  docs/audits/talent-phase-3b-jedi-academy-training-manual.md
Due: prettier --write

audit: normalize Phase 3C drift preflight
  .github/workflows/rolling-system-validation.yml
  tools/apply-talent-phase-3c.mjs
Due: none

docs: add SWSE sourcebook text references
  reference/sourcebooks/Clone Wars Campaign Guide_djvu.txt
  reference/sourcebooks/Core Rulebook_djvu.txt
  reference/sourcebooks/Force Unleashed Campaign Guide_djvu.txt
  reference/sourcebooks/Galaxy At War_djvu.txt
  reference/sourcebooks/Galaxy of Intrigue_djvu.txt
  reference/sourcebooks/Jedi Academy Training Manual_djvu.txt
  reference/sourcebooks/Knights of the Old Republic Campaign Guide_djvu.txt
  reference/sourcebooks/Legacy Era Campaign Guide_djvu.txt
  reference/sourcebooks/README.md
  reference/sourcebooks/Rebellion Era Campaign Guide_djvu.txt
  reference/sourcebooks/Scavenger's Guide to Droids_djvu.txt
  reference/sourcebooks/Scum and Villainy_djvu.txt
  reference/sourcebooks/Starships of the Galaxy_djvu.txt
  reference/sourcebooks/Threats of the Galaxy_djvu.txt
  reference/sourcebooks/Unknown Regions_djvu.txt
Due: prettier --write

audit: Phase 3C-1 independent review, reference model and regression tests
  docs/audits/talent-phase-3c-claude-independent-review.md
  tests/talent-phase-3c-independent-review.test.mjs
  tools/audit-talent-phase-3c-independent.mjs
Due: prettier --write

audit: exempt certified Phase 3D review aliases
  tools/audit-talent-tree-membership.mjs
Due: none

audit: add Phase 3C post-state verifier and hardening
  tools/apply-talent-phase-3c.mjs
Due: none

audit: resolve certified Phase 3C review-alias invariant
  tools/audit-talent-phase-3c-independent.mjs
Due: none

test: require all Phase 3C independent invariants
  tests/talent-phase-3c-independent-review.test.mjs
Due: none

audit: certify Phase 3C-1 dry-run report
  data/audits/talent-phase-3c-dry-run-report.json
Due: prettier --write

ci: enforce certified Phase 3C-1 dry-run report
  .github/workflows/rolling-system-validation.yml
Due: none

tools: add deterministic talent runtime registry builder
  tools/build-talent-runtime-registries.mjs
Due: none

test: prove projected runtime registry parity
  tests/talent-phase-3c-independent-review.test.mjs
Due: none

docs: record Phase 3C-1 blocker resolutions
  docs/audits/talent-phase-3c-1-certification.md
Due: prettier --write

fix: split Phase 3C apply and post-state verification
  tests/talent-phase-3c-applicator.test.mjs
  tests/talent-phase-3c-independent-review.test.mjs
  tests/talent-phase-3c-migration-flow.test.mjs
  tools/apply-talent-phase-3c.mjs
  tools/audit-talent-phase-3c-independent.mjs
Due: none

fix: recognize protected Phase 3C review extras
  tests/talent-phase-3c-independent-review.test.mjs
  tests/talent-tree-membership-review-extras.test.mjs
  tools/audit-talent-phase-3c-independent.mjs
  tools/audit-talent-tree-membership.mjs
Due: none

fix: keep the scoped duplicate-name check literal in the membership audit
  tools/audit-talent-tree-membership.mjs
Due: none

build: regenerate talent tree runtime registry
  .github/workflows/rolling-system-validation.yml
  scripts/data/talent-tree-db.js
  scripts/engine/progression/talents/TalentTreeRegistry.js
  scripts/engine/progression/talents/talent-tree-membership-authority.js
  scripts/patches/runtime-bugfix-hotfixes.js
  tests/talent-phase-3c-migration-flow.test.mjs
  tests/talent-tree-registry-generator.test.mjs
  tests/talent-tree-registry-runtime.test.mjs
  tools/apply-talent-phase-3c.mjs
  tools/audit-talent-phase-3c-text-quality.mjs
  tools/build-talent-tree-registry.mjs
  tools/check-talent-phase-3c-ci.mjs
Due: eslint --fix

audit: certify Phase 3C dry-run report
  data/audits/talent-phase-3c-dry-run-report.json
Due: prettier --write

test: certify Phase 3C migration tooling
  docs/audits/talent-phase-3c-blocker-resolution.md
Due: prettier --write

audit: inventory Phase 3B OCR source defects
  data/audits/talent-phase-3b-source-text-corrections.json
  tools/apply-talent-phase-3b-source-text-corrections.mjs
Due: prettier --write

fix: correct KOTOR canonical talent source text
  data/audits/talent-phase-2-knights-of-the-old-republic-campaign-guide-content.json
  data/audits/talent-phase-3b-clone-wars-campaign-guide-manifest.json
  data/audits/talent-phase-3b-core-rulebook-manifest.json
  data/audits/talent-phase-3b-force-unleashed-campaign-guide-manifest.json
  data/audits/talent-phase-3b-galaxy-at-war-manifest.json
  data/audits/talent-phase-3b-galaxy-of-intrigue-manifest.json
  data/audits/talent-phase-3b-global-closeout.json
  data/audits/talent-phase-3b-jedi-academy-training-manual-manifest.json
  data/audits/talent-phase-3b-knights-of-the-old-republic-campaign-guide-manifest.json
  data/audits/talent-phase-3b-legacy-era-campaign-guide-manifest.json
  data/audits/talent-phase-3b-rebellion-era-campaign-guide-manifest.json
  data/audits/talent-phase-3b-scavengers-guide-to-droids-manifest.json
  data/audits/talent-phase-3b-scum-and-villainy-manifest.json
  data/audits/talent-phase-3b-starships-of-the-galaxy-manifest.json
  data/audits/talent-phase-3b-threats-of-the-galaxy-manifest.json
  data/audits/talent-phase-3b-unknown-regions-manifest.json
  data/canonical/talents.json
  docs/audits/talent-canonical-production-reference.md
  tools/apply-talent-phase-3b-source-text-corrections.mjs
  tools/build-talent-phase-3b-manifest.mjs
  tools/check-talent-phase-3b-global-closeout.mjs
Due: prettier --write

fix: correct sourcebook talent OCR artifacts
  data/audits/talent-phase-2-core-rulebook-content.json
  data/audits/talent-phase-2-force-unleashed-campaign-guide-content.json
  data/audits/talent-phase-2-jedi-academy-training-manual-content.json
  data/audits/talent-phase-3b-clone-wars-campaign-guide-manifest.json
  data/audits/talent-phase-3b-core-rulebook-manifest.json
  data/audits/talent-phase-3b-force-unleashed-campaign-guide-manifest.json
  data/audits/talent-phase-3b-galaxy-at-war-manifest.json
  data/audits/talent-phase-3b-galaxy-of-intrigue-manifest.json
  data/audits/talent-phase-3b-global-closeout.json
  data/audits/talent-phase-3b-jedi-academy-training-manual-manifest.json
  data/audits/talent-phase-3b-knights-of-the-old-republic-campaign-guide-manifest.json
  data/audits/talent-phase-3b-legacy-era-campaign-guide-manifest.json
  data/audits/talent-phase-3b-rebellion-era-campaign-guide-manifest.json
  data/audits/talent-phase-3b-scavengers-guide-to-droids-manifest.json
  data/audits/talent-phase-3b-scum-and-villainy-manifest.json
  data/audits/talent-phase-3b-starships-of-the-galaxy-manifest.json
  data/audits/talent-phase-3b-threats-of-the-galaxy-manifest.json
  data/audits/talent-phase-3b-unknown-regions-manifest.json
  data/canonical/talents.json
  docs/audits/talent-canonical-production-reference.md
  tools/apply-talent-phase-3b-source-text-corrections.mjs
  tools/build-talent-phase-3b-manifest.mjs
  tools/check-talent-phase-3b-global-closeout.mjs
Due: prettier --write

test: align talent hydration expectations with canonical authority
  docs/audits/talent-phase-3b-source-text-corrections.md
  tests/elite-droid-talent-tree-hydration.test.mjs
  tests/helpers/phase3b-certified.mjs
  tests/krath-talent-tree-hydration.test.mjs
  tests/superior-skills-talent-hydration.test.mjs
  tests/talent-phase-3b-source-text-corrections.test.mjs
Due: prettier --write

test: accept printed wording in the Exceptional Skill benefit assertion
  tests/superior-skills-talent-hydration.test.mjs
Due: none

fix: gate Phase 3C apply on PDF-pending source-text corrections; fix text-quality CLI
  data/audits/talent-phase-3c-dry-run-report.json
  tests/talent-phase-3c-migration-flow.test.mjs
  tests/talent-phase-3c-text-quality.test.mjs
  tools/apply-talent-phase-3c.mjs
  tools/audit-talent-phase-3c-text-quality.mjs
Due: prettier --write

test: assert Squad Leader class access and add the live Foundry verification checklist
  docs/audits/talent-phase-3c-squad-leader-live-verification.md
  tests/talent-tree-registry-runtime.test.mjs
Due: prettier --write

fix: apply PDF-confirmed source-text corrections (Krath Illusions, Disciplined Strike, Exotic Weapon Mastery, Slippery Strike)
  data/audits/talent-phase-2-core-rulebook-content.json
  data/audits/talent-phase-2-knights-of-the-old-republic-campaign-guide-content.json
  data/audits/talent-phase-3b-clone-wars-campaign-guide-manifest.json
  data/audits/talent-phase-3b-core-rulebook-manifest.json
  data/audits/talent-phase-3b-force-unleashed-campaign-guide-manifest.json
  data/audits/talent-phase-3b-galaxy-at-war-manifest.json
  data/audits/talent-phase-3b-galaxy-of-intrigue-manifest.json
  data/audits/talent-phase-3b-global-closeout.json
  data/audits/talent-phase-3b-jedi-academy-training-manual-manifest.json
  data/audits/talent-phase-3b-knights-of-the-old-republic-campaign-guide-manifest.json
  data/audits/talent-phase-3b-legacy-era-campaign-guide-manifest.json
  data/audits/talent-phase-3b-rebellion-era-campaign-guide-manifest.json
  data/audits/talent-phase-3b-scavengers-guide-to-droids-manifest.json
  data/audits/talent-phase-3b-scum-and-villainy-manifest.json
  data/audits/talent-phase-3b-source-text-corrections.json
  data/audits/talent-phase-3b-starships-of-the-galaxy-manifest.json
  data/audits/talent-phase-3b-threats-of-the-galaxy-manifest.json
  data/audits/talent-phase-3b-unknown-regions-manifest.json
  data/canonical/talents.json
  docs/audits/talent-canonical-production-reference.md
  docs/audits/talent-phase-3b-source-text-corrections.md
  tests/talent-phase-3b-source-text-corrections.test.mjs
  tools/apply-talent-phase-3b-source-text-corrections.mjs
Due: prettier --write

audit: regenerate Phase 3C dry-run report from corrected Phase 3B authority
  data/audits/talent-phase-3c-dry-run-report.json
Due: prettier --write

test: migration-flow applies with no override once the certified text is clean
  tests/talent-phase-3c-migration-flow.test.mjs
Due: none

data: apply certified Phase 3C talent migration
  data/fixes/talent-trees.registry.json
  data/generated/talent-trees.registry.json
  packs/classes.db
  packs/talent_trees.db
  packs/talents.db
Due: prettier --write

docs: record Squad Leader live check as DEFERRED_EXTERNAL_LIVE_VALIDATION
  docs/audits/talent-phase-3c-squad-leader-live-verification.md
Due: prettier --write

audit: certify live Squad Leader runtime validation
  docs/audits/talent-phase-3c-squad-leader-live-verification.md
Due: prettier --write

audit: certify Phase 3C production migration
  docs/audits/talent-phase-3c-production-certification.md
Due: prettier --write

audit: census Phase 3D deferred talent records
  data/audits/talent-phase-3d-production-extras-census.json
  data/audits/talent-phase-3d-reference-impact.json
  docs/audits/talent-phase-3d-production-extras-census.md
  tests/talent-phase-3d-census.test.mjs
  tools/build-talent-phase-3d-census.mjs
Due: prettier --write

audit: adjudicate Phase 3D review-extra identities
  data/audits/talent-phase-3d-dispositions.json
  docs/audits/talent-phase-3d-identity-adjudication.md
  tests/talent-phase-3d-review-extras.test.mjs
  tools/check-talent-phase-3d-dispositions.mjs
Due: prettier --write

audit: keep Phase 3D census reproducible as 3D artifacts accumulate
  tools/build-talent-phase-3d-census.mjs
Due: none

audit: adjudicate Phase 3D special-tree records
  data/audits/talent-phase-3d-dispositions.json
  docs/audits/talent-phase-3d-identity-adjudication.md
Due: prettier --write

audit: adjudicate Phase 3D missing-tree records
  data/audits/talent-phase-3d-dispositions.json
  docs/audits/talent-phase-3d-identity-adjudication.md
Due: prettier --write

audit: adjudicate remaining Phase 3D talent identities
  data/audits/talent-phase-3d-dispositions.json
  docs/audits/talent-phase-3d-identity-adjudication.md
  tests/talent-phase-3d-review-extras.test.mjs
  tools/check-talent-phase-3d-dispositions.mjs
Due: prettier --write

audit: finalize Phase 3D-2 adjudication (REVIEW_REQUIRED = 0)
  data/audits/talent-phase-3d-dispositions.json
  docs/audits/talent-phase-3d-identity-adjudication.md
  tests/talent-phase-3d-review-extras.test.mjs
  tools/check-talent-phase-3d-dispositions.mjs
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
