Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Prepare v4.2.0 release manifest
  system.json
Due: prettier --write

.
  data/feat-catalog.json
  lang/en.json
  packs/feat-catalog.db
  packs/feats.db
  scripts/apps/follower-creator.js
  scripts/apps/progression-framework/shell/option-card-action.js
  scripts/engine/effects/modifiers/ModifierEngine.js
  scripts/engine/feats/riflemaster-normalization-hooks.js
  scripts/load-templates.js
  scripts/ui/concept-parity/concept-parity-diagnostics.js
  scripts/ui/shell/GamesSurfaceController.js
  scripts/ui/shell/ShellSurfaceRegistry.js
  styles/system/games-surface.css
  styles/system/games-table-unification.css
  styles/system/shell-overlays.css
  templates/shell/partials/games/session-composer.hbs
  templates/shell/partials/games/surface-games-detail.hbs
  templates/shell/partials/shell-overlay-layer.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Phase 1: actor authority map + perf instrumentation + dead UI-math cleanup
  docs/audits/v2-actor-authority-performance-phase-1.md
  helpers/handlebars/swse-helpers.js
  index.js
  scripts/actors/derived/derived-calculator.js
  scripts/actors/v2/actor-item-index.js
  scripts/actors/v2/base-actor.js
  scripts/actors/v2/character-actor.js
  scripts/engine/effects/modifiers/ModifierEngine.js
  scripts/sheets/v2/character-sheet.js
  scripts/utils/actor-perf-diagnostics.js
  scripts/utils/perf-agg.js
  tests/actor-item-index.test.mjs
  tests/perf-agg.test.mjs
Due: eslint --fix, prettier --write

Phase 1 final verification pass: prove instrumentation is observability-only
  docs/audits/v2-actor-authority-performance-phase-1.md
  tests/actor-perf-diagnostics-shim.test.mjs
  tests/perf-agg.test.mjs
Due: prettier --write

Phase 1: actor authority map + performance baseline instrumentation (#952)
  docs/audits/v2-actor-authority-performance-phase-1.md
  helpers/handlebars/swse-helpers.js
  index.js
  scripts/actors/derived/derived-calculator.js
  scripts/actors/v2/actor-item-index.js
  scripts/actors/v2/base-actor.js
  scripts/actors/v2/character-actor.js
  scripts/engine/effects/modifiers/ModifierEngine.js
  scripts/sheets/v2/character-sheet.js
  scripts/utils/actor-perf-diagnostics.js
  scripts/utils/perf-agg.js
  tests/actor-item-index.test.mjs
  tests/actor-perf-diagnostics-shim.test.mjs
  tests/perf-agg.test.mjs
Due: eslint --fix, prettier --write

Phase 2: actor data-model authority normalization
  docs/audits/v2-phase-2-actor-authority-normalization.md
  scripts/actors/derived/derived-calculator.js
  scripts/actors/npc/npc-mode-adapter.js
  scripts/actors/v2/vehicle-derived-builder.js
  scripts/engine/import/npc-template-importer-engine.js
  scripts/governance/actor-engine/actor-engine.js
  scripts/sheets/v2/npc/npc-sheet-helpers.js
  scripts/sheets/v2/vehicle-sheet/crew-resolver.js
  tests/derived-calculator-vehicle-dt-skip.test.mjs
  tests/npc-mode-adapter.test.mjs
  tests/vehicle-crew-count-shape-parity.test.mjs
  tests/vehicle-hp-hull-dt-authority.test.mjs
Due: eslint --fix, prettier --write

Phase 2B: authority normalization closure pass
  docs/audits/v2-phase-2-actor-authority-normalization.md
  scripts/engine/talent/consular-talent-actions.js
  scripts/engine/talent/force-adept-talent-actions.js
  scripts/engine/talent/jedi-prestige-talent-actions.js
  scripts/engine/talent/sentinel-talent-actions.js
  scripts/engine/talent/sith-talent-actions.js
  scripts/engine/talent/talent-ability-helpers.js
  scripts/governance/actor-engine/actor-engine.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  scripts/sheets/v2/vehicle-sheet/context.js
  scripts/sheets/v2/vehicle-sheet/vehicle-context-builder.js
  template.json
  tests/phase-2b-closure-fixes.test.mjs
Due: eslint --fix, prettier --write

Phase 2B compliance audit: correct two inaccurate claims
  docs/audits/v2-phase-2-actor-authority-normalization.md
Due: prettier --write

Phase 3: derived-data + performance optimization (redundant work elimination)
  docs/audits/v2-phase-3-derived-performance.md
  scripts/actors/derived/defense-calculator.js
  scripts/actors/derived/derived-calculator.js
  scripts/actors/v2/base-actor.js
  scripts/actors/v2/character-actor.js
  scripts/engine/effects/modifiers/ModifierEngine.js
  tests/character-actor-inventory-index-and-vehicle-skip.test.mjs
  tests/defense-calculator-species-bonus-hoist.test.mjs
  tests/derived-calculator-signature-reuse.test.mjs
  tests/modifier-engine-signature-reuse.test.mjs
Due: eslint --fix, prettier --write

Phase 3 live-benchmark pass: diagnostic label seam + benchmark procedure
  docs/audits/v2-phase-3-live-benchmark-procedure.md
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix, prettier --write

Phase 3B: static closure review — NPC concept-layout skip, Droid kept deferred
  docs/audits/v2-phase-3-derived-performance.md
  scripts/sheets/v2/character-sheet.js
  tests/npc-concept-layout-skip.test.mjs
Due: eslint --fix, prettier --write

Phase 4: extract SWSEV2VehicleSheet and shared SWSEV2ActorSheetBase
  index.js
  scripts/sheets/v2/actor-sheet-base.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/vehicle-actor-sheet.js
  tests/mentor-hologram-contract.test.mjs
  tests/phase3-vehicle-operator-resolution.test.mjs
  tests/phase6-vehicle-crew-assignment.test.mjs
Due: eslint --fix

Phase 4: split Character/NPC/Droid into dedicated controllers
  index.js
  scripts/apps/force-tradition/force-tradition-picker.js
  scripts/engine/combat/features/combat-feature-panel-renderer.js
  scripts/patches/follower-npc-sheet-parity-hotfix.js
  scripts/sheets/v2/character-like-sheet.js
  scripts/sheets/v2/character-sheet-diagnostics.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/droid-actor-sheet.js
  scripts/sheets/v2/npc-actor-sheet.js
  tests/droid-reconciliation-intent-boundary.test.mjs
  tests/dsp-engine-consolidation.test.mjs
  tests/npc-concept-layout-skip.test.mjs
  tests/superior-skills-talent-hydration.test.mjs
Due: eslint --fix

Phase 4: add sheet architecture contract tests
  tests/phase4-sheet-architecture-contract.test.mjs
Due: none

Phase 4: add sheet architecture audit doc
  docs/audits/v2-phase-4-sheet-architecture.md
Due: prettier --write

Phase 2: fix tag-flattening bug in weapon damage packet builder + add verification tests
  docs/audits/generated/damage-profile-audit.json
  docs/audits/generated/damage-profile-audit.md
  docs/audits/phase-2-weapon-packet-runtime-wiring.md
  docs/systems/CANONICAL_DAMAGE_PACKET.md
  scripts/engine/combat/builders/weapon-damage-packet-builder.js
  tools/lib/foundry-module-resolver.mjs
  tools/weapon-damage-packet-smoke-test.mjs
Due: eslint --fix, prettier --write

Phase 5: sheet action-integrity audit + subtype UX hardening
  docs/audits/v2-phase-5-sheet-ux-action-integrity.md
  scripts/dev/sheet-action-registry.mjs
  scripts/sheets/v2/character-like-sheet.js
  scripts/sheets/v2/character-sheet/force-ui.js
  scripts/sheets/v2/character-sheet/misc-ui.js
  scripts/sheets/v2/character-sheet/skills-ui.js
  scripts/sheets/v2/npc-actor-sheet.js
  scripts/sheets/v2/vehicle-actor-sheet.js
  templates/actors/npc/v2/partials/npc-header-dossier.hbs
  templates/actors/npc/v2/partials/npc-owner-panel.hbs
  tests/phase5-sheet-action-integrity-contract.test.mjs
  tests/phase5-subtype-context-integrity.test.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Fix stale CardAction.Announce localization assertion in progression test
  tests/progression-suggestion-and-render-contracts.test.mjs
Due: none

Phase 6: move Droid/NPC context ownership to subtype controllers
  docs/audits/v2-phase-6-context-render-performance.md
  scripts/sheets/v2/character-like-sheet.js
  scripts/sheets/v2/droid-actor-sheet.js
  scripts/sheets/v2/npc-actor-sheet.js
  tests/npc-concept-layout-skip.test.mjs
  tests/phase6-subtype-context-ownership-contract.test.mjs
Due: eslint --fix, prettier --write

fix(phase6): restore NPC context diagnostics and correct audit claims
  docs/audits/v2-phase-6-context-render-performance.md
  scripts/sheets/v2/npc-actor-sheet.js
  tests/phase6-subtype-context-ownership-contract.test.mjs
Due: eslint --fix, prettier --write

Phase 7: normalize Droid editability input and eliminate dead panel duplication
  scripts/sheets/v2/droid-actor-sheet.js
  scripts/sheets/v2/droid-sheet/context-builder.js
Due: eslint --fix

Phase 7: update stale Droid context-ownership doc comment
  scripts/sheets/v2/character-like-sheet.js
Due: eslint --fix

Phase 7: tests for Droid editability authority and panel-reuse contract
  tests/phase7-droid-editability-authority-contract.test.mjs
  tests/phase7-droid-panel-reuse-contract.test.mjs
Due: none

Phase 7: audit documentation
  docs/audits/v2-phase-7-droid-context-convergence.md
Due: prettier --write

fix(gm): repair faction mutation, job subtab wiring, and shell home leak
  scripts/ui/shell/gm/controllers/GMFactionRelationshipSurfaceController.js
  scripts/ui/shell/gm/controllers/GMJobBoardSurfaceController.js
  templates/shell/shell-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

refactor(gm): retire compatibility patches and job-status interaction repair
  scripts/ui/shell/gm/GMControllerCompatibilityService.js
  scripts/ui/shell/gm/GMInteractionRepairService.js
  scripts/ui/shell/gm/controllers/GMSurfaceControllerRegistry.js
Due: eslint --fix

test(gm): enforce datapad action and wizard integrity
  scripts/dev/gm-datapad-action-registry.mjs
  tests/gm-datapad-action-integrity-contract.test.mjs
  tests/gm-datapad-no-duplicate-handler-regression.test.mjs
  tests/gm-datapad-wizard-contract.test.mjs
Due: none

docs(gm): document datapad recovery audit
  docs/audits/gm-datapad-recovery-action-integrity.md
Due: prettier --write

fix(gm): wire the three placebo Faction Dossier actions
  scripts/ui/shell/gm/controllers/GMFactionRelationshipSurfaceController.js
Due: eslint --fix

fix(gm): upgrade action scanner to action-value-level reachability
  scripts/dev/gm-datapad-action-registry.mjs
  tests/gm-datapad-action-integrity-contract.test.mjs
Due: none

test(gm): prove wizard progression by executing it, not just reading it
  scripts/ui/shell/gm/controllers/GMJobBoardSurfaceController.js
  scripts/ui/shell/gm/utils/gm-wizard-navigation.js
  tests/gm-datapad-wizard-contract.test.mjs
  tests/gm-datapad-wizard-progression-execution.test.mjs
Due: eslint --fix

docs(gm): correct the audit for the review findings on PR #962
  docs/audits/gm-datapad-recovery-action-integrity.md
  tests/gm-datapad-no-duplicate-handler-regression.test.mjs
Due: prettier --write

fix(gm): tighten datapad action proof and finalize recovery audit
  docs/audits/gm-datapad-recovery-action-integrity.md
  scripts/dev/gm-datapad-action-registry.mjs
  tests/gm-datapad-action-integrity-contract.test.mjs
Due: prettier --write

GM Datapad recovery: fix duplicate handlers, dead faction mutations, and dead subtabs (#962)
  docs/audits/gm-datapad-recovery-action-integrity.md
  scripts/dev/gm-datapad-action-registry.mjs
  scripts/ui/shell/gm/GMControllerCompatibilityService.js
  scripts/ui/shell/gm/GMInteractionRepairService.js
  scripts/ui/shell/gm/controllers/GMFactionRelationshipSurfaceController.js
  scripts/ui/shell/gm/controllers/GMJobBoardSurfaceController.js
  scripts/ui/shell/gm/controllers/GMSurfaceControllerRegistry.js
  scripts/ui/shell/gm/utils/gm-wizard-navigation.js
  templates/shell/shell-surface.hbs
  tests/gm-datapad-action-integrity-contract.test.mjs
  tests/gm-datapad-no-duplicate-handler-regression.test.mjs
  tests/gm-datapad-wizard-contract.test.mjs
  tests/gm-datapad-wizard-progression-execution.test.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

fix(gm): restore Locations surface view-model contract
  templates/shell/shell-surface.hbs
Due: node scripts/validate/validate-icon-keys.js

fix(gm): honor Location creation prefill defaults
  scripts/ui/shell/gm/GMLocationsSurfaceService.js
Due: eslint --fix

test(gm): enforce Locations render and prefill contracts
  tests/gm-locations-surface-context-contract.test.mjs
Due: none

docs(gm): document Locations Phase 0 recovery
  docs/audits/gm-locations-phase-0-functional-recovery.md
Due: prettier --write

fix(gm): make Locations library import deterministic
  scripts/locations/location-registry-service.js
  scripts/ui/shell/gm/controllers/GMLocationsSurfaceController.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
