Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

fix: harden character sheet partials with null guards
  scripts/sheets/v2/character-sheet.js
  templates/actors/character/v2/partials/Force.hbs
  templates/actors/character/v2/partials/feats-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

feat: wire up character sheet header buttons to apps
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

feat: add actor sidebar header controls (Chargen, Store, Templates)
  scripts/infrastructure/hooks/actor-sidebar-controls.js
  scripts/infrastructure/hooks/ui-hooks.js
Due: eslint --fix

feat: implement handlers for skills, combat, force, and feature buttons
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

feat: implement combat, force, and animation execution engines
  scripts/engine/animation-engine.js
  scripts/engine/combat/combat-executor.js
  scripts/engine/force/force-executor.js
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

docs: Store system static code audit (Part 1 of Store audit + Sentinel spec)
  AUDIT_REPORT_STORE_STATIC.md
Due: prettier --write

feat: implement sentinel-mall-cop passive monitoring layer for Store system
  scripts/governance/sentinel/sentinel-mall-cop.js
Due: eslint --fix

docs: Always-on passive audit architecture specification
  AUDIT_ALWAYS_ON.md
Due: prettier --write

feat: implement all always-on passive Sentinel audit layers
  scripts/governance/sentinel/sentinel-dashboard.js
  scripts/governance/sentinel/sentinel-registry.js
  scripts/governance/sentinel/sentinel-roll-pipeline.js
  scripts/governance/sentinel/sentinel-sheet-hydration.js
  scripts/governance/sentinel/sentinel-template-integrity.js
  scripts/governance/sentinel/sentinel-update-atomicity.js
Due: eslint --fix

docs: Complete implementation summary and verification checklist
  IMPLEMENTATION_COMPLETE.md
Due: prettier --write

feat: add categorized Sentinel reports with file/line enrichment
  scripts/governance/sentinel/SENTINEL_CATEGORIZATION_GUIDE.md
  scripts/governance/sentinel/sentinel-categories.js
  scripts/governance/sentinel/sentinel-core.js
  scripts/governance/sentinel/sentinel-debug-api.js
  scripts/governance/sentinel/sentinel-init.js
  scripts/governance/sentinel/sentinel-mall-cop.js
  scripts/governance/sentinel/sentinel-roll-pipeline.js
  scripts/governance/sentinel/sentinel-sheet-hydration.js
  scripts/governance/sentinel/sentinel-source-mapper.js
  scripts/governance/sentinel/sentinel-template-integrity.js
  scripts/governance/sentinel/sentinel-update-atomicity.js
Due: eslint --fix, prettier --write

docs: Complete Sentinel categorized dashboard specification
  SENTINEL_DASHBOARD_COMPLETE.md
Due: prettier --write

docs: consolidate all Sentinel documentation into single README
  AUDIT_ALWAYS_ON.md
  AUDIT_REPORT_STORE_STATIC.md
  AUDIT_REPORT_V2_GOVERNANCE.md
  IMPLEMENTATION_COMPLETE.md
  SENTINEL_DASHBOARD_COMPLETE.md
  SENTINEL_FORENSICS_GUIDE.md
  SENTINEL_REPORTING_GUIDE.md
  docs/SENTINEL_README.md
Due: prettier --write

Updates to passives
  packs/feats.db
  packs/talents.db
  scripts/combat/systems/grappling-system.js
  scripts/combat/utils/combat-utils.js
  scripts/data-models/character-data-model.js
  scripts/engine/abilities/ability-execution-coordinator.js
  scripts/engine/abilities/passive/rule-types.js
  scripts/engine/abilities/passive/species-trait-passive-adapter.js
  scripts/engine/systems/species/species-trait-engine.js
  scripts/rolls/skills.js
Due: eslint --fix

Fix missing script imports
  scripts/engine/capabilities/capability-registry.js
  scripts/engine/skills/SkillEnforcementEngine.js
Due: eslint --fix

Implement SkillEnforcementEngine architecture
  scripts/engine/skills/SkillEnforcementEngine.js
  scripts/engine/skills/rules/armor-rule.js
  scripts/engine/skills/rules/condition-rule.js
  scripts/engine/skills/rules/environment-rule.js
  scripts/engine/skills/rules/feat-species-rule.js
  scripts/engine/skills/rules/index.js
  scripts/engine/skills/rules/retry-rule.js
  scripts/engine/skills/rules/substitution-rule.js
  scripts/engine/skills/rules/training-rule.js
  scripts/engine/skills/skill-attempt-registry.js
  scripts/engine/skills/skill-enforcement-engine.js
Due: eslint --fix

Fix condition-rule to use actor methods as canonical authority
  scripts/engine/skills/rules/condition-rule.js
Due: eslint --fix

Document complete skill engine system wiring
  SKILL_ENGINE_WIRING.md
Due: prettier --write

Phase 1: Add EXTEND_CRITICAL_RANGE rule token
  scripts/engine/abilities/passive/rule-types.js
  scripts/engine/execution/rules/rule-definitions.js
  scripts/engine/execution/rules/rule-enum.js
Due: eslint --fix

Phase 2: RuleCollector and ResolutionContext support
  scripts/engine/execution/rules/rule-collector.js
  scripts/engine/resolution/resolution-context.js
Due: eslint --fix

Phase 3: Combat hook for threat range calculation
  scripts/combat/rolls/enhanced-rolls.js
  scripts/combat/systems/enhanced-combat-system.js
  scripts/combat/utils/combat-utils.js
Due: eslint --fix

Phase 4: Migrate Extended Critical Range talents
  packs/talents.db
Due: none

Phase B: Add CRITICAL_DAMAGE_BONUS rule enum and integration
  scripts/combat/rolls/damage.js
  scripts/combat/utils/combat-utils.js
  scripts/engine/abilities/passive/rule-types.js
  scripts/engine/execution/rules/rule-definitions.js
  scripts/engine/execution/rules/rule-enum.js
Due: eslint --fix

Fix SkillEnforcementEngine import path
  scripts/rolls/skills.js
Due: eslint --fix

Phase B: Document CRITICAL_DAMAGE_BONUS pattern and migration
  PHASE_B_DOCUMENTATION.md
Due: prettier --write

Phase C: Add MODIFY_CRITICAL_MULTIPLIER rule enum and integration
  scripts/combat/rolls/enhanced-rolls.js
  scripts/combat/utils/combat-utils.js
  scripts/engine/abilities/passive/rule-types.js
  scripts/engine/execution/rules/rule-definitions.js
  scripts/engine/execution/rules/rule-enum.js
Due: eslint --fix

Design and implement WeaponsEngine (Phase 1: Core Structure)
  WEAPONS_ENGINE_DESIGN.md
  scripts/engine/combat/weapons/weapons-engine.js
Due: eslint --fix, prettier --write

Implement CombatRulesRegistry system (shared rule substrate)
  scripts/engine/rules/modules/core/critical-rule.js
  scripts/engine/rules/modules/core/index.js
  scripts/engine/rules/modules/core/proficiency-rule.js
  scripts/engine/rules/rules-registry.js
Due: eslint --fix

Add comprehensive architecture summary (session milestone)
  ARCHITECTURE_SUMMARY.md
Due: prettier --write

Refactor WeaponsEngine to use CombatRulesRegistry + Add Phase D + Core Rules
  scripts/combat/utils/combat-utils.js
  scripts/engine/abilities/passive/rule-types.js
  scripts/engine/combat/weapons/weapons-engine.js
  scripts/engine/execution/rules/rule-definitions.js
  scripts/engine/execution/rules/rule-enum.js
  scripts/engine/rules/modules/core/ability-modifier-rule.js
  scripts/engine/rules/modules/core/base-attack-bonus-rule.js
  scripts/engine/rules/modules/core/condition-penalty-rule.js
  scripts/engine/rules/modules/core/damage-rule.js
  scripts/engine/rules/modules/core/index.js
  scripts/engine/rules/modules/core/strength-to-damage-rule.js
Due: eslint --fix

Complete Phase D: Add critical-confirm-bonus-rule to core rule modules
  scripts/engine/rules/modules/core/critical-confirm-bonus-rule.js
  scripts/engine/rules/modules/core/index.js
Due: eslint --fix

Wire critical-confirm-bonus into confirmation roll flow
  scripts/rolls/roll-config.js
Due: eslint --fix

Implement reach/range validation as modular rule (Phase E)
  scripts/engine/combat/weapons/weapons-engine.js
  scripts/engine/rules/modules/core/index.js
  scripts/engine/rules/modules/core/reach-rule.js
Due: eslint --fix

Add talent rule pattern guide (Phase E reference)
  PHASE_E_TALENT_RULE_PATTERN.md
Due: prettier --write

Add comprehensive session consolidation summary
  SESSION_CONSOLIDATION_SUMMARY.md
Due: prettier --write

Add Weapon Specialization talent rule (Phase F beginning)
  index.js
  scripts/engine/abilities/passive/rule-types.js
  scripts/engine/execution/rules/rule-definitions.js
  scripts/engine/execution/rules/rule-enum.js
  scripts/engine/rules/modules/talents/index.js
  scripts/engine/rules/modules/talents/weapon-specialization-rule.js
Due: eslint --fix

Add Weapon Specialization migration guide
  TALENT_MIGRATION_WEAPON_SPECIALIZATION.md
Due: prettier --write

Document architecture status vs. user requirements
  ARCHITECTURE_STATUS_VS_REQUIREMENTS.md
Due: prettier --write

Implement ActionEngine: Pure turn-based action economy
  scripts/engine/combat/action/action-engine.js
Due: eslint --fix
