Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

Phase 5: Integrate character templates as canonical progression source
  data/character-templates.json
  docs/TEMPLATE_INTEGRATION_SPEC.md
  scripts/apps/progression-framework/chargen-shell.js
  scripts/apps/progression-framework/dialogs/template-selection-dialog.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/engine/progression/template/template-adapter.js
  scripts/engine/progression/template/template-initializer.js
  scripts/engine/progression/template/template-registry.js
  scripts/migration/template-schema-migrator.js
  templates/apps/progression-framework/dialogs/template-selection.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Phase 5: Complete template integration with validation and L1 traversal
  scripts/apps/progression-framework/chargen-shell.js
  scripts/engine/progression/template/template-integration.test.js
Due: eslint --fix

Phase 5: Complete handoff documentation for character template integration
  docs/CHARACTER_TEMPLATE_INTEGRATION_HANDOFF.md
Due: prettier --write

Add template file ingestion verification report
  docs/TEMPLATE_FILE_INGESTION_VERIFICATION.md
Due: prettier --write

Stabilization Phase: Mutation Sovereignty Restoration
  scripts/apps/chargen/chargen-finalizer.js
  scripts/apps/levelup/levelup-force-powers.js
  scripts/apps/progression-framework/shell/progression-finalizer.js
  scripts/engine/force/force-power-effects-engine.js
  scripts/governance/actor-engine/actor-engine.js
  scripts/governance/mutation/MutationInterceptor.js
  scripts/infrastructure/hooks/talent-effects-hooks.js
  tests/mutation-sovereignty.test.js
Due: eslint --fix

STABILIZATION PHASE: Mutation Sovereignty Restoration
  MUTATION-SOVEREIGNTY-RESTORATION-HANDOFF.md
  scripts/apps/item-selling-system.js
  scripts/core/runtime-safety.js
  scripts/engine/combat/CombatEngine.js
  scripts/houserules/houserule-status-effects.js
  scripts/infrastructure/hooks/actor-hooks.js
  scripts/talents/DarkSidePowers.js
  scripts/utils/force-power-manager.js
  scripts/validate-mutation-sovereignty.js
  tests/mutation-sovereignty.test.js
Due: eslint --fix, prettier --write

Phase 1: Subtype Host Seam — Progression Engine Adapter Architecture
  PHASE_1_SUBTYPE_HOST_SEAM_HANDOFF.md
  scripts/apps/progression-framework/adapters/default-subtypes.js
  scripts/apps/progression-framework/adapters/progression-subtype-adapter-registry.js
  scripts/apps/progression-framework/adapters/progression-subtype-adapter.js
  scripts/apps/progression-framework/chargen-shell.js
  scripts/apps/progression-framework/shell/active-step-computer.js
  scripts/apps/progression-framework/shell/progression-finalizer.js
  scripts/apps/progression-framework/shell/progression-session.js
  scripts/apps/progression-framework/shell/projection-engine.js
  tests/phase-1-subtype-adapter-seam.test.js
Due: eslint --fix, prettier --write

Phase 1 Corrective: Follower Classification as Dependent Participant
  PHASE_1_SUBTYPE_HOST_SEAM_HANDOFF_CORRECTED.md
  scripts/apps/progression-framework/adapters/default-subtypes.js
  scripts/apps/progression-framework/adapters/progression-subtype-adapter-registry.js
  scripts/apps/progression-framework/adapters/progression-subtype-adapter.js
  scripts/apps/progression-framework/shell/progression-session.js
  tests/phase-1-subtype-adapter-seam.test.js
Due: eslint --fix, prettier --write

Phase 2: Nonheroic Consumption through Adapter Seam
  scripts/apps/progression-framework/adapters/default-subtypes.js
  scripts/apps/progression-framework/adapters/nonheroic-session-seeder.js
  scripts/apps/progression-framework/adapters/talent-cadence-helper.js
  scripts/apps/progression-framework/chargen-shell.js
  tests/phase-1-subtype-adapter-seam.test.js
Due: eslint --fix

Add Phase 2 handoff documentation
  PHASE_2_NONHEROIC_CONSUMPTION_HANDOFF.md
Due: prettier --write

Phase 2 Expansion: Beast as Nonheroic Profile/Variant
  scripts/apps/progression-framework/adapters/nonheroic-session-seeder.js
  tests/phase-1-subtype-adapter-seam.test.js
Due: eslint --fix

Add Phase 2 Beast Expansion handoff documentation
  PHASE_2_NONHEROIC_CONSUMPTION_HANDOFF_BEAST_EXPANSION.md
Due: prettier --write

Phase 2 Expanded: Update Beast source trace with comprehensive audit
  PHASE_2_NONHEROIC_CONSUMPTION_HANDOFF_BEAST_EXPANSION.md
Due: prettier --write

Phase 3: Core follower integration infrastructure
  scripts/apps/follower-creator.js
  scripts/apps/progression-framework/adapters/default-subtypes.js
  scripts/apps/progression-framework/adapters/follower-advancer.js
  scripts/apps/progression-framework/adapters/follower-session-seeder.js
Due: eslint --fix

Phase 3: Create comprehensive handoff documentation
  PHASE_3_FOLLOWER_CONSUMPTION_HANDOFF.md
Due: prettier --write

Phase 3.5: Add Build Follower entry point to Relationships tab
  scripts/apps/progression-framework/progression-entry.js
  scripts/sheets/v2/character-sheet.js
  templates/actors/character/v2/partials/relationships-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 3 Rules Correction: Replace level-by-level with derivation model
  scripts/apps/progression-framework/adapters/default-subtypes.js
  scripts/apps/progression-framework/adapters/follower-deriver.js
Due: eslint --fix

Phase 3.5: Implement 7-step follower creation flow in progression spine
  scripts/apps/follower-creator.js
  scripts/apps/progression-framework/adapters/default-subtypes.js
  scripts/apps/progression-framework/follower-shell.js
  scripts/apps/progression-framework/progression-entry.js
  scripts/apps/progression-framework/steps/follower-steps/follower-background-step.js
  scripts/apps/progression-framework/steps/follower-steps/follower-confirm-step.js
  scripts/apps/progression-framework/steps/follower-steps/follower-feat-step.js
  scripts/apps/progression-framework/steps/follower-steps/follower-language-step.js
  scripts/apps/progression-framework/steps/follower-steps/follower-skills-step.js
  scripts/apps/progression-framework/steps/follower-steps/follower-species-step.js
  scripts/apps/progression-framework/steps/follower-steps/follower-step-base.js
  scripts/apps/progression-framework/steps/follower-steps/follower-template-step.js
  scripts/settings/house-rules.js
Due: eslint --fix

Add null actor handling and follower finalization in ProgressionShell
  scripts/apps/progression-framework/follower-shell.js
  scripts/apps/progression-framework/shell/progression-finalizer.js
  scripts/apps/progression-framework/shell/progression-shell.js
Due: eslint --fix

Phase 3.6: Fix critical follower integration defects
  PHASE_3.6_VERIFICATION_AUDIT.md
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/follower-steps/follower-step-base.js
  scripts/apps/progression-framework/testing/phase-3.6-follower-verification.test.js
Due: eslint --fix, prettier --write

Add Phase 3.6 Verification Handoff document
  PHASE_3.6_HANDOFF.md
Due: prettier --write

Phase 2.5: Implement Nonheroic Character Builder Adaptation
  PHASE_2.5_NONHEROIC_CHARGEN_ADAPTATION_HANDOFF.md
  scripts/apps/progression-framework/adapters/default-subtypes.js
  scripts/apps/progression-framework/steps/class-step.js
  scripts/apps/progression-framework/steps/nonheroic-starting-feats-step.js
  scripts/apps/progression-framework/steps/skills-step.js
  scripts/apps/progression-framework/testing/phase-2.5-nonheroic-integration.test.js
Due: eslint --fix, prettier --write

Phase 2.6: Adapt Nonheroic Templates into Unified Progression Spine
  PHASE_2.6_NONHEROIC_TEMPLATE_ADAPTATION_HANDOFF.md
  data/nonheroic-templates.json
  scripts/apps/progression-framework/chargen-shell.js
  scripts/apps/progression-framework/dialogs/template-selection-dialog.js
  scripts/apps/progression-framework/testing/phase-2.6-nonheroic-template-adaptation.test.js
  scripts/engine/progression/template/template-adapter.js
  scripts/engine/progression/template/template-registry.js
Due: eslint --fix, prettier --write

Phase 2.7: Implement Beast Builder Adapter and skill list constraints
  data/nonheroic-templates.json
  scripts/apps/progression-framework/adapters/beast-subtype-adapter.js
  scripts/apps/progression-framework/adapters/progression-subtype-adapter-registry.js
  scripts/apps/progression-framework/chargen-shell.js
  scripts/apps/progression-framework/steps/skills-step.js
  scripts/apps/progression-framework/testing/phase-2.7-beast-builder-adaptation.test.js
Due: eslint --fix, prettier --write

Add Phase 2.7 Beast Builder Adaptation handoff documentation
  PHASE_2.7_BEAST_BUILDER_ADAPTATION_HANDOFF.md
Due: prettier --write

Phase 2.7B: Verification report — identify architectural honesty issues
  PHASE_2.7B_VERIFICATION_REPORT.md
Due: prettier --write

Phase 2.7B: Fix architectural honesty issues in Beast integration
  PHASE_2.7_BEAST_BUILDER_ADAPTATION_HANDOFF.md
  scripts/engine/progression/data/progression-data.js
Due: eslint --fix, prettier --write

Phase 2.8: Beast full spine integration — registry and level-up routing
  scripts/apps/progression-framework/adapters/beast-subtype-adapter.js
  scripts/apps/progression-framework/levelup-shell.js
  scripts/apps/progression-framework/registries/progression-node-registry.js
  scripts/apps/progression-framework/shell/active-step-computer.js
Due: eslint --fix

Phase 2.8: Complete Beast full spine integration with tests and handoff
  PHASE_2.8_BEAST_FULL_SPINE_INTEGRATION_HANDOFF.md
  scripts/apps/progression-framework/testing/phase-2.8-beast-full-spine-integration.test.js
Due: eslint --fix, prettier --write

Implement canonical document-targeting policy for progression
  scripts/apps/progression-framework/policies/progression-document-target-policy.js
  scripts/apps/progression-framework/progression-entry.js
  scripts/apps/progression-framework/shell/progression-finalizer.js
Due: eslint --fix

Add comprehensive document-targeting tests
  scripts/apps/progression-framework/testing/document-targeting-tests.test.js
Due: eslint --fix

Add Document Targeting Implementation handoff
  DOCUMENT_TARGETING_IMPLEMENTATION.md
Due: prettier --write

feat: surface force techniques, force secrets, and starship maneuvers on v2 character sheet
  scripts/actors/v2/character-actor.js
  templates/actors/character/v2/character-sheet.hbs
  templates/actors/character/v2/partials/force-secrets-panel.hbs
  templates/actors/character/v2/partials/force-techniques-panel.hbs
  templates/actors/character/v2/partials/starship-maneuvers-known-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Implement dynamic step visibility and auto-skip navigation
  STEP_APPLICABILITY_AUDIT.md
  scripts/apps/progression-framework/shell/active-step-computer.js
  scripts/apps/progression-framework/shell/progression-shell.js
Due: eslint --fix, prettier --write

Add verification checklist for dynamic step visibility
  VERIFICATION_CHECKLIST.md
Due: prettier --write

Implement canonical step-status model to prevent false-completion indicators
  STEP_STATUS_AUDIT.md
  scripts/apps/progression-framework/shell/progression-session.js
  scripts/apps/progression-framework/shell/progression-shell.js
  templates/apps/progression-framework/progress-rail.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Add comprehensive navigation model audit
  NAVIGATION_AUDIT.md
Due: prettier --write

Phase 1: Implement ID-based navigation helpers
  scripts/apps/progression-framework/shell/progression-shell.js
Due: eslint --fix

Phase 2: Implement downstream invalidation tracking
  scripts/apps/progression-framework/shell/progression-shell.js
Due: eslint --fix

Add comprehensive navigation verification checklist
  NAVIGATION_VERIFICATION.md
Due: prettier --write
