Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Phase 1: FORCE_POWER execution model - Schema and Contract Validation
  scripts/engine/abilities/ability-execution-coordinator.js
  scripts/engine/abilities/force-power/force-power-adapter.js
  scripts/engine/abilities/force-power/force-power-contract.js
  scripts/engine/abilities/force-power/force-power-types.js
Due: eslint --fix

Phase 2: UNLOCK execution model - Schema and Contract Validation
  scripts/engine/abilities/unlock/unlock-adapter.js
  scripts/engine/abilities/unlock/unlock-contract.js
  scripts/engine/abilities/unlock/unlock-types.js
Due: eslint --fix

Update AbilityExecutionCoordinator scope documentation
  scripts/engine/abilities/ability-execution-coordinator.js
Due: eslint --fix

Phase 4: ACTIVE Model Completion - Comprehensive Testing & Documentation
  scripts/engine/abilities/active/ACTIVE-GUIDE.md
  tests/governance/active-governance.test.js
  tests/integration/active-pipeline.test.js
  tests/unit/active-contract.test.js
  tests/unit/effect-resolver.test.js
Due: eslint --fix, prettier --write

Add ACTIVE Model migration validator tool
  scripts/engine/abilities/active/active-migration-validator.js
Due: eslint --fix

Add species ability migration tool and analysis
  scripts/tools/migrate-species-abilities.js
Due: eslint --fix

Complete species abilities migration to ACTIVE/EFFECT execution model
  data/species-abilities-migrated.json
  docs/SPECIES-ABILITIES-MIGRATION.md
  scripts/engine/abilities/active/species-ability-handlers.js
Due: eslint --fix, prettier --write

Fix critical gaps: Tag Force Powers and update Coordinator
  packs/forcepowers.db
  scripts/engine/abilities/ability-execution-coordinator.js
Due: eslint --fix

Update pack data - add missing executionModel fields
  packs/feats.db
  packs/talents.db
Due: none

Migrate Force Techniques and Secrets to v2 derived state
  scripts/actors/v2/character-actor.js
Due: eslint --fix

Add comprehensive class features registry
  data/class-features.json
Due: prettier --write

Add missing script re-export modules for SentinelEngine and PrerequisiteChecker
  scripts/engine/progression/prerequisite-checker.js
  scripts/sentinel/sentinel-engine.js
Due: eslint --fix

updates
  docs/ACTIONENGINE_IMPLEMENTATION_SUMMARY.md
  docs/ACTION_ECONOMY_INDICATOR_INTEGRATION.md
  docs/ACTION_ECONOMY_VERIFICATION.md
  docs/ACTION_POLICY_UI_INTEGRATION.md
  docs/ACTIVE_IMPLEMENTATION_FINAL_REPORT.md
  docs/ARCHITECTURE_STATUS_VS_REQUIREMENTS.md
  docs/ARCHITECTURE_SUMMARY.md
  docs/CLAUDE.md
  docs/CODE_AUTHORITY_AUDIT.md
  docs/FINAL_SESSION_ARCHITECTURE_COMPLETE.md
  docs/PASSIVE_REMAINING_ACTION_PLAN.md
  docs/PASSIVE_STATE_MIGRATION_FINAL_REPORT.md
  docs/PHASE_B_DOCUMENTATION.md
  docs/PHASE_E_TALENT_RULE_PATTERN.md
  docs/SCHEMA_FIELD_CORRECTIONS.md
  docs/SCHEMA_INGESTION_AUDIT.md
  docs/SESSION_CONSOLIDATION_SUMMARY.md
  docs/SESSION_FINAL_DELIVERY.md
  docs/SKILL_ENGINE_WIRING.md
  docs/TALENT_MIGRATION_WEAPON_SPECIALIZATION.md
  docs/UI_BUTTON_BINDING_PATTERN.md
  docs/WEAPONS_ENGINE_DESIGN.md
Due: prettier --write

Fix progression engine import paths
  scripts/apps/template-character-creator.js
  scripts/apps/vehicle-modification-app.js
Due: eslint --fix

fix: Mark getContextData as async to allow await import statements
  scripts/ui/combat/action-economy-integration.js
Due: eslint --fix

Fix sentinel export: rename initializeSentinel to initializeSentinelGovernance
  scripts/governance/sentinel/sentinel-init.js
Due: eslint --fix

Fix duplicate variable declaration of criticalConfirmBonusRule
  scripts/engine/rules/modules/core/index.js
Due: eslint --fix

Fix: Register houserule settings in initialization
  index.js
Due: eslint --fix

Fix: Resolve TDZ error - move system variable declaration before use
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

Fix: Repair bootstrap namespace and attach core engines to window.SWSE
  index.js
  scripts/apps/droid-builder-app.js
  scripts/engine/droid-validation-engine.js
  scripts/sheets/v2/droid-sheet-v2.js
  scripts/sheets/v2/vehicle-sheet.js
Due: eslint --fix

Implement: Real droid validation engine (replace stub)
  scripts/engine/droid-validation-engine.js
Due: eslint --fix

Fix: Add missing template partials to preload list
  scripts/core/load-templates.js
Due: eslint --fix

Fix: Replace v1 activateTab() with v13 changeTab(tab, group)
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

Fix missing template file path for combat action economy panel
  scripts/core/load-templates.js
  templates/partials/ui/combat/action-economy-display.hbs
  templates/partials/ui/combat/combat-action-economy-panel.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

fix: Handle invalid flag scope error when opening character sheet
  scripts/engine/combat/action/action-economy-persistence.js
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

fix: Correct flag scope throughout codebase - use full system ID
  scripts/engine/abilities/active/active-adapter.js
  scripts/engine/combat/action/action-economy-persistence.js
  scripts/engine/effects/modifiers/ModifierEngineExtensions.js
  scripts/engine/suggestion/AnchorRepository.js
  scripts/sheets/v2/character-sheet-integration-audit.js
  scripts/sheets/v2/character-sheet-integration-test-harness.js
  scripts/sheets/v2/character-sheet.js
  scripts/utils/hardening.js
Due: eslint --fix

docs: Update action economy persistence comment to reflect correct scope
  scripts/engine/combat/action/action-economy-persistence.js
Due: eslint --fix

Fix actionEconomyMode setting namespace mismatch
  scripts/engine/combat/action/action-policy-controller.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/npc-combat-sheet.js
  scripts/sheets/v2/npc-sheet.js
Due: eslint --fix

Fix system ID namespace drift across flags and settings
  scripts/combat/utils/combat-utils.js
  scripts/core/flag-registry.js
  scripts/core/settings.js
  scripts/engine/crafting/lightsaber-construction-engine.js
  system.json
Due: eslint --fix, prettier --write

Fix ApplicationV2 template contract: remove PARTS definition and use monolithic template
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

Fix Foundry VTT v13 ApplicationV2 sheet layout flex containment
  styles/layout/sheet-layout.css
Due: none

Fix: Add static PARTS to restore character sheet body rendering
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

Fix: Use correct template override for ActorSheetV2
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

Fix ActorSheetV2 template not rendering
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

Add lifecycle instrumentation to character sheet render pipeline
  index.js
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

Add production-grade structured debugger module
  index.js
  scripts/debug/swse-debugger.js
Due: eslint --fix

Remove temporary instrumentation, centralize in SWSEDebugger
  index.js
  scripts/sheets/v2/character-sheet.js
Due: eslint --fix

Upgrade debugger to full observability architecture
  index.js
  scripts/debug/swse-debugger.js
Due: eslint --fix

Implement structured diagnostic reports + enhanced health reasons
  index.js
  scripts/debug/sentinel-reports.js
  scripts/governance/sentinel/sentinel-core.js
Due: eslint --fix

Add Sentinel subsystem coherence audit (read-only analysis)
  SENTINEL_COHERENCE_AUDIT.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
