Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Implement Phase 2 Step 2: Locomotion (Stress-Test StepController)
  scripts/apps/droid-builder-app.js
  scripts/engine/droid-validation-engine.js
  templates/apps/droid-builder.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Complete Phase 2: All 7 System Steps Fully Wired and Ready
  scripts/apps/droid-builder-app.js
  templates/apps/droid-builder.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Add Phase 3 Design: Seraphim Narrator & Store Integration
  PHASE3_DESIGN.md
Due: prettier --write

Lock Phase 3 Design: Answer 6 Planning Questions
  PHASE3_DESIGN.md
Due: prettier --write

Implement Phase 3a: Seraphim Narrator (Read-Only Reactive Dialogue)
  scripts/apps/droid-builder-app.js
  scripts/apps/seraphim-narrator.js
  templates/apps/droid-builder.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 3b Step 1: Define Builder Entry API
  scripts/apps/droid-builder-app.js
Due: eslint --fix

Phase 3b Step 2: Integrate DroidBuilderApp with Store UI
  scripts/apps/store/store-checkout.js
  scripts/apps/store/store-main.js
  templates/apps/store/store-card-grid.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 3b Step 5: Implement GM Approval Flow (Optional)
  PHASE3_DESIGN.md
  lang/en.json
  scripts/core/settings.js
Due: eslint --fix, prettier --write

Phase 3c + 3d: Edit Mode + Template System (Complete)
  scripts/apps/droid-builder-app.js
  scripts/apps/store/store-checkout.js
  scripts/apps/store/store-main.js
  scripts/sheets/v2/droid-sheet.js
  templates/actors/droid/v2/droid-sheet.hbs
  templates/actors/droid/v2/partials/droid-systems-panel.hbs
  templates/apps/store/store-card-grid.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phases 4-6: GM Approval Dashboard + Build History + Template Infrastructure
  TEMPLATE_SYSTEM.md
  scripts/apps/droid-builder-app.js
  scripts/apps/gm-droid-approval-dashboard.js
  scripts/core/init.js
  templates/actors/droid/v2/droid-sheet.hbs
  templates/actors/droid/v2/partials/droid-build-history.hbs
  templates/apps/gm-droid-approval-dashboard.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

move to docs
  docs/CONSOLIDATION-COMPLETE.md
  docs/DROID_BUILDER_DESIGN.md
  docs/FINAL_STATUS_REPORT.md
  docs/HARDENING_IMPLEMENTATION_COMPLETE.md
  docs/HARDENING_PHASE_2_REPORT.md
  docs/MIGRATIONS_AND_COMPATIBILITY.md
  docs/PHASE-1-AUDIT.md
  docs/PHASE-3-SSOT-SUMMARY.md
  docs/PHASE-5-VERIFICATION.md
  docs/PHASE-5B-COMPENDIUM-COMPLIANCE.md
  docs/PHASE-5C-5D-CHARGEN-SUGGESTIONS.md
  docs/PHASE2_DESIGN.md
  docs/PHASE2_LOCOMOTION_SANITY_CHECK.md
  docs/PHASE2_STEPCONTROLLER_DESIGN.md
  docs/PHASE3_DESIGN.md
  docs/PHASE_2_COMPLETION_FINAL.md
  docs/SESSION_COMPLETION_REPORT.md
  docs/STEPCONTROLLER_IMPLEMENTATION.md
  docs/STORE-AUDIT-V2-NECESSITY.md
  docs/SYSTEMS_AND_RULES.md
  docs/TEMPLATE_SYSTEM.md
Due: prettier --write

Add missing SWSEActorBase class for actor script loading
  scripts/actors/base/swse-actor-base.js
Due: eslint --fix

Restore swse-actor-base.js as v2-compliant domain layer
  scripts/actors/base/swse-actor-base.js
Due: eslint --fix

Restore missing contract files for AppV2 migration
  scripts/apps/gear-templates-engine.js
  scripts/apps/upgrade-rules-engine.js
  scripts/mentor/aurebesh-translator.js
  scripts/mentor/translation-presets.js
Due: eslint --fix

Implement REQUIRED modules from phantom import audit
  scripts/apps/levelup/levelup-main.js
  scripts/apps/mentor/mentor-dialogues.data.js
  scripts/apps/mentor/mentor-dialogues.js
  scripts/apps/mentor/mentor-suggestion-dialog.js
  scripts/apps/mentor/mentor-survey.js
  scripts/combat/aid-another.js
  scripts/combat/combat-automation.js
  scripts/combat/rolls/enhanced-rolls.js
  scripts/combat/systems/enhanced-combat-system.js
  scripts/combat/systems/grappling-system.js
  scripts/combat/systems/vehicle/vehicle-collisions.js
  scripts/combat/systems/vehicle/vehicle-combat-main.js
  scripts/combat/systems/vehicle/vehicle-dogfighting.js
  scripts/combat/systems/vehicle/vehicle-weapons.js
Due: eslint --fix

Implement Mentor Judgment Engine (AppV2 Engine Layer)
  scripts/engine/mentor/index.js
  scripts/engine/mentor/mentor-decision-logger.js
  scripts/engine/mentor/mentor-intensity-atoms.js
  scripts/engine/mentor/mentor-reason-renderer.js
Due: eslint --fix

Fix species trait engine import paths
  scripts/data-models/character-data-model.js
  scripts/species/index.js
  scripts/species/species-reroll-handler.js
Due: eslint --fix

Fix secondary phantom imports: centralize species-trait-types, correct logger paths
  scripts/apps/mentor/mentor-dialogues.js
  scripts/engine/systems/species/species-trait-engine.js
  scripts/engine/systems/species/species-trait-types.js
  scripts/species/index.js
  scripts/species/species-reroll-handler.js
Due: eslint --fix

Fix syntax error: remove duplicate icon property and fix missing comma
  scripts/engine/ForceOptionSuggestionEngine.js
Due: eslint --fix

Add getTierMetadata export to suggestion-unified-tiers.js
  scripts/engine/suggestion-unified-tiers.js
Due: eslint --fix

AppV2 purification: fix lifecycle violation and convert Dialog to ApplicationV2
  scripts/apps/character-import-wizard.js
  scripts/apps/destiny-spending-dialog.js
  scripts/apps/mentor/mentor-suggestion-dialog.js
  scripts/core/first-run-experience.js
  scripts/core/hardening-init.js
  scripts/hooks/follower-hooks.js
  scripts/mentor/mentor-suggestion-dialog.js
  scripts/utils/ui-utils.js
Due: eslint --fix

Fix browser-native modal regression in character-import-wizard
  scripts/apps/character-import-wizard.js
Due: eslint --fix

Add comprehensive Dialog Pattern Blueprint for AppV2 conversion
  DIALOG_BLUEPRINT.md
Due: prettier --write

Phase 1: Complete AppV2 purification of chargen directory (14/14 Dialog instances)
  scripts/apps/chargen/chargen-backgrounds.js
  scripts/apps/chargen/chargen-class.js
  scripts/apps/chargen/chargen-droid.js
  scripts/apps/chargen/chargen-feats-talents.js
  scripts/apps/chargen/chargen-languages.js
  scripts/apps/chargen/chargen-main.js
  scripts/apps/chargen/chargen-species.js
  scripts/apps/chargen/chargen-templates.js
Due: eslint --fix

Fix ApplicationV2 abstract method violations in Foundry v13
  scripts/apps/base/swse-application.js
  scripts/apps/gm-droid-approval-dashboard.js
  scripts/apps/store/store-main.js
Due: eslint --fix

Fix all 12 INVALID ApplicationV2 subclasses to satisfy Foundry v13 contract
  scripts/apps/character-import-wizard.js
  scripts/apps/chargen/chargen-languages.js
  scripts/apps/chargen/chargen-main.js
  scripts/apps/chargen/chargen-templates.js
  scripts/apps/destiny-spending-dialog.js
  scripts/core/first-run-experience.js
  scripts/gm-suggestions/gm-suggestion-panel.js
  scripts/mentor/mentor-suggestion-dialog.js
  scripts/sheets/v2/npc-sheet.js
  scripts/sheets/v2/vehicle-sheet.js
  scripts/ui/action-palette/action-palette.js
Due: eslint --fix

Fix 9 additional INVALID ApplicationV2 subclasses discovered in re-audit
  scripts/apps/chargen/chargen-backgrounds.js
  scripts/apps/chargen/chargen-droid.js
  scripts/apps/chargen/chargen-feats-talents.js
  scripts/core/hardening-init.js
  scripts/hooks/follower-hooks.js
  scripts/utils/ui-utils.js
Due: eslint --fix

Fix WelcomeDialog rendering contract
  scripts/core/first-run-experience.js
Due: eslint --fix

Fix getHeaderControlsApplicationV2 hook registration argument order
  scripts/hooks/levelup-sheet-hooks.js
  scripts/hooks/suggestion-hooks.js
  scripts/mentor/mentor-reflective-init.js
Due: eslint --fix

fixes
  .claude/settings.local.json
  ALL_EDITED_FILES_SINCE_START.md
  DELIVERY_MANIFEST.txt
  RUN2_BATCH1_HANDOFF.md
  RUN2_EXECUTION_SUMMARY.md
  RUN2_INITIAL_SCAN.md
  RUN2_README.md
  RUN2_SESSION_SUMMARY.md
  RUN2_STATUS.md
  START_HERE_RUN2.md
  scripts/apps/character-import-wizard.js
  scripts/apps/destiny-spending-dialog.js
  scripts/apps/mentor/mentor-suggestion-dialog.js
  templates/apps/character-import-wizard.hbs
  templates/apps/chargen-custom-language.hbs
  templates/apps/destiny-spending-dialog.hbs
  templates/apps/mentor-suggestion-dialog.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Run2.1 Batch 2: Convert 5 chargen + mentor apps to AppV2 + template pattern
  scripts/apps/chargen/chargen-droid.js
  scripts/apps/chargen/chargen-feats-talents.js
  scripts/apps/chargen/chargen-languages.js
  scripts/apps/chargen/chargen-templates.js
  templates/apps/chargen-droid-import.hbs
  templates/apps/chargen-skill-focus.hbs
  templates/apps/chargen-template-selection.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Fix: talent-tree-visualizer.js syntax errors (mismatched braces in dialog/event closures)
  scripts/apps/talent-tree-visualizer.js
Due: eslint --fix

Run2.3: Extract all embedded styles from 21 HBS templates
  styles/apps/swse-templates-consolidated.css
  templates/actors/character/tabs/import-export-tab.hbs
  templates/actors/character/tabs/starship-maneuvers-tab.hbs
  templates/apps/chargen.hbs
  templates/apps/droid-builder.hbs
  templates/apps/gm-debug-panel.hbs
  templates/apps/gm-droid-approval-dashboard.hbs
  templates/apps/homebrew-manager.hbs
  templates/apps/houserules/character-restrictions.hbs
  templates/apps/houserules/houserules-config.hbs
  templates/apps/levelup.hbs
  templates/apps/mentor-chat-dialog.hbs
  templates/apps/mentor-reflective-dialog.hbs
  templates/apps/meta-tuning-config.hbs
  templates/apps/nonheroic-units-browser.hbs
  templates/apps/npc-levelup-entry.hbs
  templates/apps/prestige-roadmap.hbs
  templates/chat/level-up-summary.hbs
  templates/chat/progression-session-summary.hbs
  templates/partials/starship-maneuvers-panel.hbs
Due: node scripts/validate/validate-icon-keys.js

Run2.5: Remove prototype patching from SeededRandom
  scripts/apps/store/review-thread-assembler.js
Due: eslint --fix

Add: Run2 completion summary - all gates passing ✅
  RUN2_COMPLETION_SUMMARY.md
Due: prettier --write

Update: Run2 status - all gates complete
  RUN2_STATUS.md
Due: prettier --write

housekeeping
  docs/ALL_EDITED_FILES_SINCE_START.md
  docs/DIALOG_BLUEPRINT.md
  docs/RUN1_HANDOFF.md
  docs/RUN1_STATUS.md
  docs/RUN2_BATCH1_HANDOFF.md
  docs/RUN2_EXECUTION_SUMMARY.md
  docs/RUN2_INITIAL_SCAN.md
  docs/RUN2_README.md
  docs/RUN2_SESSION_SUMMARY.md
  docs/RUN2_STATUS.md
  docs/START_HERE_RUN2.md
  scripts/ui/action-palette/action-palette.css
Due: prettier --write

Add: ApplicationV2 Structural Safety Layer (CSS Audit Pass A)
  styles/core/appv2-structural-safe.css
  system.json
Due: prettier --write

Add: CSS Audit PASS B & C Reports — Structural Lockdown Complete
  CSS_AUDIT_PASS_B_FINDINGS.md
  CSS_AUDIT_PASS_C_FINDINGS.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
