Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

fix(gm): distinguish an explicitly empty party from an unconfigured one
  scripts/ui/shell/gm/GMCampaignContextService.js
  scripts/ui/shell/gm/utils/gm-party-roster-service.js
Due: eslint --fix

test(gm): enforce Phase 7 final contract closure
  tests/gm-campaign-context-parity.test.mjs
  tests/gm-phase7-correction-pass.test.mjs
  tests/gm-phase7-pre-broadcast-integrity.test.mjs
Due: none

docs(gm): document Phase 7 final contract closure
  docs/audits/gm-datapad-ecosystem-redesign.md
Due: prettier --write

fix(holonet): exactly-once publication sync and persistence failure safety
  scripts/holonet/holonet-engine.js
  scripts/holonet/subsystems/holonet-socket-service.js
Due: eslint --fix

fix(holonet): route Intel->Bulletin delivery through the central publish pipeline
  scripts/holonet/subsystems/holonet-intel-service.js
Due: eslint --fix

test(holonet): enforce Phase 8A exactly-once publication contracts
  tests/gm-holonet-phase8a-exactly-once-publication.test.mjs
Due: none

docs(gm): document Phase 8A exactly-once publication pass
  docs/audits/gm-datapad-ecosystem-redesign.md
Due: prettier --write

fix(holonet): deterministic single-GM authority for socket publish requests (C1)
  scripts/holonet/subsystems/holonet-gm-authority.js
  scripts/holonet/subsystems/holonet-socket-service.js
  scripts/holonet/subsystems/holonews-auto-publisher.js
Due: eslint --fix

fix(holonet): build one canonical publication envelope, reserved fields win (C2)
  scripts/holonet/holonet-engine.js
Due: eslint --fix

test(holonet): correction-pass regressions for C1/C2/C3 multi-GM authority
  tests/gm-holonet-phase8a-exactly-once-publication.test.mjs
Due: none

docs(gm): document Phase 8A independent-review correction pass (C1/C2/C3)
  docs/audits/gm-datapad-ecosystem-redesign.md
Due: prettier --write

fix(holonet): stop copying private Intel data onto published Bulletins
  scripts/holonet/subsystems/holonet-intel-service.js
  scripts/ui/shell/gm/GMCampaignContextService.js
Due: eslint --fix

test(holonet): Intel->Bulletin private-data/provenance regressions (Phase 8B)
  tests/gm-holonet-phase8a-exactly-once-publication.test.mjs
  tests/gm-holonet-phase8b-intel-bulletin-privacy.test.mjs
Due: none

docs(gm): document Phase 8B Intel->Bulletin privacy/provenance audit
  docs/audits/gm-datapad-ecosystem-redesign.md
Due: prettier --write

fix(holonet): commit Bulletin publication + Intel release as one write (C8B-1)
  scripts/holonet/subsystems/holonet-intel-service.js
Due: eslint --fix

test(holonet): combined-commit, provenance, and legacy-remediation regressions
  tests/gm-holonet-phase8b-intel-bulletin-privacy.test.mjs
Due: none

docs(gm): document Phase 8B independent-review correction pass (C8B-1/2/3)
  docs/audits/gm-datapad-ecosystem-redesign.md
Due: prettier --write

fix(holonet): bodyForIntel(public) must never disclose fullBody (C8B-4)
  scripts/holonet/subsystems/holonet-intel-service.js
Due: eslint --fix

test(holonet): public-body fallback chain and fail-closed regressions (C8B-4)
  tests/gm-holonet-phase8b-intel-bulletin-privacy.test.mjs
Due: none

docs(gm): document Phase 8B final public-body safety correction (C8B-4)
  docs/audits/gm-datapad-ecosystem-redesign.md
Due: prettier --write

feat(holonet,gm): Phase 8C shared bulletin draft-handoff authority
  scripts/apps/gm-datapad.js
  scripts/holonet/subsystems/holonet-intel-service.js
  scripts/ui/shell/gm/GMBulletinSurfaceService.js
  scripts/ui/shell/gm/GMCampaignContextService.js
Due: eslint --fix

feat(gm): wire prepare-bulletin-draft and open-source actions
  scripts/ui/shell/gm/controllers/GMBulletinSurfaceController.js
  scripts/ui/shell/gm/controllers/GMFactionRelationshipSurfaceController.js
  scripts/ui/shell/gm/controllers/GMIntelSurfaceController.js
  scripts/ui/shell/gm/controllers/GMJobBoardSurfaceController.js
  scripts/ui/shell/gm/controllers/GMLocationsSurfaceController.js
  scripts/ui/shell/gm/controllers/GMWorkspaceSurfaceController.js
Due: eslint --fix

feat(gm): add prepare-bulletin-draft and open-source buttons
  templates/apps/gm-datapad/surfaces/bulletin/messages-panel.hbs
  templates/apps/gm-datapad/surfaces/factions.hbs
  templates/apps/gm-datapad/surfaces/intel.hbs
  templates/apps/gm-datapad/surfaces/jobs/kanban-and-detail.hbs
  templates/apps/gm-datapad/surfaces/locations.hbs
  templates/apps/gm-datapad/surfaces/workspace.hbs
Due: node scripts/validate/validate-icon-keys.js

test(gm): Phase 8C bulletin draft-handoff regressions (8C-1..8C-13)
  tests/gm-holonet-phase8c-bulletin-handoffs.test.mjs
Due: none

docs(gm): document Phase 8C general bulletin integration (§96-110)
  docs/audits/gm-datapad-ecosystem-redesign.md
Due: prettier --write

fix(gm): C8C-1 Open Source must verify source exists; C8C-3 display resolved source label
  scripts/apps/gm-datapad.js
Due: eslint --fix

fix(gm): C8C-2 conservative Job prefill; await async view builder for C8C-3
  scripts/ui/shell/gm/GMBulletinSurfaceService.js
Due: eslint --fix

feat(gm): C8C-3 render resolved Bulletin source label
  styles/apps/gm-datapad.css
  templates/apps/gm-datapad/surfaces/bulletin/messages-panel.hbs
Due: node scripts/validate/validate-icon-keys.js

docs(gm): correct stale Bulletin-provenance header comment
  scripts/ui/shell/gm/GMCampaignContextService.js
Due: eslint --fix

test(gm): Phase 8C correction-pass regressions (C8C-1..C8C-4)
  tests/gm-holonet-phase8c-bulletin-handoffs.test.mjs
Due: none

docs(gm): document Phase 8C correction pass (§111-118)
  docs/audits/gm-datapad-ecosystem-redesign.md
Due: prettier --write

perf(gm): C8C-5 resolveBulletinSource must not delegate to the full relationship graph
  scripts/ui/shell/gm/GMCampaignContextService.js
Due: eslint --fix

test(gm): C8C-5 spy proof resolveBulletinSource never touches for*()
  tests/gm-holonet-phase8c-bulletin-handoffs.test.mjs
Due: none

docs(gm): document C8C-5 performance correction (§116-119)
  docs/audits/gm-datapad-ecosystem-redesign.md
Due: prettier --write

feat(generation): Phase 8D-1 shared utility layer + draft provenance
  scripts/generation/lib/weighted-random.js
  scripts/generation/provenance.js
Due: eslint --fix

feat(generation): shared random ship-name generator
  scripts/generation/data/ship-name-adjectives.js
  scripts/generation/data/ship-name-nouns.js
  scripts/generation/ship-names/ship-name-generator.js
Due: eslint --fix

feat(generation): objective template schema + tier/difficulty economy
  scripts/generation/objective-economy.js
  scripts/generation/objective-template.js
Due: eslint --fix

feat(generation): NPC concept draft schema + rank/command-tier metadata (addendum)
  scripts/generation/npc-concept.js
  scripts/generation/rank-metadata.js
Due: eslint --fix

feat(generation): SWSE organization metadata + reward estimator/package accounting
  scripts/generation/organization-metadata.js
  scripts/generation/party-capability.js
  scripts/generation/reward-estimator.js
  scripts/generation/reward-package.js
Due: eslint --fix

feat(generation): full Faction draft contract (allies/enemies, doctrine, population, addenda)
  scripts/generation/faction-doctrine-draft.js
  scripts/generation/faction-draft.js
  scripts/generation/faction-relationship-draft.js
  scripts/generation/population-profile.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
