Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Remove superseded shipyard responsive contract
  styles/system/app-responsive-shipyard.css
Due: none

Document asset bay responsive contract
  docs/audits/app-responsive-contracts-phase2.md
Due: prettier --write

Add Holonet messenger responsive contract
  styles/system/app-responsive-holonet.css
Due: none

Load Holonet messenger responsive contract
  scripts/ui/shell/shell-responsive-observer.js
Due: eslint --fix

Document Holonet messenger responsive contract
  docs/audits/app-responsive-contracts-phase2.md
Due: prettier --write

Add Allies responsive contract
  styles/system/app-responsive-allies.css
Due: none

Load Allies responsive contract
  scripts/ui/shell/shell-responsive-observer.js
Due: eslint --fix

Document Allies responsive contract
  docs/audits/app-responsive-contracts-phase2.md
Due: prettier --write

Add upgrade workshop responsive contract
  styles/system/app-responsive-upgrade.css
Due: none

Load upgrade workshop responsive contract
  scripts/ui/shell/shell-responsive-observer.js
Due: eslint --fix

Document upgrade workshop responsive contract
  docs/audits/app-responsive-contracts-phase2.md
Due: prettier --write

Add Home surface responsive contract
  styles/system/app-responsive-home.css
Due: none

Load Home surface responsive contract
  scripts/ui/shell/shell-responsive-observer.js
Due: eslint --fix

Document Home surface responsive contract
  docs/audits/app-responsive-contracts-phase2.md
Due: prettier --write

Add import wizard responsive contracts
  styles/system/app-responsive-import-wizards.css
Due: none

Load import wizard responsive contracts
  scripts/ui/shell/shell-responsive-observer.js
Due: eslint --fix

Add droid import dialog responsive contracts
  styles/system/app-responsive-import-wizards.css
Due: none

Observe droid import dialogs
  scripts/ui/shell/shell-responsive-observer.js
Due: eslint --fix

Document import wizard responsive contracts
  docs/audits/app-responsive-contracts-phase2.md
Due: prettier --write

Add app-specific responsive contracts
  docs/audits/app-responsive-contracts-phase2.md
  scripts/ui/shell/shell-responsive-observer.js
  styles/system/app-responsive-actor-creation-entry.css
  styles/system/app-responsive-allies.css
  styles/system/app-responsive-assets.css
  styles/system/app-responsive-atlas.css
  styles/system/app-responsive-character-sheet.css
  styles/system/app-responsive-contracts.css
  styles/system/app-responsive-force-alchemy.css
  styles/system/app-responsive-galactic-records.css
  styles/system/app-responsive-games.css
  styles/system/app-responsive-gm-holopad.css
  styles/system/app-responsive-holonet.css
  styles/system/app-responsive-home.css
  styles/system/app-responsive-import-wizards.css
  styles/system/app-responsive-store.css
  styles/system/app-responsive-transmission-decryption.css
  styles/system/app-responsive-upgrade.css
  styles/system/app-responsive-workbench.css
  templates/apps/store.html
  templates/apps/store/store.html
Due: eslint --fix, prettier --write

Document ability schema authority
  docs/systems/ABILITY_SCHEMA_AUTHORITY.md
Due: prettier --write

Add ability schema authority check
  tools/check-ability-schema-authority.mjs
Due: none

Align ability schema authority docs
  docs/repo-structure.md
Due: prettier --write

Route damage rolls through canonical combat math
  scripts/combat/rolls/damage.js
Due: eslint --fix

Delegate legacy combat math wrappers to canonical resolver
  scripts/combat/utils/combat-utils.js
Due: eslint --fix

Clarify combat math compatibility wrapper check
  tools/check-combat-math-ssot.mjs
Due: none

Update combat math SSOT closeout docs
  docs/systems/COMBAT_MATH_SSOT.md
Due: prettier --write

Add ability score progression plan builder
  scripts/apps/progression-framework/shell/mutation/ability-score-plan-builder.js
Due: eslint --fix

Wire ability score plan builder into progression finalizer
  scripts/apps/progression-framework/shell/mutation/ability-score-finalizer-patch.js
Due: eslint --fix

Register ability score finalizer patch
  scripts/talents/squad-actions-init.js
Due: eslint --fix

Add class progression plan builder
  scripts/apps/progression-framework/shell/mutation/class-plan-builder.js
Due: eslint --fix

Add feat and talent progression plan builder
  scripts/apps/progression-framework/shell/mutation/feat-talent-plan-builder.js
Due: eslint --fix

Wire feat talent plan builder into finalizer
  scripts/apps/progression-framework/shell/mutation/feat-talent-finalizer-patch.js
Due: eslint --fix

Register feat talent finalizer patch
  scripts/talents/squad-actions-init.js
Due: eslint --fix

Add force progression plan builder
  scripts/apps/progression-framework/shell/mutation/force-plan-builder.js
Due: eslint --fix

Wire force plan builder into finalizer
  scripts/apps/progression-framework/shell/mutation/force-finalizer-patch.js
Due: eslint --fix

Register force finalizer patch
  scripts/talents/squad-actions-init.js
Due: eslint --fix

Add skills and languages progression plan builder
  scripts/apps/progression-framework/shell/mutation/skills-languages-plan-builder.js
Due: eslint --fix

Wire skills languages plan builder into finalizer
  scripts/apps/progression-framework/shell/mutation/skills-languages-finalizer-patch.js
Due: eslint --fix

Register skills languages finalizer patch
  scripts/talents/squad-actions-init.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  node scripts/validate/validate-icon-keys.js: any of: *.hbs
  prettier --write: (any of: *.json) or (any of: *.md)
