Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

Integrate ActionEngine into attack roll flow
  scripts/combat/rolls/enhanced-rolls.js
Due: eslint --fix

Add ActionEngine implementation summary and final deliverables
  ACTIONENGINE_IMPLEMENTATION_SUMMARY.md
Due: prettier --write

Add ActionPolicyController and three-layer architecture (Phase G)
  ACTION_POLICY_UI_INTEGRATION.md
  scripts/engine/combat/action/action-policy.js
Due: eslint --fix, prettier --write

Complete architecture summary: All specifications delivered
  FINAL_SESSION_ARCHITECTURE_COMPLETE.md
Due: prettier --write

Add Action Economy Indicator UI: Visual turn state display (Phase H)
  scripts/engine/combat/action/action-engine.js
  styles/actor-sheets/action-economy-indicator.css
  templates/actors/character/v2/partials/action-economy-indicator.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Add Action Economy Indicator integration guide
  ACTION_ECONOMY_INDICATOR_INTEGRATION.md
Due: prettier --write

Implement UI button binding helpers and patterns (Phase I)
  UI_BUTTON_BINDING_PATTERN.md
  scripts/ui/combat/action-economy-bindings.js
  styles/ui/action-economy-buttons.css
Due: eslint --fix, prettier --write

Final delivery summary: Complete combat architecture delivered
  SESSION_FINAL_DELIVERY.md
Due: prettier --write

Fix action economy degradation logic (CRITICAL)
  scripts/engine/combat/action/action-engine.js
Due: eslint --fix

Add comprehensive action economy verification document
  ACTION_ECONOMY_VERIFICATION.md
Due: prettier --write

Add schema audit and field correction documentation
  SCHEMA_FIELD_CORRECTIONS.md
  SCHEMA_INGESTION_AUDIT.md
Due: prettier --write

Fix critical schema field mismatches (template.json)
  template.json
Due: prettier --write

Add comprehensive code authority audit (Q1-Q9)
  CODE_AUTHORITY_AUDIT.md
Due: prettier --write

fix: unify condition penalty source to derived.damage.conditionPenalty
  index.js
  scripts/combat/rolls/attacks.js
  scripts/combat/utils/combat-utils.js
  scripts/debug/condition-penalty-regression-test.js
  scripts/debug/debug-tools.js
  scripts/engine/rules/modules/core/condition-penalty-rule.js
Due: eslint --fix

feat: add ActionEngine and ActionPolicyController (pure layers)
  scripts/core/settings.js
  scripts/engine/combat/action/action-economy-settings.js
  scripts/engine/combat/action/action-engine-v2.js
  scripts/engine/combat/action/action-policy-controller.js
Due: eslint --fix

fix: correct degradation logic in ActionEngine
  scripts/engine/combat/action/action-engine-v2.js
Due: eslint --fix

feat: implement turn-state persistence layer
  index.js
  scripts/engine/combat/action/action-economy-hooks.js
  scripts/engine/combat/action/action-economy-persistence.js
  scripts/engine/combat/action/action-policy-controller.js
Due: eslint --fix

feat: wire ActionEngine to UI via ActionEconomyBindings
  scripts/ui/combat/action-economy-bindings.js
Due: eslint --fix

feat: add action economy UI styles and templates
  styles/ui/combat-action-economy.css
  templates/ui/combat/action-economy-display.hbs
  templates/ui/combat/combat-action-economy-panel.hbs
Due: node scripts/validate/validate-icon-keys.js

docs: add action economy integration guide
  scripts/ui/combat/action-economy-integration.js
Due: eslint --fix

docs: comprehensive action economy architecture guide
  docs/ACTION_ECONOMY_ARCHITECTURE.md
Due: prettier --write

feat: integrate action economy into all combat sheets
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/npc-combat-sheet.js
  scripts/sheets/v2/npc-sheet.js
  templates/actors/character/tabs/combat-tab.hbs
  templates/actors/npc/v2/npc-combat-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

docs: final integration status report
  docs/ACTION_ECONOMY_INTEGRATION_STATUS.md
Due: prettier --write

docs: PASSIVE remaining implementation plan (state-dependent predicates)
  PASSIVE_REMAINING_ACTION_PLAN.md
Due: prettier --write

Phase 1: Add PASSIVE/STATE schema and predicate library
  scripts/engine/abilities/passive/passive-contract.js
  scripts/engine/abilities/passive/passive-state.js
  scripts/engine/abilities/passive/passive-types.js
  tests/phase-3/passive-state.test.js
Due: eslint --fix

Phase 3: Wire PASSIVE/STATE into defense calculator
  scripts/actors/derived/defense-calculator.js
Due: eslint --fix

Phase 4: Wire PASSIVE/STATE into attack resolution
  scripts/combat/rolls/attacks.js
Due: eslint --fix

Phase 5: Wire PASSIVE/STATE into skill resolution
  scripts/actors/derived/derived-calculator.js
Due: eslint --fix

Phase 6: Add combat engine event hooks for PASSIVE reactivity
  scripts/engine/combat/CombatEngine.js
Due: eslint --fix

Phase 7: Create migration utilities and mapping database
  scripts/migration/passive-state-migration.js
  scripts/migration/predicate-mapping.json
Due: eslint --fix, prettier --write

Phase 9: Bulk migrate 1,310 items to PASSIVE/STATE
  scripts/migration/passive-state-migration.js
Due: eslint --fix

Phase 10: Final validation and production readiness (COMPLETE)
  PASSIVE_STATE_MIGRATION_FINAL_REPORT.md
Due: prettier --write

Migrated pack data: feats.db and talents.db
  packs/feats.db
  packs/talents.db
Due: none

Phase 1: Add duration engine for active effect tracking
  scripts/engine/abilities/active/duration-engine.js
Due: eslint --fix

Phase 2: Implement EFFECT handler in active-adapter
  scripts/engine/abilities/active/active-adapter.js
Due: eslint --fix

Phase 3: Implement MODE handler in active-adapter
  scripts/engine/abilities/active/active-adapter.js
Due: eslint --fix

Phase 4: Add TargetingEngine and EffectResolver for effect application
  scripts/engine/abilities/active/active-adapter.js
  scripts/engine/abilities/active/effect-resolver.js
  scripts/engine/abilities/active/targeting-engine.js
Due: eslint --fix

Phase 5: Complete ReactionEngine with cost validation and activation tracking
  scripts/engine/combat/reactions/reaction-engine.js
Due: eslint --fix

Phase 7: Create ACTIVE migration infrastructure and sample abilities
  packs/sample-active-abilities.db
  scripts/migration/active-ability-mapping.json
  scripts/migration/active-ability-migration.js
Due: eslint --fix, prettier --write

Phase 8: Complete integration testing and final validation
  ACTIVE_IMPLEMENTATION_FINAL_REPORT.md
  tests/phase-5/active-abilities.test.js
Due: eslint --fix, prettier --write
