Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

Fix SchemaAdapters null-sentinel bug found by talent-ability-helpers.js fix
  scripts/utils/schema-adapters.js
  tests/phase-2b-closure-fixes.test.mjs
  tests/schema-adapters-ability-authority.test.mjs
Due: eslint --fix

Strengthen check-ability-schema-authority.mjs to flag new system.abilities reads
  tools/check-ability-schema-authority.mjs
Due: none

Start V2 Math Integrity Freeze: record branch state, ledger skeleton
  docs/audits/v2-math-integrity-authority-ledger.md
Due: prettier --write

Phase 0 audit complete: full mechanical authority map for 13 domains
  docs/audits/v2-math-integrity-authority-ledger.md
Due: prettier --write

Phase 2: Gar'ee golden fixture -- live proofs for 2 confirmed defects
  docs/audits/v2-math-integrity-authority-ledger.md
Due: prettier --write

Math Integrity Freeze fix 1/3: grapple roll formula reads canonical grappleBonus
  scripts/houserules/houserule-grapple.js
  tests/houserule-grapple-authority.test.mjs
Due: eslint --fix

Math Integrity Freeze fix 2/3: flat-footed Reflex strips dodge bonuses too
  scripts/actors/derived/defense-calculator.js
  tests/flat-footed-dodge-bonus-authority.test.mjs
Due: eslint --fix

Math Integrity Freeze fix 3/3: ThresholdEngine agrees with stored Damage Threshold
  scripts/engine/combat/threshold-engine.js
  tests/damage-threshold-authority.test.mjs
Due: eslint --fix

Update ledger: mark first confirmed-fix batch (3/8) as fixed
  docs/audits/v2-math-integrity-authority-ledger.md
Due: prettier --write

Batch 1 certification correction 1/3: fix DT double-count introduced by the first fix
  scripts/engine/combat/threshold-engine.js
  tests/damage-threshold-authority.test.mjs
Due: eslint --fix

Batch 1 certification correction 2/3: remove known-wrong grapple fallback
  scripts/engine/combat/combat-stat-rules.js
  scripts/houserules/houserule-grapple.js
  tests/houserule-grapple-authority.test.mjs
Due: eslint --fix

Batch 1 certification correction 3/3: correct HP wording, resolve open questions, document authority contract requirement
  docs/audits/v2-math-integrity-authority-ledger.md
Due: prettier --write

Reclassify HP domain: Gar'ee's 108 is CERTIFIED CORRECT, not a defect
  docs/audits/v2-math-integrity-authority-ledger.md
  tests/hp-preservation-authority.test.mjs
Due: prettier --write

Fix CI failure: hp-preservation-authority.test.mjs used a sandbox-local absolute path
  tests/hp-preservation-authority.test.mjs
Due: none

Grapple SSOT completion + HP wording precision (Batch 1 round 2)
  docs/audits/v2-math-integrity-authority-ledger.md
  scripts/actors/derived/derived-calculator.js
  scripts/engine/combat/combat-stat-rules.js
  tests/grapple-bonus-ssot-parity.test.mjs
Due: eslint --fix, prettier --write

Grapple rules fidelity + full consumer audit (Batch 1, round 3)
  docs/audits/v2-math-integrity-authority-ledger.md
  scripts/combat/systems/grappling-system.js
  scripts/engine/combat/combat-stat-rules.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  scripts/ui/combat-stats-tooltip.js
  tests/combat-stats-tooltip-grapple-authority.test.mjs
  tests/grapple-bonus-ssot-parity.test.mjs
  tests/grapple-size-modifier-book-values.test.mjs
  tests/houserule-grapple-authority.test.mjs
Due: eslint --fix, prettier --write

Grapple static-modifier composition (Batch 1, round 4)
  docs/audits/v2-math-integrity-authority-ledger.md
  scripts/actors/derived/derived-calculator.js
  scripts/engine/effects/modifiers/ModifierEngine.js
  scripts/engine/progression/backgrounds/background-grant-ledger-builder.js
  scripts/ui/combat-stats-tooltip.js
  tests/grapple-static-modifier-composition.test.mjs
Due: eslint --fix, prettier --write

Grapple stacking correctness across static/contextual boundary (Batch 1, round 5)
  docs/audits/v2-math-integrity-authority-ledger.md
  scripts/combat/systems/grappling-system.js
  tests/grapple-static-modifier-composition.test.mjs
Due: eslint --fix, prettier --write

Round 6: split Grab/Grapple Reflex-vs-opposed-check channels, fix attemptGrab() Reflex authority
  data/feat-catalog.json
  docs/audits/v2-math-integrity-authority-ledger.md
  packs/feat-catalog.db
  packs/feats.db
  scripts/combat/rolls/attacks.js
  scripts/combat/systems/grappling-system.js
  scripts/engine/feats/grapple-feat-actions.js
  scripts/engine/feats/grapple-feat-normalization-hooks.js
  scripts/engine/feats/meta-resource-feat-resolver.js
  scripts/governance/actor-engine/hp-recompute-hooks.js
  tests/attempt-grab-reflex-defense-authority.test.mjs
  tests/grab-grapple-resistance-channel-split.test.mjs
  tests/grapple-static-modifier-composition.test.mjs
Due: eslint --fix, prettier --write

Round 6 follow-up: regenerate packs/feats.db from canonical source
  packs/feats.db
Due: none

Round 7: fix opposed-Grapple ties, bogus grapple-state Reflex penalty, and attack target-defense priority order
  docs/audits/combat-phase-0f-grapple-ion-seam-ledger.json
  docs/audits/v2-math-integrity-authority-ledger.md
  scripts/actors/derived/defense-calculator.js
  scripts/combat/rolls/attacks.js
  scripts/combat/systems/grappling-system.js
  scripts/engine/combat/grapple-state-engine.js
  scripts/engine/combat/grapple-state-query.js
  scripts/engine/feats/grapple-feat-normalization-hooks.js
  scripts/governance/actor-engine/hp-recompute-hooks.js
  tests/attack-target-defense-authority.test.mjs
  tests/grab-back-bare-item-normalization.test.mjs
  tests/grapple-state-defense-effects.test.mjs
  tests/opposed-grapple-tie-authority.test.mjs
Due: eslint --fix, prettier --write

Round 8: implement the missing Grabbed/Grappled attack penalty, unify target-defense authority
  docs/audits/v2-math-integrity-authority-ledger.md
  scripts/combat/rolls/attacks.js
  scripts/engine/combat/grapple-state-engine.js
  scripts/utils/schema-adapters.js
  tests/grapple-state-attack-penalty.test.mjs
  tests/target-defense-shared-authority.test.mjs
Due: eslint --fix, prettier --write

Fix WeaponsEngine's nonexistent ModifierSource.WEAPON and isolate modifier-collection failures
  docs/audits/v2-math-integrity-authority-ledger.md
  scripts/engine/combat/weapons-engine.js
  tests/weapons-engine-modifier-source-authority.test.mjs
Due: eslint --fix, prettier --write

Batch 2A: fix ordinary armor ACP double-count and add Energy Shield active-use math
  docs/audits/v2-math-integrity-authority-ledger.md
  packs/armor-shields.db
  packs/armor.db
  scripts/actors/derived/defense-calculator.js
  scripts/engine/combat/combat-roll-math.js
  scripts/engine/effects/armor-usage-resolver.js
  scripts/engine/effects/modifiers/ModifierEngine.js
  scripts/engine/skills/rules/armor-rule.js
  scripts/engine/suggestion/equipment/scoring/armor-axis-b-engine.js
  scripts/engine/suggestion/equipment/scoring/armor-benefit-simulator.js
  scripts/items/armor-data-resolver.js
  scripts/patches/armor-hydration-defense-hotfix.js
  scripts/rolls/skills.js
  tests/armor-shield-acp-authority.test.mjs
  tests/energy-shield-defense-and-activation-authority.test.mjs
Due: eslint --fix, prettier --write

Batch 2A correction: remove shadow DefenseCalculator, finish Gar'ee golden case, fix advisory shield rules
  docs/audits/v2-math-integrity-authority-ledger.md
  scripts/engine/effects/armor-usage-resolver.js
  scripts/engine/suggestion/equipment/scoring/armor-axis-b-engine.js
  scripts/engine/suggestion/equipment/scoring/armor-benefit-simulator.js
  scripts/patches/armor-hydration-defense-hotfix.js
  tests/armor-axis-b-shield-authority.test.mjs
  tests/armor-hydration-hotfix-shadow-authority-removal.test.mjs
  tests/energy-shield-defense-and-activation-authority.test.mjs
  tests/garee-full-skill-derivation-parity.test.mjs
Due: eslint --fix, prettier --write

Batch 2A correction #2: single equip-state authority, no order dependency
  docs/audits/v2-math-integrity-authority-ledger.md
  scripts/actors/derived/defense-calculator.js
  scripts/engine/effects/armor-usage-resolver.js
  scripts/engine/effects/modifiers/ModifierEngine.js
  scripts/engine/suggestion/equipment/scoring/armor-benefit-simulator.js
  scripts/items/armor-data-resolver.js
  scripts/patches/armor-hydration-defense-hotfix.js
  tests/armor-hydration-hotfix-shadow-authority-removal.test.mjs
  tests/legacy-equip-state-single-pass-authority.test.mjs
Due: eslint --fix, prettier --write

Batch 2B: single weapon branch/family/light/natural authority (Bluebolt)
  docs/audits/v2-math-integrity-authority-ledger.md
  scripts/actors/v2/character-actor.js
  scripts/apps/force-alchemy/force-alchemy-context-resolver.js
  scripts/combat/combat-status.js
  scripts/combat/utils/combat-utils.js
  scripts/dialogs/entity-dialog/context-builder.js
  scripts/engine/combat/CombatEngine.js
  scripts/engine/combat/combat-option-resolver.js
  scripts/engine/combat/combat-stat-rules.js
  scripts/engine/combat/damage-type-rules.js
  scripts/engine/combat/dual-wield-combat-shape-resolver.js
  scripts/engine/combat/features/combat-feature-handlers.js
  scripts/engine/combat/grapple-state-engine.js
  scripts/engine/combat/reactions/reaction-registry.js
  scripts/engine/combat/resolvers/damage-reduction-resolver.js
  scripts/engine/combat/weapons-engine.js
  scripts/engine/feat/scoped-combat-feat-resolver.js
  scripts/engine/feats/core-attack-option-runtime-patches.js
  scripts/engine/inventory/ammo-system.js
  scripts/engine/species/rage-engine.js
  scripts/engine/talent/sith-talent-actions.js
  scripts/items/item-defaults.js
  scripts/items/swse-item-sheet.js
  scripts/items/weapon-branch-resolver.js
  scripts/items/weapon-data-resolver.js
  scripts/items/weapon-range-profile-resolver.js
  scripts/patches/attack-dialog-combat-corrections-hotfix.js
  scripts/patches/combat-ui-behavior-hotfix.js
  scripts/patches/runtime-bugfix-hotfixes-init.js
  scripts/patches/weapon-branch-coherence-hotfix.js
  scripts/rolls/roll-config.js
  scripts/sheets/v2/character-like-sheet.js
  scripts/ui/combat-panel-manager.js
  tests/grapple-state-attack-penalty.test.mjs
  tests/weapon-branch-classification-authority.test.mjs
  tests/weapon-branch-family-schema-authority.test.mjs
Due: eslint --fix, prettier --write

Batch 2B correction: strict write-time schema coherence, six-ability attackAttribute, base/effective light-weapon scope
  docs/audits/v2-math-integrity-authority-ledger.md
  scripts/items/item-defaults.js
  scripts/items/weapon-branch-resolver.js
  tests/weapon-branch-family-schema-authority.test.mjs
Due: eslint --fix, prettier --write

Batch 2B correction #2: separate weapon branch from family (weaponCategory was overloaded with two meanings)
  docs/audits/v2-math-integrity-authority-ledger.md
  scripts/apps/follower-creator.js
  scripts/engine/items/safe-item-factory.js
  scripts/items/item-defaults.js
  scripts/items/swse-item-sheet.js
  scripts/items/weapon-branch-resolver.js
  scripts/items/weapon-data-resolver.js
  scripts/patches/weapon-branch-coherence-hotfix.js
  templates/dialogs/entity/parts/header.hbs
  tests/weapon-branch-family-schema-authority.test.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Batch 2B correction #3: fix template.json weapon defaults and preCreateItem attack-attribute provenance
  docs/audits/v2-math-integrity-authority-ledger.md
  scripts/patches/weapon-branch-coherence-hotfix.js
  template.json
  tests/weapon-branch-family-schema-authority.test.mjs
Due: eslint --fix, prettier --write

Batch 2B final documentation reconciliation: correct stale hotfix JSDoc
  scripts/patches/weapon-branch-coherence-hotfix.js
Due: eslint --fix

Batch 2B: record final scoped certification in the ledger
  docs/audits/v2-math-integrity-authority-ledger.md
Due: prettier --write

Math Integrity Freeze: certify Attack Bonus, fix NPC-flat/Noble Fencing/BAB-patch defects
  docs/audits/v2-math-integrity-authority-ledger.md
  scripts/engine/combat/combat-roll-math.js
  scripts/engine/combat/combat-stat-rules.js
  scripts/patches/attack-dialog-combat-corrections-hotfix.js
  scripts/rolls/roll-config.js
  tests/attack-bonus-math-integrity.test.mjs
Due: eslint --fix, prettier --write

Fix Attack Bonus review blockers: Noble Fencing, dialog/roll parity, NPC-flat scope, quick toggles
  docs/audits/v2-math-integrity-authority-ledger.md
  scripts/combat/rolls/attacks.js
  scripts/engine/combat/combat-roll-math.js
  scripts/engine/combat/combat-stat-rules.js
  scripts/engine/combat/features/combat-feature-handlers.js
  scripts/patches/attack-dialog-combat-corrections-hotfix.js
  scripts/rolls/roll-config.js
  tests/attack-bonus-math-integrity.test.mjs
  tests/phase3-vehicle-attack-formula.test.mjs
  tests/phase4-abstract-crew-and-routing.test.mjs
  tests/phase4-stacked-integration.test.mjs
Due: eslint --fix, prettier --write

Fix Flanking melee-gating and Charge/Flanking typed contribution stacking
  docs/audits/v2-math-integrity-authority-ledger.md
  scripts/combat/rolls/attacks.js
  scripts/engine/effects/modifiers/ModifierTypes.js
  scripts/rolls/roll-config.js
  tests/attack-bonus-math-integrity.test.mjs
Due: eslint --fix, prettier --write

Retype Charge as competence and unify typed attack-modifier stacking
  docs/audits/v2-math-integrity-authority-ledger.md
  scripts/combat/rolls/attacks.js
  scripts/engine/combat/combat-option-resolver.js
  scripts/engine/combat/combat-roll-math.js
  scripts/engine/feats/rebellion-combat-runtime-patches.js
  scripts/engine/feats/relentless-attack-runtime-patches.js
  scripts/rolls/roll-config.js
  tests/attack-bonus-math-integrity.test.mjs
Due: eslint --fix, prettier --write

Wire WeaponsEngine attack.bonus modifiers into the unified stacking pool
  docs/audits/v2-math-integrity-authority-ledger.md
  scripts/engine/combat/combat-roll-math.js
  scripts/engine/combat/combat-stat-rules.js
  scripts/engine/combat/weapons-engine.js
  scripts/engine/effects/modifiers/ModifierTypes.js
  tests/attack-bonus-math-integrity.test.mjs
Due: eslint --fix, prettier --write

Fix lightsaber crystal interpretation to use the generator-native schema
  docs/audits/v2-math-integrity-authority-ledger.md
  scripts/engine/combat/combat-stat-rules.js
  scripts/engine/effects/modifiers/ModifierTypes.js
  tests/attack-bonus-math-integrity.test.mjs
  tests/weapons-engine-modifier-source-authority.test.mjs
Due: eslint --fix, prettier --write

Attack Bonus round 6: GWF proven already-live, Force stacking restored, Heart/Hurikane automated, narration path fixed
  docs/audits/v2-math-integrity-authority-ledger.md
  scripts/actors/v2/character-actor.js
  scripts/combat/rolls/attacks.js
  scripts/engine/combat/combat-roll-math.js
  scripts/engine/combat/combat-stat-rules.js
  scripts/engine/effects/modifiers/ModifierTypes.js
  scripts/engine/feat/scoped-combat-feat-resolver.js
  scripts/items/weapon-branch-resolver.js
  tests/attack-bonus-math-integrity.test.mjs
Due: eslint --fix, prettier --write

Attack Bonus round 7: fix lightsaber-crystal attunement double-count, Heart active-blade requirement, Hurikane Reflex-armor-bonus requirement
  docs/audits/v2-math-integrity-authority-ledger.md
  scripts/engine/combat/combat-stat-rules.js
  tests/attack-bonus-math-integrity.test.mjs
  tests/lightsaber-accessory-attack-provenance-safety.test.mjs
  tests/weapons-engine-modifier-source-authority.test.mjs
Due: eslint --fix, prettier --write
