Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

Phase 3: Port droid splash V2 CSS styling
  styles/progression-framework/steps/intro.css
Due: none

Phase 4: Add droid-v2 boot sequence animation loop
  scripts/apps/progression-framework/steps/intro-step.js
Due: eslint --fix

WIP: Implement shared-engine translation with sourceMode support
  scripts/apps/progression-framework/steps/actor-splash-v2-controller.js
  scripts/apps/progression-framework/steps/droid-splash-v2-controller.js
  scripts/apps/progression-framework/steps/intro-step.js
  templates/apps/progression-framework/steps/intro-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Wire droid-v2 translation into boot sequence animation loop
  scripts/apps/progression-framework/steps/intro-step.js
Due: eslint --fix

Complete shared-engine translation implementation
  scripts/apps/progression-framework/engine/swse-translation-engine.js
  scripts/apps/progression-framework/steps/intro-step.js
Due: eslint --fix

Make sourceMode behaviorally real in shared translation engine
  scripts/apps/progression-framework/engine/swse-translation-engine.js
Due: eslint --fix

PHASE 1: Actor Sheet V2 Shell Transplant
  sheets/v2/character-sheet.js
  styles/sheets/v2-shell-tokens.css
  system.json
  templates/actors/character/v2/character-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

PHASE 1 CLEANUP: Fix active-tab shell styling mismatch
  styles/sheets/v2-shell-tokens.css
Due: none

PHASE 2: Actor Sheet V2 Interior Reskin
  styles/sheets/v2-interior-reskin.css
  system.json
Due: prettier --write

PHASE 3: Surgical Markup Assist for V2 Sheet Fidelity
  styles/sheets/v2-interior-reskin.css
  templates/actors/character/v2/partials/inventory-item-row.hbs
  templates/actors/character/v2/partials/inventory-panel.hbs
  templates/actors/character/v2/partials/notes-panel.hbs
Due: node scripts/validate/validate-icon-keys.js

PHASE 4: Alive Systems — Resource Strip / Identity / Portrait Polish
  styles/sheets/v2-alive-systems.css
  system.json
Due: prettier --write

PHASE 5: Theme Selection / Persistence — Actor Flag Storage
  sheets/v2/character-sheet.js
  styles/sheets/v2-shell-tokens.css
  templates/actors/character/v2/character-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

PHASE 5 UPGRADE: Theme Picker — Chip Button Design with Color Swatches
  sheets/v2/character-sheet.js
  styles/sheets/v2-shell-tokens.css
  templates/actors/character/v2/character-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

PHASE 6: Unified Theme Registry — 14 Sheet-Canonical Themes
  scripts/theme/actor-sheet-theme-registry.js
  sheets/v2/character-sheet.js
  styles/sheets/v2-shell-tokens.css
  templates/actors/character/v2/character-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

PHASE 7: Theme Polish — Grouped Picker, Readability Tuning, Semantic Colors
  scripts/theme/actor-sheet-theme-registry.js
  sheets/v2/character-sheet.js
  styles/sheets/v2-shell-tokens.css
  templates/actors/character/v2/character-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 8: Breathing/Holographic Motion Pass
  styles/sheets/v2-phase8-breathing-animations.css
  system.json
Due: prettier --write

Phase 9: Remaining Motion Coverage
  styles/sheets/v2-phase9-remaining-motion.css
  system.json
Due: prettier --write

Phase 10: Animation Controls with Style Selection
  scripts/theme/actor-sheet-motion-registry.js
  sheets/v2/character-sheet.js
  styles/sheets/v2-motion-picker.css
  styles/sheets/v2-shell-tokens.css
  system.json
  templates/actors/character/v2/character-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

PHASE 1: Progression Shell Datapad Visual Conversion (CSS-Only)
  scripts/apps/progression-framework/shell/progression-shell.js
  styles/progression-framework/progression-shell.css
  templates/apps/progression-framework/progression-shell.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

PHASE 2: Progression Interior Reskin (Token-Based Styling)
  styles/progression-framework/progression-interiors-phase2.css
  styles/progression-framework/progression-shell.css
  styles/progression-framework/steps/species-step.css
Due: none

Phase 3: Shared-theme holographic motion integration
  scripts/apps/progression-framework/shell/progression-shell.js
  styles/progression-framework/progression-shell.css
  templates/apps/progression-framework/progression-shell.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 4: Shell-owned presentation fidelity and enrichment
  scripts/apps/progression-framework/shell/progression-shell.js
  styles/progression-framework/progression-shell.css
  templates/apps/progression-framework/mentor-rail.hbs
  templates/apps/progression-framework/progression-shell.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Phase 5: Step-owned high-fidelity visual enhancements
  styles/progression-framework/progression-interiors-phase2.css
  styles/progression-framework/steps/attribute-step.css
  styles/progression-framework/steps/class-step.css
  styles/progression-framework/steps/feat-step.css
  styles/progression-framework/steps/name-step.css
  styles/progression-framework/steps/skills-step.css
  styles/progression-framework/steps/species-step.css
Due: none

Phase 5.5: Feat Icon Holographic Projection Treatment
  styles/progression-framework/steps/feat-step.css
  templates/apps/progression-framework/steps/feat-work-surface.hbs
Due: node scripts/validate/validate-icon-keys.js

Phase 5 Addendum: Holographic Projection Treatment for Species / Class / Feat Art
  styles/progression-framework/steps/class-step.css
  styles/progression-framework/steps/feat-step.css
  styles/progression-framework/steps/species-step.css
  templates/apps/progression-framework/details-panel/class-details.hbs
  templates/apps/progression-framework/details-panel/species-details.hbs
  templates/apps/progression-framework/steps/species-work-surface.hbs
Due: node scripts/validate/validate-icon-keys.js

Phase 6: Apply visual consistency hardening to step CSS files
  styles/progression-framework/progression-shell.css
  styles/progression-framework/steps/class-step.css
  styles/progression-framework/steps/feat-step.css
  styles/progression-framework/steps/species-step.css
  styles/progression-framework/steps/talent-step.css
Due: none

Phase 7: Talent/Force/Language/Summary Visual Fidelity Pass
  styles/progression-framework/steps/force-power-step.css
  styles/progression-framework/steps/language-step.css
  styles/progression-framework/steps/summary-step.css
  styles/progression-framework/steps/talent-step.css
  templates/apps/progression-framework/steps/force-power-work-surface.hbs
Due: node scripts/validate/validate-icon-keys.js

Phase 8: Implement quantity-based UI for Force Powers
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/force-power-step.js
  styles/progression-framework/steps/force-power-step.css
  templates/apps/progression-framework/details-panel/force-power-details.hbs
  templates/apps/progression-framework/steps/force-power-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Pass 1: Accessibility Hardening — Motion-Safety for Progression Engine
  styles/progression-framework/steps/feat-step.css
  styles/progression-framework/steps/intro.css
Due: none

Pass 2: Progression Engine Tokenization — Feat, Talent, Language Steps
  styles/progression-framework/progression-shell.css
  styles/progression-framework/steps/feat-step.css
  styles/progression-framework/steps/language-step.css
  styles/progression-framework/steps/talent-step.css
Due: none

Pass 3: Starship Maneuver Completion, Species Tokenization, Summary Terminology
  scripts/apps/progression-framework/steps/starship-maneuver-step.js
  styles/progression-framework/steps/species-step.css
  styles/progression-framework/steps/starship-maneuver-step.css
  system.json
  templates/apps/progression-framework/details-panel/starship-maneuver-details.hbs
  templates/apps/progression-framework/steps/summary-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

Pass 3 Perfection: Add starship maneuver work-surface quantity controls (Phase 8 parity)
  templates/apps/progression-framework/steps/starship-maneuver-work-surface.hbs
Due: node scripts/validate/validate-icon-keys.js

Pass 3 Polish: Fix CSS selector coverage and update stale JS docstrings
  scripts/apps/progression-framework/steps/starship-maneuver-step.js
  styles/progression-framework/steps/starship-maneuver-step.css
Due: eslint --fix

Integrate self-hosted Google Fonts and wire into token system
  styles/apps/upgrade-app.css
  styles/core/variables.css
  styles/fonts.css
  styles/mentor.css
  styles/progression-framework/foundation/tokens.css
  system.json
Due: prettier --write

Add font token overrides to live theme selectors
  styles/themes/swse-theme-high-contrast.css
  styles/themes/swse-theme-high-republic.css
  styles/themes/swse-theme-holo.css
  styles/themes/swse-theme-jedi.css
  styles/themes/swse-theme-sand-people.css
  styles/themes/swse-theme-starship.css
Due: none

Implement sheet-level theme authority for fonts (architecture correction)
  scripts/theme/actor-sheet-theme-registry.js
  styles/themes/swse-theme-high-contrast.css
  styles/themes/swse-theme-high-republic.css
  styles/themes/swse-theme-holo.css
  styles/themes/swse-theme-jedi.css
  styles/themes/swse-theme-sand-people.css
  styles/themes/swse-theme-starship.css
Due: eslint --fix

Complete font tokenization: Replace remaining hardcoded fonts with CSS variables
  styles/apps/chargen/chargen-talent-tree.css
  styles/sheets/v2-sheet.css
Due: none

Normalize remaining actor-driven hardcoded fonts to CSS variables
  styles/apps/chargen/chargen.css
  styles/progression-framework/rail-viewport-standards.css
  styles/progression-framework/shell/rails.css
  styles/progression-framework/splash/splash.css
  styles/progression-framework/steps/intro.css
Due: none

Clean up root folder structure: remove shadow duplicates and relocate misplaced files
  ROOT_STRUCTURE_CLEANUP_REPORT.md
  chat/swse-chat.js
  data/source/starship-maneuvers.json
  docs/archive/_deprecated_shadow/apps_progression-framework_shadow/shell/progression-shell.js
  docs/archive/_deprecated_shadow/apps_progression-framework_shadow/steps/background-step.js
  docs/archive/_deprecated_shadow/nested_progression-framework/shell/projection-engine.js
  docs/archive/_deprecated_shadow/nested_progression-framework/steps/feat-step.js
  docs/archive/_deprecated_shadow/nested_progression-framework/steps/skills-step.js
  engine/roll/roll-core.js
  foundryvtt-swse/scripts/governance/actor-engine/actor-engine.js
  foundryvtt-swse/templates/apps/progression-framework/steps/skills-work-surface.hbs
  tools/migrations/migrate-actors-to-progression.py
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write
