Repository docflowGM/foundryvtt-swse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.hbs": ["node scripts/validate/validate-icon-keys.js"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

Add Dejarik AI, update engine/rules/view model, session materializer, and controller (patch 3)
  scripts/games/game-session-materializer.js
  scripts/games/games/dejarik/dejarik-ai.js
  scripts/games/games/dejarik/dejarik-engine.js
  scripts/games/games/dejarik/dejarik-rules.js
  scripts/games/games/dejarik/dejarik-view-model.js
  scripts/games/tests/games-rules-smoke-tests.mjs
  scripts/ui/shell/GamesSurfaceController.js
  templates/shell/partials/games/surface-games-detail.hbs
  templates/shell/partials/surface-games.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Update Hintaro engine, rules, view model, table template, controller, and CSS (patch 4)
  scripts/games/game-session-materializer.js
  scripts/games/games/hintaro/hintaro-engine.js
  scripts/games/games/hintaro/hintaro-rules.js
  scripts/games/games/hintaro/hintaro-view-model.js
  scripts/games/tests/games-rules-smoke-tests.mjs
  scripts/ui/shell/GamesSurfaceController.js
  styles/system/games-surface.css
  templates/shell/partials/games/surface-games-detail.hbs
  templates/shell/partials/games/surface-games-hintaro-table.hbs
  templates/shell/partials/surface-games.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Apply audit findings patch: SVG board geometry, Sabacc/Hintaro/Pazaak fixes, registry defaults
  scripts/games/game-center-registry.js
  scripts/games/games/dejarik/dejarik-engine.js
  scripts/games/games/dejarik/dejarik-view-model.js
  scripts/games/games/hintaro/hintaro-engine.js
  scripts/games/games/pazaak/pazaak-deck.js
  scripts/games/games/sabacc/sabacc-engine.js
  scripts/games/games/sabacc/sabacc-rules.js
  scripts/games/tests/games-rules-smoke-tests.mjs
  scripts/games/wagers/game-credit-escrow-service.js
  styles/system/games-surface.css
  templates/shell/partials/games/surface-games-dejarik-table.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

Apply locked design decisions patch: Dejarik, Hintaro, Sabacc engine/view/template updates
  scripts/games/game-session-materializer.js
  scripts/games/games/dejarik/dejarik-engine.js
  scripts/games/games/dejarik/dejarik-view-model.js
  scripts/games/games/hintaro/hintaro-rules.js
  scripts/games/games/hintaro/hintaro-view-model.js
  scripts/games/games/sabacc/sabacc-engine.js
  scripts/games/games/sabacc/sabacc-view-model.js
  scripts/games/tests/games-rules-smoke-tests.mjs
  scripts/ui/shell/GamesSurfaceController.js
  styles/system/games-surface.css
  templates/shell/partials/games/surface-games-dejarik-table.hbs
  templates/shell/partials/games/surface-games-detail.hbs
  templates/shell/partials/games/surface-games-sabacc-table.hbs
  templates/shell/partials/surface-games.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

.
  scripts/apps/gm-datapad.js
  scripts/holonet/holonet-engine.js
  scripts/holonet/subsystems/holonet-messenger-service.js
  scripts/holonet/subsystems/holonet-notice-center-service.js
  scripts/holonet/subsystems/holonet-socket-service.js
  scripts/holonet/subsystems/messenger-notification-bridge.js
  scripts/sheets/v2/character-sheet.js
  scripts/ui/shell/AlliesSurfaceController.js
  scripts/ui/shell/CustomizationSurfaceAdapter.js
  scripts/ui/shell/GamesSurfaceController.js
  scripts/ui/shell/MessengerSurfaceController.js
  scripts/ui/shell/MessengerSurfaceService.js
  scripts/ui/shell/ProgressionSurfaceAdapter.js
  scripts/ui/shell/SettingsSurfaceController.js
  scripts/ui/shell/SettingsSurfaceService.js
  scripts/ui/shell/ShellHost.js
  scripts/ui/shell/ShellMutationGuard.js
  scripts/ui/shell/ShellRouter.js
  scripts/ui/shell/ShellSurfaceRegistry.js
  scripts/ui/shell/ShellSurfaceState.js
  scripts/ui/shell/ShellUiStatePreserver.js
  scripts/ui/shell/StoreSurfaceController.js
  scripts/ui/shell/WorkbenchSurfaceAdapter.js
  scripts/ui/shell/gm/GMApprovalOperationsService.js
  scripts/ui/shell/gm/controllers/GMApprovalsSurfaceController.js
  scripts/ui/shell/gm/controllers/GMBulletinSurfaceController.js
  scripts/ui/shell/gm/controllers/GMFactionRelationshipSurfaceController.js
  scripts/ui/shell/gm/controllers/GMHealingSurfaceController.js
  scripts/ui/shell/gm/controllers/GMHouseRulesSurfaceController.js
  scripts/ui/shell/gm/controllers/GMJobBoardSurfaceController.js
  scripts/ui/shell/gm/controllers/GMSettingsSurfaceController.js
  scripts/ui/shell/gm/controllers/GMStoreControlSurfaceController.js
  scripts/ui/shell/gm/controllers/GMTradeConsoleSurfaceController.js
  scripts/ui/shell/gm/controllers/GMWorkspaceSurfaceController.js
  scripts/ui/shell/mutate-and-repaint.js
  scripts/ui/shell/request-shell-render.js
  styles/system/messenger-surface.css
  templates/shell/partials/shell-drawer-layer.hbs
  templates/shell/partials/surface-messenger.hbs
  tools/check-shell-mutation-contract.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

.
  scripts/holonet/README.md
  scripts/holonet/holonet-engine.js
  scripts/holonet/index.js
  scripts/holonet/subsystems/holonet-messenger-service.js
  scripts/holonet/subsystems/messenger-maintenance-service.js
  tools/check-messenger-holonet-contract.mjs
Due: eslint --fix, prettier --write

.
  helpers/handlebars/index.js
  scripts/actors/derived/derived-calculator.js
  scripts/actors/v2/base-actor.js
  scripts/actors/v2/character-actor.js
  scripts/combat/utils/combat-actions-mapper.js
  scripts/core/load-templates.js
  scripts/engine/force/force-executor.js
  scripts/governance/actor-engine/actor-engine.js
  scripts/load-templates.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/force-ui.js
  scripts/sheets/v2/context/PostRenderAssertions.js
  scripts/ui/shell/GamesSurfaceController.js
  scripts/ui/shell/ShellMutationGuard.js
  templates/actors/character/v2/partials/force-panel.hbs
  tools/check-runtime-template-preload.mjs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

.
  data/generated/class-feat-list-bindings.json
  packs/combat-actions.db
  packs/ship-combat-actions.db
  scripts/actors/derived/derived-calculator.js
  scripts/apps/chargen.js
  scripts/apps/progression-framework/rollout/legacy-entry-point-manager.js
  scripts/apps/progression-framework/shell/active-step-computer.js
  scripts/apps/progression-framework/steps/attribute-step.js
  scripts/apps/progression-framework/steps/class-step.js
  scripts/apps/progression-framework/steps/class-step.js.bak
  scripts/apps/progression-framework/steps/class-step.js.orig
  scripts/apps/progression-framework/steps/feat-step-pending-entitlements-patch.js
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/apps/progression-framework/steps/talent-step.js
  scripts/apps/swse-levelup-enhanced.js
  scripts/apps/swse-levelup.js
  scripts/data/prerequisite-checker.js
  scripts/engine/progression/feats/class-feat-registry.js
  scripts/engine/progression/feats/feat-grant-entitlement-resolver.js
  scripts/engine/progression/feats/feat-slot-validator.js
  scripts/engine/progression/talents/slot-validator.js
  scripts/engine/progression/talents/talent-tree-membership-authority.js
  scripts/engine/progression/talents/tree-authority.js
  scripts/engine/progression/utils/force-suite-resolution.js
  scripts/registries/talent-registry.js
  scripts/sheets/v2/droid-sheet/listeners.js
  scripts/sheets/v2/npc-combat-sheet.js
  scripts/sheets/v2/vehicle-sheet.js
  scripts/swse-actor.js
  styles/progression-framework/steps/class-step.css
  templates/apps/progression-framework/details-panel/class-details.hbs
  templates/apps/progression-framework/steps/class-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.
  scripts/apps/progression-framework/services/pending-entitlement-service.js
  scripts/apps/progression-framework/shell/active-step-computer.js
  scripts/apps/progression-framework/steps/language-step.js
  scripts/apps/progression-framework/steps/skills-step.js
  scripts/apps/progression-framework/steps/starship-maneuver-step.js
  scripts/engine/progression/engine/maneuver-authority-engine.js
Due: eslint --fix

.
  scripts/apps/progression-framework/chargen-shell.js
  scripts/apps/progression-framework/levelup-shell.js
  scripts/apps/progression-framework/registries/node-descriptor-mapper.js
  scripts/apps/progression-framework/shell/active-step-computer.js
  scripts/apps/progression-framework/shell/invalidation-preview.js
  scripts/apps/progression-framework/shell/progression-reconciler.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/null-step-plugin.js
  scripts/apps/progression-framework/ux/recovery-coordinator.js
  scripts/apps/progression-framework/ux/user-explainability.js
Due: eslint --fix

feat: add Phase 3 droid chassis builder three-rail template
  styles/progression-framework/steps/droid-builder-step.css
  templates/apps/progression-framework/steps/droid-builder-work-surface.hbs
Due: node scripts/validate/validate-icon-keys.js

feat: droid chassis builder phases 1-5 complete
  scripts/apps/progression-framework/steps/droid-builder-step.js
  scripts/apps/progression-framework/steps/droid-builder-view-model.js
  styles/progression-framework/steps/droid-builder-step.css
  templates/apps/progression-framework/steps/droid-builder-work-surface.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

feat: Phase 6 droid chassis builder chargen integration
  scripts/apps/progression-framework/steps/droid-builder-step.js
  scripts/apps/progression-framework/steps/droid-builder-view-model.js
  styles/progression-framework/steps/droid-builder-step.css
  templates/apps/progression-framework/steps/droid-builder-work-surface.hbs
  templates/apps/progression-framework/summary-panel/droid-builder-summary.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

feat: Phase 7-8 droid chassis builder final polish
  design-docs/droid-chassis-builder-hosting.md
  scripts/apps/progression-framework/steps/droid-builder-step.js
  scripts/apps/progression-framework/steps/droid-builder-view-model.js
  styles/progression-framework/steps/droid-builder-step.css
  templates/apps/progression-framework/steps/droid-builder-work-surface.hbs
  templates/apps/progression-framework/summary-panel/droid-builder-summary.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.
  assets/Concept/Shipyard Builder.html
  docs/repo-structure.md
  index.js
  scripts/apps/progression-framework/chargen-shell.js
  scripts/apps/progression-framework/shell/active-step-computer.js
  scripts/apps/progression-framework/steps/droid-builder-adapter.js
  scripts/core/load-templates.js
  scripts/governance/sentinel/v2-comprehensive-audit.js
  scripts/load-templates.js
  scripts/sheets/v2/droid-sheet.js
  scripts/swse-droid.js
  scripts/ui/shell/HomeSurfaceService.js
  styles/sheets/v2-droid-specific.css
  templates/actors/droid/v2/droid-sheet.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.
  index.js
  scripts/apps/vehicle-import-wizard.js
  scripts/core/vehicle-pack-data-loader.js
  scripts/engine/StarshipManeuversEngine.js
  scripts/engine/import/vehicle-import-engine.js
  scripts/governance/sentinel/v2-comprehensive-audit.js
  scripts/load-templates.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/actor-sheet-mode.js
  scripts/sheets/v2/vehicle-sheet.js
  scripts/sheets/v2/vehicle-sheet/context.js
  scripts/sheets/v2/vehicle-sheet/vehicle-context-builder.js
  scripts/sheets/v2/vehicle-sheet/vehicle-rules-adapter.js
  styles/sheets/vehicle-sheet.css
  system.json
  templates/actors/character/v2-concept/character-sheet.hbs
  templates/actors/vehicle/v2/partials/identity-panel.hbs
  templates/actors/vehicle/v2/partials/vehicle-crew-assignment-panel.hbs
  templates/actors/vehicle/v2/partials/vehicle-sheet-content.hbs
  templates/actors/vehicle/v2/partials/vehicle-weapon-mount-panel.hbs
  templates/actors/vehicle/v2/vehicle-sheet.hbs
  templates/apps/vehicle-import-wizard.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.
  scripts/data/prerequisite-checker.js
  scripts/ui/shell/AssetBaySurfaceService.js
  scripts/ui/shell/HomeSurfaceService.js
  scripts/ui/shell/ShellHost.js
  styles/system/shell-host.css
  templates/shell/partials/surface-asset-bay.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

.
  MessengerSurfaceController.js
  messenger-surface.css
  scripts/actors/derived/defense-calculator.js
  scripts/actors/v2/character-actor.js
  scripts/apps/customization/item-customization-workbench.js
  scripts/apps/gm-datapad.js
  scripts/core/compendium-directory-click-repair.js
  scripts/engine/crafting/lightsaber-construction-engine.js
  scripts/engine/inventory/InventoryEngine.js
  scripts/holonet/subsystems/holonet-messenger-service.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/concept-context.js
  scripts/sheets/v2/context/RowTransformers.js
  scripts/sheets/v2/droid-sheet.js
  scripts/sheets/v2/npc-sheet.js
  scripts/sheets/v2/vehicle-sheet.js
  scripts/ui/shell/StoreSurfaceController.js
  scripts/ui/shell/WorkbenchSurfaceAdapter.js
  styles/apps/gm-datapad.css
  styles/apps/item-customization-workbench.css
  styles/sheets/v2-concept-sheet.css
  styles/system/shell-host.css
  styles/system/store-surface.css
  templates/actors/character/v2-concept/partials/tabs/gear-tab.hbs
  templates/apps/customization/item-customization-workbench.hbs
  templates/shell/partials/holopad-frame.hbs
  templates/shell/partials/surface-messenger.hbs
  templates/shell/partials/surface-store.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

.
  assets/icons/credit-symbol.svg
  scripts/apps/customization/customization-bay-app.js
  scripts/apps/store/store-description-resolver.js
  scripts/apps/store/store-filters.js
  scripts/apps/store/store-main.js
  scripts/core/first-run-experience.js
  scripts/core/hardening-init.js
  scripts/engine/registries/force-registry.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/character-sheet/chargen-onboarding.js
  scripts/sheets/v2/droid-sheet.js
  scripts/ui/shell/AssetBaySurfaceService.js
  scripts/ui/shell/CustomizationSurfaceAdapter.js
  scripts/ui/shell/HomeSurfaceService.js
  scripts/ui/shell/SettingsSurfaceService.js
  scripts/ui/shell/ShellHost.js
  scripts/ui/shell/StoreSurfaceController.js
  scripts/ui/shell/StoreSurfaceService.js
  styles/apps/customization-bay.css
  styles/apps/store-card-grid.css
  styles/core/first-run-experience.css
  styles/core/swse-base.css
  styles/system/settings-surface.css
  styles/system/shell-host.css
  system.json
  templates/actors/character/v2/partials/inventory-panel.hbs
  templates/actors/droid/v2/partials/equipment-panel.hbs
  templates/actors/npc/v2/partials/npc-gear-panel.hbs
  templates/apps/customization/customization-bay.hbs
  templates/apps/store/cart-item-v2.hbs
  templates/apps/store/droid-card-v2.hbs
  templates/apps/store/product-card-v2.hbs
  templates/apps/store/purchase-history.hbs
  templates/apps/store/store-card-grid.hbs
  templates/apps/store/store.hbs
  templates/apps/store/vehicle-card-v2.hbs
  templates/dialogs/welcome-dialog.hbs
  templates/shell/partials/surface-settings.hbs
  templates/shell/partials/surface-store.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.
  BETA_HARDENING_REPORT.md
  scripts/holonet/subsystems/holonet-messenger-service.js
  scripts/holonet/subsystems/holonet-socket-service.js
  scripts/ui/shell/MessengerSurfaceController.js
  scripts/ui/shell/gm/GMBulletinSurfaceService.js
  scripts/ui/shell/gm/controllers/GMBulletinSurfaceController.js
  scripts/ui/ui-manager.js
  styles/system/messenger-surface.css
  templates/apps/gm-datapad/surfaces/bulletin/messages-panel.hbs
  templates/apps/theme-picker-dialog.hbs
  templates/shell/partials/surface-messenger.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write

.
  scripts/data/authority/feat-prerequisite-authority.js
  scripts/data/prerequisite-checker.js
  scripts/data/prestige-prerequisites.js
  scripts/data/talent-tree-metadata.js
  scripts/dev/prerequisite-authority-audit.js
  scripts/dev/prerequisite-identity-audit.js
  scripts/engine/abilities/AbilityEngine.js
  scripts/engine/progression/prerequisites/actor-prerequisite-snapshot.js
  scripts/engine/progression/prerequisites/class-prereq-normalizer.js
  scripts/engine/progression/prerequisites/prerequisite-evaluator.js
  scripts/engine/progression/prerequisites/prerequisite-normalizer.js
  scripts/engine/suggestion/ClassSuggestionEngine.js
Due: eslint --fix

Fix download link and update language names
  system.json
Due: prettier --write

Prepare v3.0 release manifest
  system.json
Due: prettier --write

Prepare v3.0.1 release manifest
  system.json
Due: prettier --write

Prepare v3.0.2 release manifest
  system.json
Due: prettier --write

Update actor-prerequisite-snapshot.js
  scripts/engine/progression/prerequisites/actor-prerequisite-snapshot.js
Due: eslint --fix

.
  scripts/actors/derived/derived-calculator.js
  scripts/apps/chargen/chargen-property-accessor.js
  scripts/apps/levelup/levelup-shared.js
  scripts/apps/progression-framework/shell/progression-finalizer.js
  scripts/apps/progression-framework/steps/confirm-step.js
  scripts/apps/progression-framework/steps/summary-step.js
  scripts/apps/progression-framework/steps/talent-step.js
  scripts/data/prerequisite-checker.js
  scripts/engine/HP/HPGeneratorEngine.js
  scripts/engine/interactions/drop-resolution-engine.js
  scripts/engine/progression/talents/talent-tree-membership-authority.js
  scripts/engine/progression/utils/class-resolution.js
  scripts/engine/progression/utils/force-suite-resolution.js
  scripts/sheets/v2/character-sheet.js
  scripts/sheets/v2/context/PanelContextBuilder.js
  scripts/sheets/v2/context/PostRenderAssertions.js
  scripts/sheets/v2/droid-sheet/context-builder.js
  scripts/sheets/v2/droid-sheet/listeners.js
  scripts/sheets/v2/npc-combat-sheet.js
  scripts/sheets/v2/npc-sheet.js
  scripts/sheets/v2/vehicle-sheet.js
  scripts/ui/shell/gm/GMHouseRulesSurfaceService.js
  scripts/ui/shell/gm/controllers/GMHouseRulesSurfaceController.js
  styles/apps/gm-datapad.css
  styles/sheets/v2-npc-specific.css
  styles/system/games-surface.css
  templates/actors/character/v2/partials/feats-panel.hbs
  templates/actors/character/v2/partials/talents-panel.hbs
  templates/actors/npc/v2/npc-sheet.hbs
  templates/actors/vehicle/v2/partials/vehicle-crew-assignment-panel.hbs
  templates/apps/gm-datapad/surfaces/house-rules.hbs
  templates/shell/partials/games/surface-games-pazaak-table.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

.
  scripts/apps/combat/combat-roll-config-dialog.js
  scripts/combat/rolls/enhanced-rolls.js
  scripts/core/settings.js
  scripts/engine/rolls/swse-roll-engine.js
  scripts/sheets/v2/character-sheet.js
  scripts/ui/chat/chat-interaction-bridge.js
  scripts/ui/shell/StoreSurfaceController.js
  scripts/ui/shell/StoreSurfaceService.js
  styles/apps/store-card-grid.css
  styles/sheets/v2-concept-sheet.css
  styles/system/roll-configurator-v2.css
  styles/system/store-surface.css
  templates/actors/character/v2/character-sheet.hbs
  templates/apps/store/store-card-grid.hbs
  templates/chat/holo-roll.hbs
  templates/shell/partials/surface-store.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

.
  scripts/apps/store/store-main.js
  scripts/apps/store/store-shared.js
  scripts/ui/shell/StoreSurfaceController.js
  scripts/ui/shell/StoreSurfaceService.js
  styles/system/store-surface.css
  templates/shell/partials/surface-store.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js

.
  BETA_HARDENING_REPORT.md
  scripts/apps/droid-builder-app.js
  scripts/apps/progression-framework/shell/progression-shell.js
  scripts/apps/progression-framework/steps/class-step.js.bak
  scripts/apps/progression-framework/steps/feat-step.js
  scripts/apps/progression-framework/steps/skills-step.js
  scripts/apps/store/store-checkout.js
  scripts/apps/store/store-shared.js
  scripts/apps/vehicle-modification-app.js
  scripts/engine/store/categorizer.js
  styles/apps/store-card-grid.css
  styles/progression-framework/chargen-stabilization.css
  styles/system/shell-host.css
  templates/apps/progression-framework/steps/feat-work-surface.hbs
  templates/apps/store/store-card-grid.hbs
Due: eslint --fix, node scripts/validate/validate-icon-keys.js, prettier --write
